[2022-02-25 13:29] drmingdrmer commented on #4248
Great!

It seems that a lot of allocations on the heap will be saved with a proper config.

[2022-02-26 01:34] july2993 opened #4249 "enhance database not exist error message"
**Summary**

[code]

verson:
mysql> select version();
+-------------------------------------------------------------------------------------+
| version()                                                                           |
+-------------------------------------------------------------------------------------+
| DatabendQuery v-0.1.0-9a31fe4-simd(1.60.0-nightly-2022-02-24T16:35:27.533355+00:

[2022-02-26 01:49] BohuTANG opened #4250 "num_cpus not logical cpus on AWS EC2"
**Summary**

EC2(c5.4xlarge ) is VCPU, `num_cpus::get()` returns `physical_cpus` not `logical_cpus`.
Instance type `c4.4xlarge` is ok.

[2022-02-26 02:37] Xuanwo commented on #3677
All required work has been done. [opendal](https://github.com/datafuselabs/opendal) will handle all new feature requests. Let's start a new journey!

Thank @dantengsky, for much valuable help!

[2022-02-26 02:37] #3677 closed

[2022-02-26 02:48] #3774 closed

[2022-02-26 03:05] sundy-li commented on #4250
It's because of `cgroup` limit.

https://github.com/seanmonstar/num_cpus/blob/master/src/linux.rs#L125-L150

[2022-02-26 04:10] drmingdrmer commented on #4210
Canceled.

[2022-02-26 04:10] #4210 closed

[2022-02-26 07:07] BohuTANG opened #4253 "`optimize table ontime all` returns `Too many open files (os error 24)`"
**Summary**

Using ontime dataset.

Server log:
[code]

[2022-02-26 07:10] BohuTANG opened #4254 "Many `OpenTelemetry trace error occurred. Exporter jaeger encountered the following error(s): thrift agent failed with message too long`"
**Summary**

Server log level: INFO
Ontime dataset and do some queries: https://databend.rs/learn/lessons/analyze-ontime-with-databend-on-ec2-and-s3

[2022-02-26 07:11] BohuTANG commented on #4254
Looks like the jaeger is not disabled in my release binary.

[2022-02-26 07:20] dantengsky commented on #4254
maybe the default `OTEL_BSP_MAX_EXPORT_BATCH_SIZE` is too large,  or some INFO level tracings should be downgraded to DEBUG level?

 the following env var setting helps in my local dev

`export OTEL_BSP_MAX_EXPORT_BATCH_SIZE=1`

https://opentelemetry-python.readthedocs.io/en/latest/sdk/environment_variables.html#opentelemetry.sdk.environment_variables.OTEL_BSP_MAX_EXPORT_BATCH_SIZE

[2022-02-26 07:41] BohuTANG commented on #4253
Thank you.
This will be a problem if a table have thousands of columns, looks we should do some limits here.

[2022-02-26 07:44] BohuTANG commented on #4254
Thank you @dantengsky for the information, I will deep into it

[2022-02-26 08:24] dantengsky commented on #4253
got it. BTW, does the cache of table meta are warmed up after `optimize table`?

[2022-02-26 08:32] #4247 closed

[2022-02-26 08:38] BohuTANG commented on #4247
The S3_STORAGE_ROOT works:
https://github.com/datafuselabs/databend/blob/06f17d12fd30043dde8610b78b499dae91402fc9/query/src/configs/config_storage.rs#L115-L116

We can use it as tenant prefix now. cc @ZhiHanZ

If the `root` not set, it will be back to the old way:
https://github.com/datafuselabs/databend/blob/06f17d12fd30043dde8610b78b499dae91402fc9/query/src/sessions/session_mgr.rs#L296-L301

[2022-02-26 09:55] BohuTANG commented on #4253
The meta cache is enabled:
[code]

[2022-02-26 10:48] BohuTANG opened #4256 "query_log/bug: scan_byte_cost_ms is 0"
**Summary**

Ontime dataset, query is:
`SELECT DayOfWeek, count(*) AS c FROM ontime WHERE Year >= 2000 AND Year <= 2008 GROUP BY DayOfWeek ORDER BY c DESC`

query_log:
[code]

[2022-02-26 10:55] BohuTANG commented on #4256
Just found that the `scan_byte_cost_ms` metric we do not count it, where the place to add?
[code]

Need your help @Xuanwo

[2022-02-26 11:47] BohuTANG commented on #4254
![image](https://user-images.githubusercontent.com/172204/155841826-2d864c96-95c6-452b-a529-b3b8bcba5d64.png)
If we get a 100+ columns table schema from metasrv, the jaeger maybe unhappy, is it possible change the tracing::instrument from `INFO` to `DEBUG`? cc @drmingdrmer

[2022-02-26 14:19] platoneko opened #4258 "bug: `SELECT number FROM numbers_mt(10) WHERE number > 8 LIMIT 2` returns 0 rows"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

databend v0.6.74-nightly

### What's Wrong?

[code]

### What You Expected?

[code]

### How to Reproduce?

_No response_

### Anything Else?

[code]

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-02-26 14:38] BohuTANG commented on #4258
Good catch！
I guess(haven't test on other engines e.g. Memory or Fuse yet) it's the numbers table bug.

If so, this will be helpful:
https://github.com/datafuselabs/databend/pull/4215

We can c

[2022-02-26 14:55] sundy-li commented on #4258
Limit pushdown should be rejected if filter is Some.

[2022-02-26 14:56] BohuTANG opened #4259 "Change DalContext Arc<RwLock<DalMetrics>> to atomic operation"
**Summary**

For now, every read will do a write lock:
https://github.com/datafuselabs/databend/blob/cd851ac077815b002d31076a8d3488e7b69e9be7/common/dal-context/src/context.rs#L48

Consider remove the rwlock and do atomic operation insides the DalMetrics.

[2022-02-26 15:01] sundy-li opened #4260 "Feature: Make Pipeline work with Chunk instead of Block"
**Summary**

Description for this feature.

Since we already know the schema in Plan stage, so it's useless to have the schema inside the data pipeline.  cc @zhang2014

-   Transformers
-   Source && AsyncSouce
-  Sink && AsyncSink

[2022-02-26 23:41] #4259 closed

[2022-02-27 02:19] sundy-li opened #4263 "Feature: SmallRng instead of StdRng"
**Summary**

Description for this feature.

https://docs.rs/rand/0.5.4/rand/rngs/struct.SmallRng.html

An RNG recommended when small state, cheap initialization and good performance are required

[2022-02-27 03:08] sundy-li opened #4264 "Feature: Simd Selection of column filter"
**Summary**

Description for this feature.

Now filter works with memcpy one by one, we can use `Vec.extend` function to copy a batch of  at most 64 items one time.

https://github.com/datafuselabs/databend/blob/dc058c9d22baa9e61763661f77cd10ec62c87c48/common/datavalues/src/columns/primitive/mod.rs#L187-L204

**Some useful tools:**

- Bitmap's Chunk function:
[code]

-  Function:  `__builtin_ctz`

[2022-02-27 03:41] #4198 closed

[2022-02-27 03:56] PsiACE commented on #4263
/assignme

[2022-02-27 05:13] BohuTANG opened #4265 "Feature: log the full query text when the query error"
**Summary**

SQL from the clickhouse client:
[code]

If a query errors, the server logs like:
[code]

[2022-02-27 06:11] #4258 closed

[2022-02-27 08:28] LiuYuHui commented on #4265
/assignme

[2022-02-27 08:41] BohuTANG opened #4267 "Support `CALL` command"
**Summary**

With `CALL` command, we can do:
* System functions: like `call system$table_history(<db>, <table>)`
* Administrator: like `call admin$create_stage(<tenant_id>, <stage_statement>)`, this will be used by management mode

Tasks:
- [ ]  https://github.com/datafuselabs/databend/issues/4294

## Syntax
[code]
## Admin function
[code]

## System function
[code]

Reference:
[System Functions]

[2022-02-27 08:50] BohuTANG commented on #4080
Hello, How about this flaky test going?
Also welcome someone to take this issue, labeled with `good first issue`.

[2022-02-27 12:42] BohuTANG opened #4268 "Feature: Table Cluster Key"
**Summary**

Goals for reduce the partition scans.
In Fuse engine,  physical data will be stored follow the append order, if one column data is scattered across multiple partitions, the query related to this column will be bad.

`ALTER TABLE t1 CLUSTER BY (column1, column2)`
When the table is re-clustered, new partitions will be created and the physical data will re-partition by `column1` and `col

[2022-02-27 13:12] Xuanwo commented on #4256
Seems fixed by https://github.com/datafuselabs/databend/pull/4262?

[2022-02-27 13:16] BohuTANG commented on #4256
Not yet.
Still not sure where  to count `scan_byte_cost_ms` in the `async fn read`.

[code]

[2022-02-27 13:19] Xuanwo commented on #4256
Ok, I got the problem. The callback was triggered at the end of this read, so we cannot calculate the cost of every read operation. Let me find a solution for it.

[2022-02-27 14:56] wangzhen11aaa commented on #4231
@PsiACE Can we close this issue if done.

[2022-02-27 16:52] #4231 closed

[2022-02-28 04:40] BohuTANG commented on #3428
High Priority Tasks for v0.7 version:

## Query
- [ ] https://github.com/datafuselabs/databend/issues/3586 (@BohuTANG )

## Storage
- [ ] https://github.com/datafuselabs/databend/issues/4243 (@dantengsky )

## OpenDAL (COPY command needs)
- [ ] https://github.com/datafuselabs/opendal/issues/12 (@Xuanwo )
- [ ] https://github.com/datafuselabs/opendal/issues/54  (@Xuanwo )

[2022-02-28 05:24] zhang2014 commented on #4260
Added this to todo, but this may be a low priority task.

[2022-02-28 06:22] sunisdown commented on #2870
/assignme

[2022-02-28 09:33] drmingdrmer opened #4275 "Feature: metactl: dump data from a running metasrv"
`databend-metactl --export --raft-dir <path>` is used to export meta data for backup when the metasrv is closed.
Running this command with a running metasrv just results in a locking error.

New feature request: `databend-metactl --export --port <port>` to export meta data from a running metasrv on local host.

This can be done by calling the grpc API `export`:
https://github.com/datafuselabs/data

[2022-02-28 11:03] #4098 closed, assigned to ClSlaid

[2022-02-28 16:14] #4263 closed

[2022-03-01 01:48] youngsofun commented on #4253
I'm sorry for letting this linger.  begin working on it now.

[2022-03-01 02:41] sundy-li opened #4279 "Feature: Fuse engine trival count query just return the rows"
**Summary**

Description for this feature.

[code]

We don't need to read the data I think.

[2022-03-01 02:46] wubx opened #4280 "Improve the Exception subsystem: Databend-meta Address already in use [2]"
there is two issues about databend-meta  config :
$cat etc/databend-meta.toml
[code]

# first
nc -l 9191

/usr/local/databend/bin/databend-meta --config-file=/usr/local/databend/etc/databend-meta.toml

2022-03-01T00:13:23.910477Z  INFO databend_meta::api::grpc_server: metasrv returned res: Err(tonic::transport::Error(Transport, hyper::Error(Listen, Os { code: 48, kind: AddrInUse, message: "Address

[2022-03-01 04:26] youngsofun commented on #4253
the first question is: do we need this level of parallel IO except `parallel_read_threads`?

I suggest YES:

- suppose in the pipeline, we need 4 IO to catch up with 1 CPU. parallel read 2 partitions and each with 2 columns in parallel is better than 4 partitions and 1 column each, the latter one starts slow (CPU may wait for more time at first) and needs more memory buffer.
- this is not unique t

[2022-03-01 06:48] #4242 closed

[2022-03-01 09:58] dantengsky commented on #4253
Pls correct me if I misunderstand the question

does it mean, should we allow simultaneously reading of several columns? (while blocks are already being read parallelly)

imo, yes.

Before `read_columns_many_async` is introduced, the columns were also read parallelly, or the async tasks of reading columns are buffered to the runtime (by using `stream::buffered(n)`, if recalled correctly).

But the

[2022-03-01 10:03] zhyass opened #4284 "Improvement: refactor the comparison function by using ScalarBinaryExpression"
**Summary**

Refactor the comparison function by using ScalarBinaryExpression

[2022-03-01 10:26] youngsofun commented on #4253
@dantengsky

maybe I missed something,   as far as I can see from the code before read_columns_many_async is introduced, read is async but not parallel,  (the chuck decoding maybe in parallel),  because we had only one reader, which can not be read simultaneously (that is why the parquet API changed),  and I didn't see find like `stream::buffered(n)`,  maybe deleted ?

not a good idea for me at fi

[2022-03-01 10:35] dantengsky commented on #4253
yes, deleted several commits before. one of the version that uses `buffered(n)`

https://github.com/datafuselabs/databend/blob/dc058c9d22baa9e61763661f77cd10ec62c87c48/query/src/storages/fuse/io/block_reader.rs#L117-L119

got it. let's refine it later if necessary.

[2022-03-01 10:38] #4253 closed

[2022-03-02 02:06] sundy-li opened #4290 "Flaky test"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

latest

### What's Wrong?

[code]

### What You Expected?

*

### How to Reproduce?

_No response_

### Anything Else?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-03-02 02:06] sundy-li commented on #4290
https://github.com/datafuselabs/databend/runs/5377553663?check_suite_focus=true#step:3:1279

[2022-03-02 03:19] sundy-li opened #4292 "Feature: Offset/Limit Pushdown for fuse engine"
**Summary**

Description for this feature.

[code]

This SQL has not filters and it just need first 10 rows, so it's a simple and common query.  But it will fetch all partition data now.

[2022-03-02 05:01] PsiACE commented on #4186
https://users.rust-lang.org/t/5-hours-to-compile-macro-what-can-i-do/36508/3

[2022-03-02 06:11] PsiACE commented on #4186
But trigonometric functions were not refactored in v0.6.66.

Need to check if, strings related, and interval functions

[2022-03-02 06:33] Junnplus commented on #3765
Sorry for the late reply. :(

https://github.com/datafuselabs/databend/pull/4099 very useful for me, big thanks! I continue to work on this issue at https://github.com/datafuselabs/databend/pull/4288

[2022-03-02 07:18] flaneur2020 opened #4294 "CALL: Parser for CALL Syntax"
**Tracking Issue**

https://github.com/datafuselabs/databend/issues/4267

[2022-03-02 07:21] flaneur2020 opened #4295 "CALL: Trait for system function"
**Tracking**

https://github.com/datafuselabs/databend/issues/4267

**Summary**

add a trait definition for system functions, allowing add system functions easily.

some requirements:

- allow passing arbitrary arguments
- allows access control with privileges
- allows hide the function if current user do not have permission to this function

[2022-03-02 07:26] Junnplus commented on #4294
/assignme

[2022-03-02 07:31] flaneur2020 opened #4296 "CALL: add system functions which allows track the workload id in k8s for a warehouse"
**Tracking**

https://github.com/datafuselabs/databend/issues/4267

**Summary**

we'd hope track the k8s workload id inside a WarehouseMetadata struct which stores in the metasrv.

the relative system functions may looks like:

- create_warehouse_metadata(tenant_id, name, ...)
- get_warehouse_metadata
- list_warehouse_metadata(tenant_id, )

[2022-03-02 08:06] ZhiHanZ opened #4297 "Feature: async COPY command support for http handler"
**Summary**
COPY command for http handler for now is synchronized call, when we load large dataset into storage, and session expires, the COPY command would be aborted, we need to support asynchronized COPY command in http handler with the same restful interface

[2022-03-02 08:55] Junnplus commented on #3557
@kevinw66 @chenyukang
The last hurdle has been cleared at https://github.com/datafuselabs/databend/pull/4288 , sorry to finish so late. :(

[2022-03-02 11:39] Xuanwo commented on #4256
Should be addressed by https://github.com/datafuselabs/databend/pull/4298

[2022-03-02 12:07] #4080 closed

[2022-03-02 12:08] PsiACE opened #4300 "Improve: keep git history during workflow checkout"
**Summary**

Due to the lack of git history, the release does not have access to contributors.

The solution to this problem is:
- upgrade actions/checkout to v3, and
- refer https://github.com/actions/checkout#usage to ensure that git history is available

Related: #2541

[2022-03-02 12:54] PsiACE opened #4301 "Improve: generate a Rust file to save the credits"
**Summary**

We currently use [cargo-license](https://github.com/onur/cargo-license) to generate [credits table](https://databend.rs/user/sql-statement/system-tables/system-credits).

This solution requires `Cargo.lock`, so it will be lost during the release process. It may be better to generate a hard-coded file directly.

Related: https://github.com/datafuselabs/databend/issues/2541

[2022-03-02 13:09] PsiACE commented on #4300
Of course, considering that checkout also takes time, we can also consider hard-coding. This requires an evaluation of the workflow time spent.

[2022-03-02 13:19] ZhiHanZ opened #4302 "Bug: http handler panic on checking processlist and query_log"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.6.78-nightly

### What's Wrong?

http handler panick when running the following command (assume query cluster up and running)
[code]

error log:
[code]

### What You Expected?

expected output (in mysql handler it works fine)
[code]

### How

[2022-03-02 14:09] sundy-li commented on #4186
v0.6.65-nightly:  `Finished release [optimized + debuginfo] target(s) in 3m 53s`
 [v0.6.78-nightly](https://github.com/datafuselabs/databend/releases/tag/v0.6.78-nightly):  `Finished release [optimized + debuginfo] target(s) in 6m 54s`

Closing because it's better now after we upgrade to new datavalues.

[2022-03-02 14:09] #4186 closed

[2022-03-02 14:50] Xuanwo opened #4303 "bug: Test failed for EOF while parsing a value at line 1 column 0 on macos"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

`main` branch

### What's Wrong?

[code]

### What You Expected?

Stateless test passed

### How to Reproduce?

_No response_

### Anything Else?

https://github.com/datafuselabs/databend/runs/5392390494?check_suite_focus=true

### Are you willi

[2022-03-03 00:13] BohuTANG commented on #4303
Update:
Add the detail error message to the issue and re-run the job.

[2022-03-03 01:07] BohuTANG commented on #4256
https://github.com/datafuselabs/databend/pull/4298#issuecomment-1057557414

[2022-03-03 02:18] BohuTANG opened #4305 "Add session settings to query_log"
**Summary**

query_log event now:
https://github.com/datafuselabs/databend/blob/106af03f982efe05c0d0bd553b15b1205c6cc0a1/query/src/interpreters/interpreter_query_log.rs#L35-L88

Add session settings as string to the event,  it's useful for profiling.

[2022-03-03 03:39] #4256 closed

[2022-03-03 04:37] BohuTANG opened #4308 "Improve the COPY from external location performance"
**Summary**
If we COPY a s3 file and insert into a table, the progresses are:
S1. Read s3 file by blocks from s3 location
S2. Write blocks stream to table t1
S3. Commit

https://github.com/datafuselabs/databend/blob/16e06e414c4680f0d640abada631af89369be877/query/src/interpreters/interpreter_copy.rs#L83-L102

S1 and S2 is in the same thread, looks we can make them in parallel.

[2022-03-03 04:48] ZhiHanZ opened #4309 "Feature: Support to use http handler restful api to fetch process lists given query node"
**Summary**
In trinoDB, they support GET on  /v1/task, which returns
JSON document containing the list of TaskInfo for all tasks.

In databend-query, we could also support it in our http handler through GET /v1/query interface, and return processlists given node.

Alternative:
RPC interface also make sense

[2022-03-03 06:50] ariesdevil opened #4310 "[MetaSrv] Return current leader node when get cluster state"
**Summary**

The current Cluster State interface only return voters and non_voters. We need to add current leader info to return value.

[2022-03-03 06:51] drmingdrmer opened #4311 "Feature: metasrv: add API to return metrics"
Add API to return raft metrics in:
https://github.com/datafuselabs/databend/blob/16e06e414c4680f0d640abada631af89369be877/metasrv/src/api/http_service.rs#L46-L57

The metrics can be retrieved from `HttpService.meta_node.raft.metrics()`

[2022-03-03 07:15] drmingdrmer opened #4312 "Add API to remove a node from metasrv cluster"

[2022-03-03 07:38] #4297 closed

[2022-03-03 07:55] BohuTANG opened #4314 "Add endpoint_url to user stage info for minio or else s3-like location endpoint"

[2022-03-03 08:58] youngsofun commented on #4302
/assignme

[2022-03-03 09:07] Junnplus commented on #4295
/assignme

[2022-03-03 10:40] flaneur2020 commented on #4179
it seems the process hangs at the grpc client `get_kv()` method:

![Screen Shot 2022-03-03 at 6 40 18 PM](https://user-images.githubusercontent.com/129800/156548601-d34977d8-7a86-4697-9656-531556d01a1d.png)

and the default grpc client timeout is 60 seconds

[2022-03-03 10:54] BohuTANG commented on #4179
We can track the metasrv log to see what is said.

[2022-03-03 12:23] #4310 closed

[2022-03-03 12:49] flaneur2020 commented on #4179
after setting the grpc client time out as 1 second, the do_read function also get hangs.

it seems hangs at the make_client routine on getting an instance from the pool:

![Screen Shot 2022-03-03 at 8 46 22 PM](https://user-images.githubusercontent.com/129800/156567476-822a77fb-627e-49fc-b653-33a4987154a6.png)

[2022-03-03 13:53] flaneur2020 commented on #4179
it seems get hangs in the handshake among connecting a grpc channel:
![Screen Shot 2022-03-03 at 9 50 18 PM](https://user-images.githubusercontent.com/129800/156578258-c3b7cefb-e88a-4e28-b546-11e46b1d9f6b.png)

[2022-03-03 14:16] flaneur2020 commented on #4179
as @zhang2014 suggested, we can not safely create tonic channel in a `block_on()`.

this issue might relevant, let's try make the authenticate() method async.
https://github.com/datafuse-extras/msql-srv/pull/21

[2022-03-04 00:44] youngsofun commented on #4309
/assignme

[2022-03-04 05:06] #4179 closed

[2022-03-04 06:27] PsiACE opened #4322 "Feature: Let databend-benchmark support provide reports"
Ability to persist data and compare the results of multiple runs.

Consider providing the ability to compare two different branches/commits.

## report style

- html: https://github.com/benchmark-action/github-action-benchmark
- csv/json: https://github.com/boa-dev/criterion-compare-action/

[2022-03-04 06:40] #4322 closed

[2022-03-04 08:21] wubx opened #4326 "create user can not login"
[code]

The account wubx can't login to Databend.

Maybe relevance https://github.com/datafuselabs/databend/issues/4179

[2022-03-04 08:24] youngsofun commented on #4326
/assignme

[2022-03-04 09:02] LiuYuHui commented on #4311
/assignme

[2022-03-04 09:59] BohuTANG opened #4327 "Flaky test:servers::http::http_query_handlers::test_multi_page"
A flaky test:
[code]

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/4325#issuecomment-1059014010_

[2022-03-04 09:59] #4250 closed

[2022-03-04 14:22] GrapeBaBa commented on #4308
/assignme

[2022-03-04 16:40] BohuTANG commented on #4327
Caused by https://github.com/datafuselabs/databend/pull/4325

[2022-03-04 17:07] #4327 closed

[2022-03-05 01:32] #428 closed

[2022-03-05 01:44] ZhiHanZ opened #4331 "bug: query node cannot find node id during long time running"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.6.80

### What's Wrong?

During query with some stateless queries under high frequency through http handlerlike
[code]
the result could not return with the following error logs, which lasted for about 10 minutes and retry with stateful query

[2022-03-05 03:39] ZhiHanZ opened #4332 "Feature: Add graceful shutdown API for query nodes"
**Summary**
Similar to trino https://trino.io/docs/current/admin/graceful-shutdown.html, which provided a RESTful interface to terminate a query node properly, we should also provide it for more predictable behaviors
Shutdown steps:
1. Once receive shutdown signal, it would not allow to access new coming queries
2. query node would continue to process unfinished plans
3. once all plans get finishe

[2022-03-05 07:17] youngsofun opened #4335 "Warning: error: 1 vulnerability found!"
**Summary**

https://github.com/datafuselabs/databend/runs/5431512096?check_suite_focus=true

[code]

arrow2 issue https://github.com/jorgecarleitao/arrow2/issues/880

[2022-03-05 07:30] youngsofun commented on #4335
we do not use FFI.

need to change some code to upgrade.

[2022-03-05 08:13] BohuTANG commented on #3792
Hello, @BlackSmith96
Any progress for this issue? We add this issue to v0.7(plan to release in the mid of this month).
Thanks.

[2022-03-05 08:42] #4331 closed

[2022-03-05 10:12] #4335 closed

[2022-03-05 10:36] youngsofun opened #4338 "Feature: record parse time，analyze time，execute time in a query_context and query_log"
**Summary**

- more specific
- http handler can use it directly (instead of record them itself)
- may help to find some bugs

[2022-03-05 11:41] ZhiHanZ commented on #4338
in duckDB, profiling time could be parsed as a json file, I think we could also provide some json uri for the profiling graph and shouw uri location in query log.
https://duckdb.org/dev/profiling

[2022-03-05 11:50] BohuTANG commented on #4338
@ZhiHanZ , This will be addressed in our new processor level profiling.

[2022-03-06 00:15] BohuTANG opened #4341 "error creating server listener: Address already in use (os error 98)"
**Summary**

If the clickhouse service already use the port, when we start databend-query, errors message is not good:
[code]

Goal:
Tell the user which port is already in use

[2022-03-06 01:44] #4314 closed

[2022-03-06 02:43] #4079 closed

[2022-03-06 05:41] sundy-li opened #4343 "Bug: don't remove the snaptshot if it's shared to other table"
**Summary**

Description for this feature.

[code]

[2022-03-06 16:33] BlackSmith96 commented on #3792
@BohuTANG Sorry for delay.  I'll create a PR these two days.

[2022-03-06 23:08] BohuTANG commented on #3792
Thank you.

[2022-03-07 03:37] ZhiHanZ opened #4344 "Feature: dynamically configuration updates on tenant and custer id through CALL command"
**Summary**
By dynamic config on tenant and cluster id, it is possible to build a pool of pods serve as prewarm pool for faster startup time

[2022-03-07 04:02] BohuTANG commented on #4344
Which RPC? Could you give an example for the RPC api looks like.

[2022-03-07 04:21] ZhiHanZ commented on #4344
Personally I prefer to wrap all admin settings as an RPC server serving for cluster management issues, similar to the settings in cockroach, they provided similar approach for multi-tenant environment
https://github.com/cockroachdb/cockroach/blob/master/docs/RFCS/20211106_multitenant_cluster_settings.md
https://github.com/cockroachdb/cockroach/pull/74268/files

With the help of admin RPC interface

[2022-03-07 04:29] zhang2014 opened #4345 "integrate fuse table with new processor"

[2022-03-07 05:20] BohuTANG commented on #4344
Does the `call function` like `call admin$tenant_reset('xx', 'yy')` address it?

[2022-03-07 05:22] BohuTANG commented on #4344
The admin settings looks is the global level not the session, so the hard part is that how we know the compute has others body using it now?

[2022-03-07 05:55] sundy-li opened #4347 "bug: Global MetaGrpcClient cause dispatch drop error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

latest

### What's Wrong?

We have a global meta client inside the query process. It's not recommended to have global hyper client.

See more in: https://togithub.com/hyperium/hyper/issues/2112 and related issues about it.

CI ERROR:

[code]

##

[2022-03-07 05:55] ZhiHanZ commented on #4344
It should be a good idea

[2022-03-07 05:56] ZhiHanZ commented on #4344
it should be resolved by upper layer

[2022-03-07 06:10] BohuTANG commented on #4347
cc @ariesdevil

[2022-03-07 07:10] sundy-li opened #4349 "bug: empty blocks group by, range start index 1 out of range for slice of length 0"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

x

### What's Wrong?

[code]

### What You Expected?

x

### How to Reproduce?

_No response_

### Anything Else?

x

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-03-07 08:10] #4349 closed

[2022-03-07 21:39] #4264 closed

[2022-03-08 00:21] #4284 closed

[2022-03-08 01:46] youngsofun opened #4351 "tracking mysql client auth"
- [x] support only mysql_native_password:  databend use double_sha1_password as default when create user, https://github.com/datafuselabs/databend/pull/4352
- [ ] auth_plugin_for_username() current return 'mysql_native_password'.
   - [ ] make in auth_plugin_for_username() in  async, and return error/option, handle it`s error
- [ ] support mysql_clear_password （in progress）
         - [ ]  mysql_c

[2022-03-08 02:10] sundy-li commented on #4351
Great!

[2022-03-08 03:38] wubx commented on #4351
Never used mysql_clear_password. So I don't want it.
mysql_natve_password work is enough.

[2022-03-08 04:03] ZhiHanZ opened #4354 "Feature: add /v1/status uri to show real time tenant, cluster, S3, and latest query endtime status"
**Summary**
It would be nice to have it for management and debugging

[2022-03-08 04:13] #4294 closed

[2022-03-08 05:18] dantengsky opened #4355 "bug: Broken Tracing Sapn"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

[e27c92d](https://github.com/datafuselabs/databend/commit/e27c92d2c6d2706ebaf80b5c97f72bdc1844db8d)

### What's Wrong?

sub spans of 'exec_query' no longer vanished

![2022-03-08-131329_1568x180_scrot](https://user-images.githubusercontent.com/2

[2022-03-08 05:44] ZhiHanZ commented on #4295
I think it could be closed? cc  @Junnplus

[2022-03-08 05:47] Junnplus commented on #4295
@ZhiHanZ I think so. cc @flaneur2020

[2022-03-08 06:41] drmingdrmer commented on #4300
What about periodically building a list of contributors and saving it in a file?

[2022-03-08 07:00] PsiACE commented on #4300
I would like to avoid manual maintenance as much as possible.

[2022-03-08 07:30] #4355 closed

[2022-03-08 07:34] dantengsky opened #4357 "Question: two version of crate Bincode used"
**Summary**

Currently, there are two different versions of crate `bincode` used, shall we pick just one version of them?

one in query:

https://github.com/datafuselabs/databend/blob/45d9bd7cd70afbe1d19f6ba93a78a0950a1d7d03/query/Cargo.toml#L67

the other one in common-io:

https://github.com/datafuselabs/databend/blob/45d9bd7cd70afbe1d19f6ba93a78a0950a1d7d03/common/io/Cargo.toml#L20

[2022-03-08 07:53] sundy-li commented on #4357
Oh, we shall use the latter, we have some modification there.

[2022-03-08 07:55] dantengsky commented on #4357
got it

[2022-03-08 08:39] ZhiHanZ commented on #4354
cc @youngsofun , do you want to take this issue?

[2022-03-08 08:47] BohuTANG opened #4360 "Document reorganization"
**Summary**

Will start the 2-round to refine of the document (and website), this round we will focus on the user case and simple.

New Menu:
`Documentation` `Learn`

Documentation
[code]

Tasks:
- [ ] Add HTTP API to reference
- [ ] Add MinIO to deploy
- [ ] Add java to develop
- [x] Add announcementBar

[2022-03-08 09:08] #4326 closed

[2022-03-08 10:45] flaneur2020 commented on #4354
we can also consider adding a field into the /api/v1/health handler:

https://github.com/datafuselabs/databend/blob/main/query/src/api/http/v1/health.rs#L20

[2022-03-08 10:45] flaneur2020 commented on #4354
we can also consider adding a field into the /api/v1/health handler:

https://github.com/datafuselabs/databend/blob/main/query/src/api/http/v1/health.rs#L20

[2022-03-08 15:26] DCjanus opened #4362 "bug: config overwrite when specify `--config` and any other command line args."
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

git commit ID: a6b2d4db98492ebfa871f277d57616e7f0335110

### What's Wrong?

For example, with [those lines](https://github.com/datafuselabs/databend/blob/a6b2d4db98492ebfa871f277d57616e7f0335110/query/src/bin/databend-query.rs#L37-L49), if we sp

[2022-03-08 16:24] Xuanwo commented on #4300
How about getting that info via GitHub API instead: https://docs.github.com/en/rest/reference/repos#list-repository-contributors

For example:

[code]

[2022-03-08 16:41] PsiACE commented on #4300
Good idea

[2022-03-08 22:11] sundy-li commented on #4248
Addressed in #4353

[2022-03-08 22:11] #4248 closed

[2022-03-09 03:13] sundy-li opened #4364 "Feature: More metrics inside query_log"
**Summary**

Description for this feature.

Query metrics should consider about compressed or not :
[code]

[2022-03-09 04:33] youngsofun commented on #4354
/assingme

[2022-03-09 05:01] youngsofun opened #4368 "cargo audit fail"
Crate:         regex
Version:       1.5.4
Title:         Regexes with large repetitions on empty sub-expressions take a very long time to parse
Date:          2022-03-08
ID:            RUSTSEC-2022-0013
URL:           https://rustsec.org/advisories/RUSTSEC-2022-0013
Solution:      Upgrade to >=1.5.5

[2022-03-09 05:41] youngsofun commented on #4354
cluster_id is directly for from config.
tenant also from config, can only change in for  a session

can wait for they can be update？
maybe we need a global setting/context, instead of construct everything from conf directly

---

 last queried time is ok
 can store it as an atomic in global session_manager (maybe in global setting/context later)
 so /api/v1/health is will not fail or block.

and I

[2022-03-09 06:05] #4368 closed

[2022-03-09 06:27] Junnplus commented on #4201
/assignme

[2022-03-09 08:36] #4295 closed

[2022-03-09 12:02] #4364 closed

[2022-03-09 12:49] dantengsky opened #4371 "Feature: embed more column meta data inside SegmentInfo"
**Summary**

As suggested by @zhang2014 :

It may be necessary/better if we could embed more metadata of columns inside the `SegmentInfo`,

e.g.

[code]

such that

- during the `read plan` phase, after block pruning, more metadata of columns could be baked into `PartInfo`, without touching the data of blocks
- in the subsequent `read` phase, the block readers may
    - extract the data of columns

[2022-03-09 12:57] #4341 closed

[2022-03-09 14:09] sundy-li opened #4374 "Feature: Simd selection in BooleanColumn && StringColumn"
**Summary**

Description for this feature.

Continue #4264

Let's apply simd selection into BooleanColumn && StringColumn.

[2022-03-09 23:40] sundy-li opened #4376 "Feature: switch to nexttest in ci"
**Summary**

Description for this feature.

Refer:  https://nexte.st/book/installing-from-source.html

[2022-03-10 01:02] DCjanus commented on #4362
If someone trying to fix this, feel free to assign yourself.

[2022-03-10 02:12] BohuTANG opened #4377 "test_stateless_cluster: OnQuery Error: Code: 1068, displayText = Cannot join handle from context's runtime, cause: panic."
**Summary**

https://github.com/datafuselabs/databend/runs/5481335834?check_suite_focus=true#step:3:5854
[code]

[2022-03-10 02:13] BohuTANG commented on #4377
Is it related to #4361 ? cc @ariesdevil

[2022-03-10 02:36] BohuTANG commented on #4362
Currently, `Config::load_from_args` and `Config::load_from_toml` are exclusive, for this issue, we should do some merge between them.

[2022-03-10 03:27] Xuanwo opened #4378 "Removing all futures::executor::block_on"
`block_on` is a problem proven insides tokio async context, it's better to remove them all:

- [ ] Remove all block_on in our codebase.
  - [ ] https://github.com/datafuselabs/databend/pull/6930
- [ ] Remove `executor` features from the `futures` crate so that we will not use it anymore

[2022-03-10 03:28] Xuanwo commented on #4378
/assignme

[2022-03-10 03:30] Xuanwo commented on #4378
This issue may be overlap with https://github.com/datafuselabs/databend/pull/4361/, ping @youngsofun for discussion.

[2022-03-10 03:36] LiuYuHui commented on #4374
/assignme

[2022-03-10 04:07] GrapeBaBa commented on #4308
@BohuTANG Since I am not quite familiar with rust threads, have questions about this issue. I feel the source stream items will produced by pipeline executor, it seems already in other threads, right?  The consumer is in current thread?

[2022-03-10 04:36] sundy-li commented on #4308
I think if we transform the Copy Plan into `insert select ` Plan, then the pipeline engine will make it on parallel.

[2022-03-10 05:43] zhang2014 opened #4381 "03_0011_select_from_system_processes test failure in cluster mode"
**Summary**

https://github.com/datafuselabs/databend/pull/4380#issuecomment-1063677490

[2022-03-10 05:47] #4371 closed

[2022-03-10 05:47] #427 closed

[2022-03-10 06:14] ariesdevil commented on #4377
I think this is same as #4347 that tokio runtime poll on a dropped future

[2022-03-10 07:50] light4 opened #4382 "Feature: split databend-query to multiple crates"
**Summary**

Split databend-query to multiple crates has two main benefits:
1. reduce build time
2. easier to maintain

Example: https://github.com/bytecodealliance/wasmtime/tree/main/cranelift

Thoughts?

[2022-03-10 07:55] PsiACE commented on #4376
In my limited experience, it may not currently work properly in databend.

may need wait https://github.com/nextest-rs/nextest/issues/29

[2022-03-10 08:17] BohuTANG opened #4384 "http_api_address -> admin_api_address"

[2022-03-10 08:27] #4296 closed

[2022-03-10 08:29] ZhiHanZ opened #4386 "Feature: management function access control"
**Summary**
For early stage, we should push down management mode flagging on admin level functions

[2022-03-10 10:21] BohuTANG opened #4388 "test_stateless_cluster: 03_0004_select_order_by_cluster failure"
**Summary**

[code]

[2022-03-10 11:20] #4384 closed

[2022-03-10 11:20] #4388 closed

[2022-03-10 11:35] Junnplus opened #4389 "Rename `system$create_warehouse_meta` call function"
Actually, `system$create_warehouse_meta` is not system function, it's admin function for maintenance.
It should not be show to the user if the user check the system functions, like snowflake system functions:
https://docs.snowflake.com/en/sql-reference/functions-system.html

What's your thoughts? @ZhiHanZ @flaneur2020 @Junnplus

_Originally posted by @BohuTANG in https://github.com/datafuselabs/da

[2022-03-10 11:35] Junnplus commented on #4389
/assignme

[2022-03-10 12:50] drmingdrmer commented on #4280
interesting...

[2022-03-10 15:31] Junnplus opened #4392 "SHOW ROLES [ LIKE '<pattern>' ]"

[2022-03-10 15:34] Junnplus commented on #2819
Close this issue for https://github.com/datafuselabs/databend/pull/4194

[2022-03-11 02:06] drmingdrmer opened #4393 "Feature: [metasrv]: add API watch"
**Summary**

A client requests metasrv to create a stream to receive events about a key.

A good reference of watching API is: etcd-v3 watch API: https://etcd.io/docs/v3.2/learning/api/#watch-api

- [ ] Add grpc API to create watch stream to `meta.proto`:
[code]
- [ ] When metasrv receives a `WatchRequest`, it subscribes to a queue for apply events.
- [ ] #4607

[2022-03-11 02:17] drmingdrmer commented on #4393
TODO: split into sub issues

[2022-03-11 03:37] everpcpc commented on #3983
/assignme

[2022-03-11 04:10] GrapeBaBa commented on #4338
@BohuTANG any work need to do for this issue?

[2022-03-11 04:12] GrapeBaBa commented on #4332
/assignme

[2022-03-11 07:25] BohuTANG opened #4395 "[bug][clickhouse]: select count(*) from numbers_mt(1) ATTEMPT_TO_READ_AFTER_EOF"
**Summary**

clickhouse client:
[code]

`select version()`:
[code]

Server log(there is no error):
[code]

Explain:
[code]

Other query is ok.

[2022-03-11 08:07] sundy-li commented on #3983
We have `system.query_log` for query log.

Maybe we can have `system.trace_log` for tracing.

[2022-03-11 08:29] dantengsky opened #4396 "Add more tracing of block pruning"
**Summary**

More tracing for the performance profiling  of block pruning

[2022-03-11 09:19] zhang2014 opened #4398 "Feature: Support CALL RELOAD_CONFIG"
**Summary**

Reload items:
- [ ] Tenant config
- [ ] Cluster config
- [ ] Meta service config
- [ ] clear caches.

CC: @ZhiHanZ

[2022-03-11 10:01] #4396 closed

[2022-03-11 10:31] ZhiHanZ commented on #4398
we shoud also support to reload data access layer with the help of https://github.com/datafuselabs/opendal/issues/140

[2022-03-11 13:56] PsiACE commented on #4301
/assignme

[2022-03-11 13:56] PsiACE commented on #4300
/assignme

[2022-03-11 13:59] PsiACE commented on #3589
Based on the recent ci runs, I think we can close this issue

[2022-03-11 14:06] PsiACE commented on #1274
Now, I can't reproduce this problem and I think we can close it.

[2022-03-11 14:06] #1274 closed

[2022-03-12 00:13] ariesdevil commented on #4347
Continue work on it.

[2022-03-12 01:12] #4392 closed

[2022-03-12 01:43] dantengsky opened #4403 "Consider using dedicated io thread pool"
**Summary**

Use dedicated thread pool to execute IO tasks.

[2022-03-12 04:34] everpcpc commented on #3983
I think trace log which might be rotated periodically is not as closely related to the core database system as query log, and would be a burden to the warehouse itself since it has much more flexibility than query log. Perhaps a logging system outside would be enough and better for it.

[2022-03-12 05:01] BohuTANG opened #4408 "async-trait: use `#[static_future]` instead of boxing a future"
**Summary**

It's not yet merged into the main branch, but I think it's ready to be used: https://github.com/dtolnay/async-trait/pull/189

[2022-03-12 09:59] BohuTANG opened #4411 "Bug: Create table expected column name or constraint definition, found: `title`"
**Summary**

From mysql client:
[code]

Server log:
[code]

[2022-03-12 10:42] sundy-li opened #4413 "Feature: Improve insert into performance"
**Summary**

Description for this feature.

Query:

[code]

The entire SQL goes into SQL parser and expression-executor, because we can have expression inside VALUES, eg:

[code]

To support expressions, this insert SQL works really slow. We can improve the performance by:

1. Use [source_values](https://github.com/datafuselabs/databend/blob/v0.6.26-nightly/common/streams/src/sources/source_values

[2022-03-12 14:30] PsiACE commented on #4408
/assignme

I'd like to try

[2022-03-12 14:31] ygf11 commented on #4413
/assignme

[2022-03-12 17:52] kevinw66 commented on #3557
/assign

[2022-03-13 03:54] GrapeBaBa commented on #4411
/assignme

[2022-03-13 05:59] #4403 closed

[2022-03-13 08:08] GrapeBaBa commented on #4305
/assignme

[2022-03-13 09:02] kevinw66 commented on #3557
@BohuTANG @Junnplus The multiple table rename should support in meta api or I have to call api multiple times?

[2022-03-13 09:12] Junnplus commented on #3557
@kevinw66 I guess they can be non-atomic.

refer to https://clickhouse.com/docs/en/sql-reference/statements/rename/#misc_operations-rename_table

[2022-03-13 09:32] #4411 closed

[2022-03-13 09:36] BohuTANG opened #4426 "Consider remove bendctl"
### Discussed in https://github.com/datafuselabs/databend/discussions/4423

<div type='discussions-op-text'>

<sup>Originally posted by **BohuTANG** March 13, 2022</sup>
bendctl is no used now, and we recommend that use our guideline to deploy Databend:
https://databend.rs/doc/category/deploy

We need redesign the new `bendctl` in the future to meet the needs of on-perm deployment.

cc @ZhiHanZ </

[2022-03-13 10:00] PsiACE commented on #4426
/assignme

[2022-03-13 12:48] #4347 closed

[2022-03-13 14:35] ariesdevil commented on #4377
closed via #4415

[2022-03-13 14:35] #4377 closed

[2022-03-13 15:46] Xuanwo opened #4429 "bug: Use mariadb-client to connect databend-query will results in buggy behavior"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

databend-query built via `07b14ceacef62eb8b5fba1fb8a74abcaee4db0dc`

### What's Wrong?

It seems that the query has been buffered wrongly.

[code]

NOTE: `select * from t` should be time consuming query that will take at least **6s**.

For the f

[2022-03-13 15:54] Xuanwo opened #4430 "bug: Query doesn't support mysql reconnect correctly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

databend-query built with `07b14ceacef62eb8b5fba1fb8a74abcaee4db0dc`

### What's Wrong?

[code]

MySQL sends `Current database: db` but databend seems don't respect it. We need to `use db;` again to go further.

### What You Expected?

mysql cli

[2022-03-13 17:19] Xuanwo commented on #3990
bendctl has been deprecated via https://github.com/datafuselabs/databend/issues/4426, let's close this issue.

[2022-03-13 17:19] #3990 closed

[2022-03-13 17:29] Xuanwo commented on #1080
@drmingdrmer Is this issue still valid?

[2022-03-13 17:30] Xuanwo commented on #938
Based on the discussion at #4426, maybe we need to close this issue?

[2022-03-13 17:30] Xuanwo commented on #1266
Any updates on this issue?

[2022-03-13 17:32] Xuanwo commented on #4376
Wow, wait, `nextest` has native support for skipped tests?

[2022-03-13 17:35] PsiACE commented on #1266
I think our stateful test can be seen as part of the solution to this issue.

[2022-03-13 17:37] Xuanwo commented on #1266
Great, let's close this issue. Please feel free to start a new one to address the not covered issue.

[2022-03-13 17:37] #1266 closed

[2022-03-13 17:46] PsiACE commented on #4376
The problem we are currently experiencing is that an error is reported about `--exact` not being supported, which prevents us from completing the test correctly with nextest.

But in fact, we don't explicitly use the `--exact` option to skip tests.

[2022-03-14 01:47] drmingdrmer commented on #1080
It's done.
Thanks for reminding:D

[2022-03-14 01:47] #1080 closed

[2022-03-14 03:42] PsiACE commented on #2690
arrow2 no longer depends on flatbuffers

[2022-03-14 03:42] #2690 closed

[2022-03-14 05:43] #4426 closed

[2022-03-14 05:55] BohuTANG opened #4435 "Default column to `NOT NULL`"
**Summary**

1. For performance
2. For the user experience: simple to do when creating table
3. If user want null(Assume who knows what's the NULL is), explicit `<column_name> <column_type> [NULL]`

[2022-03-14 05:56] BohuTANG commented on #4435
cc @sundy-li

[2022-03-14 06:32] BohuTANG opened #4436 "Mask storage.s3 `access_key_id` and `secret_access_key`"
**Summary**

[code]

[2022-03-14 06:49] everpcpc commented on #3983
Actually there are already both `system.query_log` and `system.tracing` but only on single instance, we need to aggregate them with loki for later tracing & analysis.

[2022-03-14 06:56] sundy-li commented on #4435
Tasks to do:

- [ ] Support  `<column_name> <column_type> [NULL]` in SQL Parser
- [ ] Fix unit tests && stateless tests after this refactor.

[2022-03-14 13:30] #4398 closed

[2022-03-14 13:30] sundy-li opened #4441 "Feature: CreateTable validation"
**Summary**

Description for this feature.

These all work but are incorrect, can be avoided in `InterpreterCreateTable`.
[code]

[2022-03-14 13:31] BohuTANG commented on #4398
Did it in the databend(PR #4407):
https://github.com/datafuselabs/databend/pull/4407/files#diff-05e190acf915432f50b78d25482d816df331623745159f6e235f255aa4c73516R384

[2022-03-14 14:06] sundy-li opened #4442 "[ci] Stateful tests did not run on StorageType S3"
**Summary**

https://github.com/datafuselabs/databend/blob/aa7223ef386dda92601cf4ddba435aeab9b63776/scripts/ci/ci-run-stateful-tests-standalone-s3.sh#L11-L21

Though we set `STORAGE_TYPE=s3` in env, the deploy scripts start `databend-query` with config, so it will run  on local disk...

[2022-03-14 14:53] wubx commented on #4442
effect me

[2022-03-14 23:08] BohuTANG commented on #4442
After https://github.com/datafuselabs/databend/blob/85878247b295863000134ab569205ae7a9247b08/query/src/sessions/session_mgr.rs#L371 need load from env? cc @zhang2014

[2022-03-15 00:37] BohuTANG commented on #4442
I have check the main branch, it works for me.
For the config load, we first load from the file then try to load from env:
https://github.com/datafuselabs/databend/blob/85878247b295863000134ab569205ae7a9247b08/query/src/bin/databend-query.rs#L38-L51

[2022-03-15 00:41] BohuTANG commented on #4442
Check steps:
1. env
[code]

2. start databend-query
[code]

3. check the config from the server log
[code]

[2022-03-15 00:56] #4442 closed

[2022-03-15 01:18] BohuTANG opened #4443 "Too many `PrefixListKV(PrefixListReq("__fd_clusters/test_tenant/test_cluster/databend_query"))` logs"
**Summary**

test_stateless_cluster:
[code]

[2022-03-15 02:00] zhang2014 commented on #4443
We call PrefixListKV  for each query

[2022-03-15 02:18] BohuTANG commented on #4443
OK

[2022-03-15 02:18] #4443 closed

[2022-03-15 02:23] BohuTANG opened #4445 "Feature: stateless test show the failure test name"
**Summary**

`Having 1 errors! 120 tests passed.                     0 tests skipped.`
We should show the failure test name here, no need to deep into the logs.

[2022-03-15 04:24] BohuTANG opened #4449 "Proposal: Rename storage.disk to storage.fs"
### Discussed in https://github.com/datafuselabs/databend/discussions/4448

<div type='discussions-op-text'>

<sup>Originally posted by **Xuanwo** March 15, 2022</sup>
We are using `storage.disk` to refer to the storage backend provided by local fs.

However, it's incorrect and confusing.

- `disk` often refers to block storage like HDD or SSD. But databend can't work on disk directly. We need a f

[2022-03-15 04:27] Xuanwo commented on #4436
As a best practise, we often mask `access_key_id` and `secret_access_key` to `<redacted>`.

To avoid confusing users, it's better to mask it as `<empty>` if the value is empty.

And we should implement `Debug` manually for a struct that contains credentials to avoid printing them into logs. (Or implement in logger instead)

[2022-03-15 04:32] Xuanwo commented on #4436
Something optional: we can also redact `endpoint` and `bucket` so that the user's bucket will not be leaked publicly. This can prevent the user's bucket from maliciously sending requests to create huge orders.

However, this change could make debugging more complex. Maybe we can enforce redacting `access_key_id` and `secret_access_key`, but leave `bucket` and `endpoint` configurable.

[2022-03-15 04:33] Xuanwo commented on #4449
/assignme

[2022-03-15 05:35] BohuTANG commented on #4436
We have done some works on meta config:
https://github.com/datafuselabs/databend/blob/6a3a7c3d9a8b40dd43978b0abe889b20d75e27b5/query/src/configs/config_meta.rs#L141-L148

[2022-03-15 06:58] #4344 closed

[2022-03-15 07:26] #3983 closed

[2022-03-15 09:43] #4305 closed

[2022-03-15 09:54] PsiACE opened #4457 "Replace common/clickhouse-srv and msql-srv with opensrv-*"
**Summary**

Although opensrv is not yet officially released in 0.1, it already contains all the efforts we have done in common/clickhouse-srv and datafuse-extras/msql-srv.

Let's migrate to it first and then move forward.

[2022-03-15 09:54] PsiACE commented on #4457
/assignme

[2022-03-15 10:22] everpcpc opened #4458 "Feature: separate log file for query log"
**Summary**

We need a separate log file for better aggregating query logs.

[2022-03-15 11:09] #3557 closed

[2022-03-15 11:20] BohuTANG opened #4459 "ALTER TABLE [ IF EXISTS ] <name> RENAME TO <new_table_name>"
**Summary**

After https://github.com/datafuselabs/databend/pull/4425 merged, it's time to add:
[code]

[2022-03-15 11:36] kevinw66 commented on #4459
/assign

[2022-03-15 13:13] #4201 closed, assigned to junnplus

[2022-03-15 13:22] #2818 closed

[2022-03-15 14:08] #4354 closed

[2022-03-15 17:40] junli1026 commented on #3664
@sundy-li maybe we can close this one.

[2022-03-16 00:26] #3664 closed

[2022-03-16 03:12] #4292 closed

[2022-03-16 03:42] youngsofun commented on #4395
`select current_user();` and `select 1` fail too

[2022-03-16 04:02] BohuTANG opened #4465 "Error: OpenTelemetry trace error occurred. Exporter jaeger encountered the following error(s): thrift agent failed with not open"
**Summary**

Databend release binaray, seems we should disable it by default.

[2022-03-16 06:02] #938 closed

[2022-03-16 06:02] #2131 closed

[2022-03-16 06:02] #2359 closed

[2022-03-16 06:02] #2493 closed

[2022-03-16 06:02] #2504 closed

[2022-03-16 06:02] #2539 closed

[2022-03-16 06:02] #2562 closed

[2022-03-16 06:02] #2634 closed

[2022-03-16 06:02] #3113 closed

[2022-03-16 06:02] #3114 closed

[2022-03-16 06:02] #3117 closed

[2022-03-16 06:02] #3351 closed

[2022-03-16 06:02] #3423 closed

[2022-03-16 06:02] #3555 closed

[2022-03-16 06:02] #4177 closed

[2022-03-16 06:23] #4457 closed

[2022-03-16 06:43] everpcpc opened #4467 "Feature: auto rotate old log files"
**Summary**

add config for log retention days

[2022-03-16 06:46] ZhiHanZ commented on #4467
![image](https://user-images.githubusercontent.com/25170437/158532235-6205800c-3ccd-447b-bb7a-229f0a66a617.png)
in a long running meta service, log file occupid 95% storage space, which is worth optimization, I think raft data could also have some optimizations as well? @drmingdrmer

[2022-03-16 07:03] drmingdrmer commented on #4467
I do not get it. What kind of optimization do you mean? 🤔

[2022-03-16 07:04] ZhiHanZ commented on #4467
Here I mean about add some rotation and compression for smaller raft directory size

[2022-03-16 07:14] BohuTANG opened #4468 "I think we can move Marshal&Unmarshal to the databend/common, datavalues is a very common crate, depends on a opensrv is very weird :)"
I think we can move Marshal&Unmarshal to the databend/common, datavalues is a very common crate, depends on a opensrv is very weird :)

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/pull/4464#discussion_r827644872_

[2022-03-16 07:21] drmingdrmer commented on #4467
Should this be done inside metasrv process? I suppose there will be some maintaining script cleaning up logs for both query and metasrv or other processes.

[2022-03-16 07:28] ZhiHanZ commented on #4467
This feature request mainly derived from our discussion in here: https://github.com/datafuselabs/databend/pull/4462/files#r827667010, I think we should run regular maintainence scripts in combine with the effort from meta service and query service.
As an example, etcd provides the following features
1. configure auto-compaction retention (like set compaction for 1 hour)
2. provide snapshot backup

[2022-03-16 07:56] #4458 closed

[2022-03-16 08:05] #4445 closed

[2022-03-16 08:45] PsiACE commented on #4468
/assignme

[2022-03-16 10:28] drmingdrmer commented on #4467
metasrv uses `common_tracing::init_global_tracing()` in which the logs will be rotated the same as https://github.com/datafuselabs/databend/pull/4462/files#r827667010

Have you had a metasrv that does not split log files hourly?

This is about the raft log, which is part of the raft, being stored in `./data/raft` in this case, not the logging log.

Snapshot backup is a little bit out of topic, may

[2022-03-16 10:40] #1434 closed

[2022-03-16 10:40] #2172 closed

[2022-03-16 10:40] #2221 closed

[2022-03-16 10:40] #2247 closed

[2022-03-16 10:40] #2346 closed

[2022-03-16 10:40] #2502 closed

[2022-03-16 10:40] #2512 closed

[2022-03-16 10:40] #2518 closed

[2022-03-16 11:05] zhang2014 opened #4471 "integrate cluster select query with new processor"

[2022-03-17 01:16] BohuTANG opened #4474 "Consider removing management mode"
**Summary**

Because we have `admin$func`, the management mode is no used anymore.
We need more admin procedure to do it.

[2022-03-17 01:16] BohuTANG commented on #4474
cc @flaneur2020 @Junnplus

[2022-03-17 01:43] ZhiHanZ commented on #4474
I think we still need management mode to interact with meta service if no query mode is up.
Possible use cases:
1. Bootstrap tenant info
2. Manage object metadata with permission control

[2022-03-17 02:18] BohuTANG commented on #4474
Ok, but we don't need:
1. `sudo set tenant` statement
2.  Access check:
https://github.com/datafuselabs/databend/blob/76251a1ce74f5cf6efb695f113ff9ea41c71d7e6/query/src/interpreters/access/management_mode_access.rs#L34

[2022-03-17 02:19] #4345 closed

[2022-03-17 02:53] ZhiHanZ commented on #4467
It could be closed, we implemented some sidecar for log rotation :)

[2022-03-17 02:53] #4467 closed

[2022-03-17 05:05] sundy-li commented on #4308
@GrapeBaBa

It's ready to do it now.

We can build pipeline through new processor, [example](https://github.com/datafuselabs/databend/blob/4baf90983bf723bf065cb8b1e87bf020fa0a330b/query/src/storages/fuse/operations/read.rs#L91-L114)

Feel free to contact me if you need any help.

[2022-03-17 06:11] b41sh opened #4476 "Feature: Semi-structured data function parse_json"
**Summary**

Add support Semi-structured Data Function parse_json to produce a VARIANT value

https://docs.snowflake.com/en/sql-reference/functions/parse_json.html

[2022-03-17 08:11] dantengsky opened #4478 "Consider deprecate `parallel_read_threads` setting"
**Summary**

- `parallel_read_threads` could be choosen adaptively , i.e. ` ceil(number_of_blocks / number_cpus) `

[2022-03-17 08:23] dantengsky opened #4479 "Docs for `optimize table` statement"
**Summary**

- document for statement `optimize table`
  - under `databend/docs/doc/03-reference/03-sql/01-ddl/03-table/`
  - and mark it as experimental feature
- original PR (and some descriptions) #3511

[2022-03-17 08:46] BohuTANG commented on #4479
/assignme

[2022-03-17 10:17] chienguo commented on #4441
Can you be more specific about what kinds of validation we can do? Except this unknown table engine here. Thanks.

[2022-03-17 10:18] #4104 closed

[2022-03-17 12:48] BohuTANG opened #4483 "Doc round-3"
**Summary**
Tasks:
- [x] Add more datatime functions doc in common/functions/src/scalars/dates/date.rs#L66
- [x] Add windowfunel function doc and learn
- [x] Better data type example and description
- [x] Add internal named stage copy into
- [x] Add mysql/clickhouse wire protocol to api
- [x] User defined function
- [x] Subquery Operators: [NOT] EXISTS
- [x] Add  [NOT] IN (a, b, c, ...) InList (#3

[2022-03-17 13:08] sundy-li commented on #4441
AFAIK:

1. Unknow engine name.
2. Unknow Engine Properties for a specific engine.

[2022-03-17 13:37] #4478 closed

[2022-03-18 00:54] #2976 closed

[2022-03-18 02:23] #3501 closed

[2022-03-18 02:23] #4267 closed

[2022-03-18 03:37] chienguo commented on #4441
/assign

[2022-03-18 03:48] sundy-li opened #4487 "Feature: ColumnBitmap support"
**Summary**

Description for this feature.

- Support Column Bitmap:  `pub type  BitmapColumn = ObjectColumn<RoaringBitmap>;`,  refer [here](https://github.com/datafuselabs/databend/blob/8173f0a1d4d8c7875f809291106bdb96c6916677/common/datavalues/src/columns/object/mod.rs)
- Use [Roaring-rs](https://github.com/RoaringBitmap/roaring-rs)

[2022-03-18 06:13] PsiACE commented on #4487
/assignme

I want to try

[2022-03-18 06:47] BohuTANG opened #4488 "stage: show stages"
## Summary

[code]

Show all the stage names of a tenant.

[2022-03-18 06:49] BohuTANG opened #4489 "stage: desc stage"
[code]

Describes the properties in a stage (file format, copy, and location)

[2022-03-18 07:18] BohuTANG commented on #4489
Have done in https://github.com/datafuselabs/databend/pull/4437

[2022-03-18 07:18] #4489 closed

[2022-03-18 08:09] BohuTANG opened #4491 "stage: remove stage files"
Removes files from either an external (external cloud storage) or internal stage.
Synatx:
[code]

Where
[code]

[2022-03-18 08:47] BohuTANG opened #4493 "Deploy Databend distributed clusters based on Kubernetes"
**Summary**

How to depoly Databend cluster based on Kubernetes.

[2022-03-18 10:18] #4275 closed

[2022-03-18 11:43] Junnplus opened #4494 "Feature: introduce user options"
**Summary**

In order to separate system management privileges and security object privileges, we can introduce user options.

SQL Syntax:
[code]

Should only be used by the root user.

Reference: https://www.cockroachlabs.com/docs/stable/create-user.html#required-privileges

[2022-03-19 00:52] BohuTANG opened #4498 "Unloading data into stage"
**Summary**

* Unloading into a Databend Internal Stage
* Unloading into a Databend External Stage

[code]

Reference:
https://docs.snowflake.com/en/user-guide-data-unload.html

[2022-03-19 00:57] BohuTANG commented on #4498
Seems we need a Input and Output Format crate with write&read trait? Now, the csv/parquet only has read,  cc @sundy-li

[2022-03-19 00:58] BohuTANG commented on #4498
For parquet Input/Output format, fuse engine can re-use it too.

[2022-03-19 01:07] BohuTANG opened #4499 "streaming_load: Failed to read a compressed parquet file. Use the cargo feature "io_parquet_compression" to read compressed parquet files"
**Summary**

### Release
curl -LJO https://github.com/datafuselabs/databend/releases/download/v0.6.95-nightly/databend-v0.6.95-nightly-x86_64-unknown-linux-gnu.tar.gz

### Parquet
https://datafuse-1253727613.cos.ap-hongkong.myqcloud.com/data/books.parquet

Export by clickhouse:
[code]

### How to reproduce(Parquet)
https://databend-git-fork-bohutang-doc-parquet-databend.vercel.app/doc/load-data/lo

[2022-03-19 01:40] BohuTANG commented on #4499
Should enable the io_parquet_compression feature:

`arrow = { package = "arrow2", git = "https://github.com/datafuse-extras/arrow2", default-features = false, features = ["io_parquet", "io_parquet_compression"], rev = "b0774c8" }`

[2022-03-19 02:21] chienguo commented on #4441
I created a PR https://github.com/datafuselabs/databend/pull/4495, tring to add this feature.

[2022-03-19 08:09] BohuTANG commented on #4499
Fixed in #4500

[2022-03-19 08:09] #4499 closed

[2022-03-19 09:27] #763 closed

[2022-03-19 09:41] BohuTANG commented on #756
Ready to close?

[2022-03-19 09:42] #1081 closed

[2022-03-19 09:42] #1010 closed

[2022-03-19 09:43] #1359 closed

[2022-03-19 09:44] #1249 closed

[2022-03-19 09:44] #1144 closed

[2022-03-19 11:20] #4249 closed

[2022-03-19 13:16] #756 closed

[2022-03-19 19:45] dantengsky opened #4507 "refine trivial count optimization"
**Summary**

After PR #4307, statements like `select count(1) from t` no longer touch the underlying data blocks of table `t`, but at least, for fuse engine, segments files still need to be loaded during counting.

It would be better if accessing segments files could be avoided as well since the fuse table has table-level statistics which contain the exact number of rows. (in some cases, when segm

[2022-03-19 23:43] #4441 closed

[2022-03-20 03:44] wubx opened #4510 "The develop demo lost : create if not exists book_db"
https://databend.rs/doc/develop/golang

https://databend.rs/doc/develop/python

expect:
add : create if not exists book_db;

[2022-03-20 04:00] Milittle commented on #4510
I put some simple impl, pls help me review it.
https://goplay.tools/snippet/zSsN8tQMmBd

[2022-03-20 04:04] BohuTANG commented on #4510
@Milittle Thank you, welcome the PR

[2022-03-20 04:27] Milittle commented on #4510
Okay, I will pull new one. :)

[2022-03-20 04:46] Milittle commented on #4510
https://github.com/datafuselabs/databend/pull/4512
pr is here

[2022-03-20 04:51] #4510 closed

[2022-03-20 06:02] wubx opened #4513 "Every day release add support centos"
add support centos binary databend

https://github.com/datafuselabs/databend/releases

[2022-03-20 08:23] #4507 closed

[2022-03-20 14:26] LiuYuHui commented on #4374
StringColumn still needs to apply simd selection, I will send a PR tomorrow.

[2022-03-20 14:49] Milittle opened #4516 "For docs: develop python code Snippets has some problem with create database book_db"
**Summary**
**For docs: develop python code Snippets has some problem with create database book_db**

[2022-03-21 00:40] #4516 closed

[2022-03-21 00:41] BohuTANG commented on #4513
Also redhat release to the nightly.

[2022-03-21 03:02] kevinw66 commented on #4459
Sorry, I have a question.
Should we translate to rename table entity like `statement` or `plan` in a step.
Or we copy the code from `rename table interpreter` to `alter table interpreter`?

[2022-03-21 03:17] BohuTANG commented on #4459
I think we can rewrite the `ALTER TABLE [ IF EXISTS ] <name> RENAME TO <new_table_name>` to rename plan and interpreter.

[2022-03-21 03:22] BohuTANG commented on #4459
Translate the `ALTER TABLe RENAME TO` to `PlanNode::RenameTable` here:
https://github.com/datafuselabs/databend/blob/3b21104535dc96344176bf714888472f8418274a/query/src/sql/statements/statement_rename_table.rs#L38-L54

[2022-03-21 03:37] kevinw66 commented on #4459
@Junnplus Should we add `if exists` check on meta api ?

[2022-03-21 03:42] dantengsky opened #4518 "Consider populates meta caches during append data to fuse table"
**Summary**

pros:

 better performance of accessing the fresh data

cons:

  may evict cache items unnecessarily

[2022-03-21 03:59] kevinw66 commented on #4459
I'll try to add the check.

[2022-03-21 05:20] BohuTANG opened #4521 "Cache: Query result cache"
**Summary**

## Background

For a read, the main flow is:
1. Get the source plan: file name(partition file)
2. Read the files by file name  which on object storage(like AWS S3).

With the query result cache, we can do:
* Step1. Parse the query, and calculate the fingerprint: `query_id`
* Step2. Get the source plan(`read_plan`), and calculate the fingerprint: `source_plan_id`
* Step3. Check the cac

[2022-03-21 06:55] #830 closed

[2022-03-21 07:48] dantengsky opened #4523 "Refine the implementation of fuse table optimize"
**Summary**

Currently, the impl of table optimization may accumulate too much memory unnecessarily. Seems that some intermediate allocations of `Vector`s could be  avoided by using streams.

[2022-03-21 08:32] #4493 closed

[2022-03-21 10:17] BohuTANG opened #4527 "Feature: Support JSON file format for the COPY command"
**Summary**

Databend supports `CSV` and `PARQUET` file format to the copy, add `JSON` file, then we can load nginx log(json) to the databend.

[2022-03-21 12:13] LiuYuHui commented on #4488
/assignme

[2022-03-21 12:14] Junnplus opened #4529 "Feature: Add admin$bootstrap_tenant procedure for tenant management"
**Summary**

Add `admin$bootstrap_tenant` procedure for tenant management.

SQL Syntax:
[code]
- Create a role `account_admin` with the all privilege for the tenant.
- Create a user for the tenant.
- Grant the `account_admin` role to the user.

[2022-03-22 00:40] BohuTANG opened #4531 "Add `size_limit` for Parquet file"
**Summary**

We support the `size_limit` for csv file read for COPY command, also need to support `size_limit` for parquet file.

[2022-03-22 01:43] BohuTANG commented on #4465
From @dantengsky

maybe the default `OTEL_BSP_MAX_EXPORT_BATCH_SIZE` is too large,  or some INFO level tracings should be downgraded to DEBUG level?

 the following env var setting helps in my local dev

`export OTEL_BSP_MAX_EXPORT_BATCH_SIZE=1`

https://opentelemetry-python.readthedocs.io/en/latest/sdk/environment_variables.html#opentelemetry.sdk.environment_variables.OTEL_BSP_MAX_EXPORT_BATCH_SI

[2022-03-22 05:37] GrapeBaBa commented on #4308
@sundy-li Got it.

[2022-03-22 06:34] dantengsky commented on #4518
addressed by PR #4519

[2022-03-22 06:34] #4518 closed

[2022-03-22 07:05] #4529 closed

[2022-03-22 07:07] RinChanNOWWW commented on #4436
/assignme

[2022-03-22 07:31] RinChanNOWWW commented on #4436
If redacting `bucket` and `enpoint` can be configured, for example, configured by `hide_bucket` and `hide_endpoint`, should `hide_bucket` and `hide_endpoint` be shown in the table `system.configs`?

[2022-03-22 07:46] BohuTANG commented on #4436
I think we can only mask them, like `*****[XXX]`, and keep the 3-byte suffix for verify.

[2022-03-22 07:49] BohuTANG commented on #4436
BTW, `system.configs` only accessed by the root user, we mask part of them to avoid copy out.

[2022-03-22 08:48] sundy-li commented on #3100
It's ok now after datavalues2 merged.
[code]

[2022-03-22 08:48] #3100 closed

[2022-03-22 09:05] ygf11 opened #4539 "Feature: Avoid string clone in `QueryContextShared.get_query_str`"
**Summary**

Sql may be very long, such as `insert into` with many rows as values,

We can wrap `String` as `Arc<String>` to avoid string clone here.

https://github.com/datafuselabs/databend/blob/7597424ad08213f8d019a544e73b45691627b0f4/query/src/sessions/query_ctx_shared.rs#L69

https://github.com/datafuselabs/databend/blob/7597424ad08213f8d019a544e73b45691627b0f4/query/src/sessions/query_ctx_sh

[2022-03-22 11:16] #4459 closed

[2022-03-22 12:14] BohuTANG opened #4543 "Feature: Support `INSERT INTO ... JSONEachRow` statement"
### Summary

If we support this statement , databend can be as one of the Vector sinker as the ClickHouse:
https://github.com/vectordotdev/vector/blob/d9161058de0ed9918c323b877f74d9a32b2f17b4/src/sinks/clickhouse.rs#L190-L200

Configuration:
https://vector.dev/docs/reference/configuration/sinks/clickhouse/

### Tasks

- [x] Transform the JSON array to the data block internal in the REST using [arr

[2022-03-22 12:31] BohuTANG commented on #4539
If a sql larger than 10K, we can truncate it?
I think the large case almost is insert with values.

[2022-03-22 13:51] ygf11 commented on #4539
I think the large case almost is insert with values.

Yes, it is insert with values.

I'm doing #4497. We can get `Values-String` from two source:
1. From `Vec<Vec<Expr>>`
2. `QueryContextShared.get_query_str()`

To avoid extra `clone` or `traverse` here , the `second` can be a workable choice if we do not have a better idea.

[2022-03-22 14:28] sundy-li commented on #4539
We need some ugly lifetime mark here, but it's needed.

[2022-03-22 14:43] BohuTANG commented on #4539
@sundy-li
Looks good.
Large values is like a csv/parquet/json stream, and only allow from http handler.

[2022-03-22 14:44] #4436 closed

[2022-03-23 02:15] #4513 closed

[2022-03-23 02:16] ZhiHanZ commented on #4513
Adopting musl binary could run on any linux platform

[2022-03-23 05:11] ZhiHanZ opened #4546 "Feature: reload tls configurations during reload call"
**Summary**
To enhance multi-tenant security, it requires to reload per tenant based tls configurations during CALL reload command
(https://github.com/datafuselabs/databend/blob/fda08c2f3a8da2a697e1df6e11b92010fa240d16/query/src/sessions/session_mgr.rs#L398)

[2022-03-23 12:45] #4476 closed

[2022-03-24 03:35] BohuTANG opened #4555 "bug: `COPY INTO ` response status read rows double counted"
**Summary**

After copy:
[code]

The actual row is:
[code]

[2022-03-24 04:30] youngsofun opened #4557 "Feature: a way to run init command which write to meta, from only one query-node"
**Summary**

e.g.

1. init SQLs in config
2. internal usage（not limited to SQL）:
     3.  suppose we want to create root or change the password of root based on config

without this feature， we need either

1.  run from all query-node： require the command to idempotent，or use try_set
     -  work for the create-root case, with try_set
     -  maybe also work for most init SQLs like `set`
     -  j

[2022-03-24 05:12] youngsofun commented on #4557
@drmingdrmer @ariesdevil

[2022-03-24 05:37] drmingdrmer commented on #4557
If I get your needs correctly:

The simplest way to do this is to store some initializing SQL statements in metasrv through the KV API.
And then let every query node load this SQL and run them.

To publish new SQL after query nodes start, query nodes have to **watch** the interested key-values.
Then a query node will be notified when a new SQL statement is published by updating the watched key-val

[2022-03-24 05:40] flaneur2020 commented on #4393
can we take advantage of the Watch API to make a distributed lock? maybe there are cases like a distributed task (https://docs.snowflake.com/en/sql-reference/sql/create-task.html), each task has to be executed ONCE in a query instance, avoiding two query instances get executed in the same time.

[2022-03-24 05:45] drmingdrmer commented on #4393
Yes, a lock can be implemented with **watch**.

But the execute-exactly-once semantic can not be implemented with just a `lock`. You still need some stateful service to store if the task has already been executed.

[2022-03-24 05:47] youngsofun commented on #4557
do you mean the SQL is loaded and consumed(deleted) by only one query node?

can metasrv read them from config and store in itself when start?
or do we still need a tool to store after the meta started?

[2022-03-24 05:54] drmingdrmer commented on #4557
I mean every query node. Not just one of them.

If there is only one metasrv node, it can be done this way, although I will never suggest doing it in this way.
If it is a metasrv cluster, different configurations on different metasrv will mess up the consistency.

[2022-03-24 06:25] youngsofun commented on #4557
suppose we want to create the root user in meta on start.

I can only let all query nodes try to create it on start.
the first succeeds, the others make sure it failed because `user already exists.

is it sound ok to you?

@drmingdrmer

[2022-03-24 06:30] b41sh opened #4558 "Feature: Semi-structured data function check_json"
**Summary**

Add support Semi-structured Data Function `CHECK_JSON` to check the validity of a JSON document.

https://docs.snowflake.com/en/sql-reference/functions/check_json.html

[2022-03-24 06:30] b41sh opened #4559 "Feature: Semi-structured data function json_extract_path_text"
**Summary**

Add support Semi-structured Data Function `JSON_EXTRACT_PATH_TEXT` to get the value pointed by the path.

https://docs.snowflake.com/en/sql-reference/functions/json_extract_path_text.html

[2022-03-24 06:39] drmingdrmer commented on #4557
the first succeeds, the others make sure it failed because user already exists.

It's totally OK. Such failure already happens every minute.

[2022-03-24 07:26] ygf11 commented on #4539
I am not really get it. Could you go into more detail?

[2022-03-24 07:36] sundy-li commented on #4539
[code]

1. For example, a big insert SQL,  `let insert_sql: &str =  "insert into table values (xxx), (xxx), (xxx) ..."`

2. When it goes into SQLParse, we parse it into `StatementWithSql` by default:

[code]

3. Then we parse field `values` into DataBlock using `values_source`

4. If any error happens in parsing 3, then we fall back to parse the SQL into `InsertStatement` (current behavior).

5. I

[2022-03-24 08:08] #4557 closed

[2022-03-24 08:22] ygf11 commented on #4539
Great idea.

I think we can avoid `lifetime` here, because all operations are done in `sql Parser`, so `StatementWithSql(or other name)` can like:
[code]

[2022-03-24 12:22] #4374 closed

[2022-03-24 13:32] #4531 closed

[2022-03-25 00:32] youngsofun commented on #3430
/assignme

[2022-03-25 02:35] #3792 closed

[2022-03-25 03:11] huang12zheng opened #4567 "bug:"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.6.98

### What's Wrong?

common/meta/raft-store/src/state_machine/placement.rs
[code]

It is not that  Evenly chooses `n` elements from `m` elements.

### What You Expected?

[code]

### How to Reproduce?

_No response_

### Anything Else?

_

[2022-03-25 03:16] #4567 closed

[2022-03-25 03:32] BohuTANG opened #4568 "Feature: Add ClickHouse REST handler"
## Summary

Endpoint:
[code]

## Query
Uri:
[code]

Example:
[code]

## Insert

Uri:
[code]

Example(`values` format):
[code]

Example(`JSONEachRow` format):
[code]

[2022-03-25 03:50] sundy-li commented on #4395
It's fixed in #4514

[2022-03-25 03:50] #4395 closed

[2022-03-25 04:31] junnplus opened #4572 "Feature: Disable create/drop of root"
**Summary**

Creation and deletion of root users should be disabled.

[2022-03-25 05:17] youngsofun commented on #4429
not fixed yet,  some clue：

when client user execute `Use <database>`, server receive these commands

- with - A
  - Query(select database()).   # not supported, but not further either caused by it
  - Init(use <database>)
- Without -A
  - Query(select database())
  - Init(use <database>)
  - Query(show databases)
  - Query(show table)
  - ListFields(_)   # not implemented

[2022-03-25 08:10] kevinw66 commented on #4558
/assignme

[2022-03-25 09:06] kevinw66 commented on #4558
@b41sh How to deal with variant type column

[2022-03-25 09:06] kevinw66 commented on #4558
/assign

[2022-03-25 09:18] #4435 closed

[2022-03-25 09:35] #4494 closed

[2022-03-25 10:44] Xuanwo opened #4575 "Feature: Implement From <opendal::error::Error> for Error"

[2022-03-25 10:45] Xuanwo commented on #4575
Reference: https://github.com/datafuselabs/databend/pull/4244/files#r835154339

[2022-03-25 11:15] b41sh commented on #4558
@kevinw66
If the data type is `Null`, `Boolean` and primitive types, like `UInt8`, `Float32`, etc. we can return NULL directly, as they are all valid JSON data.
`Array` and `Struct` data types are invalid JSON data, we can return the error message as `Invalid argument types for function 'CHECK_JSON': (ARRAY)`.
Other types need to convert to string and check if it is a valid JSON string.

If an inv

[2022-03-25 13:24] #4243 closed

[2022-03-25 13:49] sundy-li opened #4577 "Feature: Async Insert"
**Summary**

Description for this feature.

With `Async Insert`,  high rate of small inserts will be buffered by the server into batches.
This sacrifices tiny latency for better insert throughput and smaller block count in storage.

Configs may be introduced:

1. `async_insert_wait_time`:   time to wait to be grouped into batches for the single insert, defaults to 200ms  .
2.`async_insert_max_rows

[2022-03-25 14:42] kevinw66 commented on #4558
How to create array and struct type for test?
I try to use sql in snowflake document like `create table t0(a array, b object)`, but I got an error.

And how to test null column, I can create a column which type is null, but I cannot insert any value.

[2022-03-25 15:24] BohuTANG commented on #4543
Others move to https://github.com/datafuselabs/databend/issues/4568

[2022-03-25 15:24] #4543 closed

[2022-03-25 17:14] b41sh commented on #4558
@kevinw66
`array` and `object` are not SQL data types currently, so we cannot create such tables.
It is possible to create `ArrayColumn` and `StructColumn` for test, refer to the implementation here:
https://github.com/datafuselabs/databend/blob/main/common/datavalues/tests/it/types/serializations.rs#L89
https://github.com/datafuselabs/databend/blob/main/common/datavalues/tests/it/types/serializat

[2022-03-26 08:02] wubx opened #4581 "Proposed: support DBeaver connect Databend"
Developers most use GUI apps connect Database and OPS data. So we need to support one GUI app connect.

dbeaver is mutli-platfrom database tool for developers(free).

Statements that need support:
[code]
I think we'd better support information_schema， support MySQL protocol better.

Tasks:

- [ ] DROP SCHEMA `book_db`

[2022-03-26 08:23] kevinw66 commented on #4558
I try to write tests like `semi_structures`, but when I use wrong expected value, the tests will exit unexpectedly instead of print an error message.

thread panicked while panicking. aborting.
error: test failed, to rerun pass '--test it'

Caused by:
  process didn't exit successfully: `/Users/changye/Develop/Projects/Github/databend/target/debug/deps/it-474f88849eeb6ffa 'scalars::semi_structured

[2022-03-26 09:39] wubx opened #4582 "copy into don't support special filename"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.6.102-nightly-9e4c5ae-simd

### What's Wrong?

mysql> copy into ontime   from 's3://repo.databend.rs/m_ontime_1/'  file_format = (type = 'CSV' field_delimiter = ','  record_delimiter = '\n' skip_header = 1);
ERROR 1105 (HY000): Code: 3006, di

[2022-03-26 10:01] wubx opened #4583 "bug: There maybe have some thing worry with stream load"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.6.102-nightly-9e4c5ae-simd

### What's Wrong?
[code]
{"id":"0304a9f1-ba2a-4505-bf2f-8ef6b1d6cf23","state":"SUCCESS","stats":{"rows":1,"bytes":1083},"error":null}

But  only two columns have to value ,the other columns just  '0'

Use copy into

[2022-03-26 10:07] wubx opened #4584 "make copy into can parallel load directory multi file"
**Summary**

EC2: c5n.9xLarge
there are 100 files under the m_ontime directory.

[code]
Query OK, 0 rows affected (31 min 34.38 sec)
Read 405375310 rows, 293.43 GB in 1894.383 sec., 213.99 thousand rows/sec., 154.89 MB/sec.

[code]
There are a lot of Resources not use, if used

[code]
real    2m54.668s
user    0m9.752s
sys     0m46.410s

I think support copy into parallel will fast for load data.

[2022-03-26 10:24] wubx commented on #4498
if  use CSV, JSON support zip?

[2022-03-26 11:29] BohuTANG commented on #4498
Sure

[2022-03-26 11:32] BohuTANG commented on #4583
Please try:
[code]

[2022-03-26 11:39] BohuTANG commented on #4582
Databend supports special files with `FILES = ( 'file_name' [ , 'file_name' ... ] )`, please see document of COPY:
https://databend.rs/doc/reference/sql/dml/dml-copy#files---file_name---file_name---

[2022-03-26 12:22] sundy-li commented on #4583
What does it mean?

[2022-03-26 16:51] kevinw66 commented on #4558
It's the problem of `json!` macro.

[2022-03-27 00:24] wubx commented on #4583
sorry . to replace two
[code]
{"id":"ab9fe30d-f0df-43cb-b5a5-377f3da4cc04","state":"SUCCESS","stats":{"rows":1,"bytes":1083},"error":null}

like this:
[code]

[2022-03-27 00:47] wubx commented on #4582
You see the error report:  **kind: ObjectPermissionDenied**, but the repo.databend.rs is a public bucket.

error log：
[code]

[2022-03-27 00:48] sundy-li commented on #4583
[code]

This works. So we need to trim the quotas.

[2022-03-27 00:53] sundy-li commented on #4583
But I do think it's better to not add any quota inside the header. Let's fix the docs better.

[2022-03-27 01:14] #4132 closed

[2022-03-27 01:16] wubx commented on #4582
[query.log](https://github.com/datafuselabs/databend/files/8356636/query.log)
subbmit debug log

[2022-03-27 01:16] BohuTANG opened #4591 "Release proposal: Nightly v0.8"
**Summary**

Release name: v0.8-nightly, get in the train now :hand:

Milestone: https://github.com/datafuselabs/databend/milestone/1

# Checklist

**Stable checklist**
- [x] Query(Copy): #4584
- [x] Query(Copy): https://github.com/datafuselabs/databend/issues/4527
- [x] Query(Copy):  https://github.com/datafuselabs/databend/issues/4498
- [x] Query(Copy):  https://github.com/datafuselabs/databend/

[2022-03-27 01:30] #3814 closed

[2022-03-27 01:30] BohuTANG commented on #3744
https://databend.rs/doc/category/uuid-functions

[2022-03-27 01:30] #3744 closed

[2022-03-27 01:31] #3704 closed

[2022-03-27 01:33] BohuTANG commented on #3586
Ready to close, and #4308 rolling to next version(Nightly v0.8)

[2022-03-27 01:33] #3586 closed

[2022-03-27 01:48] #4555 closed

[2022-03-27 02:13] wubx commented on #4583
Thanks  @sundy-li

There is some load result  ：

c5n.9xlarge:
[code]
real    2m27.626s
user    0m6.390s
sys     0m34.208s

[code]

real    1m26.801s
user    0m5.889s
sys     0m38.052s

[2022-03-27 02:13] #4583 closed

[2022-03-27 02:31] BohuTANG commented on #4581
We have `federated_server_setup_set_or_jdbc_command`:

https://github.com/datafuselabs/databend/blob/d95adc1059facbe46f4a0f24b7c95b5da9572d87/query/src/servers/mysql/mysql_interactive_worker.rs#L254-L268

@wubx , please provide the server log error here, it's easy to check which sql not supportted.

[2022-03-27 02:34] TCeason commented on #4581
Some ide software need sql result to do some config. Maybe at first we can judge why we not support these sql?

[2022-03-27 02:38] TCeason commented on #4581
This func return empty result but the ide needs set some bar value according to these sql result.

So could we support some mock functions to suitable these queries or we can support these var in datafuse?

[2022-03-27 02:55] b41sh commented on #4558
@kevinw66  I'm not very sure of the specific reason, you can submit the PR first, so that we can check the problem together.

[2022-03-27 03:03] #3657 closed

[2022-03-27 03:04] #3880 closed

[2022-03-27 03:27] BohuTANG opened #4595 "toml format tool taplo-cli 0.6.0 broken with the rust-toolchain"
**Summary**

[code]

[2022-03-27 03:36] BohuTANG commented on #4595
Temporarily removed it from the CI check in this PR:
https://github.com/datafuselabs/databend/pull/4594

[2022-03-27 05:38] #4430 closed

[2022-03-27 05:53] BohuTANG commented on #4582
I don't see your special file in your command, you are accessing a directory, it's not support now:
[code]

You must use :
1. Using the files to special the files name [Files](https://databend.rs/doc/reference/sql/dml/dml-copy#files---file_name---file_name---) :
  ` copy into ontime from 's3://repo.databend.rs/m_ontime_1/' files=('y_ontime.csv') file_format = (type = 'CSV' field_delimiter = ',' re

[2022-03-27 06:19] wubx commented on #4581
@TCeason  Your approach may also work. Let's try your way.

[2022-03-27 06:37] Xuanwo commented on #4582
Maybe related to `reqsign`, let me check it out.

[2022-03-27 07:42] kevinw66 commented on #4558
I can simply reproduce it by change expect value in `semi_structures.test_parse_json_function()`, like
[code]

to

[code]

[2022-03-27 09:04] JasonLi-cn opened #4598 "bug: Load Data from Local File System"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

version: master
Latest commit [6553588]

### What's Wrong?

**On MacOS：**
echo curl -H \"insert_sql:insert into books format CSV\" -H \"skip_header:0\" -H \"field_delimiter:,\" -H \"record_delimiter:\n\" -F  \"upload=@./books.csv\" -XPUT http://

[2022-03-27 09:24] kevinw66 commented on #4558
@b41sh I met a problem here.
When I use `NullableColumnBuilder::<JsonValue>::with_capacity(input_rows)` to call `append_null()`, I saw the code will append `JsonValue::Null`, But I got `NullableColumn 	 typeid: Variant	 len: 1	 data: [NULL]` here.
And when I call `Series::from_data(vec![Some(JsonValue::Null)])`, I got `NullableColumn 	 typeid: Variant	 len: 1	 data: [Null]`. I think `append_null()

[2022-03-27 09:50] BohuTANG commented on #4598
Oh, thank you!
Looks like it only the document issue, that would be great if you give a PR:
https://databend.rs/doc/contributing/good-pr

[2022-03-27 10:18] kevinw66 commented on #4558
Oh I got it, It's print problem because of `impl std::fmt::Debug for NullableColumn`, The different is actually inside `validity`, not `column`.

[2022-03-27 10:48] #4598 closed

[2022-03-27 13:54] BohuTANG opened #4602 "two-level hashmap optimization"
Yes, as the number of stored keys increases we did not have the two-level hashmap optimization like ClickHouse.
It can be enhanced in the future.

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/discussions/4600#discussioncomment-2446491_

[2022-03-27 14:35] b41sh commented on #4558
@kevinw66
The `NullableColumn` contains an inner column, such as `JsonColumn`. When a value in `NullableColumn` is `Null`, the corresponding value in the `JsonColumn` is useless. In this case, the `JsonValue::Null` is just a placeholder. Only when the value of `NullableColumn` is not `Null`, the value of data in `JsonColumn` is valid.

[2022-03-27 15:46] Xuanwo commented on #4430
@Junnplus Great work!

[2022-03-27 15:48] Xuanwo commented on #3382
I am not interested anymore. Feel free to take this issue.

[2022-03-27 15:49] Xuanwo commented on #4188
Should be fixed via musl static binaries.

[2022-03-27 15:49] #4188 closed

[2022-03-27 15:54] PsiACE commented on #3382
I prefer to close it for now.

[2022-03-27 15:54] #3382 closed

[2022-03-27 15:54] Xuanwo commented on #3892
I'm not interested in this issue. Feel free to take it.

[2022-03-27 15:55] Xuanwo commented on #2647
I'm not interested in this issue any more. Feel free to take it :rocket:

[2022-03-27 16:18] PsiACE commented on #1549
I will still keep an eye on this, but have no better plans or motivation at this time. If anyone is interested, please pick it up.

[2022-03-27 16:26] PsiACE commented on #1768
I think we still need to do that, but I probably won't put more effort into it.

Maybe @leiysky will have some suggestions for that.

[2022-03-28 02:49] hanxuanliang commented on #4483
Is one developer responsible for completing all the subitems?

[2022-03-28 03:34] TCeason commented on #4581
I try to do some test , and maybe your driver is `com.mysql.jdbc.Driver` that is mysql jdbc 5.1.

And if you use `com.mysql.cj.jdbc.Driver` it will not occur this err.

![image](https://user-images.githubusercontent.com/33082201/160322061-fefb0f40-2ce6-47ba-ac75-9ec33c91fdea.png)

[2022-03-28 04:00] Xuanwo commented on #4582
Should be fixed by https://github.com/Xuanwo/reqsign/pull/47

[2022-03-28 04:53] TCeason commented on #4581
dbeaver will inner execute

 /* ApplicationName=DBeaver 22.0.1 - SQLEditor <Script.sql> */ SET SQL_SELECT_LIMIT=200

when execute `show tables`

[2022-03-28 06:33] BohuTANG commented on #3428
https://databend.rs/blog/databend-0-7-0-release

[2022-03-28 06:33] #3428 closed

[2022-03-28 07:30] lichuang opened #4607 "Add callback to state machine: every time SM applied an entry, feed the prev/result to a queue."

[2022-03-28 10:22] PsiACE commented on #3263
I think this task is obsolete and we now have a working benchmark mechanism.

[2022-03-28 10:22] #3263 closed

[2022-03-28 10:28] PsiACE commented on #3084
https://github.com/datafuselabs/databend-perf/ contains [`numbers`](https://github.com/datafuselabs/databend-perf/blob/main/benchmarks/numbers.yaml) and [`ontime`](https://github.com/datafuselabs/databend-perf/blob/main/benchmarks/ontime.yaml) benchmarks, run on a XXXLarge machine, and [collects performance data](https://github.com/datafuselabs/databend-perf/tree/main/collector) for nightly releas

[2022-03-29 02:11] BohuTANG commented on #4483
[code]

[2022-03-29 02:12] BohuTANG commented on #4483
sub task also welcome~

[2022-03-29 03:09] sundy-li opened #4610 "Feature: Support View Create/Select/Alter"
**Summary**

Description for this feature.

`View` is kind of like UDS (user-defined-SQL), eg:

[code]

`Stmt` is a query statement.

Example:

[code]

[2022-03-29 05:55] Veeupup commented on #4483
I'm working on datetime docs ~

[2022-03-29 08:27] BohuTANG opened #4615 "Add category for some functions"
**Summary**

Empty category functions:
[code]

Category functions:
[code]

[2022-03-29 09:49] hanxuanliang commented on #4483
Get it! I'll try...

[2022-03-29 10:54] leiysky commented on #1768
It's helpful but not suitable for regression test in CI. We may have a periodic job for it one day.

[2022-03-29 12:27] #745 closed

[2022-03-29 12:28] #1125 closed

[2022-03-29 12:28] #1187 closed

[2022-03-29 12:28] BohuTANG commented on #1139
Ready to close?

[2022-03-29 12:36] BohuTANG opened #4617 "Support where <column> in <query>"
**Summary**
[code]

Server log:
[code]

[2022-03-29 14:23] Milittle opened #4618 "Feature: I want databend can support sqlx(Rust async crate)"
**Summary**
I meet some problem here, when I connect databend by sqlx, and I got the follow error message:
[code]

Error: Database(MySqlDatabaseError { code: Some("HY000"), number: 1105, message: "Prepare is not support in Databend." })

I got same query with mysql:

the normal log is following:

2022-03-29T13:58:40.166478Z    15 Connect   root@localhost on book_db using SSL/TLS
 2022-03-29T13:58:

[2022-03-29 15:04] #4568 closed

[2022-03-30 01:07] wubx opened #4620 "SQL Statement Support for preparetion"
**Summary**

Some drivers and connectors support the ability to send a SQL statement for preparation before execution.
Such as :
 -  SELECT
 -  DML
 -  show <objects>

Relation issue：
[#4618](https://github.com/datafuselabs/databend/issues/4618)

[2022-03-30 01:10] wubx commented on #4620
MySQL prepare statement:
[code]

execute Statement:
[code]

[2022-03-30 01:12] #4474 closed

[2022-03-30 01:55] #4558 closed

[2022-03-30 03:25] BohuTANG opened #4622 "ClickHouse handler not log error info"
**Summary**

json:
[code]

This is a valid JSON, pretty format:
[code]

vector error:
[code]

databend-server not log the error message, we should log it to see what happens and what's the json line is.

## How to produce:
### Databend table
[code]

### nginx.conf:
[code]

### vector.toml
[code]

Install vector and run:
vector -c vector.toml

[2022-03-30 03:26] dantengsky commented on #3147
**Updated (2022-03-30):**

Although this issue has been fixed by PR #3122,  later a strategy of merging small blocks into bigger ones by the number of rows is used.

It would be better if both bock_size(in bytes, before compression, imo) and nubmer_of_rows are taken into account while merging small blocks into larger ones. such that the size of memory used to construct the block will no longer inc

[2022-03-30 03:56] BohuTANG commented on #4622
vector config:
[code]

error:
[code]

[2022-03-30 04:04] #1782 closed

[2022-03-30 04:15] BohuTANG opened #4624 "`Show create table` prints the fuse engine internal information"
**Summary**

create table:
[code]

show create table:
[code]

Tasks:
1. `DATABASE_ID='1' ` is only used for fuse internal, we should not show it to the user
2. Can't allow the user to add the `DATABASE_ID` (or other internal attributes)  to the `create/alter table` statement

[2022-03-30 04:23] BohuTANG commented on #3147
Hello @dantengsky ,
is it related to async insert https://github.com/datafuselabs/databend/issues/4577?

[2022-03-30 04:30] #1139 closed

[2022-03-30 05:59] dantengsky commented on #3147
Hope I get it right, in issue #4577, expressions (values of bached insert statements) are going to be compacted into blocks of proper size if applicable and then insert into a table by calling `Table::append`.

- apparently, the config /setting of the block size could be shared.
- It may also be worth introducing another param to `Table::append`, as a hint that indicates the blocks being appended

[2022-03-30 06:22] sunisdown commented on #2870
/unassign

[2022-03-30 06:24] BohuTANG commented on #2870
I think this issue can be closed? @drmingdrmer

[2022-03-30 06:25] sunisdown commented on #2870
I haven't had my Laptop device to write code on lately and won't be able to pick this up until the new Mac Studio is delivered to me. sorrrrry

[2022-03-30 06:27] zhang2014 commented on #2870
It cannot be reproduce in the main branch. let's close this issue : )

[2022-03-30 06:27] #2870 closed

[2022-03-30 06:37] Junnplus commented on #4429
Seems to be caused by invalid column definitions
https://github.com/datafuselabs/opensrv/blob/main/mysql/src/lib.rs#L564-L575

[2022-03-30 06:53] Junnplus commented on #4429
@Xuanwo I make a draft PR https://github.com/datafuselabs/databend/pull/4626 for fix this, can you help me test it?

[2022-03-30 06:54] Xuanwo commented on #4429
Of course, I will test against the draft PR.

[2022-03-30 07:12] sundy-li commented on #3147
Async Insert is used to aggregate multi-client's  small insert.

Seems it's pretty different with this I think.

[2022-03-30 07:15] Xuanwo commented on #4429
@Junnplus, I confirmed that #4626 fixed this issue, thanks for debugging!

[2022-03-30 07:50] youngsofun commented on #4622
the schema  for default nginx log is

[code]

[2022-03-30 07:52] youngsofun commented on #4622
`Incorrect json value, must be string.`  is  error message when fitting a  JSON value into a field,  the error message is extended in the pr to show the type

[2022-03-30 09:11] #4622 closed

[2022-03-30 09:15] #4595 closed

[2022-03-30 10:46] ygf11 commented on #4413
@sundy-li I find a way to address the lifetime, will create a draft pr soon.

[2022-03-30 10:55] BohuTANG commented on #3147
I got, thank you man!

[2022-03-30 13:24] dantengsky opened #4633 "consider disable `write_statistics` in parquet block writer"
**Summary**

Since statistics of fuse table are maintained independently from parquet, it seems to be meaningless to keep generating parquet statistics as well.

for some write-intensive executions (e.g. `insert into from SOURCE`), `build_statistics` consumes a significant number of CPU resources.

[code]

cons are: If "third party" applications need to access the parquet files directly, they can

[2022-03-30 13:41] #4429 closed

[2022-03-31 00:22] BohuTANG opened #4636 "Truncate json larger value to MAX_LENGTH(1024)"
If the value is larger, we need to truncate it to a MAX_LENGTH(1024)

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/pull/4627#discussion_r839066021_

[2022-03-31 00:43] BohuTANG opened #4637 "Support auth for ClickHouse REST with vector"
**Summary**

https://vector.dev/docs/reference/configuration/sinks/clickhouse/#auth

[2022-03-31 02:52] BohuTANG commented on #3994
Update:
Tabular SQL UDFs looks like a deep version of view #4610

[2022-03-31 04:43] #3069 closed

[2022-03-31 05:22] youngsofun commented on #4637
basic auth has been supported (bear auth should have too).

I test on my local Nginx and vector:

[code]

add this to vector.toml

[code]

[2022-03-31 11:05] #4624 closed

[2022-03-31 11:45] BohuTANG opened #4645 "system.query_log return empty result with DateTime64 type"
**Summary**

[code]

table data:
[code]

Query:
[code]

[2022-03-31 11:47] BohuTANG commented on #4645
I looks a bug for the DateTime64 comparison: ` event_time >'2022-03-31 11:31:03.380'`, cc @sundy-li

[2022-03-31 11:50] BohuTANG commented on #4645
Another bug:
[code]

server log:
[code]

[2022-03-31 12:16] zhang2014 opened #4646 "Feature: support abort for insert query"
**Summary**

support abort for insert query

[2022-03-31 12:18] #4633 closed

[2022-03-31 23:15] BohuTANG commented on #4637
Ok, thank you!

[2022-03-31 23:15] #4637 closed

[2022-04-01 00:40] wubx opened #4651 "Feature: Adapt to different countries support user change timezone"
**Summary**

Support databend-query setting the global timezone， To adapt to different countries.

if the user not setting the timezone make it follow the os system.

[2022-04-01 00:49] BohuTANG commented on #4651
This is a global session setting(work in progress, https://github.com/datafuselabs/databend/issues/3933).
Default should be UTC not the system timezone.
See https://docs.snowflake.com/en/sql-reference/parameters.html#timezone

[2022-04-01 00:54] bohutang opened #4652 "Performance about metasrv"
**Summary**

Single node and the 3-node cluster:
* [ ] meta api read/write concurrent performance
* [ ] kv api read/write concurrent performance
* [ ] watch api read/write concurrent performance

[2022-04-01 01:41] wubx commented on #4651
Learn from Snowflake that their timezone is just a session setting.

[code]
Maybe session setting is enough.

[2022-04-01 03:14] sundy-li opened #4653 "Feature: Window Functions Support"
**Summary**

Description for this feature.

1. Syntax: https://dev.mysql.com/doc/refman/8.0/en/window-functions-usage.html
2. Paper: http://www.vldb.org/pvldb/vol8/p1058-leis.pdf

[2022-04-01 04:03] #4636 closed

[2022-04-01 05:12] alitrack opened #4654 "Bug: Fail to read parquet files generated by pyarrow"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

0.7.3

### What's Wrong?

I tried insert data to [ontime](https://databend.rs/doc/learn/analyze-ontime-with-databend-on-ec2-and-s3) with parquet format
[ontime2.parquet.zip](https://github.com/datafuselabs/databend/files/8394826/ontime2.parquet.

[2022-04-01 08:04] #4610 closed

[2022-04-01 09:24] sundy-li commented on #4654
Hello, How did you generate  [ontime2.parquet.zip](https://github.com/datafuselabs/databend/files/8394826/ontime2.parquet.zip)   parquet file?

[2022-04-01 09:44] dantengsky commented on #4654
Seems that `pyarrow` no longer supports LZ4 (which is replaced by LZ$_RAW)

https://issues.apache.org/jira/browse/PARQUET-2032

and the background

https://lists.apache.org/thread/l15qq12v38w9jnkd6p9mdd11kr0nq3gr

[2022-04-01 09:45] #4645 closed

[2022-04-01 10:09] alitrack commented on #4654
pyarrow 6.0.1

[2022-04-01 10:09] BohuTANG opened #4659 "Support for information_schema database"
**Summary**

Some MySQL driver/GUI(like dbeaver) always access `information_schema` to fetch some meta information, `information_schema` tables are actually views, after the view(https://github.com/datafuselabs/databend/pull/4628) checked in, it's time to support the `information_schema` database, let the GUI easy to connect to Databend.

Tasks:
- [ ] Add `information_schema` database
- [ ] Impl s

[2022-04-01 10:13] BohuTANG commented on #4659
@TCeason may have some views information what's dbeaver used.

[2022-04-01 10:15] BohuTANG commented on #4591
Add:
Query(information_schema) @issue-4659

[2022-04-01 10:20] TCeason commented on #4659
Yes, the dbeaver now needs these views in `information_schema`:

information_schema.COLUMNS
information_schema.TABLES
INFORMATION_SCHEMA.KEYWORDS

And SQL

- [x] show full tables (has already support on local)
- [ ] show table status

[2022-04-01 10:34] alitrack commented on #4654
pyarrow 7.0.0 has the same issue.

from the source [code](https://github.com/apache/arrow/blob/bf18e6e4b5bb6180706b1ba0d597a65a4ce5ca48/cpp/src/arrow/util/compression.cc),  apache arrow should support LZ4, LZ4_FRAME, LZ4_RAW

[2022-04-01 12:24] sundy-li commented on #4654
`pyarrow    7.0.0 `

works in my env:

[code]

[2022-04-01 13:19] alitrack commented on #4654
@sundy-li  it was created by  pyarrow, does not work with databend.

[2022-04-02 05:09] b41sh opened #4665 "Feature: Semi-structured data function get/get_ignore_case/get_path"
**Summary**

Add support Semi-structured Data Function `GET`, `GET_IGNORE_CASE`, `GET_PATH`  to get the value from Object or Array.

https://docs.snowflake.com/en/sql-reference/functions/get.html
https://docs.snowflake.com/en/sql-reference/functions/get_ignore_case.html
https://docs.snowflake.com/en/sql-reference/functions/get_path.html

[2022-04-02 05:11] b41sh opened #4666 "Feature: Semi-structured data function flatten"
**Summary**

Add support Semi-structured Data Function `FLATTEN` to explode compound values into multiple rows.

https://docs.snowflake.com/en/sql-reference/functions/flatten.html

[2022-04-02 05:13] b41sh opened #4667 "Feature: Semi-structured data function object_keys"
**Summary**

Add support Semi-structured Data Function `OBJECT_KEYS` to get keys from Object.

https://docs.snowflake.com/en/sql-reference/functions/object_keys.html

[2022-04-02 05:53] dantengsky commented on #4654
@alitrack @sundy-li

Looks like the [comment](https://github.com/datafuselabs/databend/issues/4654#issuecomment-1085689318) message that I've "injected"  mislead you, apologize for that.

That comment is mainly for the following problem :

I can confirm that parquet file written by `parquet2 10.0.3`, with compression option `Compression::Lz4Raw`, is readable for `pyarrow 7.0.0`.

Unfortunately,  d

[2022-04-02 05:59] dantengsky opened #4668 "Bump `parquet2` to 0.10.3 & replace compression algo LZ4 with LZ4Raw"
~~Seems that `pyarrow` no longer supports LZ4 (which is replaced by LZ4_RAW)~~

Seems that there are some compatibility issues (pyarrow do support LZ4, as the error message indicates clearly)

https://lists.apache.org/thread/l15qq12v38w9jnkd6p9mdd11kr0nq3gr

maybe LZ4_RAW should be used

https://issues.apache.org/jira/browse/PARQUET-2032

_Originally posted by @dantengsky in https://github.com/dat

[2022-04-02 06:12] BohuTANG opened #4670 "Bug: show create table can't show the default value"
**Summary**

[code]

[code]

[2022-04-02 06:32] BohuTANG opened #4671 "Don't show `SNAPSHOT_LOC` in show create table"
**Summary**

[code]

[2022-04-02 08:45] everpcpc opened #4673 "Provide a helm chart for production ready on-premises deployment"
A helm chart would be easy and enough for general cloud users.

[2022-04-02 09:16] BohuTANG commented on #4654
There are two questions here, it looks better we disscuss them separately:
1. import parquet file panic
2. fuse engine parquet file can not read by pyarrow

For the 2), @dantengsky found the root cause #4668
For the 1), is it related to the 2)?

[2022-04-02 09:50] dantengsky opened #4674 "Bug: read stale data after `insert overwrite ` (fuse engine)"
**Summary**

(on behalf of @everpcpc )

stateless test case `09_0010_remote_insert_overwrite` failed occasionally.

[code]

CI logs:   https://github.com/datafuselabs/databend/runs/5798269334?check_suite_focus=true

[code]

some context:

- more likely occur in Linux + release build
- ./scripts/ci/ci-run-tests-embedded-meta.sh

[2022-04-02 10:13] dantengsky opened #4675 "Improvement: Remove dependency `parquet-format-async-temp`"
**Summary**

currently `parquet-format-async-temp` (0.2.0) is explicitly dependent.

which introduces troubles in the upgrading of crate `parquet2` (which depends on parquet-format-async-temp 0.3.0 now).

and also, It seems that we should use the interfaces exported by `arrow2` to manipulate parquet.

[2022-04-02 10:51] alitrack opened #4676 "bug: CSV import and data consistency issue or encoding issue"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

0.7.3

### What's Wrong?

import from csv may  be  garbled .

<img width="552" alt="image" src="https://user-images.githubusercontent.com/20972179/161379769-28a92213-9b73-4b05-813d-e5a3fe383259.png">

### What You Expected?

<img width="469" alt

[2022-04-02 13:04] dantengsky commented on #4654
@BohuTANG @sundy-li

For your reference:

After digging into the `1)` (exceptions when databend reading parquet generated by pyarrow) a little bit:

It seems not directly related to `2)` (pyarrow do not recognize the parquet generated by databend).

in case `1)`,  arrow2 panics at

https://github.com/datafuse-extras/arrow2/blob/b0774c8a9b4819fef513934a6ed665b7df606315/src/io/parquet/read/deseriali

[2022-04-02 14:33] sundy-li commented on #4676
1. You can use ` iconv -f GBK -t UTF-8  a_gbk.csv -o b_utf8.csv` to convert into utf8 format, databend can't detect the character encoding.

2. Compression`gzip`, `bzip2` can be supported in the future.

[2022-04-02 14:34] sundy-li opened #4679 "Feature: support compression method in streaming load & copy"
**Summary**

Description for this feature.

Support setting:  `compression = gzip`, `compression =  bzip2` etc.

[2022-04-02 14:35] sundy-li commented on #4679
#4676

[2022-04-02 14:43] Xuanwo commented on #4679
/assignme

[2022-04-02 14:44] Xuanwo commented on #4679
maybe related to https://github.com/datafuselabs/opendal/issues/70

[2022-04-02 15:03] #4659 closed

[2022-04-02 15:15] BohuTANG opened #4680 "Insert into Datetime64 column the result is not correct"
**Summary**

main branch:
[code]

[2022-04-03 01:56] alitrack commented on #4676
if only support UTF-8, had better mention in the manual, and the tutorial also should do the conversion, the ontime csv is iso-8859-1, has non ascii.

btw, books_gbk.csv is converted with  iconv for testing.

[2022-04-03 03:46] alitrack commented on #4680
maybe related to [arrow-rs/issues/1459](https://github.com/apache/arrow-rs/issues/1459)

[2022-04-03 03:48] sundy-li commented on #4680
It's not.  It's related to [custom precision](
https://github.com/datafuselabs/databend/blob/d4cc9f3a1edf7485d7609565036cf73841172a23/common/datavalues/src/types/deserializations/date_time.rs). I'm refactoring the deserilization now.

[2022-04-03 03:53] GrapeBaBa commented on #4308
@sundy-li Should we use a sink pipe and a source pipe to create a complete pipeline for refactoring?

[2022-04-03 03:58] sundy-li commented on #4308
Yes!

[2022-04-03 08:41] #4180 closed

[2022-04-03 09:47] GrapeBaBa commented on #4308
@BohuTANG @sundy-li Do we have an approach to test copy into feature local?

[2022-04-03 10:14] BohuTANG commented on #4308
Run databend-query with disk:
1. create a named internal stage
2. Streaming a file into the stage via the http streaming_load api
3. Do COPY from internal stage

[2022-04-03 10:40] GrapeBaBa commented on #4308
Why is there

OK. I also find some tests in the codes which seems using minio without detail steps. And why is interpreter_copy unit test is missing? Is it difficult to mock or something else?

[2022-04-03 10:43] sundy-li commented on #4308
Yes, it's hard to make a unit stateful test. So tests must run using minio.

[2022-04-03 12:08] GrapeBaBa commented on #4308
Upload file to stage using
[code]

Got this error
[code]

[2022-04-03 12:16] #4582 closed

[2022-04-03 13:11] GrapeBaBa commented on #4308
The log shows
[code]

[2022-04-03 13:14] GrapeBaBa commented on #4308
After
[code]
there will be a xxx file generated in local dir, is it expected?

[2022-04-03 13:14] GrapeBaBa commented on #4308
[code]

[2022-04-03 22:04] BohuTANG commented on #4674
Happen again: https://github.com/datafuselabs/databend/runs/5805968003?check_suite_focus=true#step:3:321

[2022-04-03 22:05] #4671 closed

[2022-04-04 07:01] Xuanwo commented on #4575
Fixed by #4678

[2022-04-04 07:01] #4575 closed

[2022-04-04 10:43] BohuTANG commented on #4308
`xxx` should be a folder under the `stage` directory not a file, this should be a bug.

[2022-04-04 11:01] BohuTANG opened #4686 "[NOT] IN should conditional expression function not UDF"
**Summary**

[NOT] IN: https://github.com/datafuselabs/databend/commit/c2f38ba

Should move to `common/functions/src/scalars/conditionals`

And the  test:
`tests/suites/0_stateless/02_0045_function_in.sql`
should with a better name:
`tests/suites/0_stateless/02_0045_conditional_function_in.sql`

[2022-04-04 13:01] GrapeBaBa commented on #4308
Yes, it should be a bug since I already tested successfully using minio. Let me try to fix it.

[2022-04-05 12:39] BohuTANG commented on #4674
Again:
https://github.com/datafuselabs/databend/runs/5832383396?check_suite_focus=true#step:3:316

[2022-04-05 13:28] BohuTANG opened #4693 "Separate 00_0000_copy_from_s3_location.sh into two tests files"
**Summary**

Now, in 00_0000_copy_from_s3_location.sh we have:
1. Copy from external location test
2. Copy from named internal stage test
3. Copy from named external stage test

It would be great to move 2 and 3 to a new file:
00_0001_copy_from_stage.sh

[2022-04-06 01:34] sundy-li opened #4695 "bug: `--log-level` did not work for tracing"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

latest

### What's Wrong?

.

### What You Expected?

.

### How to Reproduce?

[code]

Yet, we still got other level logs:

[code]

### Anything Else?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-04-06 02:50] BohuTANG commented on #4668
https://github.com/datafuselabs/databend/pull/4689 have upgrade parquet2 to the latest version:
[code]

[2022-04-06 03:03] dantengsky commented on #4668
there are some inconsistencies between the parquet2 v0.10.3 published in crates.io and the version of GitHub (I do not know why), the crates `parquet-format-async-temp` they depend on are of different versions:

- for the  crate.io
  `parquet-format-async-temp` ^0.2.0 is needed
https://crates.io/crates/parquet2/0.10.3/dependencies

- for the github.com
   which `https://github.com/datafuse-extras/

[2022-04-06 03:04] Veeupup commented on #4695
`./target/debug/databend-query --log-level=ERROR` seems work rightly. cc @sundy-li

[2022-04-06 03:06] BohuTANG commented on #4695
It works for me:
`./target/debug/databend-query --log-level error`

Have set LOG_LEVEL env? @sundy-li

[2022-04-06 03:10] sundy-li commented on #4695
My fault, it's overridden by LOG_LEVEL env.

[2022-04-06 03:10] #4695 closed

[2022-04-06 03:10] PsiACE commented on #4695
I am also unable to reproduce

[2022-04-06 03:12] TCeason opened #4697 "Feature: Need support query: `show full tables`"
**Summary**

Now not support show full tables. So some GUI can not be used.

For example:

Query	/* ApplicationName=DBeaver 22.0.1 - Metadata */ SHOW FULL TABLES FROM db

[2022-04-06 03:13] TCeason opened #4698 "Feature: Support SQL `show table status`"
**Summary**

Now not support show full tables. So some GUI can not be used.

For example:

Query	/* ApplicationName=DBeaver 22.0.1 - Metadata */ SHOW TABLE STATUS FROM db

[2022-04-06 03:14] TCeason commented on #4581
LINK ISSUE: #4697, #4698

[2022-04-06 03:51] BohuTANG commented on #4668
@jorgecarleitao Perhaps can help here, thanks.

[2022-04-06 04:23] jorgecarleitao commented on #4668
Thanks for the ping!

* [v0.10.3](https://github.com/jorgecarleitao/parquet2/releases/tag/v0.10.3) points to 198637b68dfeb3ed8065545d18a5fb36b4e20632 which depends on `parquet-format-async-temp` 0.2: https://github.com/jorgecarleitao/parquet2/blob/198637b68dfeb3ed8065545d18a5fb36b4e20632/Cargo.toml#L15 . It is also the same code base that was released to crates as v0.10.3

* the main branch depend

[2022-04-06 05:11] dantengsky commented on #4668
@jorgecarleitao Thank you for your detailed explanations!

May I ask if there was a near-future plan for version 0.11? and will crate `arrow2` be upgraded as well? (We are trying to integrate the  `Lz4Raw` https://github.com/jorgecarleitao/parquet2/pull/95 feature)

[2022-04-06 05:24] #4686 closed

[2022-04-06 05:58] BohuTANG opened #4703 "ClickHouse handler authentication"
**Summary**

Use user(usename:root, password is empty) connect to Databend with ClickHouse client:

This is OK:
[code]

This is OK too:
[code]

No auth check in ClickHouse handler.

[2022-04-06 06:26] #4187 closed

[2022-04-06 06:27] #4676 closed

[2022-04-06 07:25] sundy-li opened #4706 "Feature: Add authentication into exported API"
**Summary**

Description for this feature.

- [ ] HTTP API authentication (query,streaming_load,upload to stage, ClickHouse HTTP API )  #4703
- [x] #4707

[2022-04-06 07:25] sundy-li opened #4707 "ClickHouse Handler authentication"

[2022-04-06 07:39] dantengsky commented on #4674
got them

[2022-04-06 08:01] Junnplus commented on #4673
I take this, but do we need another repository to manage charts?

[2022-04-06 08:05] Junnplus commented on #4673
Also, I think we can create two charts `databend` and `databend-query`, users can add additional databend-query clusters as needed.

[2022-04-06 08:13] alitrack opened #4708 "Feature: SQLAlchemy support"
**Summary**
Most BI developed in Python need SQLAlchemy to connect database, If Databend supports SQLAlchemy, will make it more popular.

for now, I tried connect databend with SQLAlchemy, got issues,

`clickhouse+native://root:@127.0.0.1:9001/default`

got,

[code]

`mysql+mysqldb://root:@127.0.0.1:3307/default`
or
`mysql+mysqlconnector://root:@127.0.0.1:3307/default`

got,

[code]

[2022-04-06 08:16] TCeason opened #4709 "Feature: Support limit n, m"
**Summary**

Now if execute SQL:

[code]

will return err:
 ERROR databend_query::servers::mysql::writers::query_result_writer: OnQuery Error: Code: 1005, displayText = sql parser error: Expected end of statement, found: ,.

[2022-04-06 08:33] TCeason opened #4710 "Feature: Add information_schema.SCHEMATA"
**Summary**

GUI needs the table when to execute `create table` or `create database`.

[2022-04-06 08:47] gpfeng opened #4712 "Feature: CREATE TABLE syntax compatible with MySQL"
**Summary**

Syntax in MySQL CREATE TABLE not supported or not compatible：
- index definition, not supported
- Engine=InnoDB, not supported
- JSON data type, supported but not compatible
- DEFAULT value, lost in definition  https://github.com/datafuselabs/databend/issues/4670
- DEFAULT NULL, lost in definition, which makes NULL value not permitted
- DEFAULT charset, not supported
- maybe more...

[2022-04-06 08:55] gpfeng commented on #4712
example table definition from MySQL 5.7

CREATE TABLE `_idb_log` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `app_module` varchar(64) DEFAULT NULL,
  `user` varchar(64) NOT NULL DEFAULT 'guest',
  `log_level` varchar(16) NOT NULL DEFAULT 'INFO',
  `log_message` varchar(20000) DEFAULT NULL,
  `extended` json,
  `created` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx

[2022-04-06 08:58] wubx commented on #4712
Databend only  support utf8

[2022-04-06 09:14] #4697 closed

[2022-04-06 09:40] wubx commented on #4712
if you need null please use:
[code]
About null : https://github.com/datafuselabs/databend/issues/4435

[2022-04-06 10:20] wubx commented on #4581
link issue:  https://github.com/datafuselabs/databend/issues/4708

commit;
rollback;
SHOW VARIABLES LIKE 'sql_mode'

Test:
[code]

[2022-04-06 10:21] wubx commented on #4708
mysql+pymysql://root:@127.0.0.1:3307/default

[2022-04-06 10:49] #4710 closed

[2022-04-06 11:05] kevinw66 commented on #4667
Should we add `object_construct` first? It's important for debug while developing.

[2022-04-06 11:07] BohuTANG opened #4717 "Add `validate_privilege` to COPY interpreter"
**Summary**

Add `validate_privilege` to COPY interpreter.
https://github.com/datafuselabs/databend/blob/3d2f4bb94ef8c6fa616bb6bba131c8dbd085472a/src/meta/types/src/user_privilege.rs#L34-L63

Add a new privileges type: `COPY`? cc @flaneur2020

[2022-04-06 12:02] sundy-li opened #4719 "<jemalloc>: Unsupported system page size, memory allocation of 5 bytes failed"
### Discussed in https://github.com/datafuselabs/databend/discussions/4713

<div type='discussions-op-text'>

<sup>Originally posted by **doki23** April  6, 2022</sup>
I followed by the official direction of 'Deploy Databend With Local Disk' and met this problem when launched the meta service.

memory allocation of 5 bytes failed

version: databend-v0.7.4-nightly-aarch64-apple-darwin

my device: D

[2022-04-06 12:52] TCeason commented on #4581
Need value of sql_mode to do what?

[2022-04-06 13:35] #4680 closed

[2022-04-06 13:35] #4693 closed

[2022-04-06 14:00] youngsofun opened #4723 "bug(use database): use "``" behavior"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

4ef6f03abd38072e53444f6d3ca8480824e52660

### What's Wrong?

``` use `` ``` no error, db not changed, but report `Database changed`.

### What You Expected?

choices:

1.  show `not changed`
2.  change to default
3. (prefer) report error (like m

[2022-04-06 14:01] b41sh opened #4724 "Feature: Semi-structured data function object_construct/object_construct_keep_null"
**Summary**

Add support Semi-structured Data Function `OBJECT_CONSTRUCT` and `OBJECT_CONSTRUCT_KEEP_NULL`.

https://docs.snowflake.com/en/sql-reference/functions/object_construct.html
https://docs.snowflake.com/en/sql-reference/functions/object_construct_keep_null.html

[2022-04-06 14:04] b41sh commented on #4667
@kevinw66 Thank you very much for your attention, I have created an issue [#4724](https://github.com/datafuselabs/databend/issues/4724), welcome to pick up.

[2022-04-06 14:19] Junnplus commented on #4723
Seems to be a bug introduced by https://github.com/datafuselabs/databend/pull/4586/files#diff-3530d226419d50b772120427cb17d727ab72a6b5ccd06f042c3bc34941ffc1c2R364-R366

[2022-04-06 15:12] doki23 opened #4725 "bug: cannot build in mac aarch64 with channel 'nightly-2022-04-03'"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

[b0f90cc](https://github.com/datafuselabs/databend/commit/b0f90cc1af89a3b010ff07bc04dc406cef1a3bd5)

### What's Wrong?

Build failed in my mac m1.

### What You Expected?

Build successfully.

### How to Reproduce?

1 macbook m1
just clone the m

[2022-04-06 15:24] #4719 closed

[2022-04-06 15:31] everpcpc commented on #4725
Are there any detailed error of the failure build? I tried on my mac m1, and built successfully.

[2022-04-06 16:55] jorgecarleitao commented on #4668
Ahhh, got it. I am finishing the necessary changes in arrow2 to add support page filter offsets, since parquet2 adds support for that.

I suspect that it should be ready within 2-3 weeks

[2022-04-06 17:58] dantengsky commented on #4668
@jorgecarleitao roger & thanks

[2022-04-06 23:40] sundy-li commented on #4712
Thanks for the issue.

databend is not MySQL alternative, so it will not support full features or behaviors like MySQL.

- index definition, not supported. A:  Yes, we will have our own index definition in the future.
- Engine=InnoDB, not supported.  A:  No plan to add this Engine.
- JSON data type, supported but not compatible. A: No Plan to be full compatible with MySQL.

- DEFAULT value  #4727

[2022-04-06 23:49] xudong963 commented on #4712
So is databend compatible with postgres? Or is there not a clear compatible database?

[2022-04-06 23:57] xudong963 opened #4728 "Bug: `select *` should not return results"
### What's Wrong?

`select *` returns results
[code]

### What You Expected?

`select *` reports error;
[code]

[2022-04-07 00:31] BohuTANG commented on #4728
Like postgres's user-friendly error message :heart:

[2022-04-07 00:40] BohuTANG commented on #4712
Indeed, it needs well documented.
Databend SQL syntax is very easy to use, for `create table` the reference:
https://databend.rs/doc/reference/sql/ddl/table/ddl-create-table

[2022-04-07 00:51] sundy-li commented on #4712
I think we will have our own SQL syntax and make the protocol close to MySQL or Postgres etc.

[2022-04-07 02:03] doki23 commented on #4725
Many compile errors, not found type in std lib, some examples:
[code]

[2022-04-07 02:11] everpcpc commented on #4725
Maybe it's a toolchain missing problem, can you try `rustup show` in the project root?

[2022-04-07 02:15] #4670 closed

[2022-04-07 02:26] doki23 commented on #4725
My toolchain seems ok:
[code]

[2022-04-07 02:59] doki23 commented on #4725
I compare my stable toolchain with my nightly-2022-04-03 toolchain and found that the nightly toolchain missed the rust-std component. So I think it's the problem.

[2022-04-07 03:07] #4725 closed

[2022-04-07 06:13] TCeason commented on #4709
After watching the code, I find we support limit n offset m.
[code]

So, if we want to support `limit n, m` we need to do some conversion?

Maybe can use this func `parse_sql_with_dialect` but I'm not sure.

[2022-04-07 08:53] BohuTANG opened #4734 "Work with sqlalchemy"
**Summary**

[code]

mysql-srv returns a int caused sqlalchemy panic:
[code]

The code line is:
https://github.com/datafuselabs/opensrv/blob/main/mysql/src/lib.rs#L458

[code]

Tasks:
- [x] Remove `SELECT @@` in `opensrv/blob/main/mysql/src/lib.rs`
- [x] Add a new check for `federated_server_setup_with_value`, key is sql and value is the constant value in a DataBlock
- [x] Add a new rule for `fede

[2022-04-07 08:54] BohuTANG commented on #4734
Test codes with sqlalchemy:
[code]

[2022-04-07 10:30] Xuanwo opened #4736 "Tracking issues of adopting features added in OpenDAL v0.5"
OpenDAL v0.5 added the following features

- Azblob
- Create dir
- Decompress read

This issue intends to track the adoption of OpenDAL v0.5:

- [x] #4738
- [x] #4739
- [x] #5380
- [x] Code cleanup for `object("abc/").write(vec![])` trick
- [x] https://github.com/datafuselabs/databend/issues/4449
- [x] Code Cleanup: https://github.com/datafuselabs/databend/pull/5251
- [x] Code Cleanup: https://git

[2022-04-07 10:38] Xuanwo opened #4738 "Support use `azblob` as storage backend"

[2022-04-07 10:38] Xuanwo opened #4739 "Support copy from azblob"

[2022-04-07 11:36] kevinw66 commented on #4724
/assign

[2022-04-07 11:36] kevinw66 commented on #4724
It may take few weeks

[2022-04-07 11:37] BohuTANG commented on #4709
cc @sundy-li may help here

[2022-04-07 11:42] Xuanwo opened #4741 "`unwrap` in `dal_contexts` is wired"
The code style is wired, using make lint to do the format?

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/pull/4737#discussion_r845028897_

[2022-04-07 11:46] sundy-li commented on #4709
It's easy.
https://github.com/datafuse-extras/sqlparser-rs/blob/f8b7300c5dca02012e41d8fac04b459489c49545/src/parser.rs

[code]

[2022-04-07 11:48] TCeason commented on #4709
Ok, I will have a look.

[2022-04-07 13:01] Xuanwo commented on #853
Is this issue still going on?

[2022-04-07 13:01] Xuanwo commented on #776
If this issue still going on or should be transferred to OpenRaft?

[2022-04-07 13:03] Xuanwo commented on #760
@BohuTANG Is this issue still going on?

[2022-04-07 13:04] Xuanwo commented on #730
@zhang2014 Hi, is this issue still going on?

[2022-04-07 13:04] Xuanwo commented on #707
This issue seems addressed by databend.rs?

[2022-04-07 13:05] #760 closed

[2022-04-07 13:07] Xuanwo commented on #1094
We didn't depend on `stdweb` anymore, closed.

[2022-04-07 13:07] #1094 closed

[2022-04-07 13:08] Xuanwo commented on #1087
@zhang2014 Is this issue still valid? I can't reproduce it anymore.

[2022-04-07 13:09] Xuanwo commented on #990
@BohuTANG Do we still need this change anymore?

[2022-04-07 13:10] Xuanwo commented on #941
@BohuTANG Any updates about this issue?

[2022-04-07 13:11] Xuanwo commented on #904
Any updates about this issue? What actions should we take?

[2022-04-07 13:13] Xuanwo commented on #1884
@drmingdrmer Are there any actions we can take on this issue?

[2022-04-07 13:14] Xuanwo commented on #2559
Recorded at https://databend.rs/doc/releases/release-channels, closing now.

[2022-04-07 13:14] #2559 closed

[2022-04-07 13:15] Xuanwo commented on #2559
ping @BohuTANG, I think it's better to refer to our docs instead of an ongoing issue.

[2022-04-07 13:16] Xuanwo commented on #2463
@sundy-li Is this issue still valid?

[2022-04-07 13:17] #707 closed

[2022-04-07 13:18] #2445 closed, assigned to nobody

[2022-04-07 13:19] #2229 closed, assigned to nobody

[2022-04-07 13:21] Xuanwo commented on #2137
Is this issue still valid?

[2022-04-07 13:22] #2063 closed

[2022-04-07 13:24] Xuanwo commented on #2929
We are not using fusebot for PR reviews, closing now.

[2022-04-07 13:25] Xuanwo commented on #2722
@ZhiHanZ this issue seems solved?

[2022-04-07 13:27] sundy-li commented on #2463
Done!

[2022-04-07 13:27] #2463 closed

[2022-04-07 13:28] #499 closed

[2022-04-07 13:29] Xuanwo commented on #4290
The root cause is https://github.com/datafuselabs/opendal/issues/141, already fixed.

[2022-04-07 13:29] #4290 closed

[2022-04-07 13:31] sundy-li commented on #853
Let's close it, thanks for all the contributors.

[2022-04-07 13:31] #853 closed

[2022-04-07 13:32] sundy-li commented on #2137
Migrated into databend-perf

[2022-04-07 13:32] #2137 closed

[2022-04-07 13:32] BohuTANG commented on #941
We have done it:
https://databend.rs/doc/reference/sql/query-operators/operators-subquery#-not--exists

Thank you, closed!

[2022-04-07 13:32] #941 closed

[2022-04-07 13:33] BohuTANG commented on #990
I think no it need now, let's close it.

[2022-04-07 13:34] #990 closed

[2022-04-07 13:35] #601 closed

[2022-04-07 13:41] drmingdrmer commented on #776
The next version of openraft stores non-voter persistently. There is already a test for such a case. But databend has not yet upgraded openraft to the latest version.

It's gonna be closed when upgrade finished.

[2022-04-07 13:52] #4449 closed

[2022-04-07 14:30] #4734 closed

[2022-04-07 14:54] TCeason opened #4745 "Feature: Support column `position` for table system.columns"
**Summary**

Could we support a column `position` for table system.columns?

It like `ORDINAL_POSITION` in MySQL's information_schema.columns or `position` in ClickHouse's system.columns.

[2022-04-07 15:44] ZhiHanZ commented on #2722
It should be resolved, that's close it

[2022-04-07 15:44] #2722 closed

[2022-04-07 23:58] Xuanwo commented on #4654
@dantengsky Can you help update the issue title? I believe "curl: (52) Empty reply" is not the root cause.

[2022-04-08 00:08] Xuanwo commented on #4301
What does "it will be lost during the release process" mean?

[2022-04-08 00:21] BohuTANG commented on #4708
Fixed in https://github.com/datafuselabs/databend/pull/4735, and released in https://github.com/datafuselabs/databend/releases/tag/v0.7.11-nightly

It works now:

[code]
result:
[code]

[2022-04-08 00:21] #4708 closed

[2022-04-08 00:22] PsiACE commented on #4301
Sorry, I made a mistake here. It should read, "The release does not contain Cargo.lock or Cargo.toml, so it cannot get the credits correctly".

[2022-04-08 00:28] Xuanwo commented on #4301
Is there any block here that prevents us from adding `Cargo.lock` into the release? Generate a new file seems not good to me.

[2022-04-08 00:36] PsiACE commented on #4301
I think downloading Cargo.lock might be enough. Or we can try to embed it using rust-embed.

[2022-04-08 00:45] Xuanwo commented on #4301
Ohh, I got it. `release` here means our release binaries instead of the release process.

So this issue intends to generate a file during the release process and embed it into our release?

[2022-04-08 01:38] #1087 closed

[2022-04-08 01:39] zhang2014 commented on #730
Yes, let‘s continues

[2022-04-08 01:42] wubx commented on #4745
Did you mean add snowflake select support
[code]

$col_position
Specifies the position of the column (1-based) as defined in the [FROM](https://docs.snowflake.com/en/sql-reference/constructs/from.html) clause. If a column is referenced from a table, this number can’t exceed the maximum number of columns in the table.

https://docs.snowflake.com/en/sql-reference/sql/select.html

[2022-04-08 01:48] flaneur2020 opened #4753 "bug: schema column empty on "SHOW DATABASES" statement in the HTTP query api"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

latest

### What's Wrong?

![origin_img_v2_494a087a-ad5c-4634-b2b0-9532e748991g](https://user-images.githubusercontent.com/129800/162347057-de46c7d9-af08-48ef-9073-b0aa4504925a.png)

but it's ok to SELECT system.tables

### What You Expected?

i

[2022-04-08 01:53] TCeason commented on #4745
Yes we should support position first, so that we can support position on select query. Like this:

select top 1000
  Col_1, Col_18, Col_50, Col_117, *
from
  TableWithTonsOfCols
order by
  1, 4 desc, 3

[2022-04-08 03:09] dantengsky opened #4754 "Flaky test: test_stateless_cluster_linux failed occasionally"
**Summary**

Flaky test: job **test_stateless_cluster_linux**

1.
--- /workspace/tests/suites/0_stateless/03_dml/03_0011_select_from_system_processes.result	2022-04-08 01:48:46.398157207 +0000
+++ /workspace/tests/suites/0_stateless/03_dml/03_0011_select_from_system_processes.stdout	2022-04-08 02:02:30.453283229 +0000
@@ -1 +1,2 @@
 Query	default
+Query	default

2.
02_0032_function_strings_strcmp:

[2022-04-08 03:09] zhang2014 opened #4755 "flaky cluster stateless test"
**Summary**
https://github.com/datafuselabs/databend/runs/5878583472?check_suite_focus=true

[2022-04-08 03:10] zhang2014 commented on #4755
duplicated #4754

[2022-04-08 03:10] #4755 closed

[2022-04-08 03:19] dantengsky commented on #4674
Progress update:

**Summary**

Can not reproduce it in the dev box yet. keep investigating.

------------

In a local dev box `09_0010_remote_insert_overwrite.sql` is extracted into a standalone test suite and keeps being tested (in an infinite loop,  break if the case failed).

- OS: Linux
- revision:  not fixed, typically the latest main branch in the morning.
- build: release

--------------

t

[2022-04-08 05:49] #4741 closed

[2022-04-08 05:51] #4665 closed

[2022-04-08 06:30] flaneur2020 opened #4758 "unit test failed in the main branch"
**Summary**

environment:

my laptop (MacBook Pro (13-inch, M1, 2020), Memory 16Gb)

reproduce:

[code]

[code]

[2022-04-08 06:59] ZhiHanZ opened #4759 "Mysql handler panic during data insert"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

"v0.7.11-nightly-debian"

### What's Wrong?

As it mentioned when we try to insert data into S3 backed object storage, the following error occurs
![XxBbB0Hjyg](https://user-images.githubusercontent.com/25170437/162381332-16573f4d-e28d-41c8-95bb-

[2022-04-08 07:02] Xuanwo commented on #4759
/assignme

[2022-04-08 07:04] #4753 closed

[2022-04-08 07:19] Xuanwo commented on #4759
Not reproduced in current main branch 8fddb0ac, let's me try the tagged version.

[2022-04-08 07:46] Xuanwo commented on #4759
Can't be reproduced either. can you provide more detailed logs that include the panic that happened just before `Cannot join handle from context's runtime`?

[2022-04-08 07:55] sundy-li commented on #4759
+1 Can't be reproduced either

[2022-04-08 07:57] wubx commented on #4759
+1 Can't be reproduced either

[2022-04-08 08:21] wubx commented on #4708
Use jupyter run report error :
[code]

use python3 file.py  execute ok.

[2022-04-08 08:27] sundy-li opened #4761 "bug: desc view not work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

`desc INFORMATION_SCHEMA.COLUMN` returns empty results.

### What You Expected?

Works like mysql.

### How to Reproduce?

[code]

### Anything Else?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am will

[2022-04-08 08:45] #4668 closed

[2022-04-08 08:46] alitrack commented on #4708
three MySQL connector packages works on my PC, through notebook
<img width="618" alt="image" src="https://user-images.githubusercontent.com/20972179/162399477-63eced0e-0391-4b51-aecc-b5004d166109.png">

and mysqlconnector got error when using ipython-sql

<img width="522" alt="image" src="https://user-images.githubusercontent.com/20972179/162399929-b7c1662b-bb1e-450a-b074-46b1f10e0531.png">

[2022-04-08 08:47] Xuanwo commented on #4759
Have a private communication with @ZhiHanZ.

The specific storage results in this problem. OpenDAL expects `https://s3.amazonaws.com` but we got `s3.amazonaws.com` here.

To address this problem, we will:

- Support input like `s3.amazonaws.com`
- Return errors instead of panic while building requests.

[2022-04-08 08:51] BohuTANG commented on #4708
Thank you @alitrack for the feedback.
We are still working on it to make it works more well :D

[2022-04-08 09:33] #4698 closed

[2022-04-08 09:45] BohuTANG opened #4765 "Show fuse engine table status"
**Summary**

After https://github.com/datafuselabs/databend/pull/4757 checked in, we should fetch the status underlying from the fuse engine.
[code]

[2022-04-08 09:47] BohuTANG commented on #4758
Ping @drmingdrmer

[2022-04-08 10:03] drmingdrmer commented on #4758
`RUST_TEST_THREADS=2 make test`
It should pass.

Sometimes it just blocks for too long.

[2022-04-08 12:17] Xuanwo commented on #4761
Enrich issue description with detailed information.

[2022-04-08 12:24] #4759 closed

[2022-04-08 12:28] Xuanwo commented on #4675
Fixed in #4726, closing now.

[2022-04-08 12:28] #4675 closed

[2022-04-08 15:23] #4300 closed

[2022-04-09 01:19] BohuTANG commented on #4674
Reproduced:
[code]

https://github.com/datafuselabs/databend/runs/5888432952?check_suite_focus=true#step:3:326

[2022-04-09 01:27] dantengsky commented on #4674
roger.  adds `09_0002_remote_truncate_table` to the local standalone test suite

[2022-04-09 06:28] sundy-li commented on #4728
If select query has no SourcePlan, it will add a dummy source plan `system.one`.

So  `select *` is rewritten into `select * from system.one`.
It's better to throw exceptions, but it's really trivial.

[2022-04-09 06:29] sundy-li opened #4773 "Feature: support aggregate function retention"
**Summary**

Description for this feature.

https://clickhouse.com/docs/en/sql-reference/aggregate-functions/parametric-functions/#retention

[2022-04-09 07:04] xudong963 commented on #4728
Yeah, just a corner case.

[2022-04-09 11:34] BohuTANG opened #4776 "select get(parse_json(a, 'aa')) from json_test panic"
**Summary**

Table:
[code]

query:
[code]

server log:
[code]

[2022-04-09 11:37] BohuTANG opened #4777 "Casting from Variant into Other types."
**Summary**

Table:
[code]

Query:
[code]

Error:
[code]

[2022-04-09 12:02] BohuTANG opened #4778 "bug: insert into json_test select * from json_test panic the databend-query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

 insert into json_test select * from json_test panic the databend-query

### What You Expected?

N/A

### How to Reproduce?

Deploy Databend with s3.

Table:
[code]

Insert a value:
[code]
Then do many times:
[code]

Whe

[2022-04-09 12:18] sundy-li commented on #4777
You can use cast function to apply sum.

[code]

[2022-04-09 12:20] BohuTANG commented on #4777
[code]

[2022-04-09 12:21] sundy-li commented on #4777
Ok, then let's fix this bug: casting from Variant into Other types.

[2022-04-09 14:17] b41sh commented on #4776
The syntax of the tested SQL is incorrect, panic is caused by the wrong number of parameters.
The correct SQL should be
[code]

[2022-04-09 15:01] BohuTANG commented on #4776
Ok, it should return error instead of panic.

[2022-04-09 15:19] b41sh commented on #4776
Ok, I will fix it.

[2022-04-09 16:10] b41sh commented on #4778
I tested this case, it will return normally when the amount of rows is relatively small. When the amount of rows reaches 67108864, the data will eventually be returned, but the response time is very long, about more than half an hour. The reason is that the JSON data needs to be parsed every time the data is read. I think this is a performance issue rather than a bug. We need to use some binary JS

[2022-04-09 23:30] sundy-li commented on #4778
We can use perf to get the bottleneck of this query.
https://github.com/datafuselabs/databend/blob/01a0053e04b979b9a64a2f9c3a7ff98ab1142a5a/docs/doc/100-faq/30-how-to-profiling.md

[2022-04-10 00:35] BohuTANG commented on #4778
From my test(binary is build from main branch with make build-release) on EC2, it panicked(exit with no error in the log) every time.

[2022-04-10 03:17] b41sh commented on #4778
ok, I will add more test

[2022-04-10 05:36] BohuTANG commented on #4712
Hi @gpfeng ,

Thanks for the feedback.
As we talked above, Databend has its own SQL syntax on `CREATE TABLE`, the goal is to make it easier to use, more details please refer: [CREATE TABLE](https://databend.rs/doc/reference/sql/ddl/table/ddl-create-table)

**Your case is definitely working in Databend**, but it needs some simplification:

### `_idb_log` table

__Create table__
[code]

__Desc table

[2022-04-10 05:41] BohuTANG opened #4782 "'|' in the show create table"
**Summary**

[code]

[2022-04-10 06:20] GrapeBaBa commented on #4584
@sundy-li Is this issue actually same with we talked yesterday?

[2022-04-10 07:14] GrapeBaBa commented on #1985
@BohuTANG Is this issue still active?

[2022-04-10 07:15] GrapeBaBa commented on #3328
@sundy-li Is this issue still active?

[2022-04-10 08:13] doki23 commented on #4527
/assignme

[2022-04-10 08:24] sundy-li commented on #3328
It's low priority now.

[2022-04-10 08:27] BohuTANG commented on #1985
Thank you for ping.
It is done in https://github.com/datafuselabs/databend/pull/4363, closing

[2022-04-10 08:27] #1985 closed

[2022-04-10 08:28] sundy-li commented on #4584
Yes, duplicated with#4308

[2022-04-10 08:28] #4584 closed

[2022-04-11 00:55] cadl commented on #4782
/assignme

[2022-04-11 01:50] BohuTANG opened #4788 "bug: create table default expression validation"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

ERROR 1105 (HY000): Code: 1006, displayText = Unable to get field named "CURRENT_TIMESTAMP". Valid fields: ["id"].

### How to Reproduce?

Table:
[code]

Insert into:
[code]

### Are you willing to submit PR?

- [ ] Yes

[2022-04-11 01:52] sundy-li commented on #3004
This task is almost done! The rest functions will be taken as low priority (We can add them anytime if users need them).

[2022-04-11 01:52] #3004 closed

[2022-04-11 02:45] cadl commented on #4782
@BohuTANG  After some research, this appears to be the behavior of MySQL. And It seems to be normal to have`|` at the tail in MySQL client.

I tested MySQL server 5.7 via MySQL client, here is the screenshot.

<img width="1061" alt="image" src="https://user-images.githubusercontent.com/1629582/162656386-dcc97331-063c-44d9-b562-e624b360dd88.png">

ref: related code https://github.com/mysql/mysql-se

[2022-04-11 04:09] BohuTANG commented on #4782
Thank you @cadl for the great research! Closing.

[2022-04-11 04:09] #4782 closed

[2022-04-11 04:35] #4765 closed

[2022-04-11 05:27] #4777 closed

[2022-04-11 06:32] TCeason commented on #4581
![image](https://user-images.githubusercontent.com/33082201/162677962-b4820dc0-26a1-4ac8-9af0-70faa4c69d0d.png)

Hi, @BohuTANG  @wubx Now we can use DBeaver select data.

[2022-04-11 07:28] xudong963 commented on #4728
/assign me

[2022-04-11 08:59] #4709 closed

[2022-04-11 09:38] BohuTANG opened #4797 "select Variant type field name"
**Summary**

[code]

Expected:
[code]

[2022-04-11 10:08] GrapeBaBa commented on #4308
https://github.com/datafuselabs/databend/pull/4783#discussion_r846778400 @zhang2014 @sundy-li @BohuTANG let me back here, I looked at the MemoryTable code and know we can use one pipe to implement it. However about if using S3StageTable, I am not quite sure. If I understand correct, this copy operation should do internal stage as well which is not using S3 storage. What is your suggestion?

[2022-04-11 12:03] BohuTANG commented on #4581
From my test, databend main branch is working with DBeaver on my ubuntu now 🚀
@wubx Would like your test on your macos

[2022-04-11 14:03] #1401 closed

[2022-04-11 14:04] #2373 closed, assigned to Cerdore

[2022-04-11 14:21] xudong963 commented on #3931
Hi @zhang2014 , I've read through the processor code in general, If you don't mind, I'll take the final task (integrate insert query with new processor). I think the last task can be developed in parallel with #4471, right?

[2022-04-11 14:43] sundy-li commented on #3931
Actually, I just want to start to work on it(not ready yet).   You can take the task~

[2022-04-11 14:43] sundy-li opened #4799 "integrate insert query with new processor"
## integrate insert query with new processor

###  Introduce `append2` function like `read2`
- [ ] Implement for Memory Engine
- [ ] Implement for Null Engine
- [ ] Implement for Fuse Engine
    -  Introduce `TransformCompact` to compact the blocks before inseration.
    -  Introduce `AsyncSink` to insert the block into storage and convert the stats seg info into `DataBlock` and pushed the block i

[2022-04-12 00:10] wubx commented on #4581
Using user root connect is ok.
If  you create user like:
[code]

use DBeaver connection Databend will have worry:

[2022-04-12 00:23] #4301 closed

[2022-04-12 00:58] BohuTANG opened #4802 "Authenticate failed, user: "wubx", auth_plugin: "mysql_native_password""
Using user root connect is ok.
If  you create user like:
[code]

use DBeaver connection Databend will have worry:

use mysql client cli:

It's ok.

_Originally posted by @wubx in https://github.com/datafuselabs/databend/issues/4581#issuecomment-1095719280_

Looks JDBC driver is authenticate failed if the user with password.

[2022-04-12 01:03] BohuTANG commented on #4802
How to re-produce:

Create a user:
[code]

Using nodejs:
[code]

databend.js
[code]

Run:
[code]
Error:
[code]

There is no databend server errors in the log.

[2022-04-12 02:04] wubx opened #4803 "Feature: support sqlalchemy version lower than 1.4.30"
**Summary**
SQLAlchemy version < 1.4.30 connect databendy with error:

Howto repeat:
[code]
t.py
[code]
python t.py

Error :

Use SQLALchemy >= 1.4.30 is ok.   But the relation:

- superset use  sqlalchemy==1.3.24

https://github.com/apache/superset/blob/master/requirements/base.txt#L260

- redash use SQLAlchemy==1.3.10

https://github.com/getredash/redash/blob/master/requirements.txt#L26

[2022-04-12 03:24] #4728 closed

[2022-04-12 03:40] #4527 closed

[2022-04-12 03:58] youngsofun commented on #4802
# for js

ER_ACCESS_DENIED_NO_PASSWORD_ERROR  happens  when I forgot to Create the user
---

after create user,  there is another error

the client is blocked

[code]

server log with level warn:

[code]

[2022-04-12 04:53] TCeason opened #4807 "bug: If use SELECT LIMIT query a table that the data is not batch insert the result of query will not stable"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

The newest main commit.

Server version: 8.0.26-v0.2.1-alpha-74587a0-simd(rust-1.61.0-nightly-2022-04-12T06:13:57.952366803Z) 0

### What's Wrong?

The limit result for a table is not stable, the result usually changed.

But if I create a table

[2022-04-12 05:30] TCeason opened #4808 "bug: Query SystemEngines Table just with limit n offset m, if m > 0 the offset is not useful"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

The newest main commit

### What's Wrong?

As title.

### How to Reproduce?

#### Table engine with SystemEngines

**if the query does not have `order by cause` the limit n,m may will not useful when n > 0**

[code]
**query with `order by cause`

[2022-04-12 05:31] TCeason commented on #4807
Hi @BohuTANG @sundy-li :

Do you have some suggestions?

[2022-04-12 05:40] TCeason commented on #4808
I see the engines table just padding data from there :

[code]

So in my mind, the tables data are like a batch insert, but why if offset rows>0 are not useful?

In this issue #4807 the select limit query a table that the data with batch insert is ok.

@BohuTANG @zhang2014

[2022-04-12 06:22] TCeason commented on #4807
https://github.com/datafuselabs/databend/issues/4808 Can you try to execute this query?

[2022-04-12 07:35] sundy-li commented on #4807
[code]

[2022-04-12 07:35] sundy-li commented on #4807
Related to new_processor. cc @zhang2014

[2022-04-12 07:38] TCeason opened #4813 "Feature: Support show charset & show collation"
**Summary**

The [DBeaver](https://github.com/dbeaver/dbeaver/blob/f4a5ad3e0860f3d3c2239d902e3bfb6086d311a3/plugins/org.jkiss.dbeaver.ext.mysql/src/org/jkiss/dbeaver/ext/mysql/model/MySQLDataSource.java#L295) will execute `show charset` & `show collation` to cache the charset and collation result.

When to create database on dbeaver will use the charset and collation.

![Example with mysql](https:

[2022-04-12 07:55] sundy-li commented on #4807
Even with `enable_new_processor_framework  = 0`, limit has bugs.

insert 8 records.
[code]

[2022-04-12 09:19] youngsofun opened #4814 "tracking sharing"
[StateMachine](https://github.com/datafuselabs/databend/blob/0278dfd3514cd63f38d05bbfa4768ab046fd496e/common/meta/raft-store/src/state_machine/sm.rs#L379) key spaces:

1. shares/g_share_id -> share_info(name, option<db_name>, tables)
  1.   tables may use seperate key space when the designe is stable
2. share_lookup/provider/share_name -> g_share_id
3. share_outbunds/g_share_id/consumer -> share_o

[2022-04-12 09:22] flaneur2020 opened #4815 "bug: the granted roles are not displayed in SHOW GRANTS"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

latest

### What's Wrong?

![middle_img_v2_839cea83-1db7-4a87-b498-cbbfb162e79g](https://user-images.githubusercontent.com/129800/162927087-bdeb6aac-3a0f-4968-83bd-836d593d658e.png)

### How to Reproduce?

_No response_

### Are you willing to s

[2022-04-12 09:36] xudong963 opened #4817 "Introduce lock-free queue for `global_tasks_queue` in processor"
**Summary**

Introduce lock-free queue for `global_tasks_queue` in processor.

Current, `global_tasks_queue` in `PipelineExecutor` protectd by Mutex, this is likely to be a race contention.

cc @sundy-li @zhang2014

[2022-04-12 10:13] doki23 commented on #4653
/assignme

[2022-04-12 10:42] BohuTANG commented on #4803
There still some errors:
[code]

[2022-04-12 10:42] BohuTANG commented on #4803
There still some errors:
[code]

[2022-04-12 10:46] Junnplus opened #4819 "bug: `/v1/config` not updated after reload config"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

master branch

### What's Wrong?

`/v1/config` not updated after reload config.

![middle_img_v2_2e46dc42-60fa-44e2-bc98-7245c8fc08eg](https://user-images.githubusercontent.com/8097526/162942448-bb427ac4-d6aa-48b1-b6f3-f99a607d2a98.png)

![middl

[2022-04-12 11:12] ZhiHanZ commented on #3084
I think it could be closed? @BohuTANG

[2022-04-12 11:16] jiahui-97 commented on #4615
/assign

[2022-04-12 11:47] #3084 closed

[2022-04-12 12:11] flaneur2020 opened #4823 "Remove"
**Summary**

currently when the granted role is dropped, the dropped role is still displayed in an user's SHOW GRANTS.

this behaviour has similarities with MySQL. but it might be better to revoke the dropped roles automatically when the role is dropped, like snowflake does [1]:

- [1]: https://docs.snowflake.com/en/sql-reference/sql/drop-role.html )

[2022-04-12 12:12] xudong963 commented on #4653
Thank you @doki23    --btw, here is a nice article: https://duckdb.org/2021/10/13/windowing.html, may be helpful

[2022-04-12 12:16] xudong963 commented on #4814
SM means storage meta? @youngsofun

[2022-04-12 12:37] youngsofun commented on #4814
state machine @xudong963

[2022-04-12 13:19] #4803 closed

[2022-04-13 01:14] BohuTANG opened #4826 "Hive as an External Data Source"
**Summary**

To integration with Hive, Databend has two ways:
1. Introduce a new **Hive Database Engine**, like github engine did:[using github database engine](https://databend.rs/doc/learn/analyze-github-repo-with-databend), this way is not flexible, for example: the parameters settings and if we have many hive databases that need to be created multiple times
2. Introduce a new **Hive External S

[2022-04-13 01:18] zhang2014 commented on #4826
Add tasks: implement hive supported file formats(https://cwiki.apache.org/confluence/display/Hive/FileFormats).

[2022-04-13 02:44] sandflee commented on #4826
excited to see the process，it would be very useful to accelerate the query on exsiting hive data。
there could some work to compatible  Hive SQL （syntax, datatypes，funcs，udf）

[2022-04-13 02:50] BohuTANG opened #4827 "Grant role to role does not work"
**Summary**

[code]

It allows grant role to role but the grants show is not work, does Databend supports `grant role to role` or not?

[2022-04-13 03:36] Veeupup commented on #4651
This feature may have a lot of changes with functions and query files (hundreds of files), because we need to pass the parameter `timezone` from `query` to `functions`. And in the same time, we need to change the logical of date functions, so we need to change it into smaller tasks to make it.

- [ ] pass parameter from `QueryContext` to `FunctionContext` (for now, only for`timezone`)
- [ ] add se

[2022-04-13 03:36] TCeason opened #4828 "Feature: Create database support collate and character set"
**Summary**

In dbeaver create database send this SQL

[code]

So if we want to use dbeaver to create a database we also should support this SQL.

[2022-04-13 03:37] TCeason commented on #4828
Link to #4813 #4581

[2022-04-13 03:37] TCeason commented on #4581
Also link to #4828

[2022-04-13 03:48] TCeason commented on #4813
For `show charset`, we need a sys view : character_sets

[code]

[2022-04-13 03:50] TCeason commented on #4813
For `show collation` we need sys view COLLATION_NAME

[2022-04-13 03:55] #4807 closed

[2022-04-13 03:56] TCeason opened #4829 "Feature: add a column for sys view TABLES."
**Summary**

[code]

return err:

ERROR 1105 (HY000): Code: 1058, displayText = Unknown column TABLE_COMMENT.

[2022-04-13 05:31] #4829 closed

[2022-04-13 06:03] TCeason commented on #4813
collation will be support in this issue: #4712

[2022-04-13 06:03] TCeason opened #4832 "bug: CREATE DATABASE db.t should failed but succeed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

The newest version.
Server version: 8.0.26-v0.2.1-alpha-2be4647-simd(rust-1.61.0-nightly-2022-04-13T04:45:13.409422939Z) 0

### What's Wrong?

CREATE DATABASE db.t should fail but succeed.

In MySQL

[code]

But in databend the query will succee

[2022-04-13 06:51] drmingdrmer opened #4834 "For a historical reason, `Cmd` does not utilize `XXXReq`. But instead in our codebase it manually converts `XXXReq` to a corresponding `Cmd`."
For a historical reason, `Cmd` does not utilize `XXXReq`. But instead in our codebase it manually converts `XXXReq` to a corresponding `Cmd`.

It would be convenient to let `Cmd` have a variant that includes an `XXXReq` in it. E.g.:
[code]

This would save a lot of trouble. :D

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/databend/pull/4816#discussion_r848332518_

[2022-04-13 07:17] youngsofun commented on #4834
/assignme

[2022-04-13 07:28] BohuTANG opened #4835 "data_block_group_by_hash.rs" panic.line=325 panic.column=22"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

[code]

### How to Reproduce?

Create table:
[code]

Insert into datas:
[code]

Select:
[code]

If the server panic, client can get the correct ERROR info here:
[code]

### Are you willing to submit PR?

- [ ] Yes I am w

[2022-04-13 07:30] #4832 closed

[2022-04-13 07:32] Junnplus commented on #4827
Yep, is supported.

[2022-04-13 07:34] Junnplus commented on #4827
It's the same issue as https://github.com/datafuselabs/databend/issues/4815, I will fix it.

[2022-04-13 07:42] #4827 closed

[2022-04-13 08:08] BohuTANG opened #4836 "Improvement `displayText = Unknown UDF xx (while in analyze select projection)`"
**Summary**

[code]

It would be better like:
[code]

[2022-04-13 08:42] zzzhangqi opened #4837 "Application for cooperation from Goodrain open source community"
Hello,I'm from the open source community [Goodrain](https://github.com/goodrain).The open source project we operate is [Rainbond](https://github.com/goodrain/rainbond).Our [website](https://www.rainbond.com/).

We have many users using databend.So we provide a choice for these users through Rainbond through our own application market mechanism.One-click deployment of databend available for product

[2022-04-13 09:02] BohuTANG opened #4839 "Support: ALTER DATABASE [ IF EXISTS ] <name> RENAME TO <new_db_name>"
**Summary**

Support for alter database name, syntax:
[code]

[2022-04-13 09:10] TCeason opened #4840 "Feature: Support select expr as `alias name`"
**Summary**

Link to this issue #[26](https://github.com/datafuse-extras/sqlparser-rs/issues/26)

[2022-04-13 09:15] youngsofun commented on #4834
is refactor like this enough?

https://github.com/youngsofun/databend/commit/0e844ab05001a49c43752d7bc893053abf2a5b5f

[2022-04-13 10:21] #4840 closed

[2022-04-13 10:33] drmingdrmer commented on #4834
It looks good:D.
Feel free to fire a **draft** PR instead of a single commit. A PR would be much easier to review and discuss.

[2022-04-13 13:32] BohuTANG commented on #4835
@sundy-li , is it a way to escape the error from the closure?
https://github.com/datafuselabs/databend/blob/d4baa9c928284e8c491488519bd24d610421fc83/common/datablocks/src/kernels/data_block_group_by_hash.rs#L321-L325

Found some `.numeric_byte_size().unwrap()` in data_block_group_by_hash.rs, seems all of them is in a closure.

[2022-04-13 13:49] BohuTANG commented on #4835
This works:
[code]

[2022-04-13 15:06] zhyass opened #4847 "Improve: replace FactoryCreator with FactoryCreatorWithTypes for functions"
1. Replace FactoryCreator with FactoryCreatorWithTypes.
2. Rename FactoryCreatorWithTypes.
3. New `return_type` in `Function` trait.
[code]
4. Refactor some codes in functions.
5. #4848

[2022-04-13 15:15] zhyass opened #4848 "bug: `and` `or` get different result in databend"
In `databend`:
[code]

In `MySQL`:
[code]

In `Clickhouse`:
[code]

[2022-04-14 00:44] #4847 closed

[2022-04-14 00:44] #4848 closed

[2022-04-14 00:47] #4835 closed

[2022-04-14 03:30] fkuner commented on #4773
/assignme

[2022-04-14 06:47] BohuTANG commented on #4581
Drop database has some issues:
[code]

[2022-04-14 06:51] TCeason commented on #4581
yes, this is a known problem.

[2022-04-14 07:01] TCeason opened #4854 "Feature: Support use a database with keyword `SCHEMA`"
**Summary**

As the title, we want to support sql syntax

[code]

[2022-04-14 08:00] TCeason opened #4856 "bug: `select expr` not support the expr with a couple of backquoted"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

Server version: 8.0.26-v0.2.1-alpha-1cfee51-simd(rust-1.61.0-nightly-2022-04-14T07:03:47.465615678Z) 0

### What's Wrong?

select expr not support token backquoted.

More info link to this [issue](https://github.com/datafuse-extras/sqlparser-rs/

[2022-04-14 08:38] TCeason opened #4858 "bug: Can not query database2's table when current database is database1"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

│ DatabendQuery v0.2.1-alpha-1cfee51-simd(rust-1.61.0-nightly-2022-04-14T08:07:59.646343076Z) │

### What's Wrong?

Can not query database2's table when current database is database2

### How to Reproduce?

[code]

### Are you willing to submit

[2022-04-14 08:49] #4308 closed

[2022-04-14 08:56] TCeason commented on #4839
Can I try to fix this issue?

[2022-04-14 10:22] BohuTANG opened #4860 "Empty query: /*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;"
**Summary**

This is ok:
[code]

Error:
[code]

Server error log:
[code]

[2022-04-14 10:31] BohuTANG commented on #4860
Looks we should add a `EmptyInterpreter` for the Empty query which parsed to the EmptyPlan.

[2022-04-14 10:45] #4856 closed

[2022-04-14 11:01] wubx opened #4861 "Compatibility MySQL insert"
**Summary**
want databend can support load mydumer | mysqldump MySQL data.

[code]

ERROR: No query specified

Expect：
**make that insert work.**

[code]

[2022-04-14 11:06] BohuTANG commented on #4861
Seems we should use MySQL dialect sqlparser for MySQL handler, then fix this problem in the MySQL dialect.

An old issue about it:
https://github.com/datafuselabs/databend/issues/1551

[2022-04-15 01:08] cadl commented on #4860
/assignme

[2022-04-15 01:47] cadl commented on #4860
@BohuTANG I am a little confused about this.

For the  query `/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;`, MySQL will follow `!40101` command to execute the remaining comment part.
Without `/*!40101*/`, MySQL will also return an `No query specified` error.

Do we have a function like `MySQL /*!40101*/`? If not,  do we need to always return `Query OK, 0 rows affected` in th

[2022-04-15 02:18] drmingdrmer opened #4864 "Two frequently failed case"
and the following 2 always fail

[code]

_Originally posted by @youngsofun in https://github.com/datafuselabs/databend/issues/4859#issuecomment-1099778093_

[2022-04-15 03:10] BohuTANG commented on #4860
This is not a function, it is from some MySQL tools such as mysqldump.
For the query: `MySQL /*!40101*/`
1. mysql client send to databend-query
2. databend-query parse and build plan with https://github.com/datafuselabs/databend/blob/6e8d115db94010f00f9d705eb2fb7e9a0e4df93c/query/src/sql/plan_parser.rs#L57
3. (TODO) add a EmptyInterpreter for EmptyPlan
... ...
4. Returns OK in EmptyInterpreter

Th

[2022-04-15 03:35] flaneur2020 opened #4865 "Feature: allow passing a endpoint list to the metasrv client in a HA manner"
**Summary**

it may resembles with the etcd-client:

https://github.com/etcd-io/etcd/tree/main/client/v3#get-started

an endpoint list can ensure the high availability of metasrv without any intermediate load balancer or virtual ip. when an endpoint dies, the client may simply retry another living endpoint.

[2022-04-15 03:57] BohuTANG commented on #4865
metasrv should add a new api for the grpc client in databend-query to fetch all the nodes of the metasrv, then roll next if the current metasrv endpoint is not work.
The user never care about the vip which front of metasrv cluster anymore.

cc @drmingdrmer @ariesdevil

[2022-04-15 04:14] drmingdrmer commented on #4865
Agree.
And let me elaborate it:

The endpoint list is not for HA, it is for easy maintenance.
A node will be added to a cluster or removed from it. The list will finally become outdated.

The HA is achieved with a `ForwardToLeader` response from an etcd/metasrv node, to inform the client to connect to the current effective leader.

The endpoint list is only used when starting up: to reduce the cha

[2022-04-15 04:23] flaneur2020 commented on #4865
outdated is not really a problem with a static endpoint list in practise, the client endpoint list might looks like `etcd01:36001,etcd02:36002,etcd03:36003`, each endpoint is a DNS instead of hostname or ip. each DNS name like `etcd01` can be changed to another host on removing/adding a node in the cluster.

in the system administrator side, she can schedule a cluster maintaince with a DNS change

[2022-04-15 04:27] BohuTANG commented on #4865
@flaneur2020 ,
It looks not a normal user case, it's administrator case:
1. You should always know the all the metasrv nodes and configured them to databend-quey.toml
2. DNS is also another part the user need to care or maintaining, why we need it? :D

Let's keep it more simple.

[2022-04-15 04:31] flaneur2020 commented on #4865
in the VM or phsical machine case, people rarely removes/add a host, she can put down the zk01, upgrade, then add it back, so the DNS is not really needed in a simple deployment.

in the kubenetes environment, we can keep the host name consistent with the StatefulSet, each pod with a standalone IP may leaves or joined into the cluster, but the Pod name with a DNS name would always keep consistent.

[2022-04-15 05:41] GrapeBaBa opened #4867 "Remove stateless test data dir when execute `make clean`"
Remove stateless test data dir when execute `make clean`

_Originally posted by @Xuanwo in https://github.com/datafuselabs/opendal/issues/250#issuecomment-1099839708_

[2022-04-15 05:43] sundy-li opened #4868 "Feature: using enum_dispatch to represent data_type"
**Summary**

Description for this feature.

https://docs.rs/enum_dispatch/latest/enum_dispatch/index.html

Pros to use `enum_dispatch`:

1. Better performance (static dispatch, [compiler_optimized](https://docs.rs/enum_dispatch/latest/enum_dispatch/index.html#compiler_optimized)).
2. Avoid using `typetag::serde` to serde.
3. Automatic `From` and `TryInto` implementations (No downcast  unwrap anymo

[2022-04-15 05:51] GrapeBaBa commented on #4867
/assignme

[2022-04-15 06:13] #4834 closed

[2022-04-15 06:26] Xuanwo commented on #4868
It's really cool!

[2022-04-15 06:47] sundy-li opened #4871 "Feature: MySQL handler Kill Query"
**Summary**

Description for this feature.

Reproduce steps:

Running continous queries using MySQL client and pressed Ctrl + C:

[code]

<img width="1646" alt="image" src="https://user-images.githubusercontent.com/3325189/163532559-13cb7bb8-8302-41a7-a424-553d16631f1a.png">

It's same issue as #3997

[2022-04-15 06:48] Xuanwo opened #4872 "proposal: Put all databend stuffs into one folder instead"
BTW, I don't like the current style that puts too many folders in `PWD`.

![image](https://user-images.githubusercontent.com/5351546/163531749-294242f3-2cd4-4ec2-ab27-b8939d1d793b.png)

Is it a good idea to put all our stuff into one folder like `.databend` instead? @BohuTANG

_Originally posted by @Xuanwo in https://github.com/datafuselabs/databend/issues/4870#issuecomment-1099895413_

[2022-04-15 06:49] #4867 closed

[2022-04-15 07:35] BohuTANG commented on #4860
Hi @cadl

This issue has some architecture background that may be a bit challenge for `good first issue`, so I made a workable patch for it for your reference: https://github.com/BohuTANG/datafuse/commit/a43013c7bcdea4fc6dd8d1b84e88f763ece475f3

[2022-04-15 07:53] youngsofun commented on #4521
/assignme

[2022-04-15 08:04] flaneur2020 commented on #4521
cc @Chasen-Zhang this may help the issues we talked yesterday

[2022-04-15 08:11] Junnplus commented on #4823
Can we just clear role cache from `the role_cache_manager`?

[2022-04-15 08:20] BohuTANG opened #4874 "Datetime type `attempt to multiply with overflow` from chrono"
**Summary**

[code]

Server error log:
[code]

[2022-04-15 08:24] BohuTANG commented on #4874
MySQL:
[code]

[2022-04-15 08:29] sundy-li commented on #4874
DateTime64 should be used, https://github.com/datafuselabs/databend/blob/2f6447a45fc893725c2436bbecc6bf6d0e25406f/docs/doc/30-reference/10-data-types/20-data-type-time-date-types.md

And it's better to throw errors rather than panic.

[2022-04-15 08:35] BohuTANG commented on #4874
Right, this issue prefer an error not panic with all time type.

[2022-04-15 08:58] sundy-li commented on #4874
Two ways to avoid:

1. `Mul` into `WrappingMul`, this will overflow the results as default.

[code]
3.  pass `-Z force-overflow-checks=off` to builder.

[2022-04-15 09:30] cadl commented on #4860
Thanks so much!! ❤️

[2022-04-15 09:37] Junnplus opened #4875 "Feature: create user if not exists on JWT authenticate"
**Summary**

Create user if not exists on JWT authenticate.

[2022-04-15 10:13] #4815 closed

[2022-04-15 10:56] BohuTANG opened #4876 "http reset api not log the error"
**Summary**

1) Start the databend-query
2) Send a  request
[code]
Response:
[code]

The server log:
[code]

We should log the error to databend-query log not return it to the client(maybe the client only need the error message not the stacktrace), then it will be analyzed by our monitor system.

[2022-04-15 11:09] BohuTANG opened #4877 "Update sqlparser-rs to latest to support Unsigned*"
**Summary**

sqlparser-rs is support unsigned numeric type:
https://github.com/sqlparser-rs/sqlparser-rs/blob/994b86a45c632c092993371e53cfb23a823dfaa2/src/ast/data_type.rs#L49-L61

We should update it and then support the unsigned syntax:
[code]

[2022-04-15 21:07] DCjanus commented on #4362
Sorry for delay, there is so many boring jobs in my official job to lose energy. I've noticed that my friend @Xuanwo  has been took this issue, that's really great.

About this issue, there is draft in my mind: keep config types that drived with `clap::Parser` or `clap::Args`, and implement `config::Source` to `databend_query::config::Config`, and then, code would be like this:

[code]

And boom,

[2022-04-15 21:57] DCjanus opened #4879 "Feature: add deps.rs badge to README to keep track about dependencies outdated"
There this a public service `deps.rs` to track Rust project dependencies.

If everything is ok, there would be a green badge, if there is dependencies is outdated, the badge would be yellow, and if any dependency found CVE, badge would be red and everyone who seeing this would found it and fix it.

Introduce the badge is easy:

[![dependency status](https://deps.rs/repo/github/datafuselabs/databen

[2022-04-15 22:01] DCjanus commented on #4879
I've noticed that location of badges in README is in HTML, which means that is been designed, I'm not sure where would be able to add this badge

[2022-04-15 23:48] BohuTANG commented on #4874
Need Min and Max bound  checking.

[2022-04-16 00:31] sundy-li commented on #4879
Good idea, but [chrono ](https://deps.rs/crate/chrono/0.4.19) is insecure.

We did not find any better crate to replace it.

[2022-04-16 02:01] BohuTANG commented on #4877
It's hard to merge with upstream, better to back port.

[2022-04-16 02:31] PsiACE commented on #4879
for outdated: https://databend.rs/doc/faq/routine-maintenance

for  audit: https://github.com/datafuselabs/databend/blob/176f3256f0c0a10fabd00f658aa6a8349aa7bc69/.github/actions/check/action.yml#L39

[2022-04-16 03:27] youngsofun commented on #4876
@BohuTANG

agree

----

it may overlap with `system.query_log`

currently,  for http handler,  mainly 3 type of errors:

##  bad http request (bad json, auth fail ...),

http not return 200
there will be a WARN log， should I turn it to ERROR?

[code]

## interperter error

we already have error info (including backtrace) in `system.query_log`

## others( most sql parse error)

currently neither in

[2022-04-16 05:32] BohuTANG opened #4882 "Better function name style"
**Summary**

In Databend, most function names are defined like:
[code]

For the name of the function, most database use `a_b`(a and b are single word):
[code]
Snowflake: https://docs.snowflake.com/en/sql-reference/functions-all.html
SQLServer: https://docs.microsoft.com/en-us/sql/t-sql/functions/checksum-agg-transact-sql?view=sql-server-ver15

The names of Databend functions should be standardized

[2022-04-16 06:00] #4877 closed

[2022-04-16 07:23] Xuanwo commented on #4362
I happen to have similar thoughts: https://github.com/mehcode/config-rs/issues/315

[2022-04-16 08:15] BohuTANG opened #4885 "function arguments length check not work"
**Summary**

[code]

server panic log:
[code]

[2022-04-16 08:29] sundy-li commented on #4885
It's related to #4688 .  cc @zhyass

[2022-04-16 08:53] TCeason opened #4886 "feature:How to add a new dev set?"
The error is:
[code]

For new setup tools, we should open a PR for `clickhouse_driver` first, then merge to this PR after main branch docker build finished, there is a demo(install sqlalchemy module a few days ago) : https://github.com/datafuselabs/databend/pull/4775

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/4883#issuecomment-1100608776_

[2022-04-16 08:54] TCeason commented on #4886
In this pr, I need add a new python dep `clickhouse_driver`, but the CI always err with not found `clickhouse_driver`.

So we can do the same thing like this comment.

[2022-04-16 08:55] #4886 closed

[2022-04-16 11:06] #4776 closed

[2022-04-16 11:06] #4885 closed

[2022-04-16 12:55] #4797 closed

[2022-04-16 20:33] #4879 closed

[2022-04-16 20:48] DCjanus commented on #3066
Looks like this issue should be closed?

[2022-04-16 22:25] #3066 closed

[2022-04-17 00:07] BohuTANG commented on #4860
@cadl

Hi, any plan on this issue? If you don't mind, I'll continue this work today and try to put it in tomorrow's release :D

[2022-04-17 00:15] oslet opened #4890 "bug: metadata error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main:
commitid: d6fe2d1e17ae4ebc984eb44be48201115350c725
tag: v0.7.20-nightly

### What's Wrong?

[code]

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-04-17 00:21] BohuTANG commented on #4890
Hi, @oslet

Thank you for the information.
When your metadata created first time?

Is there any way to get the metadata version and time in the disk? cc @drmingdrmer

[2022-04-17 00:24] cadl commented on #4860
sorry，A little busy past two days🙈. I will push A PR today

[2022-04-17 00:52] BohuTANG opened #4891 "Group by not work for negative"
**Summary**

[code]

This is works:
[code]

[2022-04-17 01:25] BohuTANG commented on #4891
I have add a new `data type` stateless category: https://github.com/datafuselabs/databend/pull/4892

We should do some checks for each data type(4892 is just an outline draft, there is still a lot of work to do, I will first merge it):
* Bound check
* Conversion check(Explicit Conversion and Implicit Conversion)
* Group by check
* Others?

[2022-04-17 02:26] #4861 closed

[2022-04-17 02:41] drmingdrmer commented on #4890
It must be upgraded and the data format has been changed in:
- #4816

[2022-04-17 02:43] drmingdrmer commented on #4890
This upgrade added field `if_xxx_exist` to metadata.
Let me find a way to solve this issue 🤔

[2022-04-17 02:49] oslet commented on #4890
It is recommended to add scheduled backup functions, such as hourly backup configuration to the object storage directory

[2022-04-17 02:53] drmingdrmer commented on #4890
If you are using a single-node metasvr a backup may be necessary.

But a backup should be considered only for data durability. It may not help in case data format is changed.:(

[2022-04-17 02:57] BohuTANG commented on #4890
@oslet

Agreed.
The metadata is small now(only table schema, user and fuse engine root snapshot), but it's very very important, I think the metasrv cluster for HA and Data Reliability, but this is not enough, the data maybe corruption by the metasrv bug.

I agree with you to backup metadata to object or other places with version, this is a solid last resort for the metasrv.

[2022-04-17 03:01] BohuTANG commented on #4890
@drmingdrmer
metasrv also need to add some tests to check the version compatibly for the current version with the previous version of metadata changed.
cc @drmingdrmer

[2022-04-17 03:12] #1551 closed

[2022-04-17 05:53] #4860 closed

[2022-04-17 11:56] BohuTANG opened #4896 "`select null::boolean` should return NULL"
**Summary**

This should be a type convert bug.

Databend:
[code]

Snowflake or others:
[code]

[2022-04-17 12:41] sundy-li commented on #4896
`boolean` is non-nullable datatype, so we can't return null.

 We can did it as ClickHouse/Firebolt, to throw exceptions about this SQL.

[2022-04-17 14:18] BohuTANG opened #4899 "Not yet implemented: Casting from LargeBinary to Boolean not supported."
**Summary**

[code]

Client error:
[code]

Server error:
[code]

Databend should support string Conversion for boolean type.

[2022-04-17 14:43] sundy-li commented on #4891
Bugs to u8/u16 keys in hashmap.
[code]

[2022-04-17 14:55] sundy-li commented on #4891
[code]

Seems related to `u8::MAX`, should be `u8::MAX as usize + 1`

[2022-04-17 14:57] chowc commented on #4723
/assign

[2022-04-18 00:35] BohuTANG opened #4903 "Column with type: Variant does not support take (while in processor thread 0)"
**Summary**

Setup:
[code]

Query:
[code]

[2022-04-18 01:14] zhang2014 commented on #2589
fixed by https://github.com/datafuselabs/databend/pull/4845

[2022-04-18 01:14] #2589 closed

[2022-04-18 02:37] sundy-li commented on #4899
String Conversion for boolean type, but what's the rule?

I would like to throw error and make the exception msg better.

[2022-04-18 04:07] BohuTANG opened #4912 "Simplify date/datetime datatypes"
### Discussed in https://github.com/datafuselabs/databend/discussions/4909

<div type='discussions-op-text'>

<sup>Originally posted by **sundy-li** April 18, 2022</sup>
Proposal:

1.  Union `Date`(`Date16`)    `Date32` to be `Date` type, which uses i32 as physical datatype.
2.   Union `DateTime` (`DateTime32`), `DateTime64` to be `DateTime` type, which uses i64 as physical datatype.</div>

[2022-04-18 04:10] BohuTANG commented on #4912
I will do some tasks afater this issue done:
1. Rename the datetime functions from xY to x_y
2. Datetime type conversion and bound-check in stateless test

[2022-04-18 04:20] dantengsky opened #4913 "Consider removing storage_occ_* from settings"
[code]

We should treat `storage_occ_*`  as the internal settings, make user won't care about them.
We can default value for them first, if the users need setting them by mannual someday, add them back to system.settings.

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/discussions/4910_

[2022-04-18 04:26] BohuTANG opened #4914 "New data type display for the user"
**Summary**

All General-Purpose Data Types after refine(including datetime #4912 ):

| Syntax               | Size(Bytes)      | Min Value              | Max Value   | Description |
----------------------| --------- | ---------------------- | ----------- | -------|
| BOOLEAN              | 1 |                   | | Logical boolean (true/false)
| TINYINT              | 1 |  -128                  |

[2022-04-18 04:38] #4891 closed

[2022-04-18 07:12] GrapeBaBa commented on #3994
@BohuTANG I prepare starting this task, what is your latest suggestion here after view feature merged.

[2022-04-18 07:17] leiysky opened #4916 "[RFC] SQL grammar spec"
A formal SQL specification is needed by parser.

[2022-04-18 07:27] flaneur2020 commented on #4916
can we embed some docs about statement in the grammar spec?

so we can generate the docs like https://databend.rs/doc/reference/sql/ddl/stage/ddl-create-stage from the spec, maybe this could make it easier to keep the docs consistent with the code.

[2022-04-18 07:30] leiysky commented on #4916
# Statement list

Statements can be categorized into:

- Query statements, e.g. `SELECT * FROM t`.
- DDL statements, e.g. `CREATE TABLE t(a INT)`, `ALTER TABLE t(a INT)`.
- DML statements, e.g. `INSERT INTO t VALUES(...)`, `COPY INTO t FROM ...`
- Other operational statements, e.g. `SHOW TABLES`

Here we give the full list of statements in EBNF form.

## Query statements
TODO

[2022-04-18 07:33] leiysky commented on #4916
Yes, it can be integrated with CI or else in the future.

This RFC is aiming to provide a formal specification of Databend SQL grammar. The documentation work won't be involved for now.

[2022-04-18 08:12] #4896 closed

[2022-04-18 08:12] #4899 closed

[2022-04-18 08:25] GrapeBaBa commented on #4602
Except ClickHouse any other database implement this optimization?

[2022-04-18 08:29] Chasen-Zhang opened #4917 "Feature: Databend is expected to support changing database names"
**Summary**
Databend now does not support changing database names

expected outcome:

RENAME DATABASE test_database_name TO test_database_name_new;
OR
ALERT DATABASE test_database_name RENAME TO test_database_name_new;

RENAME...TO...
ALERT...RENAME TO...

[2022-04-18 08:34] wubx commented on #4917
duplicate https://github.com/datafuselabs/databend/issues/4839

[2022-04-18 09:17] drmingdrmer opened #4918 "Transaction API. High prio"
metasrv provides a small language with which a complete tx can be expressed as this demo illustrated(embedded tx support solution and the tx-language solution).

- [ ] Define a struct(maybe `Statements` to describe transaction). This can be considered a small script language.
- [ ] Define a runtime that interprets and executes the transaction defined with `Statements`.
- [ ] Define format of trans

[2022-04-18 09:50] GrapeBaBa commented on #4836
/assignme

[2022-04-18 10:05] BohuTANG commented on #3994
@GrapeBaBa
Cool, Thanks for taking, my suggestion is: just do it :D

[2022-04-18 10:27] BohuTANG opened #4920 "Document for databend-metasrv"
**Summary**

databend-meta is so important, we are trying to make it as easy to use and zero maintenance as possible,
We can add a chapter in [`operations`](https://databend.rs/doc/operations) for metasrv, here is some chapters that come to mind:

###  How to Deploy a Single databend-meta(DONE)
For example https://databend.rs/doc/deploy/s3#2-deploy-databend-meta-standalone

###  How to Deploy data

[2022-04-18 11:11] wubx opened #4922 "bug: Drop table OOM"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

https://repo.databend.rs/databend/v0.7.21-nightly/databend-v0.7.21-nightly-x86_64-unknown-linux-gnu.tar.gz

### What's Wrong?

MySQL [wubx]> drop table sbtest1_bak;

ERROR 2013 (HY000): Lost connection to server during query

demsg:

[641809.800

[2022-04-18 11:15] dantengsky commented on #4523
tacking back to issue #4922

[2022-04-18 12:57] #4890 closed

[2022-04-18 12:57] leiysky commented on #4916
## Reserved words

- SELECT
- DISTINCT
- FROM
- AS
- WHERE
- GROUP
- BY
- HAVING
- ORDER
- LIMIT
- ASC
- DESC
- Wildcard ("*")
- Paren ("()")
- INNER
- LEFT
- RIGHT
- FULL
- OUTER
- JOIN
- ON
- USING
- NATURAL
- CREATE
- TABLE
- IF
- NOT
- EXISTS
- BOOLEAN
- TINYINT
- SMALLINT
- INT
- BIGINT
- UNSIGNED
- FLOAT
- DOUBLE
- DATE
- DATETIME
- TIMESTAMP
- VARCHAR
- ARRAY
- OBJECT
- VARIANT
- NULL
- DEF

[2022-04-18 13:59] sundy-li commented on #4914
How about making unsigned datatypes out of datatype as MySQL/Snowflake/Firebolt/Postgresql ?

`unsigned` is just a constraint and we should validate the values before insertion.

[2022-04-18 14:11] #4836 closed

[2022-04-18 14:28] flaneur2020 commented on #4918
can i take this issue?

i have got some issues about how to maintain the data relationships in an transactional manner like https://github.com/datafuselabs/databend/issues/4823 (delete a role, but the users still have the leaked role granted), it would be much easier to get these data relationships cleaner with these transactional apis

[2022-04-18 14:44] drmingdrmer commented on #4918
Of course my man! Thank you so much!
This is still kind of a draft and an elaborately detailed design can be added if required.

[2022-04-18 14:56] flaneur2020 commented on #4918
thank you, i'd take a try transform the existed create_table-like cases into the mini-tx-language representations before coding the implementations, maybe there're some possbilities in the implementations with the mini-language about the existed procedures. 🤝

[2022-04-18 14:56] flaneur2020 commented on #4918
/assignme

[2022-04-18 14:58] drmingdrmer commented on #4918
That will be the final great goal:D

[2022-04-18 15:07] BohuTANG commented on #4914
Agreed, unsigned bus a constraint not a general data type.

[2022-04-18 15:09] drmingdrmer commented on #4918
BTW, the pseudo-code above lacks `seq` support.

Every record value in metasrv is a `SeqV<T>`, which contains a seq number(AKA version), some meta data and the value itself:
[code]

The transaction mini-lang needs several commands that manipulate `SeqV`.

// Since there is already the famous `pua-lang` it looks like we can not name it puny-user-action lang. 😭

[2022-04-19 00:28] BohuTANG commented on #4890
Hi @oslet

We have made databend-meta forward compatible from v0.7.22, please use https://github.com/datafuselabs/databend/releases/tag/v0.7.22-nightly

[2022-04-19 00:36] BohuTANG commented on #4918
It seems like need a simple vm with a few opcodes like https://github.com/vectordotdev/vector/blob/master/lib/vrl/compiler/src/vm/machine.rs ?

[2022-04-19 00:58] BohuTANG opened #4925 "create table show `comment`"
**Summary**

[code]

[2022-04-19 02:58] wubx opened #4927 "Provide detail information error about stream load"
[code]
They're not enough information that can let me know what's wrong. Please provide more detailed information.

[2022-04-19 03:27] flaneur2020 opened #4928 "Support JWT with ES512 algorithm"
**Summary**

ECC(Elliptic-curve cryptography) has a stronger encryption strength than RSA at the same key size.

currently our code base supports RSA256 jwt keys, maybe it's feasible to support the ECC512 keys?

[2022-04-19 03:58] sundy-li commented on #4914
It's a little complicated to remove unsigned datatypes.

1. `cast(x as unsigned)` is a little difficult to implement as we don't have unsigned types/columns.
2. The SQL parser already has unsigned datatype.
3. Some function may need this unsigned datatypes, like `abs`.

So let's keep them.

I created pr to better display the datatype more like MySQL.

[2022-04-19 04:52] drmingdrmer opened #4931 "Tracking issue: metasrv maintenance"
### Backward compatible upgrade:

- [x] #4901
- [x] #4918
- [x] #4949
- [x] #4948
- [x] #7189
- [x] #4950
- [x] #4952

### Maintenance

There are already APIs providing cluster config info such as leader and member.
Needs more load metrics

- [x] #4938
- [x] #4988

### Doc:
- [x] #4920

[2022-04-19 04:52] drmingdrmer commented on #4931
@lichuang @ariesdevil any suggetions? 🤔

[2022-04-19 05:30] #4914 closed

[2022-04-19 05:32] ariesdevil commented on #4931
Logical backup that @BohuTANG mentioned

[2022-04-19 05:37] ariesdevil commented on #4918
FYI graphql way: https://hasura.io/docs/latest/graphql/core/databases/postgres/mutations/multiple-mutations/

[2022-04-19 05:49] lichuang commented on #4931
add Compatibility data unit test into daily CI, every time upgrade the format, MUST add corresponding unit test.

add more metrics of metasrv, like etcd.

[2022-04-19 06:13] Veeupup commented on #4912
For now, our parser do not support `DateTime(3)/Datetime(6)/DateTime(9)`, for common parse when pasring datatypw.

So now using `DateTime_3/Datetime_6/DateTime_9` to display differnet precision. And for `DateTime_0` has a alias to `DateTime`.

[2022-04-19 06:15] flaneur2020 commented on #4918
here's a etcd transaction API, it seems quite simple, only a encoded IF and THEN or ELSE operation:

https://etcd.io/docs/v3.4/learning/api/#transaction

[2022-04-19 07:53] #4917 closed

[2022-04-19 08:02] sunisdown commented on #4925
/assignme

[2022-04-19 08:05] #4875 closed

[2022-04-19 08:07] lichuang commented on #4918
One brain storm: may be can introduce Lua VM into metasrv, like redis?

[2022-04-19 08:08] Junnplus opened #4935 "Rename CreateUser to EnsureUser on JWT CustomClaims"
maybe we can call it  ```ensure_user```?  I saw it a lot in puppet.  or "create_user_if_not_exist".

seems currently this `create_user` provides only a `basic` template for a **newly-seen u**ser,  so the value in **it take effective** only when user dose not exist. and it will not **override** behavior specified by an existing userInfo.

So, I prefer to separate it from other fields，which while be

[2022-04-19 08:24] flaneur2020 commented on #4918
script is a way to make transaction serializable (meets the Isolation from ACID), but it might make things hard to keep consistent across different nodes, it requires every compution is **determined**, otherwise any undertermined behaviour would be dangerous in the raft replication case, which might corrupt the data across the nodes:

[code]

IMO, an restricted operations set other than a turing c

[2022-04-19 08:27] Junnplus opened #4936 "Feature: introducting tenant_id in JWT CustomClaims"
**Summary**

Consider introducing an `InjectContext` in JWT `CustomClaims`:
[code]

Now the query node in management mode cannot switch tenant, we can achieve it through `InjectContext`.

[2022-04-19 08:33] Junnplus commented on #4936
Any ideas? @flaneur2020 @BohuTANG @ZhiHanZ

[2022-04-19 08:49] flaneur2020 commented on #4936
is it feasible to put a plain `tenant_id` field into the `CustomClaims` instead of nested inside an InjectContext?

(sort of Law of Demeter?  >v<)

[2022-04-19 08:55] lichuang opened #4938 "metrics API providing requests/sec, active watchers, outstanding(uncommitted) raft logs, number of raft logs, state machine size etc."
- [x] #5601
- [x] #5841
- [x] #5977
- [x] #6070
- [x] #6082

[2022-04-19 08:56] Junnplus commented on #4936
Like `EnsureUser` in JWT `CustomClaims`, it is necessary to introduce a separate structure.

[2022-04-19 09:00] flaneur2020 commented on #4936
is it the restriction from jwt library? q.q

[2022-04-19 09:04] sundy-li commented on #4927
`not found` is HTTP 404 result.  You should check the HTTP port.

To debug curl, you can use:

[code]

[2022-04-19 09:04] #4927 closed

[2022-04-19 09:27] Chasen-Zhang opened #4940 "Feature: Supports Table Clone in Databend"
**Summary**
Databend now doesn't support Table Clone

**Expected:**
`CREATE TABLE test_table_clone CLONE test_table;`
After executing this statement, we can copy both the table structure and data of test_table to test_table_clone, although the kernel may reuse the same data.

[2022-04-19 09:31] sunisdown commented on #4707
this issue is duplicated with #4703 , one of these two issues can be closed.

[2022-04-19 09:32] Junnplus commented on #4936
We discussed this issue offline, it is determined that the `tenant_id` is directly placed in CustomClaims without introducing a new structure.

[2022-04-19 10:54] wubx commented on #4927
It's a good skill. Thanks, @sundy-li.

[2022-04-19 11:09] zhang2014 opened #4942 "New processor performance degradation"
**Summary**
[code]

[2022-04-19 11:31] #4707 closed

[2022-04-19 12:46] PsiACE commented on #4868
/assignme

I believe it will help me understand more about datavalues

[2022-04-19 13:58] xudong963 opened #4945 "refactor of the directory structure in `common/ast`"
**Summary**
as the title

[2022-04-19 15:24] zhyass opened #4946 "Tracking issue: table cluster key"
Cluster key is to organize the storage of data to better suit expected queries. The goals are to improve query performance whilst reducing the system resources required to execute queries.

#4268

## clustering
- [x] https://github.com/datafuselabs/databend/issues/6857
- [x] https://github.com/datafuselabs/databend/pull/5194
- [x] https://github.com/datafuselabs/databend/issues/5473

## syntax
- [

[2022-04-19 16:14] drmingdrmer opened #4948 "API: Add version number field to metasrv API. Client provides its version and the server provides its compatbile version."

[2022-04-19 16:14] drmingdrmer opened #4949 "Compatibility test: download an old binary, run a sample workload, check state."

[2022-04-19 16:14] drmingdrmer opened #4950 "Add version to the store on local disk."

[2022-04-19 16:14] drmingdrmer opened #4951 "Create versioned dir for store on local disk."

[2022-04-19 16:15] drmingdrmer opened #4952 "Offline upgrade: when startup with a new version binary, convert old data in the store to the latest format."

[2022-04-19 16:31] drmingdrmer commented on #4931
Backup has been implemented with `metactl`. Did you mean something else?

[2022-04-20 00:32] #4942 closed

[2022-04-20 00:44] xudong963 commented on #4940
This feature in the issue clones two tables, is it will affect each other, such as the clone table to modify the data will affect the original table.

If not, I think we can use `create table clone_table () as select * from origin_table`;

[2022-04-20 01:30] sundy-li commented on #4940
If it's fuse engine, we just need to set the snap_loc to the source table without data copy.

[2022-04-20 01:31] BohuTANG commented on #4940
@xudong963
Create table clone is a zero-copy clone:
1. create a table schema from the original table
2. fork a new snapshot of the original data's

Then the cloned table is a fork branch like git branch, and you can do everything on your new branch:such as insert new data or change the table schema, but the original table no affected.

[2022-04-20 01:58] #4935 closed

[2022-04-20 02:08] PsiACE commented on #2647
/assignme

[2022-04-20 02:10] wubx opened #4953 "bug: copy from stage only 10000 rows"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

MySQL [wubx]> select version();
+--------------------------------------------------------------------------+
| @@version()                                                              |
+----------------------------------------------------------

[2022-04-20 02:23] sundy-li commented on #4953
There is a bug inside `StageSource`  cc @GrapeBaBa.

I'll create a pr to fix this.

[2022-04-20 02:23] wubx commented on #4953
copy into from external_stage_name with the same issue.

[2022-04-20 02:35] flaneur2020 opened #4954 "Bug: backtrace on CREATE DATABASE"
**Summary**

query:

[code]

message:
[code]

backtrace:
[code]

[2022-04-20 02:37] BohuTANG commented on #4954
Duplicated with https://github.com/datafuselabs/databend/issues/4876 ?

[2022-04-20 02:39] BohuTANG commented on #4876
@youngsofun
* system.query_log has error column but we no used it yet, we can set the error to this field.
* Each http request if the status is not 200 we should log it.

[2022-04-20 02:43] flaneur2020 commented on #4954
@BohuTANG it seems not quite the same, the error in #4876 is a SyntaxException, but in this issue it is a CannotConnectNode error

[2022-04-20 02:52] BohuTANG commented on #4954
O, please ignore

[2022-04-20 02:58] ZhiHanZ opened #4955 "Feature: the same level of e2e test coverage in http api handler"
**Summary**
During platform integration, we heavily rely on http handler, but test coverage is not enough comparing to mysql case.
Need the following parts:
1. DDL related, CREATE, DROP, ALTER on DATABASE, TABLE etc
2. DSL related on different database or table
3. Security related, especially for mTLS and JWT

- [ ] http api stateless test
- [ ] http api stateful test
- [ ] http api mTLS test
- [

[2022-04-20 03:03] GrapeBaBa commented on #4953
haha, @sundy-li  maybe you can point it. I can add a new test case.

[2022-04-20 03:12] GrapeBaBa commented on #4918
Make metasrv as a blockchain with raft consensus in additional EVM?

[2022-04-20 03:49] flaneur2020 commented on #4954
the cause is related to:  https://github.com/datafuselabs/databend/pull/4859/commits/c3b8e7518f26f70007b2317c3cad49c3b764600d

the data structure stored in metasrv is changed. maybe we can consider something like protobuf to serialize the meta data, and make sure the metadata meets backwards compatibility.

[2022-04-20 04:59] sundy-li commented on #4602
I don't know. This looks very common in hashmap implementation.

[2022-04-20 05:17] fkuner commented on #4602
/assignme

[2022-04-20 05:24] BohuTANG commented on #4955
Better way is to make the `databend-test` support http client and send the stateless sql and check result:
https://github.com/datafuselabs/databend/blob/077b349822578676854a64e6844d5e58ef008934/tests/databend-test#L637-L641

[2022-04-20 05:30] flaneur2020 opened #4958 "Execute stateless tests over HTTP api"
**Summary**

currently we have stateless tests but it's only executed by the mysql protocol. we can also execute the stateless tests by the HTTP query api to play as a regression test together.

[2022-04-20 05:31] flaneur2020 commented on #4958
/assignme

[2022-04-20 05:32] #4953 closed

[2022-04-20 05:35] BohuTANG commented on #4955
Does this issue related to #4958?

[2022-04-20 05:36] flaneur2020 commented on #4955
hmm, seems duplicated

[2022-04-20 05:37] flaneur2020 commented on #4958
duplicated with #4955

[2022-04-20 05:37] #4958 closed

[2022-04-20 06:56] sundy-li commented on #4955
It might be incorrect. Http client can't send multi-query at once. But we need multi-query at once to respect the settings inside the SQL file.

[2022-04-20 07:14] ZhiHanZ commented on #4955
I think we could split sql to single query array and aggregate result file?

[2022-04-20 07:59] Xuanwo commented on #4736
To support azblob, we need some refactoring on our config, I'm working on https://github.com/datafuselabs/databend/issues/4362

[2022-04-20 08:17] BohuTANG opened #4962 "Make meta type struct more flex for serializing"
**Summary**

https://github.com/datafuselabs/databend/tree/301a3d7add6ea915a300f18aa5c2b128e2e8406c/common/meta/types/src

- [ ] Add new meta types with serde
- [ ] Add alias for each filed
- [ ] Add defaut for each field

[2022-04-20 08:36] dantengsky opened #4964 "Feature: export fuse table `compressed_size` to system.tables"
**Summary**

Currently, fuse table only exports the size of table data to `sytem.tables`, but not the `compressed size`.

[2022-04-20 08:55] BohuTANG opened #4965 "Support mysqldump dump schema"
**Summary**

[2022-04-20 10:17] Veeupup opened #4968 "Feature: Make parser suppport datatype with options like `DateTime(3)`/`DateTime(6)...`"
**Summary**

After #4921 finished, we need to make `datetype` with options work, like `DateTime(3)/DateTime(6)` (`3` means precision, millisecond, `6` means microseconds).

For now, parser do not support datatype with options.

`DateTime(n)`    n between [ 0, 9]

cc @sundy-li @leiysky

[2022-04-20 10:33] wubx commented on #4920
A description of databend-meta configuration is also requied.

[2022-04-20 10:58] #4912 closed

[2022-04-20 12:45] sunisdown commented on #4925
got the root cause.
seems that `plan_parser` doesn't handle the column comments
https://github.com/datafuselabs/databend/blob/2ca3014d8a8dc41b5ef0ec16780ea4c69e164ece/query/src/sql/statements/statement_create_table.rs#L167-L178

will add it.
by the way, this is a perfect issue for me, as it made me look in both the `parse` and `query plan` code, two areas I hadn't touched before.

[2022-04-20 12:47] BohuTANG commented on #4925
@sunisdown
Sorry, I missed this comments, glad to see that you found it.

[2022-04-20 13:58] sundy-li opened #4974 "Feature: Merge VariantArrayType into ArrayType"
**Summary**

Description for this feature.

1. Merge VariantArrayType into ArrayType
2. Support `Get`, `MapAccess` for `ArrayColumn`

So we should indicate the inner type, eg:

[code]

If the inner type is variant:

[code]

[2022-04-20 14:18] #4964 closed

[2022-04-20 14:23] BohuTANG commented on #4723
👍
1 look good to me

[2022-04-20 22:44] #3057 closed

[2022-04-20 22:58] BohuTANG opened #4975 "Add snapshot_location to SHOW CREATE TABLE"
**Summary**

[2022-04-21 01:12] ZhiHanZ opened #4976 "bug: inconsistency result between mysql handler and http handler"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.7.23-nightly

### What's Wrong?

When I try to use http handler to run stateless tests, I encountered some issues.
Some of them should be fine, like data inconsistency `2` vs `2.0` etc,
But others are pretty strange. (where I marked TODO in t

[2022-04-21 01:16] youngsofun commented on #4976
/assignme

[2022-04-21 01:56] sundy-li commented on #4976
As I mentioned before， http handler did not share a  single session, it will create separated session  per query.

https://github.com/datafuselabs/databend/issues/4955#issuecomment-1103536420

So `SET max_threads=16;` will not work for the latter query.

[2022-04-21 02:24] ZhiHanZ commented on #4976
yep, I encountered such issue in stateless test, and I think we should separate a directory to test http handler functionalities.

[2022-04-21 02:39] wubx opened #4978 "Feature: support alias use double quotes"
**Summary**

MySQL [(none)]> select 'a' as "A";
ERROR 1105 (HY000): Code: 1005, displayText = sql parser error: Expected an identifier after AS, found: "A".

want to make it work.

[2022-04-21 02:45] youngsofun commented on #4976
http handler support session by carrying a sessionid，
we can use it in a client，I am working on it

[2022-04-21 02:53] sundy-li commented on #4976
I suggest to pass the settings inside the http params like ClickHouse did.

[2022-04-21 03:40] #4968 closed

[2022-04-21 03:56] artorias1024 opened #4980 "bug: DBeaver access to databend could not find the information_schema database"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

DatabendQuery v0.7.12-nightly-87f4250-simd(rust-1.61.0-nightly-2022-04-21T03:35:13.663276Z)

### What's Wrong?

`2022-04-21T03:39:01.966023Z DEBUG do_query{query="/* ApplicationName=DBeaver 22.0.3 - Metadata */ SELECT * FROM information_schema.T