[2022-06-10 11:45] TCeason commented on #5894
Because of this, I think we should remove the unwrap() and handle the fact that `commands::parse(&packet)` may fail.

But I'm not sure how to deal with it. So help wanted.

[2022-06-10 11:50] TCeason commented on #5894
@PsiACE Do you have some suggestions?

[2022-06-10 13:12] TCeason commented on #5894
[code]

[2022-06-10 13:14] AngleNet commented on #5634
It seems that #5778 has been taken. Could you check it again for me? @leiysky

[2022-06-10 13:21] leiysky opened #5899 "Migrate `SHOW FUNCTIONS` statement to new planner"

[2022-06-10 13:24] leiysky commented on #5899
cc @AngleNet

[2022-06-10 13:45] #5775 closed

[2022-06-10 13:52] junnplus opened #5900 "bug: Wrong s3 root when creating external stage."
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

[code]

Expected `root` is `external/`, but got `/`.

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-06-10 13:53] PsiACE commented on #5894
It looks like this will handle the error. I am not sure if this issue can be fixed.

[2022-06-10 13:56] TCeason commented on #5894
Yep absolutely agree. But how to deal with this err? Return Ok()

[2022-06-10 13:58] b41sh opened #5901 "Feature: support parse exponential notation data values"
**Summary**

Support parse exponential notation data values
[code]

[2022-06-10 14:53] #5853 closed

[2022-06-10 14:55] #5851 closed

[2022-06-10 15:02] TCeason commented on #5894
if this raised err, run_with_options will also raised err.

[code]

And I see in ClickHouse if use mysql client connects to ck server with 9004 port and executes `status` will return this result and is same with databend query.

[code]

and in server.log, it log some error.

[code]

[2022-06-10 15:06] TCeason commented on #5894
ERRFMT:https://docs.pocoproject.org/current/Poco.html
Poco::format(): an argument that does not match the format
  specifier no longer results in a BadCastException. The string [ERRFMT] is
  written to the result string instead.

[2022-06-11 00:51] leiysky opened #5903 "Use a real bitmap to implement `AppliedRules`"
cc @andylokandy

[2022-06-11 01:31] TennyZhuang opened #5904 "Migrate CREATE FUNCTION statement to new planner #5899"
#5778

[2022-06-11 01:35] wubx commented on #5900
This action may be dangerous.
Should we need support for this feature?

[2022-06-11 04:32] #5901 closed

[2022-06-11 07:22] BohuTANG commented on #3915
## Benchmark

### Databend

Table:
[code]

[code]

## ClickHouse with ngram index

Table:
[code]

[code]

cc @sundy-li @b41sh

[2022-06-11 07:53] #5723 closed

[2022-06-11 07:53] junnplus commented on #5723
https://github.com/datafuselabs/databend/pull/5857

[2022-06-11 11:44] TianLangStudio commented on #5768
/assignme

[2022-06-11 11:45] sundy-li commented on #3915
How about this sql :
`select ignore( c) from liket;`

I think the bottleneck is mostly on IO .

[2022-06-11 14:40] BohuTANG commented on #3915
@sundy-li

[code]
or
[code]

have a hang there :/

This test is easy to run on your local, I think there are some issues with the query.

[2022-06-11 14:42] sundy-li commented on #3915
Test on my laptap
ClickHouse:
[code]

[2022-06-11 22:16] zhicwu commented on #5728
It's more of an issue with the driver. Since database name may contain slash, [web_context](https://github.com/ClickHouse/clickhouse-jdbc/blob/c98c084e35ee68249274fcd273644545d90e82a3/clickhouse-http-client/src/main/java/com/clickhouse/client/http/config/ClickHouseHttpOption.java#L48) option was added for customization. The implementation has issue but fortunately ClickHouse/clickhouse-jdbc#948 wi

[2022-06-11 23:17] sundy-li commented on #3915
So databend's like function can work better than clickhouse in memory bench.

[code]

[code]

[2022-06-12 00:42] BohuTANG commented on #3915
Good.
Does the like function in databend have some improvement room?

[2022-06-12 00:48] sundy-li commented on #3915
Yes, need profile investigation.

[2022-06-12 01:43] youngsofun commented on #5728
@zhicwu  thank you for the good news.

I also thought it is reasonable for a client to support the WEB_CONTEXT part.

for now,  still worry that not all drivers and  BI tools (including that cloud-based) can support it.
after all, clickhouse HTTP API is almost only used by clickhouse itself.

we`ll reevaluate it later.

[2022-06-12 06:47] leiysky opened #5910 "Tracking: TPCH benchmark"
## Tasks

- [x] #5911
- [x] #5912
- [x] #5913
- [x] #5951
- [x] #4617

[2022-06-12 06:48] leiysky opened #5911 "Support push down predicate through join"

[2022-06-12 06:48] leiysky opened #5912 "Prepared TPCH data set for databend"
Support TPCH dbgen for databend, and find a way to ingest massive test data efficiently.

[2022-06-12 06:48] leiysky opened #5913 "Decorrelate `EXISTS` subqueries"

[2022-06-12 10:14] RinChanNOWWW commented on #5829
/assignme

[2022-06-12 10:20] #5811 closed

[2022-06-12 10:25] BohuTANG opened #5915 "Add fuzz test to CI"
**Summary**

After https://github.com/datafuselabs/databend/pull/5896 is merged, we can add the fuzz test to CI.
* Create a random engine table which column with all data types  databend supported
* Make some aggregation with `where/group by`(and others?) operations query test suites
* Don't panic

[2022-06-12 10:25] BohuTANG commented on #5915
Any comments? cc @sundy-li

[2022-06-12 10:39] BohuTANG opened #5916 "Blog posts tracking"
**Summary**
https://databend.rs/blog
- [ ] Introduce the new RANDOM table engine
- [ ] Performance of searching strings in Databend

[2022-06-12 10:41] BohuTANG opened #5917 "Blog update time"
**Summary**

https://databend.rs/blog/

![image](https://user-images.githubusercontent.com/172204/173229329-0989d0b0-5e67-4d28-9e4c-b27eac0b825d.png)

[2022-06-12 10:43] BohuTANG commented on #5917
It seems we should add a `date` to the blog markdown. @Xuanwo

[2022-06-12 11:10] BohuTANG commented on #5917
On my local test with `yarn start`, it works well, this is strange:
![image](https://user-images.githubusercontent.com/172204/173230227-445bfe07-59b3-4c2a-b338-51b7548dce11.png)

[2022-06-12 11:38] #5633 closed

[2022-06-12 11:39] #5911 closed

[2022-06-12 11:42] leiysky opened #5919 "Normalization of `Scalar`"
Normalize `Scalar` into a simplified, identifiable form, with following approaches:

- Constant folding
- `False` predicate elimination
- ...

The purpose of normalization is to make a scalar expression efficient and make it easier to perform cardinality estimation.

[2022-06-12 13:13] zhyass commented on #5893
SELECT count(1), name FROM system.credits WHERE name='ahash' GROUP BY name;

[2022-06-12 13:51] Xuanwo commented on #5917
Maybe specify the slug will break docusaurus auto-post date extraction feature.

Specifying the date in the front matter will be more reliable.

[2022-06-12 15:23] #5917 closed

[2022-06-12 21:18] shaeqahmed opened #5925 "Feature: Optimize performance for semi-structured JSON"
Awesome project! Really nice to see support for semi-structured data here. I'm evaluating using this project for a platform to analyse security data, where logs often follow a loose dynamic schema (e.g. AWS Cloudtrail). Right now, I believe storing this in a JSON column for a schemaless approach will kill any performance benefits (need to load whole column, parse text). Clickhouse recently added n

[2022-06-13 01:05] sundy-li commented on #5925
That's definitely right, thanks for your advices.

Current `JSON` is the first simple implementation to support this feature, we did know this approach would perform poorly. Besides [Redshift SUPER](https://aws.amazon.com/blogs/big-data/work-with-semistructured-data-using-amazon-redshift-super/) and [Rockset](https://rockset.com/blog/using-smart-schema-to-accelerate-insights-from-nested-json/), we

[2022-06-13 01:07] sundy-li commented on #5915
It's hard to apply inside the logictest because the results are randomly generated.
We need a new runner to run this fuzz test.

[2022-06-13 01:29] sundy-li opened #5926 "Feature: Make useless MySQL extra info messages silence"
**Summary**

Description for this feature.

 Don't display this message if process empty data (rows = 0)

![middle_img_v2_b0f28381-aeb0-4c4b-b4ea-ef119f72b6ag](https://user-images.githubusercontent.com/3325189/173263799-0dfa5497-833a-468d-8459-fcfa938cfc08.jpg)

https://github.com/datafuselabs/databend/blob/5a00c5ded62467a1e9947e058d9b74b50a035fdb/query/src/servers/mysql/mysql_interactive_worker.r

[2022-06-13 01:32] soyeric128 commented on #5916
Hi @BohuTANG
Got it. Could you help provide input for this blog?

Thanks.

[2022-06-13 01:42] wubx commented on #5829
Thank you take it.  @enmotplinux will be looking forward to it.

[2022-06-13 02:04] ZeaLoVe commented on #5839
You can write like this:
`
statement query T
select a from t
----
'abcd
abcd'
`

If it contains an empty line, type tab.

[2022-06-13 02:12] #5845 closed

[2022-06-13 02:19] BohuTANG opened #5927 "Add session settings to documention"
**Summary**

[code]

![image](https://user-images.githubusercontent.com/172204/173267751-a4f50987-421c-4ac7-a084-df8296342a27.png)

Need a new `Setting Commands` to document get/set/description session settings.

[2022-06-13 02:21] BohuTANG commented on #5916
Sure.

[2022-06-13 02:57] lichuang opened #5929 "Feature: add DeleteByPrefix API in txn::op"
**Summary**

add DeleteByPrefix API in txn::op

[2022-06-13 03:32] fkuner opened #5931 "Add stateless test about async insert"
**Summary**

After this pr #5845, we can add more test about async insert.

[2022-06-13 03:40] #5844 closed

[2022-06-13 04:37] Xuanwo commented on #5893
Happened again at https://github.com/datafuselabs/databend/runs/6854985882?check_suite_focus=true

[2022-06-13 04:38] Xuanwo commented on #5893
Should we disable the test case for now?

[2022-06-13 04:54] leiysky commented on #5893
I encountered this in https://github.com/datafuselabs/databend/runs/6855283254?check_suite_focus=true

[2022-06-13 05:06] Xuanwo commented on #5929
Please fix the issue title.

[2022-06-13 05:17] BohuTANG commented on #5893
cc @sundy-li

[2022-06-13 05:46] #5681 closed

[2022-06-13 05:47] #5779 closed

[2022-06-13 07:57] BohuTANG opened #5937 "02_0057_function_nullif no result file"
**Summary**

Need a `02_0057_function_nullif.result` for `02_0057_function_nullif.sql`

[2022-06-13 09:09] #5825 closed

[2022-06-13 09:17] wubx opened #5941 "select-clause add at"
**Summary**
https://databend.rs/doc/reference/sql/query-syntax/dml-select#select-clause

select * from tb at(snapshot=>'snapshort_id');

[2022-06-13 09:20] wubx opened #5942 "add fuse_snapshort('db','tb') doc"
**Summary**
[code]

[2022-06-13 10:09] youngsofun opened #5943 "Feature: table system.columns need column `type`"
**Summary**

metabase will run this sql when syn schema

[code]

[2022-06-13 10:10] youngsofun commented on #5943
@TCeason

[2022-06-13 10:21] TCeason commented on #5943
Yes, we need support these cols:

[code]

[2022-06-13 10:25] youngsofun opened #5944 "fix tsv format"
**Summary**
[code]

meta base error
ClickHouse exception, message: Error parsing 'NULL' as java.math.BigInteger; For input string: "NULL"

[2022-06-13 10:36] TCeason commented on #5943
[code]

Now we have these columns. And I think we can set data_type to type, and

default_kind and default_expression can cast with default_expr.

comment can set to '' now.

[2022-06-13 11:49] #5929 closed

[2022-06-13 12:07] BohuTANG commented on #5786
TODO in the next pr:
1. Aggregate min/max works for the struct data type. (stateless tests)
2. Group by works for the struct data type. (stateless tests)

[2022-06-13 12:14] shaeqahmed commented on #5925
Understood. Iceberg table format brings nested schema evolution (struct) to parquet data lake by keeping track of column identifiers in metadata files. I guess we first need to add similar support to Databend for Nested and other datatypes, then we can explore the automatic schema evolution feature for JSON objects? Trying to understand if this is something I could take a stab at myself. Thanks

[2022-06-13 12:18] #5943 closed

[2022-06-13 12:24] TCeason opened #5948 "modify doc for system-columns"
BTW, Do we need to modify the doc? system-columns.md

If needed, I will modify it in another pr.

_Originally posted by @TCeason in https://github.com/datafuselabs/databend/issues/5946#issuecomment-1153827891_

[2022-06-13 12:42] leiysky opened #5950 "Error when parsing nested parenthesis expression"
[code]

[2022-06-13 12:49] leiysky opened #5951 "Feature: Support `CASE ... WHEN` expression"
`CASE` expression is a conditional expression with multiple branches.

You can specify branches with `WHEN ... THEN ...` subexpressions, and end the `CASE` expression with `END`.

Besides, you can define a default branch with `ELSE`, otherwise the default value is `NULL`.

For example:
[code]

cc @BohuTANG @sundy-li

[2022-06-13 13:09] ZhiHanZ commented on #5925
Pretty nice idea! we have discuessed several implementations for further optimization on Nested datatypes, https://github.com/datafuselabs/databend/pull/4320/files, I think you could at first take a look through those discussed researches and promote some new designs and solutions.

[2022-06-13 13:35] #5948 closed

[2022-06-13 13:40] bohutang opened #5954 "Run release build CI if the release workflow files changed"
**Summary**

If a PR change the files in:
https://github.com/datafuselabs/databend/tree/main/.github/workflows

We should run the Release Build CI for it.

[2022-06-13 13:40] BohuTANG commented on #5954
cc @everpcpc @Xuanwo

[2022-06-13 14:17] sundy-li commented on #5951
could be routed to a new function `multi_if`.

[2022-06-13 16:16] leiysky commented on #5951
Yes, I recall that ClickHouse implemented case in this way.

[2022-06-13 16:26] leiysky commented on #5910
I've just created a repo https://github.com/leiysky/tpch-databend, which contains the tools to running TPCH benchmark with databend.

So far, I have rewritten the TPCH queries into databend compatible format. The next step is to integrate with tpch data generator.

[2022-06-13 18:15] soyeric128 commented on #5854
Hi @xudong963
Thanks for the reply above.
Could you pls review this PR https://github.com/datafuselabs/databend/pull/5957 for the doc update?
Thanks.

[2022-06-14 01:15] BohuTANG opened #5959 "When running `SELECT NULLIF(1, 1);` and `SELECT NULLIF('a', 'a');`, the mysql service will hang."
When running `SELECT NULLIF(1, 1);` and `SELECT NULLIF('a', 'a');`, the mysql service will hang.

_Originally posted by @PsiACE in https://github.com/datafuselabs/databend/issues/5958#issuecomment-1154372938_

[2022-06-14 01:17] BohuTANG commented on #5959
`select ignore( c) from liket` hang on my laptop:
https://github.com/datafuselabs/databend/issues/3915#issuecomment-1152940508

[2022-06-14 01:19] sundy-li commented on #5959
I think it's not a bug, because the data is too large to output.

[2022-06-14 02:06] sunisdown opened #5960 "Feature: Support redundant `/` in the uri"
**Summary**
Clickhouse support URI like `curl http://localhost:8123//?query=SELECT%201`

There are some tools that support clickhouse that give a 404 error when migrating directly to databend because of the extra `/`.

[2022-06-14 02:25] TCeason commented on #5959
I test this case:

[code]

Not only hang, actually the MySQL session was destroyed.

[2022-06-14 02:29] TCeason commented on #5959
In debug log:

[code]

[2022-06-14 02:49] ZeaLoVe commented on #5893
@zhyass What to do with this issue? The same SQL in logic test cause failed in a production workflow https://github.com/datafuselabs/databend/actions/runs/2491969620.

[2022-06-14 02:51] RinChanNOWWW commented on #5959
`NULLIF(expr1, expr1)` is based on `IF(expr1 = expr2, NULL, expr1)`.

And running

[code]

under planner v2 also hangs:

![image](https://user-images.githubusercontent.com/33975039/173483211-1c69440e-a93e-4817-a2c2-3a3cd953c24e.png)

[2022-06-14 02:54] TCeason commented on #5959
Actually, that is the session was destroyed. And I don't know why this function will cause the client to destroy.

[2022-06-14 02:56] sundy-li commented on #5959
I did not figure out why, cc @leiysky  any suggestions?

[2022-06-14 02:57] sundy-li commented on #5893
This bug may be related to `cargo_metadata`, but I do not know the reason.

I think we can disable this in logictests.

[2022-06-14 04:12] #5937 closed

[2022-06-14 04:14] #5894 closed

[2022-06-14 04:21] youngsofun commented on #5960
seem poem does not support it,   maybe we can hardcode  `//`  as an endpoint,
 @sunisdown   do you it it can solve this probem?  will there be "///" ?  which client leads to the URL contains `//`?

[2022-06-14 05:32] ZhiHanZ opened #5967 "Feature: Support to show tenant quota in management mode admin api"
**Summary**
Current we support to run call procedure like
[code]
to show current tenants' stats such as total number of tables.
Those apis could be wrapped into management mode admin api
with uri like
/v1/quota/<tenant_id>
to probe on tenant stats info.
It could have several benefits:
1. get avoid of session leakage
2. cache tenant , database and other tenant level quotas to reduce meta layer visi

[2022-06-14 05:34] flaneur2020 commented on #5967
how about just a `/v1/tenant/<tenant_id>` to represent some metadata about the tenant? it may includes some info about quota, current tables count, etc

[2022-06-14 05:35] ZhiHanZ commented on #5967
LGTM, I think we could also support POST approach for batch tenant array processing and get avoid of a lot of short lived connections

[2022-06-14 05:42] flaneur2020 commented on #5967
I think short lived connections are ok, especially for the low rate requests. short-lived connections is much easier to program, and eaiser to load balance.

however, we'd take care about conntrack: if one enabled conntrack in iptables, some short-lived connections could drain the conntrack records, thus the node would suffers lost packet if the conntrack got full.

[2022-06-14 06:14] drmingdrmer opened #5969 "Metasrv OOM running for several days"
The dmsg log:

<img width="1016" alt="image" src="https://user-images.githubusercontent.com/44069/173506548-fdba8e5a-a331-4418-919e-5777d63a19d7.png">

[2022-06-14 07:13] hantmac opened #5971 "What is the exact `clickhouse_http_handler_port` ?"
**Summary**
In the documentation, I found that the port is 8124 in some places and 8125 in others, which caused several cases to fail, such as the vector example.
<img width="1028" alt="image" src="https://user-images.githubusercontent.com/7600925/173515974-69982c96-a796-4f30-a50d-bf63237ae65c.png">
<img width="1091" alt="image" src="https://user-images.githubusercontent.com/7600925/173516007-7960

[2022-06-14 07:34] leiysky commented on #5959
The root cause of this issue is that if there is an error raised during the serialization of result `DataBlock`s, then mysql handler cannot close the connection for some reasons.

I'm digging with the bug.

[2022-06-14 08:59] xudong963 commented on #5959
I have fixed in my newest pr

[2022-06-14 09:13] ZeaLoVe opened #5973 "bug: select return nothing but retry will get results"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.7.82-nightly

### What's Wrong?

![WtQ54VJNym](https://user-images.githubusercontent.com/10904090/173540441-dd595519-39d0-4309-97ff-37f5e65dea9e.jpg)

cc @sundy-li

### How to Reproduce?

Easy to reproduce in the process of testing a large nu

[2022-06-14 09:19] youngsofun commented on #5971
default is 8124
in ci, use 8125 for standalone,  8125-8127 for cluster mode

[2022-06-14 09:35] leiysky commented on #5959
@sundy-li @TCeason

There are two issues here:
1. As I mentioned above, if some errors are raised here, then the result cannot be returned to mysql client, and the connection won't be closed(which cause the hanging)
https://github.com/datafuselabs/databend/blob/44f74a0b09d70dde8a4a5e642881912af05a00bb/query/src/servers/mysql/mysql_interactive_worker.rs#L196-L199

2. The result column's data type o

[2022-06-14 09:42] sunisdown commented on #3915
Do we have RFC for the fulltext index? `tanivy` is a good choice and we can discuss about the design.

[2022-06-14 09:45] hantmac commented on #5971
So in this kind of doc https://databend.rs/doc/learn/analyze-nginx-logs-with-databend-and-vector we should remind users to change the clickhouse_http_handler_port.

[2022-06-14 10:26] hantmac opened #5975 "Using Databend as a Sink for Vector got an error"
**Summary**
I use databend as a sink for vector according [this doc](https://databend.rs/doc/learn/analyze-nginx-logs-with-databend-and-vector), but got an error as following:

[code]

![s00nMrBw98](https://user-images.githubusercontent.com/7600925/173555561-12a941de-3cb7-42c6-b066-be4f2cb193a3.png)

Although it does not affect the result of data import, it certainly affects the user experience.

[2022-06-14 10:42] b41sh commented on #3915
`tantivy` only supports `fs` storage of data, we cannot use it directly.
Maybe we need to implement an inverted index ourselves to support full-text search.

[2022-06-14 11:34] lichuang opened #5977 "query meta grpc client network metrics"

[2022-06-14 12:23] hantmac commented on #5975
According this disscussion https://github.com/vectordotdev/vector/discussions/13136, the maintainer of vector said the healthcheck endpoint of Clickhouse isn't working. Do we have health check endpoint of Clickhouse?

[2022-06-14 12:41] sundy-li commented on #3915
A simple RFC in Chinese.

[Databend 全文索引.pdf](https://github.com/datafuselabs/databend/files/8899757/Databend.pdf)

[2022-06-14 12:51] leiysky opened #5979 "Better display format of `EXPLAIN` in new planner"
Use terminal graphic characters to link the plan nodes, to make it more readable.

For now, we are using a indent format to display a plan tree, for example:
[code]

As the structure of plan tree becomes more complicated, human can hardly read it any more, for example:
[code]

It will be sweet if we can have a format as CockroachDB:
[code]

[2022-06-14 13:05] sundy-li commented on #5959
I'll dig into 2.

[2022-06-14 13:29] TCeason commented on #5959
About `1.` Do you mean:

the func `on_query` will return write_result

https://github.com/datafuselabs/databend/blob/44f74a0b09d70dde8a4a5e642881912af05a00bb/query/src/servers/mysql/mysql_interactive_worker.rs#L206

And in https://github.com/datafuselabs/opensrv/blob/main/mysql/src/lib.rs#L520 will judge this type.

But finally it return a Ok(())

[2022-06-14 14:34] zhyass opened #5981 "Improvement: truncate the string value for cluster statis"
**Summary**

To avoid high cardinality, for each string column,  cluster statistics uses only the first 5 bytes.

[2022-06-14 15:55] youngsofun commented on #5975
@hantmac I will fix it tomorrow

[2022-06-14 16:52] #2647 closed

[2022-06-14 16:53] PsiACE commented on #2647
Now we have a new sql logic test framework

[2022-06-14 23:53] #4468 closed

[2022-06-15 01:06] #5981 closed

[2022-06-15 01:35] sundy-li opened #5987 "Feature: clickhouse http support `Content-Encoding` to read compress stream body"
**Summary**

Description for this feature.

[2022-06-15 01:35] sundy-li commented on #5944
Seems we should output `\N`

[2022-06-15 01:50] youngsofun commented on #5944
ok I`will fix it

https://clickhouse.com/docs/en/operations/settings/settings#format_tsv_null_representation

[2022-06-15 01:55] #5854 closed

[2022-06-15 02:38] youngsofun commented on #5975
@hantmac  you can try the newest main
https://github.com/vectordotdev/vector/blob/master/src/sinks/clickhouse.rs#L175

I guess it is fixed by @sundy-li  yesterday  in https://github.com/datafuselabs/databend/pull/5933

[2022-06-15 03:07] sunisdown commented on #3915
Prefer the second solution, the first solution looks like another quickwit.

[2022-06-15 03:13] sundy-li commented on #5987
Already have this in :

[code]

[2022-06-15 03:14] #5987 closed

[2022-06-15 04:24] #5888 closed

[2022-06-15 04:47] Xuanwo commented on #5979
CockroachDB is so nice...

[2022-06-15 04:51] leiysky commented on #5979
People with good taste can develop good product.

[2022-06-15 05:02] Xuanwo opened #5993 "Feature: List STAGE should return files md5"
OpenDAL doesn't return content md5.

[code]

Related to https://github.com/datafuselabs/opendal/issues/380

[2022-06-15 06:39] ZeaLoVe commented on #5973
cc @youngsofun  still exists in the build v0.7.86-nightly, maybe not the same problem.

[2022-06-15 07:00] ZeaLoVe commented on #5973
Fixed in the build v0.7.86-nightly, close it,

[2022-06-15 07:00] #5973 closed

[2022-06-15 07:14] youngsofun opened #5996 "table create time always 1970-01-01 00:00:00.000"
**Summary**

[code]

cc @drmingdrmer @lichuang

related issue:

https://github.com/databendcloud/databend-cloud-platform/issues/1365#issuecomment-1155930135

[2022-06-15 07:30] drmingdrmer commented on #5996
Create time(and update time) is a field of the passed in request struct, the `SchemaApi` is able to update it to the current timestamp, although IMHO these fields would be better decided by the caller(e,g. the planner or else). Let the API do as little business work as possible.
[code]

@sundy-li what say you?

[2022-06-15 08:17] dantengsky opened #6000 "Bug：compile error with native build"
**Summary**

- how to reproduce:

OS: Linux
cpu: with sse4_2 capability

`make build-native`

[code]

- CPU Info

[code]

[2022-06-15 08:21] drmingdrmer opened #6002 "metasrv add cli cmd: `--cmd xxx` to output store state"
To ensure the storage won't go back to a previous state.

E.g.: output the `vote` and `last_log_id` of the store.

[2022-06-15 08:26] Xuanwo opened #6003 "Refactor stateful tests"
stateful tests are hard to verify sometimes.

- We need to setup minio correctly
- We need to make sure every test file is copied correctly

https://github.com/datafuselabs/databend/blob/0f0be51db6ce6a84aab34ac71dd91d7a1bee4892/.github/actions/test_stateful_standalone/action.yml#L28-L45

- We have to handle extra logic in test scripts

https://github.com/datafuselabs/databend/blob/0f0be51db6ce6a84

[2022-06-15 08:40] ZeaLoVe commented on #5973
[1_1_select.txt](https://github.com/datafuselabs/databend/files/8907448/1_1_select.txt)

Still exists when running the logic test with this case. cc @youngsofun

[2022-06-15 09:41] #5977 closed, assigned to nobody

[2022-06-15 10:46] leiysky opened #6005 "Add span info for `TableReference`"
We will store the source span of query in its AST. But for now, we only store the span for `Expr`.

We should support this for `TableReference` as well, so we can provide better error message in table name resolution.

[2022-06-15 11:08] youngsofun commented on #5975
@hantmac is this fixed?

[2022-06-15 11:48] sundy-li commented on #5996
Agree, create_on should be set on the query side.

[2022-06-15 12:45] sundy-li commented on #5996
Yet `tb_meta.drop_on = Some(Utc::now());` is set inside meta api, maybe we should keep following this way.

[2022-06-15 13:18] #5500 closed

[2022-06-15 13:18] #5501 closed

[2022-06-15 13:24] AngleNet commented on #5913
@leiysky  HI, are you working on this issue? If not, I would like to take it. Thank you!

[2022-06-15 13:31] #4408 closed

[2022-06-15 13:54] youngsofun commented on #5973
@zhang2014

both http handler and mysql handler fail because some query should return some rows but did not.
these are flaky test,  seem not related to a Specific case
I guess it may be a bug of pipeline? can you help fixing it?

unzip [select_cases.zip](https://github.com/datafuselabs/databend/files/8908722/select_cases.zip)
 in `tests/logictest/suites/gen `
replace  `tests/logictestlogictest.py`

[2022-06-15 14:04] zhang2014 commented on #5973
@youngsofun Ok. I will try to fixes it.

[2022-06-15 14:15] drmingdrmer commented on #5996
`drop_on` is kind of a special case: `created_on` and `update_on` are totally client-side concepts, and will never affect the metasrv behavior, but `drop_on` will. When undoing a drop-table, metasrv finds the last deleted dropped table, i.e., the one with the least `drop_on`.

BTW, IMHO, `drop_on` should not be part of `table_meta`, but instead, it should be part of the key of the deleted table in

[2022-06-15 14:18] leiysky commented on #5913
Sorry, I have been working on this.

This is an urgent task, I'm afraid that I have to finish it by myself.

[2022-06-15 15:24] #6000 closed

[2022-06-15 16:09] arielyang opened #6011 "zh-CN docs displays in English"
**Summary**

https://databend.rs/zh-CN/doc/

zh-CN docs displays in English.

Expected:

zh-CN docs displays in Chinese.

[2022-06-15 16:13] PsiACE commented on #6011
We are trying to push this thing forward.

Help Us Translate: https://databend.crowdin.com/databend

[2022-06-15 18:12] soyeric128 commented on #5927
Hi @BohuTANG
Could you pls provide an example of running "show settings;" that I can add to the document?
Thanks.

[2022-06-15 23:37] BohuTANG commented on #5927
It's easy to do that, deploy a databend-query with local fs, and run the 'show setting s'.

[2022-06-16 00:17] AngleNet commented on #5913
I would like to work on the optimizer  stuff. Is there any issue I could work on? @leiysky

[2022-06-16 01:34] finalkira000 opened #6014 "date_sub function"
**Summary**

Some benchmark tool using date_sub, but datebend does not support it now, version  v0.7.85.

[2022-06-16 01:40] BohuTANG commented on #6014
Hi,
databend already supports date_add, but it will work when the new planner is finished.

[code]

[2022-06-16 01:54] finalkira000 commented on #6014
look forward to GA ASAP

[2022-06-16 02:18] #5774 closed

[2022-06-16 03:59] leiysky opened #6017 "Implement column pruning optimization"
After finishing all the rewrite optimization, we can perform a column pruning to eliminate the unused columns in `LogicalGet`s and `EvalScalar`s.

For example, a query:
[code]

Since we only need the column `a`, while we still need to fetch `b` and `c` from our columnar storage by default. With the optimization, we can reduce I/O cost by only fetching the needed column.

Another case:
[code]

The

[2022-06-16 04:01] leiysky commented on #5913
https://github.com/datafuselabs/databend/issues/6017 There is a issue about column pruning, maybe you can take a look at it?

[2022-06-16 04:12] hantmac commented on #5975
Sorry, I will test it today. BTW, is there released binary package that I can use to test? Or I use source code directly ?

[2022-06-16 04:16] #5832 closed

[2022-06-16 05:14] dantengsky opened #6018 "Feature: dev setup for hdfs storage"
**Summary**

To enable the access of  [hdfs storage ](https://opendal.databend.rs/services/hdfs.html) in CI, such as the ongoing PR:

- https://github.com/datafuselabs/databend/pull/5895

Some tweaks should be made to our [`dev_setup.sh`](https://github.com/datafuselabs/databend/blob/main/scripts/setup/dev_setup.sh)

--------------

Basically, the following CI setup of opendal hdfs storage should

[2022-06-16 05:21] Xuanwo commented on #6018
No, we don't need to. hdrs will handle `CLASS_PATH` correctly, we only need to set `HADOOP_HOME` which is the path to hadoop installation.

We can push them anywhere, for example: `/usr/lib/hadoop-2.7.3/share/hadoop`.

Yes, we can than indicate the location of hadoop by `HADOOP_HOME`.

[2022-06-16 06:29] finalkira000 opened #6019 "Does datebend support delete and update?"
**Summary**
datebend不支持 delete和update数据吗，版本为 v0.7.85

mysql> select * from t2;
+------+------+
| id   | col2 |
+------+------+
|    2 | col1 |
|    3 | col2 |
+------+------+

mysql> delete from t2 where id = 2;
ERROR 1105 (HY000): Code: 1005, displayText = sql parser error: Expected an SQL statement, found: delete.
mysql> update t2 set col2 = 'col2' where id =2;
ERROR 1105 (HY000): Code: 1005, di

[2022-06-16 06:47] hantmac commented on #5975
@youngsofun I use the latest `databend-query` and  the latest `vector`, still has the problem. 🤔
<img width="1507" alt="image" src="https://user-images.githubusercontent.com/7600925/174008825-1bb77d98-6559-404f-9673-9b267856dadb.png">

[2022-06-16 06:49] junnplus opened #6020 "performance: Improve COPY INTO speed"
**Summary**

It takes a long time (> 1.5h) to import successfully when copying a 60GB+ file into a table, even if we use a very large instance (**20C40G**).

![image](https://user-images.githubusercontent.com/8097526/174010259-d2f5a974-30c1-468e-b4af-e1333b95fd51.png)

From the graph, the resources of the multi-cores are not utilized.

[2022-06-16 07:01] flaneur2020 commented on #6020
the 1 in the CPU graph do not means 1% but means 100% (one core, it'd be 2000% if 20 cores get utilized)

[2022-06-16 07:04] BohuTANG commented on #6020
The file is on s3? We should a metric to measure how the network cost when we read it from the s3, cc @Xuanwo

[2022-06-16 07:08] Xuanwo commented on #6020
I will work on this.

[2022-06-16 07:21] sundy-li opened #6021 "Feature: clickhouse http handler support `X-ClickHouse-Progress`"
**Summary**

Description for this feature.

clickhouse http handler support X-ClickHouse-Progress

[2022-06-16 07:23] ZeaLoVe opened #6022 "bug: order by column not support using column number"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.7.88-nightly

### What's Wrong?

![9Rb0hEej3z](https://user-images.githubusercontent.com/10904090/174014888-527b916b-05cf-487b-9bd7-b3fd26146741.jpg)

![h4taHi6fo0](https://user-images.githubusercontent.com/10904090/174014918-4eb8d53d-bd41-44

[2022-06-16 07:25] BohuTANG commented on #6022
Cc @leiysky may new planner support it?

[2022-06-16 07:30] #5975 closed

[2022-06-16 07:54] leiysky commented on #6022
We have supported group by index, but haven't support order by index. I will open a issue for this.

[2022-06-16 07:57] leiysky opened #6023 "Support `ORDER BY` column ordinal"
We can `ORDER BY` a column ordinal in SQL:

[code]

Fix #6022

[2022-06-16 09:38] AngleNet commented on #5913
Great! I will try this out.

[2022-06-16 12:16] #6023 closed

[2022-06-16 12:17] sundy-li commented on #6022
Fixed in #6028

[2022-06-16 12:17] #6022 closed

[2022-06-16 23:33] xudong963 opened #6033 "Docs: support set operator"
**Summary**

Now we have supported some set operators, such as `EXCEPT`, `INTERSECT` distinct for new planner

Maybe it's time to add some related docs for our users

There are some cases:
[code]
cc @soyeric128

[2022-06-17 00:01] #5899 closed

[2022-06-17 01:10] #5852 closed

[2022-06-17 02:01] leiysky commented on #5634
Closed by #5877

[2022-06-17 02:01] #5634 closed

[2022-06-17 02:17] PsiACE opened #6035 "Occasionally errors occur when using "COPY INTO" to import files."
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.7.88-nightly

### What's Wrong?

invalid character '<' looking for beginning of value, stats: <nil>

### How to Reproduce?

[code]

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-06-17 03:01] PsiACE commented on #6035
Initial consideration may be that a network problem was encountered during the S3 request.
1. Can a mechanism be provided for retries? COPY INTO is a query that can take a long time to execute, and it would be a bad experience to abort because of a single jitter.
2. whether there is a way to provide more efficient error info to help troubleshoot.

[2022-06-17 04:34] #5912 closed

[2022-06-17 05:56] fkuner commented on #5467
Problem solved.

[2022-06-17 05:56] #5467 closed

[2022-06-17 06:07] sundy-li opened #6038 "[bug]: schema mismatch in new planner"
**Summary**

[code]

[2022-06-17 07:01] #5944 closed

[2022-06-17 07:02] #5829 closed

[2022-06-17 08:00] ZeaLoVe opened #6041 "bug: case sensitive of databases names"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.7.89-nightly

### What's Wrong?

case come from : https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/logictest/testdata/logic_test/case_sensitive_names

![middle_img_v2_c7519f68-5553-4012-a928-6b32865aa71g](https://user-images.githu

[2022-06-17 08:08] leiysky opened #6042 "Object name case convention"
In most of the databases, the default behaviour is case-insensitive.

And the case-sensitivity of identifiers is controled in different ways, for example:
- SQL Server has variables `SQL_IDENTIFIER_CASE` and `SQL_QUOTED_IDENTIFIER_CASE` to control this [document](https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/identifier-case?view=sql-server-ver16)
- The rule of MySQL is complicate

[2022-06-17 09:13] xudong963 commented on #6038
I beat the bug! **NULL is the root of evil**

**The following is bug tracking.**
Let's see the explanation of the example query:
[code]

`Project: [a]`'s input schema and output schema datatype is **NULL**

`EvalScalar: [a = 3]`'s input schema is *NULL**, but what should be the datatype of its output shcema?

Let's debug the information:
[code]
It shows its output schema datatype is **Boolean**, h

[2022-06-17 09:19] sundy-li commented on #6038
Some other examples:

[code]

[2022-06-17 09:23] xudong963 commented on #6038
Btw, I also found a strange point, shouldn't the NullType be nullable?
[code]

[2022-06-17 09:26] sundy-li commented on #6038
Yes, it's a special case, NullType is not nullable, nullable means we have an inner datatype.

[2022-06-17 09:27] sundy-li commented on #6038
we have `is_nullable_or_null`

[2022-06-17 11:19] dantengsky opened #6045 "bug: Transient object storage IO operation fault handling"
**Summary**

Although opendal has put significant efforts to handle transient IO operation faults ([with an exponential backoff strategy](https://github.com/datafuselabs/opendal/blob/38ecf12f268d2aaca07a6739aa4c6c8f5d7ad52b/docs/rfcs/0247-retryable-error.md)), in some cases, it is hard for opendal to be sure that if IO operations could be retried without unexpected side effects.

Thus, the storage

[2022-06-17 11:44] leiysky opened #6046 "Implement `IS [NOT] DISTINCT FROM` operator"
`IS [NOT] DISTINCT FROM` operator is used to compare two expression with awareness of nullability.

For example, the result of `1 IS DISTINCT FROM NULL` is `true` and the result of `1 IS NOT DISTINCT FROM NULL` is `false`, in contrast the result of both `1 <> NULL` and `1 = NULL` is a special falsy value because `NULL` is a unknown value in SQL standard.

The table of value with `IS DISTINCT FROM`

[2022-06-17 11:47] everpcpc commented on #4938
How about providing raft index and db size like etcd?
https://etcd.io/docs/v3.5/tutorials/how-to-check-cluster-status/

[2022-06-17 12:27] JialuGong commented on #6046
/assignme

[2022-06-17 16:09] PsiACE commented on #6014
/assignme

[2022-06-18 02:19] #6014 closed

[2022-06-18 03:21] #6038 closed

[2022-06-18 07:10] Xuanwo commented on #5781
My working progress could be found at [Xuanwo's Note](https://note.xuanwo.io/#/page/Databend%20Copy%20Into%20%E8%BF%81%E7%A7%BB%E5%88%B0%20New%20Planner)

[2022-06-18 12:41] leiysky opened #6054 "Bug: logictest sometimes encounter session variable invalidation"
https://github.com/datafuselabs/databend/runs/6947886711?check_suite_focus=true

The test case will pass in stateless test.

cc @ZeaLoVe

[2022-06-18 13:48] #5951 closed

[2022-06-18 15:12] #5657 closed

[2022-06-19 01:14] drmingdrmer commented on #5969
- Fixed in #6057

[2022-06-19 01:14] #5969 closed

[2022-06-19 03:35] BohuTANG opened #6058 "Disable poem::server log when databend-query start"
**Summary**

[code]

[code]

[2022-06-19 05:22] #5913 closed

[2022-06-19 09:48] BohuTANG opened #6060 "TPCH test on planner v2"
**Summary**

## Result:
OK: Q1, Q3, Q4, Q5, Q6, Q8, Q9, Q10, Q11, Q12, Q13, Q14, Q15(Rewrite), Q16, Q19, Q20, Q21, Q22
OOM: Q2, Q7, Q17, ~Q19~, ~Q21~
Error: ~Q16~, Q18, ~Q20~

## Test PC
* 16C48G

## Generating Test Data (1G)
[code]

## Create Database and Table
[code]

## Load TPCH data to databend
[code]

## Queries

### Q1(OK)

[code]

### Q2(OOM)
[code]

### Q3(OK)
[code]

### Q4(OK)
[code]

#

[2022-06-19 10:07] BohuTANG commented on #6060
Queries are referenced to https://github.com/pingcap/tidb/blob/master/cmd/explaintest/t/tpch.test
This is the first ALL test of TPCH, cc @leiysky @xudong963 @andylokandy

[2022-06-19 13:52] BohuTANG opened #6061 "`COPY` from s3: invalid data (Must reach the buffer end) (while in processor thread 0)"
**Summary**

## Deploy
Deploy databend on aws ec2: https://databend.rs/doc/deploy/s3
version: v0.7.91-nightly

## Ontime table
https://databend.rs/doc/learn/analyze-ontime-with-databend-on-ec2-and-s3#22-create-ontime-table

## Copy csv data from aws s3 public bucket
[code]

server log:
[code]

[2022-06-19 14:27] BohuTANG commented on #6061
The error `Must reach the buffer end` is a bad log for humans; we don't know what's error is in the underlying. cc @sundy-li

[2022-06-19 14:48] sundy-li commented on #6061
It means we did not allow trailing chars in deserialization.
[code]

[2022-06-20 00:41] BohuTANG commented on #6061
The `must_eof` is called by some types
![image](https://user-images.githubusercontent.com/172204/174506520-ec0b5692-32b3-48c8-af6f-f4a3c06f5fbe.png)

If we got the `Must reach the buffer end`, we next want to know which type caused the error: date?number?timestamp?
If we can print the file line where the error is, it would be great, like:
[code]

Then we can easy to check the line of the file.

[2022-06-20 00:46] BohuTANG commented on #6061
This issue is caused by `field_delimiter` is not correct(is `\t` not `,`), this is OK:
[code]
Can we improve the error message to be more friendly? I believe that most people who see this error do not know what went wrong.

[2022-06-20 01:28] wubx opened #6062 "Add python connect clickhouse over http handler demo"
**Summary**
1. create user
2. connection
3. create table
4. inert
5. select
6. drop table

[2022-06-20 02:09] ZeaLoVe commented on #6054
![ObKxWtGUmO](https://user-images.githubusercontent.com/10904090/174513011-fee7478f-18e8-42f7-96c6-473ee052da3a.jpg)

![BwftynYm3T](https://user-images.githubusercontent.com/10904090/174513019-9e7572d0-c93d-45de-aef9-3447356efd9a.jpg)

Failed in http handler, it does not cause by session variable, more like the bug #5973

[2022-06-20 03:13] youngsofun opened #6063 "http handler aware panic in sql execution"
**Summary**

[2022-06-20 03:16] ZeaLoVe commented on #6063
[code]

Current planner_v2 is not default enabled, The last statement http handler gets ok but mysql handler get an error.

[2022-06-20 03:29] leiysky commented on #6054
A reproduce:
[code]

[2022-06-20 05:36] dantengsky opened #6064 "Improvement: abandon internal patches of parquet2"
**Summary**

We have two internal patches of parqeut2, which mainly address the requirement

- acquire the parquet file meta, right after the parquet file has been written, without re-read the file

It works, but awkwardly: each time we sync with upstream(official parquet2), there are some extra works to do (rebase, resolve potential conflicts...)

Among the new features that parquet2 has introduc

[2022-06-20 06:16] TCeason opened #6068 "A bug about revoke"
BTW, I think this test has some questions. But it no matters with this pr. So I will create a new issue to disscuss about it.

_Originally posted by @TCeason in https://github.com/datafuselabs/databend/pull/6066#discussion_r901288898_

[2022-06-20 06:16] TCeason commented on #6068
[code]

[2022-06-20 06:18] TCeason commented on #6068
@flaneur2020  @junnplus Do you have some idea?

[2022-06-20 06:18] ZeaLoVe commented on #6054
cc @youngsofun  produce in latest build v0.7.92-nightly, do not appear in previous versions.

[2022-06-20 06:23] TCeason commented on #6068
[code]

And I try to use this account login server, the account really has `SELECT` privilege.

[2022-06-20 06:45] TCeason commented on #6068
BTW why the user can execute queries like `show databases` and `show tables`?

[code]

[2022-06-20 06:45] youngsofun commented on #6054
@ZeaLoVe  this may be because http handler use v2 for diff scope with mysql handler

[2022-06-20 06:53] leiysky opened #6069 "Push down filter to storage"
Some simple predicates can be pushed down to storage to help pruning partitions, depending on the index types.

For now, databend support min/max index and bloom filter, which can utilize with range filters and equivalent filters. We can push down the predicates as follow pattern:
- `Variable RangeOp Const`: pruning with min/max values
- `Variable = Const`: pruning with bloom filter

[2022-06-20 06:59] lichuang opened #6070 "add meta service network metrics"

[2022-06-20 07:35] leiysky commented on #6069
Can leverage with #5919

[2022-06-20 08:19] leiysky commented on #6060
#6073 will fix the `Projection error` of Q4 and Q22.

[2022-06-20 08:23] BohuTANG commented on #6060
Q15:
[code]
seems like [Tabular SQL UDFs (UDTFs)](https://github.com/datafuselabs/databend/issues/5731)

I think we can skip this test and wait until the UDTFs are ready.

[2022-06-20 08:26] ZeaLoVe commented on #5466
#5530

[2022-06-20 08:26] #5466 closed

[2022-06-20 08:28] leiysky commented on #6060
It's actually a alias, we can rewrite as:
[code]

[2022-06-20 08:35] BohuTANG commented on #6020
Hi,

I have a test on EC2 Arm 32C64G with v0.7.92-nightly:
[code]
COPY INTO ontime FROM 's3://databendcloud/ontime/' pattern = 'ontime_.*csv'
file_format = (TYPE = "CSV" field_delimiter = '\t' record_delimiter = '\n'
skip_header = 1);

Read 202687555 rows, 137.02 GiB in 390.001 sec., 519.71 thousand rows/sec., 359.75 MiB/sec.
[code]

[2022-06-20 09:00] leiysky opened #6076 "Decorrelate scalar subquery"
TPCH Q17:
[code]

[2022-06-20 09:08] leiysky opened #6077 "Support non-equi conditions for `HashJoin`"
So far, we only support using equivalent condition inside `HashJoin`, which cannot work with complicated join conditions as:
- Non-equi join condition of outer join: `select * from l left join r on l.a > r.a`
- Non-equi predicate of semi join: `select * from t where exists(select * from t1 where t.a > t1.a)`

[2022-06-20 09:12] leiysky commented on #6077
cc @xudong963

[2022-06-20 09:19] #6054 closed

[2022-06-20 09:23] junnplus commented on #6020
Is this an import of a single large file or multiple small files?

[2022-06-20 09:41] Xuanwo opened #6078 "Test output of goldenfile is not readable"
We use `goldenfile` for AST unit tests, but it will output the whole content of goldenfile while the test failed. This behavior makes it hard for debugging.

As we already print the diff, maybe we can omit the output of goldenfile's content?

![image](https://user-images.githubusercontent.com/5351546/174573651-5cca7ee4-7569-4a7f-ad58-39008172dd8c.png)

Take `test_statement` as an example, we have

[2022-06-20 09:42] Xuanwo commented on #6078
Maybe we can input a `Differ` which doesn't print any content.

[2022-06-20 10:05] ZhiHanZ opened #6080 "Feature: Support projection on [database].[table].[field]"
**Summary**
scan from [database].[table].[field] is used for several third party integrations such as in metabase data browse
Currently we only support [table[.[field[ during scan which could be improved

example:
DDL
[code]

SQL
[code]
works in table.field area
[code]

[2022-06-20 10:15] youngsofun commented on #6063
[code]
fixed? @ZeaLoVe

[2022-06-20 10:16] leiysky commented on #6080
I'll work on it, maybe we only need to support it in new planner? @BohuTANG

[2022-06-20 10:23] leiysky opened #6081 "Serializable physical plan for new planner"
In new planner, we will transform the SQL text into a logical plan, optimize the logical plan into physical plan, and then build a `Pipeline` with the physical plan.

To leverage with distributed execution, we will split the physical plan into `QueryFragment`s, which are fragments of a whole physical plan. Each `QueryFragement` is equivalent to a subtree of physical plan, which means it shares the

[2022-06-20 10:44] BohuTANG commented on #6080
There is a concern, we use `[catalog].[database].[table]`, for example:
[code]
https://github.com/datafuselabs/databend/blob/main/tests/suites/2_stateful_hive/00_basics/00_0000_hms_basics.sql

cc  @dantengsky

[2022-06-20 10:49] lichuang opened #6082 "add more status about meta node."

[2022-06-20 11:09] AngleNet commented on #6017
Sorry for the late update. I'm still working on it. Hope this issue is not very urgent. I will try my best to provide a draft implementation in this weekend. :)

[2022-06-20 13:10] flaneur2020 commented on #6080
`scan from [database].[table].[field]` -> `projection on [database].[table].[field]` ?

this issue occurs on selecting fields with `[database].[table]` prefix, not really a scan on `database.table.field` i guess.

[2022-06-20 14:08] #5777 closed

[2022-06-20 14:53] leiysky commented on #6017
This is not that urgent, please make yourself comfortable.

I've just added a phase `post_optimize`, which is a good place to put the column pruning optimization into it.
https://github.com/datafuselabs/databend/blob/d6c8161f22e3a5da88314712ad93d18d5b906ebc/query/src/sql/optimizer/heuristic/mod.rs#L77-L79

[2022-06-20 15:13] andylokandy commented on #6078
The assertion output is from an indirect dependent crate [`difference](https://github.com/johannhof/difference.rs/blob/54bdfa25092ebc2a1b3d86e640cf517e7dcdcb96/src/lib.rs#L167-L172). I don't have any idea to hide it without forking the `goldenfile` crate.

[2022-06-20 16:11] PsiACE commented on #6078
i think https://crates.io/crates/similar is a good choice for diff

[2022-06-20 16:13] drmingdrmer opened #6084 "databend-meta adds cli command to send RPC to a running meta cluster"
E.g.:
[code]

[2022-06-20 16:29] ZhiHanZ commented on #6084
I think we could also support export command and remove metactl?

[2022-06-20 17:33] Veeupup opened #6087 "bug: A table must have at least one visible column."
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

latest

### What's Wrong?

when creating a table in databend, we can create a table with no columns, which will panic when doing query about the table
![image](https://user-images.githubusercontent.com/26339429/174653362-a432ed2f-58fc-45ec-aac7-

[2022-06-20 20:08] soyeric128 commented on #6033
Hi @xudong963

Pls review this PR: https://github.com/datafuselabs/databend/pull/6088

[2022-06-21 00:20] #6033 closed

[2022-06-21 01:46] BohuTANG opened #6091 "COPY INTO size_limit=10 is not correct in parallel"
**Summary**

Table:
[code]

[code]

[2022-06-21 02:02] flaneur2020 opened #6092 "COPY INTO ontime OOM in an 1Gi memory limit"
**Summary**

[2022-06-21 02:43] JialuGong commented on #6046
Hi @leiysky,  Sorry that I've got a problem. I'd like to know how `static_cast` casts a `Null` value .
https://github.com/datafuselabs/databend/blob/15ba3b0a2a8852e53bc781a2157c0a6990ec6631/common/datavalues/src/columns/series.rs#L39-L44
Cause I noticed that `ComparisonFunction` compares values if they are null, I wonder if I could use `ComparisonFunction`  to implement `IS [NOT] DISTINCT FROM` op

[2022-06-21 03:10] zhang2014 opened #6093 "bug: downcast column error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main branch

mysql> select version();
+--------------------------------------------------------------------------------------+
| version()                                                                            |
+----------------------------

[2022-06-21 03:34] leiysky commented on #6046
@JialuGong You can take a look at https://github.com/datafuselabs/databend/blob/main/common/datavalues/src/columns/null/mod.rs .

It's a good idea, but you can not really reuse the logic of `ComparisonFunction`.

In databend, a `FunctionAdapter` is responsible to dispatch functions according to the `FunctionFeatures`.

If a function is not **null-aware**(which returns null if any of the arguments

[2022-06-21 03:47] #5926 closed

[2022-06-21 03:59] sundy-li commented on #6091
After #6074

[2022-06-21 05:01] #6063 closed

[2022-06-21 05:21] leiysky commented on #6093
I encountered this bug too, the root cause is `SingleString` hash method won't check `Const` and `Nullable` column.

https://github.com/datafuselabs/databend/blob/7d46a582a44e29f1dec988908102894c89d0aefc/common/datablocks/src/kernels/data_block_group_by_hash.rs#L208-L223

cc @sundy-li

[2022-06-21 06:29] sundy-li commented on #6046
What @leiysky  is right,  but the `ComparisionFunction` is very complex to modify.

Since `IS [NOT] DISTINCT FROM` is not used widely, I would like to go an easier way to implement it.
We can transform :

1.  `IS DISTINCT FROM` to `multi_if( is_null(lhs)  and is_null(rhs), false,    is_null(lhs)  or is_null(rhs), true,  lhs == rhs  )`
2. `IS DISTINCT FROM` to `Not(IS DISTINCT FROM)`

[2022-06-21 07:29] leiysky opened #6096 "Optimize disjunctive predicates"
The disjunction connective `OR` is an important part of query optimization. Different from conjunction connective `AND`, the rule of `OR` is much more complicated.

The basic theorems we have:

$$
\begin{equation}
    \sigma_{p_1 \lor p_2} (R) = \sigma_{p_1} (R) \cup \sigma_{p_2}(R)
\end{equation}
$$

With this we can transform a query:
[code]
into:
[code]

However this transformation is always le

[2022-06-21 08:19] #4471 closed

[2022-06-21 08:23] Xuanwo opened #6098 "bug: Performance drop after introducing cluster select query"
@zhang2014 , Do we introduce the `rwlock` again? I test this PR, and the performance has a big drop.
[code]

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/4544#issuecomment-1161398854_

[2022-06-21 08:27] ZeaLoVe commented on #5973
@zhang2014 Any progress？

[2022-06-21 08:42] drmingdrmer opened #6099 "metactl should not print logging message to stdout, as it export data to stdout."
Using stderr would be better

[2022-06-21 08:45] drmingdrmer opened #6100 "add checksum when export or import metasrv data"
TODO: explain what to do

[2022-06-21 08:48] junnplus commented on #6068
I think showing user's grants are inconsistent may be because of the role cache, we are now updating the role cache periodically(15s), see https://github.com/datafuselabs/databend/blob/main/query/src/users/role_cache_mgr.rs#L48.

We can consider updating the cache by watching meta.

[2022-06-21 08:48] BohuTANG opened #6101 "doc: add CLUSTER BY to create table"
**Summary**

[code]
Reference:
https://databend.rs/doc/reference/sql/ddl/clusterkey

[2022-06-21 08:49] junnplus commented on #6068
Sorry, we don't yet fully support permission checks. It's still in progress.

[2022-06-21 08:50] TCeason commented on #4808
https://github.com/datafuselabs/databend/issues/4807

[2022-06-21 08:50] #4808 closed

[2022-06-21 08:54] Xuanwo opened #6102 "COPY/STAGE UI/UX Improvement"
This issue is used to track the ui/u improvement of `COPY` and `STAGE`.

We expect users to use `COPY` and `STAGE` as happily as possible.

**Most issues listed are just ideas, please leaving comments under specific issue to request more information**

## User Experience

- [x] #6103
  - Also address #4739
  - Depends on #5781
- [x] #6104
  - Should take serectry issue into consideration, for exam

[2022-06-21 08:55] Xuanwo opened #6103 "Support other stage storage types"

[2022-06-21 08:55] Xuanwo opened #6104 "Add endpoint_url so we can copy from external s3 services"
We should disallow endpoint like `http://127.0.0.1` by default.

[2022-06-21 08:55] Xuanwo opened #6105 "Check if `protocol` is supported during parsing"

[2022-06-21 08:55] Xuanwo opened #6106 "Strong typed credentials and encryption based on protocol"
For example, we can raise errors if users inputs `access_key_id` instead of `aws_key_id`.

[2022-06-21 08:55] Xuanwo opened #6107 "Implement unit tests for stage and copy"

[2022-06-21 09:09] Xuanwo commented on #4739
Replaced by https://github.com/datafuselabs/databend/issues/6103

[2022-06-21 09:09] #4739 closed

[2022-06-21 09:09] #4736 closed

[2022-06-21 09:10] #5215 closed

[2022-06-21 09:38] zhang2014 commented on #6093
Why GROUP BY uuid() is const column?

[2022-06-21 09:39] zhang2014 commented on #5973
Sorry, I worked on other tasks before. Now let's come back here.

[2022-06-21 10:12] BohuTANG commented on #6098
I have test again with the main branch, it seems ok(drop a little) now:
[code]

[2022-06-21 10:12] #6098 closed

[2022-06-21 10:14] BohuTANG opened #6108 "Maybe add test for nullable string column as well?"
Maybe add test for nullable string column as well?

_Originally posted by @leiysky in https://github.com/datafuselabs/databend/pull/6095#discussion_r902380396_

[2022-06-21 10:38] drmingdrmer opened #6109 "Test if metasrv survives in a single way partitioned network."
E.g., when `AB` can not reach `C` but `C` can reach `AB`:
`A <--> B`, `B <-- C`, `A <-- C`.

This may happen when the hostname of C is misconfigured.

Such cases should also be tested in openraft.

[2022-06-21 11:15] sundy-li commented on #6093
Now uuid function generates const column.

[2022-06-21 11:39] flaneur2020 opened #6112 "http query api: the response body of "query id not found" is not in JSON format"
**Summary**

on errors of the http api, it returns an error format like:

[code]

but the output of query id not found is not an json, but a plain string:

https://github.com/datafuselabs/databend/blob/7385f416059bc7d5bc4eaa9c77c5d01cf659c197/query/src/servers/http/v1/http_query_handlers.rs#L268

it might be better to return the query id not found error in the uniform format.

[2022-06-21 12:03] Xuanwo commented on #6098
Closed again as wont fix.

[2022-06-21 12:08] Xuanwo opened #6113 "parser: Parse string into struct with span"
I prefer to parse string into a struct with span (similar to identifier), to which we can impl display with quotes.

_Originally posted by @andylokandy in https://github.com/datafuselabs/databend/pull/6074#discussion_r902510900_

[2022-06-21 12:41] #5950 closed, assigned to andylokandy

[2022-06-21 13:19] #6082 closed

[2022-06-21 13:23] BohuTANG opened #6115 "> * is the above categorization strategy reasonable? shall we take `PermissionDenied` as permanent error as well?"
Not looks good to me, opendal will convert all retryable errors (500, 502, 503, ...) to [`Interrupted`](https://doc.rust-lang.org/stable/std/io/enum.ErrorKind.html#variant.Interrupted).

Take s3 as an example: https://github.com/datafuselabs/opendal/blob/main/src/services/s3/backend.rs#L1218-L1229

I think we can convert errors while `hyper send request` to `Interrupted` too so that we can retry a

[2022-06-21 13:24] #6045 closed

[2022-06-21 14:36] dantengsky opened #6119 "take `Interrupted` as transient error for transient IO fault handling"
Not looks good to me, opendal will convert all retryable errors (500, 502, 503, ...) to [`Interrupted`](https://doc.rust-lang.org/stable/std/io/enum.ErrorKind.html#variant.Interrupted).

Take s3 as an example: https://github.com/datafuselabs/opendal/blob/main/src/services/s3/backend.rs#L1218-L1229

_Originally posted by @Xuanwo in https://github.com/datafuselabs/databend/issues/6085#issuecomment-1

[2022-06-21 14:56] zhang2014 opened #6120 "flake test: 05_0022_ddl_revoke_v2"
There is a test failed:
[code]

https://github.com/datafuselabs/databend/runs/6985895917?check_suite_focus=true#step:3:860

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/6110#issuecomment-1161808039_

[2022-06-21 15:33] BohuTANG opened #6121 "It seems to be a bug or at least incoherence of components, would you please open an issue for it later?"
It seems to be a bug or at least incoherence of components, would you please open an issue for it later?

_Originally posted by @dantengsky in https://github.com/datafuselabs/databend/pull/6056#discussion_r902682190_

[2022-06-22 00:10] FANNG1 opened #6123 "improve the support for hive query"
we could run simple query to hive tables with https://github.com/datafuselabs/opendal/issues/154,  #4947,  #5895 , but this's not enough. here we list the works todo to track the progress.
P1：
- [x] support predict push down
- [x] support query multi rowgroups in one file. https://github.com/datafuselabs/databend/pull/7311
- [x] support list files from dirs under table location
- [x] support parti

[2022-06-22 01:15] fkuner opened #6124 "Feature: migrate async insert to new planner"
**Summary**

[Description for this feature.](https://github.com/datafuselabs/databend/pull/5897#issuecomment-1162515367)

[2022-06-22 01:17] Xuanwo commented on #3778
The new planner uses `Plan` to replace `PlanNode`, maybe this issue is not valid anymore.

ping @leiysky for confirmation.

[2022-06-22 01:20] Xuanwo commented on #6123
There is ongoing work to support using RPC instead JNI to connect HDFS:

- hdrs (the rust native client we are using now): https://github.com/Xuanwo/hdrs/issues/71
- hdfs-rpc: https://github.com/Xuanwo/hdfs-rpc

[2022-06-22 01:46] sundy-li opened #6125 "Feature: Support format suffix in all statements with result"
**Summary**

Description for this feature.

We should support format suffix in all statements which have result, like:

-  [x] Select Statement
-  [ ] Show Statement
-  [ ] Desc Statement
-  [ ] List Statement

Example:

[code]
We could rewrite this SQL into:

[code]

[2022-06-22 01:51] sundy-li opened #6126 "Feature: federate SQL queries from some clickhouse drivers in clickhouse handler"
**Summary**

Description for this feature.

[2022-06-22 01:51] sundy-li opened #6127 "[Track] ClickHouse driver compatibility"
Task List:

-  [ ] ~~https://github.com/datafuselabs/databend/issues/6125~~
-  [x] https://github.com/datafuselabs/databend/issues/6126
-  [ ] ~~https://github.com/datafuselabs/databend/issues/6266~~
-  [x] https://github.com/datafuselabs/databend/issues/6313
-  [x] https://github.com/datafuselabs/databend/issues/6414
-  [x] #6449

[2022-06-22 01:57] sundy-li opened #6128 "Feature: Introduce SQLsmith framework into databend"
**Summary**

Description for this feature.

We may need to implement  a domain-aware fuzz tester in rust.

Refer:  https://www.cockroachlabs.com/blog/sqlsmith-randomized-sql-testing/

[2022-06-22 02:10] fkuner opened #6129 "Feature: create table with column reference as defualt"
**Summary**

[code]

[2022-06-22 02:10] fkuner commented on #6129
cc @andylokandy

[2022-06-22 02:24] PsiACE commented on #1549
#6128

[2022-06-22 02:24] #1549 closed

[2022-06-22 02:59] dantengsky opened #6132 "BUG: `SQLCommon::short_sql` does not trim insert stmt as expected"
**Summary**

`SQLCommon::short_sql` is expected to trim `insert SQL` to string, which length is at most 64.

but, it does not.

How to reproduce:

- execute a long insert sql
- select the query log from `system.query_log`
 e.g. `select * from system.query_log where query_text like "insert%"`

[2022-06-22 03:07] BohuTANG commented on #6132
Add a new `QueryConfig` for query_log name like `query_log_enabled` (default is true)?

[2022-06-22 03:23] BohuTANG commented on #6132
It seems max_query_log_size=0 can do that.

[2022-06-22 03:39] leiysky commented on #6129
IMO this features looks wierd, both MySQL and Postgres doesn't support this. Default value should be a deterministic constant value.

If we need to represent a column with expression, then we should use generated column or virtual column instead.

[2022-06-22 03:43] fkuner commented on #6129
Yes, I found this test case in out test. `09_0004_remote_insert_into_select.sql`

[2022-06-22 03:44] leiysky commented on #6129
I recall that we have implemented this in old planner, can we deprecate it in new planner? @BohuTANG @sundy-li

[2022-06-22 03:53] wfxr opened #6134 "bug: creating database using `GITHUB` engine always fails"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

databend-query v0.7.93-nightly-d6c8161-simd(rust-1.63.0-nightly-2022-06-20T16:16:37.326208256Z)

### What's Wrong?

creating database using `GITHUB` engine always fails with the following message:

[code]

### How to Reproduce?

1. Start databen

[2022-06-22 04:13] sundy-li commented on #6129
I don't know if it's a must-feature in databend since we want to be more compatible with ClickHouse.   I think this feature can currently be deprecated until we find it's really helpful to users.

[2022-06-22 04:22] dantengsky commented on #6115
Duplicated with issue
- #6119

[2022-06-22 04:22] #6115 closed

[2022-06-22 04:25] #6132 closed

[2022-06-22 04:36] Xuanwo commented on #6119
Yep, we have enabled this feature in https://github.com/datafuselabs/databend/blob/main/query/src/sessions/session_mgr.rs#L389

[2022-06-22 04:40] dantengsky commented on #6119
Closing this issue since [Interrupted](https://doc.rust-lang.org/stable/std/io/enum.ErrorKind.html#variant.Interrupted) already handled by opendal.

please feel free to re-open it if there are other related flaws

[2022-06-22 04:40] #6119 closed

[2022-06-22 05:06] Xuanwo opened #6137 "Implement `Into<PoemError> for ErrorCode`"
Maybe it's better to implement `Into<PoemError> for ErrorCode`?

_Originally posted by @Xuanwo in https://github.com/datafuselabs/databend/pull/5897#discussion_r903285481_

[2022-06-22 05:08] Xuanwo commented on #6137
HTTP Handlers require an explicit handle of error transform. Implementing `Into<PoemError> for ErrorCode` may make developers' lives easier.

[2022-06-22 05:11] dantengsky commented on #6121
for easy tracking, [supplement comments ](https://github.com/datafuselabs/databend/pull/6056#discussion_r903275052)from @cadl  are duplicated here

[code]

[2022-06-22 05:15] #5768 closed

[2022-06-22 05:21] BohuTANG opened #6138 "Doc: add cloud page to deploy"
**Summary**
![image](https://user-images.githubusercontent.com/172204/174949473-0b2ada93-3dc4-4edc-ab4f-7974fb95bfe3.png)

Add a new page to introduce the `Databend Cloud`

[2022-06-22 05:45] #6134 closed

[2022-06-22 06:11] #6091 closed

[2022-06-22 06:56] junnplus opened #6139 "bug: Failed to upload file with spaces"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?
[code]
### How to Reproduce?

Upload a file with spaces via curl `/v1/upload_to_stage`

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-06-22 07:12] Xuanwo opened #6140 "COPY from csv support delimeter `\r\n`"
`CsvSource` will accept the input delimiter directly. This behavior could make user copied wrong data when input delimiter is `\n` but files is `\r\n`.

To make users' lives easier, we can handle them by:

[code]

So that users will not panic when they copied the wrong data with `\n`.

[2022-06-22 08:42] #6078 closed

[2022-06-22 09:23] #6121 closed

[2022-06-22 11:11] sandflee opened #6147 "bug: jdbc query databend failed"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

610f381404313f6944fd89b5460ae5eb0bfd6717

### What's Wrong?

jdbc logs:
[code]

databend logs:
[code]

### How to Reproduce?

1. start databend cluster
3. run sql using java jdbc,   mysql connector version is "mysql-connector-java-5.1.40 ( Revis

[2022-06-22 11:53] BohuTANG commented on #6147
cc @TCeason

[2022-06-22 12:05] JialuGong commented on #6046
@sundy-li @leiysky Sorry for my late reply, cause I am too busy yesterday.

I used to add a new function feature `NotReturnNull` which means the `FunctionAdapter` should remove `Nullable` for nullable args and NOT wrap the result as `NullableColumn` and add a judge in `ComparisonFunction` to change the `FunctionFeature`. Although the result of some tests seems correct, It polluted the `ComparisonF

[2022-06-22 12:08] sundy-li commented on #6046
There is `assume_not_null` function now.

[2022-06-22 13:47] xudong963 commented on #6077
Seems not to relate Q17 and Q21

**Q17**
[code]
Error
[code]

**Q21**
[code]
Loop the following report, but no result
[code]

[2022-06-22 14:00] youngsofun commented on #6137
1. need to determine the status code reasonably
2. (maybe) sometimes need more context info

[2022-06-22 14:15] soyeric128 commented on #6101
Hi @BohuTANG
Pls review this PR: https://github.com/datafuselabs/databend/pull/6151

[2022-06-22 15:01] #6101 closed

[2022-06-22 17:08] xudong963 commented on #6060
Q13 is supported by https://github.com/datafuselabs/databend/pull/6145

[2022-06-22 19:51] soyeric128 commented on #6138
Hi @BohuTANG
Can you provide input on this topic?

[2022-06-22 23:45] FANNG1 opened #6155 "add a config "default_catalog""
we use databend to query hive data only now,  the sql like 'select * from hive.$db.$table',  not convenient to end users. maybe we could add a config named 'default_catalog' with the default value 'default';  if we set it to "hive",  user could use 'select * from $db.$table' to query.

[2022-06-23 00:17] BohuTANG commented on #6155
It looks reasonable. What do you think? @dantengsky

[2022-06-23 00:28] #5959 closed

[2022-06-23 01:17] #3429 closed

[2022-06-23 01:17] xudong963 opened #6156 "transient error encountered while reading column, ... source: Too many open files (os error 24))"
**Summary**

When running TPCH Q17, Q21
[code]
[code]

I got the following error:
[code]

Need help @dantengsky

[2022-06-23 01:17] #5824 closed

[2022-06-23 01:37] xudong963 commented on #6156
Seems I need to increase the number of the open file limit in my local

[2022-06-23 01:56] xudong963 commented on #6156
I turned up the maximum and it still doesn't work, we need to find the essential cause

[2022-06-23 01:57] TCeason commented on #6120
Yes, I also find it. And that's a known qutsion. Details in this issue: https://github.com/datafuselabs/databend/issues/6068

So I think we can comment some test.

[2022-06-23 02:08] dantengsky commented on #6155
Pretty idea, thanks @sandflee

There might be other work to do, to make the 'default_catalog' config mechanism **fully** functional (or at least pass the UT/IT)

Things that I can come up with right now
- there is no `system` db, or `information_schema` for catalog other than the current default catalog
- A special table `system.one` is used in some cases

https://github.com/datafuselabs/databend/

[2022-06-23 02:45] dantengsky opened #6158 "Improvement: transient io operation fault handling in ParquetSource"
**Summary**

Task left in PR
- #6085

[2022-06-23 02:55] dantengsky commented on #6156
sorry for the late response

does it mean `ulimit` does not work for this case?

[2022-06-23 03:12] Xuanwo opened #6160 "Too many WARN logs around `TableVersionMismatched`"
**Summary**

Maybe we can decrease it to `debug` and add metrics like `table_version_mismatched_count{table=xxx}`
---------------
- [x] #6161
- [ ] add metrics like `table_version_mismatched_count{table=xxx}`

[2022-06-23 03:15] dantengsky opened #6161 "decrease level of `TableVersionMismatched` log messages to `debug`"

[2022-06-23 04:06] BohuTANG opened #6163 "databend_query::servers::http::v1::query::execute_state: Query Error: Code: 1104, displayText = interpreter panic!."
**Summary**

SQL from worksheet:
[code]

server panic error:

2022-06-23T04:00:54.654071Z ERROR databend_query::servers::http::v1::query::execute_state: Query Error: Code: 1104, displayText = interpreter panic!.

<Backtrace disabled by default. Please use RUST_BACKTRACE=1 to enable>
2022-06-23T04:01:34.422392Z  INFO databend_query::servers::http::v1::http_query_handlers: receive http query: HttpQu

[2022-06-23 04:19] leiysky commented on #6060
This can be rewritten into:
[code]

Which is much more effiecient than original query.

Join reordering is complicated and has dependency on cost-based optmization, we will implement this later.

[2022-06-23 04:20] BohuTANG commented on #6060
I will test TPCH again today later :/

[2022-06-23 04:21] xudong963 commented on #6060
Yes, I have already rewritten it, so I got the result 🤣

[2022-06-23 04:22] #6161 closed

[2022-06-23 04:24] xudong963 commented on #6060
For Q17 and Q21, you can try to increase your max open file descriptors in your local
<img width="566" alt="image" src="https://user-images.githubusercontent.com/41979257/175208658-714f7ef7-c3d4-48a8-b17d-6e8b6d632997.png">

[2022-06-23 04:25] xudong963 commented on #6060
Btw, Q19 isn't OOM, I'm debugging it

[2022-06-23 04:26] leiysky commented on #6060
It's because of the disjuntion, I have opened a issue for this #6096

[2022-06-23 04:54] everpcpc opened #6164 "Feature: integration with sentry"
**Summary**

We can report backtrace to sentry for better error tracking.

ref: https://github.com/getsentry/sentry-rust/tree/master/sentry-tracing

[2022-06-23 05:24] BohuTANG commented on #6163
This can be re-produced with a 2-node cluster, but it works in a single node. I think it's related to the new processor.

[2022-06-23 06:57] drmingdrmer opened #6169 "metasrv: when import from a backup data, it has to provide an argument to override listening and advertise addresses"
E.g. override the `Node` record in raft-log or state-machine.
`metactl --import --raft-dir <path> --raft-advertise-host ...`

Because every raft-node has to have its own configured network endpoints.

[2022-06-23 07:01] #6156 closed

[2022-06-23 08:30] BohuTANG opened #6171 "Add ontime mini dataset to stateful test"
**Summary**

Here we can use a mini ontime dataset(399996 records) to the stateful test for the functional check(including cluster query).

Table:
[code]

Copy mini dataset to the table:
[code]

Queries:
[code]

[2022-06-23 08:39] zhyass opened #6172 "Tracking issue: table compact"
Merge small partitions into big partitions.
https://github.com/datafuselabs/databend/issues/2728

- [x] https://github.com/datafuselabs/databend/issues/6492
- [x] https://github.com/datafuselabs/databend/issues/6372

[2022-06-23 09:11] sundy-li opened #6173 "Feature: support graceful abort insert query"
**Summary**

Description for this feature.

- [ ] support graceful abort insert query
- [ ] show abort error messages to the client

[2022-06-23 11:20] PsiACE opened #6180 "split databend-query to multiple crates"
**Summary**

Now Databend-Query is a rather large crate and we had to waste a lot of time on compiling and linking.

It's time to split it up into a few relatively small crates.

Related  https://github.com/datafuselabs/databend/pull/4399

[2022-06-23 11:30] Xuanwo commented on #6180
It's very important to do this job in a progressive way. Otherwise, we can't finish it.

[2022-06-23 11:31] Xuanwo commented on #6180
#4399 is a good example: It starts three months ago and ends with numerous code conflicts...

[2022-06-23 11:32] PsiACE commented on #6180
Yes, we're having trouble finding a window to do it all at once, and I think it will probably be done in two or three rounds.

[2022-06-23 13:50] BohuTANG commented on #6060
Re-run the test for the TPCH test, and update the result.
We can add a TPCH stateless test suite for the TPCH with planner_v2? cc @leiysky  @xudong963

[2022-06-23 14:25] #4988 closed

[2022-06-23 14:25] #5859 closed

[2022-06-23 14:30] BohuTANG commented on #6060
@xudong963

The test suite is mainly for the TPCH functional check, not the performance, so we can make the factor to `0.1`:
[code]

[2022-06-23 14:34] xudong963 opened #6183 "TPCH: add stateless test for tpch in new planner"
**Summary**

To avoid feature rollbacks

[2022-06-23 14:35] xudong963 commented on #6060
https://github.com/datafuselabs/databend/issues/6183

[2022-06-23 15:14] sandflee commented on #6155
CATALOG_DEFAULT is used widely in databend.  seems we should replcace it with current_catalog() expcept  for the special cases such as system db & system one.

[2022-06-23 16:16] #5308 closed

[2022-06-23 16:46] #6173 closed

[2022-06-23 17:13] dantengsky opened #6186 "bug: high cpu usage of idle server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main branch (commit 766228f0ae7faa70b4741b524748c75f2f679801)

### What's Wrong?

idle server, nothing running, but CPU usage is not as expected:

[code]

![image](https://user-images.githubusercontent.com/22081156/175356253-34a9bbe9-3827-419c-a

[2022-06-23 17:15] dantengsky commented on #6186
seems to be looping here:

https://github.com/datafuselabs/databend/blob/489b0614a0c716e9a24699c439cb11c175bee508/query/src/interpreters/async_insert_queue.rs#L227-L231

[2022-06-23 23:13] sundy-li opened #6188 "Flaky tests on macos cluster tests"
**Summary**

cc @dantengsky

https://github.com/datafuselabs/databend/runs/7029746235?check_suite_focus=true

[code]

[2022-06-23 23:17] sundy-li commented on #6186
cc @fkuner, seems this loop is costable.

[2022-06-23 23:31] sundy-li commented on #6186
[code]

I tested it but the CPU is low, just about 2.7%.

[2022-06-24 00:29] #6188 closed

[2022-06-24 00:35] BohuTANG commented on #4646
Is this issue ready to close? https://github.com/datafuselabs/databend/pull/6174 cc @sundy-li

[2022-06-24 00:36] BohuTANG commented on #3931
This is ready, let's close it.

[2022-06-24 00:36] #3931 closed

[2022-06-24 00:38] BohuTANG commented on #4260
This issue can be closed?

[2022-06-24 00:40] fkuner commented on #6186
OK, let me check it out.

[2022-06-24 00:41] BohuTANG commented on #747
We have moved to the new processor now, let's close this issue, if you need to track them again, please open the new one. cc @zhang2014

[2022-06-24 00:41] #747 closed

[2022-06-24 00:48] BohuTANG commented on #4483
Round 3 done!

[2022-06-24 00:48] #4483 closed

[2022-06-24 00:48] BohuTANG commented on #6138
https://github.com/datafuselabs/databend/pull/6179

[2022-06-24 00:48] #6138 closed

[2022-06-24 00:50] BohuTANG commented on #5515
5602 is for databend-meta, we also need to monitor the databend-query.

[2022-06-24 00:53] sundy-li commented on #6186
Using profile:

[code]

<img width="1846" alt="image" src="https://user-images.githubusercontent.com/3325189/175438553-ead97a0e-7593-495f-9f28-4c7589f48f11.png">

[2022-06-24 01:02] fkuner commented on #6186
OK, Look like create `intv` is expensive. But is it the root cause of high cpu?

[2022-06-24 01:07] sundy-li commented on #4260
Still make sense, but in low-priority.

[2022-06-24 01:08] #4646 closed

[2022-06-24 01:09] fkuner commented on #6186
I can't reproduce the high cpu case. Would you describte it in detail? In my machine, the cpu usage is about 4%.

[2022-06-24 01:22] dantengsky commented on #6186
Just tested  the latest main branch, still

[code]

[code]

`top -Hp $(pgrep databend-query)`

![Screenshot from 2022-06-24 01-11-57](https://user-images.githubusercontent.com/22081156/175440951-12110ba5-c1da-42b7-9bc0-fdab77e5be56.png)

[2022-06-24 01:31] dantengsky commented on #6155
Agree :+1:

[2022-06-24 01:35] fkuner commented on #6186
I think we can test by closing `async_insert_queue`. In `databend-query.rs`

[code]

we comment the `start()` of `async_insert_queue`.

@dantengsky

[2022-06-24 01:44] dantengsky commented on #6155
For stmt like `select 1=1`, a pseudo table `system.one` seems to be used. Not 100% percent sure about this.

Lack of "information_schema" for catalog hive, should have no side effects to query node, hope it will not bring troubles to the "business logics" either.

yeah, that is not a big problem : )

[2022-06-24 01:59] fkuner commented on #6186
It's weird. I still can't reproduct it. But I will submit a patch. You can try it again.

[2022-06-24 03:01] TCeason opened #6192 "Feature: Orderby support use `database_name`.`table_name`.`column_name`"
**Summary**

There has a grammar

[code]

And in ORDER BY | GROUP BY

the sql is `database_name`.`table_name`.`column_name`

Now the error info is :

[code]

GROUP BY is ok.

[code]

[2022-06-24 03:50] dantengsky commented on #6188
Thanks bros :heart:

[2022-06-24 04:01] TCeason commented on #6080
#6192  Maybe this issue can also link to here.

[2022-06-24 04:20] #6163 closed

[2022-06-24 05:25] #6099 closed

[2022-06-24 08:13] BohuTANG opened #6200 "numbers table performance with new planner v2"
**Summary**

From my local benchmark, performance is 2x better than the new planner_v2.

## How to test

[code]

## Performance

### Old Planner V1
[code]

![image](https://user-images.githubusercontent.com/172204/175492978-e600ff2f-12fc-4d9b-b99f-d9ebb2da023f.png)

### New Planner V2
[code]

![image](https://user-images.githubusercontent.com/172204/175493019-49df3f82-c264-4c0f-8541-426dcd1e8b54.p

[2022-06-24 08:13] BohuTANG commented on #6200
cc @zhang2014 @leiysky

[2022-06-24 08:35] leiysky commented on #6200
It's expected.

The reason is that we are using a `ColumnID` to identify columns in `DataBlock`s when running query with new planner, which is diffenrent from the legacy planner. For now, we resolve this by adding a `ProjectTransform` right after `SourceTransform` to remap the column names into `ColumnID`s.

This overhead is low, but will become significant for simple queries like `select * from n

[2022-06-24 09:59] TCeason opened #6209 "select projection will destroy order by logical"
Here, we need an error, but now it will succeed. I will create a new ISSUE.

[code]

_Originally posted by @TCeason in https://github.com/datafuselabs/databend/pull/6196#discussion_r905914520_

[2022-06-24 10:05] TCeason commented on #6209
The same issue

[code]

[2022-06-24 10:34] Xuanwo opened #6211 "Refactor common-ast into more readable way"
This issue is used to track the refactor on `common-ast`.

I plan to refactor `common-ast` into more readable way with the following changes:

- Make sure the statement along with its parser, so we don't need to jump to different files for debugging
- Implement unit tests for statement parser so we can test a single part of ast (For example, `comma_separated_list1` and `copy_target`)
- Expose item

[2022-06-24 10:39] xudong963 opened #6212 "bug: TPCH Q1 returns unexpected results"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

TPCH Q1 returns unexpected results in old planner and new planner
**The last column is unexpected**
postgres:
[code]
databend
[code]

### How to Reproduce?

Run tpch Q1
[code]

### Are you willing to submit PR?

- [ ] Ye

[2022-06-24 10:40] xudong963 commented on #6212
[lineitem.csv](https://github.com/datafuselabs/databend/files/8975512/lineitem.csv)

[2022-06-24 10:42] xudong963 commented on #6212
Seems the bug is related to aggregation. cc @leiysky @sundy-li

[2022-06-24 10:57] leiysky commented on #6212
I found it will produce garbled result if we put the `count(*)` right after another aggregate function:
[code]

I think this may be caused by mistake unmarshaling the aggregate state. Do you have any idea? @sundy-li

[2022-06-24 11:02] xudong963 opened #6213 "bug: TPCH Q6 returns unexpected result"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

TPCH Q6 returns unexpected result in new planner and old planner:

**pg**
[code]

**databend**
[code]

### How to Reproduce?

Run the following SQL:
[code]

Dataset:
[lineitem.csv](https://github.com/datafuselabs/databen

[2022-06-24 11:19] xudong963 opened #6214 "Bug: TPCH Q12 error"
**Summary**

[code]

[code]
Btw, it was ok to run yesterday

[2022-06-24 11:21] Xuanwo opened #6215 "Feature: Add PRESIGN support"
- [Rendered RFC](https://github.com/datafuselabs/databend/blob/main/docs/doc/60-contributing/03-rfcs/20220704-presign.md)
- [RFC PR](https://github.com/datafuselabs/databend/pull/6503)

## TODO List

### reqsign

- [x] https://github.com/Xuanwo/reqsign/issues/86

### OpenDAL

- [x] https://github.com/datafuselabs/opendal/discussions/406
- [x] https://github.com/datafuselabs/opendal/discussions/407

[2022-06-24 11:22] Xuanwo commented on #6215
Depends on opendal: https://github.com/datafuselabs/opendal/issues/394

[2022-06-24 11:23] BohuTANG commented on #6214
Q12 should be:
[code]

[2022-06-24 11:25] #6081 closed

[2022-06-24 11:26] xudong963 commented on #6214
Yes, closed

[2022-06-24 11:26] #6214 closed

[2022-06-24 11:27] leiysky commented on #6211
By the way, I suggest to rename `common-ast` to `common-sql-parser`.

[2022-06-24 11:46] #5931 closed

[2022-06-24 11:52] BohuTANG commented on #6215
Btw, what is the [GET_STAGE_LOCATION](https://docs.snowflake.com/en/sql-reference/functions/get_stage_location.html) used for?

[2022-06-24 11:52] leiysky opened #6216 "Result of aggregation on empty set"
According to SQL specification:

The aggregate functions should return `NULL` except `COUNT` if the input is an empty set. Both MySQL and Postgres follows this rule.

But Databend will return the default value of input type:
[code]

Maybe we should follow the SQL standard? It's more reasonable to return `NULL` for empty set. For example, the semantic of `sum([0])` is different from `sum([])`, we s

[2022-06-24 11:53] leiysky commented on #6216
cc @BohuTANG @sundy-li

[2022-06-24 11:56] BohuTANG commented on #6216
Agree.
Snowflake also follows this rule.

[2022-06-24 12:02] fkuner commented on #6186
@dantengsky  We have fixed it. You can try it again now.

[2022-06-24 13:07] Xuanwo commented on #6215
I don't know either. Seems this SQL function can be used in other SQL queries.

[2022-06-24 13:14] sundy-li commented on #6216
To make aggregation return NULL on an empty set, we should make all aggregate function's `return_type` returns Nullable data type.

1. Need extra option to wrap the aggregate state.
2. Not compatible with ClickHouse behavior.

I need to investigate the difficulty of implementation based on the current aggregate framework (It may be conflicted with `aggregate_null_adaptor`).

[2022-06-24 13:51] #6212 closed

[2022-06-24 14:18] BohuTANG commented on #6216
I think this is not urgent :/

[2022-06-24 14:42] BohuTANG opened #6223 "Copy from parquet file panic"
**Summary**

## Version
[v0.7.101-nightly](https://github.com/datafuselabs/databend/releases/tag/v0.7.101-nightly)

## How to re-produce

[code]

Error:
[code]

## Server Error

backtrace	Backtrace [{ fn: "common_tracing::panic_hook::log_panic", file: "./workspace/common/tracing/src/panic_hook.rs", line: 31 }, { fn: "std::panicking::rust_panic_with_hook", file: "./rustc/cd282d7f75da9080fda0f1740a7

[2022-06-24 14:58] xudong963 commented on #6216
Related to TPCH Q17
[code]

[2022-06-24 15:03] BohuTANG commented on #6223
It works again by:
[code]

Let's close this issue and re-open it again when it happens next time.

[2022-06-24 15:22] xudong963 commented on #6211
Nice, I've thought about doing this before！ Seems there is no one ergonomic parser in rust community

[2022-06-24 15:24] BohuTANG commented on #6216
How did this issue affects Q17?

[2022-06-24 15:46] xudong963 commented on #6216
Sorry for the confusion. I also found this when I compared the result of databend tpch17 with pg, which regretted NULL, but databend returned 0.

[2022-06-24 16:07] Xuanwo commented on #6216
Hi, please only quote the content you want to reply.

[2022-06-24 16:52] andylokandy commented on #6211
I'm wondering if it it ok to have databend-specific statements in such a community crate tho...

[2022-06-25 06:51] #6183 closed

[2022-06-25 08:47] ClSlaid commented on #6112
so you mean returning a JSON string like:
[code]
wrapped in an HTTP 404 response?

[2022-06-25 13:38] BohuTANG opened #6229 "feat: PromQL handler"
**Summary**

Add a new handler for PromQL:
https://docs.rs/promql/latest/promql/
https://prometheus.io/docs/prometheus/latest/querying/basics/
https://promlabs.com/blog/2021/10/14/promql-vendor-compatibility-round-three

[2022-06-26 04:59] hanxuanliang commented on #5979
I have a question:

Does the `Explain` output format resemble `BulletStyle` or does each planNode need to change the corresponding display?

- `BulletStyle` in `CockroachDB`:
[code]

[2022-06-26 05:45] xudong963 commented on #6213
The root reason is floating point accuracy
In databend:
[code]
In pg and snowflake, the result is 0.05.

cc @sundy-li

[2022-06-26 06:48] sundy-li commented on #6213
After we support `Decimal/Numeric` datatypes.

https://www.db-fiddle.com/f/2c7izzL2wekWgLk1HVM5hb/0

[code]

[2022-06-26 13:45] leiysky commented on #5979
Kind of, I personally prefer `DefaultStyle`, which looks like:
[code]

[2022-06-26 15:15] AngleNet opened #6236 "Feature:"
**Summary**

Description for this feature.

[2022-06-26 15:31] #6209 closed

[2022-06-26 19:40] #6186 closed

[2022-06-26 23:56] sundy-li commented on #6236
Title is missing.

[2022-06-27 00:43] BohuTANG commented on #3933
I think we can restart the task now.

[2022-06-27 01:33] zhang2014 opened #6237 "bug: incorrect progress summary in cluster mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

[code]

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-06-27 01:40] zhang2014 opened #6238 "bug: cannot kill query in cluster mode"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

bug: cannot kill query in cluster mode

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-06-27 02:00] sundy-li opened #6240 "Tracking: Improve join performance"
**Summary**

Description for this feature.

- [x]  #6228
- [x] https://github.com/datafuselabs/databend/pull/6241
- [x]  https://github.com/datafuselabs/databend/pull/6336
- [ ] ...

[2022-06-27 02:26] Xuanwo commented on #6240
You are my hero of the day!

[2022-06-27 02:30] Xuanwo commented on #6236
I'm going to close this issue for the incomplete title and empty description.

Feel free to reopen it after filling them! :heart:

[2022-06-27 02:30] #6236 closed

[2022-06-27 02:31] Xuanwo opened #6242 "bug: Flaky test about grpc::metasrv_grpc_api::test_auto_sync_addr"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main branch

### What's Wrong?

Test in PR https://github.com/datafuselabs/databend/pull/6239 failed for

https://github.com/datafuselabs/databend/runs/7064970576?check_suite_focus=true

[code]

### How to Reproduce?

No ideas.

### Are you will

[2022-06-27 02:35] youngsofun opened #6243 "return same results with diff handlers from in logic test"
**Summary**

mysql, http, clickhouse http

- some need to fix wrong handlings of results
- some need to use settings to control formats

----

- [x] timezone https://github.com/datafuselabs/databend/issues/6244
- [x] output format of ts   https://github.com/datafuselabs/databend/issues/6245
- [ ] https://github.com/datafuselabs/databend/issues/6261
- [x] https://github.com/datafuselabs/databend/is

[2022-06-27 02:36] youngsofun opened #6244 "fix timezone in http handler"
**Summary**

select to_timestamp(1630320462000000);"

 in 02_function\02_0012_function_datetimes_tz

[2022-06-27 02:38] youngsofun opened #6245 "fix output fmt of timestamp"
**Summary**

![middle_img_v2_4c25c1cd-c0b8-4c58-b64d-c01f3f0dfd2g](https://user-images.githubusercontent.com/5782159/175849639-6d9d5956-bb3d-4b43-a6a9-25b1da240a00.jpg)

[2022-06-27 02:39] youngsofun commented on #6243
@ZeaLoVe you can add more here

[2022-06-27 03:24] youngsofun commented on #4976
move to https://github.com/datafuselabs/databend/issues/4976

[2022-06-27 03:24] #4976 closed

[2022-06-27 04:10] Xuanwo commented on #6139
Related to https://github.com/Xuanwo/reqsign/pull/80

[2022-06-27 04:22] xudong963 commented on #6096
Seems we can first convert to union all, and then optimize each branch of union all?

[2022-06-27 05:30] leiysky opened #6246 "Support CTE(Common Table Expression)"
Need RFC.

[2022-06-27 05:31] BohuTANG commented on #6246
Love it, and ready to use :D

[2022-06-27 05:37] Xuanwo commented on #6139
Should be fixed by https://github.com/datafuselabs/opendal/pull/398 which will be released as opendal v0.9.1

[2022-06-27 05:50] junnplus opened #6247 "Feature: Delay interpreting the view table"
**Summary**

Before the interpreter layer, the underlying SQL of the view table will be [parsed](https://github.com/datafuselabs/databend/blob/main/query/src/sql/statements/query/query_schema_joined_analyzer.rs#L115-L132), so that the interpreter cannot obtain the information from the original table. It will be very troublesome if we want to check the permissions of the underlying SQL.

[2022-06-27 07:19] #5993 closed

[2022-06-27 07:19] #6139 closed

[2022-06-27 07:57] #6192 closed

[2022-06-27 07:58] BohuTANG opened #6250 "09_0008_fuse_optimize_table flaky test"
[code]

Maybe that's a flaky test?

_Originally posted by @TCeason in https://github.com/datafuselabs/databend/issues/6196#issuecomment-1166845327_

[2022-06-27 08:41] #6164 closed

[2022-06-27 09:07] zhang2014 commented on #6250
Related, we can check it again after fixes #5973.

[2022-06-27 09:49] likg227 commented on #4617
@xudong963 Yes, I'm planning to solve it recently. But I still need some time to be familiar with the new planner framework and I also have my own work, so the progress may be slow.  Anyway, if you want to implement it yourself, go head and I'm ok with that.

[2022-06-27 10:36] ariesdevil opened #6254 "Feature: Support load balance for meta client"
**Summary**

ClickHouse Keeper supports multiple load balance policy: random(default), in_order, nearest_hostname, first_or_random, round_robin; to reduce latency between CH and keeper.

[2022-06-27 11:28] AngleNet commented on #6017
@leiysky HI. I have a problem while writing tests for it. It seems that code under `sql/optimizer/heuristic` just generates `testdata/*.test`. I have no idea how the `*.test* are executed and compared along expected query plans. Could you clear this for me ?

[2022-06-27 13:45] AngleNet commented on #6017
@xudong963 HI. I have no idea how the test framework for optimizer works. Would you help me with this?

[2022-06-27 14:30] leiysky commented on #6096
Unless you can share the scanning or leverage with a secondary index, it's always inefficient. We'd better find out if we can extract the common predicate and push it down for this case.

[2022-06-27 14:38] #5146 closed

[2022-06-27 14:44] xudong963 commented on #6096
Ok, will try to extract common items

[2022-06-27 23:12] #6242 closed

[2022-06-27 23:13] #6245 closed

[2022-06-28 00:50] #6244 closed

[2022-06-28 01:02] youngsofun opened #6261 "can not get right schema for `show functions`"
**Summary**

[code]

[2022-06-28 01:45] youngsofun opened #6262 "clickhouse handler disconnect when fail after interperter.execute"
**Summary**

09_0006_func_fuse_history
 20_0003_async_crash_me_table

[code]

## normal error

clickhouse handler doc:

the JDBC driver assumes the error message to be of the following format:

 ```Code: 10, e.displayText() = DB::Exception: ...```

https://github.com/ClickHouse/clickhouse-jdbc/blob/eb8b0878d33853ecfcfc4b81f7d0f618900bbb7b/clickhouse-jdbc/src/main/java/ru/yandex/clickhouse/except/C

[2022-06-28 02:01] sundy-li opened #6263 "[bug] MySQL connection can't be closed normally"
**Summary**

Remains too much closed_wait

How to produce:

1. start databend-query
2. use MySQL client to connect with `databend-query`
3. quit MySQL client
4. repeat 2-3

![origin_img_v2_c30cbc66-a8be-4718-bae5-e3514cfee63g](https://user-images.githubusercontent.com/3325189/176073216-e2a4c1ce-fee4-4ae5-bb35-5003218ce4cd.jpg)

[2022-06-28 02:27] sundy-li commented on #6263
Related to:

https://github.com/datafuselabs/databend/blob/61303304e4bc1fa982e4c3918555f1ed84fe1c40/query/src/servers/mysql/mysql_session.rs#L35-L38

If we comment on these codes, there will be no connection leak. `ClickHouse` session also had these codes but works fine.

[2022-06-28 02:29] BohuTANG commented on #6263
@zhang2014 any thoughts on this?

[2022-06-28 03:09] youngsofun opened #6266 "fake clickhouse engines"
**Summary**

```create table ...  ENGINE = MergeTree```

https://github.com/airbytehq/airbyte/blob/62cf4418272d5d80d6e259c7e11c3e7b4014dec3/airbyte-integrations/connectors/destination-clickhouse/src/main/java/io/airbyte/integrations/destination/clickhouse/ClickhouseSqlOperations.java#L37-L51

[2022-06-28 03:10] youngsofun commented on #6127
add https://github.com/datafuselabs/databend/issues/6261

[2022-06-28 03:15] youngsofun commented on #6266
cc @ZhiHanZ

[2022-06-28 03:15] wubx opened #6267 "make databend deploy friendly"
**Summary**
Databend binary package  release include configs .
We can change  deploy friendly:  https://databend.rs/doc/deploy

[2022-06-28 03:24] youngsofun commented on #5372
@leiysky can these issues be handler with  dialect?  https://github.com/datafuselabs/databend/issues/6127

[2022-06-28 03:37] BohuTANG commented on #6247
We can do it in the new planner, cc @andylokandy @leiysky

[2022-06-28 04:05] junnplus commented on #6247
Talked to @zhang2014  yesterday, not sure if he started doing it

[2022-06-28 04:17] zhang2014 commented on #6263
After we support asynchronous MySQL server, we should not need to convert streams to blocked streams

[2022-06-28 04:21] zhang2014 commented on #6247
I haven't started this task yet. it's fine if others are interested : )

[2022-06-28 06:06] wubx commented on #5941
https://databend.rs/doc/reference/sql/query-syntax/dml-at

[2022-06-28 06:06] dantengsky opened #6275 "Bug: incorrect deletion of null valued rows"
**Summary**

by @wubx

[code]

[2022-06-28 06:15] wubx opened #6276 "OOM: insert into ontime1 select * from ontime at(snapshot=>'4df307251ff54abf8c618f907b6dc1c3')"
**Summary**
[code]

[code]

[code]

[2022-06-28 06:23] wubx commented on #6276
Maybe reading a huge table will cause OOM.

create table ontime2(...)  ENGINE=FUSE SNAPSHOT_LOCATION='1/26119/_ss/4df307251ff54abf8c618f907b6dc1c3_v1.json';

insert into ontime1 select * from ontime2;

OOM too.

[2022-06-28 08:14] ClSlaid commented on #6263
I guess it's an application layer problem, the server is not aware of the termination of connection so it stayed at CLOSE_WAIT.
Take a look at servers asynchronous reading part on TcpStream?

[2022-06-28 08:52] lichuang opened #6279 "Feature: metactl add --init-cluster arg support"
**Summary**

Feature: metactl add --init-cluster arg support, then can start a new cluster using the old cluster data.

[2022-06-28 09:50] ZeaLoVe opened #6285 "bug: big latency of show tables command"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

![wk26kVwXgP](https://user-images.githubusercontent.com/10904090/176149913-163be581-e015-4f22-a29d-82a51ebcc337.jpg)

it took 0.7s - 0.8s, is it performance degradation? cc @drmingdrmer

### What's Wrong?

v0.7.106

### How to Reproduce?

_No re

[2022-06-28 09:54] sundy-li commented on #6263
But if we comment on the codes above, it works fine (connection will be closed normally).
And the [example](https://github.com/datafuselabs/opensrv/blob/main/mysql/examples/serve_one.rs) works find too.

[2022-06-28 10:31] ClSlaid commented on #6263
Yes, you are right.
The ownership of 'TcpStream' is hold by 'Session', and whom is owned by 'SessionRef's.

Does the session dropped after killing the client? The 'SessionManager' may happend to hold a 'StreamRef'. I'll take a deeper look.

[2022-06-28 11:05] ZeaLoVe commented on #6285
[databend-log-all.txt](https://github.com/datafuselabs/databend/files/9000393/databend-log-all.txt)

Deploy mode: https://databend.rs/doc/deploy/local
Both query and meta logs in the txt file, this query laster  3.550 sec, from 49s - 52s .

[2022-06-28 11:36] flaneur2020 commented on #6229
the storage & query model of prometheus is quite different, I think it's ok to add a middleware proxy to translate the promql to a databend database with a specialized table schema, but it can be very hard to represent promql for any table without introducing a specialized storage engine about time series.

[2022-06-28 11:59] #5904 closed

[2022-06-28 12:19] soyeric128 commented on #5941
hi @wubx
Pls review this PR: https://github.com/datafuselabs/databend/pull/6293

[2022-06-28 12:46] Xuanwo commented on #5778
https://github.com/datafuselabs/databend/issues/5904 has been merged.

Is there other statements we have to address?

[2022-06-28 13:30] TCeason opened #6298 "Feature: query statement support format substmt"
**Summary**

Like this :

[code]

[2022-06-28 15:13] leiysky commented on #5372
I don't think so. The dialect is mostly about the lexical element of SQL, e.g. identifier quote style.

[2022-06-28 15:23] leiysky commented on #6247
IMO, we'd better check the privilige in catalog. For example,
[code]

During the binding phase, we will expand the query into `select * from (select * from t) as v`, invoke `Catalog::get_table` to get a table handle. We can pass a privilige parameter here to check if the table can be accessed in current session.

[2022-06-28 15:32] dantengsky commented on #6276
Ingestions are processed parallelly.

For the given dataset, a test has shown that for each thread, the peak memory consumption is nearly 2G, thus:
`set max_threads = n` is suggested, where n should be adjusted to the free memory size of the host.

hope this would help.

[2022-06-28 15:43] TennyZhuang commented on #5778
I can do it but I’m busy recently so that I can’t give a promise when to finish them. If others are interested, feel free to take over the issue.

[2022-06-28 15:58] Xuanwo commented on #5778
Let me take this so that we can finish the migration this week.

[2022-06-28 17:54] PsiACE commented on #6263
hi @ClSlaid , glad to see your survey. I have just opened a PR #6302 and removed some of the code that contained attach_session. Everything seems to be working fine. Would you mind helping to review it, I'm not sure that would be a good solution?

[2022-06-28 23:34] drmingdrmer commented on #6285
I see a log of this:
[code]

`__fd_database_by_id` is for listing table history(`list_tables_history()`), e.g., dropped tables.

This method is called on line 51. I doubt this is the root that emits a lot of `get_table()` calls to metasrv:
https://github.com/datafuselabs/databend/blob/38ef9b7b4f2f1cc221aec78db3a3889f5b5618e3/query/src/storages/system/tables_table.rs#L42-L54

Is it by design to let

[2022-06-29 00:30] sundy-li opened #6304 "[bug]: flaky tests in new pipeline"
**Summary**

https://github.com/datafuselabs/databend/runs/7095636745?check_suite_focus=true

[code]

[2022-06-29 00:41] sundy-li opened #6306 "Refactor mysql/clickhouse handler into Actor-Model-styled code"
By the way, I think the current implementation of session management system to be too complicated, mixing Arc types and direct method call together.
I suggest refact into an Actor-Model-styled code as in [this blog](https://ryhl.io/blog/actors-with-tokio/), using channels along with message types, to avoid structure embeded `Arc` types (like those between `Session` and `SessionMgr`) and direct met

[2022-06-29 01:18] wubx opened #6308 "bug: There is error in Range Delete Or multi row delete"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

[code]

### What's Wrong?

[code]

[code]

### How to Reproduce?

as above

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-06-29 01:20] BohuTANG commented on #6308
What's the server error stack?

[2022-06-29 01:25] wubx commented on #6308
<Backtrace disabled by default. Please use RUST_BACKTRACE=1 to enable>
2022-06-29T01:22:54.709131Z ERROR common_tracing::panic_hook: panicked at 'removal index (is 2) should be < len (is 2)', query/src/storages/fuse/operations/mutation/mutations_collector.rs:116:39 backtrace=Backtrace [{ fn: "common_tracing::panic_hook::log_panic", file: "/home/wu/databend/common/tracing/src/panic_hook.rs", line:

[2022-06-29 01:29] wubx commented on #6308
sometimes work it's works fine.
[code]
Exit  & Connect
[code]

[2022-06-29 01:49] ClSlaid opened #6309 "[Bug] Potential session leak in 'SessionMgr'"
The shutdown code for connections
https://github.com/datafuselabs/databend/blob/06d8886829d9d36f34c6ea63c81cc6309814797a/query/src/sessions/session.rs#L163
may never be used.

To reproduce:
1. add scaffold code and wait 100 years for `cargo run --bin databend-query`;
https://github.com/datafuselabs/databend/blob/06d8886829d9d36f34c6ea63c81cc6309814797a/query/src/servers/clickhouse/clickhouse_sessi

[2022-06-29 01:50] BohuTANG commented on #6285
I think for the `show tables` we can use `list_tables` API, not `list_tables_history`.

[2022-06-29 01:52] ZhiHanZ commented on #6266
I think if we want to support airbyte, at least two things we should do, fake clickhouse engines is the first one, and the second is to improve our CSV file parser.
currently we could not insert csv file contain json field into table

[2022-06-29 02:29] zhang2014 opened #6312 "Feature: support prewhere to optimize select *"
**Summary**

ClickHouse reference: https://clickhouse.com/docs/en/sql-reference/statements/select/prewhere

CC: @sundy-li @BohuTANG

[2022-06-29 02:29] BohuTANG commented on #6266
Could you give a format example of this CSV? @ZhiHanZ

[2022-06-29 02:45] youngsofun opened #6313 "[Track] bugs in input format parsers"
- [ ]  https://github.com/datafuselabs/databend/issues/6314

[2022-06-29 02:45] youngsofun opened #6314 "[Track] bugs in csv input format parser"
**Summary**

[2022-06-29 02:46] youngsofun commented on #6127
add https://github.com/datafuselabs/databend/issues/6313

[2022-06-29 02:46] youngsofun commented on #6266
@ZhiHanZ  https://github.com/datafuselabs/databend/issues/6314

[2022-06-29 03:00] ClSlaid commented on #6306
We can begin from refacting `Session` and `SessionMgr`.

The actor model is not so perfect, message passing is not as fast as direct function calling. I raised this suggestion in consideration of reducing complexibility and erase potential session leak in #6309.
Further discussions are needed.

[2022-06-29 03:14] ClSlaid commented on #6309
@zhang2014 I'm trying to add tests to catch this, any suggestions?
https://github.com/datafuselabs/databend/blob/7d73ca2645d7a3cd44bc0dc11a91ffc1fe139c8c/query/tests/it/sessions/session.rs#L67
![图片](https://user-images.githubusercontent.com/44747719/176343198-939dc2f1-eb04-4697-82cf-4e14bc20a0f5.png)

[2022-06-29 03:16] xudong963 commented on #4617
@likg227 Ok, I'll start it :)

[2022-06-29 03:29] sundy-li commented on #6312
I don't think it's a good feature, `prewhere` is not suggested to used by users anymore in ClickHouse.

As it said:

[code]

So this is the area of optimization but not SQL syntax.

[2022-06-29 03:31] Xuanwo opened #6317 "Migrate ALTER FUNCTION statement to new planner"
Part of https://github.com/datafuselabs/databend/issues/5778

[2022-06-29 03:45] zhang2014 commented on #6312
yes, + 1

[2022-06-29 04:37] ZhiHanZ commented on #6266
Could take a look at how airbyte encoding their batch insert into csv file https://github.com/airbytehq/airbyte/blob/62cf4418272d5d80d6e259c7e11c3e7b4014dec3/airbyte-integrations/connectors/destination-jdbc/src/main/java/io/airbyte/integrations/destination/jdbc/JdbcSqlOperations.java#L75-L85

Here for example data format looks like
a, {'b": "c"}, d

[2022-06-29 04:47] #6275 closed

[2022-06-29 04:54] #6317 closed

[2022-06-29 05:24] Xuanwo opened #6325 "Migrate DROP FUNCTION statement to new planner"
Part of https://github.com/datafuselabs/databend/issues/5778

[2022-06-29 05:25] youngsofun commented on #6314
@ZhiHanZ  ```a, {'b": "c"}, d```  is not a valid CSV,  to my understanding.   can you provide more context for it?

[2022-06-29 05:44] ZhiHanZ commented on #6314
That is some psedo examples, here is some temp file generated from airbyte which could be helpful
[code]

[2022-06-29 06:08] JialuGong commented on #5586
/assignme

[2022-06-29 06:23] #6325 closed

[2022-06-29 06:23] Xuanwo commented on #5778
All UDF DDL statements have been migrated.

[2022-06-29 06:23] #5778 closed

[2022-06-29 06:24] Xuanwo commented on #5773
All statements have been migrated.

[2022-06-29 06:24] #5773 closed

[2022-06-29 06:24] Xuanwo commented on #3747
@leiysky The migration has been done, let's go further.

[2022-06-29 06:33] youngsofun opened #6333 "use clickhouse-sqlalchemy with session_id."

[2022-06-29 06:52] youngsofun commented on #6314
CSV has options for escaping `"`:    `""`  or `\"`

[2022-06-29 06:56] sundy-li commented on #6314
Need modify
[code]

[2022-06-29 08:02] #5941 closed

[2022-06-29 08:03] #6276 closed

[2022-06-29 08:28] BohuTANG opened #6338 "Stream COPY from a directory"
**Summary**

Like:
https://docs.snowflake.com/en/user-guide/data-load-considerations-load.html#loading-older-files

Draft:
Generate a digest from metadata, including:
1. database id
2. table id
3. File etag(md5?)
4. File name

* [x] #7548
* [x] #7549
* [x] #7550
* [x] #7561

[2022-06-29 09:05] youngsofun commented on #6266
@BohuTANG do you mean

match `.. create table ..  ENGINE = MergeTree .. `
rewrite it to `.. create table ..  ENGINE = fuse .. `?

[2022-06-29 09:09] youngsofun commented on #6266
@ZhiHanZ  does airbyte use clickhouse session  (SessionID)   ?

[2022-06-29 09:55] ClSlaid opened #6339 "bug: not all tests are runnable in query/tests/it"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

be6feecec66cceda851a3a1ba0336a2290981383

### What's Wrong?

Some tests are ignored in it by rust.

### How to Reproduce?

change directory to `query` and run `cargo test`
[code]
You can find only 39 tests are run by rust, many tests like those

[2022-06-29 10:04] ClSlaid commented on #6339
table of runnable tests:
[code]

[2022-06-29 10:06] Xuanwo commented on #6339
Related to #4399

[2022-06-29 10:12] Xuanwo commented on #6339
Not reproduced.

[code]

[2022-06-29 10:21] Xuanwo commented on #6339
Hi, `cargo test it` means pick tests that match `it`.

All the tests you listed contains `it` like:

- test storages::index::bloom_filter::test_num_b**it**s_hashes ... ok
- test storages::system::credits_table::test_cred**it**s_table ... ok

[2022-06-29 10:24] ClSlaid commented on #6339
Oops..

[2022-06-29 10:24] #6339 closed

[2022-06-29 10:25] PsiACE commented on #6339
**usage**

[code]

Please run `cargo help test` to see the meaning of each option.

[2022-06-29 10:38] BohuTANG commented on #6266
Just deep into the code, we can rewrite the `CreateTable` engine from `MergeTree` to `Fuse` in ClickHouse HTTP handler before call the InterpreterCreateTable.

[2022-06-29 10:53] youngsofun commented on #6314
I think csv should do know nothing about `{` or `[` ?
do we support `"` as default escape char (instead of `\`) or need to specify it before parse?

[2022-06-29 11:28] Xuanwo commented on #6215
Progress report:

- Implemented query sign for aws s3 in `reqsign`
- Implemented `accessor_capabilities` support in `opendal`

Next step:

- Implement `presign` support in `opendal`

[2022-06-29 13:06] #6096 closed

[2022-06-29 13:31] fkuner opened #6342 "Tracking: window function"
**Summary**

migrate window function to new planner

- [x] window function parser #10430
- [ ] window function binder & planner
- [ ] essential window support in aggregate function & WindowTransform
- [ ] more window operators (rank, dense_rank ...)

Optional:
1. segment tree of aggregate state
2. incrementable state

Reference:

- http://www.vldb.org/pvldb/vol8/p1058-leis.pdf
- [Windowing in Duck

[2022-06-29 15:13] #6263 closed

[2022-06-29 15:19] BohuTANG commented on #6338
@junnplus As seen you are working on https://github.com/datafuselabs/databend/pull/6344, are you also interested in this task?

[2022-06-29 15:20] #6279 closed

[2022-06-30 00:53] BohuTANG opened #6345 "Add function to infer schema from files(CSV/Parquet)"
**Summary**

As [arrow2](https://github.com/jorgecarleitao/arrow2) has  `infer_schema`:
Parquet:
https://github.com/jorgecarleitao/arrow2/blob/5725fa3c18830f88ed0ed67067dda5c1d2080dca/src/io/parquet/read/schema/mod.rs#L23-L31

CSV:
https://github.com/jorgecarleitao/arrow2/blob/79b87b629d8fdc3fa40b5ad7abc3889c5102a52b/src/io/csv/read/infer_schema.rs#L15

We can add a function `INFER_SCHEMA` to do t

[2022-06-30 00:55] BohuTANG commented on #6345
cc @Xuanwo

[2022-06-30 02:03] lichuang commented on #6169
https://github.com/datafuselabs/databend/pull/6280

[2022-06-30 02:03] #6169 closed

[2022-06-30 02:52] #6120 closed

[2022-06-30 02:55] TCeason commented on #6087
In planner v2 this create query will return an error.

[code]

[2022-06-30 02:59] TCeason opened #6347 "bug: A bug with select_expr and order by"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

[code]

### What's Wrong?

[code]

in sql `select sum(id1) as id2 from tt order by tt.id2;` should return an error like this:

ERROR 1105 (HY000): Code: 1065, displayText = column "id2" must appear in the GROUP BY clause or be used in an aggrega

[2022-06-30 03:06] youngsofun opened #6348 "clickhouse http handler insert does not use the timezone."
[code]

AssertionError: Expected:
2021-05-01 06:48:00.000000
2021-05-01 06:48:00.000000
 Actual:
  2021-04-30 22:48:00.000000
  2021-04-30 22:48:00.000000

[2022-06-30 03:12] leiysky commented on #6017
In databend, `EvalScalar` is used to insert a new column into a set of columns(i.e. a `relation`). And we will use `Project` to remove columns from a set of columns.

For example, consider the query:
[code]

The query will pass through column `a` from table `t` and evaluate an expression `a+1` with alias `c`. So the plan is essentially:
[code]

A simplified explaination is:
- If you want to add co

[2022-06-30 03:19] leiysky commented on #6347
cc @andylokandy

[2022-06-30 03:51] wubx commented on #5586
Very much looking forward to this feature.
Maybe changing \N to null or NULL is a good way.

[2022-06-30 03:54] wubx commented on #6314
track: https://github.com/datafuselabs/databend/issues/5586

[2022-06-30 04:23] dantengsky commented on #6285
kind of:

The `show tables ... ` stmt uses `system.tables`, as the "underlying data source" (without predicate pushdown).

and the impl of `system.tables` will fetch all the table infors, including droppped tables.

--------------

e.g.
[code]
from https://databend.rs/doc/reference/sql/show/show-tables

`SHOW TABLES HISTORY LIKE 't4'` will be translated to sth like `select * from system.tables whe

[2022-06-30 04:31] youngsofun commented on #6348
it is a bug of client driver

[2022-06-30 04:31] #6348 closed

[2022-06-30 05:24] BohuTANG commented on #6285
How about the time cost to show transient tables in a database?

[2022-06-30 05:30] dantengsky commented on #6285
Should be no big differences there, since historical snapshots are not kept in meta kv.

The (unshown, for this issue) dropped tables matter in this case.

[2022-06-30 05:42] dantengsky commented on #6285
How about let `system.tables` respects predicate pushdowns, and dynamically switch between `list_tables` and `list_tables_history` according to the related predicate?  At least, this can mitigate the situation of common case.

[2022-06-30 05:44] dantengsky opened #6352 "`system.tables` switch between `list_tables` and `list_tables_history` on-demand"
How about let `system.tables` respects predicate pushdowns, and dynamically switch between `list_tables` and `list_tables_history` according to the related predicate?  At least, this can mitigate the situation of common case.

_Originally posted by @dantengsky in https://github.com/datafuselabs/databend/issues/6285#issuecomment-1170788082_

[2022-06-30 06:36] #6240 closed

[2022-06-30 06:38] wubx opened #6353 "streaming_load just lost first 'N'"
**Summary**

[code]

[2022-06-30 06:57] wubx commented on #6308
[code]

[2022-06-30 08:29] wubx commented on #6314
if support this feature, github archive file is very easy to load to databend.

[2022-06-30 10:00] BohuTANG commented on #6353
cc @youngsofun

[2022-06-30 11:12] xudong963 opened #6363 "Feature: support `Mark` join"
**Summary**

Description for this feature.

[2022-06-30 11:19] TCeason opened #6364 "Feature: show settings support like"
**Summary**

show settings like '%enable%'

the impl like `show tables like`

[2022-06-30 11:20] TCeason opened #6365 "Bug: in planner v2 show tables like return error"
**Summary**

[code]

[2022-06-30 11:41] xudong963 commented on #6353
It's ok in my local
[code]

[2022-06-30 12:24] BohuTANG commented on #6353
This is a terrible bug :/

[2022-06-30 12:41] sandflee opened #6367 "databend-query use too much sys cpu"
## **Summary**
when do a group by query for a hive table,  the user cpu of databend query takes 30%, while sys cpu used about 50%, seems kernel too much time at memory allocation

##  databend version:
 2a6589a7ecadabf52b5df8714b36d73e17ca322d. build with --release. (could't reproduce on debug version )
## dataset:
   ontime
## sql:
 select origincityname,  sum(flights*dot_id_reporting_airline) as

[2022-06-30 13:24] sundy-li commented on #6353
ignore_insensitive_bytes("null") will eat the matched bytes , so 'n' is eaten.

We should use `CheckpointReader` to save the state.

[2022-06-30 13:40] PragmaTwice commented on #6005
/assignme

[2022-06-30 16:25] youngsofun commented on #6353
already find a way to fix it，I will continue tomorrow morning

[2022-06-30 16:58] zhyass opened #6372 "Improvement: improve optimize table compact"
improve optimize table compact

[2022-07-01 00:38] BohuTANG opened #6374 "Disable fusebot check the PR template"
**Summary**

Add a config to disable the fusebot check the PR template:
https://github.com/datafuselabs/fusebots/blob/main/config/fusebots.ini.sample

[2022-07-01 04:22] junnplus commented on #6247
Any progress?

[2022-07-01 05:34] #6298 closed

[2022-07-01 05:35] TCeason opened #6380 "Need a sql test for v2 FORMAT"
Need a stateless test for it, to avoid someone breaking it in the future, and we can easy to document it from the test case.

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/6366#issuecomment-1171297565_

[2022-07-01 05:35] TCeason commented on #6380
Wait pr https://github.com/datafuselabs/databend/pull/5649 merged.

[2022-07-01 07:15] Xuanwo opened #6384 "Tracking issue of proposal: Semantic Release"
- https://github.com/datafuselabs/databend/discussions/6383

## Todo List

- [x] https://github.com/datafuselabs/databend/pull/6386
- [x] Enable semantic releases via github releases
- [x] Change our release actions
- [x] Add post check for better experience https://docs.mergify.com/actions/post_check/

![image](https://user-images.githubusercontent.com/5351546/176861230-653ed5c1-081f-457e-a505-b6

[2022-07-01 08:46] #6046 closed

[2022-07-01 09:01] #6005 closed, assigned to PragmaTwice

[2022-07-01 10:23] ariesdevil opened #6390 "Tracking: geo h3 functions"
**Summary**
Support Geography functions

Implemented:
* [x] h3_is_valid
* [x] h3_get_resolution
* [x] h3_edge_length_m
* [x] h3_edge_length_km
* [x] geo_to_h3
* [x] h3_to_geo
* [x] h3_to_geo_boundary
* [x] h3_k_ring
* [x] h3_get_base_cell
* [x] h3_hex_area_m2
* [x] h3_hex_area_km2
* [x] h3_indexes_are_neighbors
* [x] h3_to_children
* [x] h3_to_parent
* [x] h3_to_string
* [x] string_to_h3
* [x] h3_

[2022-07-01 13:11] AngleNet commented on #6017
Got it! Thank you for the detailed explanation.

[2022-07-01 13:31] flaneur2020 opened #6395 "allow executing COPY INTO in a cluster"
**Summary**

i'm running a COPY INTO in my cluster with a 8 replicas, but it seems only utilized one replica to execute the COPY INTO statement:

![Screen Shot 2022-07-01 at 9 29 16 PM](https://user-images.githubusercontent.com/129800/176904201-a5fb3761-665f-4d70-b1f6-8d7cd97b864c.png)

it'd be 8x faster if the COPY INTO statement could utilize the other instances in the cluster.

[2022-07-01 13:51] PsiACE commented on #6395
One hundred files, obtained by cutting the ontime dataset.

[2022-07-01 13:53] sundy-li commented on #6395
Ok, seems parallel copy only works in single query mode.

https://github.com/datafuselabs/databend/blob/f152cbe7edc96fe5850982ef40d9c04c57ecc94e/query/src/interpreters/interpreter_copy.rs
[code]

[2022-07-01 13:56] #6372 closed

[2022-07-01 14:33] #6353 closed

[2022-07-01 14:41] zhang2014 commented on #6395
Distributed copy into need #6253(exchange precommit block in cluster nodes).

[2022-07-01 16:35] Xuanwo commented on #6384
We don't need to push a tag for releasing, we can create a release directly, github will create tag for us.

[2022-07-02 09:03] sundy-li opened #6397 "function array can't accept null argument"
**Summary**

[code]

cc @andylokandy

[2022-07-02 11:33] Xuanwo commented on #429
Based on the report at https://github.com/datafuselabs/databend/issues/6060, TPCH Q22 has been supported.

Feel free to reopen this issue if any problem exists.

[2022-07-02 11:33] #429 closed

[2022-07-02 11:34] Xuanwo commented on #432
@leiysky Is this issue still valid now?

[2022-07-02 11:34] Xuanwo commented on #319
Join has been supported, closing.

[2022-07-02 11:34] #319 closed

[2022-07-02 11:34] Xuanwo commented on #318
@BohuTANG Is this issue still valid?

[2022-07-02 11:35] Xuanwo commented on #113
This issue is not actionable for now. Let's convert to discussion ideas instead.

[2022-07-02 11:37] Xuanwo commented on #147
I believe this issue is out of the scope of databend and not actionable.

How about closing it now? @BohuTANG

Or, we can convert this issue to the discussion as new ideas.

[2022-07-02 11:38] Xuanwo commented on #332
Let's close this issue. @sundy-li Feel free to open a new issue if there are place for improvements.

[2022-07-02 11:38] #332 closed

[2022-07-02 11:39] Xuanwo commented on #366
@BohuTANG Hi, can you provide more information of this issue? Or close this issue if it's out of date.

[2022-07-02 11:40] Xuanwo commented on #540
Implemented in #2647

[2022-07-02 11:40] #540 closed

[2022-07-02 11:40] Xuanwo commented on #331
The last part has been covered by #6060, closing now.

[2022-07-02 11:40] #331 closed

[2022-07-02 11:41] Xuanwo commented on #1093
No action need to take, closing.

[2022-07-02 11:41] #1093 closed

[2022-07-02 11:43] Xuanwo commented on #1086
This issue is too general.

@BohuTANG Please consider split tasks in small pieces and track them by a tracking issue instead.

If there are no actions need to take, I prefer to close it for now.

[2022-07-02 11:44] sundy-li commented on #332
Ok, I think it can be enhanced when [typed-type-exercise-in-rust](https://github.com/andylokandy/typed-type-exercise-in-rust/) is merged into databend  in the future.

[2022-07-02 11:44] Xuanwo commented on #988
Is this issue still valid? @leiysky

[2022-07-02 11:45] Xuanwo commented on #981
Closing for not actionable. Please feel free to reopen this issue with more detailed actionable tasks.

[2022-07-02 11:45] #981 closed

[2022-07-02 11:45] Xuanwo commented on #930
No actionable so far, let's convert to discussion instead.

[2022-07-02 11:47] Xuanwo commented on #964
@leiysky @andylokandy Is this issue still valid?

[2022-07-02 11:48] Xuanwo commented on #910
@BohuTANG Is this issue still valid? I thought we have supported `limit`

[2022-07-02 11:48] Xuanwo commented on #904
Closing for no updates so far.

[2022-07-02 11:48] #904 closed

[2022-07-02 11:49] Xuanwo commented on #894
Closing for all task finished.

[2022-07-02 11:49] #894 closed

[2022-07-02 11:49] Xuanwo commented on #790
Closing for this task is not useful.

[2022-07-02 11:49] #790 closed

[2022-07-02 11:50] Xuanwo commented on #776
openraft has been bumped many times since last comments. Closing now.

[2022-07-02 11:50] #776 closed

[2022-07-02 11:52] Xuanwo commented on #860
Not used so far. Let's closing.

[2022-07-02 11:52] #860 closed

[2022-07-02 11:53] Xuanwo commented on #1759
@leiysky @andylokandy Is this this still valid?

[2022-07-02 11:53] Xuanwo commented on #1650
All tasks has been done. Closing.

[2022-07-02 11:53] #1650 closed

[2022-07-02 11:54] Xuanwo commented on #1675
@BohuTANG Is this issue still valid? If so, please provide more information so that @soyeric128 can get involved in.

[2022-07-02 11:55] Xuanwo commented on #1618
We are using poem now, this issue is out-of-date, let's closing.

[2022-07-02 11:55] #1618 closed

[2022-07-02 11:58] Xuanwo commented on #1465
Maybe @sundy-li can provide more information so that @soyeric128 can get involved in.

[2022-07-02 11:58] Xuanwo commented on #1460
https://github.com/datafuselabs/databend/blob/18af848fbccc294b4a82035156eb1a96eb807dff/.github/workflows/dev-linux.yml#L3-L10

Already implemented, closing.

[2022-07-02 11:58] #1460 closed

[2022-07-02 12:00] Xuanwo commented on #1483
@jyizheng seems not working on this issue any more. @BohuTANG Can you provide more information so that @soyeric128 can get started?

[2022-07-02 12:02] Xuanwo commented on #1406
@BohuTANG Is this issue still valid?

[2022-07-02 12:02] Xuanwo commented on #1247
Already covered by meta. Let's closing.

[2022-07-02 12:02] #1247 closed

[2022-07-02 12:03] Xuanwo commented on #1237
Already added:

https://github.com/datafuselabs/databend/blob/18af848fbccc294b4a82035156eb1a96eb807dff/.github/workflows/databend-release.yml#L234

Closing.

[2022-07-02 12:03] #1237 closed

[2022-07-02 12:04] Xuanwo commented on #1227
@drmingdrmer Can you update this issue to reflect current situation and what actions we should take?

[2022-07-02 12:05] BohuTANG commented on #1406
Our architect has changed, this issue is stale, let's close

[2022-07-02 12:05] #1406 closed

[2022-07-02 12:05] Xuanwo commented on #1150
`benctl` has been removed. Closing now.

[2022-07-02 12:05] #1150 closed

[2022-07-02 12:06] BohuTANG commented on #1483
Thanks for reminding.
We have a overview of Databend: https://databend.rs/doc

Let's close it.

[2022-07-02 12:06] #1483 closed

[2022-07-02 12:07] Xuanwo commented on #1521
FYI @andylokandy

[2022-07-02 12:08] #1086 closed

[2022-07-02 12:09] BohuTANG commented on #1675
It's invalid, let's close.
Thank you for reminding.

[2022-07-02 12:09] #1675 closed

[2022-07-02 12:12] Xuanwo commented on #2320
We have https://link.databend.rs/i-m-feeling-lucky now. And there are many tools for discovering good first issues.

Let's close.

[2022-07-02 12:12] #2320 closed

[2022-07-02 12:12] Xuanwo commented on #2314
Closing for no action to take.

[2022-07-02 12:12] #2314 closed

[2022-07-02 12:12] Xuanwo commented on #2286
Closing for no action to take.

[2022-07-02 12:12] #2286 closed

[2022-07-02 12:13] Xuanwo commented on #2273
Already implemented, closing.

[2022-07-02 12:13] #2273 closed

[2022-07-02 12:15] Xuanwo commented on #1986
@ZhiHanZ Please transfer this issue to https://github.com/datafuselabs/datafuse-operator insteead.

[2022-07-02 12:16] Xuanwo commented on #2226
Already addressed by newly designed config format.

[2022-07-02 12:16] #2226 closed

[2022-07-02 12:16] Xuanwo commented on #1859
Not used anymore, closing.

[2022-07-02 12:16] #1859 closed

[2022-07-02 12:17] Xuanwo commented on #1838
Closing for we use `build-tools` for the help.

[2022-07-02 12:17] #1838 closed

[2022-07-02 12:18] Xuanwo commented on #2119
Do we still use `perf-tool`?

[2022-07-02 12:21] Xuanwo commented on #1761
Creating a release channel can't address the questions raised in this issue.

- People who want to know about our releases and `watch` our releases.
- API changes, release notes have been covered by our release workflow.
- how to update from older version to newer version should be covered by our docs.

In a word, no action is to be taken. Let's close.

[2022-07-02 12:21] #1761 closed

[2022-07-02 12:22] Xuanwo commented on #1550
Duplicated to #6180

[2022-07-02 12:22] #1550 closed

[2022-07-02 12:23] Xuanwo commented on #3006
@soyeric128 Can you take a look of this issue?

[2022-07-02 12:23] Xuanwo commented on #2957
Agreed.

Let's close.

[2022-07-02 12:23] #2957 closed

[2022-07-02 12:24] Xuanwo commented on #2896
We are using `tracing` now. Let's close.

[2022-07-02 12:24] #2896 closed

[2022-07-02 12:25] Xuanwo commented on #2563
@soyeric128 Please take a look at this issue.

[2022-07-02 12:27] Xuanwo commented on #3571
@BohuTANG Is this issue still valid?

[2022-07-02 12:28] Xuanwo commented on #3591
Hi, @QuintinTao, is this issue still bored you?

[2022-07-02 12:29] Xuanwo commented on #3137
Not valid so far.

[2022-07-02 12:29] #3137 closed

[2022-07-02 12:30] Xuanwo commented on #3832
Close for implemented.

[2022-07-02 12:30] #3832 closed

[2022-07-02 12:30] Xuanwo commented on #3729
Implemented by ignore macOS in CI.

[2022-07-02 12:30] #3729 closed

[2022-07-02 12:33] Xuanwo commented on #3696
@andylokandy PTAL

Could be reproduced on the new planner.

[code]

Server log

[code]

[2022-07-02 12:34] Xuanwo commented on #3633
Already implemented in #6340

[2022-07-02 12:34] #3633 closed

[2022-07-02 12:36] Xuanwo commented on #3611
Closing for no progress.

[2022-07-02 12:36] #3611 closed

[2022-07-02 12:38] Xuanwo commented on #3997
Implemented.

[2022-07-02 12:38] #3997 closed

[2022-07-02 12:38] Xuanwo commented on #4754
Not reproduced so far.

[2022-07-02 12:38] #4754 closed

[2022-07-02 12:40] Xuanwo commented on #4382
Replaced by #6180

[2022-07-02 12:40] #4382 closed

[2022-07-02 12:40] Xuanwo commented on #4376
metasrv unit tests can't pass if using `nextest`.

[2022-07-02 12:41] Xuanwo commented on #4758
No more updates, closing.

[2022-07-02 12:41] #4758 closed

[2022-07-02 12:43] Xuanwo commented on #5022
We are not supporting versioned config now. Closing.

[2022-07-02 12:43] #5022 closed

[2022-07-02 12:45] Xuanwo opened #6404 "Add LGTM support via mergify to replace fusebot"
**Summary**

Add LGTM support via mergify to replace fusebot

[2022-07-02 12:50] drmingdrmer commented on #1227
All done. close it!

[2022-07-02 12:50] #1227 closed

[2022-07-02 12:53] PsiACE commented on #2119
We can close it off, our perf is supported by databend cloud and databend-perf.

[2022-07-02 12:53] #2119 closed

[2022-07-02 14:03] andylokandy commented on #6397
Related to https://github.com/andylokandy/typed-type-exercise-in-rust/pull/12

[2022-07-02 14:33] BohuTANG commented on #3571
Done.
Thanks for reminding me.

[2022-07-02 14:33] #3571 closed

[2022-07-02 14:36] BohuTANG commented on #1465
We have some posts about it in Chinese.
This is not a very urgent task anymore, feel free to add it to your backlog. @soyeric128

[2022-07-02 14:37] BohuTANG commented on #910
Done.
Let's close, thanks for reminding.

[2022-07-02 14:37] #910 closed

[2022-07-02 14:38] BohuTANG commented on #366
The stale issue, let's close it.

[2022-07-02 14:38] #366 closed

[2022-07-02 14:40] BohuTANG commented on #318
We are moving to the new planner, it will work fine for the explain, this task is out of date, let's close.

[2022-07-02 14:40] #318 closed

[2022-07-02 14:54] andylokandy commented on #3696
Stack overflow on the new parser can be fixed by rewriting [pratt](https://github.com/segeljakt/pratt/) from recursive fashion to loop fashion. Could be an interesting and challenging issue.

[2022-07-03 00:41] sundy-li commented on #2563
We will use other issues to track the doc.

[2022-07-03 00:41] #2563 closed

[2022-07-03 02:18] JialuGong commented on #5586
@wubx I'm sorry for that I am fighting with my final exams and  maybe I have no spare time to finish this issue until July 15th : (

[2022-07-03 02:30] sundy-li commented on #5586
It's ok, thanks for your information, we will take it.

[2022-07-03 07:00] leiysky commented on #1759
I think we can deprecate this now.

[2022-07-03 07:00] #1759 closed

[2022-07-03 07:01] leiysky commented on #964
This is supported in new planner now, we can close this.

[2022-07-03 07:01] #964 closed

[2022-07-03 07:02] leiysky commented on #432
We have supported this now, I'll close the issue.

[2022-07-03 07:02] #432 closed

[2022-07-03 08:37] Xuanwo opened #6410 "Compress add xz support"
**Summary**

Allow users read files like `xx.tsv.xz`

OpenDAL already has `xz` support, only need to add a new variant for `COMPRESSION`.

[2022-07-03 09:39] xudong963 opened #6411 "Feature: support `ANY`, `ALL` and `Some` subquery in parser"
**Summary**

Description for this feature.

[2022-07-03 09:40] xudong963 opened #6413 "Feature: support single join"
**Summary**

Description for this feature.

[2022-07-03 12:27] sundy-li opened #6414 "Unknown column `default.books.title `error when connect to Metabase"
**Summary**

[code]

[2022-07-03 12:27] sundy-li commented on #6127
add https://github.com/datafuselabs/databend/issues/6414

[2022-07-03 12:29] BohuTANG commented on #6414
It  needs to enable v2 planner, the cloud can not do that, wait for a week :D

[2022-07-04 01:48] zhang2014 opened #6418 "flake test in macos cluster mode"
**Summary**
https://github.com/datafuselabs/databend/runs/7172228410?check_suite_focus=true

[2022-07-04 01:51] #6237 closed

[2022-07-04 01:58] Xuanwo commented on #6384
![image](https://user-images.githubusercontent.com/5351546/177068544-d7392aad-10ca-4149-9105-c76009b5108a.png)

[2022-07-04 01:58] Xuanwo commented on #6384
All tasks have been done, closing!

[2022-07-04 01:58] #6384 closed

[2022-07-04 02:45] #1986 closed

[2022-07-04 03:03] Xuanwo commented on #6404
Not very useful, let's use Github's native review feature instead.

[2022-07-04 03:03] #6404 closed

[2022-07-04 03:04] Xuanwo commented on #6374
fusebot has been removed, closing.

[2022-07-04 03:04] #6374 closed

[2022-07-04 03:11] sundy-li opened #6422 "Feature: Add hits as example datasets"
**Summary**

Description for this feature.

From ClickHouse's dataset: https://clickhouse.com/docs/en/getting-started/example-datasets/metrica/

[2022-07-04 03:20] #6410 closed

[2022-07-04 04:53] Xuanwo opened #6423 "Flaky test for test_stateless_cluster_linux"
**Summary**

Production CI failed randomly.

Run: https://github.com/datafuselabs/databend/runs/7174112610?check_suite_focus=true

[code]

Can't reproducible in developing CI.

[2022-07-04 04:56] Xuanwo commented on #6423
cc @zhang2014

[2022-07-04 05:58] #5379 closed

[2022-07-04 06:08] leiysky opened #6425 "Feature: Support `SingleJoin` for scalar subqueries"
For now, we implement scalar subquery with `CrossApply`(for correlated) or `CrossJoin`(for uncorrelated) and `Max1Row` operator, which is not efficient.

And there is still some incorrect behavior of this implementation, for example, it won't return a `NULL` value for the subqueries that produces empty result set.

It's time to introduce `SingleJoin` operator to resolve this.

[2022-07-04 06:08] leiysky commented on #6425
cc @xudong963

[2022-07-04 06:58] leiysky opened #6427 "Feature: Support `CREATE TABLE ... AS ...` in new planner"

[2022-07-04 06:58] leiysky commented on #6427
cc @andylokandy

[2022-07-04 07:32] #6397 closed

[2022-07-04 07:41] xudong963 opened #6430 "bug: stack overflow in `TypeChecker`"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

`TypeChecker` will cause stack overflow in the case
[code]
The bug was found in https://github.com/datafuselabs/databend/runs/7174312042?check_suite_focus=true tpch-q8.

Fortunately, tpch q8 does not stack overflow in ma

[2022-07-04 07:41] xudong963 commented on #6430
cc @leiysky

[2022-07-04 08:04] sundy-li commented on #6430
So we need to rewrite the TypeChecker using visitor instead of recursive call ?

[2022-07-04 08:22] xudong963 commented on #6425
Oh, I have opened an issue https://github.com/datafuselabs/databend/issues/6413

[2022-07-04 08:30] Xuanwo commented on #6215
All works at the opendal's side have been done:  https://github.com/datafuselabs/opendal/pull/417

We can start adding this feature to the databend!

[2022-07-04 08:35] Xuanwo opened #6431 "workflow: Adopt rust alike workflows `S-waiting-on-review`, `S-waiting-on-author`"
**Summary**

Rust workflow is clear:

![image](https://user-images.githubusercontent.com/5351546/177116040-0c226a64-d392-4e62-91e8-69ca82daf466.png)

It's worth it for us to adopt them. (Could be implemented by mergify)

[2022-07-04 08:52] nickb937 opened #6433 "bug(meta): after restarting a follower, the Raft state of the leader and follower are confused"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

0.7.113-nightly

### What's Wrong?

I have a 3 replica meta-server.  Node 1 is leader, nodes 2 and 3 are followers.
- Performing a rolling restart of the Meta servers puts the whole Raft cluster into an unusable state.
- Terminating all meta ser

[2022-07-04 09:23] xudong963 commented on #6430
There doesn't seem to be a better way to process the issue. Can you locally reproduce it?

[2022-07-04 11:03] Xuanwo commented on #6433
Thanks for reporting!

cc @drmingdrmer @lichuang to take a look.

[2022-07-04 13:18] #6425 closed

[2022-07-04 13:28] Xuanwo commented on #6338
@junnplus May be busy on other works, let me take this.

[2022-07-04 13:54] drmingdrmer commented on #6433
Oh, I see. There are logs with `candidate` because the meta-client uses a connection pool internally. The tracing-span stack will always be the one the first the connection is made, e.g., when sending a `vote` request in a `candidate` state.

So, you do not need to worry about it. Everything is all right.

[2022-07-04 14:07] leiysky opened #6439 "Feature: Support distributed query plan in new planner"

[2022-07-04 14:55] Xuanwo commented on #6064
Let's go upstream first!

[2022-07-04 15:10] sundy-li commented on #6430
Yes, I can reproduce this with branch main using the SQL you pasted.

[2022-07-04 15:24] Xuanwo opened #6441 "Mergify can't auto merge document related PRs"
**Summary**

document related PRs doesn't have enough check passed. We should add separate conditions for them.

[2022-07-04 15:29] BohuTANG opened #6442 "Update README deploy link"
**Summary**
After https://github.com/datafuselabs/databend/pull/6303 merged, README Deployment section links are broken.

[2022-07-04 15:40] soyeric128 commented on #6442
Did you mean the deploy links on this page https://databend.rs/doc/guides/?

[2022-07-04 16:01] BohuTANG commented on #6442
This links also need fixed.
We can change the deployed section as the new way which you added in #6303

[2022-07-04 17:02] drmingdrmer commented on #6433
Which node do you suppose to be a follower?
The leader can be any node after restarting the entire cluster.
From the log, node-1 became a follower and node-2 became the leader.
Is there any problem with this?

A node will re-join the cluster as soon as it is started. You can see in the log, that node-2, the leader sent heartbeat RPC to node-1. Node-1 received the heartbeat RPC.

The timeout on the

[2022-07-04 17:28] nickb937 commented on #6433
I expect 1 leader and two followers and after the restart of any of the pods I would expect there to eventually be 1 leader and two followers.

If all pods are restarted simultaneously (a power loss event) I would also expect them to recover to 1 leader and 2 followers.

I do not expect a rolling restart of the pods (for example an upgrade or a config update) to put the cluster into a state where

[2022-07-04 19:20] nickb937 commented on #6433
I deleted the system, started the Meta servers, ensured they were at Quorum, then started the Query server and verified a connection could be established:

[code]

I then rolling restarted the meta servers, ensuring that each restarted pod was back to a Running state before restarting the next:

[code]

Now the Query service is unusable:

[code]

Attached are log files:

[metrics-query.txt](https:

[2022-07-04 19:48] soyeric128 commented on #6442
pls review this PR: https://github.com/datafuselabs/databend/pull/6446

[2022-07-05 00:32] BohuTANG opened #6447 "Lots of INFO log: INFO databend_meta::network: connected: target=2: http://localhost:28203"
**Summary**
![image](https://user-images.githubusercontent.com/172204/177228428-21a59814-3326-46c0-bcc1-f2cd257a228e.png)

[2022-07-05 00:33] BohuTANG commented on #6447
@drmingdrmer, does this log not need `INFO` level?

[2022-07-05 01:08] #6442 closed

[2022-07-05 01:46] xudong963 commented on #6413
I will start this after #6412 merged

[2022-07-05 01:49] sundy-li opened #6449 "Feature: Output format Null"
**Summary**

Description for this feature.

Output format Null support to ignore the results.

[2022-07-05 01:50] sundy-li commented on #2420
Already done.

[2022-07-05 01:50] #2420 closed

[2022-07-05 02:00] xudong963 opened #6450 "Feature: support correlated InSubquery"
**Summary**

Description for this feature.

[2022-07-05 02:03] xudong963 opened #6451 "Feature: exisit subquery with disjunction condition"
**Summary**

Description for this feature.

[2022-07-05 02:03] xudong963 opened #6452 "Track: full subquery support and optimization"
**Summary**
- [x] https://github.com/datafuselabs/databend/issues/6411
- [x] https://github.com/datafuselabs/databend/pull/6412 (uncorrelated InSubquery and AnySubquery)
- [x] https://github.com/datafuselabs/databend/pull/6534
- [ ] https://github.com/datafuselabs/databend/issues/6450 (correlated InSubquery and AnySubquery)
- [ ] https://github.com/datafuselabs/databend/issues/6413 (Scalar subquer

[2022-07-05 02:07] yuuch commented on #6427
I want to try it  ;)

[2022-07-05 02:30] sundy-li opened #6454 "Feature: Parse the complex escape sequence after `\\`"
**Summary**

Description for this feature.

[code]

[2022-07-05 03:02] TCeason opened #6455 "bug: planner v2 use keyword without `` return error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

[code]

### What's Wrong?

In some BI tools use this error sql to fetch table columns.

If we return an error, the tool will not fetch any columns.

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing

[2022-07-05 03:11] drmingdrmer commented on #6447
Got it

[2022-07-05 03:26] BohuTANG commented on #6455
cc @andylokandy

[2022-07-05 03:34] TCeason opened #6457 "bug: planner v2 current_database() will lost connection"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main branch newest version

### What's Wrong?

lost mysql connection.

### How to Reproduce?

[code]

Error LOG

[code]

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-07-05 03:36] junnplus commented on #6338
@Xuanwo I haven't started this task yet. You are free to assign.

[2022-07-05 03:45] flaneur2020 opened #6458 "Feature: add metrics about IO"
**Summary**

- rows scanned/write
- s3 bytes recv/send

[2022-07-05 03:46] flaneur2020 commented on #6458
this can be tagged as a good first issue

[2022-07-05 03:47] drmingdrmer commented on #6433
As I said, after the restart, the meta service cluster had elected a leader in the first log you attached. There is nothing wrong with the meta service cluster.

And from the last several logs you attached, actually, I do not know what's going on in your cluster. It seems like a configuration mistake:
In `meta-2.txt`(node id=3), the raft advertizes host is:
`\"raft_advertise_host\": \"10.240.0.233

[2022-07-05 03:48] flaneur2020 opened #6459 "Feature: add metrics about tokio runtime"
**Summary**

like: https://docs.rs/tokio-metrics/latest/tokio_metrics/

[2022-07-05 03:49] PsiACE commented on #4205
#6459

[2022-07-05 03:49] #4205 closed

[2022-07-05 04:09] flaneur2020 commented on #6459
oops, it seems the runtime metrics requires tokio_unstable.

I guess we can wait on this until the runtime metrics get stable.

[2022-07-05 04:14] flaneur2020 commented on #6459
another way to instrument tokio tasks is wrapping all the tokio::spawn in our commons crate, and wrap the `spawn` function with a counter metrics.

[2022-07-05 04:15] leiysky commented on #6427
@yuuch We have supported resolving the schema of target table, but haven't integrated it with data ingestion function(i.e. `InsertInterpreterV2`).

See: https://github.com/datafuselabs/databend/blob/7cbc1c57f445f4e0b789d4e06b0d9db1fa341414/query/src/sql/planner/binder/ddl/table.rs#L271-L277

Maybe this will help.

[2022-07-05 04:39] #6080 closed

[2022-07-05 04:53] TCeason opened #6461 "bug: planner v2: join on table with alias will return err column not exists"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

Newest main version

### What's Wrong?

If join on table with a alias name ,  will return error column not exists.

### How to Reproduce?

[code]

The diff is here :

Success: xxx left join `default`.`tt` on xxx
Failed:     xxx LEFT JOIN `defaul

[2022-07-05 04:53] TCeason commented on #6461
@leiysky

[2022-07-05 05:03] TCeason commented on #6380
wait pr https://github.com/datafuselabs/databend/pull/6440 merged.

[2022-07-05 05:11] TCeason commented on #6461
@xudong963

[2022-07-05 05:38] #6352 closed

[2022-07-05 05:38] #5858 closed

[2022-07-05 05:59] TCeason commented on #6457
[code]

Looks like the database() function is ok.

![image](https://user-images.githubusercontent.com/33082201/177259636-1640d6dd-cc9b-435f-bac0-6914a329f80c.png)

[2022-07-05 06:20] leiysky commented on #6461
Maybe you can modify `Tt` to `tt`.
[code]

[2022-07-05 06:22] TCeason commented on #6461
Same err:

[code]

[2022-07-05 06:25] leiysky commented on #6461
![image](https://user-images.githubusercontent.com/22445410/177263005-3f24cada-78ce-495e-95a1-3319acb0af98.png)

This should work on the latest main branch(after #6444 merged)

[2022-07-05 06:38] #6447 closed

[2022-07-05 06:59] #5586 closed

[2022-07-05 07:04] junnplus commented on #6247
ping @andylokandy @zhang2014

[2022-07-05 07:43] zhang2014 commented on #6247
No update, I haven't started this task yet. maybe @andylokandy  is interested in this task?

[2022-07-05 07:52] sandflee commented on #6367
seems  arrow2 binary decoder and group by transform allocated  memory and do memcpy  too frequently,  leading the kernel spent most time on do_page_fault.

<arrow2::io::parquet::read::deserialize::binary::basic::BinaryDecoder<O> as arrow2::io::parquet::read::deserialize::utils::Decoder>::extend_from_state

<common_datablocks::kernels::data_block_group_by_hash::HashMethodSingleString as common_data

[2022-07-05 07:56] BohuTANG commented on #6367
@sandflee ,
Could you do a profile again with the latest main branch, we have a memory leak fix:https://github.com/datafuselabs/databend/pull/6354, I am not sure it is related to this issue.

[2022-07-05 07:56] sandflee commented on #6367
I tried to pre-allocate the memory in  https://github.com/datafuse-extras/arrow2/compare/main...sandflee:arrow2:memory, to prevent vec auto grow and memcpy,  but not helped too much

[2022-07-05 08:01] #6461 closed

[2022-07-05 08:19] sandflee commented on #6180
code one minute, cargo check ten minutes :(

[2022-07-05 08:25] leiysky commented on #6430
I have no idea for this. It seems the only resolution is increasing the stack size in production environment.

It's possible to shrink the state by moving everything to heap to reduce stack usage, but it needs time for evaluation. Since the type check is mutual recursion with subquery binding, the biggest memory consumer is unrecognizable for complicated queries.

[2022-07-05 08:27] sandflee commented on #6367
@BohuTANG ,  I tried the lattest code with https://github.com/datafuselabs/databend/pull/6354, but takes no affect to reduce cpu :(

[2022-07-05 08:29] andylokandy commented on #6247
IMO, we have better check the permission when we trying to access catalog information. This means, in this case, the sql of view should not be accessible to the binder, and thus unpermitted requests will not be passed to the interpreter.

[2022-07-05 08:38] xudong963 opened #6470 "For scalar in subquery, maybe we can leverage with `InFunction`?"
For scalar in subquery, maybe we can leverage with `InFunction`?

_Originally posted by @leiysky in https://github.com/datafuselabs/databend/issues/6412#issuecomment-1174699963_

[2022-07-05 08:53] andylokandy opened #6471 "Feature: Control permission when accessing catalog"
_Originally posted by @leiysky in https://github.com/datafuselabs/databend/issues/6247#issuecomment-1168867468_

We're proposing to implement access control in the catalog. In details:

1. Add an additional `PrivilegeContext` field to the catalog, which is initialized along with the session context.
2. When privilege is not satisfied, the catalog should return an `ErrorCode`.

[2022-07-05 08:55] andylokandy commented on #6247
Moved to https://github.com/datafuselabs/databend/issues/6471

[2022-07-05 08:55] #6247 closed

[2022-07-05 08:57] xudong963 commented on #6430
Maybe we can use https://docs.rs/stacker/latest/stacker/ to check stack usage and grow the stack space during recursion.

[2022-07-05 08:58] nickb937 commented on #6433
You may not see this issue on a local machine because the service is doing to take the fixed IP that you specify in the configuration, either 127.0.0.1 or the eth0 address.  When you delete a pod on Kubernetes, it will naturally change IP address:

This confusion has happened because the published helm chart does not yet include this fix https://github.com/datafuselabs/helm-charts/commit/860245fd5

[2022-07-05 08:58] andylokandy commented on #6471
cc @leiysky @junnplus @zhang2014 @BohuTANG

[2022-07-05 09:07] drmingdrmer commented on #6433
Raft manages the cluster information in its own storage, which means, that once the information of a node is configured(when the first time running databend-meta with `--single` or `--join`), it will not change.

If in your environment, every time a databend-meta restarts the IP changes, you'd have to config the `raft-advertise-host` to a hostname so that other nodes will always reach this node by

[2022-07-05 10:13] Defined2014 commented on #6457
/assign

[2022-07-05 10:49] leiysky commented on #6430
Not exactly, the stack usage of async function is complicated, I'm writing a PR to do some straightforward optimization.

[2022-07-05 13:06] nickb937 commented on #6433
I would say that after the next helm-chart release this problem wouldn't happen again for a new install

[2022-07-05 13:06] #6433 closed

[2022-07-05 13:50] soyeric128 commented on #3006
Seems that the function has been already documented at https://databend.rs/doc/reference/functions/context-functions/current_user

[2022-07-05 13:57] #6363 closed

[2022-07-05 13:57] #4617 closed

[2022-07-05 14:15] #6411 closed

[2022-07-05 14:31] #3006 closed

[2022-07-06 02:21] BohuTANG opened #6482 "1 vulnerability found"
**Summary**

https://github.com/datafuselabs/databend/runs/7201645811?check_suite_focus=true#step:3:1467

[2022-07-06 02:37] dantengsky commented on #6482
being addressed in https://github.com/datafuselabs/databend/pull/6067

[2022-07-06 03:15] drmingdrmer opened #6485 "Feature: metasrv watch API: watching range has to be left close right open, to support prefix watch."
Currently in the watch API, `[WatchRequest.key, WatchRequest.key_end]` defines a key range to watch.
The key range is left close right close.

It is impossible to precisely watch a prefix such as `_abc/`: `["_abc/", "_abc0"]` will watch `_abc0` in the current implementation.

To support prefix watch, the right bound `key_end` has to be an **open** bound.
So that `["_abc/", "_abc0"]` covers exactly

[2022-07-06 03:16] Xuanwo commented on #6482
I cherry-pick the changes made by @dantengsky and fixed them in https://github.com/datafuselabs/databend/pull/6483

[2022-07-06 03:16] drmingdrmer commented on #6485
It's a feature request from: @zhyass

[2022-07-06 03:23] ZeaLoVe commented on #5915
#6486  add poc

[2022-07-06 03:30] #6422 closed

[2022-07-06 03:32] sundy-li commented on #5002
I think it's fixed after #6354

[2022-07-06 03:32] #5002 closed

[2022-07-06 03:40] #5720 closed

[2022-07-06 03:53] #6482 closed

[2022-07-06 03:54] Xuanwo opened #6489 "website: check the link is broken or not."
@soyeric128 We can run `yarn build ` in the `website` directory and check the link is broken or not.
@Xuanwo Can we add the `yarn build` to our CI to check the link is ok or not?

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/6487#issuecomment-1175742285_

[2022-07-06 03:59] BohuTANG opened #6490 "Add deepnote intergration to document"
**Summary**

Databend supports full ClickHouse  HTTP,  [deepnote](https://deepnote.com/) added ClickHouse integration  recently: https://docs.deepnote.com/integrations/clickhouse

Databend and Cloud) works fine with deepnote too, let's document it.

[2022-07-06 04:05] #6489 closed

[2022-07-06 04:24] zhyass opened #6492 "auto compaction"
Support auto compaction.
./databend-query --cmd compaction

[2022-07-06 04:36] sundy-li opened #6493 "Feature: migrate window function into new processor"
**Summary**

Description for this feature.

migrate window function into new processor

[2022-07-06 08:49] lichuang opened #6504 "Feature: tracking issues of data share in meta service"
**Summary**

Feature: tracking issues of data share in meta service.

- [x] #6581
- [x] #6654
- [x] #6655
- [x] #6723
- [x] #6754
- [x] get inbound and outbound share
- [x] #7058

[2022-07-06 09:16] #6485 closed

[2022-07-06 09:36] flaneur2020 opened #6509 "it seems got OOM on executing perf test."
**Summary**

https://github.com/datafuselabs/databend-perf/runs/7209867367?check_suite_focus=true

[code]

[2022-07-06 10:01] RinChanNOWWW commented on #6084
I think I can take this issue.  /assignme

[2022-07-06 10:01] RinChanNOWWW commented on #6084
/assignme

[2022-07-06 10:02] RinChanNOWWW commented on #6084
/assign

[2022-07-06 10:03] RinChanNOWWW commented on #6084
@databend-bot /assignme

[2022-07-06 10:06] zhang2014 opened #6511 "stateless test timeout with macos"
**Summary**
https://github.com/datafuselabs/databend/runs/7209595252?check_suite_focus=true

[2022-07-06 10:49] ZeaLoVe commented on #6171
The csv file is 40MB +, the orignial way of stateful test is put datas in repo, It is not a good way. Maybe we need secrets to hold the AWS_SECRET_ACCESS_KEY and AWS_KEY_ID, Download csv file and load into minio in pipelines.

[2022-07-06 11:01] BohuTANG commented on #6171
We can set `AWS_SECRET_ACCESS_KEY` and `AWS_KEY_ID` in github KEY env.

[2022-07-06 11:05] BohuTANG commented on #6171
Seems that we can add a dataset repo on github, and git clone from it.

[2022-07-06 11:08] BohuTANG commented on #6171
I have added repo https://github.com/datafuselabs/databend-dataset, we can push the public dataset to this repo :)

[2022-07-06 13:31] #6285 closed

[2022-07-06 14:22] #6250 closed

[2022-07-06 15:45] drmingdrmer opened #6517 "Adding a test will make this PR perfect:DD"
Adding a test will make this PR perfect:DD

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/databend/pull/6516#pullrequestreview-1030310947_

[2022-07-07 01:11] #6455 closed

[2022-07-07 02:34] TCeason opened #6522 "Feature: Cast error happens in casting from String to Date"
**Summary**

[code]

[2022-07-07 02:43] TCeason commented on #6522
BTW I see this SQL can be success.

[code]

[2022-07-07 02:47] sundy-li commented on #6522
tasks:
- [ ] support cast '2022-02-01T00:00:00+08:00'  into timestamp

[2022-07-07 03:12] flaneur2020 opened #6525 "extreme slow on executing numbers Q9 in cluster"
**Summary**

it could quickly response the query in the single instance mode (1~3s), but extreme slow(1.5min~2min) on executing in a 8 x 8c16g cluster.

the failed query:

[code]

related:
- https://github.com/datafuselabs/databend-perf/issues/82

[2022-07-07 03:17] BohuTANG commented on #6525
Cc @zhang2014

[2022-07-07 03:18] flaneur2020 commented on #6509
duplicated with https://github.com/datafuselabs/databend/issues/6525

[2022-07-07 03:18] #6509 closed

[2022-07-07 03:18] flaneur2020 commented on #6525
as the log in https://github.com/datafuselabs/databend/issues/6509 shows, it also causes OOMs or crashes on executing this query

[2022-07-07 03:19] flaneur2020 commented on #6525
<img width="338" alt="Screen Shot 2022-07-07 at 11 18 56 AM" src="https://user-images.githubusercontent.com/129800/177683477-504341a2-1d62-4c62-9a0f-95ae9ca40174.png">

the related container restarts metrics on executing this query

[2022-07-07 03:46] sundy-li commented on #6525
For Q9 in cluster query, we should avoid sending extra blocks through RPC.

[2022-07-07 04:00] #6457 closed

[2022-07-07 05:16] zhang2014 opened #6527 "bug: SELECT result is missed"
@zhang2014   results is missed in https://github.com/datafuselabs/databend/runs/7226876258?check_suite_focus=true

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/issues/6500#issuecomment-1177058509_

[2022-07-07 06:45] sundy-li opened #6528 "Feature: add DATE_TRUNC function"
**Summary**

Description for this feature.

To add `DATE_TURNC` function in planner v2, we can transform the expression in `query/src/sql/planner/semantic/type_check.rs`

[2022-07-07 09:01] fkuner opened #6531 "Feature: copy into statement better use format_csv not source_csv"
**Summary**

`copy into` should use `format_csv` to load data.

[2022-07-07 09:02] ZeaLoVe commented on #6171
Maybe https://repo.databend.rs  is a better choice?

[2022-07-07 09:23] Xuanwo commented on #6531
This is a long-time problem that `copy into` doesn't use the same logic as streaming loading.

It's better for us to unify them together.

[2022-07-07 09:34] #6215 closed

[2022-07-07 10:13] youngsofun commented on #6314
@wubx @ZhiHanZ  this case is fixed by https://github.com/datafuselabs/databend/pull/6524#event-6947878136

[2022-07-07 10:14] youngsofun commented on #5875
fixed by https://github.com/datafuselabs/databend/pull/5870#discussion_r893428208

[2022-07-07 10:14] #5875 closed

[2022-07-07 10:45] #6314 closed

[2022-07-07 11:31] flaneur2020 opened #6532 "bug: cluster accesing the old instances from the previous deployment, and get `no route to host` error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.7.120-nightly

### What's Wrong?

[code]

https://github.com/datafuselabs/databend-perf/runs/7232265390?check_suite_focus=true

### How to Reproduce?

1. start a databend-query cluster deployment in k8s
2. rolling a new deployment for the sam

[2022-07-07 11:33] flaneur2020 commented on #6532
a possible workaround might be we can generate a random cluster id on each deployment

[2022-07-07 11:35] flaneur2020 commented on #6532
the error `no route to host` is safe to retry.

[2022-07-07 11:56] zhang2014 commented on #5855
Implemented in #6500

[2022-07-07 11:56] #5855 closed

[2022-07-07 12:21] sundy-li opened #6535 "ClickHouse client hang for some long queries"
**Summary**

[code]

I think it's related to opensrv.

[2022-07-07 12:39] sundy-li opened #6536 "[bugs] DROP STMT append invalid suffix"
Related to sqlachemy, cc @youngsofun

[code]

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/issues/6488#issuecomment-1177545409_

[2022-07-07 13:14] ZeaLoVe opened #6537 "bug: logic test statement query skipped"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

test bug

### What's Wrong?

#6488

logic test statement query skipped has bug, it skipped the whole following statements, not the single statement.

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing

[2022-07-07 14:17] #5485 closed

[2022-07-07 14:17] #6304 closed

[2022-07-07 14:17] #6527 closed

[2022-07-07 14:38] TCeason commented on #6535
I try to execute this query it successed and the log is here:

[code]

[code]

Try to run the hang command :

➜ clickhouse-client --user default --host 127.0.0.1 --time --query "SELECT COUNT(DISTINCT number) FROM numbers(1000000)"

the hang log is :

[code]

And I use command top to watch my landtop's cpu usage, the cpu load is very down. And databend-query not in top10.

Query with show processli

[2022-07-07 15:54] #6493 closed

[2022-07-07 17:43] #6365 closed

[2022-07-07 22:19] lichuang opened #6542 "doc: metasrv watch RFC"
**Summary**

[2022-07-08 01:14] #6528 closed

[2022-07-08 05:33] #5996 closed

[2022-07-08 05:46] ZeaLoVe commented on #6537
It cause by statement query without result content, but in logic test statement query must have result content check the query return correctly. code here: https://github.com/datafuselabs/databend/blob/main/tests/logictest/logictest.py#L213-L222

I will add some doc to highlight this scenario.

[2022-07-08 06:33] #6537 closed

[2022-07-08 09:59] andylokandy opened #6547 "Tracking issue for new expression framework"
This is a tracking issue for the design and implementation of the new scalar expression framework.

### Summary

The new expression framework contains these improvements:

1. **Compile-time** (for SQL, aka, when planning) **type checking**, which could capture all type errors in the beginning, and provide nice-looking error reports.
2. **Untyped expression evaluation**, which means function evalua

[2022-07-09 02:05] Xuanwo commented on #6547
Make Databend Type System Great Again!

[2022-07-09 02:22] drmingdrmer commented on #6084
The complete JSON result looks good to me.:)

The data is likely to be a `protobuf` serialized data. Most of them can not be converted to string.

What's your suggestion on this?

[2022-07-09 05:09] flaneur2020 opened #6552 "display the file name in the error message of COPY INTO"
I'm loading data into databend with COPY INTO with a batch of files, but on getting this error, I can not get which file is broken:

it'd be better to display the file name in the error message.

[2022-07-09 05:26] flaneur2020 opened #6553 "bug: "found record with 100 fields, but the previous record has 105 fields" on loading hits data"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.7.121-nightly

### What's Wrong?

statement:

[code]

but these scripts shows that the hits data is not corrupted:

[code]

[code]

### How to Reproduce?

https://github.com/datafuselabs/databend-perf/runs/7251163192?check_suite_focus=true

#

[2022-07-09 05:39] BohuTANG commented on #6553
cc @youngsofun

[2022-07-09 07:00] flaneur2020 opened #6554 "'1046: Cannot parse value:Ok("5632622125792883430") to number type, cause: Overflow(5)' on loading hits data"
**Version**

0.7.121-nightly

**Summary**

Schema:

[code]

Query:

[code]

Data:

[hits_bug.csv](https://github.com/datafuselabs/databend/files/9076029/hits_bug.csv)

Error:

[2022-07-09 08:39] youngsofun commented on #6553
I guess  the error acturely happen ad line 93557186

```"tatuirovarki_redmond 70	```

for clickhouse default  CSV, this is not invalid unless we add support fot the  setting https://clickhouse.com/docs/en/operations/settings/settings#format_csv_allow_double_quotes and set it to false

another way is to support TSV in copy

[2022-07-09 08:44] youngsofun commented on #6553
clickhouse load it using TSV

[why does the data come from? ](https://github.com/ClickHouse/ClickHouse/blob/484055984661a2ace7f6a62a1d9f9204ea7f04af/benchmark/compatible/clickhouse/benchmark.sh#L16)

[2022-07-09 08:59] youngsofun opened #6555 "support TSV in copy"
**Summary**

https://github.com/datafuselabs/databend/issues/6553#issuecomment-1179506733
https://github.com/datafuselabs/databend/issues/6554

[2022-07-09 09:39] BohuTANG commented on #6060
Update:
Q16 and Q20 works, but Q18 has a internal error:
[code]

Server log:
[code]
[code]

[2022-07-09 09:41] BohuTANG opened #6556 "TPCH Q18:Code: 1002, displayText = missing field `unset_bits` at line 1"
Update:
databend-query v0.7.122-nightly-f5d99df-simd(rust-1.64.0-nightly-2022-07-09T06:40:02.590578434Z)

Q16 and Q20 work, but Q18 has an internal error:
[code]

Server log:
[code]
[code]

[2022-07-09 09:43] BohuTANG commented on #6060
For the last one Q18 I post a new issue here: https://github.com/datafuselabs/databend/issues/6556, close this issue.

[2022-07-09 09:43] #6060 closed

[2022-07-09 09:48] BohuTANG commented on #6556
cc @dantengsky
I think we made an un-compatible change here.
My TPCH data is generated some weeks ago.

[2022-07-09 10:04] BohuTANG opened #6557 "Add compat test for fuse engine"
**Summary**
Like:
https://github.com/datafuselabs/databend/blob/main/.github/actions/test_compat/action.yml

Ensure that each of our versions is compatible with the previous ones.

[2022-07-09 10:04] RinChanNOWWW commented on #6084
I think it's ok.

[2022-07-09 10:13] dantengsky commented on #6556
cause by blindly replacements of  " null_count => unset_bits"

https://github.com/datafuselabs/databend/pull/6067/files#diff-20030750809780d6492d2fe215a8eb80294aa6a8a5af2cf1bebe17eb740cae35R42

[2022-07-09 10:22] flaneur2020 commented on #6553
the TSV approach makes sense :+1:

currently we already have the TSV in the streaming load, but do not support TSV in COPY yet.

[2022-07-09 12:22] dantengsky opened #6560 "bug: session leak"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

b9e85825efcb6ef40419b466fe3ac36968b33d39

### What's Wrong?

object `Session` leaks

### How to Reproduce?

[code]

keep creating new sessions and quit, and then differ the memory

[code]

and then, got something like this, which indicates memor

[2022-07-09 12:45] GrapeBaBa commented on #5731
@BohuTANG which parser should I use for this feature, v1 or v2?

[2022-07-09 12:46] BohuTANG commented on #5731
Please use v2, v2 will enabled by default soon.

[2022-07-09 13:36] #5537 closed

[2022-07-09 14:01] youngsofun commented on #6553
current COPY did not our input formats lib at all.  I will do some refactoring step by step.

[2022-07-10 01:00] wubx commented on #6553
TSV is same CSV field_delimiter='\t' ?

[2022-07-10 01:11] #6556 closed

[2022-07-10 01:25] fkuner commented on #6552
`streaming_load` can display the error message. Because `copy into` doesn't use the `format_csv`, it can't be diaplayed.

https://github.com/datafuselabs/databend/issues/6531

[2022-07-10 04:06] youngsofun commented on #6553
not for clickhouse: CSV mainly use quote; TSV use escape

[2022-07-10 08:22] yuuch commented on #6427
@leiysky I have almost finish the work for
[code]

Do I need to implement CREATE TABLE with specified columns?
[code]

 :)

[2022-07-10 10:29] xudong963 commented on #6427
Nice work! 👍

Our new planner needs to implement all old planner features, so we need to implement this, you can complete the task in the same PR or separately.

[2022-07-11 01:20] #5915 closed

[2022-07-11 02:49] Xuanwo commented on #6554
https://github.com/datafuselabs/databend/pull/6530 has been merged, please try again.

[2022-07-11 04:25] fkuner commented on #6554
#6530 can't do it. Because copy into use the old method to parse csv. I have issued it in #6531.

[2022-07-11 05:02] flaneur2020 commented on #6112
indeed，the query api have a uniformed error representation, we can keep the error body the same with the other errors.

[2022-07-11 05:02] #4202 closed

[2022-07-11 05:03] #2793 closed

[2022-07-11 05:03] #2894 closed

[2022-07-11 05:07] flaneur2020 opened #6562 "OOM on executing SELECT * FROM ontime in a 8c16g instance"
**Summary**

I'm running databend-query in a kubernetes deployment, executing `SELECT * FROM ontime` through the HTTP API may causes the pod terminated.

in my understanding, polling the result from databend-query http api is a streaming operation, do not necessary get all the output from the query into memory.

Tasks List:

- [x] make ClickHouse TCP handler support writing streaming results #6789

[2022-07-11 05:09] BohuTANG commented on #6562
cc @youngsofun

[2022-07-11 05:51] sundy-li commented on #6553
Example to test:
[code]

[2022-07-11 07:17] yuuch opened #6564 "bug: creating table contains two same column name should not success"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

7cbc1c57f445f4e0b789d4e06b0d9db1fa341414

### What's Wrong?

I create a table which contains two columns have the same `name`. I think it should report  the error message, while creating table, but not later (such as select from this table).

##

[2022-07-11 07:22] BohuTANG commented on #6564
This issue happens in v2 cc @leiysky

[2022-07-11 07:28] #6511 closed

[2022-07-11 07:34] yuuch commented on #6564
It happens both v2 and the old planner. But at that moment, I am using the new planner :)

For the old planner:

[code]

[2022-07-11 08:19] Xuanwo commented on #6104
I will address this ASAP.

[2022-07-11 08:21] ClSlaid commented on #6560
Could it be solved by reimplementing it?
I had proposed #6306.

[2022-07-11 09:06] flaneur2020 opened #6567 "Add compat test for metadata objects"
**Summary**

similar issue: https://github.com/datafuselabs/databend/issues/6557

the metadata objects are the metatypes stored inside metasrv, but the data schema is only known to databend-query.

on changing the metatypes definitions, there's possibility to break up compat in both backwards and forwards manner:

like:

1. create user/stage/udf in current version
2. read the user/stage/udf in the

[2022-07-11 12:27] BohuTANG commented on #6567
@drmingdrmer for some suggestions on the CI.

[2022-07-11 13:57] drmingdrmer commented on #6567
The compatibility between rust-types and protobuf is mainly about these two versions:
https://github.com/datafuselabs/databend/blob/28598be16cbf4dffa3c6b9fa62d62421c3f422e2/common/proto-conv/src/lib.rs#L33-L34

To ensure compatibility, the best practice would be: every time to change the rust types:
- 1. Add a serialized protobuf message of the current `VER`(e,g. `VER=3`) rust types to the unit te

[2022-07-11 14:16] soyeric128 commented on #6528
Hi @sundy-li

Can you help list out which time units the first argument currently accepts?

Thanks

[2022-07-12 01:26] jiaoew1991 commented on #5979
Hi @leiysky I want to try this issue, could you assign to me 😄

[2022-07-12 01:38] BohuTANG commented on #5979
/help

[2022-07-12 01:46] sundy-li opened #6569 "`value_source_v2` shoud sync with `value_source`"
`value_source_v2` shoud sync with `value_source`? In this transitional stage, all changes in `value_source` may be lost in `value_source_v2`.

How can we guarantee it sync?

cc @sundy-li

_Originally posted by @fkuner in https://github.com/datafuselabs/databend/issues/6565#issuecomment-1181216624_

[2022-07-12 02:40] viest opened #6570 "bug: Delete using range query"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

[code]

### What's Wrong?

[code]

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-07-12 02:58] dantengsky commented on #6570
Thanks for reporting! Could you please provide some more information? e.g. the table schema, and test data?

Failed to reproduce the problem in my local dev box :

[code]

Anything that I missed?

[2022-07-12 03:10] viest commented on #6570
This query node logs:

[code]

[2022-07-12 04:13] zhang2014 commented on #6560
I had proposed https://github.com/datafuselabs/databend/issues/6306.

It‘s a great idea to use the actor model to reimplement the session, but we may need to solve more problems, such as the complexity of the code when we need to return results(timeout, exchange channel, dead message and more). This may require some discussions and detailed design (RFC) and a lot of extra work, this almost require

[2022-07-12 05:27] TCeason commented on #6535
add some tracing log in new processor transformer

[code]

We can see that the data block is already generated.

[2022-07-12 08:51] sundy-li commented on #6528
[code]

1. DOY is `day of year`
2. DOW is `day of week`

[2022-07-12 09:12] sundy-li commented on #6528
Oh,  there is something wrong, we don't support `DOY` and `DOW` in `date_trunc`.  cc @ariesdevil

[2022-07-12 09:24] ariesdevil commented on #6528
Got, I'll fix it soon.

[2022-07-12 09:30] ariesdevil commented on #6528
Also, I think we need support `QUARTER` as well.

[2022-07-12 09:38] sundy-li opened #6577 "Feature: special case parse from String into Timestamp/Date"
**Summary**

Description for this feature.

rules:

- For: '0000-00-00' / '0000-00-00 00:00:00' ->   Timestamp: `1970-01-01 00:00:00`,   Date: `1970-01-01`,
- For other timestamp less than '1000-00-00 00:00:00' ->   Timestamp: `1000-01-01 00:00:00`

[2022-07-12 09:55] youngsofun opened #6578 "Unsupported literal value: CURRENT_TIMESTAMP"
create table db2.test6(id Int8, created timestamp  DEFAULT CURRENT_TIMESTAMP);

[code]

[code]

_Originally posted by @youngsofun in https://github.com/datafuselabs/databend/issues/6572#issuecomment-1181560512_

[2022-07-12 11:07] Xuanwo opened #6580 "Refactor CREATE STAGE with the new common-storage parse_uri_location"
**Summary**

`common-storage` `parse_uri_location` added in https://github.com/datafuselabs/databend/pull/6573 which supports parse URI location with endpoint and other connection-related configs.

With this refactor, we can create stage for different services.

[2022-07-12 11:34] lichuang opened #6581 "create and drop a share."

[2022-07-12 13:30] sundy-li commented on #6578
No, we do not support that. We can support it in v2 by transforming keyword `CURRENT_TIMESTAMP ` into `now()`

[2022-07-12 13:33] #6535 closed

[2022-07-12 14:03] Xuanwo commented on #6105
Not very useful. We don't want to import too many crates in `ast`.

[2022-07-12 14:03] #6105 closed

[2022-07-12 14:04] Xuanwo commented on #6106
We will support both `access_key_id` and `aws_key_id` via `common-storage`.

[2022-07-12 14:04] #6106 closed

[2022-07-12 15:59] Xuanwo commented on #6504
Hi, is there a plan to write an RFC for share feature?

[2022-07-12 17:13] lexcao commented on #5051
I found this issue is resolved by [this commit](https://github.com/datafuselabs/databend/commit/f799b6e6114d00cb48d49f9c611105c052bf78de), so it should be closed.

[2022-07-13 00:23] #5051 closed

[2022-07-13 00:53] BohuTANG opened #6587 "Add TRANSIENT table to documention"
**Summary**

https://github.com/datafuselabs/databend/pull/5968

[2022-07-13 02:11] sundy-li opened #6588 "Feature: implement HiveSource to integrate with new processor"
**Summary**

Description for this feature.

After #5895  `HiveSource` is a dummy implementation, so we must turn off `enable_new_processor_framework` to query hive data.
It's better to make `HiveTable` read support the new processor.

[2022-07-13 02:12] BohuTANG commented on #6588
FYI @sandflee

[2022-07-13 02:18] dantengsky commented on #6570
This bug is triggered by the following scenario:

Dring deletion, multiple segments may become empty, while removing those segments from the snapshot, the index being used is NOT correct in some cases. this may lead to an index out of bound err, or even worse, silently deleting incorrect segments.

[2022-07-13 02:37] viest opened #6590 "Feature: Use object data types in select where"
## Create Table

[code]

## Insert Test Data

[code]

## Example

[code]

[2022-07-13 02:42] BohuTANG commented on #6590
[code]

Use alias:
[code]

cc @leiysky @andylokandy

[2022-07-13 02:49] flaneur2020 commented on #6562
this OOM can also be reproduced in the mysql client

[2022-07-13 03:01] BohuTANG opened #6591 "Flaky test 03_0025_delete_from on macOS"
**Summary**
[code]

https://github.com/datafuselabs/databend/runs/7302119795?check_suite_focus=true#step:3:2048

These tests(another is `03_dml/03_0024_select_window_function.sql`) failed in many PRs.

[2022-07-13 03:01] flaneur2020 commented on #6562
can also be reproduced in the clickhouse client:

<img width="608" alt="Screen Shot 2022-07-13 at 11 00 59 AM" src="https://user-images.githubusercontent.com/129800/178641660-dcdabc1b-a9fb-4935-a574-24872cadded9.png">

[2022-07-13 03:58] #6103 closed

[2022-07-13 03:58] #6104 closed

[2022-07-13 03:59] sandflee commented on #6588
plan to  support the new processor in last two weeks.  cc @dantengsky

[2022-07-13 04:22] sundy-li opened #6594 "Improve performance of aggregate function distinct"
**Summary**

Description for this feature.

It's very slow to get distinct results even for one column.
[code]

We can have specific aggregate states for commonly used columns.

[2022-07-13 04:26] zhang2014 commented on #6588
new processor HiveSource is implemented in #6584

[2022-07-13 04:31] Xuanwo commented on #6569
Do we still use `value_source`? How about removing it entirely?

[2022-07-13 04:31] youngsofun commented on #6562
@flaneur2020  thx, clickhouse handler is streaming too,  it is easier o debug then httphandler .

[2022-07-13 04:34] fkuner commented on #6569
We can't remove it now. Becaluse `insert` in old planner used it and `value_source` needs `sqlparser` to reparse when values have expression such as `1+1`.

[2022-07-13 04:37] Xuanwo commented on #6569
Cc @leiysky @andylokandy

Maybe we can remove it while we are removing the old planner?

[2022-07-13 04:46] flaneur2020 opened #6596 "slient the logs in the sqlogictest"
**Summary**

currently the sqlogic test's log is pretty big, causes hard to found the error in the github action's UI like: https://github.com/datafuselabs/databend/runs/7313929749?check_suite_focus=true

in this case, we can easily found the root cause is 'CURRENT_TIMESTAMP' in the tail of the logs output, but the log is 10mb, causing the github action UI can not easily display the output.

this

[2022-07-13 04:48] #3933 closed

[2022-07-13 04:49] sundy-li commented on #6562
`ontime` table has wide columns.   It's streaming in the pipeline execution but there may be more than 1 block in memory.

[2022-07-13 06:21] sandflee commented on #6588
@zhang2014  thanks for your work, do you mind to move HiveSource related code to a new PR,  we could test and discuss in new  PR,  #6584 is too large.

[2022-07-13 07:15] sundy-li commented on #6590
I can't reproduce it.

[code]

[2022-07-13 07:18] sundy-li commented on #6588
Agreed.  And I think we can apply projection pushdown into `HiveSource` after we have a separated pr.

[2022-07-13 07:33] sundy-li opened #6600 "Refactor: Disable `TransformBlockCompact` during the insert pipeline"
**Summary**

Description for this feature.

I think it's better to remove `TransformBlockCompact` during the insert pipeline.

It caches too much memory. We can compact the blocks in background threads #6492

cc @dantengsky

[2022-07-13 07:45] BohuTANG commented on #6590
Have test with the latest release:
https://github.com/datafuselabs/databend/releases/tag/v0.7.127-nightly

It works for me in the v1:
[code]

But it does not works in the v2 planner, I will open a new issue.

[2022-07-13 07:51] BohuTANG commented on #6588
I think we can wait for @zhang2014 to finish his migration and then start the next work.

[2022-07-13 07:52] zhang2014 commented on #6588
It's ready for review.

[2022-07-13 07:53] yuuch commented on #6564
/assignme

[2022-07-13 07:57] BohuTANG commented on #6564
Thanks for taking this issue @yuuch

The `help bot` is offline :\

[2022-07-13 08:05] dantengsky commented on #6600
roger.

I suggest keeping the transform, till #6492 is ready. meanwhile, I'll try to add some constraints to the parallelism of compaction.

[2022-07-13 08:06] dantengsky opened #6601 "feat: Constraints the parallelism of compaction transform"
I suggest keeping the transform, till #6492 is ready. meanwhile, I'll try to add some constraints to the parallelism of compaction.

_Originally posted by @dantengsky in https://github.com/datafuselabs/databend/issues/6600#issuecomment-1182901189_

[2022-07-13 09:09] flaneur2020 commented on #6562
can I take this issue?

I want have a practise about how to diagnose the OOM issue in rust :eyes:

[2022-07-13 09:46] zhang2014 opened #6603 "Feature: limit the parallelism of reading S3 files"
**Summary**

https://github.com/datafuselabs/databend/commit/f9c68cd4b042eeaf913297e0629572740b1b69ee#r78376449

This is interesting. we may consider introducing priorities for read tasks.

feature request from: @sandflee

[2022-07-13 10:19] #5979 closed

[2022-07-13 10:27] xudong963 opened #6604 "bug: inner join return error result"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

[code]

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-07-13 10:30] xudong963 opened #6605 "bug: scalar subquery return error result"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

[code]
and

[code]

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-07-13 10:59] lichuang opened #6606 "Feature: add {db,table}_id map to {(tenant,db_name), (db_id, table_name)} in metasrv."
**Summary**

add {db,table}_id map to {(tenant,db_name), (db_id, table_name)} in metasrv.

[2022-07-13 11:10] flaneur2020 commented on #6562
can we get the metric about how many living data blocks and record it into prometheus ? 🤔

[2022-07-13 12:58] viest commented on #6590
[code]

[2022-07-13 13:21] #6606 closed

[2022-07-13 13:23] sundy-li commented on #6590
Oh, I can reproduce it now, it's a bug.

[2022-07-13 13:43] viest commented on #6590
### Scenario  2

[code]

[2022-07-13 14:20] Xuanwo commented on #6603
Related to https://github.com/datafuselabs/opendal/issues/441

As suggested by @zhang2014, seems we need a connection pool for our client.

[2022-07-13 15:02] soyeric128 commented on #6587
Pls review this PR: https://github.com/datafuselabs/databend/pull/6608

[2022-07-14 01:16] sundy-li opened #6613 "[Tracking] Improve Hive Engine Performance"
**Summary**

Description for this feature.

I think there are three main tasks that we can do to improve the performance of hive engine.

- [ ] Metadata cache during reading partition.
- [ ] Predict push down during reading parquet files.
- [ ] Partition pruner for Partitioned table (currently we don't support partitioned table, so it's in low-priority).

cc @dantengsky  @sandflee

[2022-07-14 02:02] sandflee commented on #6613
https://github.com/datafuselabs/databend/issues/6123 also tracks some works to do for hive query, including foundamental issues（such as read more than one rowgroup，support more column types） and performance ones， we’re doing the foundamental issues。

[2022-07-14 02:11] #6570 closed

[2022-07-14 02:38] flaneur2020 commented on #6596
cc @ZeaLoVe

[2022-07-14 02:58] sundy-li commented on #6613
Ok, let's close it and migrate to issue #6123

[2022-07-14 02:58] #6613 closed

[2022-07-14 02:59] flaneur2020 commented on #6596
this is the log output of the stateless test:

![Screen Shot 2022-07-14 at 10 57 56 AM](https://user-images.githubusercontent.com/129800/178888492-8da36496-1d86-48eb-8ab1-13a81a57d641.png)

it's an aggregated result in the file manner, I think we can consider a similiar representation.

[2022-07-14 03:06] ZeaLoVe opened #6614 "bug: flaky logic test failed in macos"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

currently

### What's Wrong?

https://github.com/datafuselabs/databend/runs/7322628730?check_suite_focus=true

logic test frequency failed in macos test, like https://github.com/datafuselabs/databend/runs/7322628730?check_suite_focus=true

sql :

[2022-07-14 03:37] Xuanwo opened #6615 "Questions for CONNECTION in COPY and CREATE STAGE"
I have a few questions about this new feature:

- The existing document already says users can optionally specify an endpoint URL for s3 external located files. See https://databend.rs/doc/reference/sql/dml/dml-copy-into-table#externallocation-for-amazon-s3-like. So now, after being included in the CONNECTION part, is it still optional, or a must now?
- Same question for ACCESS_KEY_ID & SECRET_ACC

[2022-07-14 03:47] Xuanwo commented on #6615
The doc is out-of-date. `ENDPOINT_URL` didn't implement at all.

We will place all connection-related options with the new change into `CONNECTION`.

And `CONNECTION` is required for now, because most services require at least one option.

No, `ACCESS_KEY_ID` and `SECRET_ACCESS_KEY` are required now. Databend could return an error if those values are missing. Those values will check based on diffe

[2022-07-14 03:53] #6581 closed

[2022-07-14 03:54] yuuch commented on #6427
BTW I fix a small bug about displaying error code, while running stateless test.
The program returned `Err::BadArgument` (1006), while the expected is `Err::UnImplement`(1002).
The log shows:
[code]
it should be
[code]

[2022-07-14 05:14] Xuanwo opened #6619 "Flaky test: metactl failed without information"
**Summary**

https://github.com/datafuselabs/databend/runs/7333849128?check_suite_focus=true

[code]

First of all, we need to address the failure of PR https://github.com/datafuselabs/databend/pull/6616

Then, we need to improve the output of `metactl` to provide more information if the test fails.

[2022-07-14 05:15] Xuanwo commented on #6619
Cc @lichuang, maybe you will be interested in fixing this.

[2022-07-14 05:22] #6577 closed

[2022-07-14 05:56] #6619 closed

[2022-07-14 06:34] #6604 closed

[2022-07-14 09:20] leiysky opened #6625 "Feature: Atomicity of DDL statements"
https://github.com/datafuselabs/databend/issues/3216#issuecomment-986482661

cc @dantengsky

[2022-07-14 10:08] sandflee opened #6627 "bug: load parquet data to databend failed if had timestamp columns"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

80e09b30c1d5bbdcfdc244c997a10374fd797257

### What's Wrong?

could't load parquet data to databend

### How to Reproduce?

1. create table with sql "create table mytime(id string, t_bool boolean, t_float float, t_double double,  t_timestamp time

[2022-07-14 10:12] sandflee commented on #6627
databend transfrom timestamp to int64 arrow type,  while the phiscal type of "t_timestamp" in parquet is int96,  this may cause the error,  any advise?

[2022-07-14 10:29] fkuner opened #6628 "bug: InSubquery returns error result"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

c774f800d5e458062c5204d7822668125ff66ba9

### What's Wrong?

[code]

The result should be `0 1 2 3 4`.

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-07-14 10:29] fkuner commented on #6628
cc @xudong963

[2022-07-14 11:50] flaneur2020 commented on #6562
![output](https://user-images.githubusercontent.com/129800/178975699-870e183c-baae-4475-9289-d4d6d1242b56.svg)

[code]

any idea about this?

[2022-07-14 12:38] Xuanwo opened #6630 "Feature: Add support for `LIST '@"my_stage"'`"
As snowflake note:
[code]

https://docs.snowflake.com/en/sql-reference/sql/list.html

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/6624#issuecomment-1184307191_

[2022-07-14 12:39] Xuanwo commented on #6630
Cc @andylokandy, Please give me some advice.

`AtString` token only supports `@my_stage` now.

[2022-07-14 12:45] flaneur2020 commented on #6562
the mysql protocol have a `collect<>` so the output is expected, i'd try clickhouse cli

[2022-07-14 13:49] dantengsky commented on #6562
does execution by clickhouse-client killed by OOM killer?

[2022-07-14 13:52] flaneur2020 commented on #6562
yes, the databend-query process finally get killed by OOM killer, but it lives quite longer (7~10s) than the mysql one (2~3s)

[2022-07-14 14:03] flaneur2020 commented on #6562
the both memory trace just displays the main source of memory allocation is the DataBlock, but in the streamed pulling fashion, the produced DataBlock is expected to be released as the a chunk of the result get pulled out.

during the profiling, the memory increases until get OOM killed:

https://user-images.githubusercontent.com/129800/179000934-a2f20dcc-ca6f-41b8-a53e-93ef322d56f5.mov

[2022-07-14 14:06] dantengsky commented on #6562
would you please change the

`clickhouse-client --query="select * from ontime" --port 9091 &`

to

`clickhouse-client --query="set max_threads = 1; select * from ontime" --port 9091 &`

and give it another try? (no need jeprof, just test if OOM killer kicks in)

[2022-07-14 14:09] sundy-li commented on #6628
related to method `mark_join_blocks`. I think it's incorrect to call `build_indexes.extend_from_slice` .

[2022-07-14 14:24] sundy-li commented on #6562
This is OOM Killed too.
[code]

[2022-07-14 14:45] sundy-li commented on #6627
Oh, databend's timestamp is always int64.  But parquet may have `int96` timestamp.
There is [a method]( https://github.com/jorgecarleitao/arrow2/blob/f57dbd5dbc61b940a71decd5f81d0fd4c93b158d/src/io/parquet/read/deserialize/simple.rs) to handle this, maybe we should map timestamp to arrow2's timestamp datatype.
Let me find a way to fix this.

[2022-07-14 15:35] #6470 closed, assigned to nobody

[2022-07-14 17:29] andylokandy commented on #6630
@Xuanwo We can add a token `QuotedAtString`, and a parser to extract the inner string from either `QuotedAtString` or `AtString`.

[2022-07-14 17:38] andylokandy opened #6634 "Support JSON in new expression framework"
## Tasks

1. Add `DataType::Variant`.

The parsing and display rule:

[code]

2. Rename generic type `AnyType` to `VariantType`, and implement `ArgType` for it:

[code]

3. Add conversion between `Scalar` and `serde_json::Value`. And then store `Variant` columns in arrow2's `BinaryArray<i64>` which stores serialized JSON strings.

4. Add `can_auto_cast_to` rules:

[code]

5. Add CAST rule:
[code]

[2022-07-14 17:38] andylokandy opened #6635 "Support Timestamp, Date, Interval in new expression framework"
`Date` shares the same value type as `i32`, when `Interval` and `Timestamp` shares the one as `i64`. Therefore the tasks are simpler because we don't need to add value varients for `Scalar` and `Column`:

1. Add logical type `DataType::{Timestamp, Date, Interval}`.

2.
   a. Add generic type `common_expression::types::number::{TimestampType, DateType, IntervalType}`, and implement `Number` trait f

[2022-07-14 17:38] andylokandy opened #6636 "Support UInt32, UInt64, Int32, Int64, Float32, Float64 in new expression framework"
There are three places new data types need to be implemented:

1. `common_expression::types::DataType`, which stores all logical data types. Since new logical data types are defined, you would like to see `common_expression::type_check::{can_cast_to, common_super_type}` to add coressponding casting rules.
2. `common_expression::values::{Scalar, ScalarRef, Column}`, which stores physical data value

[2022-07-15 01:54] flaneur2020 commented on #6562
it also get OOM Killed with set max_threads = 1

[2022-07-15 01:56] dantengsky commented on #6562
roger & thanks.

[2022-07-15 02:40] sandflee commented on #6627
using arrow::timestamp seems  reasonable, could compatible parquet int64 and int96

[2022-07-15 04:04] BohuTANG opened #6640 "Can not streaming_load parquet file to Databend"
**Summary**

## Table
https://github.com/deepeth/mars/blob/main/schemas/databend/transactios.sql
[code]

## Parquet File
https://github.com/deepeth/mars/blob/main/ethetl/tests/it/testdata/transactions_15138828_15138852.parquet
This file is generated by https://github.com/deepeth/mars/blob/b25a3e0159cdf8f0cf1fde36c8703da1611bb2c1/common/formats/src/parquet.rs#L30-L55
and can be viewed on https://ww

[2022-07-15 06:29] sandflee commented on #6123
planing to do:  read partition table and  read more than one rowgroup

[2022-07-15 07:01] #5910 closed

[2022-07-15 07:02] leiysky commented on #5205
Tracked in https://github.com/datafuselabs/databend/issues/6547

[2022-07-15 07:02] #5205 closed

[2022-07-15 07:07] youngsofun opened #6642 "unify input/output formats"
**Summary**

- [x] add TSV https://github.com/datafuselabs/databend/issues/6555
- [x] fix TSV https://github.com/datafuselabs/databend/issues/6650
- [x] https://github.com/datafuselabs/databend/issues/6669
- [ ]  refactor InputState
- [ ]  pass buffer between processor without SharedData?
- [ ]  unify setting/options
- [x] Add test for TSV
- [ ] deal with size limit https://github.com/datafuselabs

[2022-07-15 07:11] leiysky opened #6643 "Feature: Cost-based optimization(CBO)"
Support cost-based optimization.

Need RFC.

[2022-07-15 07:42] sundy-li opened #6644 "Enable new planner by default"
**Summary**

Description for this feature.

- [x] enable database, tables related DDL statements to new planner by default #6648
- [x] enable show statements to new planner by default #6648
- [x] enable copy/list statements to new planner by default #6648
- [x] enable user/roles statements to new planner by default  #6687
- [x] enable undrop/delete  statements to new planner by default  #6716
- [

[2022-07-15 08:22] dantengsky commented on #6640
The schema of parquet file being uploaded and the table schema,  do not match with each other.

| field                    | parquet field (nullable) | table column |
| ------------------------ | ------------------------ | ------------ |
| hash                     | String                   | String       |
| nonce                    | **Int64**                    | **String**       |
| transactio

[2022-07-15 08:46] dantengsky commented on #6640
@sundy-li Are there any APIs to check the compatibility of these schemas?

[2022-07-15 08:50] BohuTANG commented on #6640
I forget to check the schema type, thank you @dantengsky .
But the parquet crate error(many waves of panic) is not easy to handle, maybe we can make it more friendly. @sundy-li @fkuner

[2022-07-15 09:39] #6628 closed

[2022-07-15 14:02] youngsofun opened #6650 "TSV InputFormat should not use quote for enclosing"
**Summary**

[2022-07-15 14:03] youngsofun commented on #6553
need to fix https://github.com/datafuselabs/databend/issues/6650 too

[2022-07-15 14:04] youngsofun commented on #6555
ready to add it in copy, but not done in last pr

[2022-07-15 14:22] youngsofun opened #6652 "build_aarch64_musl fail"
[code]

_Originally posted by @youngsofun in https://github.com/datafuselabs/databend/issues/6651#issuecomment-1185595562_

[2022-07-15 14:27] youngsofun opened #6653 "size_limit option in copy"
**Summary**

multi files load in parallel
row-based counting makes it harder.

[2022-07-15 14:31] youngsofun commented on #6449
what`s it used for? does select stmt need to aware it for optimization?

[2022-07-15 14:35] sundy-li commented on #6449
Use to check the SQL execution time but ignore the output results.

Example query is #6562

[2022-07-15 15:33] lichuang opened #6654 "outbound accept share."

[2022-07-15 15:33] lichuang opened #6655 "add and revoke account"

[2022-07-15 15:58] BohuTANG commented on #6652
Cc @everpcpc

[2022-07-15 23:35] BohuTANG commented on #6653
Can we change the parallel to serialized when the size_limit is setting?

[2022-07-16 01:41] Xuanwo commented on #6652
Should be fixed by https://github.com/datafuselabs/databend/pull/6657

[2022-07-16 01:41] #6652 closed

[2022-07-16 01:47] jiaoew1991 commented on #3711
after databend supported view，maybe use` materialized view` statement to implement this feature is more suitable

[2022-07-16 01:50] BohuTANG commented on #3711
Now the databend view is a query alias, and the aggregate index is something like `[min, max]` index stored in the s3, but we don't have an RFC yet.

[2022-07-16 02:24] Xuanwo opened #6658 "Flaky Test: Producation Unit Test failed with timeout"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main branch

### What's Wrong?

Unit test for the main branch failed with a timeout.

![image](https://user-images.githubusercontent.com/5351546/179335491-e1e2b910-08c5-4e44-affc-551c60a68a18.png)

### How to Reproduce?

`cargo -Z sparse-registr

[2022-07-16 03:49] jiaoew1991 commented on #6636
Hi @andylokandy I will try this issue

[2022-07-16 03:52] #6555 closed

[2022-07-16 05:46] andylokandy commented on #6636
@jiaoew1991 Thank you. I've added some instructions for the task. Feel free to ask if you find anything puzzling.

[2022-07-16 05:57] #6590 closed

[2022-07-16 07:24] xudong963 opened #6659 "bug: Not(expression) can't return result in new planner"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

Consider the case:

[code]

### How to Reproduce?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing to submit a PR!

[2022-07-16 08:59] xudong963 commented on #6659
Why only `BooleanViewer` add the `assert` https://github.com/datafuselabs/databend/blob/main/common/datavalues/src/scalars/viewer.rs#L128, other `ScalarViewer`s not. @sundy-li

After removing the `assert`, the case runs normally.

[2022-07-16 13:17] #6427 closed

[2022-07-17 01:25] youngsofun commented on #6653
maybe we can change a shard `remain-rows`  at the file/split/block level when parse n parallel.
then resize pipeline to 1, and do the final size_limit.

[2022-07-17 10:26] Xuanwo commented on #6642
Add new task: Add test for TSV

[2022-07-17 16:15] #6084 closed

[2022-07-18 02:31] lichuang opened #6667 "Feature: remove {db|table} id map data in gc_dropped_data"
**Summary**

Feature: remove {db|table} id map data in gc_dropped_data

[2022-07-18 04:53] youngsofun opened #6669 "clickhouse parse error with unmatched quote in format csv/tsv"
**Summary**

the unmatched quoted string is valid in csv/tsv if the quote it not used as enclosing.

[code]

``` insert into t1 format TSV "a, b```

but currently the sql (together with the format part) go through tokenizer(old parser)  first, and it raise error.

[code]

can this be solved after parse v1 is dropped?
if true we can wait for clickhouse handler, and support this kind of csv in copy