[2021-12-14 04:19] zhang2014 commented on #3438
Maybe move `clickhouse-rs` into databend-query/servers/clickhouse is better? because it's only used here

[2021-12-14 04:29] PsiACE commented on #3438
now, clickhouse-rs is used only for databend-benchmark.

[2021-12-14 05:34] #3410 closed

[2021-12-14 05:37] Chasen-Zhang opened #3456 "Introducing the Roboto fonts and Home page to adjust."
**Summary**

Introducing the Roboto fonts and Home page to adjust,  Add an exit animation.

[2021-12-14 05:51] #3456 closed

[2021-12-14 06:23] #3262 closed

[2021-12-14 06:26] BohuTANG commented on #3438
Why we still use `clickhouse-rs = { git = "https://github.com/datafuse-extras/clickhouse-rs", rev = "fe0406b" }` in query crate?

[2021-12-14 06:42] #3416 closed

[2021-12-14 07:04] PsiACE commented on #3438
[code]

[2021-12-14 07:27] wubx opened #3461 "Add alter table"
**Summary**

some time not think ok , there maybe design wrong column type or lose column

We need add alter table add column or remove column , change column.

[2021-12-14 07:47] dantengsky commented on #3461
@sundy-li  is it reasonable/proper to introduce another filed, let say, `column_id` to `DataField`?

[2021-12-14 07:48] sundy-li commented on #3461
What does column_id mean? Is it something like `table_id` to identify unique column ?

[2021-12-14 07:53] dantengsky commented on #3461
yes, all the columns are uniquely identified by column_id, and

- `column_id` never changes, if the column is renamed.
- `column_id` increased monotonically, if a new column was added.
-  `column_id` will not be re-used, if a column is dropped

[2021-12-14 07:58] dantengsky commented on #3461
oh, forget to say,

columns are uniquely identified by column_id **in the scope of a given table**

columns of different tables,  may have same column id

[2021-12-14 08:02] dantengsky opened #3462 "Truncate Table history"
**Summary**

- Provides a table Function that can truncate table histories (historical data)
  user may truncate the historical data manually
- Enable historical data truncation for `drop table` and `truncate table`

[2021-12-14 08:03] dantengsky commented on #3462
@wubx If I forget something, please let me know.

[2021-12-14 09:06] lianghanzhen commented on #3440
We still need to implement the `reverse function` in order to register in the factory, no?

I was thinking to add something like the following that you don't have to implement the function:
[code]

Also we can provide a `CREATE FUNCTION` statement to allow users to create their own functions:
[code]

[2021-12-14 10:30] eastfisher commented on #3028
Hi! I have submitted a PR related to this issue. However, some stateless tests are not pass and I don't know why.

test cases in 02_0041 which are not pass:

[code]

and the errors:

[code]

[2021-12-14 10:46] BohuTANG opened #3467 "publish_image error: "/target/release/databend-meta": not found"
**Summary**

https://github.com/datafuselabs/databend/runs/4518558410?check_suite_focus=true#step:3:289
[code]

[2021-12-14 11:00] sundy-li commented on #3028
Hi, databend currently using single quota for Strings.
`SELECT FORMAT(12332.123456, 4, 'en_US');`

[2021-12-14 11:09] sundy-li commented on #3440
Yes, `CREATE Function` can be a great feature in the future. But this is UDF function belongs to the user.

Currently we are implementing built-in functions which can be used by all users.

[2021-12-14 11:26] lianghanzhen commented on #3440
Some built-in functions that return `boolean` seems redundant implementations to me, which can be simply replaced with an alias.

[2021-12-14 18:37] drmingdrmer opened #3469 "Add a field `n_retries` to `Pool` to specify the number of times to retry when getting a pool-item"
Add a field `n_retries` to `Pool` to specify the number of times to retry when getting a pool-item:

- `n_retries` has to be non-zero.
- Add test to ensure this behavior

https://github.com/datafuselabs/databend/blob/9c7b86f841a66f9e8bde7bced234947c7d041179/common/base/src/containers/pool.rs#L78-L85

https://github.com/datafuselabs/databend/blob/9c7b86f841a66f9e8bde7bced234947c7d041179/common/base

[2021-12-15 00:16] Xuanwo commented on #3467
/assignme

[2021-12-15 01:16] #3367 closed

[2021-12-15 03:15] dantengsky commented on #3461
@sundy-li let me try to address this issue without touching the `DataField`

[2021-12-15 04:15] drmingdrmer opened #3471 "evict pool item by LRU"
👍
It would be nice to add eviction for the pool manager : thinking

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/pull/3468#discussion_r769118313_

[2021-12-15 06:11] drmingdrmer opened #3474 "async-raft hangs log replication until next heart beat"
async-raft leader does not forward logs until next heartbeat.
It seems like the LeaderState is not notified somehow.

This issue results in a slow log replication: every log takes 1 sec to commit( heartbeat interval is 1 sec)

[2021-12-15 07:47] Xuanwo commented on #3467
Should be fixed by #3472

[2021-12-15 07:47] #3467 closed

[2021-12-15 09:02] BohuTANG opened #3476 "Support auth plugin"
**Summary**

- [x] #3480
- [x] #3482

[2021-12-15 09:26] flaneur2020 commented on #3476
/assignme

[2021-12-15 09:27] flaneur2020 commented on #3476
jwt might be a promising authentication option, like: https://trino.io/docs/current/security/jwt.html

[2021-12-15 10:03] BohuTANG opened #3480 "Change auth_type to password_type."
**Summary**

Task of #3476

[2021-12-15 10:30] BohuTANG opened #3482 "Add auth type management: Password(default), OAUTH and JWT"

[2021-12-15 13:06] #3480 closed

[2021-12-16 04:27] #3028 closed

[2021-12-16 05:01] #3378 closed

[2021-12-16 05:45] #3257 closed

[2021-12-16 06:46] zhyass opened #3495 "intdiv get wrong result"
**Summary**

Description for this bug.

**How to reproduce**

[code]

**Error message and/or stacktrace**

[code]

**Additional context**

Add any other context about the problem here.

[2021-12-16 06:47] Veeupup opened #3496 "improve transform `merge_result` temp datavalue"
**Summary**

Now in pipelines transform, when aggregating final results, especially in `group by` function, there may be many temp `datavalues`, as code below `Vec<Vec<DataValue>>`.

Consider remove these temp values and just write value into arrow array(maybe binary array, primitive array...)

https://github.com/datafuselabs/databend/blob/610dba09b15aa6dac3f2e0355c085b446d4e5e74/query/src/pipelin

[2021-12-16 06:53] BohuTANG opened #3498 "use `rust-lang`: sql parser error: Expected end of statement, found: rust."
**Summary**

Client:
[code]

Server:
[code]

[2021-12-16 06:54] BohuTANG commented on #3498
CI failed(It's wired, some CI all passed, some CI failed at this):
https://github.com/datafuselabs/databend/pull/3491

[2021-12-16 07:41] #3498 closed

[2021-12-16 08:58] #3462 closed

[2021-12-16 09:01] BohuTANG opened #3501 "Truncate fuse history API"
@sundy-li  @BohuTANG

how about this:

1. introduce two method to Trait `Table`
   - `capabilities() -> Set<Capability>`
   - `truncate_history(context, ...) -> Result<()>`

2. while executing the `Drop` and `Truncate` statement
     - if `truncate history` is enabled (by default , enabled)
     -  and   capabilities() contains  `Capability::TruncateHistory`
        execute `table.truncate_history

[2021-12-16 09:04] #3495 closed

[2021-12-16 09:46] BohuTANG opened #3504 "Clap `--single` is not compatible"
Ubuntu platform uses `databend-query-standalone-embedded-meta.sh` which doesn't depend on `--single` option. So the root cause is the change for `--single` is not compatible. It used to support `--single=true` but now it doesn't.

To me, it's OK to use `--single` only, if so, we need to update scripts under `scripts/deploy`.

ping @BohuTANG for review.

_Originally posted by @Xuanwo in https://git

[2021-12-16 10:26] dantengsky opened #3505 "convert table function truncate_history to Table's Function"
/lgtm

We can improve it in later PR

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/3463#issuecomment-995569309_

[2021-12-16 10:30] AngleNet commented on #3220
/assignme

[2021-12-16 13:25] #3505 closed

[2021-12-16 14:33] dantengsky opened #3510 "introduce `purge` argument for truncate statement"
**Summary**:

introduce `purge` argument for truncate statement

- by default, `truncate` will keep the historical data (snapshot/segment/block)
- `truncate table purge` will physically remove all the historical data, except the data (snapshot/segment/block) referenced by the last snapshot

------------------

Originally  disscussion:

snapshot history deletion is done implicitly by statements `dr

[2021-12-16 14:38] xudong963 commented on #1217
404

[2021-12-16 14:44] PsiACE commented on #1217
https://github.com/datafuselabs/databend/blob/main/website/databend/docs/dev/rfcs/query/0005-new-sql-planner-framework.md

[2021-12-16 14:53] #1784 closed

[2021-12-16 17:19] zhyass opened #3512 "Add filters pushdown for read datasource"
**Summary**

Add filters pushdown for  read datasource

[2021-12-16 23:23] BohuTANG commented on #3510
Hi,
One question:
1. Why drop table still keeps history data? 🤔

[2021-12-17 02:35] ariesdevil opened #3515 "[metasrv] Replace arrow flight with gRPC"
**Summary**

gRPC is easier to use and we want to provide meta API directly to end-users. cc @drmingdrmer

Step:
1. move `metasrv/meta.proto` out of metasrv, so that other crates can access metasrv without depending on it.(via @drmingdrmer )
2. replace arrow flight service with gRPC.
	* Define protobuf files corresponding to current data type.
	* Create gRPC services that ensure it provides the sa

[2021-12-17 03:13] #3504 closed

[2021-12-17 05:09] sundy-li opened #3519 "Improve expression_executor"
**Summary**

Description for this feature.

1. Not allow `aggregate_function` in `expression_executor`.
2. Make `Box<function>` to be a field of `ExpressionAction`

[2021-12-17 05:12] sundy-li commented on #3515
Need to consider  what's the optimizations of flight?

`However, Flight implementations include further optimizations to avoid overhead in usage of Protobuf (mostly around avoiding excessive memory copies).`

From https://arrow.apache.org/docs/format/Flight.html

[2021-12-17 05:21] #3512 closed

[2021-12-17 05:42] BohuTANG commented on #3515
Change to gRPC main purpose is to make it easy called by other systems (except databend, like some api gateway).

[2021-12-17 06:08] PsiACE commented on #2941
/assignme

[2021-12-17 07:32] #2941 closed

[2021-12-17 07:58] drmingdrmer commented on #3515
- [ ] The first thing to do is to move `metasrv/meta.proto` out and put it into a new crate so that other crate is able to access metasrv without depending on it.

[2021-12-17 08:05] #3010 closed

[2021-12-17 08:05] #3011 closed

[2021-12-17 10:28] BohuTANG opened #3528 "The first thing to do is to move `metasrv/meta.proto` out and put it into a new crate so that other crate is able to access metasrv without depending on it."
- [ ] The first thing to do is to move `metasrv/meta.proto` out and put it into a new crate so that other crate is able to access metasrv without depending on it.

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/databend/issues/3515#issuecomment-996512151_

[2021-12-17 12:26] PsiACE opened #3530 "Refactor string hash functions using String2String template function"
Can use String2String template function.

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/pull/3527#discussion_r771268042_

- [ ] md5
- [ ] sha1
- [ ] blake3

[2021-12-17 12:29] flaneur2020 commented on #3430
there're a few sentences about data sharing in the snowflake's blog:

https://www.snowflake.com/blog/how-foundationdb-powers-snowflake-metadata-forward/

[2021-12-18 01:18] #3519 closed

[2021-12-18 02:38] dantengsky commented on #3510
sorry for the delayed response. u r right, without time-traveling, `drop table` should purge the history data.

[2021-12-18 02:48] BohuTANG opened #3538 "Substrait Spec: Cross-Language Serialization for Relational Algebra"
**Summary**

https://substrait.io/

Substrait is a cross platform way to express data transformation, relational algebra, standardized record expression and plans.

[2021-12-18 03:51] ygf11 opened #3539 "Optimize to ser/deserialize bytes arrays/vectors length in varint encoding"
Yes, but I don't want it to be a global setting.

Could it be possible to just write the `offsets`/ `length`   of (vectors,  byte arrays ) in variant encoding?
For other integers, we just use native encoding.

This is because we always know that the vector state has small size ranges, so it benefits a lot to use variant encoding. But for other integers, the range may be random, it's better to use

[2021-12-18 03:54] ygf11 commented on #3539
@sundy-li You are right, it's better to use a forked bincode crate.
How about adding a config to set bytes arrays/vectors length writing in varint encoding?
[code]

[2021-12-18 04:00] sundy-li commented on #3539
Yes，that's absolutely what I want.

[2021-12-18 04:04] ygf11 commented on #3539
/assignme

[2021-12-18 04:47] PsiACE opened #3540 "[observability] tracing by console"
**Summary**

https://github.com/tokio-rs/console

[2021-12-18 05:17] #3530 closed

[2021-12-18 06:42] PsiACE commented on #3540
/assignme

[2021-12-18 09:37] BohuTANG commented on #3430
For share createing it's metadata-only:

[code]

The hard parts is that how we check the privileges on db1 when we accessing it.

[2021-12-18 13:59] BohuTANG opened #3541 "Consider remove ProgressCallback from ProgressStream"
**Summary**

For progress tracking, we introduce a callback in ProgressStream:
https://github.com/datafuselabs/databend/blob/ffafbf120997f98d5e200e9ca5068f4500dbb9e4/common/streams/src/stream_progress.rs#L36-L38

Here ProgressCallback can be changed into `Arc<ProgressValues>`
https://github.com/datafuselabs/databend/blob/ffafbf120997f98d5e200e9ca5068f4500dbb9e4/common/base/src/progress.rs#L25-L28

[2021-12-18 17:21] ZhiHanZ commented on #3264
I think it is resolved by #3443

[2021-12-18 17:22] #3264 closed

[2021-12-19 04:04] #3541 closed

[2021-12-19 07:39] BohuTANG commented on #1818
Done! https://dbdb.io/db/databend

[2021-12-19 07:39] #1818 closed

[2021-12-19 08:28] BohuTANG opened #3548 "I did not know why this branch returns an empty String column."
I did not know why this branch returns an empty String column.

Maybe we should cast the column into String column in previous.

[code]

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/pull/3446#discussion_r768234129_

[2021-12-19 08:29] BohuTANG opened #3549 "soundex function review comments"
[code]

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/pull/3446#discussion_r768234491_

[2021-12-19 08:57] #1216 closed

[2021-12-19 10:38] #3362 closed

[2021-12-19 10:41] GrapeBaBa opened #3551 "make test failed"
Make sure that `git diff` result is empty and you've just pulled fresh main, and run first:
[code]
Yes.

**Operating system**

OS kind or distribution, specific version/release, non-standard kernel if any. If you are trying to build inside virtual machine, please mention it too.

**rust version**
[code]
rustc 1.59.0-nightly (6db0a0e9a 2021-11-29)
cargo 1.58.0-nightly (7f08ace4f 2021-11-24)

**Data

[2021-12-19 15:29] PsiACE commented on #3540
I initially investigated this option and felt it worked well, with the only misgivings being the need for additional RUSTFLAGS at build time, which looked like it could be an optional feature. Then add some documentation to explain this option/feature.

[2021-12-19 18:04] drmingdrmer commented on #3551
Thank you for reporting this issue.

Does it always fail or has chance to pass?

BTW can you please run it with `RUST_BACKTRACE=1 RUST_LOG=debug cargo test` and attach the stdout and the debug log in `metasrv/_logs`?
These info would help a lot on debugging this issue.

[2021-12-19 20:07] Junnplus opened #3553 "create system table will cause the server to crash."
**Summary**

I try to create a system table, it cause the server to crash.

**How to reproduce**

[code]

**Error message and/or stacktrace**
[code]

If applicable, add screenshots to help explain your problem.

[How to get the server logs](https://databend.rs/development/how-to-get-server-logs/)

**Additional context**

Add any other context about the problem here.

[2021-12-19 20:08] Junnplus commented on #3553
/assignme

[2021-12-19 20:14] Junnplus commented on #3553
The root cause is that the db type(immutable/mutable catalog) is not checked, it will cause raft shutting.

https://github.com/datafuselabs/databend/blob/main/query/src/catalogs/impls/database_catalog.rs#L180-L182

[2021-12-20 01:47] Xuanwo commented on #3209
Thank vercel for sponsoring our documents hosting! We are ready to deploy the new https://databend.rs!

![image](https://user-images.githubusercontent.com/5351546/146700345-b78f6e3a-5186-4110-ad0b-e369ea62a899.png)

[2021-12-20 02:20] ZhiHanZ commented on #3538
interesting demo: https://github.com/andygrove/substrait-rs

[2021-12-20 02:41] wubx opened #3555 "bendctl>cluster create; failure"
**Summary**

first install  bendctl  cluster create is ok, next day  bendctl cluster create Will get latest vesion , get latest vesion is ok ,
finally up failure .

**How to reproduce**

today: bentctl cluster create

next day: bentclt cluster create -> failure

**Error message and/or stacktrace**

$tail -f -n 100 *

==> databend-query.2021-12-20-02 <==
{"v":0,"name":"databend-query","msg":"Config

[2021-12-20 02:44] #3431 closed

[2021-12-20 03:15] GrapeBaBa commented on #3551
`meta_node::meta_node_all::test_meta_node_snapshot_replication` this one frequently occur.

[2021-12-20 03:18] #3553 closed

[2021-12-20 03:49] BohuTANG opened #3557 "Rename table statement"
**Summary**

[code]
https://dev.mysql.com/doc/refman/8.0/en/rename-table.html

[2021-12-20 04:06] GrapeBaBa commented on #3328
/assignme

[2021-12-20 04:12] #3088 closed

[2021-12-20 04:19] Junnplus opened #3559 "make github database immutable"
**Summary**

todo of https://github.com/datafuselabs/databend/pull/3542

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/discussions/3421#discussioncomment-1796350_

We should disable create table in github database.

[2021-12-20 04:44] #3012 closed

[2021-12-20 04:44] #3013 closed

[2021-12-20 05:04] Junnplus commented on #3559
/assignme

[2021-12-20 05:27] BohuTANG commented on #3559
There is a case:
github database data source is from the remote, it's easy to materialized them into a local fuse engien table:
create table xx_comments_fuse select * from xx_comments;

If the database is immutable we must create a new database to do that.

Back to the issue, why we `make github database immutable`? :thinking:

[2021-12-20 05:32] Junnplus commented on #3559
When I say immutable, I mean `ImmutableCalalog`, https://github.com/datafuselabs/databend/blob/main/query/src/catalogs/impls/immutable_catalog.rs#L45-L48
like system database, we can't create tables or delete tables in query sql.

[2021-12-20 05:39] Junnplus commented on #3559
We may have other database engines in the future, like clickhouse's mysql/sqlite database engine, they also seem `immutable`.

[2021-12-20 06:25] BohuTANG commented on #3559
Thank you.
 Immutable github engine(and some others) here makes sense.

[2021-12-20 06:36] BohuTANG opened #3560 "bendctl: Support `bendctl generate --dataset ontime`"
**Summary**

Now we have 3 steps to guide user how to create and load ontime datasets to a databend cluster and do some tests.
It would be better to add one command: `bendctl generate --dataset ontime`, it will do:
1. Download ontime datasets from https://repo.databend.rs/dataset/stateful/ontime.csv
2. Create ontime database and table, schemas like ./tests/suites/0_stateful/ontime/create_table.sql

[2021-12-20 06:54] ZhiHanZ commented on #3560
consider more generic UX?
[code]

[2021-12-20 07:46] Junnplus opened #3561 "Show create database statement"
**Summary**

After https://github.com/datafuselabs/databend/pull/3542, we should support `SHOW CREATE DATABSE` statement to show engine options.

[code]

https://dev.mysql.com/doc/refman/8.0/en/show-create-database.html

[2021-12-20 07:49] ariesdevil opened #3562 "ci: Workflow skipped for runner no space left"
**Summary**
Hi, I encounter the ubuntu unit test skipped today and after rerunning it all, it still happened.

related PR: #3532

cc @Xuanwo

[2021-12-20 07:53] BohuTANG commented on #3560
Good idea

[2021-12-20 07:59] Xuanwo commented on #3562
Let me take a look.

[2021-12-20 08:00] #1511 closed

[2021-12-20 08:12] Xuanwo commented on #3562
[code]

From: https://github.com/datafuselabs/databend/actions/runs/1600648091

---

Github has a limit of 20GB on disk, will we produce too many files in the unit tests? If not, Github must be sucks.

[2021-12-20 08:16] ariesdevil commented on #3562
Does the macOS unit test have different behavior with ubuntu or Github disk limit is not the same?
cc @PsiACE

[2021-12-20 08:19] Xuanwo commented on #3562
It looks they are the same:

https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners

![image](https://user-images.githubusercontent.com/5351546/146734746-f2d4efa5-5432-4865-9949-5b820b04f15a.png)

---

BTW, I did a clean `cargo test --all-features --no-fail-fast` on my Linux host:

[code]

[2021-12-20 08:21] ariesdevil commented on #3562
Wow...so big

[2021-12-20 08:22] sundy-li commented on #3561
Ok, but let's apply the mask to the secret token or other entry options.

[2021-12-20 08:24] Xuanwo commented on #3562
Here is a workaround from the community: https://github.community/t/error-no-space-left-on-device/156746/4

We can use https://github.com/apache/flink/blob/02d30ace69dc18555a5085eccf70ee884e73a16e/tools/azure-pipelines/free_disk_space.sh to remove no used files

[2021-12-20 08:30] Xuanwo opened #3564 "PR 2880 build failed"
https://github.com/datafuselabs/databend/runs/4579645578?check_suite_focus=true

[code]

cc @zhang2014

[2021-12-20 08:30] Junnplus commented on #3561
IMHO, this shouldn't be needed, we should control by permissions. The same goes for clickhouse.

[2021-12-20 09:01] #3564 closed

[2021-12-20 09:09] Xuanwo commented on #3562
ping @ariesdevil, Please try merge #3565 to verify whether it works or not.

[2021-12-20 09:10] ariesdevil commented on #3562
Got

[2021-12-20 09:24] GrapeBaBa commented on #3551
@drmingdrmer the backtrace

[code]

[2021-12-20 10:02] #3562 closed

[2021-12-20 10:24] flaneur2020 commented on #3173
the privilege options in clickhouse:

https://clickhouse.com/docs/en/sql-reference/statements/grant/

[2021-12-20 10:30] flaneur2020 commented on #3173
this is the privileges in tidb:

[code]

[2021-12-20 11:43] #3528 closed

[2021-12-20 11:45] flaneur2020 commented on #3173
[code]

the privileges in the global contexts can only be granted to GLOBAL object

[2021-12-20 13:41] flaneur2020 commented on #3173
a draft on the privieleges to be added in this iteration:

- Usage
- Select
- Insert
- Update
- Delete
- Create
- Drop
- Alter
- Grant
- Create User
- Create Role
- Super

[2021-12-20 15:10] #3548 closed

[2021-12-20 15:10] #3549 closed

[2021-12-21 02:10] chenyukang commented on #3557
/assign

[2021-12-21 02:16] ZhiHanZ opened #3570 "[Build] replace openssl libc dynamic linking"
**Summary**
Currently openssl libc linking issue occurs when people installed incompatible libssl-dev version and maintain on openssl related building dependency cost a lot of attentions.
We could take a trial to replace openssl related dependencies with rustls(https://github.com/rustls/rustls)
Ref:
https://msfjarvis.dev/posts/building-static-rust-binaries-for-linux/

[2021-12-21 02:17] ZhiHanZ commented on #3570
cc @Xuanwo @PsiACE

[2021-12-21 02:37] PsiACE commented on #2937
/assignme

[2021-12-21 02:57] sundy-li commented on #2937
BTW I think It's ok to refactor `databend-test` into rust.

[2021-12-21 04:00] BohuTANG opened #3571 "common_exception::exception::ErrorCode::ClusterUnknownNode under Address already in use"
**Summary**

If the ClickHouse port is already in use, it will trigger the `Cannot drop cluster node(while shutdown)` first.

Server log(INFO databend_query: DatabendQuery v-0.1.0-04bd6be-simd(1.59.0-nightly-2021-12-21T03:54:03.768969182+00:00)):
[code]

[2021-12-21 04:13] BohuTANG opened #3572 "`to_data_type` recursion: fatal runtime error: stack overflow"
**Summary**

[code]

Due to the `to_data_type`  recursion, calltace:
[code]

[2021-12-21 04:15] BohuTANG commented on #3572
ClickHouse:
Received exception from server (version 21.7.4):
Code: 167. DB::Exception: Received from localhost:9000. DB::Exception: AST is too deep. Maximum: 1000.

[2021-12-21 04:28] sundy-li commented on #3572
`stacker::maybe_grow` may help in recursivise

[2021-12-21 05:16] BohuTANG commented on #2937
Agree!

[2021-12-21 08:20] drmingdrmer commented on #3551
It is because somehow the task is blocked by other unit test threads and finally timed out.

The log shows that `test_meta_node_snapshot_replication` is delayed by about 3 seconds.

[code]

`RUST_TEST_THREADS=1 cargo test` should let the unit tests pass happily.

We've had several issues like yours in the past. For the same reason, in our CI unit test threads are limited to 2. Otherwise the CI fai

[2021-12-21 08:33] Xuanwo opened #3578 "DOC: Fix index is empty"
ref: https://github.com/datafuselabs/databend/pull/3576#issuecomment-998563335

We can use https://docusaurus.io/docs/category/guides to build a index page.

[2021-12-21 09:38] #3561 closed

[2021-12-21 09:51] #3455 closed

[2021-12-21 09:57] #3551 closed

[2021-12-21 10:01] #3510 closed

[2021-12-21 11:11] lianghanzhen commented on #3440
I took a deeper look at the code. I agree with you that it's not a good idea to use alias for built-in functions, because built-in functions are very useful to optimise queries, for example, `not ( isnull (args) )`  can be simplified to `isnotnull(args)`.

On the other hand, it would be a great feature that we allow users to create their own functions based on the built-in ones.

Do you know how t

[2021-12-21 12:35] sundy-li commented on #3440
I think you mean `create a function  that can only be accessed by specified users`,  now we do not support `create function` statement.

[2021-12-21 12:55] lianghanzhen commented on #3440
I plan to add it. We need a table to store all the `UDFs` which might contains 2 columns: `name` and `substitution`.

The statement can be:
[code]

[2021-12-21 13:03] sundy-li commented on #3440
But `CREATE Functione` is not just for alias function.
Maybe clickhouse create function using lambda expression is better.

Refer: https://clickhouse.com/docs/zh/sql-reference/statements/create/function/
`CREATE FUNCTION linear_equation AS (x, k, b) -> k*x + b;`

[2021-12-21 13:03] sundy-li commented on #3440
We need support lambda expression at first...

[2021-12-21 13:15] lianghanzhen commented on #3440
Thanks for pointing out, I haven't checked the ClickHouse one. Correct me if I'm wrong, the only difference I see between lambda & my proposal is how we specify the params, explicit or implicit. I think the implicit one might be much more friendly for the parser.

[2021-12-21 13:26] sundy-li commented on #3440
You can take a try, it's valuable.

[2021-12-21 13:56] lianghanzhen commented on #3440
Then back to the question, is there any table/database that can only be accessed by specified users?

[2021-12-21 14:01] sundy-li commented on #3440
No, there is not.

[2021-12-21 14:23] lianghanzhen commented on #3440
Do you think we can put it in `system.functions` table? Or is it better to create a new one for `UDFs`?

[2021-12-21 14:28] sundy-li commented on #3440
It's better to store `functions` as `stage`.

[code]

[2021-12-21 14:39] lianghanzhen commented on #3440
Well that's a new concept for me. Can you share any documents about it?

[2021-12-21 14:43] sundy-li commented on #3440
#3253
#3361

Snowflake:
Console for free:  app.snowflake.com

https://docs.snowflake.com/en/sql-reference/sql/create-stage.html
https://docs.snowflake.com/en/sql-reference/sql/create-function.html

[2021-12-21 23:07] #3173 closed

[2021-12-22 01:47] BohuTANG opened #3584 "error: 1 vulnerability found"
**Summary**

https://github.com/datafuselabs/databend/runs/4601020951?check_suite_focus=true

cc @PsiACE

[2021-12-22 02:25] BohuTANG opened #3586 "Copy INTO <table> from external location"
**Summary**
Load all files in a s3 bucket and insert into table:

[code]

Tasks:
- [x] https://github.com/datafuselabs/databend/pull/4170 (works with minio)
- [x] #4277
- [ ] #4308
- [x] Copy from S3 with Anonymous access (OpenDAL done, TODO: need add a stateful test for it)
- [x] Copy from S3 pattern name files (#4328)
- [x] Copy from S3 all directory files (#4373)
- [x] Copy from with Parquet fi

[2021-12-22 02:26] Xuanwo opened #3587 "docs: postcss-px-to-viewport: postcss.plugin was deprecated"
Warning during the website build.

https://vercel.com/databend/databend/5b7MmmN6AiSYU7uq22ctpX8hMVfR

[code]

---

ping @Chasen-Zhang for a look.

[2021-12-22 02:31] Chasen-Zhang commented on #3587
I'll go fix it

[2021-12-22 02:38] Xuanwo commented on #3584
This issue will block all PR, I will try to give a hotfix.

[2021-12-22 02:42] BohuTANG commented on #3586
We need some data accessor apis to help the file reading, maybe we can address it in:
https://github.com/datafuselabs/databend/pull/3575

cc @Xuanwo

[2021-12-22 02:54] Xuanwo commented on #3586
I'm working on #3436 now.

I believe we will have a more elegant API design to support those feature requests.

[2021-12-22 03:04] #3578 closed

[2021-12-22 03:07] GrapeBaBa commented on #3586
need wait #3436 ？

[2021-12-22 03:08] PsiACE opened #3589 "ci: reduce running frequency"
**Summary**

- Deps audit should only be run in two situations.
  - when changing Cargo.lock
  - at a random moment, probably at a frequency of once every few days
- When making changes to the site only, there is no need to run checks other than lint.

cc @Xuanwo

[2021-12-22 03:10] BohuTANG commented on #3586
That's right!

[2021-12-22 03:25] QuintinTao opened #3591 "build source code on centos 7 objcopy: option '--compress-debug-sections' doesn't allow an argument"
I got this error when I run "make run". I think the command objcopy does not match with the requirement.
![image](https://user-images.githubusercontent.com/72123724/147030254-fd91d690-5d6a-4b85-a52e-ab7c6aea9485.png)

[2021-12-22 03:28] QuintinTao commented on #3591
May I get the QR Code of the wechart group?

[2021-12-22 04:10] Chasen-Zhang commented on #3587
#3592  ping @Xuanwo

[2021-12-22 04:18] flaneur2020 commented on #3430
there might have some hard works needs to be addressed before working on shares, including:

- a global metadata which across multiple regions
- managinge organization & accounts in the metadata center (currently there's no organization in the databend-query's view)

[2021-12-22 04:32] sundy-li opened #3593 "Improve issue template"
**Summary**

Apache GitHub's issue template is a very good example to learn.

Eg:

https://github.com/apache/incubator-doris/blob/master/.github/ISSUE_TEMPLATE/feature-request.yml

[2021-12-22 04:39] Xuanwo commented on #3593
BTW, our issues templates are too many...

[2021-12-22 05:17] #3587 closed

[2021-12-22 06:03] Xuanwo commented on #3589
BTW, Github already has native security support via depandabot(they will send PRs for you), maybe we don't need to run `cargo audit` during CI?

[2021-12-22 06:20] Xuanwo commented on #3584
Fixed in #3590

[2021-12-22 06:20] #3584 closed

[2021-12-22 06:21] Xuanwo commented on #209
@sundy-li Are you still working on this?

[2021-12-22 06:24] Xuanwo commented on #758
Are we still tracking functions on this issue not?

- If true, we need to do some update
- If not, I prefer to close this issue.

[2021-12-22 06:25] Xuanwo commented on #610
We have adopted new website frameworks, please feel free to submit new issues if the same problem occurs.

[2021-12-22 06:25] #610 closed

[2021-12-22 06:29] Xuanwo commented on #1206
Can't reproduce, and the log is purged.

I'm going to close this issue, please feel free to submit new issues if we meet test failure again.

[2021-12-22 06:29] #1206 closed

[2021-12-22 06:31] Xuanwo commented on #1445
Hi, any update on this issue?

[2021-12-22 06:31] Xuanwo commented on #1322
CLI section has already been live on website, let's close this issue.

[2021-12-22 06:31] #1322 closed

[2021-12-22 06:34] Xuanwo commented on #2116
Already added, let's close this issue.

[2021-12-22 06:34] #2116 closed

[2021-12-22 06:36] Xuanwo commented on #1901
Hi, any updates on this issue?

[2021-12-22 06:41] drmingdrmer commented on #1901
Does it happen recently? @zhang2014

[2021-12-22 06:47] Xuanwo commented on #3593
/assingme

[2021-12-22 06:47] Xuanwo commented on #3593
/assignme

[2021-12-22 07:12] zhang2014 commented on #1901
Can't reproduce. let's close it.

[2021-12-22 07:12] #1901 closed

[2021-12-22 07:16] zhang2014 commented on #758
Most the items in the list have been finished or there are other issues to track them. yes. Let's turn it off.

[2021-12-22 07:16] #758 closed

[2021-12-22 07:22] Xuanwo commented on #3423
I start a new proposal to address this problem, PTAL: https://github.com/datafuselabs/databend/discussions/3597

[2021-12-22 07:40] Xuanwo commented on #3209
https://databend.rs/ is online.

Let's close this issue and move to the next stage!

[2021-12-22 07:40] #3209 closed

[2021-12-22 07:52] BohuTANG opened #3598 "Add session context progress to `show processlist`"
**Summary**

Now:
[code]

Expect:
Add some extra infos to trace the progress values:
1. self.ctx.get_dal_metrics()
2.  self.ctx.get_scan_progress_value()

[2021-12-22 08:09] BohuTANG commented on #3591
`make build`

[2021-12-22 08:11] BohuTANG commented on #3591
cc @wubx

[2021-12-22 08:35] QuintinTao commented on #3591
I ran like you mentioned. but it didn't work.
I want to change script with the command "objcopy --compress-debug-sections=zlib-gnu" in somewhere
remove the parameter =zlib-gnu. but I can't find where it is.

I can see those commands in the *yml file.

[2021-12-22 08:37] juzhiyuan commented on #3209
Cool!

[2021-12-22 10:11] sundy-li commented on #209
Sorry, this is fixed, we don't have ParquetStream anymore, it's in Source trait named `source_parquet`.

[2021-12-22 10:11] #209 closed

[2021-12-22 10:16] sundy-li commented on #1445
It's already done. Arrow2 supports async parquet reading now.

[2021-12-22 10:16] #1445 closed

[2021-12-22 14:22] ariesdevil opened #3605 "[metasrv] replace arrow flight service with gRPC for metasrv"
**Summary**

Replace arrow flight service with gRPC

[2021-12-22 14:49] #3372 closed

[2021-12-22 19:00] PsiACE commented on #3589
already? That's really great.

But we still need audit notifications.

[2021-12-23 02:17] BohuTANG opened #3607 "system.query_log read_rows and read_bytes is empty after select"
## Summary

ClickHouse handler reset the context progress cause the read_rows/bytes to empty(MySQL handler works):
[code]

[2021-12-23 03:32] Xuanwo commented on #3589
Got it.

[2021-12-23 04:16] BohuTANG opened #3608 "Add scan_cost to query_log table"
**Summary**

scan_cost: total time how the scan cost

[2021-12-23 04:17] BohuTANG commented on #3608
Consider rename read_bytes/rows to scan_bytes/rows in query_log

[2021-12-23 06:23] Xuanwo commented on #3589
@PsiACE, do you think it's a good idea to use https://github.com/marketplace/actions/rust-audit-check instead.

[2021-12-23 06:26] Xuanwo commented on #3570
Let's resolve them via https://github.com/datafuselabs/databend/discussions/3597

[2021-12-23 06:31] Xuanwo opened #3611 "Tracking issue of Databend Platform Support Policy"
## Proposal

https://github.com/datafuselabs/databend/discussions/3597

This issue will fix the following issues:

- https://github.com/datafuselabs/databend/issues/3423
- https://github.com/datafuselabs/databend/issues/2063
- https://github.com/datafuselabs/databend/issues/3570

## TODO List

- [ ] Build binaries on ubuntu 18.04/20.04 instead
- [ ] Build statically linked binaries for ubuntu 16.0

[2021-12-23 06:38] #3593 closed

[2021-12-23 06:46] PsiACE commented on #3589
This is great, the only problem is its lack of maintenance.

[2021-12-23 08:24] BohuTANG opened #3616 "`insert into t1 select * from t1;` hang in ClickHouse client"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

DatabendQuery v-0.1.0-09b40b3-simd(1.59.0-nightly-2021-12-23T08:16:44.451299903+00:00)

### What's Wrong?

[code]

MySQL client works well here.

### What You Expected?

 `insert into t1 select * from t1;`  works in ClickHouse client

### How to

[2021-12-23 08:57] zhyass opened #3618 "Improved performance of arithmetic functions"
Discussion: https://github.com/datafuselabs/databend/discussions/3614
Move arithmetic from datavalues to functions.
The type is no longer converted before the calculation, but is converted during the calculation.

Tasks:
- [x] #3620
- [x] #3651

[2021-12-23 08:59] zhyass opened #3619 "Move num_argments and variadic_arguments from Function trait to FunctionFeatures"
Move num_argments and variadic_arguments from Function trait to FunctionFeatures

[2021-12-23 09:06] wubx commented on #3591
Please use wechart add: Databend

[2021-12-23 09:18] BohuTANG commented on #3619
Sundy comments

[2021-12-23 09:18] #3619 closed

[2021-12-23 09:25] #3338 closed

[2021-12-23 09:30] zhyass commented on #3618
TODO: support div intdiv mul minus module, remove the unused code

[2021-12-23 10:07] BohuTANG commented on #3618
Ok.
I add a sub task to track them.

[2021-12-23 10:07] BohuTANG opened #3620 "support div intdiv mul minus module, remove the unused code"

[2021-12-23 10:15] Xuanwo commented on #3618
Does this discussion https://github.com/datafuselabs/databend/discussions/3614 relate to this issue?

Add a link in the description will be nice!

[2021-12-23 10:17] BohuTANG opened #3621 "Change query_log event_time type from DateTime32 to Datetime64"
## Summary

After #3580 checked in, query_log `event_time` should be Datatime64.

[code]

[2021-12-23 10:34] BohuTANG commented on #2976
This need #3575 done, stage needs the DAL api when reading files from s3.

[2021-12-23 10:37] BohuTANG opened #3622 "Consider remove local CSV and Parquet engine"
## Summary

Currently these two engines are almost useless, but them hinder our architectural design.
Let's rewrite and redesign if needed someday.

@sundy-li what do you think?

[2021-12-23 10:39] zhyass commented on #3618
Yes, added.

[2021-12-23 10:46] BohuTANG commented on #1432
This issue ready to close? cc @sundy-li
Thank you @jorgecarleitao

[2021-12-23 11:17] BohuTANG commented on #3591
Please search `objcopy` in Makefile

[2021-12-23 12:30] Xuanwo commented on #3591
Hi, It's highly possible that your `objcopy` is too old that doesn't support `--compress-debug-sections=zlib-gnu`. Can you provide your Linux os-release version (run `lsb_release -a`)?

We will address this issue in the near future within https://github.com/datafuselabs/databend/discussions/3419.

To workaround this problem, you can use `cargo build --release` instead.

[2021-12-23 13:40] #1432 closed

[2021-12-23 13:46] BohuTANG opened #3624 "Consider remove local CSV and Parquet engine"
### Discussed in https://github.com/datafuselabs/databend/discussions/3623

<div type='discussions-op-text'>

<sup>Originally posted by **BohuTANG** December 23, 2021</sup>
## Summary

Currently these two engines are almost useless, but them hinder our architectural design.
Let's rewrite and redesign if needed someday.

@sundy-li what do you think?</div>

[2021-12-23 14:16] sundy-li commented on #3624
Should we migrate it into Cloud style like

[code]

Then db1.test1 is an external table.

OR just remove these two engines.

[2021-12-23 15:31] dantengsky opened #3627 "consider adding distributed tracing instrumentation to query"
like meta-service does, by using `opentelemetry_jaeger`. It should be helpful, at least for diagnostics

[2021-12-23 16:34] ives9638 opened #3629 "bug: `select a, b from (select cast(1 AS String) as a, cast(2 AS String) as b) group by a,b` broken"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

select a ,b ,count() from (select cast( (number%4) AS VARCHAR) as a,  cast( (number%20) AS VARCHAR) as b from numbers(100)) group by a ,b  limit 1 ;
+------+------+---------+
| a    | b    | count() |
+------+------+----

[2021-12-23 23:11] #3621 closed

[2021-12-24 00:02] #3624 closed

[2021-12-24 00:52] sundy-li commented on #3629
I believe it's related to `group by String`, cc @zhang2014 ?

[2021-12-24 08:34] dantengsky opened #3633 "feature-request: configure on jaeger tracing address similar to metrics api server"
sure!

_Originally posted by @dantengsky in https://github.com/datafuselabs/databend/issues/3628#issuecomment-1000604710_

[2021-12-24 08:56] dantengsky opened #3635 "Improvement: Reports `write_bytes` and `write_rows` of `insertion`"
After insertion

 - `interpreter_insert` should "report" the bytes and rows that have been inserted,
   - by increasing the corresponding fields of QuryContext or sub context of it
 - trait `Table` may need to provide a way of reporting the numbers to `interpreter_insert`
     e.g. returns metrics after committing the append operation

[2021-12-24 08:59] BohuTANG opened #3636 "bug: `insert into d1(b) select b from d1` no rows insert"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

create table d1(n String, a UInt8 not null, b Int16 default a + 3, c String default 'c');
insert into d1(a) values (1);
insert into d1(b) values (2);
insert into d1(b) select b from d1;
select * from d1 order by a;

[cod

[2021-12-24 09:14] ygf11 commented on #3629
I think the issue is in transform_group_by_final execute.
https://github.com/datafuselabs/databend/blob/1df029427b04006cf467e4f21f168a8fb13c9043/query/src/pipelines/transforms/transform_group_by_final.rs#L210-L213

I print before and after `de_group_columns`, find the before is correct, like:
[code]

For `[1, 51, 2, 49, 53]`, the meaning is:
[code]
so the result of serialize is correct, but the fi

[2021-12-24 09:53] Chasen-Zhang opened #3638 "Add Google analytics"
At present, our website has not introduced traffic analysis tools, so we do not know the website visit status. I want to introduce Google Analytics Tools to analyze our website visits.

- [x] add Google analytics #3640

[2021-12-24 10:02] #3627 closed

[2021-12-24 10:34] #3638 closed

[2021-12-24 11:58] BlackSmith96 opened #3641 "bug: `export_set()` function's first parameter only support constant type"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

export_set() function

[code]

select export_set(age,'Y','N',',',5) from Persons;

### What You Expected?

The Output should be `Y,N,Y,N,N`

### How to Reproduce?

As above.

### Anything Else?

_No response_

### Are yo

[2021-12-24 12:45] #3287 closed

[2021-12-24 13:36] sundy-li commented on #3629
My bad, not related to `bincode`.

[2021-12-24 14:42] BlackSmith96 commented on #3641
@BohuTANG If this is a bug, I can help.

[2021-12-24 14:49] BohuTANG commented on #3641
/help

[2021-12-24 14:54] BohuTANG opened #3645 "Add all types which can be group by to the stateless test"
Good.
It seems we should add all types which can be group by to the stateless test later.

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/3643#issuecomment-1000866069_

[2021-12-24 15:04] BlackSmith96 commented on #3641
/assignme

[2021-12-24 16:05] #3629 closed

[2021-12-25 01:46] sundy-li commented on #3641
I think it's ok to just use `Constant` value.

As the document said in  https://github.com/datafuselabs/databend/blob/62600b97e386dd039fbb6f61885269f189f4eebf/website/databend/docs/user/sql-statement/string-functions/export_set.md:

[code]

It suits most cases, since there are 5 arguments, it will get  2^5 = 32 combinations if you allow all arguments to be not constant or constant. This is hard fo

[2021-12-25 02:35] BohuTANG opened #3646 "bug: $ ./target/debug/databend-query can't print logs"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

$ ./target/debug/databend-query canot print logs

### What You Expected?

Print the INFO level logs

### How to Reproduce?

make build-debug
$ ./target/debug/databend-query

### Anything Else?

_No response_

### Are you

[2021-12-25 02:41] BohuTANG commented on #3646
It's caused by https://github.com/datafuselabs/databend/pull/3628/files#diff-70102cdaf35815e79ef98fdea67bb462ae8292abc9061268e683b2e178fccfbbR61

@dantengsky  Why we change it to init_global_tracing?

[2021-12-25 03:19] yuuch commented on #3616
/assignme

[2021-12-25 03:29] BohuTANG commented on #3646
It seems we can merge `init_global_tracing` and `init_tracing_with_file` to one.

[2021-12-25 05:18] #3641 closed

[2021-12-25 11:22] GrapeBaBa commented on #3328
@sundy-li After some investigation, I am not clear how to start this task.  Can you make some steps which include some description?

[2021-12-25 12:13] GrapeBaBa commented on #3598
/assignme

[2021-12-25 12:13] GrapeBaBa commented on #3598
/assignme

[2021-12-25 12:14] GrapeBaBa commented on #3571
Looked at some codes, but not understand why drop function triggered.

[2021-12-25 12:44] BohuTANG opened #3648 "Introduce `parallel_read_threads` to Settings"
## Summary

https://github.com/datafuselabs/databend/blob/5bffc73861444c4c9ffcfc058b376acc09d65c07/query/src/storages/fuse/operations/read.rs#L55-L64

Default is 1, it needs configured in the settings.

[2021-12-25 13:56] sundy-li commented on #3328
https://dev.mysql.com/doc/refman/8.0/en/enum.html

Enum is a datatype that works like a dictionary.

- Example definiation `ENUM('x-small', 'small', 'medium', 'large', 'x-large')`, in this case it's physical datatype is `DataType::UInt8`,  So we can have `ENUM16(map<String, UInt8>)` to represent it.

- Deserialization:  Values are written into this enum column(DFUInt8Column), we should always tran

[2021-12-25 15:36] dantengsky commented on #3646
oops

https://github.com/datafuselabs/databend/blob/bbbb0d53e59111ced2e45b1aebb65d87ed95a144/query/src/bin/databend-query.rs#L60-L61

I should have uncomment line 60, an comment(remove) line 61 instead.

My Fault!

[2021-12-25 15:43] dantengsky commented on #3648
shall we introduce another "setting" as well, like `max_block_size`, such that, we can tweak(and check) the parameter at runtime by using the `set [session] key = val` and `show settings` statements. (for standalone mode), we can also adjust the parallelism of reading blocks on the fly (without restarting)

[2021-12-26 02:27] BohuTANG commented on #3648
Settings looks better.

[2021-12-26 02:27] BohuTANG commented on #3648
Settings looks better, thank for the suggestions.

[2021-12-26 03:17] BohuTANG commented on #3648
I have update the title(parallel_read_threads is better to understand) and change it as a setting config.
cc @dantengsky

[2021-12-26 05:23] zhyass opened #3651 "Use codegen script to generate the arithmetic result type"

[2021-12-26 08:13] yuuch commented on #3616
I found that databend had wrote the values.  But the client do not receive the response.
[code]
**client get no response, retry to connect to the server**
[code]

I found  there are 2 rows,  databend has executed the query.

here is a part of  log I get from the databend server,  it seems the server work well.

[code]

[2021-12-26 08:20] GrapeBaBa commented on #3598
@BohuTANG add two columns？

[2021-12-26 08:44] GrapeBaBa commented on #3328
ok，#3580 is a good example

[2021-12-26 09:46] #3651 closed

[2021-12-26 10:32] sundy-li commented on #3616
In query `insert into t1 select * from t1`, we should not use stream coming from clickhouse-client.

So we must judge the plan and pass None into `interpreter.execute()`， and we should not consume data from clickhouse-client.

[2021-12-26 13:27] #3646 closed

[2021-12-27 01:26] BohuTANG commented on #3648
I am working on it :)

[2021-12-27 02:55] QuintinTao commented on #3591
Thanks

[2021-12-27 02:59] QuintinTao commented on #3591
thanks

LSB Version:	:core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:desktop-4.1-amd64:desktop-4.1-noarch:languages-4.1-amd64:languages-4.1-noarch:printing-4.1-amd64:printing-4.1-noarch
Distributor ID:	CentOS
Description:	CentOS Linux release 7.3.1611 (Core)
Release:	7.3.1611
Codename:	Core

[2021-12-27 03:36] Xuanwo opened #3657 "docs: Get Started Guide for developers"
Part of https://github.com/datafuselabs/databend/discussions/3419

---

The new guide will cover the following topics:

- How to set up the environment?
  - direct way
  - docker
  - use the `dev_setup.sh`
- How to build/check/test?
- How to send issues?
- How to submit PRs?

[2021-12-27 03:41] flaneur2020 commented on #3657
i think docker is a good build tool to make an immutable deployment, but it's a little hard to use as the daily development environment. also, developing rust is CPU consuming, i guess most people are developing rust in a bare-mental physical machine instead of a vm or container 🤔

[2021-12-27 03:46] Xuanwo commented on #3657
Docker has no CPU overhead (I/O, network does), I think it's OK to use docker as a build tool. Maybe we can put the docker option to the last one :laughing:

[2021-12-27 03:52] flaneur2020 commented on #3657
yep, docker is no cost in the building environment. i remember in a macbook the docker has to start up a linux virtual machine then start linux containers inside the vm, i guess it might slower the rust compilation during the daily development.

[2021-12-27 03:57] Xuanwo commented on #3657
I got what you concerning. How about adding a NOTE for MacOS users on the docker option so that we can please both Linux and MacOS users?

[2021-12-27 07:52] BohuTANG opened #3660 "It seems this crate only involves `expr_visitor`, what about rename it to `common-ast`? Since the name `common-sql` looks too common."
It seems this crate only involves `expr_visitor`, what about rename it to `common-ast`? Since the name `common-sql` looks too common.

_Originally posted by @leiysky in https://github.com/datafuselabs/databend/pull/3655#discussion_r775347415_

[2021-12-27 09:02] BohuTANG commented on #3657
I guess no mac guys use docker as development, this maybe a bad idea :D

[2021-12-27 09:10] Xuanwo commented on #3436
@dantengsky @sundy-li I created a proposal about my vision of Databend DAL, please take a look: https://github.com/datafuselabs/databend/discussions/3662

[2021-12-27 09:12] BohuTANG commented on #3657
Suggest we should give the most for user's development environment but not the final(this is very hard) is ok, if the user environment is special they will solve it by themself with our new guide.
Save the time let them codes on databend as soon as possbile is the final.

[2021-12-27 09:13] BohuTANG commented on #3657
Suggest we should give the most for user's development environment but not the final(this is very hard) is ok, if the user environment is special they will solve it by themself with our new guide.
Save the time let them codes on databend as soon as possbile is the final.

[2021-12-27 09:30] #3440 closed

[2021-12-27 10:13] BohuTANG opened #3663 "Consider making UDF global between cluster and as a object of query"
## Summary
After #3655 checked in, we have the framework of user defined functions, thanks @lianghanzhen :tada:

There are some works to improve it:
1. UDF should be object not a normal function(scalar function and aggregation function), user may grants UDF privileges
2. UDFFactory is a local cache not cluster,  we should think of it as an object(Like user/share/cluster) in metasrv and used in que

[2021-12-27 10:25] sundy-li opened #3664 "Move Nullable to be a DataType"
### Discussed in https://github.com/datafuselabs/databend/discussions/3460

Let's introduce `DataType::Nullable(DataType)` support.

1. Add DataType `DataType::Nullable(DataType)`
2. Add `DataType::Nothing`
3. Migrate `DataType::Null` into `DataType::Nullable(Nothing)`

For table column query:

1.  `column UInt32 not null` will create column with datatype `DataType::UInt32` .
2.  `column UInt32` w

[2021-12-27 11:10] lianghanzhen commented on #3660
/assignme

[2021-12-27 11:29] lianghanzhen commented on #3663
Hi @BohuTANG,

1. UDF is already an object I think, it's stored in Meta KV as user stages, correct me if I'm wrong?
2. Since the #1, it should be available in cluster right? We transform the UDFs in `analyze_expr` phase recursively, since rust async doesn't support recursion, we need `UDFFactory` as a local cache to avoid getting UDF from Meta KV.

[2021-12-27 12:42] BohuTANG commented on #3663
Yes.
UDF as object, it should be binding with query, and the user can grant UDF privileges, so I think it's better to move udf from `common/functions/src/udfs` to `query/src/functions/udf`, we can do them easy with the QueryContext.

The problem is that we load all udfs when the sessions creating, if someone create one udf in another node, we can not get that.

I will push an example PR, welcome t

[2021-12-27 12:58] lianghanzhen commented on #3663
UDFs are also registered/unregistered when users create/drop functions.

Sure.

[2021-12-27 13:32] BohuTANG commented on #3663
To get the udf globally, the useful part is the udf_manager.rs :
https://github.com/datafuselabs/databend/pull/3667/files#diff-6a57baa4c540a5ae254d5b37822f3cd0b474f484b695dbb0dadb5c30f003b754

Another benefit may be that we don't need `common/sql` crate if we move udf to the query crate.

[2021-12-27 22:31] junli1026 commented on #3664
/assignme

[2021-12-27 23:10] #3648 closed

[2021-12-28 01:50] BohuTANG commented on #3598
Right.

[2021-12-28 02:35] Xuanwo commented on #3454
Already fixed in #3585

[2021-12-28 02:35] #3454 closed

[2021-12-28 05:37] Xuanwo commented on #2730
Any updates on this?

[2021-12-28 05:42] Xuanwo opened #3677 "Tracking issue for Vision of Databend DAL"
- https://github.com/datafuselabs/databend/discussions/3662
- Related Issues
  - https://github.com/datafuselabs/databend/issues/3586
  - https://github.com/datafuselabs/databend/issues/2976
  - https://github.com/datafuselabs/databend/issues/3225

## Roadmap

- [x] https://github.com/datafuselabs/databend/issues/3436
  - https://github.com/datafuselabs/databend/pull/3575
- [x] Implement services

[2021-12-28 05:46] BohuTANG commented on #2730
We don't have plan for it in the future time, I think we should close it first.

[2021-12-28 05:46] #2730 closed

[2021-12-28 07:22] #3539 closed

[2021-12-28 09:18] #3439 closed

[2021-12-28 09:23] BohuTANG commented on #3636
Fixed in #3668 , thanks @Junnplus

[2021-12-28 09:23] #3636 closed

[2021-12-28 09:23] Xuanwo commented on #3225
@jorgecarleitao Implementing `AsyncRead + AsyncSeek` seems not suitable for storage services like s3 and azblob. I'm wondering if it is possible to remove the dependences on `seek`?

For example:

- We can use `stat` (HeadObject on s3) to get the object size.
- We can use `pread` (GetObject with Range on s3) to get the object content.

In this way, we can have more control over the behavior of und

[2021-12-28 09:41] jorgecarleitao commented on #3225
Sorry, I missed the previous comment :/

afaik those two necessary and sufficient to implement `AsyncRead + AsyncSeek`:

* `stat` yields the total file size, which allows `SeekFrom::End` (to reach the file's metadata)
* `pread` is basically `AsyncRead`.

In the example I linked, you have:

* `stat` to get the files' size: https://github.com/jorgecarleitao/arrow2/blob/main/examples/s3/src/main.rs#L

[2021-12-28 10:01] Xuanwo commented on #3225
I don't quite understand why we still need `AsyncSeek`, can you explain it in more detail? Thanks in advance.

[2021-12-28 10:17] jorgecarleitao commented on #3225
Ahh, sure: a simplified view of a parquet file is as follows: `[column 1][column 2]...[column N][footer][footer_size as 4 bytes]`

You can think of "column X" as bytes for a given type (e.g. a `Vec<u8>` that can be transmuted to `Vec<i64>`, for a INT64 column).

The physical type of every column is stored in the footer. The position of each column chunk is also stored in the footer.

Supposed that

[2021-12-28 12:31] kevinw66 opened #3681 "bug: cannot show tables after exec `use system` via http server"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main branch

### What's Wrong?

When I run `use system` and then `show tables`, no tables were shown in response body

### What You Expected?

get tables

### How to Reproduce?

_No response_

### Anything Else?

![image](https://user-images.git

[2021-12-28 13:02] sundy-li commented on #3681
Cookies are stored inside the Browser. On Databend's server-side, it can't control this.

[2021-12-28 14:12] kevinw66 commented on #3681
Can we extract session from cookie like normal web application?

[2021-12-28 14:13] Junnplus commented on #3681
Maybe you need https://github.com/datafuselabs/databend/pull/2580

[2021-12-28 14:19] kevinw66 commented on #3681
I noticed that, But I first found this problem is when I'm using `bendctl` and it cannot work correctly(just like I described in this issue), So I tracked into the `query` module and found the session problem

[2021-12-28 14:30] zhang2014 commented on #3664
We also should consider merging `function::nullable` and `function::return_ type`

[2021-12-28 14:50] kevinw66 commented on #3681
@sundy-li @Junnplus
![image](https://user-images.githubusercontent.com/31196226/147578133-65d1e8d1-cdf4-444f-bb71-4f3cb6d9a1c5.png)
![image](https://user-images.githubusercontent.com/31196226/147578180-e3dd1b65-53ee-4398-9c81-61b07e7c3aee.png)

[2021-12-28 15:21] BohuTANG commented on #3681
@kevinw66
Hi, http handler mainly for non interaction, and(including bendctl) still some improvement, thank you for the information.
I suggest you connect with MySQL/ClickHouse client to experiment after the databend-query started by bendctl.

[2021-12-28 15:27] Junnplus commented on #3681
I thank we can temporarily save the specified db in the bendctl, and bring it on next request.

[2021-12-28 16:01] kevinw66 commented on #3681
I'd like to study the framework by improve the feature. Is there anything I can help with ?

[2021-12-29 01:14] #3616 closed

[2021-12-29 03:33] yihong0618 opened #3689 "Conflict between python2 and python3 when running locally"
As pic shows.

When run locally it may `pip as python3` and run as python2 and raise the import error

![image](https://user-images.githubusercontent.com/15976103/147624460-b0f83873-0a15-4b3a-b2a5-4222421ac47f.png)

something like.
![image](https://user-images.githubusercontent.com/15976103/147624591-43447a07-2bb5-43ab-bca4-df28787056a2.png)

[2021-12-29 03:48] kevinw66 commented on #3681
@BohuTANG

[2021-12-29 06:15] Veeupup opened #3692 "Making `ArrayBuilder` write value to inner value directly, rather than call `arrow2`'s `try_push`"
Now `ArrayBuilder` will call have `MutableArray` as the inner data structure. and then the inner `push` will add val with option, just like below:

https://github.com/datafuselabs/databend/blob/1b6bf394d7/common/datavalues/src/arrays/primitive/builder.rs#L37-L44

then the `push` will call arrow2's `try_push` to do real push

https://github.com/datafuse-extras/arrow2/blob/565cfaeb02/src/array/binar

[2021-12-29 07:43] PsiACE commented on #3689
closed by #3690

also, I don't think we would consider supporting Python2.

[2021-12-29 07:43] #3689 closed

[2021-12-29 07:45] yihong0618 commented on #3689
@PsiACE I think the code [wait_tcp](https://github.com/datafuselabs/databend/blob/main/scripts/ci/wait_tcp.py) is running in Python2 do you want to make it to Python3?

[2021-12-29 07:47] PsiACE commented on #3438
Since we currently rely on clickhouse_driver instead of clickhouse-rs, I will close it for now.

[2021-12-29 07:47] #3438 closed

[2021-12-29 07:51] PsiACE commented on #3689
Certainly. It is well known that python2 is at the end of its life cycle.

[2021-12-29 07:52] yihong0618 commented on #3689
Cool, can I take a try?

[2021-12-29 07:55] PsiACE commented on #3689
Thank you for your willingness to help, please feel free to submit a PR

[2021-12-29 08:50] #3496 closed

[2021-12-29 11:48] zhang2014 opened #3696 "sqlparser recursion: stack overflow"
[code]

<details>
  <summary>Click to expand lldb call stack!</summary>

[code]
</details>

[2021-12-29 11:51] zhang2014 commented on #3572
After #3603, we fixed most stack overflow bug. only sqlparser will still overflow. let's create new trace issue #3696 and closed this.

[2021-12-29 11:51] #3572 closed

[2021-12-29 11:53] zhang2014 commented on #3696
As low priority task and good first issue.

[2021-12-30 02:30] BohuTANG opened #3698 "UDF: CREATE FUNCTION mean2number as (x,y)-> (x+y) / 2; ERROR 1105 (HY000): Code: 5, displayText = sql parser error: Expected AS, found: as."
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main

### What's Wrong?

mysql> CREATE FUNCTION mean2number as (x,y)-> (x+y) / 2;
ERROR 1105 (HY000): Code: 5, displayText = sql parser error: Expected AS, found: as.

### What You Expected?

Supports AS  or as

### How to Reproduce?

mysql> CRE

[2021-12-30 03:24] Tangruilin commented on #3696
/assignme

[2021-12-30 03:25] Tangruilin commented on #3696
/assignme

[2021-12-30 03:25] Tangruilin commented on #3696
/assign

[2021-12-30 06:59] kevinw66 commented on #3698
Let me try this

[2021-12-30 06:59] kevinw66 commented on #3698
/assign

[2021-12-30 08:14] BohuTANG commented on #765
Done!

[2021-12-30 08:14] #765 closed

[2021-12-30 08:22] Veeupup opened #3704 "stateless-test `06_0002_show_create_database.sql` sometimes run slow"
In stateless-test, when running `06_0002_show_create_database.sql`, sometimes stuck.
cc @drmingdrmer

[2021-12-30 08:26] drmingdrmer commented on #3704
It may be caused by a unexpected delay in metasrv when replicating raft logs:
Sometimes a metasrv only forwards logs when `heartbeat` is triggered, i.e., every second.

If it's the same issue I'm gonna get it fixed next time upgrade our openraft engine.

[2021-12-30 08:31] cadl opened #3705 "bug: cargo build raise "datafuse-extras/clickhouse_driver/ Repository not found.""
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

commit bf989b9bae6234518937814e57692ae5a9313205

### What's Wrong?

`cargo metadata` and `cargo build` don't work.

[code]

### What You Expected?

build success

### How to Reproduce?

- cleanup cargo `datafuse-extras/clickhouse_driver` cache
[

[2021-12-30 08:39] #2779 closed

[2021-12-30 08:41] BohuTANG commented on #2306
I think this issue ready to close :thinking:

[2021-12-30 08:44] BohuTANG opened #3706 "Roadmap 2022"
Roadmap 2021: https://github.com/datafuselabs/databend/issues/746

# Main tasks

### 1. Query

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [Query Cluster Track #747](https://github.com/datafuselabs/databend/issues/747) | DONE  |   |  |
| [RBAC Pri

[2021-12-30 08:49] BohuTANG commented on #746
Roadmap 2022 is out, please see: [Roadmap 2022](https://github.com/datafuselabs/databend/issues/3706)

[2021-12-30 08:49] #746 closed

[2021-12-30 08:52] #3017 closed

[2021-12-30 08:54] #3045 closed

[2021-12-30 08:58] GrapeBaBa commented on #3598
@BohuTANG I found there are both two properties for dal_metrics and scan_progress_value. I wonder we prefer add four columns for just concat two properties and only add two columns

[2021-12-30 09:06] BohuTANG commented on #3598
4 columns?

[2021-12-30 09:08] liukun4515 commented on #747
shuffle design doc
 join design doc
These two docs are invalid.
@BohuTANG

[2021-12-30 09:10] BohuTANG commented on #747
Updated, thank you @liukun4515

[2021-12-30 09:19] BohuTANG commented on #3705
I can't reproduce this issue on my local ubuntu OS(Our CI also works).

[2021-12-30 09:48] #3698 closed

[2021-12-30 09:55] cadl commented on #3705
@BohuTANG
Sorry, there is something wrong with the reproduction step. I have fixed it.

`git config url."https://github.com".insteadOf https://github.com`(origin) -> `git config --global url."git@github.com:".insteadOf https://github.com/`

Now I can reproduce on my MacOS(git version 2.32.0) and ubuntu OS.

[2021-12-30 10:05] drmingdrmer commented on #2306
You are right, as always 🤔

[2021-12-30 10:05] #2306 closed

[2021-12-30 11:04] #3605 closed

[2021-12-30 11:18] junli1026 commented on #3664
Some tasks I can think of:
- [ ] Remove function's method ```nullable```. The method ```return_type``` should return ```DataTypeAndNullable```, which carries both ```data_type``` and ```nullable``` -- thus we know the nullable information of the return value.
- [ ] Arithmetic and comparison functions should support ```DataTypeAndNullable```
- [ ] Add new data_type ```Nullable(Box<DataType>)``` or

[2021-12-30 13:49] #3681 closed

[2021-12-30 14:22] sundy-li commented on #3705
Did you check it works by removing the  trailing slash?

[2021-12-31 01:48] BohuTANG commented on #3681
Sorry for later.
Feel free to improve bendctl or others in databend, just file an issue and let's do it.

[2021-12-31 03:00] cadl commented on #3705
yes, it works by removing the trailing slash.

[2021-12-31 03:06] sundy-li commented on #3705
Ok, @cadl Feel free to send a pr to improve this.

[2021-12-31 03:08] #3692 closed

[2021-12-31 03:38] kevinw66 commented on #3560
Is the parameter `dataset` only accept `ontime` as argument and download sql from https://repo.databend.rs/dataset/stateful/ontime.csv specifically or should it be dynamic?

[2021-12-31 04:06] dantengsky opened #3709 "fuse table read performance tweaking"
- use BufferReader instead of raw Read/InputStream
  and add a setting for buffer size
- Pass block length from `read_plan` to `read`
  S3InputStream could use this hint to avoid HTTP requests during seeking

[2021-12-31 05:14] #3169 closed

[2021-12-31 05:22] BohuTANG opened #3711 "Aggregate index"
## Summary

Table schema:
[code]

## Aggregate Indexes

[code]

[2021-12-31 06:00] #3607 closed

[2021-12-31 06:00] #3608 closed

[2021-12-31 06:05] BohuTANG commented on #3560
`ontime` is one of the test datasets.
There are many other datasets, for reference:
https://clickhouse.com/docs/en/getting-started/example-datasets/

[2021-12-31 06:10] kevinw66 commented on #3560
What's the rule for the download url, just concat with argument like `"https://repo.databend.rs/dataset/stateful/" + ${arg} + ".csv` ?

[2021-12-31 06:12] yihong0618 opened #3714 "bug: bendctl can not run on ubuntu 18.04"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

latest

### What's Wrong?

![image](https://user-images.githubusercontent.com/15976103/147806628-6b380f0d-c702-4a1e-8a35-3681103cc603.png)

### What You Expected?

run success

### How to Reproduce?

wsl
![image](https://user-images.githubuserco

[2021-12-31 06:15] #3620 closed

[2021-12-31 06:32] #3705 closed

[2021-12-31 06:50] BohuTANG opened #3715 "bug: `select * from system.query_log` not work in clickhouse client"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

[code]

### What's Wrong?

Only `system.query_log` is not work, other tables is ok(MySQL client works fine):
[code]

### What You Expected?

`select * from system.query_log` works in clickhouse client.

### How to Reproduce?

clickhouse client:

[2021-12-31 07:50] ariesdevil opened #3716 "[ci] support `cargo-udeps` in ci checks to reduce deps"
ref: https://crates.io/crates/cargo-udeps/

[2021-12-31 08:13] #3618 closed

[2021-12-31 08:22] #3598 closed

[2021-12-31 08:23] PsiACE commented on #3716
/assignme

[2021-12-31 09:18] kevinw66 commented on #3560
How to locate the database and table schema file base on `arg` like `./tests/suites/0_stateful/ontime/create_table.sql` ?

[2021-12-31 10:26] BohuTANG commented on #3560
We can create a new ontime SQL file(or emabed the schema to rust code) in bendctl.

[2021-12-31 10:56] #3716 closed

[2021-12-31 12:00] #3709 closed

[2021-12-31 12:03] kevinw66 commented on #3560
@BohuTANG Is the dataset file already uploaded to `https://repo.databend.rs/dataset/stateful/` or should I use the url from clickhouse document directly ?

[2021-12-31 12:19] BohuTANG commented on #3560
Yes,
https://repo.databend.rs/dataset/stateful/ontime.csv

[2021-12-31 12:27] kevinw66 commented on #3560
Where can I found other datasets ?

[2021-12-31 12:27] kevinw66 commented on #3560
/assign

[2022-01-01 14:43] PsiACE opened #3723 "bug: databend-benchmark can't work"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

- Databend Git Version - 11fa94b
- Fedora 35 (5.15.11-200 x86_64 GNU/Linux)

### What's Wrong?

Executing any query with a proper connection to databend's clickhouse server will cause databend-benchmark to hang.

### What You Expected?

Execute

[2022-01-01 17:37] kevinw66 commented on #3560
@BohuTANG What should we do about the `up` command? should `generate` keep the same behavior like `up`? bootstrap the cluster first?

[2022-01-02 00:53] BohuTANG commented on #3560
Right.

[2022-01-02 00:56] BohuTANG commented on #3723
I got:
[code]

[2022-01-02 02:55] PsiACE opened #3724 "flaky test: servers::clickhouse::test_clickhouse_insert_to_fuse_table"
https://github.com/datafuselabs/databend/runs/4682172612?check_suite_focus=true#step:3:2996

[code]

[2022-01-02 07:11] BohuTANG commented on #3724
Same issue here:
https://github.com/datafuselabs/databend/runs/4682534757?check_suite_focus=true

[code]

Looks like it's a upsert error in the common_meta_raft_store::state_machine, cc @drmingdrmer

[2022-01-02 07:13] #3444 closed

[2022-01-02 07:20] drmingdrmer commented on #3724
It seems to be the same cause as it is in
- #2589  ?

The `DatabendQueryContext` will not be dropped if the next sql comes too quickly.

[2022-01-02 07:23] drmingdrmer commented on #3724
@zhang2014

[2022-01-02 08:52] zhang2014 commented on #3724
duplicated. #2589

[2022-01-02 08:52] #3724 closed

[2022-01-02 10:38] BohuTANG opened #3729 "Only run ubuntu CI for each PR"
## Summary

1. Only run ubuntu CI for each PR
2. Run ubuntu and MacOS CI when the PR merged into master

[2022-01-02 10:44] BohuTANG opened #3730 "Move `scripts/deploy` to `scripts/ci/deploy`"
## Summary

Now, `scripts/deploy/` only for the CI deploy, consider move it to `scripts/ci/deploy`

[2022-01-03 06:48] #3560 closed

[2022-01-03 06:49] #3723 closed

[2022-01-03 06:50] #3660 closed

[2022-01-03 09:17] BohuTANG commented on #3714
`ldd --version` will get the GLIBC version.
bendctl requires GLIBC >= 2.28

[2022-01-03 10:42] BohuTANG opened #3737 "Add cargo miri test"
## Summary

https://github.com/rust-lang/miri

[2022-01-03 10:42] BohuTANG commented on #3737
[code]

[2022-01-03 11:15] BohuTANG opened #3738 "Consider move `common/functions/src/udfs` to `common/ast`"
## Summary

`common/functions/src/udfs` mainly for the expr parser not related to function actually, so it's better to move it to the `query/src/sql/udfs`.

Some init idea:
1. get udf from metasrv every time via `query/src/users/user_udf.rs` get_udf, don't cache them in local node, make data consistency between cluster nodes.

Tasks:
1. check a expr is udf or built-in
2. if it's udf, get_udf and p

[2022-01-03 11:16] BohuTANG commented on #3738
cc @lianghanzhen welcome to comments :)

[2022-01-03 11:16] BohuTANG commented on #3663
Move to https://github.com/datafuselabs/databend/issues/3738

[2022-01-03 11:16] #3663 closed

[2022-01-03 12:20] yihong0618 commented on #3714
cool got it.

[2022-01-03 12:20] yihong0618 commented on #3714
1.

[2022-01-03 12:20] #3714 closed

[2022-01-03 13:00] lianghanzhen commented on #3738
Make sense to me. I can help.

Do you think it's possible at this moment?

[2022-01-03 13:05] BohuTANG commented on #3738
Yes, this is on how we check and get udf.
1. If a expression name is not built-in, we can treat it as udf?
2. Get the udf string from metasrv by user_udf and parse it to expression

[2022-01-03 13:11] lianghanzhen commented on #3738
The second step would be an `async` call which is called in a recursive function, unfortunately Rust can not support recursive async call out of box.

[2022-01-03 13:59] BohuTANG commented on #3738
databend used [async recursion](https://docs.rs/async-recursion/latest/async_recursion/):
https://github.com/datafuselabs/databend/blob/bb026a03243f1e7c9c982456ede0b7f4a8bec1a0/query/src/sql/planner/binder.rs#L82-L89

[2022-01-03 14:26] BohuTANG opened #3740 "Add `management-mode` for databend"
## Summary

For some cases, user uses a databend-query server as a proxy and do multi-tenant operations in a same session, for example:
[code]
Goals:
Make databend-query as a proxy, users can do some meta operations(database/table/users/stage creating) from the databend-query for different tenants.

Tasks:
- [x] Change all places where get config.query.tenant_id directly to ctx.get_tenant_id() #37

[2022-01-03 15:17] drmingdrmer opened #3741 "[metasrv] upgrade async-raft to openraft the latest version"

[2022-01-03 20:07] lianghanzhen commented on #3738
/assignme

[2022-01-03 23:18] lianghanzhen opened #3744 "Support UUID data type"

[2022-01-04 00:59] zhang2014 opened #3745 "bug: macos stack overflow"
original posted:
https://github.com/datafuselabs/databend/pull/3743#issuecomment-1004451908

[2022-01-04 02:05] kevinw66 commented on #3557
Is `alter_table` function needed in MetaApi ?

[2022-01-04 02:12] BohuTANG commented on #3557
Yes, looks like we need.
But it seems we only update the database/table name with the db_id/table_id,  @drmingdrmer and @dantengsky may help here

[2022-01-04 02:15] BohuTANG opened #3746 "Bump datafuse-extras/arrow2"

[2022-01-04 02:47] PsiACE commented on #3746
/assignme

[2022-01-04 03:09] leiysky opened #3747 "Migrate to new planner framework"
The new planner framework was introduced in #2983 .

Here's the tracking list of migration tasks from original planner to new planner:
- #3748
- #3749
- Scalar expression binding: #1537 #1538
- #5134
- Add a setting item to switch between planners #4989
- #5163
- #5210
- #5203
- #5202
- #5235
- https://github.com/datafuselabs/databend/issues/5240
- #5259
- #5343
- #5350
- #5353
- #5360
- #5367
- #

[2022-01-04 03:13] leiysky opened #3748 "Implement select operator in new planner framework"
Implement select operator(e.g. `WHERE` clause and `HAVING` clause) in new planner framework.

Tasks:
- Introduce `SelectPlan`. Resolved in #4895
- Implement executor for `SelectPlan` to transform it into `TransformFilter`

[2022-01-04 03:14] #742 closed

[2022-01-04 03:15] leiysky commented on #1219
closed by #2983

[2022-01-04 03:15] #1219 closed

[2022-01-04 03:16] leiysky commented on #1539
duplicate with #1537

[2022-01-04 03:16] #1539 closed

[2022-01-04 03:18] leiysky commented on #1853
updated in #3702

[2022-01-04 03:18] #1853 closed

[2022-01-04 03:22] leiysky opened #3749 "Implement aggregate operator in new planner framework"
Implement aggregate operator in new planner.

The `GROUP BY` clause is used to group rows together with specified group key. In standard SQL, the group key can only be column, but in databend we allow the group key to be scalar expression, e.g. `a + 1`, `a + b`.

With `GROUP BY`, we cannot reference any non-grouped columns in `SELECT` clause directly(`select b from t group by a` is not allowed), s

[2022-01-04 03:25] dantengsky opened #3750 "Consider caching parquet metadata"
To improve the performance of reading data blocks, we should consider caching the parquet metadata section, which currently is extracted from the parquet file,  each time the file is being processed

https://github.com/datafuselabs/databend/blob/a0190843ccfd1190b6e11b22e7ea08a32944d2ae/common/streams/src/sources/source_parquet.rs#L105-L115

since the underlying parquet file is immutable, ideally,

[2022-01-04 03:31] dantengsky opened #3751 "Improvement: Consider caching object(instead of bytes) in in-memory cache"
For the cache in storage, it would be better if we could eliminate the de-serialization operation while reading cached item from cache

https://github.com/datafuselabs/databend/blob/a0190843ccfd1190b6e11b22e7ea08a32944d2ae/query/src/storages/fuse/io/meta_reader.rs#L27-L40

[2022-01-04 03:35] leiysky opened #3752 "Test framework for new planner"
We need a test framework to help testing the correctness of new planner.

The function of the framework may include but not limited to:
- Customize input relational expression in a convenient and clear way
- Specify the rule set to be applied and record the change of memo for each transformation to help debug
- Human friendly visualization

[2022-01-04 04:02] dantengsky opened #3754 "Lower the memory usage of `BlockStreamWriter`"
The memory usage is unnecessary high in `BlockStreamWriter::wirte_block_stream`

[2022-01-04 04:12] BohuTANG opened #3755 "test: metasrv too many spans logs"
## Summary

Run the commands in local:
[code]

There are so many span logs from metasrv(LOG_LEVEL=DEBUG), databend-query LOG_LEVEL is INFO, so that no useful information can be scrolled in the screen if a test case failed.
There are some options for metasrv:
1. `make unit-test` runs in ERROR log level
2. github CI run in DEBUG log level

@drmingdrmer what do you think?

[2022-01-04 04:25] Veeupup opened #3756 "bug: `databend-query` can not start with config toml file"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

main branch, commit a0190843ccfd1190b6e11b22e7ea08a32944d2ae

### What's Wrong?

When starting `databend-query` with config toml file, udf parser will produce syatax error as below
[code]

### What You Expected?

work just as normal

### How to

[2022-01-04 04:26] BohuTANG commented on #3751
Good.

Found some places prefered use funtion instead of object in storage, likes:
1.  `read_obj` we use `cache` as a para.

2. Another place is:
[code]

`cache` and `ctx(QueryContext)` is global, is it possbile to embed them when the storage created?
```create(ctx, cache ....)```

And we won't give them as a parameter to the function when calling, this looks more objective :)

[2022-01-04 04:56] ZhiHanZ commented on #3752
Can I take the issue?

[2022-01-04 05:18] #3756 closed

[2022-01-04 06:20] #3540 closed

[2022-01-04 06:44] leiysky commented on #3752
Of course.

The tester of CockroachDB optimizer is a good example. They designed a DSL to explain input and expected output of test cases.

Here's their test data of rules related to scan operator: https://github.com/cockroachdb/cockroach/blob/master/pkg/sql/opt/xform/testdata/rules/scan

The tester can take `EXPLAIN` result or memo structure as its output, and it can also specify the rules to app

[2022-01-04 07:15] drmingdrmer commented on #3755
Quite nice to me.

🤔

[2022-01-04 07:46] PsiACE opened #3758 "configure different console ports for query and meta"
**update 2021-01-07**

I think just modifying the documentation will be enough. There is no need to add more complexity to the configuration for now.

---

After #3739 , we can explore and diagnose with tokio-console.

Consider configuring different ports for console-subscriber. Maybe it looks like this?

[code]

Of course, new fields will also need to be added to the config.

[2022-01-04 07:50] BohuTANG opened #3759 "MetaApi supports multi tenant"
## Summary

It seems MetaApi is a global view, can not get a tenant database/table:

https://github.com/datafuselabs/databend/blob/dd7a004b6b9158769d79bd0502e4802bb53490a7/query/src/catalogs/backends/impls/meta_remote.rs#L79-L137

The KVApi works well with a prefix.

[2022-01-04 08:16] ZhiHanZ commented on #3752
/assignme

[2022-01-04 08:33] leiysky commented on #3752
@ZhiHanZ Would you like to write a brief RFC so we can discuss about the detail then?

[2022-01-04 10:32] zhyass commented on #3711
/assignme

[2022-01-04 10:52] drmingdrmer commented on #3759
With tenant id, the namespace for a table would be `tenant_id/user_id/database/table` or `tenant_id/database/table`?
I.e., is it legal that two `user` have database with the same database name?

[2022-01-04 10:56] ariesdevil commented on #3759
IMO yes, two tenants can have the same database name and a tenant can have multiple users.
Correct me if I was wrong.

[2022-01-04 11:01] BohuTANG commented on #3759
For databend use case, `tenant_id/database/table` is ok, there is no user_id from catelog.

[2022-01-04 11:52] drmingdrmer opened #3765 "add method `MetaAPI::rename_table()`"
Yes, looks like we need.
But it seems we only update the database/table name with the db_id/table_id,  @drmingdrmer and @dantengsky may help here

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/3557#issuecomment-1004477955_

[2022-01-04 12:57] kevinw66 commented on #3765
Why not use `alter_table` for more common usage ?
According to the document https://dev.mysql.com/doc/refman/8.0/en/rename-table.html
We can use both `rename table_1 to table_2` and `alter table_1 rename table_2` has the same behavior.

[2022-01-04 13:17] drmingdrmer commented on #3765
This is an API to operate the underlying kv store(the meta data store).
It's hard to capsulate many variants into one single method(as sql does).

Here this method just **rename** a table, and does nothing more else.
Intuitively ,`alter_table` should include changing table schema etc.

[2022-01-04 14:36] #3738 closed

[2022-01-05 02:24] dantengsky commented on #3750
fixed by PR #3761

[2022-01-05 02:24] #3750 closed

[2022-01-05 02:42] dantengsky commented on #2946
addressed by PR #3301

[2022-01-05 02:42] #2946 closed

[2022-01-05 02:50] BohuTANG opened #3771 "Add `Partitions scanned` to system.query_log"
## Summary

Partitions scanned --  all partitions were scanned

[2022-01-05 02:57] #3225 closed

[2022-01-05 03:11] dantengsky commented on #3771
hi, shall we log the number of the partitions that were scanned or their names?

[2022-01-05 03:35] BohuTANG commented on #3771
I think we should not do that, because there are so many partitions and not useful for us.
BTW, where is the best place to get partitions numbers in DAL(or others)?

[2022-01-05 03:46] dantengsky commented on #3771
got it

to get the number of partitions/blocks after pruning :

https://github.com/datafuselabs/databend/blob/b4c0215a625f1f7415079822a64f4cc7ddba3901/query/src/storages/fuse/operations/read_plan.rs#L43-L45

`block_metas.len()` is the number of blocks being scanned.

[2022-01-05 03:55] dantengsky commented on #1590
As suggested by @ZhiHanZ, minio is being used in stateful tests. issue being closed

[2022-01-05 03:55] #1590 closed

[2022-01-05 05:10] dantengsky commented on #3771
@BohuTANG need you help:

currently , the type of `QueryContextShared::scan_progress` is `Arc<Progress>`,  the same as `QueryContextShared::result_progress`.

as we are going to add more metrics of scanning  (and insertion see issue #3635), shall we
 - add new fields to  `Progress` to hold the extra information
 - or use a new Data Structure to hold them

feels the latter might be better,   like `

[2022-01-05 05:29] BohuTANG commented on #3771
DalContext is better here

[2022-01-05 06:02] Xuanwo opened #3774 "dal2: Implement s3 support"
Part of https://github.com/datafuselabs/databend/issues/3677

## TODO

- [x] https://github.com/datafuselabs/databend/pull/3775
- [x] https://github.com/datafuselabs/databend/pull/3802
- [x] https://github.com/datafuselabs/databend/pull/3821
- [ ] Add integration tests upon minio

## Waiting

- SDK needs to support path style
- SDK needs to support signature v2

[2022-01-05 07:09] Junnplus commented on #3765
/assignme

I take this issue to learn meta api.

[2022-01-05 07:57] drmingdrmer commented on #3765
@ariesdevil has an ongoing working branch that may have conflicts with this issue.
You may like to have a discussion about the work with him. 🤔
- #3759

[2022-01-05 08:57] Xuanwo commented on #3774
not sure if the signature of method `enable_path_style` is composable with the `finish` method, e.g. `builder.enable_path_style().finish()?`

_Originally posted by @dantengsky in https://github.com/datafuselabs/databend/pull/3775#discussion_r778628674_

[2022-01-05 08:58] Xuanwo commented on #3774
@dantengsky, I think this style works. I will add a test case for `Builder` to make sure they works as expected.

[2022-01-05 09:02] Veeupup commented on #3266
it seems `datavalues/series/series_debug.rs` functions we do not use anymore, we can remove this file?
@BohuTANG

[2022-01-05 09:05] BohuTANG commented on #3266
cc @sundy-li

[2022-01-05 10:09] sundy-li commented on #3266
Ok!

[2022-01-05 10:12] Veeupup commented on #826
I'm interested in this issue, and I will try to follow it. @jyizheng

[2022-01-05 11:11] BohuTANG opened #3778 "Add `walk` visitor to PlanNode"
## Summary

For a sql example:
[code]

After the sql parsed to PlanNode, if I want to check:
1. Which database does this PlanNode all have
2. Which columns does this PlanNode all have

trait:
[code]

Usage(demo):
[code]

Reference:
1. vitess visitor patern: https://pkg.go.dev/vitess.io/vitess/go/vt/sqlparser#Walk
2. databend PlanNode visit_plan_node: https://github.com/datafuselabs/databend/blob/3

[2022-01-05 13:14] #3635 closed

[2022-01-05 13:46] #3266 closed

[2022-01-05 17:10] jyizheng commented on #826
@Veeupup  Go for it.

[2022-01-06 00:31] BohuTANG opened #3782 "Use AddressSanitizer to detect unsafe memory issues"
## Summary

Run AddressSanitizer in unit test weekly.

Reference:
https://github.com/japaric/rust-san#intro
https://doc.rust-lang.org/beta/unstable-book/compiler-flags/sanitizer.html

[2022-01-06 00:39] BohuTANG commented on #3782
RUSTFLAGS="-Z sanitizer=address" cargo test
[code]

[2022-01-06 00:46] BohuTANG commented on #3782
LD_PRELOAD=/usr/lib/x86_64-linux-gnu/libasan.so.4 RUSTFLAGS="-Z sanitizer=address" cargo test

[code]

[2022-01-06 01:13] BohuTANG commented on #3782
Looks work:
`RUSTFLAGS="-Z sanitizer=address" cargo test --target x86_64-unknown-linux-gnu`

[2022-01-06 03:32] flaneur2020 commented on #3778
/assignme

[2022-01-06 05:13] #3771 closed

[2022-01-06 05:14] BohuTANG commented on #3755
Done in https://github.com/datafuselabs/databend/pull/3776/files#diff-76ed074a9305c04054cdebb9e9aad2d818052b07091de1f20cad0bbac34ffb52

[2022-01-06 05:14] #3755 closed

[2022-01-06 05:24] PsiACE opened #3785 "[proposal] Databend dependency management"
Currently, between 800 and 1000 dependencies need to be compiled per full build/test of Databend.

**dependent-bot is not applicable**

- update one dependency at a time
- take up a lot of ci resources
- also require developer attention

## Dependency Management

1. a batch update of dependencies at the beginning of each month
    - cargo upgrade
    - cargo udeps
    - manually update dependencie

[2022-01-06 06:45] l1ch40 opened #3787 "Add http and clickhouse port forward in Docker"
In the [Get Started](https://databend.rs/user) section, the Docker container lacks port forwarding for http and clickhouse, which prevents later experiments from proceeding

[2022-01-06 08:41] BohuTANG opened #3792 "Add escape for management key"
## Summary

Cluster already has the escape for the key:
https://github.com/datafuselabs/databend/blob/b80c460048cbf64eb4dd2f5c7d905df4fc9b677f/common/management/src/cluster/cluster_mgr.rs#L62-L83

stage/udf/user also need.

[2022-01-06 08:49] youngsofun commented on #3482
/assignme

[2022-01-06 09:23] Tangruilin commented on #3696
/unassign

[2022-01-06 09:24] Tangruilin commented on #3696
this problem is fixed by others

[2022-01-06 09:27] Tangruilin commented on #3778
/assign

[2022-01-06 09:28] Tangruilin commented on #3778
/assignme

[2022-01-06 09:32] Tangruilin commented on #3778
/assignme

[2022-01-06 09:33] Tangruilin commented on #3778
I'd like to know if there is someone trying to solve the problem

[2022-01-06 09:35] flaneur2020 commented on #3778
@Tangruilin feel free to take it :)

[2022-01-06 10:26] Tangruilin commented on #3758
/assignme

[2022-01-06 10:27] Tangruilin commented on #3758
/assignme

[2022-01-06 12:10] sundy-li opened #3795 "Tracking new datavalues system"
- [x] #3786
- [x] #3794
- [x]  #3919
- [x] Move other functions into new datavalues #4200
- [x] Move the whole crates which depend on datavalues to datavalues2 and rename datavalues2 to datavalues.  #4200

[2022-01-06 23:41] PsiACE commented on #3758
emmm, one additional piece of information: it is possible to specify a different port for the program with TOKIO_CONSOLE_BIND.

[code]

But it is also good to define it in the configuration. I think we can update this in the documentation.

[2022-01-07 00:48] BohuTANG commented on #3758
If our new processor async runtime will not tokio, the tokio-console is not useful for databend-query?

[2022-01-07 00:53] BohuTANG commented on #3785
The fisrt task is to remove the dependsbot from databend :)

[2022-01-07 01:03] sundy-li commented on #3785
If we update dependencies in batch, how could we know which new dependency is not valid?

[2022-01-07 03:11] PsiACE commented on #3758
I'm afraid so, for the moment, the console and tokio appear to be bound.

[2022-01-07 03:13] PsiACE commented on #3785
We had to deal with these potential problems manually.

[2022-01-07 07:27] flaneur2020 opened #3799 "[RBAC] cache the roles data"
## Tracking issue

https://github.com/datafuselabs/databend/issues/2793

## Summary

https://github.com/datafuselabs/databend/pull/3710/files#r776930739

some ideas:

- seperate a PrivilegeManager which responsible of cache all the privileges from roles, and current user
- factor out the privilege check logic to PrivilegeManager instead of UserGrantSet, or move UserGrantSet out of meta types, leav

[2022-01-07 08:40] #3170 closed

[2022-01-07 09:29] BohuTANG commented on #3799
Because we have the gran sets in the UserInfo now:
https://github.com/datafuselabs/databend/blob/46b89bbac5d60eee9fa7e5679906d02ad2e6f579/query/src/sessions/session_status.rs#L36

Why we still need a PrivilegeManager?

[2022-01-07 09:37] BohuTANG opened #3801 "Refine the Exception Code to category"
## Summary

From the https://github.com/datafuselabs/databend/blob/main/common/exception/src/exception.rs

The ErrCode number range is no category, a bit mess for the user, need to improve.

Reference from MySQL:
https://dev.mysql.com/doc/mysql-errors/8.0/en/error-reference-introduction.html

1. Server Error Message, [1002, ... ]
2. Client Error Message , which range [2000, ...]
3. Global Error Me

[2022-01-07 09:37] BohuTANG commented on #3801
cc @zhang2014

[2022-01-07 12:08] PsiACE commented on #3758
/assignme

[2022-01-08 02:50] BohuTANG opened #3807 "Dump and Restore api for metasrv"
## Summary

 Back up or export all the metasrv datas to a json(or others format) file.

[2022-01-08 02:51] BohuTANG commented on #3807
cc @drmingdrmer @ariesdevil

[2022-01-08 02:55] #3730 closed

[2022-01-08 03:28] BohuTANG commented on #3711
The index here is similar to the materialized view not like the index in OLTP.
For OLTP index, it maintains a primary key each row point to the base table, we won't need it.

[2022-01-08 04:39] BohuTANG opened #3808 "Consider splitting sql_parser.rs to many small files into `parsers`"
#Summary

Now, the `sql_parser.rs` file is bigger and bigger as our statements more and more:
https://github.com/datafuselabs/databend/blob/ab67d0191affff0d17466b5d50705cf461ce0fa4/query/src/sql/sql_parser.rs

Consider splitting the `sql_parser.rs` file into many pieces:
[code]

[2022-01-08 07:23] zhang2014 commented on #3801
+1 It is very useful.

[2022-01-08 11:14] lianghanzhen commented on #3744
Wait for #3795 to avoid duplicate work.

[2022-01-08 11:28] #3751 closed

[2022-01-08 13:44] PsiACE commented on #3808
/assignme

[2022-01-09 02:32] Xuanwo commented on #3785
Please take https://docs.renovatebot.com/rust/ into consideration.

`renovatebot` will update all crates in batch and have more behavior config than dependabot (which means more complex).

[2022-01-09 05:04] #3758 closed

[2022-01-09 07:22] BohuTANG opened #3814 "Add Cookie Policy for databend.rs website"

[2022-01-10 00:15] BohuTANG commented on #3785
We should find/make a action that can do the update in batch.
Dependabot has a disscusstion on it:
https://github.com/dependabot/dependabot-core/issues/2174

[2022-01-10 05:56] flaneur2020 commented on #3711
i guess the same side with the OLTP indexes is it also requires transaction as its fundamental, on writing a row in the main table, the derived tables is also get updated in an ACID manner.

[2022-01-10 08:38] wubx opened #3820 "Please add system.configs with storage"
databend support s3 storage config like this:

[code]

but system.configs display without storage information.

Please add storage information to system.configs .

[2022-01-10 11:32] #3759 closed

[2022-01-10 11:33] ariesdevil commented on #3765
@Junnplus Here you go~

[2022-01-10 11:38] #2753 closed

[2022-01-10 12:09] flaneur2020 commented on #3799
this issue has a lower privilege than the issue about RBAC design. it might be a step in the RBAC implementation.

[2022-01-10 13:34] lianghanzhen commented on #3820
/assignme

[2022-01-10 13:47] youngsofun commented on #3480
@BohuTANG

after discussing with @flaneur2020, I think we should change password_type back to auth_type.
and use the same field to hold enum { JTW,  Sha256Password, DoubleSha1Password, ...},   which directly corresponds to the "With" part in SQL.

otherwise, we need another field to hold enum {JWT, Password, },  which is a waste and has no benefit.

[2022-01-10 22:51] youngsofun commented on #3476
better way for rust is to use enum？

enum {
   Password（type PasswordType，password vec）
   Ldap（config string）
}

[2022-01-10 22:58] BohuTANG commented on #3476
Ok, enum looks make sense.

[2022-01-10 23:02] #3820 closed

[2022-01-11 00:09] youngsofun commented on #3476
ok, it will do it

[2022-01-11 00:42] BohuTANG opened #3823 "bug: Unable to get field named "number". Valid fields: ["(number % 2)"] (while in select before projection)."
## Summary

[code]

` Unable to get field named "number"` -- wrong error hints.

ClickHouse:
[code]

[2022-01-11 00:57] BohuTANG opened #3824 "Support for `GROUP BY ALL`/`ORDER BY ALL`"
## Summary

[code]

[2022-01-11 01:56] techzealot opened #3825 "the databend logo in the README.md is wrong"
the logo url should be "website/static/img/favicon.png",but now is "website/databend/static/img/favicon.png",cause 404

[2022-01-11 01:59] BohuTANG commented on #3825
Welcome to PR

[2022-01-11 02:19] PsiACE commented on #3825
thanks,  #3826

[2022-01-11 02:19] #3825 closed

[2022-01-11 02:34] lichuang commented on #3474
https://github.com/datafuselabs/openraft/pull/53

the pr has been merged into openraft,but seens that `has_more_log` and `tokio::select` has the same effect.

[2022-01-11 02:39] lichuang commented on #3432
seens this has been merged:

[common/containers] feature: add conn pool
- common_containers::Pool caches Channel and indexes them by addresses.

3d686365e5e412cc7976ab991152bcbc443a8034

@drmingdrmer

[2022-01-11 03:07] BohuTANG opened #3827 "Change proxy-mode to management-mode"
## Summary

Changes:
1. Config
2. Unit test and Stateless test
3. Check the config meta is remote not local mode

[2022-01-11 03:07] BohuTANG commented on #3827
cc @flaneur2020 @TCeason

[2022-01-11 04:45] leiysky commented on #866
I've recently taken a look at this project. It's in a very early stage, and the author hasn't put much effort into it.

Besides, antlr relies on java to run the code generator, which may bring unnecessary complexity for our development workflow.

[2022-01-11 05:34] TCeason opened #3828 "A driver compatibility question"
## Summary

If someone use [mysql python driver](https://github.com/mysql/mysql-connector-python) connect databend will have some errors:

1. mysql.connector.errors.InterfaceError: MySQL Version '0.1.0-d757471-simd(1.59.0-nightly-2022-01-10T04:17:51.060993521+00:00)' is not supported.
2. mysql.connector.errors.DatabaseError: 1105 (HY000): Code: 5, displayText = sql parser error: Expected equals si

[2022-01-11 06:21] wubx opened #3829 "optimize table cause of meta data damage"
just create sample tb1 only one columns.

repeat list :
[code]

[2022-01-11 06:46] drmingdrmer commented on #3432
Right. close it.

[2022-01-11 06:46] #3432 closed

[2022-01-11 06:47] drmingdrmer commented on #3474
@lichuang the latest openraft has not yet been updated in databend... please keep it open...

[2022-01-11 07:17] #1743 closed

[2022-01-11 08:10] GrapeBaBa commented on #3824
/assignme

[2022-01-11 09:46] BohuTANG commented on #3829
@dantengsky

[2022-01-11 09:53] wubx opened #3832 "support bloom filter"
Massive data eq query ,  the query would be slow without bloom filter .

reference
https://docs.databricks.com/delta/optimizations/bloom-filters.html
https://clickhouse.com/docs/en/engines/table-engines/mergetree-family/mergetree/#available-types-of-indices

[2022-01-11 10:48] BohuTANG commented on #3801
Let me have a try for the first version

[2022-01-11 11:52] zhyass opened #3834 "Range filter support multi-column expression"
For example:
col(a): Range[1,2]
col(b): Range[0,3]
a+b range[1,5]
`a+b<0` can filter

[2022-01-11 12:49] nange opened #3836 "[Need help] got many building errors if updated the sqlparser-rs to latest version"
## Summary
After the datafuse-extras/sqlparser-rs#14 merged. I tried to update the sqlparser-rs to latest version that was the first step to supoort `REGEXP`  in databend. But I got many building errors, some errors as below:

[code]
I'am unfamiliar with these logic.  Could somebody help me to update the sqlparser-rs version?

errors is caused by: sqlparser-rs/sqlparser-rs#378

[2022-01-11 12:49] nange commented on #3836
Ping @sundy-li @PsiACE

[2022-01-11 13:13] sundy-li commented on #3836
That's weird. Can you push your codes into one branch?

[2022-01-11 13:35] #1552 closed

[2022-01-12 02:18] nange commented on #3836
@sundy-li Please check the branch: [update-sqlparser-rs ](/nange/databend/tree/update-sqlparser-rs)

the upstream of sqlparser-rs removed the `Wildcard` in `Expr` enum. :joy:

[2022-01-12 03:26] #3834 closed

[2022-01-12 03:55] dantengsky commented on #3829
hi @wubx  this issue can not be reproduced in the local linux dev box, which configuration is used in the reported issue?

- commit  2acb358
  (can not be reproduced for the lates commit e3e912a either)
- config `scripts/ci/deploy/config/databend-query-node-1.toml`

[code]

[2022-01-12 03:55] sundy-li commented on #3836
Yes, it's reproduced.

But it's easy to fix, now:

[code]

We can apply the match to `FunctionArgExpr`.

[2022-01-12 05:40] drmingdrmer opened #3838 "There is port conflict `Address already in use (os error 98).` in CI"
https://github.com/datafuselabs/databend/runs/4784950870?check_suite_focus=true

[code]

[2022-01-12 06:23] flaneur2020 commented on #3476
@youngsofun can take this issue assigned to yourself by /assignme  :)

[2022-01-12 06:32] youngsofun commented on #3476
/assignme

[2022-01-12 06:41] youngsofun commented on #3476
plan with 3 pr:

- [ ] refactor auth with enum (user table, create/alter users parser and tests)
- [ ] continue to refactor auth framework and support simple JWT and HTTP basic(use existing password)
- [ ] store password as hashed value as it should be

[2022-01-12 07:00] drmingdrmer opened #3840 "MetaClient and KVClient: resend handshake when handshake info lost"
When metasrv restarted, the handshake info is lost. A client in query should resend handshake when such an error occurs.

- [ ] `metasrv` responds an error code indicating there is an unknown handshake info in request meta.
- [ ] KVClient and MetaClient resend handshake if such an error is found.
- [ ] Test: Start metasrv; make a KV/Meta client and send an RPC; restart metasrv; the client should s

[2022-01-12 07:00] lichuang opened #3841 "Refactor: split the apply_cmd function into sub functions"
In `StateMachine` struct `apply_cmd` function, all the commands are handled in this function, make this function too long to read. split the function into sub cmd handler functions, make code more clearly.

[2022-01-12 07:01] lichuang commented on #3841
https://github.com/datafuselabs/databend/pull/3831

[2022-01-12 07:01] #3841 closed

[2022-01-12 07:43] #3828 closed

[2022-01-12 09:22] ZhiHanZ opened #3844 "[Tracking] introduce docker build sandbox"
Currently we encountered a lot of build issues for developers and our setup scripts become much more complex. here by, we should introduce some easy way to let all people with minimized dependency requirements to get hands on coding experiences.
The most simple way is to introduce a docker sandbox, which is served as a plugin,
[code]
would mount source code and target directory to a docker sandbox

[2022-01-12 09:34] ZhiHanZ opened #3845 "dev container implementation"

[2022-01-12 12:57] nange commented on #3836
@sundy-li I'm not sure I understand it correctly.

**1. the easy case:**
[code]
we can change the code from:
[code]
to:
[code]
Is that right?

**2. the difficult case:**
[code]

We can't apply the match to `FunctionArgExpr` simply. Since, there is required to match `ExprRPNItem::Wildcard` expr in `analyzer.analyze(arg)` method.
See the image as below:
![image](https://user-images.githubusercontent

[2022-01-12 15:06] sundy-li commented on #3836
How about adding a util function to generate expr?

in `udf_transformer.rs`
[code]

And in `expr_visitor.rs`, we can have something like:

[code]

[2022-01-12 15:57] PsiACE commented on #2565
I will close it now, chrono is also common upstream.

I think we do not currently have the bandwidth to handle it.

[2022-01-12 15:57] #2565 closed

[2022-01-12 16:01] PsiACE commented on #1768
Ref: https://github.com/sqlancer/sqlancer/pull/429

[2022-01-13 00:14] BohuTANG opened #3847 "Document `IN` operator"
After https://github.com/datafuselabs/databend/pull/3805 checked in, need document in databend.rs

[2022-01-13 01:24] wubx commented on #3829
@dantengsky

My env use minio as stroage:

# Storage config.
[storage]
# disk|s3
storage_type = "s3"

[code]

[2022-01-13 01:57] dantengsky commented on #3829
got it, thanks

[2022-01-13 03:37] TCeason opened #3848 "JDBC Compatibility Err"
## Summary

* JDBC Version: mysql-connector-java-8.0.27.jar

* Databend Version: the newest version

In MySQL 8.0.26 `set global general_log=1;` and then use the jdbc to connect, MySQL will record this query:

[code]

the result is :

[code]

But in databend run the query return an error:

[code]

[2022-01-13 03:56] zhyass opened #3850 "Range filter support more multi-column expression scenarios"
e.g.

Both `left` and `right` contain columns.
[code]

[2022-01-13 05:18] junli1026 commented on #3832
are we planning to add bloom index file by default for every column ? I started a discussion here:
https://github.com/datafuselabs/databend/discussions/3130

Just copy the content as follows:

1. Snowflake
I went through some Snowflake tech talk and doc, only found this one. https://nattaylor.com/blog/2019/snowflake-internals/
It says: ```Per file min/max values, #distinct values, #nulls, bloom fi

[2022-01-13 05:23] junli1026 commented on #3832
I propose:
1. creating a bloom.idx parquet file for every single column.
2. support multi-column bloom filter with sql as follows:
[code]

[2022-01-13 05:27] BohuTANG commented on #3832
Looks good, cc @zhyass @dantengsky

[2022-01-13 05:30] junli1026 commented on #3832
/assignme

[2022-01-13 06:33] #3850 closed

[2022-01-13 10:18] #3848 closed

[2022-01-13 11:13] flaneur2020 opened #3854 "A general Event emitter"
currently we have a query_log in memory table, we can collect them by a third party daemon to get all the query logs into a log store like elasticsearch.

maybe we could make it more general by an structured Event emitter, besides with query log, it can also some other JSON formatted events like QueryStart/QuerySuccess/QueryFailed or InstanceStarted/InstanceStopped into a event bus like kafka or p

[2022-01-13 11:14] flaneur2020 commented on #3854
/assignme

[2022-01-13 15:04] #3801 closed

[2022-01-13 15:14] BohuTANG opened #3858 "Move if_[not]_exists check to user management api"
## Summary

For some management api(like add_udf/add_stage), we check the plan `IF_[NOT]_EXISTS` in the interpreter:
https://github.com/datafuselabs/databend/blob/9bfd5ff7ddd65aaea1c70e6c8b1d5bfeff3bfc9f/query/src/interpreters/interpreter_stage_create.rs#L55-L62

It would be better to check them in the user/:
https://github.com/datafuselabs/databend/blob/9bfd5ff7ddd65aaea1c70e6c8b1d5bfeff3bfc9f/qu

[2022-01-13 15:19] BohuTANG opened #3859 "Refine the interpreter unit test"
Get the interpreter from the factory instead of creating them from the determinism plan :

old:
https://github.com/datafuselabs/databend/blob/9bfd5ff7ddd65aaea1c70e6c8b1d5bfeff3bfc9f/query/tests/it/interpreters/interpreter_stage_drop.rs#L38-L56

good:
https://github.com/datafuselabs/databend/blob/9bfd5ff7ddd65aaea1c70e6c8b1d5bfeff3bfc9f/query/tests/it/interpreters/interpreter_stage_create.rs#L33-L

[2022-01-14 04:09] #3858 closed

[2022-01-14 07:56] #3859 closed

[2022-01-14 08:41] #3845 closed

[2022-01-14 08:49] BohuTANG opened #3862 "Lift up catalogs/backends/impls/*.rs"

[2022-01-14 09:44] zhyass opened #3864 "Add overflow check for arithmetic function monotonicity check"
When overflow occurs, the function is no longer monotonic.

[2022-01-14 10:30] #3862 closed

[2022-01-17 01:20] BohuTANG opened #3871 "Flaky test of function `in`"
[code]

Flaky test of  function `in`, cc @Veeupup

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/issues/3868#issuecomment-1013982524_

[2022-01-17 02:01] GrapeBaBa commented on #3824
@BohuTANG can you give a brief suggestion？

[2022-01-17 03:35] BohuTANG commented on #3824
Ping @zhang2014 may help here

[2022-01-17 04:09] #3754 closed

[2022-01-17 04:16] BohuTANG commented on #3824
https://docs.microsoft.com/en-us/sql/t-sql/queries/select-group-by-transact-sql?view=sql-server-ver15

[code]

Note: **It will be removed in a future version**.

This issue will be closed, if we need this feature the ClickHouse way looks more powerful and flexible:
https://github.com/ClickHouse/ClickHouse/blob/694ad1f45274d569a4f42635b52e1e8f82f42b90/tests/queries/0_stateless/01470_columns_transfo

[2022-01-17 04:16] #3824 closed

[2022-01-17 04:23] GrapeBaBa commented on #3586
@Xuanwo can this task start right now?

[2022-01-17 04:48] PsiACE commented on #3871
This should not be a flaky test. It is caused by the bump arrow2 error

[2022-01-17 04:48] #3871 closed

[2022-01-17 05:20] Junnplus commented on #3765
I might need help. : (

I try to add rename method to meta api:
1. rename needs to be done on a transaction:  remove old table record and add a new one.
That is, we need to return a `ErrorCode::UnknownTable / TableAlreadyExists` instead of `AppliedState` in the sled transaction. But before https://github.com/datafuselabs/databend/pull/3837/files I had a hard time getting the errors in the transact

[2022-01-17 05:39] Xuanwo opened #3874 "Integrate dal2 into `streams` (replace dal, implement AsyncSeek)"

[2022-01-17 05:40] Xuanwo commented on #3586
@GrapeBaBa, sorry for the late, I think we still need to wait for https://github.com/datafuselabs/databend/issues/3874

[2022-01-17 06:10] drmingdrmer commented on #3765
In general, `ErrorCode` is not a good choice in such a case.

And a failure to rename a table should not emit a `MetaError`. `MetaError` is meant for server error, not an application error.

AppliedState is meant to express application-data changes in the state machine.
AppliedState contains the two states before and after applying  a log entry.
Although, for now, it can not express state change a

[2022-01-17 06:44] Junnplus commented on #3765
@drmingdrmer It seems that using AppliedState as the return cannot rollback the transaction. If the drop table succeeds and the create table fails, the transaction cannot be rolled back.

[2022-01-17 06:52] ariesdevil commented on #3765
`AppliedState` just part of `Result<AppliedState, ErrorCode>`，so there is an error that transaction can handle and rollback

[2022-01-17 06:59] BohuTANG opened #3875 "tenant not work in embedded meta"
Use branch: https://github.com/datafuselabs/databend/pull/3867

1. Build:
[code]
2. Start with management mode:
[code]

3. Client
[code]

[2022-01-17 08:06] #3829 closed

[2022-01-17 08:16] drmingdrmer commented on #3765
What if we remove ErrorCode, and make UnknownTable and TableExists sub errors of MetaError.
IMHO, that every crate has its own hierarchical error types would be better than using non-structured errors

[2022-01-17 10:36] #3875 closed

[2022-01-17 11:42] flaneur2020 opened #3877 "[RBAC] add client to manage role data"
tracking issue: https://github.com/datafuselabs/databend/issues/2793

[2022-01-17 13:09] PsiACE commented on #1867
https://github.com/datafuselabs/databend/pull/1891#issuecomment-1014511992

We are now using clap v3 to replace structopt. Let's move forward.

[2022-01-17 13:09] #1867 closed

[2022-01-17 15:30] dz85 opened #3880 "Contributing is not friendly"
The contributing webpage is : https://databend.rs/dev/contributing/

I think it's not friendly for contributors, cos' there is nothing about what kind of commit is for issues and what kind for discussions.

e.g.: I wanna push some code to add some build tools or lint tools for a sub project. Then there is no information about:
1. should be issue or discussion
2. should be which type of issue/discu

[2022-01-17 15:35] dz85 opened #3881 "It seems wrong codes in `website`"
When I review the code for website, it seems some wrong codes like this:
[code]
but `postcss-px-to-viewport-8-plugin` should be listed in the project's dependencies, not devDependencies; pls check it?

[2022-01-17 15:38] wubx commented on #3881
@Chasen-Zhang

[2022-01-17 15:53] Chasen-Zhang commented on #3881
postcss-px-to-viewport-8-plugin is a devDependencies, It is a unit converter, and actually the line is not required. I think it's ok to put it in the devDependencies configuration item. Can you tell me what the problem is?   You can see how it's installed
[https://github.com/xian88888888/postcss-px-to-viewport-8-plugin#usage](url)

[2022-01-17 16:19] Xuanwo commented on #3880
Awesome feedback!

I am currently working on some improvements to these areas, related issues including:

- #3657
- https://github.com/datafuselabs/databend/discussions/3419

I expect to have a better get started docs which covers

- How to get databend built and running?
- How send patches and how to start a discussion about an RFC

Welcom for any comments!

[2022-01-17 18:13] dz85 commented on #3881
Cos' postcss-px-to-viewport-8-plugin  in dev-deps, so require('postcss-px-to-viewport-8-plugin') may throw an error. So I suggest to add a try catch with it.

[2022-01-18 01:13] Chasen-Zhang commented on #3881
oops, thank you! What you said is right. I wasn't very thoughtful, Can you propose a PR for us?

[2022-01-18 02:32] Xuanwo commented on #3881
Maybe it's better to add `postcss-px-to-viewport-8-plugin` as dependencies?

[2022-01-18 02:34] Chasen-Zhang commented on #3881
I'll just change it

[2022-01-18 02:37] dz85 commented on #3881
both are ok. cos' the error we can ignore it by catching without deal with.

[2022-01-18 02:41] Chasen-Zhang commented on #3881
Thank you for your carefulness. I know how to handle this😁

[2022-01-18 04:50] nange commented on #3836
@sundy-li  Thanks a lot.  I have been made a PR #3885. PTAL

[2022-01-18 05:48] Xuanwo opened #3886 "Tracking issue of Refactor Test Framework"

[2022-01-18 05:51] Xuanwo commented on #2647
/assignme

[2022-01-18 05:51] #3886 closed

[2022-01-18 06:02] Xuanwo commented on #2647
Come on, Let's go! I expect that we can remove all python scripts after this issue implemented.

[2022-01-18 06:05] zhang2014 opened #3888 "Support dictionary"
https://clickhouse.com/docs/en/sql-reference/statements/create/dictionary/

[2022-01-18 07:15] #3877 closed

[2022-01-18 07:43] #3836 closed

[2022-01-18 07:54] flaneur2020 opened #3889 "Best practise to load balance the database-query instances?"
currently databend-query have some in-memory states, like query logs, metrics, etc (mostly are the in memory system tables?). a SQL fired on a different databend-query instance may get different results, like:

[code]

if I want run databend-query instances in a HA manner with an Round Robin load balancer. The proxy can not produce a consistent result between queries except enable a sticky session

[2022-01-18 08:01] ZhiHanZ commented on #3889
I think it also relevant to query fallback retry and we should also be able to fetch query result consistently from any of the instance in a cluster.
Currently their should have some candidates:
1. use proxy mode databend-query in the frontend to show consistent result and handle query processes.
2. databend-query perform some aggregations to support distributed system data collection and consiste

[2022-01-18 08:13] #3827 closed

[2022-01-18 08:36] BohuTANG opened #3892 "Only run stateless tests if only the stateless files changed"
Like https://github.com/datafuselabs/databend/pull/3891, this PR only the tests/suites/2_management_mode/00_0001_management_mode.result file changed, the unit-test should not run again.

[2022-01-18 08:41] Xuanwo commented on #3892
/assignme

[2022-01-18 08:48] BohuTANG commented on #3889
1. This is not a user-side requirements, the system informations no need to show a consistency view.
2. If you want to kill a query from any node of the cluster, I think the kill should distributed by the databend-query kernel, because a query is distrubuted in many nodes, we can not only kill it in one node, what do you think @zhang2014
3. Are there any other scenarios that require this feature?

[2022-01-18 09:31] flaneur2020 commented on #3889
fair enough, we can weak the instance-wise system tables in the distributed environment.

[2022-01-18 10:59] BohuTANG opened #3895 "How to get statistics from underlying storage like fuse engine"
There are some levels:
1. Table and partitions level: a)number of rows and b)size in bytes
2. Column level: a)min&max, b)null count and c)distinct count

Need api/function to get them.

[2022-01-18 11:00] BohuTANG commented on #3895
cc @dantengsky

[2022-01-18 11:26] dantengsky commented on #3895
maybe we can start with the meta readers?

https://github.com/datafuselabs/databend/blob/b5f96d2896382a2d6a1ded8220f6da2829aa3bc1/query/src/storages/fuse/io/meta_readers.rs#L73-L97

- `TableSnapshotReader` reads the table's snapshot meta data, which
  -  contains table level  statistics
 https://github.com/datafuselabs/databend/blob/e97dae760dfffa79e77369fd59257e4b5b0bfb8d/query/src/storages/fuse/

[2022-01-18 11:41] BohuTANG commented on #3895
From the user side(let's ignore the implementation details), how we get them? function or?

[2022-01-18 11:46] dantengsky commented on #3895
for the end-users? then, it should be sql statements.
- general `select` statements, query data from specific system tables
- or dedicated sql statements.

[2022-01-18 11:47] dantengsky commented on #3895
for optimizer or cloud-services, that would be other stories, IMO.

[2022-01-18 11:54] dantengsky commented on #3895
any specific scenarios are being considered?

[2022-01-18 12:04] BohuTANG commented on #3895
Right

[2022-01-18 12:05] BohuTANG commented on #3895
This mainly for cost-optimizer

[2022-01-18 12:07] dantengsky commented on #3895
got it. is @leiysky working on the cost-optimizer?

[2022-01-18 12:19] dantengsky commented on #3895
I suggest using the cached metadata readers apis `databend/query/src/storages/fuse/io/meta_readers.rs` to fetch the statistics, as they mitigate the relevant cost of io operations.

But, cost-optimizer might want to work with catalog apis (not an table engine specific api)...

[2022-01-18 14:14] zhang2014 commented on #3889
This is helpful for killing query without switching databend-query nodes(may be helpful for non cloud users)?

for example:

[code]

[2022-01-18 19:19] junli1026 opened #3897 "Refactor DFHasher vec_hash"
Currently DFHasher is using streaming API to hash data value one by one in a column.
That is,
[code]

The ```clone_init()``` will copy seeds or state, it is OK for small number of elements; but heavy for large number of data values.

We should change it to other stateless API, like ```city_hash_32()```, a pure function call.

[2022-01-18 19:32] junli1026 commented on #3897
/assignme

[2022-01-18 20:00] junli1026 commented on #3897
interestingly, databend-bot doesn't assign me as assignee, but only tag it as community-take ? 😵‍💫

[2022-01-19 01:40] junli1026 commented on #3897
@PsiACE if we use stateless function for hashing, instead of state hash like trait Hasher, you don't need to add Hasher support in naive-cityhash lib.

[2022-01-19 01:44] PsiACE commented on #3897
Thanks for the reminder. Do we need to implement cityhash32?

[2022-01-19 01:48] BohuTANG opened #3898 "Add `partitions_total`"
We already have the `partitions_scanned`(this is the partitions after pruning):
https://github.com/datafuselabs/databend/blob/6bd00e35892e7f6cdf529dcc134f7b943e89a616/common/dal/src/context.rs#L34

We still need the `partitions_total` to show how many partitions we have before pruning.

[2022-01-19 01:48] BohuTANG commented on #3898
cc @dantengsky

[2022-01-19 01:54] dantengsky commented on #3898
got it

[2022-01-19 05:10] BohuTANG commented on #3895
catalog api looks ok.
BTW, we have not to start optimizer yet.

[2022-01-19 08:04] #3898 closed

[2022-01-19 08:42] BohuTANG opened #3906 "Add `partitions_scanned` and `partitions_total` to Statistics"
After https://github.com/datafuselabs/databend/pull/3903 checked in, we should add `partitions_scanned` and `partitions_total` to Statistics https://github.com/datafuselabs/databend/blob/d8cf752e80afc98ff173c38a2af4488601cc7cc8/common/planners/src/plan_statistics.rs#L16 and show them in the explain:

https://github.com/datafuselabs/databend/blob/d8cf752e80afc98ff173c38a2af4488601cc7cc8/common/plan

[2022-01-19 10:08] #3740 closed

[2022-01-19 10:57] BohuTANG commented on #3906
Let me take

[2022-01-19 14:52] #3881 closed

[2022-01-19 15:37] lianghanzhen opened #3913 "Show UDF definition by `SHOW FUNCTIONS`"
Currently we have 2 commands to show UDF and show builtin functions, consider to combine them, which will produce this information:
[code]

[2022-01-20 01:40] wubx opened #3915 "Support fulltext index"
### Discussed in https://github.com/datafuselabs/databend/discussions/3899

<div type='discussions-op-text'>

<sup>Originally posted by **wubx** January 19, 2022</sup>
Why we need fulltest index ：
1.    In APM a lot of query like ： where url like "%/user/%"
2.   The Game system of the service a lot query like : where action like "%win%"
3.   Sample fulltext  search replace Es

Clickhouse support f

[2022-01-20 02:06] BohuTANG opened #3916 "Support Semi-structured Data Types (like json format)"
### Discussed in https://github.com/datafuselabs/databend/discussions/3911

<div type='discussions-op-text'>

<sup>Originally posted by **ZhiHanZ** January 19, 2022</sup>
clickhouse json format is especially helpful for logging and monitoring application and we could support it
https://clickhouse.com/docs/en/interfaces/formats/#jsoneachrow
https://clickhouse.com/docs/en/sql-reference/functions/jso

[2022-01-20 02:21] zhyass commented on #3864
Wait for the new datavalues to be merged into the master branch and take effect.

[2022-01-20 04:42] leiysky commented on #3895
Haven't started yet, since we don't have enough alternative algorithms to leverage the cost model.

That's right. The statistics accessor can be associated with `Table` object.

[2022-01-20 04:50] dantengsky commented on #3895
roger

[2022-01-20 05:33] leiysky commented on #3895
@dantengsky Correct me if I am wrong, as I know, we only maintain statistics information inside each partition(the parquet file). Shall we maintain aggregated statistics for each table like storing them in meta service?

[2022-01-20 05:50] dantengsky commented on #3895
There are aggregated statistics at segment and table level

https://github.com/datafuselabs/databend/blob/5ab545637914667196ff435c9c3d0d6674ddce9d/query/src/storages/fuse/meta/snapshot.rs#L30-L42

https://github.com/datafuselabs/databend/blob/5ab545637914667196ff435c9c3d0d6674ddce9d/query/src/storages/fuse/meta/segment.rs#L21-L28

Besides, are there scenarios that the statistics should be "evaluat

[2022-01-20 07:05] leiysky commented on #3895
Not required, I think.

The statistics are allowed to be inaccurate sometimes, therefore we can provide different policies to collect statistics to balance cost of computing statistics and accuracy of statistics. "Dynamic evaluation" can be one of them.

[2022-01-20 07:31] dantengsky commented on #3895
got it

[2022-01-20 12:06] #3906 closed

[2022-01-20 15:58] wangzhen11aaa opened #3924 "Have we test the prefetch to optimize some dense loop?"
Hi, All

Methods of software prefetching
Compiler directed prefetching

Reference:
https://docs.rs/prefetch/latest/prefetch/
https://en.wikipedia.org/wiki/Cache_prefetching

For discussion. Not so important.

[2022-01-20 17:24] #3474 closed

[2022-01-21 02:07] zhang2014 opened #3926 "add new processor trait and implement new processor framework"

[2022-01-21 02:07] #3926 closed

[2022-01-21 07:44] zhang2014 opened #3931 "integrate new processor framework"
- [x] integrate standalone select query with new processor
    - [x] integrate numbers table with new processor
    - [x] integrate systems table with new processor
    - [x] #4345
- [x] #4471
- [x] #4799

[2022-01-21 08:03] zhang2014 opened #3933 "Global settings"
[code]

Tasks:
- [x] Refine the session: change mutable status to session context
- [x] Add `settings` set in meta
- [ ] Write/Read global settings for settings
- [ ] `SET GLOBAL xx=yy` statement

[2022-01-21 08:05] wubx opened #3935 "Add self-host deploy Databend on AWS"
Compile and deploy Databend in EC2 use S3

[2022-01-21 08:10] Xuanwo opened #3937 "dal2: Implement LimitedReader"

[2022-01-21 08:33] dantengsky opened #3938 "Use buffered-reader to read table metadata"
Currently, fuse table's metadata, namely the table snapshot, segment information, and the FileMetaData of parquet are all read from underlying storage(e.g S3) by using the non-buffered "bare-mental" readers. Since there are lots of scattered reads for the reading of those metadata, especially for the FileMetaData, this leads to a bad performance. A recent experiment shows that a table of common se

[2022-01-21 08:54] wubx commented on #3935
/assignme

[2022-01-21 09:29] zhang2014 opened #3939 "Upgrade mysql srv to async from sync"
We have async style mysql server api after https://github.com/datafuse-extras/msql-srv/pull/18.

[2022-01-21 09:40] BohuTANG commented on #3916
If we support `Semi-structured Data Types` like snowflake :
https://docs.snowflake.com/en/sql-reference/data-types-semistructured.html

We can make the functions more powerful and streamlined, for example, clickhouse URLS functions:
https://clickhouse.com/docs/en/sql-reference/functions/url-functions/

We can only use a `parse_url -> Object` to do all the URLS funcstion in clickhouse:
[code]

[2022-01-21 11:28] GrapeBaBa commented on #3938
/assignme

[2022-01-21 11:29] Xuanwo commented on #3938
related to https://github.com/datafuselabs/databend/pull/3934

[2022-01-21 12:41] zhyass opened #3941 "bug: pruning get error when expression is not monotonic in variable range"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

Main branch

### What's Wrong?

[code]

### What You Expected?

`select` can return the right result

### How to Reproduce?

_No response_

### Anything Else?

_No response_

### Are you willing to submit PR?

- [x] Yes I am willing to submit a

[2022-01-21 14:29] drmingdrmer commented on #3840
@ariesdevil Is this issue done?

[2022-01-21 14:36] ariesdevil commented on #3840
Yup

[2022-01-21 14:53] #3840 closed

[2022-01-21 16:07] #3941 closed

[2022-01-21 17:13] lianghanzhen commented on #3913
/assignme

[2022-01-22 06:34] drmingdrmer commented on #2422
@ariesdevil Let's update status on this issue:DDD

[2022-01-22 06:37] BohuTANG opened #3950 "Bloom filter flaky test"
These 3 tests is unstable when run some times:
test_bloom_indexer_single_column_prune
test_bloom_indexer_logical_and_prune
test_bloom_indexer_logical_or_prune

I have ignored them in:
https://github.com/datafuselabs/databend/commit/93035174df585df753bfec9478904d3143321c06#diff-fa8b2ef347a7080d7d57df57fa277d81c9ef4e2c6907231690997988352b1f66R244

[2022-01-22 06:37] BohuTANG commented on #3950
cc @junli1026

[2022-01-22 06:53] Xuanwo opened #3951 "Allow set swap space on macos"
`pierotofy/set-swap-space` is linux only, we need to make it works on mac too.

[2022-01-22 09:10] BohuTANG commented on #3951
It would be nice we have a github poor-man action to do them all:
1. cleanup  dotnet/android/gch
2. set swap sapce
3. Others ?

[2022-01-22 09:20] junli1026 commented on #3950
/assignme

[2022-01-22 11:50] #3913 closed

[2022-01-23 03:01] #3950 closed

[2022-01-23 04:04] wangzhen11aaa commented on #3823
Hi, BohuTANG.

I am tracing this problem.
Some help wanted.
When we create new_data_fileds from the expr, like ("number%2", "number%3", "c1", "c2"), why not combine these fileds with filed ("number")?

[2022-01-23 04:05] wangzhen11aaa commented on #3823
/assignme

Let me try.

[2022-01-23 04:43] wangzhen11aaa commented on #3823
select number%2 as c1, number%3 as c2 from numbers(10) group by c;

The SQL is

select number%2 as c1, number%3 as c2 from numbers(10) group by (number%2);

and

This sql is wrong.  the c2 is not in the group by key.

mysql> select number%2 as c1, sum(number) from numbers(10) group by (c1);
+------+-------------+
| c1   | sum(number) |
+------+-------------+
|    0 |          20 |
|    1 |

[2022-01-23 05:09] wangzhen11aaa commented on #3823
So, we want to fix this wrong error hint problem.

[2022-01-23 06:55] #3823 closed

[2022-01-23 07:57] wubx opened #3957 "Parallel import data was error"
load ontime data with parallel:

[code]

{"id":"50dbd689-c838-41a4-9092-f967ef60d0d6","state":"SUCCESS","stats":{"read_rows":0,"read_bytes":0},"error":null}{"id":"a93c46db-4474-416c-87d1-6dbbffa9dc56","state":"SUCCESS","stats":{"read_rows":0,"read_bytes":0},"error":null}{"id":"0e490a29-e88f-42ef-8f37-27ceb452696e","state":"SUCCESS","stats":{"read_rows":0,"read_bytes":0},"error":null}{"id":"c77e993

[2022-01-23 08:51] dantengsky commented on #3957
thanks for reporting. it will be addressed by fixing
- issue #1785

[2022-01-23 08:54] leiysky opened #3958 "Tracking: RFC of new SQL parser"

[2022-01-23 12:25] jiangzhe commented on #866
I've implemented [a simple SQL parser](https://github.com/jiangzhe/xngin/tree/main/xngin-frontend) using nom, including complex SELECT(except WINDOW clause) and simple INSERT/DELETE/UPDATE.
The total effort is about 3 weeks in part-time, so not very large, I guess. I didn't count the extra work on DDL.
One note is about expression parsing. The parser combinator is not very good for handling operat

[2022-01-24 09:09] junli1026 commented on #3897
Just saw you message, sorry for the late reply.  I think hash64 is good enough for bloom filter.

[2022-01-24 09:31] #3874 closed

[2022-01-24 10:04] #3935 closed

[2022-01-24 11:05] sundy-li commented on #3897
@junli1026   I think it's better to apply DFHasher inside functions instead of datavalues.

In `datavalues2`, we already have BasicHasherFunction to apply varies hash methods.

See:  https://github.com/datafuselabs/databend/blob/datavalues-dev/common/functions/src/scalars/hashes/hash.rs#L30-L32

[2022-01-24 12:47] sundy-li opened #3967 "Migrate other functions into datavalues2"
Now we have a new designed datavalues crate named `datavalues2` in branch `datavalues-dev`.
This new crate has a better design than the previous `datavalue`, including some new features:

1. New datatypes: we do not use enum-based datatype anymore. Instead, we have a new datatype trait `DataType`, and there is `NullableType` which means the datatype can be nullable.

2. New columns: Corresponding

[2022-01-24 12:49] sundy-li opened #3968 "datavalues2 && comparison functions (already done)"

[2022-01-24 12:49] #3968 closed

[2022-01-24 12:49] sundy-li opened #3969 "datavalues2 && conditional functions"

[2022-01-24 12:49] sundy-li opened #3970 "datavalues2 && date functions"

[2022-01-24 12:49] sundy-li opened #3971 "datavalues2 && logic functions"

[2022-01-24 12:49] sundy-li opened #3972 "datavalues2 && math functions"

[2022-01-24 12:50] sundy-li opened #3973 "datavalues2 && nullable functions"

[2022-01-24 12:50] sundy-li opened #3974 "datavalues2 && other functions"

[2022-01-24 12:50] sundy-li opened #3975 "datavalues2 && string functions (some of them are already done, you can take the example in `fn register2`)"
- [x] bin
- [x] hex
- [x] oct
- [x] repeat
- [x] mid
- [x] substr
- [x] substring
- [x] substring_index
- [x] unhex
- [x] locate
- [x] position
- [x] instr
- [x] insert
- [x] field
- [x] concat
- [x] replace
- [x] strcmp

Please feel free to comments here to take part of them.

[2022-01-24 12:50] sundy-li opened #3976 "datavalues2 && udf functions (some of them are already done, you can take the example in `fn register2`)"

[2022-01-24 12:50] sundy-li opened #3977 "datavalues2 && uuid functions"

[2022-01-24 13:06] PsiACE commented on #3972
/assignme

[2022-01-24 14:30] wangzhen11aaa opened #3979 "Is it a common practice to make one commit mixing the changes with origin codes, when forked other's repository?"
Hi, all, After reading the codes about hashmap, (curiously) I want to know the changes from hashlink to ritelinked only to find one commt alone. So come with this question. Thanks in advance.

[2022-01-24 14:35] hanzhenliang commented on #3977
/assignme

[2022-01-24 14:36] lianghanzhen commented on #3977
/assignme

[2022-01-24 14:52] #3979 closed

[2022-01-24 15:45] PsiACE commented on #3979
This issue is not related to Databend.

---

As the maintainer of ritelinked, I don't think the behavior of ritelinked is a common practice.

The best practice is to maintain the original project, the second best is to fork and keep commits, and the worst is to mix all commits.

For the differences between ritelinked and hashlink, and some additional notes, see: https://github.com/dataslime/riteli

[2022-01-24 16:40] Xuanwo commented on #3975
/assignme

[2022-01-24 16:40] Xuanwo commented on #3975
Let's rock!

[2022-01-25 02:09] wangzhen11aaa commented on #3976
/assignme

[2022-01-25 03:20] GrapeBaBa commented on #3938
@Xuanwo #3934 already merged, can this task start?

[2022-01-25 03:22] Xuanwo commented on #3938
Let's go!

[2022-01-25 04:11] junli1026 commented on #3897
Thus I guess we need to totally remove/delete ```vec_hash``` ?

[2022-01-25 04:17] ZhiHanZ opened #3982 "[Security] introduce scorecard for open source security check"
scorecard could help with process management and dependency security checks for databend
https://github.com/ossf/scorecard

[2022-01-25 04:27] ZhiHanZ opened #3983 "[Monitoring] prefer structured log instead of unstructured logs"
it would be nice to provide structured logs instead of unstructured one for downstream monitoring, tracing etc, as reference (https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/)
sample structured log.
[code]

some interesting discussions in tracing.rs
https://github.com/tokio-rs/tracing/discussions/1789#discussion-3757553

[2022-01-25 05:05] sundy-li commented on #3897
Yes, all hashes are functions.

[2022-01-25 05:40] BohuTANG commented on #3983
Does it mean the server log? We already have json format:
https://github.com/datafuselabs/databend/blob/b48725f82905c7c62b42e28f4c9c769a3cceb27e/common/tracing/src/logging.rs#L98

[code]

[2022-01-25 06:38] ZhiHanZ commented on #3983
As a recommended way to improve observability pipeline, logging information(millions of lines) would be collected for latter analysis, thus, it require services to provide high cardinal(unique value unit) structured information to describe each logs.
https://github.com/kubernetes/enhancements/blob/master/keps/sig-instrumentation/1602-structured-logging/README.md
to handle it, what we should do :
1

[2022-01-25 06:50] flaneur2020 commented on #3983
after talking with @ZhiHanZ , it seems we can make a common labels for loggings, like:

- cluster
- tenant id
- query id
- etc

so we can collect the logs to loki or other logging system, and aggregate/filter logs by the common labels.

[2022-01-25 07:09] Xuanwo commented on #3982
[scorecard-action](https://github.com/ossf/scorecard-action) requires Personal Access Token to be functional, so I think this issue should be resolved by maintainers.

[2022-01-25 07:35] wubx commented on #3555
[local] [sql]> \admin
Mode switched to admin mode
[local] [admin]> cluster create
[ok] ✅ Databend cluster pre-check passed!
[ok] ✅ Cannot find databend binary path in version latest, start to download from Some(CustomMirror { base_url: "https://repo.databend.rs/databend/tags.json", databend_url: "https://repo.databend.rs/databend", databend_tag_url: "https://repo.databend.rs/databend/tags.json", p

[2022-01-25 07:52] BohuTANG opened #3986 "cannot connect to healthiness probe: http://127.0.0.1:8080/v1/health"
[local] [sql]> \admin
Mode switched to admin mode
[local] [admin]> cluster create
[ok] ✅ Databend cluster pre-check passed!
[ok] ✅ Cannot find databend binary path in version latest, start to download from Some(CustomMirror { base_url: "https://repo.databend.rs/databend/tags.json", databend_url: "https://repo.databend.rs/databend", databend_tag_url: "https://repo.databend.rs/databend/tags.json", p

[2022-01-25 08:25] #3437 closed

[2022-01-25 09:03] LiuYuHui commented on #3970
/assignme

[2022-01-25 09:27] Xuanwo commented on #3555
/assignme

[2022-01-25 09:36] BohuTANG opened #3990 "bendctl start-single-node"
The problem:
bendctl is bit complex for local test(start databend-meta and check, then start databend-query), we should simple them to one command `start-single-node`

Golas:
1. Download (or check) databend-query binary, if not download, download the latest databend-query
2. Start databend-query with embedded meta

No sql and Interactive mode

[2022-01-25 09:43] BohuTANG commented on #3555
Please also see https://github.com/datafuselabs/databend/issues/3990 , it seems enough for local test cc @Xuanwo

[2022-01-25 09:45] Xuanwo commented on #3990
/assignme

[2022-01-25 09:50] Xuanwo commented on #3990
Is it a good idea to ship all our binaries together into one?

- cockroachdb ship all features in one binary (cockroach).
- yugabytedb ship all binaries in the same archive (yb-master, yb-tserver).

It's a bit wired to me to download new binaries via tool.

[2022-01-25 10:41] #3957 closed

[2022-01-25 11:07] b41sh commented on #3973
/assignme

[2022-01-25 11:16] wangzhen11aaa commented on #3976
No assign, someone  else can continue this issue.

[2022-01-25 11:17] zhyass commented on #3970
Hi, since arithmetic functions involves some interval functions, I'm currently working on it https://github.com/datafuselabs/databend/pull/3978 . You can migrate other functions except interval first. :grin:

[2022-01-25 12:29] #3937 closed

[2022-01-25 12:49] BohuTANG commented on #3990
Do you mean we archive databend-meta and databend-query to one tar? It looks good to me,

[2022-01-25 12:57] BohuTANG commented on #3990
But we should consider how the user(local test) to upgrade their local databend-query, so here back again to download databend-query binary.

[2022-01-25 13:33] Veeupup commented on #3004
@sundy-li may pin #3967  on the board and make this unpin?

[2022-01-25 14:13] Xuanwo commented on #3990
Also ping @ZhiHanZ @PsiACE for discussion.

[2022-01-25 14:19] PsiACE commented on #3990
I basically agree with @Xuanwo's opinions.

It should be noted, however, that one of the original purposes of bendctl was to be able to manage multiple versions of the databend-query and databend-meta instances. In this way, it may be the equivalent of nvm rather than a traditional client.

[2022-01-25 14:35] PsiACE commented on #3939
closed by #3981

[2022-01-25 14:35] #3939 closed

[2022-01-25 15:40] Xuanwo commented on #3990
I'm a bit confused about this. Why users (including ourselves) will have multiple versions of databend-{query, meta} instead of upgrading to same version?

[2022-01-26 00:48] BohuTANG commented on #3990
For the user, databend-{meta, query} are the same version, we need to provide the ability to upgrade to the new version all of them.

[2022-01-26 02:20] BohuTANG opened #3994 "SQL UDFs"
* Scalar SQL UDFs (already done)

Databend already have the scalar UDFs:
[code]

* Tabular SQL UDFs (UDTFs)(TODO)

A user-defined table functions can apply to a sql query and returns 0, 1 or multi-rows, each result contains 1 or more columns.
A snow style UDTFs:
[code]

Reference:
https://docs.snowflake.com/en/developer-guide/udf/sql/udf-sql-tabular-functions.html

[2022-01-26 02:29] BohuTANG commented on #3933
The meta key is:__df_settings/tenant/cluster_name/settting_name?

[2022-01-26 03:22] #3969 closed

[2022-01-26 04:26] BohuTANG opened #3995 "Refactor 0_stateless"
**The problem**

https://github.com/datafuselabs/databend/tree/main/tests/suites/0_stateless
has more and more tests, it's hard to category a new test case to the right group.

**Goals**
1. Add sub directory to `0_stateless` for group
`00_dummy` -- dummy
`01_system` -- system tables test
`02_function` -- functions test
`03_dml` -- dml test
`04_ddl` -- ddl test
`05_show` -- show test
`06_use` -- us

[2022-01-26 04:28] Xuanwo commented on #3990
There are two problems:

1. Will `databend-query` && `databend-meta` must be the same version?
2. Will `databend-query` in the same cluster must be the same version?

For problem 1, it's possible and there are solutions.

For problem 2, I'm confused. If such statuiation doesn't exist, I believe we can remove multi-version features from bendctl and let package manager to handle them.

[2022-01-26 05:04] BohuTANG commented on #3990
No, but they are certainly compatible with api

Yes

[2022-01-26 05:10] BohuTANG commented on #3990
Back to this issue, sugesst that we focus on how users to test on locally with `start-single-node`, this is the easiest way.
For the production, we can discuss it in another issue.I am sure there will be a lot to consider, the good side is that there are already many options to reference.

[2022-01-26 06:38] wubx commented on #3957
Total: 55 files ~ 12G

N in (1,2,4,8,10)
time ls *.csv|xargs -I{} -P N  curl -H "insert_sql:insert into ontime format CSV" -H "csv_header:1" -F  "upload=@{}"  -XPUT http://localhost:8001/v1/streaming_load

|thread|time|
|------|-----|
|1|173.966s|
|2|99.052s|
|4|54.181s|
|8|37.348s|
|10|44.143s|

[code]

[2022-01-26 07:32] #2956 closed

[2022-01-26 08:02] wubx opened #3997 "Support ctrl + c in mysql client termination big query"
session1
[code]
session 1 hang

session 2:
[code]

Please support ctrl + c termination big query.

Finally the seesion1 :
But in this process the machine is working very hard
[code]

[2022-01-26 09:16] ariesdevil commented on #1927
closed by #3606

[2022-01-26 09:16] #1927 closed

[2022-01-26 09:26] #2899 closed

[2022-01-26 09:27] #3515 closed

[2022-01-26 09:27] #3285 closed

[2022-01-26 09:28] #3284 closed

[2022-01-26 09:31] ariesdevil commented on #2422
We leave an issue(#3309 ) and close this issue now, if you have any ideas, feel free to reopen this issue.

[2022-01-26 09:31] #2422 closed

[2022-01-26 09:33] ariesdevil commented on #1883
@youngsofun Is your works related to this issue?

[2022-01-26 09:38] ariesdevil opened #3999 "[metasrv] Complete doc about how to setup a metasrv cluster"
We lack docs for how to setup a metasrv cluster.
Related: #2667

[2022-01-26 09:39] #2667 closed

[2022-01-26 09:49] ariesdevil opened #4000 "[metasrv] Refactor metasrv errors"
Now we use ErrorCode as the error return type for most of metasrv's functions, but this makes it difficult to get the underlying error, and we would like to remove ErrorCode and only wrap it to ErrorCode when it is returned to the query side.

*  use `thiserror` defines some concrete error type with a `MetaError` for including these error types just like `ErrorCode`.
*  handle the type conversion,

[2022-01-26 09:53] ariesdevil commented on #3765
ref: #4000

[2022-01-26 10:11] youngsofun commented on #1883
@ariesdevil  my previous works on auth is user based.

[2022-01-26 10:11] ariesdevil commented on #1883
Got.

[2022-01-26 10:20] ariesdevil commented on #1883
We now have management-mode that uses query node access metasrv, so that metasrv no need exposed to users directly. This issue can be closed. cc @BohuTANG @drmingdrmer

[2022-01-26 10:54] BohuTANG commented on #3995
This issue should after datavalues-dev checked in.

[2022-01-27 00:28] BohuTANG commented on #1883
After a moment thinking, meta also need auth , databend-query management mode also have authorization when  connect to metasrv, re-open the issue:
https://github.com/datafuselabs/databend/blob/12f5b5804865dc732810321cd9b57a5c59fffad8/query/src/configs/config_meta.rs#L45

[2022-01-27 02:00] BohuTANG commented on #3986
We will use local embedded metasrv instead, this bug will be gone after #3990

[2022-01-27 03:12] Veeupup opened #4004 "Constant folding Optimizer with `And` will produce unexcepted result"
constant folding with `And` will produce unexcepted result, I comment it for now to make it work right.
and we can remove unnecessary constant folding in another pr.

In detail: null value will be optimized as `false`, so when `select null and 1`, it will return `0` rather than `NULL`, which is not excepted.

https://github.com/datafuselabs/databend/blob/12f5b58048/query/src/optimizers/optimizer_c

[2022-01-27 04:01] #2919 closed

[2022-01-27 05:16] junli1026 commented on #3974
/assignme

[2022-01-27 13:40] zhyass opened #4006 "bug: Null arithmetic report error"
[code]
The null type is not considered when the arithmetic function is created.

[2022-01-27 16:15] Veeupup commented on #4004
@zhyass
it seems that`or` expression will give the right result in this situation because we will consider `null` to `false` and it will go deeper to call the `LogicFunction`.
And agree with you, constant folding with special handling (just ignore null type) for `null` will be ok to solve it.

[2022-01-27 16:22] Veeupup opened #4009 "bug: databend-bot usually give duplicate comments in PR"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

newest

### What's Wrong?

databend-bot sometimes gives duplicate comments in PR
![image](https://user-images.githubusercontent.com/26339429/151399936-f9ecc1f0-a255-4259-9772-2a842edf457e.png)

### What You Expected?

databend-bot give only one

[2022-01-28 00:59] #3971 closed

[2022-01-28 01:50] zhyass commented on #4004
@Veeupup
I test the `or` expression in branch `datavalues-dev`, and compare with `MySQL` and `ClickHouse`

In `databend`:
[code]

In `MySQL`:
[code]

In Clickhouse:
[code]

[2022-01-28 01:57] zhyass commented on #4004
Another different between databend and click house is the return type with logic function.
In ClickHouse
[code]

[2022-01-28 02:02] Veeupup commented on #4004
@zhyass  oh... yesterday's pr #4008  changed the or behabior... before this pr, select `null or null` should return `null` just like in MySQL

[2022-01-28 03:24] wubx opened #4010 "Add Databend settings introduce and usage"
Introduce set setting in session
Update  0.7  settings

[2022-01-28 03:42] #4010 closed

[2022-01-28 06:15] zhyass opened #4012 "Unable to get field named"
bug1:
[code]

bug2:
[code]

They're caused by constant folding optimization(constant condition remove). Bug2 is  caused by the case sensitivity of the operator https://github.com/datafuselabs/databend/blob/main/query/src/optimizers/optimizer_constant_folding.rs#L164.

[2022-01-28 08:52] xiaozongyang commented on #3059
/assignme

[2022-01-28 14:54] GrapeBaBa opened #4017 "make lint failed"
When run `make lint`, this error `toml package is needed for using pyproject.toml as a configuration file` happened.

[2022-01-28 17:22] wangzhen11aaa commented on #3995
Ok.

[2022-01-29 03:19] GrapeBaBa commented on #3994
/assignme

[2022-01-29 14:22] wangzhen11aaa opened #4026 "Can we make the ci tests on local machine more friendly?"
Hi everyone,
 Before we launch a new tests begin, can we use some scripts to clean the old meta data and make databend-query be ready to make a brand new test. Otherwise we need to delete the (user/database) meta data manully, that's not friendly.
  Or we have trick to complete this task.

[2022-01-29 14:28] BohuTANG commented on #4026
`make clean` will do that.

Maybe the bette way is that we should write all the data to a directory like `_test_datas` for all the tests, and auto clean this directory when the new tests setup.

[2022-01-29 15:08] wangzhen11aaa commented on #4026
ok, got it.

[2022-01-30 02:37] #3938 closed

[2022-01-30 02:49] BohuTANG commented on #4017
`yapf -ri --style='{based_on_style: pep8}'  tests/ ` works

[2022-01-30 03:51] GrapeBaBa commented on #4017
/assignme

[2022-01-30 05:02] #4017 closed

[2022-01-30 10:07] sundy-li opened #4029 "datavalues2 && aggregate functions [wip @sundy-li ]"

[2022-01-30 11:08] #3995 closed

[2022-01-30 12:18] BohuTANG opened #4033 "Refine the stateful tests directory"
https://github.com/datafuselabs/databend/tree/3e1b530b9fa8ab16c140c9f4f16e582d9e768b8c/tests/suites/1_stateful

Move `12_0000_copy_s3.*` to `copy` folder, and rename to `00_0000_copy_s3`.
Move `12_0001_streaming_load.*`  to `load` folder, and rename to `00_0000_streaming_load`.

[2022-01-31 03:24] #4033 closed

[2022-01-31 03:57] BohuTANG commented on #3428
Due to the Chinese Lunar New Year 2022, we will have a delay in this version, happy Chinese new year :tiger: !

[2022-02-01 15:24] #4026 closed

[2022-02-02 01:51] #4029 closed

[2022-02-02 03:54] junli1026 opened #4040 "bug: comparison type coercion error"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

laster master

### What's Wrong?

[code]

### What You Expected?

```select 1 = false ``` should return false/0

### How to Reproduce?

_No response_

### Anything Else?

_No response_

### Are you willing to submit PR?

- [ ] Yes I am willing t

[2022-02-02 07:54] likg227 commented on #4040
`select -1 = true `should also return false/0, just like MySQL?

[2022-02-02 08:04] junli1026 commented on #4040
Maybe we should stick with strict typing, ```select 1 = false``` returning error actually makes sense to me... Jus tried Postgre, it just returns error in this case.

[2022-02-02 08:26] likg227 commented on #4040
Boolean can't be compared with an integer in PostgreSQL, in contrast to MySQL.  Actually, the constants TRUE and FALSE evaluate to 1 and 0 in MySQL, so `select -1 = true` will return false. My question is should we behave like MySQL?

[2022-02-02 09:40] junli1026 commented on #4040
We are talking about the same thing, a strict and strong typed SQL lang or not.

But I mistook this behavior for another one, which caused the comparison between Integer and Boolean -- I thought the root cause is type coercion.

Close this bug because the behavior is by design.

[2022-02-02 09:40] #4040 closed

[2022-02-02 09:43] junli1026 commented on #4040
I thought it was this type coercion bug that caused another one I met. But obviously the type coercion has its design philosophy and the one I met was caused by a different reason.
So close this bug.

[2022-02-02 14:04] wangzhen11aaa opened #4044 "Add comments for codes to increase readability."
Hi, all.
  Good comments are as good/important as codes, they are good abstraction and summray for a bunch of codes, though codes can express themselves. For the `Maintainability` and `Readability` especially for new one.
   RFC.

[2022-02-02 14:12] wangzhen11aaa commented on #4044
How about prefixing "_"  in to variable name whoes life will end out local scope?

[2022-02-02 15:51] wangzhen11aaa commented on #4044
/assignme

[2022-02-03 04:27] wangzhen11aaa commented on #4044
Need some help.

`pub struct Series(pub Arc<dyn SeriesTrait>);`

impl<'a> AsRef<(dyn SeriesTrait + 'a)> for Series {
    fn as_ref(&self) -> &(dyn SeriesTrait + 'a) {
        &*self.0
    }
}

I think the `pub struct Series(pub Arc<dyn SeriesTrait>);` here needs some comments, This kind of code not found in the rust programming. PLS give some references.

@BohuTANG

[2022-02-03 05:19] BohuTANG commented on #3933
From the experience of snow, it seems that the settings should bind with tenant not the cluster, from the user side, he shouldn't know what's the cluster is.
So, what is the purpose related to the cluster setting here?

[2022-02-03 05:45] zhang2014 commented on #3933
This can be useful when opening the features of different warehouses. For example, on user side, the test cluster (read-only) and the online cluster may share the same data, but they have different settings. But it seems that global is more suitable for tenants.

Possible solutions:
[code]

[2022-02-03 16:38] wangzhen11aaa commented on #3994
https://github.com/ClickHouse/ClickHouse/pull/23978/commits

[2022-02-04 09:35] BohuTANG commented on #3994
It looks like Scalar UDF in databend, we have implemented it:
https://github.com/datafuselabs/databend/blob/8452db7e49afbcef3e9b21539bb22b9ab0c3e697/tests/suites/0_stateless/05_ddl/05_0010_ddl_create_udf.sql

The purpose of this issue is to implement Tabular SQL UDFs.

[2022-02-05 01:00] wangzhen11aaa commented on #3995
I think the structure of  stateless tests is not very neat and clean-organized. And test is part of the system, good-organized structure is good for maintainance. Thank you.

The definitions about these categories can be refered in the following link.
https://www.geeksforgeeks.org/sql-ddl-dql-dml-dcl-tcl-commands/

cc @BohuTANG

[2022-02-05 01:54] BohuTANG commented on #3995
The new `docs` layout more senses now:
https://github.com/datafuselabs/databend/tree/84ea295a604a0d68dc910b7b2545b23ed4d675c4/docs/user/01-sql-statement

stateless-test can be referenced to it.

[2022-02-05 08:47] BohuTANG opened #4054 "Denied if tenant is empty when get meta client"

[2022-02-05 10:07] BohuTANG opened #4055 "Add created_on to DatabaseMeta"
Like https://github.com/datafuselabs/databend/blob/7f3b25a634227ab1133fccb8b9b450603ea7fe30/common/meta/types/src/table.rs#L110

[2022-02-05 11:19] LiuYuHui commented on #4055
/assignme

[2022-02-05 15:30] lianghanzhen commented on #3976
/assignme

[2022-02-05 23:01] wangzhen11aaa commented on #4044
https://www.python.org/dev/peps/pep-0008/#maximum-line-length

[2022-02-06 00:41] BohuTANG opened #4060 "table/database meta also need ModifiedOn"
@BohuTANG Do we also need ModifiedOn?

_Originally posted by @ariesdevil in https://github.com/datafuselabs/databend/issues/4056#issuecomment-1030633613_

[2022-02-06 00:42] #4055 closed

[2022-02-06 00:44] LiuYuHui commented on #4060
/assignme

[2022-02-06 01:02] BohuTANG commented on #4044
Thank you for your suggestions, looks like we could use rustfmt comment_width to normalize them.

[2022-02-06 01:49] wangzhen11aaa commented on #4044
Do not find the option or argument named `comment_width `, and I tried the rustfmt with one line containing 400+ characters, running it does not give any change. That's awkward. :(

[2022-02-06 03:32] BohuTANG opened #4062 "Upgrade packed_simd to 3.6.7 for arrow2"
packed_simd v3.6.7 fixed the llvm_asm issue:
https://github.com/rust-lang/packed_simd/commit/6d3c23e0d289c4d5553f3e1582f17b5c78debf8d

After the upgrade, we can upgrade rust toolchain now.

[2022-02-06 03:37] BohuTANG commented on #4062
cc @jorgecarleitao

[2022-02-06 03:49] BohuTANG commented on #4044
It works with to `rustfmt.toml`:
[code]

There is a document about it here:
https://github.com/rust-lang/rustfmt/blob/master/Configurations.md#comment_width

[2022-02-06 05:57] #4054 closed

[2022-02-06 06:07] jorgecarleitao commented on #4062
Thanks! arrow2 depends on `0.3`, so the patch bump should work out of the box.

Note that I am fixing portable-simd here https://github.com/rust-lang/portable-simd/pull/238 to allow arrow2 to depend on it (see https://github.com/jorgecarleitao/arrow2/pull/747 and last comment there)

[2022-02-06 06:37] wangzhen11aaa commented on #4044
Then, Do we need to set some value and refact those codes.

[2022-02-06 13:19] #3206 closed

[2022-02-06 13:29] BohuTANG commented on #4044
Let's do it :D

[2022-02-06 14:09] #281 closed

[2022-02-06 14:09] #711 closed

[2022-02-06 14:10] #504 closed

[2022-02-06 14:11] #440 closed

[2022-02-06 14:12] #977 closed

[2022-02-06 14:13] #826 closed

[2022-02-06 14:13] #1186 closed

[2022-02-06 14:14] #1527 closed

[2022-02-06 14:15] #1471 closed

[2022-02-06 14:16] BohuTANG commented on #1766
Added python driver intergration test.

[2022-02-06 14:16] #1766 closed

[2022-02-06 14:16] #1763 closed

[2022-02-06 14:16] #1560 closed

[2022-02-06 14:17] #2181 closed

[2022-02-06 14:17] #2128 closed

[2022-02-06 14:19] #3559 closed

[2022-02-06 14:22] #2541 closed

[2022-02-06 16:43] BlackSmith96 commented on #3792
/assignme

[2022-02-08 02:07] sundy-li commented on #3974
I'm working on `exists` function.

[2022-02-08 04:31] #4062 closed

[2022-02-08 05:45] sundy-li commented on #3973
@b41sh  hello, I will take this since it's an easy task and I want to make datavalue2 to be finished ASAP.

[2022-02-08 07:20] Xuanwo commented on #3975
- [x] ascii
- [x] bit_length
- [x] octet_length
- [x] char_length
- [x] character_length
- [x] ord
- [x] length

PR https://github.com/datafuselabs/databend/pull/4070 resolved all upper functions.

- [ ] bin
- [ ] hex
- [ ] oct
- [ ] repeat
- [ ] mid
- [ ] substr
- [ ] substring
- [ ] substring_index
- [ ] unhex
- [ ] locate
- [ ] position
- [ ] instr
- [ ] insert
- [ ] field
- [ ] concat
- [ ] re

[2022-02-08 08:19] GrapeBaBa commented on #3994
@BohuTANG @wangzhen11aaa Any other database open sourced support tabular function?

[2022-02-08 10:55] wangzhen11aaa commented on #3994
I think this article will give you some idea.

[2022-02-08 12:04] BohuTANG commented on #3994
I haven't seen yet, maybe have but it's not important for this issue :)

[2022-02-08 12:06] BohuTANG commented on #3994
BTW, databend already used tabular function: select * from numbers, it accepts an argument and returning blocks.

[2022-02-08 12:10] GrapeBaBa commented on #3994
Cool. Let me check it.

[2022-02-08 12:14] wangzhen11aaa commented on #3994
Is the following expression ture?
`Tabular function` = `Table Function`?

[2022-02-08 13:07] nange commented on #3050
/assignme

[2022-02-08 13:16] ZhiHanZ commented on #3916
interesting papers:
https://db.in.tum.de/people/sites/durner/papers/json-tiles-sigmod21.pdf

[2022-02-08 14:55] wangzhen11aaa commented on #4044
WIP

[2022-02-09 01:29] nange commented on #3069
/assignme

[2022-02-09 01:29] nange commented on #3057
/assignme

[2022-02-09 02:34] nange commented on #3056
/assignme

[2022-02-09 03:52] sundy-li opened #4078 "Feature: Migrate bloom_filter using datavalues2"
**Summary**

Description for this feature.

After #4074

`bloom_filter` mod is commented now.
[code]

[2022-02-09 04:05] sundy-li opened #4079 "Feature: full support of group by nullable column"
**Summary**

Description for this feature.

## Currently

we ignore the nulls to generate the hash key of the group by columns.

[code]

So the results are not correct in this query:
[code]

## How:

1. `a % 3 as c`  is `Nullable(UInt8)`. If `c` is `UInt8`, we can hash column `c` into `UInt8` Column using `fixed_hash`. But we should use extra bits to identify the null value,  so `UInt16` is used:

[2022-02-09 04:42] sundy-li commented on #3967
Target branch is main after #4074

[2022-02-09 04:42] #3977 closed

[2022-02-09 04:43] sundy-li commented on #3973
Done in #4074

[2022-02-09 04:43] #3973 closed

[2022-02-09 06:05] BohuTANG opened #4080 "Flaky test servers::http::http_query_handlers::test_async"
**Summary**

[code]

https://github.com/datafuselabs/databend/runs/5120558495?check_suite_focus=true#step:3:1255

[2022-02-09 06:08] ZhiHanZ commented on #3999
\assignme

[2022-02-09 10:21] sundy-li commented on #3974
Others all are done

[2022-02-09 10:21] #3974 closed

[2022-02-09 10:59] BohuTANG commented on #4080
I'll disable this test temporarily in #4082

[2022-02-09 11:10] drmingdrmer opened #4083 "Clean up MetaError"
`MetaError` includes several kinds of errors:
- Application Error: such as `IllegalUserInfoFormat`, which should return to the caller and won't affect metasrv itself.
- Internal flow control error: such as `ForwardToLeader`, which affects metasrv execution but is not necessary to return to the caller.
- Fatal error: `MetaStorageError`, which should shutdown metasrv at once.
- Others ...

Sub error

[2022-02-09 14:25] ZhiHanZ opened #4085 "[DOC] improve build/test document to include dev container"
**Summary**
dev container was introduced in https://github.com/datafuselabs/databend/pull/3853 which introduced a way to build and test on databend only with Docker.
But currently it did not incorporated in the development guidance or getting started guidance and could be improved.

[2022-02-09 15:25] #3785 closed

[2022-02-09 15:41] #4000 closed

[2022-02-09 15:43] drmingdrmer opened #4087 "fill in some useful stuff into Config::check()"
Hmm... Yes it's a little bit dirty in this commit.
So let me fill in some useful stuff later. Such as `--single` and `--join` can not be specified together, or `--join` must not be set to itself.

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/databend/pull/4084#discussion_r802803219_

[2022-02-09 15:54] youngsofun commented on #4080
sorry for not noticing your message earlier
it is my fault, I reduced the sleep/wait time to avoid taking too much test running time, I tested it multi-times on my mac.
I will try to find a better way to make this test stable

[2022-02-09 17:15] wangzhen11aaa commented on #4079
/assignme.
Good chance to know the hashTable again.

[2022-02-10 01:21] BohuTANG commented on #3994
Mostly the same.

[2022-02-10 01:41] wangzhen11aaa commented on #3994
Thanks

[2022-02-10 02:24] wangzhen11aaa commented on #4079
Compared with Clickhouse with the same sql.
Clickhouse's result is more reasonable.

<img width="586" alt="image" src="https://user-images.githubusercontent.com/7311971/153324796-132b1007-153f-4560-af14-2ed9472b9198.png">

About this statement, I have a question.  If we have N = 40 maybe, then 320 bits will be used, what type will we use?

[2022-02-10 02:53] sundy-li commented on #4079
If it overflows u64, defaults to use String(binary) type.

[2022-02-10 05:28] wangzhen11aaa commented on #4079
ok

[2022-02-10 07:01] ariesdevil opened #4089 "Sticky IPs for MetaSrv when MetaSrv restart"
**Summary**
Currently metasrv boot and join nodes using IP address, this way will cause problems when metasrv restart and the leader IP is changed. When MetaSrv restarted and the leader IP is changed, the followers still try to connect with the leader with old IPs.

We should join nodes using hostname, then store them and connect through DNS resolver.

PS: As we already have gRPC DNS resolver, so

[2022-02-10 08:15] BohuTANG opened #4091 "Move the sql query rewritten from sql to interpreter"
**Summary**

There are some sql rewritten in the sql crate, such as:
[code]
It will be rewritten to the follows in sql mode:
[code]

Codes:
https://github.com/datafuselabs/databend/blob/18114cf60191b13eed0d7e3232682f20845e6759/query/src/sql/statements/statement_show_databases.rs#L45

**Problem**

1. The sql mod must know the underlying logic, such as `show databases` should know which table needs

[2022-02-10 08:16] BohuTANG commented on #4091
cc @zhang2014 @leiysky

[2022-02-10 08:16] lichuang commented on #4000
https://github.com/datafuselabs/databend/pull/4023

https://github.com/datafuselabs/databend/pull/4090

[2022-02-10 14:07] ariesdevil commented on #3807
The etcd way: https://etcd.io/docs/v3.5/op-guide/recovery/

[2022-02-10 18:04] drmingdrmer opened #4098 "Add test: MetaAPI: add table operation on absent db."
A `UnknownDatabase` error is expected.

`common/meta/api/src/meta_api_test_suite.rs`

[2022-02-10 23:14] wangzhen11aaa commented on #4089
/assignme

[2022-02-11 01:58] wangzhen11aaa commented on #4089
The metasrv  boots using 0.0.0.0,  ` (cfg.metric_api_address, "0.0.0.0:8000");` which seems not like a concrete ip address.

[2022-02-11 03:23] BohuTANG opened #4100 "Remove `crashme` function"
**Summary**

`crashme` is almost useless and dangerous, plan to remove it.

[2022-02-11 09:24] BohuTANG opened #4104 "COPY INTO <table> FROM"
**Summary**

Loads data from staged files to an existing table.

Tasks:
 - [x] #3586
 - [x] Copy INTO \<table\> from name internal stage #4437
 - [x] LIST { internalStage | externalStage } [ PATTERN = '<regex_pattern>' ]  #4472
 - [x] Streaming REST API put file to the stage

Reference:
https://docs.snowflake.com/en/sql-reference/sql/copy-into-table.html

[2022-02-11 09:58] BohuTANG commented on #4104
cc @Xuanwo
Since you are working on New DAL redesign tasks, feeling you will be interested in this task :D

[2022-02-11 09:58] Xuanwo opened #4105 "Enhancement: Add sha256sum check for ontime.csv"
In stateful test `01_0000_streaming_load`, we use scripts like the following to download test fixtures:

[code]

There are many problems:

- Download incomplete: If we `Ctrl+C` during the stateful test, we will never get the correct file again.
- Source file changed: `repo.databend.rs` is an s3 service, the file `ontime.csv` could be changed at any time.

So it's better for us to add sha256sum for

[2022-02-11 10:00] Xuanwo commented on #4104
I'm interested in letting the data flow freely :smile:

[2022-02-11 10:18] xihuanyuyetsinghua commented on #4105
assign me

[2022-02-11 10:19] xihuanyuyetsinghua commented on #4105
/assignme

[2022-02-11 13:47] sundy-li commented on #3972
I will finish the sign function as an example.

[2022-02-11 14:35] #4100 closed

[2022-02-12 02:42] jiangzhe commented on #4079
Why not combine the null bits for multiple columns to save space?
Use prefix or suffix byte to store all null bits in case of multiple columns.
Therefore group by no more than 8 columns, only requires one extra byte.

[2022-02-12 02:55] sundy-li commented on #4079
Yes, I also thought about this.  But we should introduce native `UInt24`, `UInt48` columns firstly.

[2022-02-12 03:37] zbtzbtzbt opened #4116 "more new data types"
**Summary**
we can add some other data types for databend
such as `bool` which only cost 1 bit.
such as `bitmap` `hll` which are commonly used in bigdata processing field.

[2022-02-12 04:49] PsiACE opened #4118 "flaky test: servers::http::http_query_handlers::test_http_service_tls_server_mutual_tls_faile"
**Summary**

https://github.com/datafuselabs/databend/runs/5165280760?check_suite_focus=true#step:3:1264

[2022-02-12 05:11] Xuanwo commented on #4118
Github action's log could be cleaned up after 90 days, please consider pasting the raw logs here for presisit.

[2022-02-12 06:43] sundy-li opened #4120 "Feature: Refactor `if` function to use macros instead of column viewer for better performance"
**Summary**

Description for this feature.

Function `if` is widely used, so we should take the performance seriously.

`if(a,b,c)`

1. if `a` is constant, then result is Column b or c, this is the fastest path.
2. if `b` is constant, c is constant or not ...
3. if `b` is nullable, c is nullable or not...

[2022-02-12 09:40] sundy-li commented on #4116
We already have bool types.

Yes, that'll be very valuable features.

[2022-02-12 09:48] sundy-li commented on #3975
I'll take functions from `left` to `char`.

[2022-02-12 11:48] wangzhen11aaa commented on #4079
This kind of type be friendly with the cache line, maybe.

[2022-02-12 12:05] #4089 closed

[2022-02-12 13:41] ClSlaid opened #4123 "bug: make docker may not work properly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

https://github.com/datafuselabs/databend/tree/f40e411ed1117aea8b1aa83e3f14fe289b84419e

### What's Wrong?

After forking and cloning the repo to my laptop, I tried building from source and running in docker.
[code]
and then run it
[code]
However

[2022-02-12 15:44] wangzhen11aaa commented on #1046
Hi, I came back again.

[2022-02-12 16:50] ZhiHanZ commented on #4123
Hi @ClSlaid , thank you for notification, command `make docker` mainly used to provide a docker for demo purpose and in production we use scripts from `make k8s-docker` to build databend-meta and databend-query separately and run them on production level kubernetes.
I think there are two tasks should be done for the demo dockerfile fix.
1. as you said, bump docker base image to debian:bullseye
2.

[2022-02-12 17:09] ClSlaid commented on #4123
You almost told me the answer, 🤣
I'll PR this morning.

[2022-02-13 01:57] sundy-li commented on #4105
But this's just a hash number,  is it deserved another file `ontime.sha1sum.txt` ?
I think just put it into shell is enough.

[2022-02-13 05:22] Xuanwo commented on #3326
/assign @Fedomn

[2022-02-13 05:23] BohuTANG opened #4128 "Alias not work: `select number as n from numbers(10) where n>10`"
**Summary**

[code]

[2022-02-13 05:25] BohuTANG commented on #4128
Is this not support or it's a bug? cc @zhyass @sundy-li

[2022-02-13 05:47] BohuTANG commented on #4128
I think it's a bug on alias with `where` here, `order by` with alias works well:
[code]

[2022-02-13 06:07] #3326 closed

[2022-02-13 06:43] ClSlaid commented on #4123
`debian:bullseye` does not contain `GLIBC 2.32` and `GLIBC 2.33`, which makes the two programs not runnable, maybe use `ubuntu:22.04` instead.

[2022-02-13 07:13] sundy-li commented on #4128
It's not a bug. See:  https://github.com/datafuselabs/databend/blob/acc924fd890d73bac5860eacbea3f97e2c1d744c/docs/dev/rfcs/query/0002-plan-expression.md

We follow the standard SQL alias behavior.

[2022-02-13 09:18] #4123 closed

[2022-02-13 09:41] BohuTANG commented on #4128
Thanks for your information! @sundy-li

This is a bit weird(feel this is useful for users), almost most SQL database(MySQL/ClickHouse/Snowflake, except **PostgreSQL**) supports this.
For example:
[code]
I think we should support it for users not the standard.
Any thoughts? Also cc @leiysky

[2022-02-13 09:45] BohuTANG opened #4132 "Bug: `use database` in management mode"
**Summary**

Start the databend-query under management mode:
[code]

Test:
[code]

[2022-02-13 09:45] BohuTANG commented on #4132
Maybe you are interested in this @TCeason :/

[2022-02-13 09:48] Veeupup commented on #3975
@likg227 maybe u can take the following function to have some fun!
- [ ] locate
- [ ] position

[2022-02-13 09:54] TCeason commented on #4132
Yeah, that’s a good issue.

[2022-02-13 10:03] #4083 closed

[2022-02-13 11:25] sundy-li commented on #4128
@leiysky already explained it in  #1553

Closing this to there.

[2022-02-13 11:25] #4128 closed

[2022-02-13 13:29] BohuTANG opened #4133 "Can we apply the ` privileges check` inside the show plans? `Show(ShowPlan)`"
Can we apply the ` privileges check` inside the show plans?  `Show(ShowPlan)`

[code]

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/pull/4130#discussion_r805324657_

[2022-02-13 13:38] BohuTANG opened #4134 "test_management_mode test actually not running"
**Summary**

There are 2 issues for test_management_mode:
1. `test_management_mode test` actually not running, the CI pass is in wrong status:
https://github.com/datafuselabs/databend/runs/5172713388?check_suite_focus=true

2. Add `test_management_mode test` to production(now only run in Developing)
https://github.com/datafuselabs/databend/blob/9b004e0bc2969c42ee1658e2c3a11552cb9fead9/.github/work

[2022-02-13 13:50] TCeason commented on #4134
Got I’ll have a look

[2022-02-14 01:15] sundy-li opened #4135 "bug: Expr::Between analyze is incorrect"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

latest

### What's Wrong?

[code]

### What You Expected?

none

### How to Reproduce?

_No response_

### Anything Else?

_No response_

### Are you willing to submit PR?

- [X] Yes I am willing to submit a PR!

[2022-02-14 01:18] #4091 closed

[2022-02-14 02:41] #4135 closed

[2022-02-14 03:06] drmingdrmer opened #4137 "Bug: metasrv should not resolve the address when initializing"
Raft config `raft_api_host` can be a hostname that will be resolved by DNS when using it.
This makes it easy to deploy a raft node in k8s when the ip address of a container changes.

Currently, raft resolves the hostname and store the result ip address in its store and will never change.
This just invalidates the dynamic address mechanism.

Solution:
- Do not resolve address when initializing a no

[2022-02-14 03:49] TCeason commented on #4132
I see the code in `query/src/catalogs/impls/database_catalog.rs`, and find some other err.

[code]
And if I reconnect the server, and execute these cmd `show databases` | `create database` | `drop database` directly, all of them are work.

[2022-02-14 03:50] TCeason commented on #4132
And I have some question :
a > why the show databases will return the err: Tenant can not empty(while `get table`). not `get database`
b > the management mode disables the SelectPlan? `Access denied for operation:"SelectPlan" in management-mode.`

[2022-02-14 03:59] BohuTANG commented on #4132
We should add some logs to make we can trace them, like:
1. which tenant create database
2. which tenant show databases

Yes, the management mode only let the meta operation, it likes a meta client to talk with our metasrv(Or embedded).
Check is here:
https://github.com/datafuselabs/databend/blob/86fab7e1e46ced7806a5a20669b45369f6ec6668/query/src/interpreters/access/management_mode_access.rs#L33-L

[2022-02-14 04:53] Xuanwo commented on #3436
dal2 has replaced dal in #4081

[2022-02-14 04:53] #3436 closed

[2022-02-14 05:30] ZhiHanZ opened #4140 "Feature: dal2 layer metrics"
**Summary**
It would be nice to monitor on file system or S3 volume changes through dal2 metrics.
some of the metrics suggestions
 Metric name| Metric type | Labels/tags | Description
| ---------- | ----------- | ----------- | -------- |
| dal.s3.read_bytes | Gauge | `tenant`=&lt;tenant-name&gt;  `cluster`=&lt;cluster-name&gt;  <br>| total read bytes on S3 given tenant and cluster|
| dal.s3.read_o

[2022-02-14 05:36] #4133 closed

[2022-02-14 06:14] BohuTANG commented on #3586
Plan to experience the new dal design, I take this issue.
Feel free to comments  @GrapeBaBa

[2022-02-14 06:31] BohuTANG opened #4141 "Consider splitting `sql_parser.rs` into multiple smaller files"
**Summary**

`sql_parser.rs` is more than 1K lines, consider splitting it to `parsers` fold:
[code]

[2022-02-14 06:33] PsiACE commented on #3808
#4141

[2022-02-14 06:33] #3808 closed

[2022-02-14 09:19] BohuTANG opened #4145 "`common-dal` is unused, we can remove it."
lgtm, and the common-dal is unused, we can remove it.

_Originally posted by @PsiACE in https://github.com/datafuselabs/databend/pull/4142#pullrequestreview-881338928_

[2022-02-14 09:32] ZhiHanZ commented on #4140
I think it should be migrated to https://github.com/datafuselabs/opendal

[2022-02-14 11:08] Xuanwo commented on #4140
`opendal` has `Layer` support, so we can just implement inside databend without touching `opendal`.

[2022-02-14 14:12] #4087 closed

[2022-02-14 15:35] Xuanwo commented on #4009
Occurred at https://github.com/datafuselabs/databend/pull/4146 too, I will fix it.

/assignme

[2022-02-14 16:53] ariesdevil commented on #4137
Let's make another issue for this.

[2022-02-14 16:55] ariesdevil opened #4149 "Refactor dns resolver that make it more robust and easy debugable."
**Summary**
Origin post by @ZhiHanZ at https://github.com/datafuselabs/databend/issues/4137#issuecomment-1039308427

[2022-02-14 17:27] wangzhen11aaa commented on #4079
This method will be very similar with clickhouse's way. It uses the array<UInt8, getBitmapSize<T>()> to represent the nullable.
We dhould some Type promotion method to compute the next-higher level Type. right?

[2022-02-14 17:28] wangzhen11aaa commented on #4145
/assignme

[2022-02-14 17:39] drmingdrmer opened #4151 "Let DNSResolver returns structured errors"
Using ErrorCode in a mod forces all depending mods to use ErrorCode as an error return value.
It is sometimes harmful to a mod that needs an error type with more than one variant, or to a mod that does not need to deal with every ErrorCode.

To relieve the depending mod from this trouble, introduce a typed error for DNSResolver and impl a `From<DNSError>` for ErrorCode to let the old code run smoo

[2022-02-15 03:56] BohuTANG opened #4153 "opendal: scheme must be provided"
**Summary**

How to produce:

Server starts with s3 storage:
[code]
client:
[code]

Server log:
[code]

[2022-02-15 04:08] #4145 closed

[2022-02-15 06:01] drmingdrmer opened #4154 "metasrv: split config raft-api-host into listening host and connecting host."
Replace raft-api-host with two configs:
- raft-listen-host: the local network address to listen. By default it is '0.0.0.0'. This config does not need to be stored in raft-store.
- raft-advertise-host: the hostname that other nodes will use to connect this node.  This host should be stored in raft store and be replicated to the raft cluster, i.e., when calling `add_node()`.

Example of setting up

[2022-02-15 06:36] Xuanwo commented on #4153
aws rust sdk will check the endpoint internally.

- We can use `https://databend-shared.s3.amazonaws.com` as a workaround.
- opendal will add support for those endpoints without the scheme.

[2022-02-15 06:57] #4153 closed

[2022-02-15 07:25] Xuanwo opened #4157 "query: Improve storage accessor initate logic"
## Backgroud

We are using `get_storage_accessor` to get a storage accessor for underlying storage operation. However, unlike indicated as the name `get_xxx`, it's a heavy operation that will check and init storage clients.

Even worse, databend-query have multiple `query`s in the same `session`, every time we call `get_storage_accessor`, we are initiating the storage client.

## Changes

So it's

[2022-02-15 07:29] BohuTANG commented on #4157
I removed the `good first issue` label, since it's high priority issue.

[2022-02-15 07:42] BohuTANG commented on #4157
We can place the `init_storage_accessor` to SessionManager :
https://github.com/datafuselabs/databend/blob/758a5cba04bee63c91ce8b7edc767fe7e16c35b6/query/src/bin/databend-query.rs#L75

[2022-02-15 07:42] BohuTANG commented on #4157
We can place the `init_storage_accessor` to SessionManager :
https://github.com/datafuselabs/databend/blob/758a5cba04bee63c91ce8b7edc767fe7e16c35b6/query/src/bin/databend-query.rs#L75

[2022-02-15 08:04] BohuTANG commented on #4157
Let me have a try

[2022-02-15 08:20] lichuang commented on #4154
IMHO, maybe: use "raft-listen-client-host" instead of "raft-listen-host", and use "raft-listen-peer-host" instead of "raft-advertise-host" would be more clearly.

[2022-02-15 08:37] #4151 closed

[2022-02-15 08:49] dantengsky commented on #4153
Confirmed in EC2 test box

[2022-02-15 09:26] drmingdrmer commented on #4154
These two hosts are both for internal raft communication, not for client API.
The client API listening host:port is defined by Config::grpc_api_address in `metasrv/src/configs/config.rs`

raft-listen-host is the host a tcp will be listening on.
raft-advertise-host is the host for RaftNetwork to create a client that connects to  raft-listen-host

[2022-02-15 10:01] everpcpc commented on #3383
MySQL does not have a builtin boolean type actually, maybe it is OK to change all boolean response here to a `u8`?

[2022-02-15 10:21] #4157 closed

[2022-02-15 12:42] sundy-li commented on #3383
Some database systems take `boolean` as the alias of `u8`, eg: `ClickHouse`, `doris-vectorized` ...

Though  `bitmap` compared to  `Vec<u8>`, it saves memory spaces by 8 times, its performance may not be better than `Vec<u8>`. Because computers do not operate on bits. The memory bus is byte-addressed, and processors operate on register words, which are typically four to eight bytes, or even wider.

[2022-02-15 12:52] #4009 closed

[2022-02-15 14:43] zbtzbtzbt opened #4163 "Todo items for indexes"
**Summary**

Current we have following three (or four?) indexs in Databend
[code]

#### Some items we need todo:

- [ ] fulltext index https://github.com/datafuselabs/databend/issues/3915
- [ ] refactor bloom_filter into datavalues2
- [ ] try different hash algorithm in bloom filter such as fasthash::murmur3(wildly used in redis bloom filter) to find the best hash algo for databend
- [ ] try more

[2022-02-15 14:55] zbtzbtzbt commented on #4116
ok.

BTW, I am learning rust in bilibili databend, your courses helped a lot, a big thank you, coach li.

[2022-02-15 15:12] Xuanwo commented on #4116
I love the name: Coach Li @sundy-li

[2022-02-15 15:14] PsiACE commented on #4141
https://github.com/datafuselabs/databend/pull/4144 has been merged and I think we can close it.

[2022-02-15 15:14] #4141 closed

[2022-02-15 15:20] Xuanwo commented on #4141
We can use `fixes #xxx, #xxx` to close multiple issues :rocket:

[2022-02-16 02:58] sundy-li commented on #3975
I will take:

- [ ] instr
- [ ] insert
- [ ] field
- [ ] concat
- [ ] replace
- [ ] strcmp

[2022-02-16 03:40] BohuTANG commented on #3586
This feature need openDAL list: https://github.com/datafuselabs/opendal/issues/12 cc @Xuanwo

[2022-02-16 03:40] RainnyNightLover commented on #4105
I try to download the onetime.csv file and its hash file onetime_hash.sha256 at the same time, the hash file is so small that it has a low chance of failure.
 compare the hash value before running the test
1、prepare the file by
sha256sum ontime.csv > **ontime_hash.sha256**
its content is:
429c47cdd49b7d75eec9b9244c8b1288edd132506203e37d2d1e70e1ac1eccc7  ontime.csv
2、I will check it by
cat **ontime

[2022-02-16 03:43] PsiACE commented on #3972
i will take

- [ ] abs
- [ ] angle

[2022-02-16 04:30] PsiACE commented on #4105
According to the description, we may not need to put it on the server and simply need to check it.

[2022-02-16 06:45] sundy-li commented on #3972
I will take the others, let's finish the migration ASAP.

[2022-02-16 07:11] #4120 closed

[2022-02-16 10:33] #4154 closed

[2022-02-16 10:34] ClSlaid commented on #4098
/assign_me

[2022-02-16 10:36] BohuTANG opened #4174 "Flaky test: servers::http::http_query_handlers::test_http_handler_tls_server"
**Summary**

This is the third time see it fails:
[code]

[2022-02-16 11:07] ClSlaid commented on #4098
BTW, I found a strange `-`(`u+2010` instead of `u+002d`) in this [line](https://github.com/datafuselabs/databend/blob/cb1557caca976ae10d55ef848275b5540daf609d/common/meta/api/src/meta_api_test_suite.rs#L637), is this intention?
![图片](https://user-images.githubusercontent.com/44747719/154252146-f6ee84b8-ac2f-461b-ac69-1a54efaa3056.png)

[2022-02-16 11:22] drmingdrmer commented on #4098
Good catch!
Of cause not intentional. :DDD

[2022-02-16 14:49] ZhiHanZ opened #4177 "Feature: Consider merge metactl to bendctl"
**Summary**
metactl is used for debugging and devops for databend-meta system acts as a single binary,  I think we could merge metactl with bendctl for the same purpose

[2022-02-16 15:23] wubx opened #4179 "Login with mysql client lost username will be hang"
**Summary**

use mysql client login databend lost username will be hang.

$mysql -h127.0.0.1 -P3307

databend-query  + databend-meta
[code]
Note:  User column is: NULL

Please make errors like single databend-query.

[2022-02-16 18:38] ClSlaid opened #4180 "[Feature][CI] replace CI's linker with `mold`"
**Summary**
I learned about [`mold`](https://github.com/rui314/mold) the linker from this [tweet](https://twitter.com/lichuang/status/1493156835477852163) and it turned out to be much faster and consumes much less memory than `gold`.

Here are my laptop's configurations:
[code]
time result:
[code]

Almost 60% reduction of time usage and 90% reduction of maximum memory consumption.

[2022-02-17 01:24] sundy-li commented on #4180
LGTM, But mold did not support MacOsX, it can be specified to just link on Linux system.

[2022-02-17 01:28] ZhiHanZ commented on #4180
zig linker also sounds good for musl/cross compile purpose，

https://github.com/messense/cargo-zigbuild

[2022-02-17 01:30] #3970 closed

[2022-02-17 04:00] PsiACE commented on #4180
Yes, mold is good enough for linux.

It seems that cargo-zigbuild is not able to complete the build of Databend locally for me and needs further investigation.

[2022-02-17 04:03] Xuanwo commented on #4180
Well, I really don't like `musl` for its poor alloc performance.

- [Why does musl make my Rust code so slow?](https://andygrove.io/2020/05/why-musl-extremely-slow/)
- [Optimizing Rust Binaries: Observation of Musl versus Glibc and Jemalloc versus System Alloc](https://users.rust-lang.org/t/optimizing-rust-binaries-observation-of-musl-versus-glibc-and-jemalloc-versus-system-alloc/8499)

[2022-02-17 04:11] ZhiHanZ opened #4183 "change raft-store advertise environment"
environment not changed

_Originally posted by @ZhiHanZ in https://github.com/datafuselabs/databend/pull/4169#discussion_r808659586_

[2022-02-17 04:14] Xuanwo commented on #4180
I do think `mold` is good enough to be used in our CI (as I used it locally too). @ClSlaid Would you like to try to do the replacement?

In order to make `mold` work, maybe we need to:

- Only run `mold` on Linux platform
  - maybe via env instead of using `if` in workflows (`CARGO_TARGET_<triple>_LINKER`, `CARGO_TARGET_<triple>_RUSTFLAGS`)
- Figure how to get `llvm` setup
  - maybe it is already

[2022-02-17 04:16] ClSlaid commented on #4180
I'll take a look.

[2022-02-17 05:47] #4105 closed

[2022-02-17 05:53] sundy-li opened #4186 "bug: Compile times double between v0.6.65-nightly vs v0.6.66-nightly"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.6.66-nightly

### What's Wrong?

build release:

Before:
    Finished release [optimized + debuginfo] target(s) in 6m 50s

After:
    Finished release [optimized + debuginfo] target(s) in 11m 31s

### What You Expected?

 x

### How to Reprod

[2022-02-17 05:55] flaneur2020 opened #4187 "[RBAC] Display roles info on SHOW GRANTS"
**Tracking Issue**

- #2793

**Summary**

after allowing grant roles to an user, we can display the users in the SHOW GRANTS statement.

[2022-02-17 06:39] ZhiHanZ opened #4188 "bug: [Build] arm64 based release k8s docker build without libssl library dependencies"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

v0.6.66

### What's Wrong?

currently we use cross(https://github.com/cross-rs/cross) for arm64 based cross compile and wrap them into a docker image, but seems like the base image has no libssl related library which introduce failure

### What

[2022-02-17 06:49] b41sh commented on #3915
/assignme

[2022-02-17 07:09] zhyass opened #4189 "bug: datetime64 cast type panic"
[code]

[2022-02-17 07:45] PsiACE commented on #4186
/assignme

For now, adding `common-functions = { codegen-units = 4 }` to `Cargo.toml` is a possible solution.

after:      Finished release [optimized + debuginfo] target(s) in 7m 57s

More investigation is needed and maybe I will find a better solution later.

[2022-02-17 07:54] b41sh commented on #3916
/assignme

[2022-02-17 08:27] #4189 closed

[2022-02-17 08:33] #3799 closed

[2022-02-17 09:21] wangzhen11aaa commented on #4177
Interesting. Give more details?

[2022-02-17 09:21] flaneur2020 opened #4193 "[RBAC] Allow grant/revoke privilege from/to Role"
**Tracking**

- #2793

**Summary**

- Create/Drop Role
- Grant to [Role]

**References**

- https://docs.snowflake.com/en/sql-reference/sql/grant-privilege.html

[2022-02-17 10:20] sundy-li commented on #4186
I think it may relate to two fat matches of numeric datatypes in `pow`, `log` ...

[2022-02-17 13:20] sundy-li opened #4197 "performance drop 3 times after bump up opendal"
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

Before: DatabendQuery v-0.1.0-d2256c1-simd(1.60.0-nightly-2022-02-16T01:58:34.837999309+00:00)
Current :  2022-02-17 latest version

### What's Wrong?

ontime datasets
Query:
[code]

Before:  0.143 sec
After: 0.407 sec

### What You Expected?

x

[2022-02-17 13:21] sundy-li commented on #4197
@Xuanwo

[2022-02-17 13:26] sundy-li commented on #3084
https://perf.rust-lang.org/

[2022-02-17 16:55] Xuanwo commented on #4197
It's quite wired, in opendal v0.0.3 we introduce a fix which improve the performance on s3 a lot.

Can you provide the following details so that I can figure out what happened and find a solution:

- dataset
- SQL to create the table
- the test env: which storage scheme are you using? (fs? on tmpfs? local SSD?)

[2022-02-18 01:12] sundy-li commented on #4197
It's benched on Local SSD， I think any dataset(such as ontime)  using fuse engine can encounter this issue.

[2022-02-18 01:17] BohuTANG commented on #4197
This may be helpful https://databend.rs/learn/lessons/analyze-ontime-with-databend-on-ec2-and-s3
Note: This guidance is for s3 storage, if we not set the env, it will use the local disk.
cc @Xuanwo

[2022-02-18 01:51] lroolle commented on #4183
/assignme

[2022-02-18 01:53] lroolle commented on #4183
Already fixed in e5e315de2d50e4b119fd1b2e94c93e189450a29d

[2022-02-18 02:06] #4183 closed

[2022-02-18 02:06] drmingdrmer opened #4198 "restore metasrv from exported data"

[2022-02-18 04:25] Xuanwo commented on #4197
SeekableReader is not suitable for local fs, I'm working on a solution.

[2022-02-18 06:21] Xuanwo commented on #4197
Benchmark results:

## Old Query

DatabendQuery v-0.1.0-d2256c1-simd(1.60.0-nightly-2022-02-16T01:58:34.837999309+00:00)

![image](https://user-images.githubusercontent.com/5351546/154628712-2128120f-70f5-45c5-829c-a06d5dcda44b.png)

## Current main

[code]

![image](https://user-images.githubusercontent.com/5351546/154628804-7f3e4c6d-8fef-4ab8-bd06-36c1f7a75052.png)

## After optimized

![image](

[2022-02-18 06:58] xiaozongyang commented on #3059
Hi @sundy-li, I want to make it clear about details of this feature,
1. Do we need support multiple charset encoding? Or just utf-8 is enough
2. Is there a limit about file size? And is there a limit or contract about the extension name of the file?
3. The expected implementation is streaming or batching?
    - streaming: an iterator will be returned, and every time it's called some piece of strin

[2022-02-18 09:53] ClSlaid commented on #4180
https://github.com/datafuselabs/databend/runs/5245603718?check_suite_focus=true#step:3:258
Oops, seems like the `mold` package is only available for `apt` on `ubuntu-22.04` or later versions, while GitHub only offers at most `ubuntu-20.04`.
Maybe we can try to use [`setup-mold`](https://github.com/Warchant/setup-mold) project.

[2022-02-18 10:02] flaneur2020 opened #4201 "[RBAC] Allow grant role to user/role"
**Tracking**

- https://github.com/datafuselabs/databend/issues/2793

**Summary**

- add GRANT ROLE statement and interpreters

[2022-02-18 10:05] flaneur2020 opened #4202 "[RBAC] ALTER ROLE [ IF EXISTS ] RENAME TO <new_name>"
**Tracking**

- #2793

[2022-02-18 14:17] #3795 closed

[2022-02-18 14:17] #3967 closed

[2022-02-18 14:17] #3972 closed

[2022-02-18 14:17] #3975 closed

[2022-02-18 16:55] Xuanwo commented on #3059
@xiaozongyang Welcome help review the draft PR: https://github.com/datafuselabs/databend/pull/4170 :laughing:

[2022-02-19 16:12] ZhiHanZ opened #4205 "Feature: Integrate tokio metrics for query task based tokio runtime monitoring"
**Summary**
Tokio introduced  tokio metrics https://github.com/tokio-rs/tokio-metrics for task based tokio runtime monitoring,
For example, it would illustrate the idle threads, idle duration in a single task, (refered to the axum example)
![image](https://user-images.githubusercontent.com/25170437/154808944-1de69ee1-4440-4568-96fc-d50c5c8457db.png)
I think it is worth a try to provide query level

[2022-02-19 16:38] PsiACE commented on #4205
/assignme

I want to try it.

[2022-02-20 15:58] linyihai commented on #3352
I am learning rust language and this question suits me well.

[2022-02-20 16:02] linyihai commented on #3352
I'm learning rust language, I'll take a look

[2022-02-20 16:45] wangzhen11aaa opened #4206 "bug: insert into with if not successed."
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

master branch

### What's Wrong?

insert into t(a,b)  select if (number % 3 = 1, null, number) as a, number + 3 as b from numbers(10);

2022-02-20T16:39:40.056948Z ERROR common_tracing::panic_hook: panicked at 'assertion failed: !least_supertype

[2022-02-21 03:32] xiaozongyang commented on #3059
@BohuTANG @Xuanwo It seems that this issue is duplicated, should I close this it?

[2022-02-21 03:58] sundy-li commented on #3059
Yes, Let's move to stage style.

[2022-02-21 03:58] #3059 closed

[2022-02-21 04:26] everpcpc opened #4208 "[CLI]use of deprecated struct `clap::App`: Replaced with `Command`"
**Summary**

use of deprecated struct `clap::App`: Replaced with `Command`

[2022-02-21 04:45] PsiACE commented on #4208
/assignme

[2022-02-21 04:51] #4137 closed

[2022-02-21 06:02] #4206 closed

[2022-02-21 07:02] drmingdrmer opened #4210 "Draft: move pool creation out of io runtime"
TODO: describe the problem and the proposed solution

[2022-02-22 05:30] #4193 closed

[2022-02-22 07:37] flaneur2020 commented on #4202
I think this issue can be tagged as a good first issue 🤔

[2022-02-22 11:12] lichuang opened #4218 "bug: In K8S,if meta node use K8S pod host name as advertize host, the meta cannot join a cluster success."
### Search before asking

- [X] I had searched in the [issues](https://github.com/datafuselabs/databend/issues) and found no similar issues.

### Version

0.70

### What's Wrong?

bug: In K8S,if meta node use K8S pod host name as advertize host, the meta cannot join a cluster  success.

### What You Expected?

join cluster.

### How to Reproduce?

_No response_

### Anything Else?

_No response_

[2022-02-22 12:07] nange commented on #3071
This feature is supported now. So the issue can be closed. @BohuTANG @sundy-li

[2022-02-22 12:08] nange commented on #3067
This feature is supported now. So the issue can be closed. @BohuTANG @sundy-li

[2022-02-22 12:08] nange commented on #3050
This feature is supported now. So the issue can be closed. @BohuTANG @sundy-li

[2022-02-22 12:13] Xuanwo commented on #3071
@nange Nice work!

[2022-02-22 12:13] #3071 closed

[2022-02-22 12:15] #3050 closed

[2022-02-22 12:16] Xuanwo commented on #332
@sundy-li Do we still need this feature now?

[2022-02-22 12:21] Xuanwo commented on #1373
We have @mergify now!

[2022-02-22 12:21] #1373 closed

[2022-02-22 12:22] Xuanwo commented on #1093
@PsiACE How about maintaining a tracking issue for RUSTSEC issues?

[2022-02-22 12:25] Xuanwo commented on #596
@BohuTANG This issue seems not actionable. How about closing it if not needed or adding more details?

[2022-02-22 12:28] Xuanwo commented on #861
Seems we have done it via `tests/it`. Are there any other actions needed to take for this issue?

[2022-02-22 12:29] Xuanwo commented on #2136
Closed for outdated.

[2022-02-22 12:29] #2136 closed

[2022-02-22 12:29] PsiACE commented on #1093
Good idea.

[2022-02-22 12:31] Xuanwo commented on #1564
Do this test fixed now?

[2022-02-22 12:32] Xuanwo commented on #2516
We already have a stateful test based on minio now.

[2022-02-22 12:32] #2516 closed, assigned to nobody

[2022-02-22 12:33] #3453 closed

[2022-02-22 12:33] PsiACE commented on #1564
The flaky tests here has not been observed for a long time, turn it off.

[2022-02-22 12:33] #1564 closed

[2022-02-22 12:34] sundy-li commented on #332
I think `return_type` already covered this check.

https://github.com/datafuselabs/databend/blob/dc058c9d22baa9e61763661f77cd10ec62c87c48/common/functions/src/scalars/strings/concat.rs#L51-L56

[2022-02-22 12:34] Xuanwo commented on #3453
The refactoring has been done. We will continue work on https://github.com/datafuselabs/databend/issues/3611

[2022-02-22 14:30] #4006 closed

[2022-02-22 14:35] #861 closed

[2022-02-22 14:35] #596 closed

[2022-02-22 14:37] #4208 closed

[2022-02-22 16:41] #3065 closed

[2022-02-23 04:01] #4218 closed

[2022-02-23 04:39] drmingdrmer commented on #836
I did not notice such failure for months. Let's close it

[2022-02-23 04:39] #836 closed

[2022-02-23 05:06] lichuang opened #4222 "Feature: add join cluster retry process"
**Summary**

if set --join arg with more than one address, then `join_cluster` function should retry in case some error happens, and return `JoinClusterError` after all the address has failed.

[2022-02-23 06:30] Faynebupt opened #4224 "question about rust"
I know that the Firebolt project is also developed in Clickhouse, but they are still written in C++, which saves a lot of coding time. Why doesn't databend do this and rewrite it with trust？
At present, I haven't found the open source code to transform Clickhouse into MPP architecture，which solving the problem of distributed join and separating computer and storage.

[2022-02-23 08:26] lichuang opened #4226 "add doc about metasrv arg"
**Summary**
add doc about metasrv arg

[2022-02-23 11:08] #4222 closed

[2022-02-23 14:04] #3746 closed

[2022-02-23 14:57] wubx opened #4231 "Improve the Exception subsystem: Address already in"
**Summary**
Databend started using many port,  often more :  **error creating server listener: Address already in use (os error 98)")**

However， it is not very easy to see which port is used.

I think we  can provide information about the port used.
eg：
[code]
->
[code]

Databend use the following Port：
[code]

[2022-02-23 14:59] wubx opened #4232 "add doc about databend-query arg"
**Summary**
add doc about databend-query arg

[2022-02-23 15:37] wangzhen11aaa commented on #4231
/assignme

[2022-02-23 16:06] wangzhen11aaa commented on #4231
Some sub-system has the trace information, which contains the ip+port information.
like this:
        tracing::info!("HTTP API server listening on {}", conf.admin_api_address);
&
 tracing::info!(
            "Databend meta server listening on {}",
            conf.grpc_api_address
        );

[2022-02-24 00:39] #4197 closed

[2022-02-24 04:22] #2970 closed

[2022-02-24 05:57] BohuTANG opened #4238 "Add processor level profiling"
## Summary

To measure the performance of every processor, the profiles including:
* How much time each processor cost
* The total rows before processing
* The total rows after processing
* The total bytes before processing
* The total bytes after processing

Note:
We have did some work related to the processor profiling in the context query level, it's not an elegant solution.
E.g. get DALMetrics

[2022-02-24 05:58] BohuTANG commented on #4238
Feel free to comments if have any thoughts @zhang2014

[2022-02-24 08:00] TCeason commented on #4132
I got the question. In management mode: we get tenant use this function:

[code]

But if use MySQL Typ,
will create session: https://github.com/datafuselabs/databend/blob/main/query/src/servers/mysql/mysql_handler.rs#L83

we get tenant with the conf use MySQL Typ:

https://github.com/datafuselabs/databend/blob/main/query/src/sessions/session_mgr.rs#L143

[code]

[2022-02-24 08:22] BohuTANG commented on #4132
Let's interactive with management mode with call function like `call SYSTEM$CREATE_TABLE(<tenant_id>, 'SQL format?')`.

[2022-02-24 09:12] TCeason commented on #4134
For Q1:
   [this yml](https://github.com/datafuselabs/databend/blob/e293ca21f9c6d6d6dd0f57265c19e87e1056db2a/.github/actions/test_management_mode/action.yml#L46) means just `matrix.config.os != 'ubuntu-latest'`, run the management mode test, but in the [dev yml](https://github.com/datafuselabs/databend/blob/93b70b3392f3fa506e2fb08cf7c844dbb9c5246a/.github/workflows/developing.yml#L114) the matrix.

[2022-02-24 15:19] #3383 closed

[2022-02-24 15:27] clark1013 commented on #428
/assignme

[2022-02-25 00:40] BohuTANG commented on #3291
Fixed in https://github.com/datafuselabs/databend/pull/4237

[2022-02-25 00:40] #3291 closed

[2022-02-25 00:52] BohuTANG opened #4242 "Add `database_id/table_id` to data file prefix"

[2022-02-25 00:52] BohuTANG opened #4243 "Add `version` to storage layout for upgrade"

[2022-02-25 01:14] #4134 closed

[2022-02-25 04:12] BohuTANG opened #4246 "Consider split `make setup` to `make setup-dev` and `make setup-build`"
**Summary**

`make setup-build` -- Only install the build related packages, before to install it will show which packages will be installed.
`make setup-dev` -- Install the developer related packages and `make setup-build`, before to install will show which packages will be installed.

[2022-02-25 09:59] BohuTANG opened #4247 "Add s3 storage root config"
**Summary**
[code]

env: `S3_STORAGE_ROOT`

[2022-02-25 12:26] sundy-li opened #4248 "Feature: Investigate the possibility to have `small_vec` into databend"
**Summary**

Description for this feature.

- small_vector in folly: https://github.com/facebook/folly/blob/main/folly/small_vector.h
- small_vector in rust: https://docs.rs/smallvec/latest/smallvec/

zhihu: https://www.zhihu.com/question/41691246/answer/1980691302

Maybe `small_vec` can be used in openkv.  cc @drmingdrmer

I do not know any number of performances gained if we introduce `small_vec