[2021-07-02 02:52] BohuTANG opened #965 "[clickhouse] support clickhouse-cli datas import"
**Summary**

 [ClickHouse server handler](https://github.com/datafuselabs/datafuse/tree/20afa8d1988d2aea0603594e5abb436dfc534107/fusequery/query/src/servers/clickhouse) accepts clickhouse-cli datas import.

[2021-07-02 03:17] BohuTANG opened #966 "[functions] window funnel function"
**Summary**

ClickHouse windowfunnel:
https://clickhouse.tech/docs/en/sql-reference/aggregate-functions/parametric-functions/#windowfunnel

[2021-07-02 03:19] BohuTANG commented on #758
Add:
[window funnel function #966](https://github.com/datafuselabs/datafuse/issues/966)

[2021-07-02 03:33] BohuTANG commented on #949
If you want a 2021 datafuse t-shirt, please join our `system.contributors` system table:

[code]

How to JOIN:
https://datafuse.rs/development/contributing/

[2021-07-02 03:39] BohuTANG opened #967 "[function] Type Conversion Functions"
**Summary**

[code]

* toInt8(expr) — Results in the Int8 data type.
* toInt16(expr) — Results in the Int16 data type.
* toInt32(expr) — Results in the Int32 data type.
* toInt64(expr) — Results in the Int64 data type.
* toInt128(expr) — Results in the Int128 data type.
* toInt256(expr) — Results in the Int256 data type.

Reference:
https://clickhouse.tech/docs/en/sql-reference/functions/type-conv

[2021-07-02 03:41] BohuTANG commented on #758
Add:
[Type Conversion Functions #967](https://github.com/datafuselabs/datafuse/issues/967)

[2021-07-02 03:48] wangzhen11aaa commented on #967
/assignme
This time maybe take a longer time.I do not have any idea about this thing in rust.

[2021-07-02 03:49] BohuTANG commented on #967
It's OK, thank you

[2021-07-02 03:54] wangzhen11aaa commented on #949
I want to change the name to Frank Wang.

[2021-07-02 04:08] sundy-li commented on #949
It's auto-generated by scripts using your Github profile, so I'm sorry we can't make it special.

[2021-07-02 04:18] zhaox1n commented on #949
Prefer use the email address instead of git commit user. It seems that duplicate names in this list

[2021-07-02 04:31] wangzhen11aaa commented on #967
/assignme

[2021-07-02 04:51] dantengsky opened #969 "[store-api] Remove unnecessary super traits and rename util function names"
**Summary**

- remove unnecessary supertraits of store APIs

  https://github.com/datafuselabs/datafuse/blob/20afa8d1988d2aea0603594e5abb436dfc534107/common/store-api/src/meta_api.rs#L42-L43

  https://github.com/datafuselabs/datafuse/blob/20afa8d1988d2aea0603594e5abb436dfc534107/common/store-api/src/meta_api.rs#L42-L43

   we do not need `Sync + Send` here; please remove them and make sure everyt

[2021-07-02 04:52] #962 closed

[2021-07-02 04:58] BohuTANG commented on #949
@wangzhen11aaa @zhaox1n
As sundy said, they are generated from:
https://github.com/datafuselabs/datafuse/blob/master/common/building/src/lib.rs#L36-L45
ClickHouse style

[2021-07-02 04:59] dantengsky commented on #891
I am closing this issue since `backtrace` messages are truncated to a safe length before propagating, and this issue is fixed(or partially fixed).

please feel free to reopen it, if we have a better approach.

[2021-07-02 04:59] #891 closed

[2021-07-02 05:04] BohuTANG opened #970 "[function] sipHash64 as alias of sipHash"
**Summary**

ClickHouse has sipHash64 not sipHash:
https://clickhouse.tech/docs/en/sql-reference/functions/hash-functions/#hash_functions-siphash64

[2021-07-02 09:26] BohuTANG commented on #822
0. Rust default

datafuse :) SELECT max(number), sum(number) FROM numbers_mt(1000000000) GROUP BY sipHash(number % 3), sipHash(number % 4)

SELECT
    max(number),
    sum(number)
FROM numbers_mt(1000000000)
GROUP BY
    sipHash(number % 3),
    sipHash(number % 4)

Query id: 4c1de62c-4120-4843-b15c-8552909278cb

┌─max(number)─┬───────sum(number)─┐
│   999999991 │ 41666666416666667 │
│   999999993

[2021-07-02 10:18] sundy-li opened #974 "Sleep function not work for dummy table"
**Summary**

Sleep function not work for dummy table

**How to reproduce**

[code]

[2021-07-02 10:19] sundy-li commented on #974
cc @zhang2014

[2021-07-02 11:46] PsiACE commented on #974
I use the mysql client to connect to datafuse and cannot reproduce this problem.

[2021-07-02 12:15] #822 closed

[2021-07-02 14:07] #970 closed

[2021-07-03 00:02] BohuTANG opened #977 "[build] snmalloc broken the arm release"
**Summary**
https://github.com/datafuselabs/datafuse/actions/runs/994172052

And we should add arm build check to PR build CI

[2021-07-03 06:12] zhang2014 commented on #548
The results are not sorted, and the different test results under different CPU nums
CC: @jyizheng

https://github.com/datafuselabs/datafuse/blob/59fa228c47d1f0f90a78335ff32f50360f47fb70/tests/suites/0_stateless/03_0009_select_exists.sql#L1-L4

[2021-07-03 07:10] sundy-li commented on #974
So it maybe the bug of clickhouse_handler.

[2021-07-03 21:58] BohuTANG opened #981 "[commons] add more prelude for commons mod"
**Summary**

Like datavalues prelude.rs, we need more such planners and other modules in common, make the import more concise:
use ... prelude::*

[2021-07-04 01:28] #901 closed

[2021-07-04 02:17] zhang2014 opened #982 "Snmalloc segmentation fault"
**Summary**

Appears when `fuse-test` is run multiple times

[code]

[2021-07-04 02:32] zhang2014 commented on #982
This does not appear in the default allocator.

[2021-07-04 02:54] zhang2014 commented on #982
https://github.com/SchrodingerZhu/snmalloc-rs/issues/154

[2021-07-04 03:16] #982 closed

[2021-07-04 13:10] #914 closed

[2021-07-05 01:12] BohuTANG opened #985 "[mysql] log query string when mysql_session error"
**Summary**

[code]

[2021-07-05 01:33] BohuTANG commented on #974
The clickhouse handler has some issues with the error/panic handling, maybe we can address them all in another patch.
cc @sundy-li @zhang2014

[2021-07-05 02:34] #969 closed

[2021-07-05 03:09] TennyZhuang opened #988 "Allow PlanNode::Empty as input"
**Summary**

Currently `SELECT 1` will generate a dummy `PlanNode::ReadDataSource` from system.one, which is confusing and ugly in code. See plan_parser.rs

Can we remove the dummy read, and just leave empty? (It will failed on pipeline now).

[2021-07-05 03:14] TennyZhuang opened #989 "support settings optomizer_switch"
**Summary**

https://dev.mysql.com/doc/refman/8.0/en/switchable-optimizations.html

[2021-07-05 03:56] BohuTANG opened #990 "[profiling] change pprof library to rust-lang/measureme"
**Summary**

Use rustc's self-profiling:
https://github.com/rust-lang/measureme

[2021-07-05 04:02] BohuTANG commented on #747
Add:
[Cluster management #883](https://github.com/datafuselabs/datafuse/issues/883)

[2021-07-05 04:53] sundy-li commented on #988
But `select 1` should return 1. If it changes to an empty read, it will be empty result ?

[2021-07-05 05:10] TennyZhuang commented on #988
In fact that `SELECT 10` will also generate dummy read on system.one, the constant is generated from `PlanNode::Expression`, and the `PlanNode::ReadDataSource` is meaningless.

[code]

[2021-07-05 05:13] TennyZhuang commented on #988
Make `ExpressionPlan.input` to `PlanNode::Empty` will cause pipeline failed. I've not investigated it now.

[2021-07-05 05:16] sundy-li commented on #988
Yes, because no data is available upstream, so the expression will not execute.

Expressions are executed block by block, if there is no block from upstream, so there will be no expression result.

[2021-07-05 05:18] TennyZhuang commented on #988
So How to fix it? EmptyPlan should produce an empty block?

sundyli ***@***.***>于2021年7月5日 周一13:16写道：

[2021-07-05 05:49] TennyZhuang commented on #988
Or we can change PlanNode.input to Option<> ?

[2021-07-05 06:21] leiysky commented on #988
It's a really big change I've tried before but gave up at last, which is not reasonable.

I think what you need is a `DualTable` plan.

[2021-07-05 06:49] zhang2014 commented on #974
They should be fixed in #931

[2021-07-05 07:05] sundy-li commented on #988
If we wanna a one-row result, we must feed a one-row input, so an empty block will not work, a one-row block will work.

1. Currently,  if there is no input source plan, we generate a dummy plan from `system.one`, this is a kind of ClickHouse way.
2. If we want to keep the `EmptyPlan` and make the pipeline works, we can introduce a new option in `EmptyPlan`, like `produce_one_row`,  **arrow-datafu

[2021-07-05 08:00] ariesdevil opened #993 "[Store] Change the operation of database, table and data parts from `meta` to `meta_node`"
**Summary**

The current implementation is to use `meta` directly, which needs to be changed to `meta_node` instead.

cc @dantengsky

[2021-07-05 08:11] ariesdevil commented on #993
Yup, if all operations are changed, `mem_engine` can be removed.

[2021-07-05 08:15] dantengsky commented on #993
:+1:

Pls follow your own plan,  change the meta operations step by step is also fine, IMHO.

[2021-07-05 10:36] zhaox1n commented on #918
/assignme

[2021-07-05 13:33] BohuTANG opened #997 "[optimizer][CBO] exact min/max with table statistics"
**Summary**

Like count:
https://github.com/datafuselabs/datafuse/issues/914

Add min/max exact optimizer support with table statistics

[2021-07-05 13:36] BohuTANG commented on #915
Add:
[exact min/max with table statistics #997](https://github.com/datafuselabs/datafuse/issues/997)

[2021-07-05 13:45] BohuTANG commented on #988
`system.one` is a special data source for dummy, guess it same as `DualTable`

[2021-07-05 14:18] abhikjain360 commented on #866
If writing your own, maybe something like [`pest`](https://github.com/pest-parser/pest) can be used as well. [Tensorbase](https://github.com/tensorbase/tensorbase) uses it (see [here](https://github.com/tensorbase/tensorbase/blob/main/crates/lang/src/bql.pest)), and it seems pretty maintainable?

[2021-07-06 00:41] BohuTANG commented on #866
@abhikjain360 Thanks for the information, cool

[2021-07-06 00:52] BohuTANG opened #1003 "[docs] add show create table to document"
**Summary**

add `show create table` to document

[2021-07-06 01:08] BohuTANG opened #1004 "[observability] metrics"
**Summary**

- [ ] shuffle read/write metrics

[2021-07-06 01:09] BohuTANG commented on #795
Add:
[metrics #1004 ](https://github.com/datafuselabs/datafuse/issues/1004)

[2021-07-06 02:33] leiysky commented on #997
IMHO, this work should be done with query cache or columnar rough index.

Statistics should be approximated and lazily updated.

Use statistics to produce query result potentially requires statistics to be strongly consistent with data. As soon as we support real-time modifying or transaction, the management of statistics will become a disaster.

[2021-07-06 02:48] BohuTANG commented on #997
Right, min/max is set from the store(or others data sources) side and they are from the columnar index, so here is exact.

[2021-07-06 03:36] #1003 closed

[2021-07-06 06:08] #913 closed

[2021-07-06 08:23] BohuTANG opened #1010 "[test] dns_resolver_test failed when the network is unavailable"
**Summary**

[code]
I assume it's bug here.

cc @zhang2014

[2021-07-06 08:31] BohuTANG opened #1012 "[ci] grcov install failed with cache"
**Summary**

https://github.com/datafuselabs/datafuse/runs/2996512409

[code]

cc @PsiACE

[2021-07-06 09:43] PsiACE commented on #1012
Got it, will fix it later

[2021-07-06 11:40] #1012 closed

[2021-07-06 12:42] sundy-li opened #1014 "Alignment Arena State for AggregateFunction"
**Summary**

Alignment Arena State for GroupBy-Aggregate Transform

![image](https://user-images.githubusercontent.com/3325189/124603237-4ba06780-de9c-11eb-8197-73fa2452f914.png)

[2021-07-06 12:58] zhang2014 commented on #1010
It's a test(regression test of dns_resolver).
It fails when the network is not available, and maybe a better way is to start a dummy DNS server in the test code to test this code.

[2021-07-11 12:04] BohuTANG opened #1027 "[deps] Bump prost from 0.7.0 to 0.8.0"
**Summary**
https://github.com/datafuselabs/datafuse/pull/1022

The ABI looks broken, need fix.

[2021-07-11 13:19] zhyass opened #1028 "[query] DESCRIBE Statement"
**Summary**

`DESC|DESCRIBE tbl_name`

Reference:
https://dev.mysql.com/doc/refman/8.0/en/describe.html
https://clickhouse.tech/docs/en/sql-reference/statements/describe-table/

[2021-07-11 13:19] zhyass commented on #1028
/assignme

[2021-07-12 01:40] sundy-li opened #1032 "Function Modulo is slow"
**Summary**

clickhouse:
[code]

datafuse:
[code]

[2021-07-12 01:40] sundy-li commented on #1032
#1019

[2021-07-12 06:14] #1028 closed

[2021-07-12 06:58] #1014 closed

[2021-07-12 07:07] BohuTANG commented on #1027
I have disabled Pull Request Security Audit action: https://github.com/datafuselabs/datafuse/actions/workflows/pr-audit.yml
It will enabled again when we fix it.

[2021-07-12 07:28] tangwz commented on #775
As a newbie, May I have a try？

[2021-07-12 07:38] drmingdrmer commented on #775
Of course! Thank you @tangwz !
Is there any one already working on this? @ariesdevil @dantengsky ?
If not I'm gonna assign this issue to tangwz

[2021-07-12 07:45] dantengsky commented on #775
@drmingdrmer  nope.
@tangwz  Thanks!

[2021-07-12 09:13] drmingdrmer commented on #775
@ariesdevil already has working on this issue. The issue status should have been updated... Sorry for that @tangwz

[2021-07-12 12:00] drmingdrmer commented on #954
@dantengsky shall we close this issue or keep it open?

[2021-07-12 12:01] drmingdrmer commented on #684
According to the latest design, a database or a table is a record in metadata, no more a DFS file.

[2021-07-12 12:01] #684 closed

[2021-07-12 12:04] dantengsky commented on #954
yes, let's close it. (by PR #881)

[2021-07-12 12:04] #954 closed

[2021-07-12 12:15] #1032 closed

[2021-07-12 12:16] sundy-li commented on #1032
Now:
[code]

[2021-07-13 03:52] sundy-li commented on #323
Fixed in master.

[code]

[2021-07-13 03:52] #323 closed

[2021-07-14 05:28] ZhiHanZ opened #1043 "[Performance] Support to upload performance testing results to object storage"
**Summary**

Description for this feature.
Ideally, we should support to define storage endpoint to store performance testing results in object storage and also support to fetch results from object storage and compare them

[2021-07-14 08:53] BohuTANG opened #1046 "[CBO] add min/max scalar value to plan Statistics"
**Summary**
Add min/max to Statistics:
https://github.com/datafuselabs/datafuse/blob/9de3e9b90a8f893de0bee84b3ed1989619e458d5/common/planners/src/plan_statistics.rs#L5-L13

This is for #997

[2021-07-14 09:16] #1043 closed

[2021-07-14 09:45] ZhiHanZ opened #1048 "Add Multi arch build in release process"
**Summary**

Description for this feature.
Currently, we have already supported experimental multi arch docker build process in https://github.com/datafuselabs/datafuse/issues/683, thus far we should incorporate it in release process .
plus we should also support build fuse-store and perf-tool binary or docker in each new release version

[2021-07-15 00:43] wangzhen11aaa commented on #1046
/assignme

[2021-07-15 00:44] wangzhen11aaa commented on #1046
Let me Try.

[2021-07-15 00:46] wangzhen11aaa commented on #967
Let's close this issue.

[2021-07-15 06:03] #967 closed

[2021-07-15 07:31] drmingdrmer opened #1051 "[store/meta]: add disk backed raft-state impl"
**Summary**

Persist raft state, which includes id, `current_term` and `voted_for` on disk.

This is the first step to impl the disk backed raft meta.
The next step is to impl disk-backed log and state machine.

Part of #271

[2021-07-15 08:23] ZhiHanZ opened #1052 "Support DNS based benchmarking server host"
**Summary**
Description for this feature.
Currently in fuse-benchmark, we only support ip based host, I think we should also support DNS based host for Service Discovery purpose.

[2021-07-15 11:42] wangzhen11aaa commented on #1046
/assignme

[2021-07-15 12:46] #1052 closed

[2021-07-15 16:18] jovany-wang commented on #1051
Sorry for that I didn't understand the purpose to persist the metas.
In general cases, it's totally enough to persist log entries and user-defined state machines. Is there any context I have missed?

[2021-07-16 04:38] drmingdrmer commented on #1051
There are some other information must be persisted, according to the raft paper, including the current term, and the leader a node has voted for.

E.g. if the `voted_for` get lost when restarting a raft node, there will be two nodes believes they are the legal leader.
Then the log get messed up:

[code]

[2021-07-16 05:10] jovany-wang commented on #1051
OK, I see.

[2021-07-16 07:57] zhyass commented on #918
/assignme

[2021-07-16 08:16] zhyass commented on #918
https://github.com/ClickHouse/ClickHouse/blob/master/src/Functions/if.cpp

[2021-07-16 08:38] zhang2014 opened #1057 "Support kleene logic in FuseQuery"
**Summary**

In MySQL:
[code]

[2021-07-16 08:40] drmingdrmer commented on #1051
closed by #1056

[2021-07-16 08:40] #1051 closed

[2021-07-16 08:51] zhang2014 opened #1058 "Cannot process constant column and non constant column in logic functions"
**Summary**

Cannot process constant column and non constant column in logic functions

**How to reproduce**

[code]

[2021-07-16 09:02] zhang2014 opened #1059 "Support broadcast for cluster query"
**Summary**

Consider executing the following queries in cluster mode, we need to support the ability to broadcast subquery results to all clusters

[code]

[2021-07-16 09:09] zhang2014 opened #1060 "Support scalar subquery"
**Summary**

Expect:
[code]

[2021-07-16 09:11] zhang2014 commented on #765
Add:
Support scalar subquery #1060

[2021-07-16 09:12] zhang2014 opened #1061 "Support SHOW PROCESSLIST"
**Summary**

Expect:

[code]

[2021-07-16 13:10] #832 closed

[2021-07-16 13:10] #833 closed

[2021-07-16 13:10] #834 closed

[2021-07-16 13:10] #835 closed

[2021-07-16 13:10] #974 closed

[2021-07-16 13:10] #1057 closed

[2021-07-16 13:10] #1058 closed

[2021-07-16 13:10] #1059 closed

[2021-07-16 13:10] #1060 closed

[2021-07-16 13:10] #1061 closed

[2021-07-16 13:51] zhang2014 commented on #741
Hope is helpful:
After #931, we split the state of context:
1. query execute state
https://github.com/datafuselabs/datafuse/blob/27c3ab92726d1372f17c8a103475e0ecea668d2c/fusequery/query/src/sessions/context.rs#L33-L38
2. query shared state https://github.com/datafuselabs/datafuse/blob/27c3ab92726d1372f17c8a103475e0ecea668d2c/fusequery/query/src/sessions/context_shared.rs#L30-L41

Example of multi

[2021-07-16 16:08] drmingdrmer opened #1065 "[store] impl raft log store with sled::Tree"
- Add a `RaftLog` struct to impl raft log storage.
- Get rid of the current in-memory BtreeMap impl.
- Add test about MetaNode restart to ensure logs are presisted.

Part of #271

TODO: the final part is to impl raft state machine with a sled db backed struct.

[2021-07-16 18:26] SchrodingerZhu commented on #977
Ouch. `snmalloc` should support `aarch64` and `armv7` targets. I would like to look into this but seems that the CI did not give the detailed error message from the compiler?

cc @mjp41.

[2021-07-16 18:31] mjp41 commented on #977
The issue appears to be
[code]
The `-mcx16` flag should be gated behind x86 targets. Is this compiling on Arm for Arm, or cross compiling?

[2021-07-16 18:34] SchrodingerZhu commented on #977
oh, I just found that.

Basically, cmake detects the processor type based on the host; but we haven't provided any way to detect the target specified by cargo.

I assume maybe built by `cc` can be another choice here? but I haven't got a chance to try that yet.

[2021-07-16 18:40] SchrodingerZhu commented on #977
@mjp41 it is possible to do it the following way:
[code]
Then, postpone the correctness checking to `C++` macro.
maybe a better choice than using cmake detection since it was hard to do cross-compiling?

[2021-07-16 19:18] mjp41 commented on #977
@SchrodingerZhu that sounds good to me.  Want to PR that into snmalloc?

[2021-07-17 12:39] BohuTANG opened #1071 "[bug] ClickHouse progress broken"
**Summary**

When we execute query with clickhouse client:
[code]
The client progress not work after the patch: #931
cc @zhang2014

[2021-07-17 12:47] BohuTANG opened #1072 "[doc] show processlist"
**Summary**

add `show processlist` to doc website

[2021-07-17 13:01] #1072 closed

[2021-07-17 13:08] BohuTANG opened #1074 "[improvement] `show processlist` extra_info not show the query info with ClickHouse client"
**Summary**

client1:
[code]

client2:
[code]

client1:
[code]
The extra_info is NULL, expect is the select query what is running

[2021-07-17 13:43] b41sh commented on #1074
/assignme

[2021-07-17 14:22] zhang2014 commented on #657
fixes in master
[code]

[2021-07-17 14:22] #657 closed

[2021-07-17 14:49] zhang2014 commented on #919
It can't be reproduce in my MySQL.  maybe you MySQL client have other configuration?

[2021-07-17 17:35] drmingdrmer opened #1079 "disk backed raft-log."

[2021-07-17 17:36] drmingdrmer commented on #1079
It seems a new github function that converts a TODO in an issue to another issue. :DDD

[2021-07-17 17:36] #1079 closed

[2021-07-17 17:38] drmingdrmer opened #1080 "[store] impl sled db backed raft-state-machine."
- [x] #1311
- [x] #1312
- [x] #1313
- [ ] #1139
- [x] #1385
- [x] #1386

[2021-07-17 17:41] drmingdrmer opened #1081 "[store] test shutdown and restart `MetaNode`."
Restart a MetaNode and check logs and HardState is restored.

TODO: check state machine is restored.

Part of #271

[2021-07-18 02:04] BohuTANG opened #1082 "[bug] server destroy_idle_sessions hang when shutdown"
**Summary**

fuse-query server often hang when CTRL+C.

**How to reproduce**
Not sure how to reproduce it, I have two connection, one is from MySQL client and another is ClickHouse client, after a long while(one night) the server can not be CTRL+C and hang.

**Error message and/or stacktrace**
server CTRL+C:
[code]

gdb stack:
[code]

[2021-07-18 02:29] PsiACE commented on #1027
Related PR:

- https://github.com/tikv/pprof-rs/pull/73
- https://github.com/apache/arrow-rs/pull/560

Possible partial follow-up work:

- May need redesign auth service in `common/flights/src/store_client.rs` (FYI, https://github.com/etcdv3/etcd-client/pull/21/files)
- Observe the following tests
  - api::rpc::flight_service_test::test_do_append
  - api::rpc::flight_service_test::test_flight_crea

[2021-07-18 02:30] BohuTANG commented on #1027
arrow-rs upstream: https://github.com/apache/arrow-rs/issues/561

[2021-07-18 02:32] BohuTANG commented on #1027
Really cool, the porst vulnerabilities block the deps upgrade, such as tonic and others

[2021-07-18 02:52] BohuTANG opened #1085 "[observability] http stack traces"
**Summary**

Add Restful api to get the server backtrace, this will be useful to debug such as the server hang, eg. https://github.com/datafuselabs/datafuse/issues/1082.

API like:
debug/pprof/goroutine?debug=2

[2021-07-18 02:53] BohuTANG commented on #795
Add:
 [http backtrace #1085 ](https://github.com/datafuselabs/datafuse/issues/1085)

[2021-07-18 02:58] BohuTANG opened #1086 "[improvement] improve code coverage"
**Summary**

https://app.codecov.io/gh/datafuselabs/datafuse

![image](https://user-images.githubusercontent.com/172204/126054206-88862515-8214-41c9-9c2e-1e786b4d5e9f.png)

`common` needs more unit tests

[2021-07-18 04:43] zhang2014 commented on #1082
It fixed in #1075

[2021-07-18 04:45] zhang2014 opened #1087 "Lazy evaluation is fail"
**How to reproduce**

[code]

[2021-07-18 07:19] wangzhen11aaa commented on #1046
Hi,all , Is min/max the function like max/min(column) or is a member we will defined in the Statistics struct?

[2021-07-18 09:38] BohuTANG commented on #1046
max/min here in `Statistics struct` should be a DataValue, they are used for the store underlying to set if they are exact, then the quey check the `is_exact` to use them or not.

[2021-07-18 13:51] SchrodingerZhu commented on #977
sure. will do that

[2021-07-19 00:34] github-actions[bot] opened #1090 "RUSTSEC-2021-0073: Conversion from `prost_types::Timestamp` to `SystemTime` can cause an overflow and panic"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `prost-types`                      |
| Version             | `0.7.0`                   |
| URL                 | [https://github.com/tokio-rs/prost/issues/438](https://github.com/tokio-rs/prost/issues/438) |
| Date

[2021-07-19 00:34] github-actions[bot] opened #1091 "RUSTSEC-2020-0095: difference is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `difference`                      |
| Version             | `2.0.0`                   |
| URL                 | [https://github.com/johannhof/difference.rs/issues/45](https://g

[2021-07-19 00:34] github-actions[bot] opened #1092 "RUSTSEC-2020-0036: failure is officially deprecated/unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `failure`                      |
| Version             | `0.1.8`                   |
| URL                 | [https://github.com/rust-lang-nursery/failure/pull/347](https://git

[2021-07-19 00:34] github-actions[bot] opened #1093 "RUSTSEC-2020-0077: memmap is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `memmap`                      |
| Version             | `0.7.0`                   |
| URL                 | [https://github.com/danburkert/memmap-rs/issues/90](https://github.c

[2021-07-19 00:34] github-actions[bot] opened #1094 "RUSTSEC-2020-0056: stdweb is unmaintained"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `stdweb`                      |
| Version             | `0.4.20`                   |
| URL                 | [https://github.com/koute/stdweb/issues/403](https://github.com/kou

[2021-07-19 00:34] github-actions[bot] opened #1095 "RUSTSEC-2018-0015: term is looking for a new maintainer"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Status              | unmaintained                |
| Package             | `term`                      |
| Version             | `0.5.2`                   |
| URL                 | [https://github.com/Stebalien/term/issues/93](https://github.com/Steba

[2021-07-19 03:10] ariesdevil opened #1096 "[test] cargo test with `--show-output` report error"
**Summary**
When we run cargo test with argument `--show-output`, get the error following:
[code]

More about usage of show output pls see: https://doc.rust-lang.org/book/ch11-02-running-tests.html#showing-function-output

[2021-07-19 03:11] sundy-li opened #1097 "[improvement]Support mixed Processor"
**Summary**

Datafuse pipeline execution will be a single thread after the merge processor. Yet it's still necessary to enable multiprocessor for some other processors, such as having transform after the group by final.

[code]

[2021-07-19 03:22] ariesdevil opened #1099 "[improvement] remove mem_engine"
**Summary**

With the perfection of meta_node, mem_engine is useless for us. It should be removed.

[2021-07-19 05:13] b41sh commented on #1074
I found that `extra_info` will display the running query, and only display NULL when there is no query;

[code]

[2021-07-19 06:14] drmingdrmer commented on #1096
This may be the same issue as:
https://github.com/datafuselabs/datafuse/pull/897

What did you do when you get this error?

[2021-07-19 06:33] ariesdevil commented on #1096
@drmingdrmer Just run `cargo test -- --show-output` at project root dir

[2021-07-19 07:18] sundy-li commented on #1074
If there is no query, the state should be Idle.
[code]

[2021-07-19 07:27] #1097 closed

[2021-07-19 07:49] drmingdrmer commented on #1096
fuse-store does not have this problem:
`cargo test -p fuse-store -- --show-output` passed happily.

@sundy-li @zhang2014
It should be a problem with fuse-query config parser.
Maybe it is the fault of `StructOptToml`, as I mentioned in fuse store config:
[code]

[2021-07-19 08:14] ariesdevil opened #1102 "[improvement] replace the relationship between database and table and data parts from tbl_parts to parts field in Table struct"
**Summary**

Replace the relationship between database and table and data parts from tbl_parts to parts field in Table struct

[2021-07-19 08:54] sundy-li commented on #1096
Should disable `from_args` and `from_args_with_toml` in cargo test, but I did not find a way to make it.

[2021-07-19 09:15] BohuTANG commented on #1074
I see.
This issue only happens on ClickHouse client, MySQL handler is ok.

[2021-07-19 09:35] b41sh commented on #1074
ok, I see.

[2021-07-19 19:31] #1065 closed

[2021-07-19 23:01] alexey-milovidov opened #1109 "Illegal instruction at startup when using Docker image."
**Summary**

[code]

**How to reproduce**

https://datafuse.rs/overview/building-and-running/
Install on AMD Ryzen 3950.

[2021-07-19 23:04] alexey-milovidov commented on #1109
Release tarball also has the same issue.

[2021-07-19 23:06] alexey-milovidov commented on #1109
It is compiled with AVX-512 which most of machines don't have:

[code]

[code]

[2021-07-20 01:36] ZhiHanZ commented on #1109
could you take a trial using datafuselabs/datafuse:v0.4.33-nightly?

[2021-07-20 03:57] BohuTANG commented on #1082
Hi @zhang2014 ,
I found another hang with master branch when running a long query:
client:
[code]

Server can't quit by CTRL+C:
[code]

[2021-07-20 04:44] zhang2014 opened #1112 "Kleene logic filter failure"
**Summary**

**How to reproduce**
[code]

InMySQL:
http://sqlfiddle.com/#!9/a6c585/209953

[2021-07-20 05:23] zhang2014 commented on #1082
What is GDB stack?

[2021-07-20 06:58] ZhiHanZ opened #1114 "[Test Infra] build tool for datafuse multi archetecture release"
**Summary**

Description for this improvement.
Goals:
1. Mainly for release stage speed up, currently multi architecture build rely on QEMU and buildx, which is slow(up to 6000s) for docker image build
2. If every steps works fine, caching build dependencies could definitely speed up CI process both for general CI and release part.

Implementation:
1. Implement installation scripts for different C

[2021-07-20 07:10] BohuTANG commented on #1071
I can't reproduce it now with master release.

[2021-07-20 07:14] BohuTANG commented on #1082
I can't  re-produce it now with the master branch.

[2021-07-20 07:18] PsiACE commented on #1071
I can‘t reproduce it either.

[2021-07-20 07:19] sundy-li opened #1115 "[deployment] dynamic runtime arch detect"
**Summary**

1. https://crates.io/crates/multiversion  enable Dynamic dispatching, using runtime CPU feature detection
2. https://crates.io/crates/slipstream   to avoid using explicit SIMD instructions

[2021-07-20 08:45] #1071 closed

[2021-07-20 08:59] #1082 closed

[2021-07-20 09:02] drmingdrmer opened #1117 "[store] feature: configs::Config : add raft-related config."
At least raft needs config of:
- the number of logs since the last snapshot to trigger next snapshot,
- the heartbeat interval.

[2021-07-20 09:43] #1074 closed

[2021-07-20 10:02] PsiACE commented on #1096
Solved in #1110, by ignoring some tests

[2021-07-20 10:02] #1096 closed

[2021-07-20 11:46] #1117 closed

[2021-07-20 13:23] zhang2014 opened #1119 "ReImplement tyctaxi benchmark"
**Summary**

https://github.com/datafuselabs/datafuse/pull/1118

[2021-07-21 01:27] drmingdrmer opened #1125 "[store] test: add test of replication of snapshot."

[2021-07-21 02:59] BohuTANG opened #1127 "[store] resource quota and isolation"
**Summary**

Because the store is multi-tenant with different levels of users requesting on it, we need to do some quota and isolation for the resource.

[2021-07-21 02:59] BohuTANG opened #1128 "[store] resource quota and isolation"
**Summary**

Because the store is multi-tenant with different levels of users requesting on it, we need to do some quota and isolation for the resource.

[2021-07-21 03:00] #1128 closed

[2021-07-21 03:03] BohuTANG commented on #271
Add #1127

[2021-07-21 03:12] BohuTANG opened #1129 "[performance] comparison with ClickHouse latest version"
*Summary*
[code]

[2021-07-21 03:14] #1095 closed

[2021-07-21 03:40] BohuTANG opened #1130 "[doc] admin api"
**Summary**

Add http REST api to doc

[2021-07-21 04:07] #1130 closed

[2021-07-21 04:48] ZhiHanZ opened #1132 "[Test/Doc/Build/Release] Update from fuse-query to datafuse"
**Summary**
Currently we have already provided install script(https://github.com/datafuselabs/datafuse/pull/1121) and release docker, we should incorporate them into cross-compiled multi-platform CI pipeline, plus currently Documentation and tests are run on fuse-query image, those things should also get updated

[2021-07-21 04:49] jyizheng opened #1133 "add unit test for downcast operation of DataArray"
**Summary**

Add unit tests for  common/datavalues/src/arrays/ops/downcast.rs

[2021-07-21 04:49] jyizheng commented on #1133
/assignme

[2021-07-21 04:50] sundy-li opened #1134 "fuse-store panic after create remote table"
**Summary**

fuse-store panic after create table

**How to reproduce**

start fuse-query and fuse-store

[code]

Then restart the fuse-store process.

[code]

cc @dantengsky @drmingdrmer

`rm -rf _meta`  works, maybe  there are some dirty files.

[2021-07-21 05:21] drmingdrmer commented on #1134
Yes the current version of fuse-store writes raft log to disk, and will reload the old data.
Removing `_meta` or using a `TempDir`for testing would solve this problem.

The default fuse-store Config uses `_meta` as data dir. Maybe the testing script needs to give fuse store a unique dir for every round of test.
[code]

[2021-07-21 05:36] drmingdrmer commented on #1127
Quote:

- A centralized fast storage service for collecting user access statistics.
- An algorithm to allocate resource evenly to every store-node, with the consideration of unevenly distributed user access.
- A throttle component on every store node.
- A user-friendly response design.

Isolation:

If fuse store is only used by fuse-query, this can be done by a query node, with the information pro

[2021-07-21 05:37] sundy-li commented on #1134
Ok, so it's caused by some bugs in the meta reload?

[2021-07-21 05:43] BohuTANG commented on #1134
@drmingdrmer
From your information, `FUSE_STORE_META_DIR` should set a different value for test.

[2021-07-21 05:51] BohuTANG commented on #1127
The quota(call throttle is more better) is to prevent some special users slow down the store, for example, `select * from tb1`.
Isolation can be thought later.

[2021-07-21 05:57] #1114 closed

[2021-07-21 07:00] BohuTANG opened #1136 "[security] Http api TLS support"
**Summary**

Add TLS for warp http.
Example:
https://github.com/seanmonstar/warp/blob/master/examples/tls.rs

[2021-07-21 07:05] ZhiHanZ opened #1137 "[Install] remove jq dependency"
**Summary**

Description for this feature.
Prefer grep or sed instead of jq, since we should minimize dependencies for install script

[2021-07-21 07:22] drmingdrmer commented on #1134
@sundy-li
Sorry seems I misunderstood. If it panics just after restarting it is store's fault.

Meanwhile fuse-store does not support restart yet. The codes is now in a transitional state migrating mem-store to on-disk-store. Restarting does not work until raft state machine is migrated(log is on-disk while state machine is still pure memory).

I'm gonna fix the restart panic in a few days.
But th

[2021-07-21 08:04] ariesdevil commented on #775
Closed by https://github.com/datafuselabs/datafuse/pull/1023

[2021-07-21 08:04] #775 closed

[2021-07-21 08:05] ariesdevil commented on #993
Closed by https://github.com/datafuselabs/datafuse/pull/1023

[2021-07-21 08:05] #993 closed

[2021-07-21 08:08] ariesdevil opened #1139 "[store] refactor: Distinguish potentially confusing operation results"
**Summary**

There is a problem in the current implementation: we cannot distinguish between failed `add` and successful `delete` operations.

By adding a `seq` field to results, we can avoid this problem like `UpsertKV`.

BTW: these changes will break the current API

cc @drmingdrmer @dantengsky @sundy-li

[2021-07-21 08:48] PsiACE commented on #1091
upstream, wait https://github.com/asomers/mockall/pull/317

[2021-07-21 08:52] drmingdrmer commented on #1139
It breaks the internal API: `MetaNode::write()` returns different values. The incompatibility should be dealt well by action handers. Components outside action handler won't be affacted.

@sundy-li will have nothing to worry about 🤔

[2021-07-21 09:07] drmingdrmer commented on #774
@ariesdevil I believe your last PR covers some of these task. May you get this issue updated or just close it?

[2021-07-21 09:08] drmingdrmer commented on #872
@ariesdevil and this issue needs an update or close it?

[2021-07-21 09:11] ariesdevil commented on #872
Closed by https://github.com/datafuselabs/datafuse/pull/1023

[2021-07-21 09:11] #872 closed

[2021-07-21 09:17] PsiACE commented on #1092
upstream, wait

- https://github.com/dalance/structopt-toml/pull/12
- https://github.com/datafuse-extras/msql-srv/pull/1 or https://github.com/jonhoo/msql-srv/pull/21

[2021-07-21 09:32] PsiACE commented on #1094
upstream, wait `time v3.0`

[2021-07-21 09:54] #1137 closed

[2021-07-21 09:57] BohuTANG opened #1142 "[doc] add CAST function to docs"
**Summary**

Add CAST function to docs

[2021-07-21 10:17] #1142 closed

[2021-07-21 10:22] BohuTANG opened #1144 "[doc] Comparison Operators and Functions"
**Summary**

Add Comparison Operators and Functions to doc.

[2021-07-21 11:51] #774 closed

[2021-07-21 12:35] BohuTANG opened #1146 "[functions] support CAST(x, t) syntax"
**Summary**

datafuse supports CAST(x AS t) but not support CAST(x, t)

[2021-07-21 14:06] #417 closed

[2021-07-21 14:23] #1048 closed

[2021-07-21 14:23] #1132 closed

[2021-07-21 14:23] #893 closed

[2021-07-21 14:23] #1109 closed

[2021-07-21 14:57] alexey-milovidov commented on #1109
Ok. BTW, if I compile from sources, it works fine as expected.

[2021-07-21 23:33] #1133 closed

[2021-07-22 00:20] BohuTANG opened #1148 "[memory] session memory usage"
**Summary**

Use rust custom allocator trait to track the session memory usage.

[2021-07-22 00:22] BohuTANG commented on #765
Add:
[memory usage #1148](https://github.com/datafuselabs/datafuse/issues/1148) |

[2021-07-22 01:51] BohuTANG opened #1149 "[rust] try Rust 2021"
**Summary**

https://blog.rust-lang.org/2021/07/21/Rust-2021-public-testing.html

[2021-07-22 02:21] ZhiHanZ commented on #1109
FYI, multi architecture release has published into datafuselabs/datafuse which supports arm64,amd64,arm/v7 and arm/v6, you could take a look on it

[2021-07-22 02:46] ZhiHanZ opened #1150 "Support datafuse cluster troubleshooting using datafusecli"
**Summary**

Description for this feature.
Desired datafuse client should provide health check, availabilty, metrics log for living datafuse cluster and precheck on whether cluster manifest could be deployed on current cluster.

[2021-07-22 02:58] ZhiHanZ opened #1151 "Integrate release process into testinfra"
**Summary**
Currently release process could push several binaries into github release
Desired, in each release, workflow should be
1. Create release tag by maintainers
2. Run Unit test, Integration test and perf test for new releaase
3. Update release binaries on github release page
4. Create release docker image on datafuselabs/datafuse:<release-version>
5. Anounce new release note on github, web

[2021-07-22 03:49] BohuTANG commented on #1149
@PsiACE

Hmm, Would you like a try?

[2021-07-22 03:52] PsiACE commented on #1149
Ok

[2021-07-22 04:00] zhang2014 commented on #1149
Very cool~

[2021-07-22 04:15] zhang2014 opened #1153 "[FR] Provide some computing service interfaces to the fuse store"
**Summary**

FuseStore is multi tenant. It is designed to provide services for multiple FuseQuery clusters (any resource is expensive). may we should to unload some unnecessary overhead into FuseQuery (welcome to discuss in this issue).

1. offline index build
2. storage data merge task
3. CBO analysis

[2021-07-22 04:16] zhang2014 commented on #1153
The FuseStore may be used to coordinate and track these tasks, and may execute them on its own when necessary (when query is busy)

[2021-07-22 04:58] BohuTANG commented on #1153
Ok, I will create a track issue for it

[2021-07-22 06:14] BohuTANG opened #1154 "[roadmap-track] store service"
Main issue tracking for store.

# Tasks

| Tasks                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [Admin REST API #1157](https://github.com/datafuselabs/datafuse/issues/1157) | DONE  | v0.5  | @BohuTANG |
| [resource quota and isolation #1127](https://github.

[2021-07-22 06:20] BohuTANG commented on #746
Add:
Store Service track #1154

[2021-07-22 07:40] BohuTANG opened #1157 "[store] Admin REST API"
**Summary**

REST API for the admin to get/set some informations for administrative purposes, make store more manageability.

[2021-07-22 07:41] BohuTANG commented on #1154
Add:
[Admin REST API #1157](https://github.com/datafuselabs/datafuse/issues/1157)

[2021-07-22 07:52] sundy-li commented on #765
Add
ClickHouse insert #965

[2021-07-22 07:53] sundy-li opened #1158 "Support truncate table"
**Summary**

[code]

Works in  `NullTable`, `MemoryTable`, `RemoteTable`

[2021-07-22 10:35] BohuTANG commented on #949
@loadlj +1
Lucky star contributor :+1:

![image](https://user-images.githubusercontent.com/172204/126626216-c259b80e-fc98-4915-99e2-02f1c60235bf.png)

[2021-07-22 14:36] #965 closed

[2021-07-22 15:52] #1146 closed

[2021-07-23 00:58] BohuTANG opened #1162 "[doc] add insert statement"
**Summary**

Add insert into statement and ClickHouse client import to document https://datafuse.rs/

[2021-07-23 01:01] BohuTANG opened #1163 "[doc] create/drop table"
**Summary**

Add CREATE/DROP table statement to document https://datafuse.rs/

[2021-07-23 05:13] BohuTANG opened #1167 "[doc] add DataType"
**Summary**

Add DataType page to document, https://datafuse.rs

[2021-07-23 06:32] dantengsky opened #1168 "Provides a global version number for database meta"
**Summary**

We need a global version number for the database meta information, which will be increased for each DDL statement if executed successfully (or have externally visible effects).

[2021-07-23 06:43] drmingdrmer commented on #1168
Yes a `seq` is going to be added to every meta data.
@ariesdevil has been working on this: https://github.com/datafuselabs/datafuse/issues/1139

[2021-07-23 06:45] drmingdrmer commented on #1099
This issue is finished right? @ariesdevil

[2021-07-23 06:50] dantengsky commented on #1139
@ariesdevil
pls break them if needed, proper and ergonomic APIs do worth the costs.

[2021-07-23 06:54] dantengsky commented on #1168
:sob: I am working on it  #1169

[2021-07-23 06:55] dantengsky commented on #1168
PR #

[2021-07-23 07:35] sundy-li opened #1170 "Considering migrate to arrow2"
**Summary**

From Reddit: https://www.reddit.com/r/rust/comments/ooyhn1/release_of_arrow2_01_and_parquet2_01/

Features depends on arrow2, to be filled

- [x]  jorgecarleitao/arrow2#215
- [ ] https://github.com/jorgecarleitao/arrow2/issues/245

[2021-07-23 07:35] sundy-li commented on #1170
https://github.com/jorgecarleitao/arrow2/issues/215

[2021-07-23 07:43] #1163 closed

[2021-07-23 08:01] drmingdrmer commented on #1168
Hm... after reading your codes I see that they are two different things.

[2021-07-23 09:22] #1168 closed

[2021-07-23 13:02] #1136 closed

[2021-07-23 13:09] BohuTANG opened #1174 "[test] setup a TLS server for http api tests"
**Summary**

Setup a TLS server:
https://github.com/tokio-rs/tokio-tls/blob/master/examples/tls-echo.rs

Test the  FuseQuery HTTP API

[2021-07-23 16:23] dantengsky opened #1175 "Uniquely identifies Table by table_id and table_version"
**Summary**

Since tables may be altered, modified(insert, update) concurrently, it is preferred that while a SQL statement is being processed (distributedly), all query nodes should work on consistent versions of tables; thus logically,  tables should be uniquely identifiable, adding  `table_id` and `table_version` to table's metadata might be a good start.

[2021-07-24 02:53] PsiACE opened #1177 "[observability] Query traces and analysis, based on user behavior."
**Summary**

Need further discussion.

[2021-07-24 03:41] #1162 closed

[2021-07-24 04:29] #1167 closed

[2021-07-24 15:55] zhyass commented on #1158
/assignme

[2021-07-26 02:59] #1157 closed

[2021-07-26 05:40] BohuTANG opened #1186 "[store] service graceful shutdown"
**Summary**

Make the fuse-store service graceful shutdown like fuse-query

[2021-07-26 05:42] BohuTANG commented on #1154
Add:
[Service graceful shutdown #1186](https://github.com/datafuselabs/datafuse/issues/1186)

[2021-07-26 06:04] BohuTANG opened #1187 "[datafuse.rs] add site analytics and cookies consent"
**Summary**

https://squidfunk.github.io/mkdocs-material/setup/setting-up-site-analytics/

https://datafuse.rs Google UA is: `G-0D5KNCVTVR`

[2021-07-26 07:45] sundy-li opened #1189 "Reduce the memory size of AggregateFunction state"
**Summary**

This test code proves that DataValue has memory size 64 bytes, because DataValue is an enum struct which uses the maximum memory for each enum.

[code]

We should introduce a generic state implementation  to improve memory and efficiency.

[2021-07-26 07:46] sundy-li commented on #1189
Example for aggregate sum state.
[code]

[2021-07-26 14:11] BohuTANG opened #1191 "[query] pretty print for the client border line"
**Summary**

The text broken the MySQL border line:
[code]

[2021-07-26 19:01] ZhiHanZ opened #1193 "[Build/CI/Test Infra] shorten docker build time to 5mins using sccache and self hosted runner"
**Summary**
Bootstrap K8s Persistence Volume for docker layer caching + sccache storage, and incorporate de setup into runner distro image, which should be optimized well for CI process(especially for performance testing)
example build:
https://github.com/ZhiHanZ/fuse-query/runs/3164768730?check_suite_focus=true

[2021-07-27 01:31] BohuTANG commented on #887
Not actually.
We talked `block` here is test purpose only.
For `test_runtime` test, it's async and the it returns immediately when running.
Actually, we need a runtime `join` to block until all the async tasks finished.

[2021-07-27 01:45] dust1 commented on #887
Thanks for the reply.
I think i get it, only need to modify `runtime_test.rs` and block until all the async tasks finished？
If it is like this, Can I try it?
Thanks.

[2021-07-27 02:20] sundy-li commented on #887
/help

[2021-07-27 02:24] dust1 commented on #887
/assignme

[2021-07-27 02:31] BohuTANG opened #1195 "[bug] correct the docs for scatter_unchecked"
**Summary**

https://github.com/datafuselabs/datafuse/blob/ddf3e02d833fb1f366cbd55b817f59bcec290e79/common/datavalues/src/arrays/ops/scatter.rs#L30-L32

There is an obvious error in this comments, want help.

[2021-07-27 02:52] PsiACE commented on #1092
structopt-toml v0.5.0 released.

[2021-07-27 07:09] #1158 closed

[2021-07-27 07:33] zhyass opened #1197 "[bug] Metadata was not cleaned up when drop a remote table."
**Summary**

I create a remote table and insert into some data, then drop the table and create again. I can get the previously inserted data. Maybe this is a bug?

**How to reproduce**

**Error message and/or stacktrace**

![WechatIMG652](https://user-images.githubusercontent.com/34016424/127114442-3d3e189d-7c43-4ef1-ad89-6c51fc6a05bb.jpeg)

**Additional context**

[2021-07-27 07:43] BohuTANG commented on #1197
Yes, it's bug.
cc @dantengsky

[2021-07-27 09:09] PsiACE commented on #1092
Once https://github.com/datafuse-extras/msql-srv/pull/1/ is merged, we can easily close this issue.

[2021-07-27 09:40] dantengsky commented on #1197
/assignme

[2021-07-27 09:51] #1175 closed

[2021-07-27 13:51] #1195 closed

[2021-07-27 14:52] zhang2014 commented on #866
Maybe our sql parser is support multi dialect

- When users use the ClickHouse protocol to access DataFuse, we may be ClickHouse style (syntax, function name)
- When users use the MySQL protocol to access DataFuse, we should use MySQL style(syntax, function name)

[2021-07-27 15:49] #1197 closed

[2021-07-27 17:13] dantengsky opened #1205 "Flaky tests: UT failed with message "been running for over 60 seconds""
**Summary**

cargo test failed **frequently** with error  message: " $TEST_CASE_NAME has been running for over 60 seconds"

Some observations may be helpful:

- seems it is related to multi-thread
   when testing with `--test-threads 1`,  no errors were found (repeated for many times)
  `cargo test -- --test-threads 1 --nocapture`
- testing of a single case works just fine
  `cargo test $CASE_NAME

[2021-07-28 02:33] #887 closed

[2021-07-28 02:52] zhang2014 opened #1206 "Flaky test: unit test build failure"
**Summary**
https://github.com/datafuselabs/datafuse/pull/1199/checks?check_run_id=3171838200

[2021-07-28 03:04] zhyass opened #1207 "[bug] Metadata was not cleaned up when drop a remote database."
**Summary**

I create a remote table and insert into some data, then drop the database and create database and table again. I can get the previously inserted data.

**How to reproduce**

**Error message and/or stacktrace**

![err](https://user-images.githubusercontent.com/34016424/127256984-eaf40356-341d-4526-8f97-91323ff4b863.png)

**Additional context**

[2021-07-28 03:04] zhyass commented on #1207
/assignme

[2021-07-28 03:44] #1207 closed

[2021-07-28 07:35] dantengsky opened #1211 "Sync database meta with meta-store periodically"
**Summary**

Query layer synchronize DB metadata with meta-store periodically

[2021-07-28 07:37] #1092 closed

[2021-07-28 09:04] ZhiHanZ opened #1213 "[Performance] Better logging interface and Replace COS with S3 client"
**Summary**
Should show log when query start, and because COS is compatible with AWS S3 API, I think we could migrate current COS storage implementation to S3 client.

[2021-07-28 09:22] sundy-li opened #1215 "common/io crate to have bianary serde"
**Summary**

Currently, we serde the aggregate function state by *serde/json*, but it's not efficient as binary serde.

Eg:
avg_state
Current each state item has useless keys, and it's not compact format.
[code]

[2021-07-28 09:41] PsiACE commented on #1215
change to [bincode](https://crates.io/crates/bincode) ?

[2021-07-28 10:04] sundy-li commented on #1215
Looks great,  I have looked into this crate, but I think to use write_variant for the length of vectors or Strings is better than u64. So I create a new simple serde in common/io.

If we found another one is more efficient, we can refactor this in common/io later.

[2021-07-28 10:59] BohuTANG opened #1216 "[clickhouse] can't show progress for some query"
**Summary**

If we run this query in ClickHouse client:
[code]
It can not show the progress, but the group by query is ok:
[code]

It seems that only the group by query working.

[2021-07-28 11:07] leiysky opened #1217 "[Tracking] Refactor SQL layer"
To build a robust SQL processing system, it's necessary to divide the components clearly. It is helpful to understand the code.

RFC: https://github.com/datafuselabs/databend/blob/main/website/databend/docs/dev/rfcs/query/0005-new-sql-planner-framework.md

Tracking issue for RFC: #1853

Tasks:

- [ ] Parser: the component to parse SQL string into AST(Abstract Syntax Tree) #1218
- [ ] Binder: the c

[2021-07-28 11:11] leiysky opened #1218 "[Tracking] Refactor SQL Parser"
Part of #1217

## Background
To provide a more generic parser abstraction, we need to do some refactor on the current implementation.

Generally, all of the SQL dialects follow some basic rules, with which we can design our own SQL IR(i.e. datafuse specific AST).

With this IR, we can transform the SQL queries in different dialects into the same representation.

The major idea is provide series of

[2021-07-28 11:11] leiysky commented on #1218
Related to #866

[2021-07-28 11:18] leiysky opened #1219 "[Tracking] Refactor `PlanBuilder`"
Part of #1217

## Background
So far, `PlanBuilder` actually takes on the works of `Binder` and part of `Optimizer`(since we don't distinguish logical plan and physical plan for now).

Thus we'd better rethink about the duty of `PlanBuilder`.

My suggestion is to treat `PlanBuilder` as a `Binder`, which takes an AST and produce a logical plan bound with `Catalog`.

## Tasks

Subtasks:

- [ ] Suppor

[2021-07-28 12:49] gauss1314 commented on #1112
/assignme

[2021-07-28 12:56] BohuTANG commented on #1219
Fine, question is that if datafuse supports dataframe, what's the plan builder like?

[2021-07-28 14:33] dantengsky opened #1221 "Inaccurate Table Statistics"
**Summary**

Statistic returned by `scan_partition` is not sound.

can hardly imagine a table with 806 row and 3 bytes.

**How to reproduce**

`cargo test api::rpc::flight_service_test::test_scan_partition -- --test-threads 1 --nocapture`

[2021-07-28 16:01] leiysky commented on #866
@zhang2014 Maybe we can disscuss this in #1218

[2021-07-29 00:42] #1189 closed

[2021-07-29 00:42] #1215 closed

[2021-07-29 01:38] leiysky commented on #1219
Good question.

Spark DataSet API can be regard as a dialect of SQL with some extra functional transforms(UDF).

The SQL dialect part can be transformed into logical plan with specific transformer.

The UDF part is a little bit complicated, but we can still transform it into a logical operator eventually.

So I tend to make the current `PlanBuilder` a `SQLBinder`, and maybe introduce `DataFrameBin

[2021-07-29 02:38] zhang2014 commented on #1217
Maybe we will follow [it](https://15721.courses.cs.cmu.edu/spring2020/slides/19-optimizer1.pdf):
![image](https://user-images.githubusercontent.com/8087042/127422881-f13afa70-4a94-48ed-ab53-16e52e9c43e7.png)

[2021-07-29 02:41] leiysky commented on #1217
Yes, it's exactly what I mean.

Does the picture come from the lecture of CMU 15-445?

[2021-07-29 02:46] zhang2014 commented on #1217
https://15721.courses.cs.cmu.edu/spring2020/

[2021-07-29 02:54] leiysky commented on #1217
I've followed Andy's coureses for years. 15721 is a nice course which presents the latest academic results and industrial development every year.

[2021-07-29 04:12] compasses commented on #1216
BTW, just kindly remind, I did some performance test against clickhouse follow the guide from https://datafuse.rs/overview/performance/, all use the newest master branch, but i have a very different result with that, mostly clickhouse is better :)

[2021-07-29 04:48] BohuTANG commented on #1216
Hi!
Could you give the env and results of your test?

[2021-07-29 04:59] compasses commented on #1216
Hi,
Just some case, before i make some mis config, you can just check the two case appeared in this issue.

Intel(R) Xeon(R) CPU E5-2650 v4 @ 2.20GHz 48 core:

![image](https://user-images.githubusercontent.com/10161171/127433902-8a564cb3-830c-466f-b7f0-c3ee4dab8863.png)
![image](https://user-images.githubusercontent.com/10161171/127433953-0f9a01e1-8090-4462-9cbd-56d130dcb306.png)

![image](https:

[2021-07-29 05:08] BohuTANG commented on #1216
Hmm, how do you build the datafuse?
The performance binary build with `make build`

[2021-07-29 05:19] compasses commented on #1216
Just run with: cargo run --bin fuse-query --release

instead of make build, seems no difference.

[2021-07-29 05:24] BohuTANG commented on #1216
You could  try
[code]
and test again.

[2021-07-29 05:54] BohuTANG commented on #1216
On my local, I have set `set max_threads=16`  for clickhouse, but it seems slower than the default(max_threads=8).
I will re-measure the performance against with the latest version ClickHouse, there is already a task here: https://github.com/datafuselabs/datafuse/issues/1129

Thanks for your report @compasses

[2021-07-29 06:31] drmingdrmer opened #1225 "[store] refactor: remove fusestore/store/src/engine/mem_engine.rs"
**Summary**

`mem_engine` isn't used anymore

[2021-07-29 07:23] drmingdrmer opened #1227 "Summary of todos about distributed tracing"
- [ ] Sometimes the spans messes up with the parent-child relationship. Maybe caused by abnormal thread switching? E.g. I found the parent span of `get_member_ship()`, which is a raft sub routine, somehow becomes the `SledTree:insert_values()`, which can not be possible.
- [ ] Chaining the span when a task was sent through channel. E.g., `async-raft` sends the `client_write` request through a chan

[2021-07-29 07:26] drmingdrmer opened #1228 "Use batch mode to speed up tracing data sending."
Currently the tracing report is initialized in a naive way:

https://github.com/datafuselabs/datafuse/blob/7934cda34468cd76a797df859e338dab47f88dcf/common/tracing/src/logging.rs#L46-L55

Under heavy load, a batch mode is preferred:

https://docs.rs/opentelemetry-jaeger/0.12.1/opentelemetry_jaeger/#performance

[2021-07-29 10:11] wangzhen11aaa commented on #1046
![image](https://user-images.githubusercontent.com/7311971/127473877-0b981103-e99d-4d85-aca2-2adcc4cd7cf0.png)

Maybe, I want to get more information. Whether this demand relate to the picture above? Can we discuss it a bit?

[2021-07-29 10:15] BohuTANG commented on #1046
@wangzhen11aaa

From your image, I think it's more talking about join not related to this issue.
So, could you tell more what your want ,)

[2021-07-29 11:40] wangzhen11aaa commented on #1046
I mean the max/min, from the name, it is the value compared or to be used for comparing. From this point, I link this to the query selection problem. While, If not that meaning, what's the meaning of  these two members?

[2021-07-29 11:41] wangzhen11aaa commented on #1046
I mean the max/min, from the name, it is the value compared or to be used for comparing. From this point, I link this to the query selection problem. While, If not that meaning, what's the meaning of these two members?

[2021-07-29 12:37] BohuTANG commented on #1046
Well, the max/min can be set from the data source(such as fusestore) if the is_exact is true.
For example:
[code]
So, the ReadDataSourcePlan can set his statistics.max to `20000` by number source on underlying.
Then, we can get the max value from the statistics do not need to read the data and do computing.
See https://github.com/datafuselabs/datafuse/pull/960

[2021-07-29 14:45] drmingdrmer opened #1230 "[store] do not sync disk backed data when testing, on mac fsync takes 10~30 ms thus very ease to time out."

[2021-07-30 00:31] #1213 closed

[2021-07-30 00:47] ZhiHanZ opened #1236 "Migrate from COS to boto3 for Performance file Object Storage"
**Summary**
Instead of using COS, prefer a much generic solution that is to use boto3 api, which also provide support for more generic retry policies
Known issues:
endpoint acceleration SSL problem
Priority is not urgent, and welcome community to contribute

[2021-07-30 01:27] ZhiHanZ opened #1237 "Support distroless docker image"
**Summary**

Description for this feature.
"Distroless" images contain only your application and its runtime dependencies, does not even contains bash
https://github.com/GoogleContainerTools/distroless, which is desired to build small docker file

[2021-07-30 01:33] ZhiHanZ opened #1238 "Medium size performance query for CI performance testing"
**Summary**
Currently performance testing runs on DinD k3d kubernetes cluster, and needs to iterate around 150 times for convergence, in desired, average running time for a performance testing should not exceed 1 hour

[2021-07-30 03:09] SGZW commented on #1225
can i pick this issue?

[2021-07-30 03:19] PsiACE commented on #1225
/help

[2021-07-30 03:21] ariesdevil commented on #1225
Duplicated https://github.com/datafuselabs/datafuse/issues/1099

[2021-07-30 03:21] SGZW commented on #1225
/assignme

[2021-07-30 03:47] sundy-li commented on #1099
tracked in #1225

[2021-07-30 03:47] #1099 closed

[2021-07-30 03:48] drmingdrmer commented on #1225
@SGZW
Thanks my man!
Moving so quickly!

[2021-07-30 12:40] #1225 closed

[2021-07-30 17:22] #1102 closed

[2021-07-31 02:12] BohuTANG opened #1247 "[Compatibility] add version for flight rpc talking"
**Summary**

For example,
[code]

We can strictly limit the version:
[code]

When need update the rpc version:
[code]

[2021-07-31 02:15] BohuTANG commented on #747
Add:
[Version for flight rpc talking #1247](https://github.com/datafuselabs/datafuse/issues/1247)

[2021-07-31 04:11] compasses commented on #1216
Yes, that's meet my test to

That's not work on my environment:

[code]

BTW, where I can find the newest progress of this project? Currently I cannot create a local table and do some insert & query test right ?

[2021-07-31 05:55] jorgecarleitao commented on #1170
Let me know if you have any blocker from the arrow2's side of things; happy to help / accommodate.

The limit option has been released [as part of v0.2](https://github.com/jorgecarleitao/arrow2/releases/tag/v0.2.0).

[2021-07-31 06:07] BohuTANG commented on #1170
@jorgecarleitao
Sure, thank you.
Actually, @sundy-li is working on it https://github.com/datafuselabs/datafuse/pull/1239

[2021-07-31 06:16] BohuTANG commented on #1216
@compasses
1. snmalloc has few problems here, what's your os version?
2. We have roadmap to track the progress https://github.com/datafuselabs/datafuse/issues/746
3. local table insert is working, there's a example for the memory engine https://datafuse.rs/sqlstatement/data-manipulation-language-dml/dml-insert/
and, the remote table is working too but has not documents yet, I think it will done so

[2021-07-31 07:09] drmingdrmer commented on #1230
closed by #1231

[2021-07-31 07:09] #1230 closed

[2021-07-31 07:10] #1228 closed

[2021-07-31 07:12] drmingdrmer commented on #1205
- [x] Fixed in #1231
Confirmed on my laptop and by CI.
If there still is similar timeout problem, feel free to reopen it.

[2021-07-31 07:12] #1205 closed

[2021-07-31 07:17] drmingdrmer commented on #1153
What does the **index** mean exactly? Is it a mysql secondary index like thing, or the statistics of every column such as max/min/avg/sum?

[2021-07-31 07:39] drmingdrmer opened #1249 "APIs for moving computing task from store to query"
FuseStore provides API for unloading heavy tasks to other processes:

Tasks mentioned in
- [x] #1153

---

- [ ] [store] feature: API to query what data blocks need to be merged.
- [ ] [store] API to read a block already exists.
- [ ] [store] API to put a merged block already exists.
- [ ] [store] API to commit the merge operation: `merge{ src: Vec<block_id>, dst: block_id, table_id: xxx }`

### C

[2021-07-31 07:44] BohuTANG commented on #1153
I think here the 'index' is the secondary index as in MySQL, and clustering in snowflake.
But this issue should emphasize the manageability of the store, such as adding more management api to be invoked through additional systems, for example, we will have a system called 'fusebrain', and he analysis the query history metrics and do some pruning and clustering if user's query is hot, or something

[2021-07-31 08:05] drmingdrmer opened #1250 "Add config for DFS storage and raft meta storage, e.g. a local dir."

[2021-07-31 08:11] drmingdrmer commented on #868
`mem_engine`  is totally removed in:
- #1244

[2021-07-31 08:14] drmingdrmer commented on #874
Done in
- #1023
- #1244

[2021-07-31 08:14] #874 closed

[2021-07-31 08:15] #868 closed

[2021-07-31 10:09] dantengsky commented on #1211
PR #1212 has an implementation for this, which shows that, as we expected, in distributed execution scenarios, flaky tests occur (frequently).

I am closing this issue as we are going to cache immutable table meta only.

[2021-07-31 10:09] #1211 closed

[2021-07-31 10:34] dantengsky opened #1251 "Refactoring: RemoteDatabase and RemoteTable"
**Summary**

Currently, the implementations of `RemoteDatabase` and `RemoteTable` somehow suppose that we have a full copy of the database dictionary (of remote database).

A POC that impls issue #1211 shows that it is not that practical (as metadata of different Query nodes may be out-of-sync).

Thus `RemoteDatabase/Table` should only use cached immutable metadata(e.g. a table of given version),

[2021-07-31 13:05] compasses commented on #1216
cool！big thanks, the os version: SMP Debian 4.14.81.

[2021-07-31 17:37] SGZW commented on #1250
/assignme

i want to join development of fusestore

[2021-07-31 17:40] SGZW commented on #1250
i want to join development of fusestore,  can i pick this?

[2021-07-31 23:51] BohuTANG commented on #1250
/help

[2021-08-01 02:48] drmingdrmer commented on #1250
@SGZW Thanks your contribution man!

I have not made time to elaborate the issue yet... Sorry I got caught up in something else last night:

First a new config field need to be added:
https://github.com/datafuselabs/datafuse/blob/4bf2bed809c67d7ebabba7839519a3b293bac574/fusestore/store/src/configs/config.rs#L30-L35

For letting unit tests pass, `new_test_context()` needs to give the new field a `T

[2021-08-01 07:49] SGZW commented on #1250
when using raft library,  generally we has fsm snapshot dir / raft log dir / fsm data dir (when fsm is Persistent).  so fuse-store just keep above three dir in one ?

[2021-08-01 09:36] drmingdrmer commented on #1250
What is fsm?

A FuseStore has two major components: a local-fs and a MetaNode.
Local-fs needs a configurable local dir path, which is the only config field it lacks now.

`MetaNode` in future needs only one dir path to open a `sled::Db`. The multi db mode is gonna be replaced with the single db mode.

[2021-08-01 14:08] zhang2014 opened #1254 "Server ShutdownHandler is thread unsafe"
**Summary**

We use AtomicBool(in shutdown method) to guarantee calls from wait_for_termination_request(when kill process) and `impl Drop for ShutdownHandle`(when panic). But we cannot guarantee that the code between store and load of AtomicBool is atomic(L53-L56)

https://github.com/datafuselabs/datafuse/blob/4bf2bed809c67d7ebabba7839519a3b293bac574/fusequery/query/src/servers/server.rs#L43-L97

[2021-08-02 00:05] BohuTANG opened #1256 "[api] move warp to tokio-rs/axum"
**Summary**

For fuse-query and fuse-store http api, warp is complex to use, prefer the new axum:
https://github.com/tokio-rs/axum

[2021-08-02 01:06] PsiACE commented on #1256
/assignme

[2021-08-02 02:54] SGZW commented on #1250
yes, fsm is Finite State Machine， in fusestore，this is sled::Db, all meta info persist in the sled::Db

[2021-08-02 03:10] SGZW commented on #1254
/assignme

[2021-08-02 03:37] sundy-li opened #1258 "[store] Introduce read function to FileSystem"
**Summary**

We need to add a new method that returns a   `dyn io::read + io::Seek`, this could help in reading parquet file with projections.

cc @dantengsky

https://github.com/datafuselabs/datafuse/blob/master/fusestore/store/src/fs/ifs.rs#L12-L23

[2021-08-02 04:01] dantengsky commented on #1258
definitely right！we have had this Api before，but removed in a refactoring for simplicity of impl. will be added back soon

[2021-08-02 07:02] ZhiHanZ opened #1259 "[Build/Test Infra] Performance test and chatops integration"
**Summary**
CheckList:
Deploy Self hosted Runner

Setup github webhook(with webhook token)
Deploy chatbot server with chatbot github token, webhook token, storage configuration
Documentation about test infra(alpha stage)

[2021-08-02 07:19] LeeMaster commented on #866
maybe handwritten parser is a good approach

[2021-08-02 08:10] BohuTANG commented on #866
Hi!
There are 2 main purposes for the parser re-design: Extendibility and Maintainability.
For Maintainability, the handwritten parser is hard to matain(what's clickhouse does), so not recommand here.
For the parser, I would like it based on some rusty parser framework such as [pest](https://github.com/pest-parser/pest) or others.
Good/New ideas are always welcome~

[2021-08-02 12:06] #1254 closed

[2021-08-02 12:20] dust1 commented on #985
/assignme

[2021-08-02 17:20] zhang2014 opened #1261 "Flake unit test"
**Summary**
[code]

[2021-08-02 17:47] zhang2014 opened #1262 "[FR] Support integration with other data systems"
**Summary**

We need to introduce the `Source` into catalog for better integrate with other systems.

Source may has the following advantages(different multiple table engine):
- We don't have to mix with the table engine (explicit)
- Allow new query syntax(e.g: CREATE KAFKA SOURCE(columns) WITH brokers='ip1:port;ip2:port', topic='topic_name', format='TSV')

[2021-08-02 23:40] #1170 closed

[2021-08-03 01:11] BohuTANG opened #1264 "[cli] rename the update"
**Summary**

Prepare rename datafuse-cli `update`  to datafuse-cli `get`

[2021-08-03 01:22] BohuTANG commented on #1262
Cool.
1. parser need extend, this is easy
2. catalog provide external data source interface (@dantengsky may has plans to support, but probably later)

[2021-08-03 05:02] drmingdrmer commented on #1250
Hm... it is not finite(a key-value store is a vector space with infinite dimensions). Let's just call it state machine. :DDD

[2021-08-03 05:49] dantengsky opened #1266 "Integration test with public datasets"
As PR #1054 has been merged into master, it is time for testing the functionality, stability, and performance by using datasets from the "real world" in cluster mode,  as a middle step of steadily approaching TPC-H/DS.

This PR is supposed to be a tracking PR.

Coarse-grained descriptions come into my mind for the time being:

- Scenarios
  - business transaction data analysis (mainly focus on fun

[2021-08-03 05:53] dantengsky commented on #1261
have seen this before #1205, seems they are kind of "related"

[2021-08-03 08:03] dantengsky commented on #1261
git-bisect gives us the commit 04cde8d5ee9 , which introduces sled for the first time (in store)

the issue may be related to the way we construct the unit test.

A question issue is opened at sled:

[https://github.com/spacejam/sled/issues/1356](https://github.com/spacejam/sled/issues/1356)

waiting for reply

[2021-08-03 08:31] dantengsky commented on #1261
BTW, for anyone wanting to investigate this issue:

As it is flaky, during the bisecting, please `cargo test` at least twice for each commit to ensuring the commit does not have the problem.

A single test run, especially the fresh build, tends to give a false-positive result. (instruction cache?)

[2021-08-03 09:47] ZhiHanZ opened #1267 "Integrate bendctl into install script"
**Summary**
We already have bendctl in release process, and we could incorporate it into install script for simpler deployment experience

[2021-08-03 09:53] ZhiHanZ commented on #251
officially resolved it by docker multi arch image build

[2021-08-03 09:53] #251 closed

[2021-08-03 10:01] ZhiHanZ opened #1269 "[Test Infra]Show fuse-query and fuse-store logs during performance tests"
**Summary**
We should incorporate logs during performance queries into performance.html

[2021-08-03 10:08] BohuTANG commented on #1267
The script only need to download the datafuse-cli, fuse-query&fuse-store will be download by `datafuse-cli get` command

[2021-08-03 10:09] ZhiHanZ commented on #1267
agreed, and I think we should also support multi version management for fuse-query and fuse-store

[2021-08-03 10:12] BohuTANG commented on #1267
Indeed.
Now, datafuse-cli is versioned by the tag, every tag is a directory, for example, `test`  namespace tree:
[code]

[2021-08-03 10:15] #1264 closed

[2021-08-03 10:21] ZhiHanZ commented on #1266
Does fuse-store based cluster management finished?

[2021-08-03 10:24] #1238 closed

[2021-08-03 10:30] dantengsky commented on #1266
Not yet, I think PR #883  is working on it

[2021-08-03 10:46] dantengsky commented on #1262
Looking forward to this feature!
Catalog and datasource are being separated gradually, I think we still need some small iterations for it to be ready.

Some rough ideas :

- Lift local_database to TableProvider (and  DatasourceRegistry)
    which can produce `Table`s by the type of engine, and the `Table` accesses storage(local fs, ODBC....) according to the table options.
- Remove local database

[2021-08-03 10:47] dantengsky commented on #1262
@ariesdevil  any suggestions?

[2021-08-03 11:02] ariesdevil commented on #1262
I think we also need some mechanism to unify the data layer abstraction, such as dataframe API or table API.

[2021-08-03 11:54] leiysky commented on #1262
This is a very big scope.

Except supporting `DataSource` API and unifying the data format, we can also support pluggable optimization rules for different data sources in the future. Thus we can implement computation push down and access method choosing.

[2021-08-03 12:05] #1269 closed

[2021-08-03 12:25] #1149 closed

[2021-08-03 13:22] GrapeBaBa opened #1271 "make test error"
**Summary**
Env: macOS

Error:
[code]

[2021-08-03 13:27] ariesdevil commented on #1271
Known issue, for now you can try a few more times and it will works:)

[2021-08-03 13:56] wubx commented on #1271
Duplicate of #1261

[2021-08-04 02:42] PsiACE opened #1274 "Lost connection to server during query. Service aborted."
**Summary**

Can't connect to server.

**How to reproduce**

- `target/release/fuse-query -c scripts/deploy/config/fusequery-node-1.toml`
- Just run `SELECT number FROM numbers_mt(10000000000) ORDER BY number DESC LIMIT 100` many times, mysql or clickhouse client.

**Error message and/or stacktrace**
There is no valid information at the moment and needs to be added.

**Additional context**

![mysq

[2021-08-04 03:18] sundy-li commented on #1274
OOM caused, need to investigate

[2021-08-04 05:17] dantengsky opened #1278 "datafuse-cli: Use default values of Config in unit test instead of `Config::from_args`"
**Summary**

Unit test of datafuse-cli conflicts with `Cargo test`'s arguments

[code]

gives us

[code]

[2021-08-04 06:20] #1251 closed

[2021-08-04 06:30] #1278 closed

[2021-08-04 07:26] #1193 closed

[2021-08-04 07:26] #1259 closed

[2021-08-04 07:26] #692 closed

[2021-08-04 07:26] #748 closed

[2021-08-04 07:30] #1221 closed

[2021-08-04 08:44] ZhiHanZ opened #1283 "Trigger performance testing (alpha version)"
**Summary**
need to validate on efficiency of newly landing performance test infra

[2021-08-04 10:59] ariesdevil opened #1286 "[store] Make database and table operations delegate to KV"
**Summary**

Currently, the database and table operations are independent of kv, we need to delegate these operations to kv to achieve a unified storage model to make the statemachine structure uniform.

[2021-08-04 10:59] ariesdevil commented on #1286
/assignme

[2021-08-04 11:32] #1134 closed

[2021-08-04 12:43] simPod opened #1287 "How is this done?"
Hi, is this built on top of clickhouse? What are the enhancements?

I have checked https://datafuse.rs/overview/architecture/ but there's not much detail how does it work internally so it's kind of hard to decide whether to use or not. Thanks!

[2021-08-04 14:07] gauss1314 commented on #1287
In my opinion, this is not built on top of clickhouse. Datafuse is build from scratch inspired by clickhouse and arrow for cloud native.
Datafuse is currently in Alpha and is not ready to be used in production, but you can test it or participate in development.
Here are some design details: https://datafuse.rs/rfcs/store/0001-store-design/

[2021-08-04 15:32] PsiACE commented on #601
Add reviewers to the PR, and automatically @ other appropriate reviewers.

Just like `rust-highfive` did

[code]

[2021-08-05 00:08] BohuTANG commented on #1287
In another perspective , we can think of datafuse as a cloud version of ClickHouse, where compute and storage are separated and storage is multi-tenant.

[2021-08-05 05:26] ZhiHanZ opened #1296 "[CLI] Support to fetch, download, switch different fuse-query and fuse-store version"
**Summary**
API:
fusecli fetch --version v0.4.33-nightly
download given fuse-query or fuse-store version in release
fusecli fetch
download the latest fuse-query or fuse-store version
fusecli list
will show all fetched version, and annotate on version which is used now
fusecli switch --version v0.4.33-nightly
switch the version people want

[2021-08-05 06:05] zhang2014 opened #1297 "[store] support kill action in store"
**Summary**

When users execute kill query or query errors occur, we need to call store's kill action in query to destroy query resources.

[code]

[2021-08-05 07:58] ZhiHanZ opened #1298 "[Cli] Introduce E2E test for cli interface"
**Summary**
In desired, we should guarantee cli quality based on BDD driven tests

[2021-08-05 07:58] ZhiHanZ commented on #1298
/assignme

[2021-08-05 09:22] #1298 closed

[2021-08-05 09:33] BohuTANG commented on #1296
There already a issue for tracking it:https://github.com/datafuselabs/datafuse/issues/938

And CLI designed including two parts:
1. main command
2. sub command

For example:
[code]

main command: `package`
sub command: `fetch`

It seems more make sense.

[2021-08-05 09:35] BohuTANG opened #1300 "[DOC] add perf test to document website"
**Summary**

Add perf test to  https://datafuse.rs

[2021-08-05 09:47] #1300 closed

[2021-08-05 09:52] onzo-bryanfeeney commented on #654
If the name is cheap it should cost you nothing to change it, so why not make the change?

[2021-08-05 10:14] BohuTANG commented on #654
Hi!
In terms of projects name, the datafuse project has an earlier name than datafusion.
datafuselabs/datafuse(Mar 27 2021): [b335630](https://github.com/datafuselabs/datafuse/commit/bfa0bfb28ade1685987148e57c65dbaa976c89a3#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5)
arrow-datafusion(04 May 2021): https://arrow.apache.org/blog/2021/05/04/rust-dev-workflow/

So, we just k

[2021-08-05 10:28] sundy-li opened #1302 "Cast is very slow in arrow/arrow2"
**Summary**

[code]

[code]

https://github.com/jorgecarleitao/arrow2/issues/252

The second query is 70 times slower

[2021-08-05 11:05] Dandandan commented on #654
@BohuTANG

That's incorrect.

DataFusion is a project that was started end 2016 / beginning 2017 by @andygrove with that name.

https://github.com/andygrove/datafusion/commits/master?before=219ca3f61f0d751779b4f30c02aa5fdcf8a40d12+385&branch=master

Early 2019 it was donated to Apache Arrow already:

https://arrow.apache.org/blog/2019/02/04/datafusion-donation/

[2021-08-05 11:21] BohuTANG commented on #654
Thanks for the correction.
Who have a better name ? :thinking:

[2021-08-05 12:03] #599 closed

[2021-08-05 12:11] BohuTANG opened #1303 "[improvement] use tls_server_cert/rpc_tls_server_key for RPC&HTTP tls"
**Summary**

Use `tls_server_cert/rpc_tls_server_key` to instead of `rpc_tls_server_cert/rpc_tls_server_key` for all RPC&HTTP tls

cc @dantengsky

[2021-08-05 12:18] #1112 closed

[2021-08-05 12:42] zhang2014 commented on #1256
pre task of #883, assign to me : )

[2021-08-05 12:42] zhang2014 commented on #1256
/assignme

[2021-08-05 12:54] dantengsky opened #1304 "maybe change conf to `sessions.get_conf()` is better?"
maybe change conf to `sessions.get_conf()` is better?

_Originally posted by @zhang2014 in https://github.com/datafuselabs/datafuse/pull/1290#discussion_r683389255_

[2021-08-05 13:45] #1304 closed

[2021-08-05 15:03] gauss1314 opened #1306 "Need support select number from numbers(10) where number is NULL;"
**Summary**

**How to reproduce**

[code]

[2021-08-05 15:07] gauss1314 opened #1307 "pretty nohup.out when exec select * from numbers(10) where null;"
**Summary**

**How to reproduce**

[code]

But look at `nohup.out`:
[code]

[2021-08-05 15:07] gauss1314 commented on #1307
/assignme

[2021-08-05 16:11] gauss1314 commented on #654
Hi @BohuTANG ,how about Basefuse ?

[2021-08-05 16:17] andygrove commented on #654
I think that there are plenty of smart and creative people here that can help with coming up with a name. It would be helpful to know the motivation/meaning behind the name DataFuse.

[2021-08-05 17:09] drmingdrmer opened #1311 "[store] feature: create a global sled db for all use in a process."

[2021-08-05 17:09] drmingdrmer opened #1312 "[store] feature: every meta component opens a sled::Tree in the global db with a configure prefix to avoid conflict."

[2021-08-05 17:09] drmingdrmer opened #1313 "[store] test: when running unittest, generate unique sled tree prefix for every test."

[2021-08-05 17:15] BatmanAoD commented on #654
Why was the previous name (as seen in that commit from March), FuseQuery, changed?

[2021-08-05 23:01] l1t1 commented on #654
try datamix？

[2021-08-06 00:01] BohuTANG commented on #654
@andygrove @BatmanAoD @l1t1
Hi！
There are some challenges here, the project datafuse creator company also called datafuse, it's hard for us to change it.
At present, we are fully focused on product development, the name should be considered in the long run.

[2021-08-06 00:15] houqp commented on #654
if you are going to change the project name eventually, it's better to do it sooner than later so you can build the brand. Changing the name later after will impact you negatively on SEO and marketing etc.

[2021-08-06 00:32] BohuTANG commented on #1296
Duplicated with #938

[2021-08-06 00:32] #1296 closed

[2021-08-06 01:31] BohuTANG commented on #654
FuseQuery is one part of Datafuse, it's a query engine:
https://github.com/datafuselabs/datafuse/tree/master/fusequery

Datafuse is a DBMS, it consists of several components:
1. FuseQuery -- distributed query engine
2. FuseStore -- distributed storage engine
3. FuseCLI -- a deploy and management all in one tool for Datafuse

[2021-08-06 01:43] BohuTANG opened #1315 "[DOC] add datetime data type"
**Summary**

Add datetime data type to document website https://datafuse.rs

[2021-08-06 01:59] ZhiHanZ commented on #1283
finished, and should be closed

[2021-08-06 01:59] #1283 closed

[2021-08-06 03:40] BohuTANG opened #1316 "[datasource] add MySQL datasource"
**Summary**

Add MySQL external datasource.

[2021-08-06 04:13] SGZW commented on #1311
what the mean of "all use"? state machine and raft log and anything else ?

[2021-08-06 04:18] drmingdrmer commented on #1311
raft state, raft log, raft state machine.
Meanwhile these 3 components depends on sled::Db.

There is some testing ongoing to ensure whether this modification would fix the deadlock bug.

It seems using only one sled db still has chance of deadlock with concurrent calls to `sled::Tree::flush_async()` :(((

[2021-08-06 04:27] dantengsky commented on #1303
does it mean that we should use the same `server_cert/key` for both RPC and HTTP services?

[2021-08-06 04:36] SGZW commented on #1311
Thanks,  so the purpose of this issue is to solve the deadlock? Can you give more info about this dead lock or this problem is the internal of sled::Tree ?

[2021-08-06 04:47] dantengsky commented on #1303
Certs for https and rpc may be issued for different domain names (by different CAs)

[2021-08-06 04:57] BohuTANG commented on #1303
Now, we have:
https://github.com/datafuselabs/datafuse/blob/ad8b8f741c672ae4fad9737bb884744bc3b5a950/fusequery/query/src/configs/config.rs#L156-L175

Perhaps we can use `tls_server_cert/key` instead of `rpc_tls_server_cert/key`? Seems they are duplicated .
Domain is ok here.

[2021-08-06 05:29] dantengsky commented on #1303
I suggest keeping the cert/key separated, since

- HTTPS services(and their REST protocol) are supposed to be publicly accessible, and they will bind to public IP address and domain name (latter in production env, with extra authen/author mechanism of course).
- On the contrary, RPC is supposed to be private inner-cluster(s) communication
- And AFAIK, while tonic TLS client negotiating with the TL

[2021-08-06 05:33] BohuTANG commented on #1303
Ok.
We will change the name to `api_tls_server_cert/key`

[2021-08-06 05:35] dantengsky commented on #1303
got it

[2021-08-06 05:44] BohuTANG opened #1317 "[improvement] rename tls_server_cert/key"
**Summary**

As disscussed #1303 ， we keep the config `tls_server_cert/key`, plan to rename it to `api_tls_server_cert/key`

[2021-08-06 05:44] #1303 closed

[2021-08-06 05:46] drmingdrmer commented on #1311
I did not yet dig deep enough yet. A deadlock occurs when using `sled::Tree::flush_async()` on multiple sled::Db in multiple `tokio::runtime`.
I have a snippet to reduce this problem:
https://github.com/drmingdrmer/sledtest/blob/main/src/main.rs

But in datafuse unittest, a single sled db has this problem too. (sled doc states that a process should open only one sled::Db which I thought is the cau

[2021-08-06 06:01] dantengsky opened #1318 "rename to tls_server_cert/key to api_tls_server_cert/key"
Ok.
We will change the name to `api_tls_server_cert/key`

_Originally posted by @BohuTANG in https://github.com/datafuselabs/datafuse/issues/1303#issuecomment-894012996_

[2021-08-06 06:29] #1250 closed

[2021-08-06 06:51] dantengsky commented on #1317
since #1318 is tracing it, I am going to close this issue

[2021-08-06 06:51] #1317 closed

[2021-08-06 09:14] #1318 closed

[2021-08-06 13:10] zhang2014 opened #1320 "Flake unit test in OS X"
**Summary**

Looks like may not have permission?
[code]

[2021-08-06 13:20] zhang2014 opened #1321 "Add stateless-test stateless-cluster-test unit-test for OSX"
**Summary**
I think we need to support them in CI, because we have some developers using MacOS to write code : )

CC: @zhihanz

[2021-08-06 13:21] zhang2014 commented on #1321
This may be a `good first issue`

[2021-08-06 13:22] andygrove commented on #654
Given that all the parts start with Fuse, I would probably start the product name with Fuse as well. The most obvious choices to me would be:

- FuseDB
- FuseData
- FuseBase
- FuseIO
- Fused

I think the company name is less of a concern to the community than the product name, but that's just my opinion.

[2021-08-06 13:22] BohuTANG opened #1322 "[DOC] add datafuse CLI to website"
**Summary**

Add datafuse CLI to website: https://datafuse.rs

[2021-08-06 13:29] ZhiHanZ commented on #1321
/assignme

[2021-08-06 13:41] xuyifangreeneyes commented on #1191
Can I have a try on the issue? @BohuTANG @zhang2014

[2021-08-06 13:48] BohuTANG commented on #1191
/help

[2021-08-06 13:54] xuyifangreeneyes commented on #1191
/assignme

[2021-08-06 14:08] PsiACE commented on #1320
also reproduced in linux(wsl::fedora vscode)

[2021-08-06 16:39] jyz0309 commented on #1004
Does it mean prometheus metric? If it's, can I try to take this issue? @BohuTANG

[2021-08-06 16:54] PsiACE commented on #1004
/help

[2021-08-07 00:08] BohuTANG commented on #1004
@jyz0309 right.
You can take the issue by reply:
/assigneme

[2021-08-07 01:37] jyz0309 commented on #1004
/assigneme

[2021-08-07 04:03] #1311 closed

[2021-08-07 04:04] #1312 closed

[2021-08-07 04:04] #1313 closed

[2021-08-07 04:17] drmingdrmer commented on #1139
@ariesdevil are you still working on this?

[2021-08-07 04:26] ariesdevil commented on #1139
Yep, change the database and table to kv operations will cover this issue.

[2021-08-07 04:32] drmingdrmer commented on #1139
If possible, smaller PR reduces latency and increases concurrency. (Just like the way we do with mutex. 🤔

[2021-08-07 04:34] ariesdevil commented on #1139
Okay.

[2021-08-07 04:40] drmingdrmer opened #1328 "[store] refactor: merge RaftState and Logs."
Intuitively, a raft has two uncoupled component: the log and the state machine. E.g. a raft impl can just work well without state machine.

Since meta data use a global sled db, putting `RaftState` and raft logs in a same sled tree would be better:
- They are always update together. Naturally `RaftState` is part of raft logs.
- `SledVarTypeTree` supports multi key spaces. Thus duplicated code of s

[2021-08-07 05:07] dust1 commented on #985
Sorry to disturb.
I am executing some wrong statements like `select id from unknow_table`, the place where the exception is thrown is `MySqlError`. Will it be thrown as long as it is an exception during query?
If only mysql_session error,How can I reproduce this exception? :(

[2021-08-07 05:24] PsiACE commented on #985
like OOM in https://github.com/datafuselabs/datafuse/issues/1274

SELECT number FROM numbers_mt(10000000000) ORDER BY number DESC LIMIT 100

[2021-08-07 06:22] sundy-li opened #1329 "[clickhouse-handler] print error stacktrace in clickhouse-handler"
**Summary**

ClickHouse handler did not show the error stacktrace

**How to reproduce**

[code]

**Additional context**
Should print the error stacktrace like mysql-handler did.

[2021-08-07 06:38] dust1 commented on #985
thanks. :)

[2021-08-07 08:20] PsiACE commented on #1320
closed by https://github.com/datafuselabs/datafuse/pull/1325

[2021-08-07 08:20] #1320 closed

[2021-08-07 10:26] drmingdrmer commented on #1271
Fixed in #1326

[2021-08-07 10:26] #1271 closed

[2021-08-07 10:27] drmingdrmer commented on #1261
fixed in #1326

[2021-08-07 10:27] #1261 closed

[2021-08-07 14:21] wangzhen11aaa commented on #1046
Hi, I have read all the discussions about min/max,  in these contexts, by now, I can only know about that we maybe want to set
min/max value in the ReadDataSourcePlan only for count(*).

from code optimizer_statistics_exact.rs
`            ) if op == "count" && args.len() == 1 => match (&args[0], input.as_ref()) {
                (Expression::Literal { .. }, PlanNode::ReadSource(read_source_plan)

[2021-08-07 14:35] wangzhen11aaa commented on #1046
If this task takes too long, tell me, I may be find some other to do. )

[2021-08-07 16:56] BohuTANG opened #1337 "[development] install MySQL client in make setup"
**Summary**
For stateless test while development, datafuse using MySQL client to do query, it would be better to install it in setup script.

[2021-08-07 23:47] BohuTANG commented on #1046
That's ok, we can do this later.

[2021-08-07 23:56] wangzhen11aaa commented on #1046
Is my idea right? The idea is that we need to set min/max in the PlanNode.

[2021-08-08 00:05] wangzhen11aaa commented on #1046
ok

[2021-08-08 00:36] BohuTANG commented on #1046
Here is a example:
https://github.com/BohuTANG/datafuse/commit/bf8b5ee84f8f829aebd30b8fa258fefd4c1498a8

we can set min/max/count from the datasource, and check them in the optimizer.
if the query is extra with: `select count(number)/min(number)/max(number) from numbers_mt`, we can use the extra directly.

[2021-08-08 01:36] #1191 closed

[2021-08-08 03:16] wangzhen11aaa commented on #1046
Ok, I will rethink it again.

[2021-08-08 05:08] BohuTANG opened #1339 "[test-infra] change the status to running"
**Summary**
For the CI `/run-perf master`, `pending` may not be a good status, since they are already running in backgroud, change to `running`?

<img src="https://user-images.githubusercontent.com/172204/128621465-8ba82620-8b59-42ca-841e-f39c30698287.png" align="center" style="zoom:10%;" />

[2021-08-08 07:12] leiysky commented on #867
@dantengsky

I've just realized something, and I will appreciate it if you can give some feedback:

1. Do we distinguish between immutable and mutable tables(or partitions)? Since it's simple to do some optimization on static dataset, e.g. accurate statistics, efficient cache policy.

2. Shall we have more fine-grained item classification? Like supporting `Field` item, `Function` item, so we can i

[2021-08-08 07:56] wangzhen11aaa opened #1340 "Build for Debug Error"
Error
Running `cargo build --bin=fuse-query --package=fuse-query --message-format=json`...
   Compiling common-flights v0.1.0 (/Users/wangzhen/RustProject/datafuse/common/flights)
error[E0432]: unresolved import `tonic::transport::ClientTlsConfig`
  --> common/flights/src/dns_resolver.rs:25:5
   |
25 | use tonic::transport::ClientTlsConfig;
   |     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ no `ClientTlsC

[2021-08-08 08:22] BohuTANG commented on #1340
Could you please try:
[code]

[2021-08-08 08:50] BohuTANG opened #1342 "[BUG] code: 1002. DB::Exception: Received from localhost:9000. DB:Exception. failed to fill whole buffe"
**Summary**

With clickhouse client query:
`SELECT max(number), sum(number) FROM numbers_mt(100000) GROUP BY number % 3`

**How to reproduce**

Build with snamalloc:
[code]

Server log:
[code]

MySQL client:
[code]

ClickHouse client:
[code]

[2021-08-08 08:50] PsiACE commented on #1091
https://github.com/asomers/mockall/pull/325

done, but need to wait for a new version of mockall to be released

[2021-08-08 09:10] #1307 closed

[2021-08-08 09:13] gauss1314 commented on #853
Let me implement `toStartOfYear` function.

[2021-08-08 09:24] zhang2014 commented on #1342
The following message is expected to displayed in the clickhouse-client, right?
[code]

[2021-08-08 09:26] PsiACE opened #1344 "[bug] cannot correctly process values in input sql"
**Summary**

mysql cannot correctly process values in input sql.

**How to reproduce**

[code]

**Error message**

ERROR 1105 (HY000) at line 4: Code: 6, displayText = Function number_byte_size argument must be numeric types, but got Utf8.

**Stacktrace**

[code]

[2021-08-08 09:26] PsiACE commented on #1344
We need a values format deserilizer to deserialize in Values format.

[code]

[2021-08-08 09:40] BohuTANG commented on #1342
Hm, it likes a internal bug, the client can not get the results instead broken by the unknown error

[2021-08-08 09:49] drmingdrmer commented on #1328
I does not smell good putting raft state and log together. Close it. Until I figure out some better way to organize all these stuff.

[2021-08-08 09:49] #1328 closed

[2021-08-08 10:19] ZhiHanZ commented on #1339
github status only supports 4 types: error, failure, success and pending, and seems like we could not define status by oursleves.
https://docs.github.com/en/rest/reference/repos#statuses

[2021-08-08 10:19] #1339 closed

[2021-08-08 11:39] #1340 closed

[2021-08-08 12:42] dantengsky commented on #1091
@PsiACE  AFAIK, there is only one test mod `user_mgr_test` depends on crate `mock_all`, if `mockall` we are considering to deprecate this crate(mock_all), please let me know, I'd like to re-write the unit tests

[2021-08-08 12:43] wangzhen11aaa commented on #1340
tonic = { version = "0.4.3", features = ["transport", "codegen", "prost", "tls-roots", "tls"] }
These features of tonic should be added in Cargo.toml of flights module.

[2021-08-08 12:45] dantengsky commented on #1340
@wangzhen11aaa  I think @sundy-li has fixed this issue, would you please try the lasted master branch again?

[2021-08-08 12:46] dantengsky commented on #1340
and please feel free to re-open this issue, if the bug is still there :D

[2021-08-08 12:47] wangzhen11aaa commented on #1340
It's ok now.

[2021-08-08 12:48] dantengsky commented on #1340
got it, and thanks for opening the issue :D

[2021-08-08 13:44] dantengsky commented on #867
pleasure to discuss with you ( and all the kind people who cares about datafause)

For each version of a given table, it is immutable: including schema, partitions, and other meta data of it. When computation layer accessing a table without specifying the version, the latest version of the table will be returned.

There might be some exceptions, like re-orging a table (background merging),  things

[2021-08-08 13:52] ZhiHanZ opened #1347 "[Performance Test] Improve charset display in performance.html"
**Summary**
seems like report html has some charset display issues, and could be prettified
https://test-1306375239.cos.accelerate.myqcloud.com/report/1334/b7b370b3e8336ae007a1fa143939675443c9b2f0/36b91cc0-5a19-4256-9644-6c71011831a4/performance.html

[2021-08-08 14:09] PsiACE commented on #1091
@dantengsky It would be better if mockall can be easily removed.

[2021-08-08 14:19] xxxinliActive commented on #1337
Gonna pick this as a starter for my own.

It seems the `make setup` gonna support five major package managers and mysql-client are contained for most of them with one exception. Refer to the [MySQL - ArchWiki](https://wiki.archlinux.org/title/MySQL), the support for mysql was dropped due to their policies. Based on this, which options we are in flavor of? AUR community maintained builds, pre-built

[2021-08-08 14:24] jyizheng commented on #867
What are the file format and table format we want to support?
Parquet is a popular file format and the cost-based-optimization may rely on it.
Is the iceberg the table format we want to support?

[2021-08-08 14:24] leiysky commented on #867
Thanks for the reply.

Correct me if I was wrong, for each write operation, like insert a single row with `INSERT INTO t VALUES(...)`, it will generate a unique version.

This scheme would bring serious overhead, that is, user have to batch the records and ingest them with bulk load.

How do you handle this case?

[2021-08-08 14:25] dantengsky opened #1349 "executes `TruncateTableAction` by using raft consensus protocol"
**Summary**

If I get it right, `TruncateTableAction` is being executed by modifying the state of `MetaStore` directly, which is correct in single-node store deployment. But for multi-nodes deployment of `Store`,  `TruncateTableAction` should be performed by using the raft consensus protocol, like "CreateTable/Databse" does

[2021-08-08 14:27] ariesdevil commented on #1349
/assignme

[2021-08-08 14:34] PsiACE commented on #1337
aur or pre-built binary would be nice and maybe it is necessary to give users a hint.

[2021-08-08 14:38] ZhiHanZ opened #1350 "[Deploy] Update helm deployment"
**Summary**
Need to update helm deployment API interface for deployment and we should integrate cluster mode api into helm deployment once finished.
Related PR:
https://github.com/datafuselabs/datafuse/pull/1348

[2021-08-08 14:48] leiysky commented on #867
And besides, I have the question too.

Maybe we can have our own unified columnar format?

As https://www.firebolt.io/performance-at-scale said, they will transform the external data(e.g. JSON, Parquet, Avro, CSV) into their own data format F3 through the ETL pipeline.

[2021-08-08 15:04] jyizheng commented on #867
@leiysky  I agree and thought about this, too. Maybe it is a good idea to borrow some ideas from clickhouse to define our own file format. My impression is that clickhouse is very good at filtering data so that the query can be fast. A Parquet file has some stats or summaries for the data it stores. We may want to extend a parquet file's stats or summaries with the clickhouse tricks.

[2021-08-08 15:18] ZhiHanZ opened #1352 "[Security] Support to add Certificate Authority ca for TLS communication"
**Summary**
Desired in PKI infrastructure, self-signed certificates is not enough, and should only be used in test or development environment, cluster admin should be able to host their own CA(Certificate Authority) or using third party CA(ie vault, ACME, Google CAS) for mTLS communication(zero trust security for all running instances).
For end to end security consideration, this TLS configuration

[2021-08-08 15:52] leiysky commented on #867
Yes, I think it's mainly because of sparse index, which can help skipping some data units(depends on data distribution, the effect can be surprising) with min/max, bloom filter or else. It's convenient for us to build different index on a data file, even on demand on the fly.

And AFAIK, ORC does have sparse index in their data format, but I haven't do any benchmark on them, so just FYI.

Anyway,

[2021-08-08 16:48] dantengsky commented on #867
Clickhouse's mergetree engine, and the way they organize the index, is definitely a valuable reference, but IMHO,  I am afraid it is not "cloud-native" friendly, @zhang2014 @sundy-li may have more insightful comments on this.

We do consider using something like iceberg's table format, which is more "batch_write" friendly as @leiysky mentioned, i.e. if small parts keep being ingested in without ba

[2021-08-08 16:49] #867 closed

[2021-08-08 22:59] sundy-li commented on #1344
Refer: https://github.com/ClickHouse/ClickHouse/blob/master/src/Processors/Formats/Impl/ValuesBlockInputFormat.h

[2021-08-09 00:37] github-actions[bot] opened #1357 "RUSTSEC-2021-0080: Links in archive can create arbitrary directories"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `tar`                      |
| Version             | `0.4.35`                   |
| URL                 | [https://github.com/alexcrichton/tar-rs/issues/238](https://github.com/alexcrichton/tar-rs/issues/238) |
| Date

[2021-08-09 01:17] #1347 closed

[2021-08-09 01:50] #204 closed

[2021-08-09 01:50] BohuTANG opened #1359 "[handler] http server handler"
**Summary**

Tasks:
- [x] #2241

[2021-08-09 02:04] BohuTANG commented on #765
Add:
[http server handler #1359](https://github.com/datafuselabs/datafuse/issues/1359)

[2021-08-09 02:19] ZhiHanZ opened #1360 "[CI] Flaky store test on OSX"
**Summary**
Unit Tests failed on OSX unit tests.
https://github.com/datafuselabs/datafuse/pull/1358/checks?check_run_id=3276265398

[2021-08-09 02:21] zhang2014 opened #1361 "ClickHouse style kill query statement"
**Summary**

https://github.com/datafuselabs/datafuse/pull/1280#issuecomment-894912653

[2021-08-09 02:42] ZhiHanZ commented on #1360
cc @drmingdrmer

[2021-08-09 04:28] drmingdrmer commented on #1360
Thanks man!

[2021-08-09 04:54] #1337 closed

[2021-08-09 06:58] ZhiHanZ opened #1365 "[Documentation] Document on how to setup build and run tests(stateless, performance UT etc)"
**Summary**
To invite more developers envolve in community, we could explain more details on how to run all setup, build and tests.
Documentation needed:
1. How to run stateless tests on users' local machine(needs to setup extra tools ie mysql client)
2. How to setup performance tests from scratch

related discussion:
https://github.com/datafuselabs/datafuse/pull/1358#discussion_r684951055

exampl

[2021-08-09 07:03] #1360 closed

[2021-08-09 07:03] wangzhen11aaa commented on #1046
/assignme

[2021-08-09 07:04] wangzhen11aaa commented on #1046
/assignme

[2021-08-09 07:22] #1321 closed

[2021-08-09 07:42] drmingdrmer opened #1366 "[store] refactor: when testing, use the path defined in config to create a DFS"
**Summary**

`bring_up_dfs_action_handler()` should create the `fs` with local dir `tc.config.local_fs_dir`, instead of creating a tempdir.

https://github.com/datafuselabs/datafuse/blob/4236ce19ca5abd589dc1391f15035ab7f987976c/fusestore/store/src/executor/action_handler_test.rs#L656-L677

[2021-08-09 07:49] drmingdrmer commented on #1349
@ariesdevil
Finish the issues you are working on before taking another one.

[2021-08-09 07:50] drmingdrmer commented on #1349
@ariesdevil
Or release the issue you are working on if you've moved to another one.

[2021-08-09 07:52] PsiACE opened #1367 "Reorganize the file structure?"
This draft focuses on the following points:

1. reorganizing the file structure.
2. unifying the name style `fuse` -> `datafuse`.

**Examples 1:**

- before:

[code]

- after:

[code]

**Examples 2:**

- before:

[code]

- after:

[code]

[2021-08-09 07:53] SGZW commented on #1366
/assignme

[2021-08-09 07:55] PsiACE commented on #1367
also, if we have plans to implement a full SQL dialect parser ourselves, then we can start by moving the sql module out of query into a separate component.

[2021-08-09 07:59] zhang2014 commented on #1367
Look good to me.

[2021-08-09 08:00] ZhiHanZ commented on #1367
Does package names change affect binary file names?

[2021-08-09 08:02] PsiACE commented on #1367
Yes. I will modify the scripts and make the ci work correctly.

[2021-08-09 08:02] wangzhen11aaa commented on #1046
I think i know this idea, We get this value from the query itself.
Query->Statements->Plan-> .Set(Statistics in read_plan function). ->.

[2021-08-09 08:05] BohuTANG commented on #1367
LGTM :+1:

[2021-08-09 08:05] ZhiHanZ commented on #1367
pay special attentions to docker build part, and test infra needs to change as well, as an alternative method, we could rename package name for docker part

[2021-08-09 08:15] drmingdrmer commented on #1349
https://github.com/datafuselabs/datafuse/blob/4236ce19ca5abd589dc1391f15035ab7f987976c/fusestore/store/src/executor/storage_handlers.rs#L31-L53

The modification includes:
- Submit a `LogEntry` to `MetaNode` throught `write()` method. A good reference is: https://github.com/datafuselabs/datafuse/blob/4236ce19ca5abd589dc1391f15035ab7f987976c/fusestore/store/src/executor/kv_handlers.rs#L26-L47
- Mov

[2021-08-09 08:17] drmingdrmer commented on #1366
BTW the argument `root` can be removed. 🤔

[2021-08-09 11:18] SGZW commented on #1349
/assignme

[2021-08-09 11:40] xuyifangreeneyes commented on #1329
/assignme

[2021-08-09 11:40] #1366 closed

[2021-08-09 11:51] drmingdrmer commented on #1349
@SGZW This issue involves codes that still need some refactor and may be misleading when you read it.
If you have any question about the current code base, just let us know.

[2021-08-09 12:23] SGZW commented on #1349
ok, thanks

[2021-08-09 13:00] leiysky commented on #1316
Does datafuse have mechanism like [FDW(Foreign Data Wrapper)](https://www.postgresql.org/docs/current/postgres-fdw.html)?

It's necessary to support registering external data sources in catalog, with their specific attributes(e.g. host, port, url).

[2021-08-09 13:09] #1297 closed

[2021-08-09 13:12] BohuTANG commented on #1316
We are planning to refcator the datasource module to support more datasources.
Such as MySQL, it will be like:
[code]
And the ENGINE uri is stored in metastore, when we use one table we first to check it's uri from the metastore and select the right datasource(here is mysql datasource) factory.
BTW, @dantengsky planning working on it.

[2021-08-09 13:42] sundy-li opened #1372 "[ci] Add MergePullRequest + UnitTests workflow"
**Summary**

Currently, the ci only do tests on the pr brach,  we can add `MergePullRequest + UnitTests  workflow` to avoid merge bugs.

[2021-08-09 13:43] sundy-li opened #1373 "[ci] Add MergePullRequest + UnitTests workflow"
**Summary**

Currently, the ci only do tests on the pr brach, we should add `MergePullRequest + UnitTests  workflow` to avoid merge bugs.

[2021-08-09 13:47] #1372 closed

[2021-08-09 13:49] drmingdrmer commented on #1373
CI tests pr + master_1. But when CI finished, master becomes master_2. master_2 + pr is not tested then, but can be merged...

[2021-08-09 14:12] sundy-li commented on #1373
In this case, we should manually fix the problem..

[2021-08-09 14:14] sundy-li commented on #1329
Thanks, @xuyifangreeneyes   pls take a look at #1353 , we can add this feature at one time.

[2021-08-09 17:58] drmingdrmer opened #1385 "[store] feature: store StateMachine::files in sled."

[2021-08-09 18:01] drmingdrmer opened #1386 "[store] feature: store StateMachine::kv in sled."

[2021-08-10 01:09] zhang2014 commented on #985
fixed in #1353

[2021-08-10 01:09] #985 closed

[2021-08-10 01:14] zhang2014 opened #1387 "Support SHOW TABLES FROM statament"
**Summary**

https://www.db-fiddle.com/f/iLtiAbwXGB92HNENybo1T3/0
[code]

[2021-08-10 01:21] zhang2014 opened #1388 "Support SHOW TABLES LIKE `pattern` and Where expr"
**Summary**

https://www.db-fiddle.com/f/9941isstm4v3dvWhye9ZPg/0
[code]

[2021-08-10 01:23] zhang2014 opened #1389 "Support SHOW TABLES WHERE statement"
**Summary**

https://www.db-fiddle.com/f/xkhhN3tfxXnUepeDPJ86rA/1
[code]

[2021-08-10 01:27] zhang2014 opened #1390 "Support SHOW DATABASE LIKE statement"
**Summary**

https://www.db-fiddle.com/f/D49ZGxZAm4JU1wo8euiAn/0
[code]

[2021-08-10 02:37] sundy-li opened #1393 "[performance] Improve rem scalar in Rust"
**Describe the situation**

Rust has not optimized well in arithmetic rem scalar like c++.

Refer to:

https://godbolt.org/z/nfMq8q4ve

https://www.zhihu.com/question/22747596/answer/121119675

Someone who interests in Rust or compiler may take a try to improve this.

[2021-08-10 03:19] dantengsky opened #1394 "decoupled `DatabaseCatalog` from `RemoteFactory`"
**Summary**

As `DatabaseCatalog` already held a ref of `DBMetaStoreClient`,  it is unnecessary for catalog to depend on RemoteFactory.

Also, this is the first step to decompose `Localdatabase` into Datasources

[2021-08-10 04:20] zhang2014 opened #1397 "[perf_test] Run perf testing for each commit after perf comments"
**Summary**

Run perf testing for each commit after perf comments

cc: @ZhiHanZ

[2021-08-10 04:39] sundy-li commented on #1393
Found `strength_reduce` crate worked in this case.

[2021-08-10 04:39] #1393 closed

[2021-08-10 05:13] ZhiHanZ commented on #1397
not sure about the importance of there requirement, in design I assume performance improve is updated through a single patch, and we could bisect to watch on performance improvement

[2021-08-10 06:22] ZhiHanZ opened #1401 "[Test/CI] Integration test for TLS communication"
**Summary**

1. build CA pem and CA key(using cfssl or openssl)
2. generate keypair for fuse-query and fuse-store rpc and http communication
3. check on cluster connectivity
4. add client keypair for mysql client and clickhouse client. check whether TLS works for clients
5. webhook TLS(Optional)

[2021-08-10 06:25] #1394 closed

[2021-08-10 06:57] zhang2014 commented on #919
Cannot reproduce.

[2021-08-10 06:57] #919 closed

[2021-08-10 07:25] zhang2014 opened #1402 "[FR] Support expire action in key/value API"
**Summary**

- Support ExpireKVAction(key, new_timeout)
- Add the timeout field in the UpsertKVAction

CC: @drmingdrmer

---
Attached issues from your dear assignee:DDD

- [x] #1422
- [x] #1426

[2021-08-10 08:28] #1151 closed

[2021-08-10 09:52] BohuTANG opened #1406 "[plan] move ReadSourcePlan to from parser to SelectInterpreter"
**Summary**

`ReadSourcePlan = table.read_plan()` will request a long path(MetaStore), it would be better to move it to SelectInterpreter.

[2021-08-10 09:52] BohuTANG commented on #1406
cc @zhang2014 @sundy-li

[2021-08-10 10:00] BohuTANG opened #1407 "[common] add common/dal mod"
**Summary**

common/datasources mod may including:
[code]

[2021-08-10 10:07] BohuTANG opened #1408 "[roadmap-track] Cloud Re-architected"
**Summary**
Make Datafuse architecture more cloud.

# Main tasks

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [Decoupled DatabaseCatalog from RemoteFactory #1394](https://github.com/datafuselabs/datafuse/issues/1394)| DONE  |  v0.5 |    |
| [Add c

[2021-08-10 10:08] dantengsky commented on #1407
In the `datasource` abstraction, should we support `create databases by engine` like CK

https://clickhouse.tech/docs/en/engines/database-engines/

that is, although metadata is saved in a single meta store ( no more local metadata ), databases can be re-interpreted by different engines.

[2021-08-10 10:09] BohuTANG commented on #746
Add:
 [ Cloud Re-architected track #1408](https://github.com/datafuselabs/datafuse/issues/1408)

[2021-08-10 10:09] dantengsky commented on #1407
In addition to the table engine (if I get it right) in issue #1316

[2021-08-10 10:11] BohuTANG commented on #1407
The database engine later?
Here I assume that is only a constraint, not affect our cloud arch.

[2021-08-10 10:12] dantengsky commented on #1407
Ok

[2021-08-10 11:07] sundy-li commented on #754
It's already done.

[2021-08-10 11:07] #754 closed

[2021-08-10 11:07] #520 closed

[2021-08-10 12:03] #1386 closed

[2021-08-10 13:17] ZhiHanZ opened #1413 "[CI] Add slack notification on performance test"
**Summary**

Description for this feature.
For timely troubleshooting, it is helpful

[2021-08-10 13:35] dust1 commented on #1387
/assignme

[2021-08-11 01:11] BohuTANG opened #1420 "[config] split config to groups"
**Summary**

For query/config.rs, all configs are in one `pub struct Config {...}`,  it would be clear to make many groups, like:
[code]
[code]

[2021-08-11 01:25] ygf11 commented on #1390
/assignme

[2021-08-11 03:11] sundy-li commented on #1390
[code]

Then we can support `show databases limit 1`

[2021-08-11 03:45] jackwener commented on #1413
Maybe I can have a try to fix.

[2021-08-11 03:49] sundy-li commented on #1413
/help

[2021-08-11 03:52] jackwener commented on #1413
/assignme

[2021-08-11 03:56] #1302 closed

[2021-08-11 04:53] ZhiHanZ commented on #1420
I think it should reside in common/config?

[2021-08-11 06:23] drmingdrmer opened #1422 "[store] feature: UpsertKV: add optional field `expire_at` to set a timeout."

[2021-08-11 07:02] jackwener opened #1423 "[Document] Add Slack into README"
**Summary**

I find that there aren't  many people in slack channel.

Maybe It is needed to add slack into README for promotion.

[2021-08-11 07:05] jackwener commented on #1423
I made a stupid mistake.

[2021-08-11 07:05] #1423 closed

[2021-08-11 08:18] drmingdrmer opened #1426 "[store] feature: Add generic-kv API ExpireKVAction() to reset a timeout on a record."
When a client just want to extend the lease of an entry without modifying its value, it send an RPC action `UpdateExpiration` to store to update `expire_at` without touching the value.

This API should act similar to `UpsertKV`, with sequence number check support.

Related modification would be:
- [ ] Add `Cmd::UpdateExpiration` to define the raft log command for updating the expire time.
- [ ] Ad

[2021-08-11 08:56] jackwener commented on #1413
There aren't many details is provided.
When is the CI of slack notification triggered?
And, what should CI send message?

[2021-08-11 08:58] BohuTANG commented on #1413
This may is a slack api invoke after performance test finished cc @ZhiHanZ

[2021-08-11 09:07] drmingdrmer opened #1427 "[store] feature: SledTree: support prefix list"
**Summary**

A list operation by prefix is typical and should be impl at the data structure level.

[2021-08-11 10:00] BohuTANG opened #1428 "[common] common/indexing mod"
**Summary**

1. extract indexing algo
2. search indexing algo
3. write/read api with MetaStore or DFS

[2021-08-11 10:02] #1422 closed

[2021-08-11 10:02] BohuTANG commented on #1407
Renamed
cc @dantengsky

[2021-08-11 10:04] BohuTANG opened #1429 "[common] common/cache mod"
**Summary**

For LRU caching, memory and disk.

[2021-08-11 10:05] dantengsky commented on #1407
got it

[2021-08-11 10:53] #1427 closed

[2021-08-11 11:36] jorgecarleitao opened #1432 "Migrate to async parquet reading"
The arrow2 0.3 and parquet2 0.3 now support reading parquet from an `async` source, which allows reading directly from s3 and others via `AsyncRead + AsyncSeek`. datafuse should be able to leverage this when reading parquet from a network-bounded source.

Note that there are small backward incompatible changes going from `0.2` to `0.3`, documented in the changelog [here](https://github.com/jorgeca

[2021-08-11 11:38] #1385 closed

[2021-08-11 11:49] BohuTANG commented on #1432
Thank you @jorgecarleitao
This is really a feature that we need and it's awesome!

[2021-08-11 11:49] BohuTANG commented on #1432
Thank you @jorgecarleitao
This is really a feature that we need and it's awesome!

[2021-08-11 13:52] ZhiHanZ opened #1434 "[CLI] local machine profile"
**Summary**
Support to run datafuse-query and datafuse-store on local machine,  part of https://github.com/datafuselabs/datafuse/issues/938

- [x] #2127

- [x] #2129

- [x] #2130
- [x] #2132
- [x] #2167
- [x] #2208
- [ ] #2221
- [x] #2235
- [x] https://github.com/datafuselabs/databend/issues/1964
- [x] https://github.com/datafuselabs/databend/issues/1267
- [x] #2275
- [x] #2303
- [x] #2347
- [x] h

[2021-08-11 14:02] ZhiHanZ opened #1435 "[CLI/Test] Migrate client E2E framework from python to rust"
**Summary**
Sounds cool and could reduce dependency requirements

[2021-08-11 14:19] sundy-li opened #1438 "Store one address of state in group by transform"
**Summary**

If there are many aggregate functions in query, like `select sum(a), max(b) ...`.

Datafuse used `Map<Hash, vec<usize>>` to store the state memory address to each key.
It can be improved by making it as `Map<Hash, usize>`, because there are fixed offset between each address.

https://github.com/fitzgen/bumpalo/pull/117

[2021-08-12 00:57] BohuTANG commented on #548
Tests (macos-latest, stable, x86_64-apple-darwin, false) failed 7 hours ago in 26m 12s:
[code]
https://github.com/datafuselabs/datafuse/pull/1441/checks?check_run_id=3303472611#step:5:1024

CC: @drmingdrmer

[2021-08-12 01:32] BohuTANG commented on #1420
If they are most in common, we consider put them to common/config

[2021-08-12 02:55] PsiACE commented on #1357
Closed by https://github.com/datafuselabs/datafuse/pull/1417

[2021-08-12 02:55] #1357 closed

[2021-08-12 03:13] ZhiHanZ commented on #1413
basically, slack notification need to sync running status of performance tests in github actions to slack webhook including test start, fail, and success

[2021-08-12 03:13] PsiACE commented on #1367
Closed by #1404 .

[2021-08-12 03:13] #1367 closed

[2021-08-12 04:23] BohuTANG opened #1445 "[parquet] change parquet reading from sync to async"
**Summary**

As issued in https://github.com/datafuselabs/datafuse/issues/1432, it's time to move parquet to async reading:
[code]
https://github.com/datafuselabs/datafuse/blob/master/query/src/datasources/local/parquet_table.rs#L157-L161

[2021-08-12 07:36] drmingdrmer opened #1447 "Tests (macos-latest, stable, x86_64-apple-darwin, false) failed 7 hours ago in 26m 12s:"
Tests (macos-latest, stable, x86_64-apple-darwin, false) failed 7 hours ago in 26m 12s:
[code]
https://github.com/datafuselabs/datafuse/pull/1441/checks?check_run_id=3303472611#step:5:1024

CC: @drmingdrmer

_Originally posted by @BohuTANG in https://github.com/datafuselabs/datafuse/issues/548#issuecomment-897264539_

[2021-08-12 08:13] PsiACE commented on #548
[code]

[2021-08-12 08:18] dantengsky commented on #548
I know some clues of these two failures, let me handle these

[2021-08-12 08:24] dantengsky opened #1449 "flaky test: remote_meta_store_client"
[code]

_Originally posted by @PsiACE in https://github.com/datafuselabs/datafuse/issues/548#issuecomment-897438541_

[2021-08-12 09:26] #1438 closed

[2021-08-12 10:07] jackwener commented on #1445
/assign-me

[2021-08-12 10:08] jackwener commented on #1445
/help

[2021-08-12 11:55] #1449 closed

[2021-08-12 12:51] simPod commented on #1287
Thank you for clarifications!

[2021-08-12 12:51] #1287 closed

[2021-08-12 13:04] BohuTANG commented on #1445
/help

[2021-08-12 14:31] ZhiHanZ opened #1453 "[Performance Test] Increase performance test accuracy by running more iterations"
**Summary**
Currently performance test standalone takes about 8 minutes to run, and run 10 iterations to each query, here for more accueracy result convergence consideration, we could bump test to 100 iterations

[2021-08-12 14:37] PsiACE commented on #1453
80 minutes is too long. I think this should be available as an option.

[2021-08-12 14:40] ZhiHanZ commented on #1453
only about 2 minutes are used for running performance tests, other time is for data loading, env set up etc

[2021-08-12 16:09] #1453 closed

[2021-08-13 01:16] BohuTANG commented on #1420
It seems `StructOpt` can't nested as:

[code]

[2021-08-13 04:32] #1413 closed

[2021-08-13 07:08] sundy-li commented on #1129
cc @alexey-milovidov

Hello, I just noticed this issue had been created 23 days ago since the last time you contact BohuTANG.
We are still busy developing the next alpha version, so we almost forgot to track the benchmarks with the latest version.

As you said, the store in datafuse is not ready, the benchmark with inconsistent conditions will be a little bit unfair and unfriendly, we will never d

[2021-08-13 07:08] #1129 closed

[2021-08-13 10:18] sundy-li opened #1460 "Skip needless ci actions when modifications only related to docs"
Skip needless ci actions when modifications only related to docs

[2021-08-14 03:45] #644 closed

[2021-08-14 03:56] BohuTANG opened #1464 "[doc] Datafuse design RFC"
**Summary**

Introduction to the Datafuse design

[2021-08-14 05:02] BohuTANG opened #1465 "[doc] Group By top performance design"
**Summary**

Document about why Datafuse Group By is so faster.

[2021-08-14 15:38] BohuTANG opened #1467 "[doc] change the doc website from mkdocs to docusaurus"
**Summary**

We plan to introduce the website framework https://datafuse.rs to https://docusaurus.io/
Lanague supports:English and Chinese
Menu also add blog and etc.

[2021-08-15 02:53] sundy-li opened #1469 "[functions] add std aggregate function"
**Summary**

- As mysql: https://dev.mysql.com/doc/refman/8.0/en/aggregate-functions.html#function_std

- Aliases:  `std`, `stddev`, `stddev_pop`

- Doc refer: https://datafuse.rs/development/how-to-write-aggregate-functions/

[2021-08-15 05:49] BohuTANG opened #1470 "[improvement] Consider remove common/allocators"
**Summary**

Memory allocator biggest improvement for Datafuse is to make block allocation.
For example, it will have a big performance gain when using snmalloc, since Datafuse has many pieces allocation, such as `Vec<T>` and many points not optimized yet.

But in the latest version, Datafuse has many improvements(https://github.com/datafuselabs/datafuse/pull/1444 https://github.com/datafuselabs/d

[2021-08-15 05:51] BohuTANG commented on #1470
cc: @sundy-li @zhang2014

[2021-08-15 06:57] zhang2014 commented on #1470
Our biggest motivation for expanding the memory allocator may be to track the allocation of memory #1148

[2021-08-15 06:59] BohuTANG commented on #1470
Yes, it will be another issue

[2021-08-15 08:07] zhang2014 opened #1471 "SIMD Vectorized Hashing for Grouped Aggregation"
**Summary**
reference:
https://github.com/datafuselabs/datafuse/pull/1443#issuecomment-898871236

[2021-08-15 13:27] #1470 closed

[2021-08-15 15:21] b41sh commented on #1469
/assignme

[2021-08-16 02:07] ZhiHanZ opened #1474 "Add latest tag revision for docker release"
**Summary**

Currently revision based on release version works for dockerhub image release, thus far I think we should also add latest revision tag for latest nighly release and maybe add stable tag for stable release patch in the future.
Latest Tag Looks like:
datafuselabs/datafuse:latest

[2021-08-16 03:40] BohuTANG commented on #1474
Nice.
Datafuse bot should auto backport the bugfix or improvement labeled patch to the stable branch, likes Rust train model.

[2021-08-16 04:44] SGZW commented on #1389
/assignme

[2021-08-16 08:24] ZhiHanZ opened #1475 "[CLI] Refactor CLI using clap command line tool"
**Summary**
needs two things
1. subcommand support
2. environment variable configuration

Helpfully bash autocomplete is also desired, all of them could be achieved by clap.rs
https://github.com/clap-rs/clap

[2021-08-16 08:50] BohuTANG opened #1476 "Measure the performance between native build and default build"
**Summary**

Measure the performance between:
1. native build
[code]
2. default build
[code]

[2021-08-16 10:46] leiysky opened #1477 "sql: introduce datafuse standard SQL AST"

[2021-08-17 01:03] BohuTANG opened #1483 "[DOC] Datafuse white paper"
**Summary**

The white paper of Datafuse

[2021-08-17 03:04] ZhiHanZ commented on #1471
Just seen in hackernews:
https://dawn.cs.stanford.edu//2018/01/11/index-baselines/
The SIMD based bucket cuckoo hash seems interesting
https://github.com/stanford-futuredata/index-baselines/blob/master/hashing.cpp

[2021-08-17 05:21] sundy-li opened #1487 "Remote table not work for query with aggregation"
**How to reproduce**

[code]

cc @dantengsky

[2021-08-17 05:24] dantengsky commented on #1487
roger that

[2021-08-17 05:39] #1344 closed

[2021-08-17 05:57] dantengsky commented on #1487
after PR #1484, cannot reproduce.
I will add the case you provide to the integration test

[2021-08-17 05:59] dantengsky opened #1488 "Add aggregation query to remote table test suite"
after PR #1484, cannot reproduce.
I will add the case you provide to the integration test

_Originally posted by @dantengsky in https://github.com/datafuselabs/datafuse/issues/1487#issuecomment-900014597_

[2021-08-17 06:26] sundy-li commented on #1487
That's weird, I still encounter this.

[code]

[code]

[2021-08-17 06:29] dantengsky commented on #1487
I found similar problems in CI testing, digging into it.

FYI:  https://github.com/datafuselabs/datafuse/pull/1489/checks?check_run_id=3347526750

[2021-08-17 06:30] dantengsky commented on #1487
"cannot reproduce" in local dev box, problems do exist in CI env

[2021-08-17 06:49] dantengsky commented on #1487
@sundy-li
would u please do me a favor and run `fuse-store` with `RUST_BACKTRACE=1`? I can not reproduce this issue in my dev env.

[2021-08-17 06:51] dantengsky commented on #1487
O, wait, does

mean that there is a Query panic?

[2021-08-17 06:54] #1464 closed

[2021-08-17 06:55] sundy-li commented on #1487
Yes, and there is panic in query.

[2021-08-17 07:04] dantengsky commented on #1487
Maybe panicked in deserialization of table schema...

would u please run query with RUST_BACKTRACE ?

[2021-08-17 07:13] dantengsky commented on #1487
@sundy-li  I can re-produce the problem now. please ignore the RUST_BACKTRACE things, I will touch you if I need further helps from you, thanks man

[2021-08-17 07:13] sundy-li commented on #1487
Seems something related to flight of arrow2
[code]

[2021-08-17 07:14] dantengsky commented on #1487
roger

[2021-08-17 07:55] leiysky opened #1492 "Specification of Datafuse SQL"
We need a standard and stable SQL specification to guide Datafuse developers and users.

This specification should involve:
- SQL grammar, e.g. BNF
- Type system, including storage scheme, codec scheme, conversion rules and etc.
- Functions, including scalar functions and aggregate funtions

Welcome to comment and give your advice.

[2021-08-17 08:07] leiysky commented on #1492
IMHO, it's a nice choice to follow some SQL standards of mainstream Database(e.g. Postgres, MySQL), so users can get up with Datafuse easier.

PostgreSQL is widely used in Data Warehousing thanks to its rich OLAP features and strict type system. Both AWS Redshift, Pivotal Greenplum, AliCloud Hologres are based on PostgreSQL.

Therefore, I suggest that we can build Datafuse SQL specification based

[2021-08-17 08:19] leiysky commented on #1492
cc @BohuTANG @zhang2014 @sundy-li @PsiACE

[2021-08-17 08:53] ZhiHanZ opened #1494 "[Test] Flaky Unit Test"
**Summary**
https://github.com/datafuselabs/datafuse/pull/1491/checks?check_run_id=3348449605

[2021-08-17 08:53] dantengsky opened #1495 "Column pruning disabled in stateless-cluster test setting?"
Seems in `stateless-tests-cluster` setting, `ReadDataSource` plan ignores the projection operation.

While fixing issue #1487, noticed that
- given a table like this
 ` CREATE TABLE IF NOT EXISTS t1(a UInt32, b UInt64, c String);`
- when executing statement
  `SELECT a from t1;`
- In `ci-run-stateless-tests-standalone` setting --- 1 Query node, 1 Store node
  the plan passed to `read_partition` is

[2021-08-17 08:57] BohuTANG commented on #1492
Thanks for the sharing, it's OK to me.
In OLAP, the syntax(Postgres, MySQL and others) is probably not very different(I think), most on function names.
And we can do transform in the server handlers before the parser, such as MySQLHandler or ClickHouseHandler.

[2021-08-17 09:15] PsiACE commented on #1492
In general, I agree with your point. However, there is something other than a standardized draft.

- A solid reference, but don't get tied down. Even I can accept something based on GraphQL.
- Easy to extend and maintain, including code and documentation, preferably supported by an integrated solution

[2021-08-17 10:08] #1487 closed

[2021-08-17 10:08] #1488 closed

[2021-08-17 10:21] sundy-li commented on #1492
It's ok to me. If we choose `PostgreSQL` as the main SQL standard, should we need to implements the functions/behavior of `PostgreSQL` ?

[2021-08-17 13:03] leiysky commented on #1492
This part is a little bit tricky, that is, unless a database directly use code of `MySQL` or `Postgres`(e.g. AWS Aurora, AliCloud PolarDB), it can never really be compatible with them.

`sqlparser-rs` choosed PostgreSQL, while actually it doesn't fully support PostgreSQL syntax(I've just found a issue on this https://github.com/ballista-compute/sqlparser-rs/issues/329).

Almost every XxxDB-compati

[2021-08-17 14:14] zhang2014 commented on #1492
It's ok to me. as you said, maybe we need to consider compatibility with other DB(in future), perhaps we should consider it in the design

[2021-08-18 01:14] sundy-li commented on #1492
Some functions need to add `parameters`, like: `windowFunnel(3600) (...)`

Currently, I'll create a pr in `https://github.com/datafuse-extras/sqlparser-rs` first.

[2021-08-18 03:34] mapleFU commented on #1388
This tasks seems similiar to https://github.com/datafuselabs/datafuse/issues/1390 .
Seems I need to call `get_all_tables` in `Catalog`, and using regex to check if any table matches the user's command. Did I catch it?

[2021-08-18 04:52] sundy-li commented on #1388
No, just convert the `show tables` to  `select name from system.tables` and append the like filters to where clause.

[2021-08-18 04:56] sundy-li commented on #1388
Refer: https://dev.mysql.com/doc/refman/8.0/en/show-tables.html

[code]
We can extend the show query with either Like 'pattern' or Where expr.

[2021-08-18 05:03] mapleFU commented on #1388
@sundy-li so, I should modify it in `sql/plan_parser.rs`:

[code]

What I need to do is modifying this?

[2021-08-18 05:08] mapleFU commented on #1388
If I catched it, let me pickup this issue. I will finish it before this saturday.

[2021-08-18 06:03] BohuTANG commented on #548
Failed in stateless query with cluster:

[code]

Full raw log:
https://pipelines.actions.githubusercontent.com/Zgqden0KhWGRXpIXPBTtTR2O0h9dPB76KbDLD2GlEOYbcWXWjs/_apis/pipelines/1/runs/27373/signedlogcontent/3?urlExpires=2021-08-18T05%3A57%3A09.6819992Z&urlSigningMethod=HMACV1&urlSignature=EH%2BTDPbfP4OtZ2LZWk%2FNnM%2B%2BODaPTUXwif3R5aW4ui8%3D

cc: @dantengsky

[2021-08-18 06:46] BohuTANG commented on #1388
/help

[2021-08-18 06:47] BohuTANG commented on #1388
@mapleFU
you can take it with the comments '/assignme'
Thank you

[2021-08-18 07:14] mapleFU commented on #1388
/assignme

[2021-08-18 07:38] zhyass opened #1502 "[BUG] select expression return BadArguments error"
**Summary**

Execute a select query with expression, return BadArguments error.

**How to reproduce**

[code]

**Error message and/or stacktrace**

[code]

[2021-08-18 08:14] ZhiHanZ opened #1503 "[BUG] configure slack webhook secret for performance test report"
**Summary**

https://github.com/datafuselabs/datafuse/runs/3357385382?check_suite_focus=true

[2021-08-18 09:02] leiysky commented on #1218
I've just filed a PR #1478, which introduces a bunch of Datafuse standard SQL AST and a transformer from `sqlparser-rs`.

Welcome to review and comment.

[2021-08-18 09:05] dantengsky commented on #548
@BohuTANG

Failed to find this issue in time, the URL of the raw log is expired;-(,   can I find the logs somewhere else?

I run `stateless-cluster-test` several times locally, unfortunately, test failure was not reproduced.

Is this message generated by `datafuse-test`? and indicates that some test cases hang?

[2021-08-18 10:07] BohuTANG commented on #548
This is triggred by Stateless Cluster Tests by github CI.
Let's skip it and catch next time.

[2021-08-18 10:10] dantengsky commented on #548
roger

[2021-08-18 10:28] #1349 closed

[2021-08-18 10:59] zhyass opened #1506 "[BUG] select from Null table return error"
**Summary**

Description for this bug.

**How to reproduce**

[code]

**Error message and/or stacktrace**

[code]

**Additional context**
Add any other context about the problem here.

[2021-08-18 11:20] drmingdrmer opened #1508 "`test package` panics when `make test` locally."
**Summary**

`make test` reports `test package` panic:

[code]

**How to reproduce**

`make test` locally on a Mac.

Maybe a request is blocked by GFW.

[2021-08-18 11:47] zhyass opened #1509 "[BUG] string with the same name is parsed into column"
**Summary**

**How to reproduce**
[code]

[2021-08-18 13:56] #1477 closed

[2021-08-18 14:22] leiysky opened #1511 "Implement `Visitor` for SQL AST"
Part of #1218

[2021-08-18 14:27] leiysky opened #1512 "Implement `TransformerSqlparser::transform_ddl`"
Part of #1218

[2021-08-18 15:45] leiysky commented on #866
As we discussed in #1492 , the main idea about SQL grammar is based on PostgreSQL. Here's a reference of PostgreSQL grammar https://www.postgresql.org/docs/13/sql-select.html.

So the last problem is technical selection.

[2021-08-18 17:02] jackwener commented on #1511
/assign

[2021-08-18 17:03] jackwener commented on #1511
I'm willing to take the task up.
But I'm not familiar with rust. It may cost some time.

[2021-08-18 17:03] jackwener commented on #1511
/help

[2021-08-18 17:04] jackwener commented on #1511
assignme

[2021-08-18 17:04] jackwener commented on #1511
/assignme

[2021-08-19 00:57] BohuTANG commented on #1508
Hmm, should change to 'Baidu' :)

[2021-08-19 01:05] BohuTANG commented on #866
Nice, @leiysky which one(or list) do you personally preferred?

[2021-08-19 01:30] BohuTANG commented on #746
Add:
[ Refactor SQL Parser #1218](https://github.com/datafuselabs/datafuse/issues/1218)

[2021-08-19 03:01] SGZW commented on #1512
/assignme

[2021-08-19 03:26] leiysky commented on #1511
It doesn't matter, you can refer to implementation of `PlanVisitor`.

[2021-08-19 04:36] SGZW commented on #1389
/assignme

[2021-08-19 04:54] leiysky commented on #866
I prefer parser combinator like `nom`, the benifits of which are better maintainability and better extensibility.

Thanks to its declaritive style, the parser written with parser combinator follows the grammar specification, which means you can add your own syntax element easily(generally you need to modify the grammar specification first to make sure it's well defined).

[2021-08-19 05:57] leiysky opened #1521 "Specification of type system"
It's important to provide a well defined type system.

In ANSI SQL specification, there are many data types, while all of the databases have their own type systems that always have difference fron ANSI SQL.

The most complicated part is the implicit conversion between data types.

For example, there isn't a real `BOOLEAN` type in MySQL. They represents `BOOLEAN` with `TINYINT(1)`, thus literal `TR

[2021-08-19 05:58] leiysky commented on #1521
cc @sundy-li

[2021-08-19 06:06] zhang2014 commented on #1389
@SGZW
It seems @maplefu has solved this problem

[2021-08-19 06:23] SGZW commented on #1389
thanks for notice

[2021-08-19 07:11] sundy-li commented on #1521
Thanks for the issue, I think in the alpha version, the types we must have are:

## PrimitiveTypes:
- UInt8
- UInt16
- UInt32
- UInt64
- Int8
- Int16
- Int32
- Int64
- Float32
- Float64

UInt8/Int8 aka tinyint, UInt16/Int16 aka smallint,  UInt32/Int32 aka int,  UInt64/Int64 aka bigint,  Float32 aka float, Float64 aka double.

## Boolean
- Boolean
Some database system takes UInt8/tinyint(1) as Bool

[2021-08-19 07:14] PsiACE commented on #1494
https://github.com/datafuselabs/datafuse/runs/3368544958#step:5:1092

[2021-08-19 07:31] leiysky commented on #1521
Maybe we should involve `DECIMAL` type as well?

[2021-08-19 08:01] jorgecarleitao commented on #1521
Note that `Utf8` and `Binary` have a maximum number of characters (over all items) of `i32:MAX`; this is not a per-item constraint; `sum over all characters over all items < i32:MAX`.

wrt to not following the arrow spec, the constraint there is that if you need FFI (e.g. UDFs written in python for ML and things like that), it will be more difficult to integrate those types. I am not sure that is

[2021-08-19 08:12] sundy-li commented on #866
`nom` seems to be a very good parser combinators library, but  LocustDB replaced nom parser by `sqlparser-rs`.

https://togithub.com/cswinter/LocustDB/pull/42/files

[2021-08-19 08:18] leiysky commented on #866
IMHO, it's because they don't have enough motivation to maintain a SQL parser by themselves.

[2021-08-19 08:23] sundy-li commented on #1521
Yes, we can add it later, add `Decimal(P, S)` after the alpha version.

constraint; sum over all characters over all items < i32:MAX.

Thanks, in Datafuse, we take `Utf8` and `Binary`  as `LargeUtf8` and `LargeBinary` in arrow2.

That's true, still need some considerations and discussions about that.

[2021-08-19 08:32] BohuTANG commented on #866
Ok, make sense to use nom.

[2021-08-19 08:34] jorgecarleitao commented on #1521
out of curiosity, why `65535`? I though that that was the max of `u16`:

[code]

prints

[code]

[2021-08-19 08:36] sundy-li commented on #1521
Oh, that's my bad.

[2021-08-19 09:34] ives9638 commented on #866
https://github.com/rrevenantt/antlr4rust

[2021-08-19 09:36] ives9638 commented on #866
https://github.com/peterhal/presto_rs/

Hope it helps

[2021-08-19 10:02] leiysky commented on #866
Antlr is a powerful parser framework as well. I didn't involve it since AFAIK currently there is no official rust target.

Seems this library has been used by some projects, I'll take a look at it.

Thanks very much.

[2021-08-19 10:24] #918 closed

[2021-08-19 13:19] ygf11 commented on #1390
@zhang2014 @sundy-li
To support

SHOW DATABASES WHERE `Database` like '%database_1%';

Replacing Database to name in the final show databases sql is necessary,  would it be okey to do it in parse_statement like following?
[code]

[2021-08-19 13:34] sundy-li commented on #1390
Yes, and you can follow the right way as  #1518 did.

[2021-08-19 18:45] drmingdrmer opened #1527 "The stateless test fails."
https://github.com/datafuselabs/datafuse/pull/1526/checks?check_run_id=3374756012

Seems like some dependency is updated?

[2021-08-20 00:02] #1329 closed

[2021-08-20 01:11] BohuTANG commented on #548
Failed:
[code]
cc: @drmingdrmer

[2021-08-20 01:41] #1388 closed

[2021-08-20 01:46] mapleFU commented on #1389
Seems that we can close this issue @zhang2014

[2021-08-20 01:51] zhang2014 commented on #1389
Yes.

 @SGZW thank you for your contribution too.

[2021-08-20 01:51] #1389 closed

[2021-08-20 01:54] BohuTANG opened #1528 "[improvement] Add `SHOW TABLES LIKE pattern and Where expr` to doc"
**Summary**

Add to doc:
[code]
issue: #1388

[2021-08-20 02:15] zhang2014 commented on #1527
log is broken
[code]

@dantengsky
https://github.com/datafuselabs/datafuse/pull/1526/checks?check_run_id=3374756012#step:6:297
https://github.com/datafuselabs/datafuse/pull/1526/checks?check_run_id=3374756012#step:6:444

[2021-08-20 02:20] BohuTANG commented on #1527
@dantengsky may help on this

[2021-08-20 02:59] ZhiHanZ commented on #1503
resolved

[2021-08-20 02:59] #1503 closed

[2021-08-20 03:15] drmingdrmer opened #1531 "Stateless-test fails on my laptop"
**Remote** db/table return values with additional quotes that make `stateless-test` fail.

Reproduce:
- `make stateless-test`

Environment:
- OS: mac os 10.15.5 (19F101)
- mysql: mysql  Ver 8.0.25 for macos10.15 on x86_64 (Homebrew)
- datafuse:
- commit:
[code]

Output:

[code]

[2021-08-20 03:18] zhyass commented on #1509
/assignme

[2021-08-20 03:32] zhang2014 opened #1532 "Perf test is failure"
**Summary**

https://test-1306375239.cos.accelerate.myqcloud.com/report/1500/04202e355ec471ed25fcfc75242f1b81f73362e1/7dc4e179-f758-42f5-8577-bf1e96d6470e/performance.html

CC: @ZhiHanZ

[2021-08-20 03:34] dantengsky commented on #1527
Some unknown test case timed-out(detected by py script datafuse-test), trying to dig it out

[2021-08-20 03:36] dantengsky commented on #1527
got it & thanks

[2021-08-20 03:44] drmingdrmer commented on #1508
What? It is too deep... I did not get it. 🤔

[2021-08-20 03:45] dantengsky commented on #1531
is it flaky or deterministic?
Can not re-produced it in a Linux box yet (commit #5eb2ba8796f1e20b03dd00459eb6d159ca216b6e )

[2021-08-20 03:45] #1502 closed

[2021-08-20 03:47] sundy-li commented on #1494
https://github.com/datafuselabs/datafuse/runs/3378269740#step:5:1105

[code]

[2021-08-20 03:49] BohuTANG commented on #1494
Also commented here: https://github.com/datafuselabs/datafuse/issues/548#issuecomment-902356436

[2021-08-20 03:50] drmingdrmer commented on #1494
Got it!

[2021-08-20 03:51] dantengsky commented on #1531
The last two cases may be something related to the mysql-client? have you upgraded MySQL client recently?

[2021-08-20 03:52] PsiACE commented on #1531
This problem can be reproduced on my old laptop. But it should be flaky.

[2021-08-20 03:52] drmingdrmer commented on #1531
Deterministic... Only tests that involve remote access have this issue. 🤔

[2021-08-20 03:54] drmingdrmer commented on #1531
My client is mysql: mysql Ver 8.0.25 for macos10.15 on x86_64 (Homebrew)

I did not upgrade it(manually 🤔 ) since the last time I got `stateless-test` pass.

[2021-08-20 03:54] dantengsky commented on #1531
@PsiACE @drmingdrmer
roger

[2021-08-20 04:22] ZhiHanZ opened #1533 "[Perforamance Test] show report url after performance test succeed"
**Summary**

Description for this feature.

[2021-08-20 04:29] dantengsky commented on #1531
@sundy-li bro, need your help:

these two results only different in single quotes, and those single quotes are removed from `09_0002_remote_truncate_table.result` and `09_0003_remote_drop_table.result` on 08-17. any hints of this issue?

[2021-08-20 04:30] dantengsky commented on #1531
@drmingdrmer

have you found any panic/crash log messages in the `nohup` file, related to the following case?

[2021-08-20 05:05] mapleFU commented on #1227
I'm interested in this issue, if I want to encapsulate span in task context, what should I do?

[2021-08-20 05:18] ZhiHanZ opened #1535 "[Performance test] add debugging info during performance test update"
**Summary**
All performance tests are stored in test/perf/perf.yaml and when developers updated the perf.yaml file, we need to validate on whether updated perf.yaml file successfully uploaded to the official docker hub

[2021-08-20 05:44] #1532 closed

[2021-08-20 05:44] #1533 closed

[2021-08-20 05:59] leiysky opened #1537 "Support expression binding with catalog"
Part of #1218

Bind free variables in AST with corresponding columns and tables.

At the same time, perform expression normalization.

[2021-08-20 06:02] leiysky opened #1538 "Support type check of expressions"
Part of #1218

Check return types of bound expressions.

[2021-08-20 06:17] leiysky commented on #1521
Hi @sundy-li, it seems this specification basically follows the `DataType` defined here: https://github.com/datafuselabs/datafuse/blob/681efe24288e41adacd9e5ce978f361a6d37ab42/common/datavalues/src/types/data_type.rs#L23-L51

I have need for this in #1538 and #1537 , can I just treat it as a stable API and rely on it?

[2021-08-20 06:20] leiysky opened #1539 "Introduce a framework to rewrite AST to support normalizing expressions"
Part of #1218

[2021-08-20 06:49] dantengsky commented on #1527
for who is also investigating this issue:

the raw log

https://pipelines.actions.githubusercontent.com/Zgqden0KhWGRXpIXPBTtTR2O0h9dPB76KbDLD2GlEOYbcWXWjs/_apis/pipelines/1/runs/27817/signedlogcontent/3?urlExpires=2021-08-20T06%3A34%3A59.9726307Z&urlSigningMethod=HMACV1&urlSignature=pdHRq4j%2FeKeypOO6UDwNZldzr65l%2FEl%2F%2Bc3F1IbpdVg%3D

seems indicating that test case `09_0003_remote_drop_table`

[2021-08-20 07:27] dantengsky commented on #1531
@drmingdrmer

- Can not reproduce any of the failure cases in my dev box for the given commit  (repeated `make stateless-test`  100+ times).

- the last two failure cases may be caused by the "miss-matched" MySQL client version, I am using

please do me a favor, and do the following check:

[code]

In my dev box, I got:

What's your result?

[2021-08-20 07:32] sundy-li commented on #1531
Yes, because single quotes are removed during inseration, and strings will out displayed with quotes by default.

I think it's the reason for different `datafuse-query` and  `datafuse-store` ?
Maybe your `datafuse-query` is not up to  date.

[2021-08-20 07:33] sundy-li commented on #1521
Yes, currently we treat it as our own type.

[2021-08-20 07:41] dantengsky commented on #1531
@sundy-li  thanks. I can not reproduce the test failures, things are going well in my local test env, maybe the MySQL client is not "compatible"?  @drmingdrmer  is using mysql Ver 8.0.25, mine is 8.0.26. verifying if that is the case

[2021-08-20 07:52] dantengsky commented on #1531
I do not have any clues for the first failure:

I guess there is a panic somewhere.

@drmingdrmer  please ensure not to use a stale version of fuse-query, there is a known issue that is fixed by #1489 will fail testcase `09_0001_remote_insert` in 1-query 1-store settings (which `make stateless-test` uses )

As @sundy-li  mentioned:

[2021-08-20 09:07] mapleFU commented on #1528
Since I fixed #1388 , I will complete the document about it .
Would you mind tell me where is the document for the project? @BohuTANG

[2021-08-20 09:09] sundy-li commented on #1528
![image](https://user-images.githubusercontent.com/3325189/130209977-434a7154-6c42-4d3f-ae08-63ca6fea5745.png)

[2021-08-20 09:17] mapleFU commented on #1528
/assignme

[2021-08-20 09:17] mapleFU commented on #1528
I will add it before this Sunday.

[2021-08-20 09:31] BohuTANG commented on #1528
By the way, we can run https://datafuse.rs website locally:
1. cd website/datafuse
2. make install
3. make run

[2021-08-20 10:14] xuyifangreeneyes commented on #1361
@zhang2014 can I have a try on the feature?

[2021-08-20 10:22] #1535 closed

[2021-08-20 13:14] BohuTANG commented on #1361
/help

[2021-08-20 13:15] mapleFU commented on #1528
Thanks! I tried it and it works well!
By the way, why does datafuse make all modules, even including website, in
one repo?
And does it better to rebase commits before merging the branch to master?

BohuTANG ***@***.***> 于2021年8月20日周五 下午5:31写道：

[2021-08-20 13:31] BohuTANG commented on #1528
Aha, At least for now we don't like to maintain multiple repos, and it works well all in one(issue/stars/contributors) :thinking:

This already talked many times, the reasons:
We want to keep track of all git commits, and from which the datafuse-bot will extract information to generate our release log.
You can see them here:
https://github.com/datafuselabs/datafuse/releases

[2021-08-20 13:40] zhyass opened #1542 "complete null array cast"
**Summary**

https://github.com/datafuselabs/datafuse/blob/master/common/datavalues/src/arrays/ops/cast.rs#L139

[code]

[2021-08-20 14:24] #1542 closed

[2021-08-20 18:58] drmingdrmer opened #1545 "nonmatched dependency version?"
`cargo test` with the latest master 5cde9ae203a9a28bbfbcdb1710772c6e3fd19691 reports the follow error:

https://github.com/datafuselabs/datafuse/pull/1546/checks?check_run_id=3385058199#step:5:151

[code]

[2021-08-21 01:04] xuyifangreeneyes commented on #1361
/assignme

[2021-08-21 01:39] BohuTANG commented on #1545
A bit strange.
The master branch works well but https://github.com/datafuselabs/datafuse/pull/1546 does not work(git merge master still not work too).
@sundy-li @PsiACE any thoughts?

[2021-08-21 01:42] #1528 closed

[2021-08-21 01:54] #966 closed

[2021-08-21 02:09] zhang2014 opened #1547 "Push Performance tools to Dockerhub fail"
**Summary**
https://github.com/datafuselabs/datafuse/runs/3387212797

CC: @ZhiHanZ

[2021-08-21 02:27] #1545 closed

[2021-08-21 02:28] sundy-li commented on #1545
@drmingdrmer  please update rev to  cc53408  in your pr.

[2021-08-21 04:02] PsiACE opened #1549 "[sqlparser] Domain-aware fuzzing"
**Summary**

Generate some more meaningful test cases for fuzzer based on the specification.

Refer to: https://www.cockroachlabs.com/blog/sqlsmith-randomized-sql-testing/

[2021-08-21 05:09] BohuTANG opened #1550 "[Improvement] Move out optimizers and catalogs mod from query to common"
**Summary**

`optimizers` and `catalogs` may be used externally, e.g. by an optimizer service, they should be a common library.
Consider move them to `common` as:

[code]

[2021-08-21 06:21] drmingdrmer commented on #1531
@dantengsky I've seen several lines like this:
(not sure if it is related. The complete `nohup.out` is attached too.)

[code]

[nohup.out.zip](https://github.com/datafuselabs/datafuse/files/7025016/nohup.out.zip)

[2021-08-21 06:25] drmingdrmer commented on #1531
@dantengsky
This is what I got:
[code]

[2021-08-21 06:32] drmingdrmer commented on #1531
Right. The binary name changed. `kill datafuse-store` did kill the old running store.

[2021-08-21 06:47] zhang2014 commented on #1550
It may not be that easy. Datafuse query context is required in optimizer.

[2021-08-21 06:49] wubx opened #1551 "[improvement]Double quotation marks are supported in arguments"
**Summary**
Please support double quottion marks for ident.

Description for this improvement.

show tables where name = 'a';
+------+
| name |
+------+
| a    |
+------+
Run ok。

but
mysql> show tables where name="a";
ERROR 1105 (HY000): Code: 6, displayText = Unable to get field named "a". Valid fields: ["database", "name"].

[2021-08-21 06:49] BohuTANG commented on #1550
Hmm, Optimizer use ctx to get table schema, we can get them from catalogs mod directly.

[2021-08-21 06:51] BohuTANG commented on #1550
ScattersOptimizers maybe a special case, we can keep it still in the query.

[2021-08-21 07:01] zhang2014 commented on #1550
👍  Maybe optimizer will still use settings (some switches). But the refactoring settings are in my todo list(#1184)

[2021-08-21 07:02] leiysky commented on #1551
The root cause of this issue is that `sqlparser-rs` will parse double quoted `"a"` into a `Identifier` with `GenericDialect`, while it should be a `Value` in semantic.

In PostgreSQL, identifiers are double quoted like **"ident"**, and in MySQL they are back quoted like **\`ident\`**.

To distinguish between them, there should be a mechanism to make a hole in AST(keep the original token), and tran

[2021-08-21 07:25] #1531 closed

[2021-08-21 11:39] BohuTANG opened #1552 "[feature] partition/file pruning by indexing"
**Summary**

Impl the `apply_index` against the expression.

[2021-08-21 12:53] xuyifangreeneyes commented on #1361
@zhang2014 @sundy-li @BohuTANG  Hi, I try to implement the feature but I have some problems. ClickHouse style kill query statement is like:
[code]
And `system.processes` has the following fields:
- `user`(String)
- `address`(String)
- `elapsed (Float64)
- `rows_read` (UInt64)
- `bytes_read` (UInt64)
- `total_rows_approx` (UInt64)
- `memory_usage` (UInt64)
- `query` (String)
- `query_id` (String)

[2021-08-21 13:40] #1428 closed

[2021-08-21 13:41] ygf11 opened #1553 "[feature] projection alias with filter expression"
**Summary**

Following sql does not supported in datafuse, but supoported in clickhouse.
[code]

I trace the execution of this sql, find that `FileterTransform` directly use alias(Expression) to find the column in data source, then throw this exception.

#1390 need do some sql, like following:
`SELECT name AS Database FROM system.databases WHERE Database = 'ss' ORDER BY name`.

[2021-08-21 13:42] zhang2014 commented on #1553
Maybe we should reconsider #574

CC: @leiysky @sundy-li @BohuTANG

[2021-08-21 13:48] sundy-li commented on #1553
Currently You can use `SELECT name AS Database FROM system.databases WHERE name = 'ss' ORDER BY name.` instead

Yes, it's very useful though it's not standard and it also not works in MySQL, but I do prefer to add it.

[2021-08-21 13:57] ygf11 commented on #1553
@sundy-li  Yeah, you are right.

[2021-08-21 14:52] drmingdrmer commented on #1227
Generally speaking, a spawned task should be instrumented with a span.
The way to do it is something like:
[code]

A sample impl of this would be:
https://github.com/datafuse-extras/async-raft/blob/1492335798d9725c5d200277248e934a4c9247b9/async-raft/src/core/append_entries.rs#L251-L261

I've added several of cross task spans in to the **store** crate, in the latest developing branch, but not merge

[2021-08-21 15:03] PsiACE commented on #1550
For catalogs, we can keep the implementation and extract the abstract design to common_catalogs. at the same time, the datasouse::database module should be moved out.

[2021-08-21 15:59] drmingdrmer opened #1560 "`09_0003_remote_drop_table` triggered a timeout:"
for who is also investigating this issue:

the raw log seems to indicate that test case `09_0003_remote_drop_table` triggered a timeout:

-----------

2021-08-19T18:12:39.8365727Z 09_0003_remote_drop_table:

.................

2021-08-19T18 **:12:** 40.8805961Z [2021-08-19T18:12:40Z INFO  datafuse_store::api::rpc::flight_service] Receive do_action: GetTableExt(GetTableExtReq { tbl_id: 7, tbl_ver:

[2021-08-21 20:53] #1508 closed

[2021-08-21 20:55] drmingdrmer opened #1563 "snapshot_replication test panic"
Failed:
[code]
cc: @drmingdrmer

_Originally posted by @BohuTANG in https://github.com/datafuselabs/datafuse/issues/548#issuecomment-902356436_

[2021-08-21 20:58] drmingdrmer commented on #548
This should be fixed by #1546

BTW, this issue becomes toooooo looooong. 🤔

[2021-08-22 00:05] BohuTANG commented on #548
Cool, we should open new one

[2021-08-22 00:08] BohuTANG commented on #1550
As winter said above, due to the query context depends, it's not easy to do, I set the task priority to low.

[2021-08-22 00:16] #1494 closed

[2021-08-22 00:16] #1563 closed

[2021-08-22 00:27] BohuTANG opened #1564 "[test] Flaky tests"
**Summary**
Flaky test

[2021-08-22 00:29] BohuTANG commented on #548
New one: https://github.com/datafuselabs/datafuse/issues/1564

[2021-08-22 00:29] #548 closed

[2021-08-22 04:05] drmingdrmer commented on #1447
The timeout is caused by heavy cpu load on the CI vm.
Extending the timeout in unit test fixes this.
Closed by #1546

[2021-08-22 04:05] #1447 closed

[2021-08-22 06:42] leiysky commented on #1553
The problem here is that in SQL semantic, aliases in `SELECT` clause is not visible in `WHERE` clause, since selection algebra will be applied before producing result set.

The more idiomatic way is using `table alias` to achieve this renaming:
[code]

Consider this case:
[code]

ClickHouse will return empty:
[code]

While both MySQL and PostgreSQL will return result like:
[code]

[2021-08-22 07:00] leiysky commented on #1552
I have a plan on expressions normalization in #1539 , in purpose of providing ability to do complicated partition pruning(e.g. rewrite `a + 1 < 2` to `a < 1` so we can directly apply the comparison on partition key).

By the way, it's a very big challeng to do partition prune in a data warehouse, since there may be a large amout of partitions in a single table(says millions), which can bring serio

[2021-08-22 09:24] PsiACE commented on #1429
/assignme

[2021-08-22 12:47] zhang2014 commented on #1553
Table alias is a great method, but let's consider several actual scenarios: NYC taxi (51 columns), OnTime (109 columns), GitHub event (19 columns and dozens of event structures). We may not be able to provide a complete list of columns. and this problem may not be limited to where, for example: ` SELECT a as B FROM table GROUP BY B HAVING B > 0 order by B`

by the way, MySQL only supports `select

[2021-08-22 12:59] zhang2014 commented on #1361
Maybe we can do it in interpreter_kill, execute `SELECT id from system.processes where {some predicate}` and kill them

[2021-08-22 13:08] BohuTANG commented on #1552
@leiysky
That's interesting.
Datafuse supports 3-level partition pruning to fast query(Which ClickHouse did, simply and efficiently), there is a introduce in:
https://github.com/datafuselabs/datafuse/blob/master/common/indexing/README.md

The apply index patch will be launched next week.

[2021-08-22 14:15] jyz0309 commented on #805
/assigneme
/help

[2021-08-22 14:15] jyz0309 commented on #805
/assignme
/help

[2021-08-22 14:16] jyz0309 commented on #805
/assignme

[2021-08-22 14:16] jyz0309 commented on #805
/help

[2021-08-22 16:11] leiysky commented on #1553
@zhang2014 Well, it's better to explicitly specify the result set, or you can use a subquery instead to do the alias😂.

Anyway, IMHO, we should follow the standard.

[2021-08-22 18:02] dantengsky opened #1568 "Refactoring: Lift `LocalDatabase` into DataSource APIs"
**Summary**

TL;DR:

Suggestion:

- Decouple `LocalDatabase` into
  - TableFactoryRegistry
  - TableFactory
- Provides an embedded MetaStore
  For unit tests. in-memory or backed by embedded KV DB
- Keep all the db metadata in MetaStore (except for `system` like virtual db/tables)
-----------------------------------------

`LocalDatabase` is quite convenient for us to verifying new features, or do

[2021-08-23 01:08] BohuTANG commented on #1564
Tests (macos-latest, stable, x86_64-apple-darwin, false)
meta_service::raftmeta_test::test_meta_node_snapshot_replication

[code]
ci: https://github.com/datafuselabs/datafuse/runs/3394653233?check_suite_focus=true#step:5:1574
cc: @drmingdrmer

[2021-08-23 01:09] dantengsky commented on #1564
roger

[2021-08-23 01:36] BohuTANG opened #1570 "[improvement] SUBSTRING(string, start, length)"
**Summary**

Datafuse has support `SUBSTRING(string FROM start FOR length)`, for example:
[code]

It's simple for user to support `SUBSTRING(string, start, length)`.
Reference:
https://www.w3schools.com/sql/func_mysql_substring.asp

[2021-08-23 02:12] tangwz commented on #1570
May I have a try?

[2021-08-23 02:14] wubx commented on #1570
/help

[2021-08-23 02:34] zhyass commented on #1552
/assignme

[2021-08-23 02:47] BohuTANG commented on #1570
Tips:
comment as follows will take the issue:
`/assignme`

[2021-08-23 02:50] tangwz commented on #1570
Thanks.As a newbee, I think It may take me a little longer, I will try my best.

[2021-08-23 02:53] BohuTANG commented on #1570
A Helpful Guide:
https://datafuse.rs/development/contributing/

[2021-08-23 07:10] #1387 closed

[2021-08-23 07:15] BohuTANG opened #1572 "[DOC] add `SHOW TABLES FROM` to document website"
**Summary**

After https://github.com/datafuselabs/datafuse/pull/1555, Datafuse supports:
[code]

It's time to add them to the website https://datafuse.rs
Reference: https://github.com/datafuselabs/datafuse/pull/1541

[2021-08-23 10:06] drmingdrmer commented on #1564
Roger it!

From the latest log it seems an RPC could be delayed by several seconds during CI... poor VM.

I'm gonna make the timeout a bit longer.

[2021-08-23 10:20] jackwener opened #1573 "The dependence `arrow2` is old"
**Summary**

Maybe we should dump arrow2. The dependence `arrow2` is old and should be upgraded into `v0.3.0`.

[2021-08-23 10:21] jackwener commented on #1573
arrow2@v0.3.0 add some useful feature.

[2021-08-23 10:26] drmingdrmer opened #1574 "crate `datafuse_cli` complains about standard test arguments"
`cargo test -p datafuse-cli -- --skip foo` results in:

[code]

It seems like in a unittest `datafuse-cli` tries to parse the CLI args.

[2021-08-23 10:41] BohuTANG commented on #1573
cc @sundy-li

[2021-08-23 12:00] sundy-li commented on #1573
OK,  https://github.com/datafuse-extras/arrow2 will fetch upstream in time.

[2021-08-23 12:42] jackwener commented on #1573
It's not enough because the high-version library isn't compatible with old-version. We need modify many code.

[2021-08-23 12:43] sundy-li commented on #1573
Yes, seems lots of codes should be modified.

[2021-08-23 12:46] jorgecarleitao commented on #1573
The summary of changes from 0.2 to 0.3 is here: https://github.com/jorgecarleitao/arrow2/releases/tag/v0.3.0

Let me know if you need help.

[2021-08-23 12:57] sundy-li commented on #1573
@jorgecarleitao  Thanks, most of the changes to modify is due to  `Scalar` API, I'll try to create convert from `dyn Scalar` into our own enum `DataValue`, or to replace enum datavalue into arrow2's Scalar trait.

[2021-08-23 12:59] jorgecarleitao commented on #1573
you can always use `let scalar = scalar.as_any().downcast_ref::<PrimitiveScalar<TYPE>().unwrap()` followed by `scalar.value()` and `scalar.is_valid()` to get the inner and ignore the API.

[2021-08-23 13:40] #1509 closed

[2021-08-23 13:43] BohuTANG commented on #1568
After the embedded MetaStore implement, the namespace register center (issue https://github.com/datafuselabs/datafuse/issues/883) will be more simple, no need a key-value store in query(this is done in https://github.com/datafuselabs/datafuse/pull/1011 but a bit more complex).
cc: @zhang2014

[2021-08-23 14:39] sundy-li commented on #1573
@jorgecarleitao  I have submitted a pr in #1575, found a bug in the new version, may you have a look at that?

[2021-08-23 14:55] ZhiHanZ opened #1578 "[Metrics Server] migrate from warp http server to axum"
**Summary**
Metrics Server is used to pull metrics infor to tracing/monitoring services such as prometheus.
Currently it is implemented by warp https://github.com/datafuselabs/datafuse/blob/master/query/src/metrics/metric_service.rs#L86-L90.
I think it should also refactor to axum http server comply with https://github.com/datafuselabs/datafuse/issues/1256

[2021-08-23 15:19] Patil2099 commented on #1572
I would love to take this up

[2021-08-23 15:21] Patil2099 commented on #1572
I think it is already there on the website.

[2021-08-23 17:29] #1574 closed

[2021-08-24 00:32] BohuTANG commented on #1572
/help

[2021-08-24 00:56] #1572 closed

[2021-08-24 02:47] coalchan opened #1584 "[bug] [Installation] run with docker image"
**Summary**

Installation errors.

**How to reproduce**
[code]
then
[code]

**Error message and/or stacktrace**
ERROR 1105 (HY000): Code: 38, displayText = Cannot to RPC server: http://127.0.0.1:9191/ error: transport error: error trying to connect: tcp connect error: Connection refused (os error 111).
![image](https://user-images.githubusercontent.com/6671051/130547672-38798c64-f704-4929-aa18-1ee

[2021-08-24 03:35] drmingdrmer commented on #1568
I do agree bro.

StateMachine could be just what you need.

- It provides with open/create API;
- To modify the state, just feed it a raft-log entry. I.e., it is just a meta store without a distributed WAL(raft log).
- To read the state, there are key spaces equipped with KV like APIs. Such as `self.kvs().get(key)?`, which you must be already familiar with.

[2021-08-24 03:59] #1584 closed

[2021-08-24 09:25] zhyass opened #1588 "[improvement] regulate the arguments type of if function"
**Summary**

[code]
1. `expr1 ` data type must be boolean.
2. `IF` function return_type don't allow data overflow.

[2021-08-24 09:33] #1573 closed

[2021-08-24 12:40] #1588 closed

[2021-08-24 12:56] dantengsky opened #1590 "CI Configuration for AWS Credentials"
**Summary**

In PR

- #1442

Unit test for aws s3 are supposing env vars `AWS_SECRET_ACCESS_KEY` and `AWS_ACCESS_KEY_ID` exist.

- Do we already have some configuration mechanism to safely config these parameters in CI?
- Or any suggestions of correctly/safely configuring aws s3 credentials ?

NOTE: This is NOT an urgent requirement

[2021-08-24 12:59] dantengsky commented on #1568
Thanks bro, it would be great to re-use the code of StateMachine.

[2021-08-24 13:25] BohuTANG commented on #1420
@ZhiHanZ Any ideas on feature?

[2021-08-24 13:33] #1407 closed

[2021-08-24 13:51] zhang2014 opened #1591 "Wrong perf test status"
**Summary**
![image](https://user-images.githubusercontent.com/8087042/130628612-78ff3896-b3af-4ff4-b4e8-31d78f447321.png)

[2021-08-24 13:55] dantengsky commented on #1590
Thanks! did not know that, I will try it

[2021-08-24 13:56] zhang2014 commented on #1591
https://github.com/datafuselabs/test-infra/issues/23

[2021-08-24 13:56] #1591 closed

[2021-08-24 14:24] ZhiHanZ commented on #1420
I think for nested configuration management, we  could take a look on clap and https://github.com/mehcode/config-rs.
For usability consideration:
1. we should separate the indispensable settings that user needs to config to some generic configuration
ie
[code]

[2021-08-24 14:28] zhongzc commented on #1538
/assignme

[2021-08-24 14:36] ZhiHanZ commented on #1590
https://rohanverma.net/blog/2021/02/09/minio-github-actions/ seems fine, in TPC benchmark, I think we could also use local disk to mock on object storage for affordable CI

[2021-08-24 14:41] jyz0309 commented on #1474
/assignme
/help

[2021-08-25 00:52] dust1 commented on #853
Hello i am interested.
Does this mean I need to implement the above functions in the `SELECT` statement like the clickhouse example : `SELECT toDateTime('2016-06-15 23:00:00') AS time,  toDate(time) AS date_local, toDate(time, 'Asia/Yekaterinburg') AS date_yekat, toString(time, 'US/Samoa') AS time_samoa` ?

[2021-08-25 01:14] BohuTANG commented on #1495
It looks like a bug in the cluster mode.
I make it as bug here.

[2021-08-25 01:30] sundy-li commented on #853
Yes, but we must introduce Date/DateTime datatypes in previous

[2021-08-25 01:39] dust1 commented on #853
A bit challenging. Maybe I can try it.
Can you give me some reference about how to introduce Date/DateTime datatypes ?
And it's a task lists, Can I submit a PR of a certain function separately ?

[2021-08-25 01:42] sundy-li commented on #853
Since Datafuse runtime compute system is base on arrow2, so we are considering  help to add custom logic datatypes in arrow2.  Refer:  https://github.com/jorgecarleitao/arrow2/issues/326

[2021-08-25 02:17] dust1 commented on #853
/help

[2021-08-25 02:18] dust1 commented on #853
/assignme

[2021-08-25 02:49] dantengsky opened #1596 "Unify Catalog API methods to Async Style"
**Summary**

Unify Catalog API methods to async, remove the internal `block_on` workaround.

- Background

  _Originally posted by @zhongzc in https://github.com/datafuselabs/datafuse/issues/1212#issuecomment-904745955_

[2021-08-25 03:55] dantengsky opened #1598 "support streaming put in dal"
**Summary**

We should provide a streaming upload interface in DAL, at least for those streams we can infer the length in advance without too much effort, like a local file.

Would be better if we can support streams that are hard to infer length in advance by using HTTP chunked transfer encoding.

- Background

[2021-08-25 03:56] zhongzc commented on #1596
/assignme

[2021-08-25 04:22] BohuTANG commented on #1596
Let me have a try.

[2021-08-25 04:23] dantengsky commented on #1596
Thanks bro

[2021-08-25 05:15] dantengsky commented on #1590
@ZhiHanZ

Thanks, I will take a look at it as well.

[2021-08-25 07:25] leiysky opened #1601 "Maybe rename `DataType::Utf8` to a more reasonable name?"
Seems this name came from `LargeUtf8` in arrow.

It looks a little bit weird since in databases like Postgres or MySQL **collation** and **charset** are seperated from **types**. In this case, `CHAR`(string) is a data type and `utf8` is a charset.

We can only support utf8 charset for now, but IMO maybe it's more reasonable to rename `DataType::Utf8` to `String` or `StringUtf8`?

[2021-08-25 07:25] leiysky commented on #1601
cc @sundy-li

[2021-08-25 07:29] sundy-li commented on #1601
Maybe remove `DataTye::Utf8` and let's keep `DataType::Binary` as `DataType::String`, this could support more charset datatypes.

[2021-08-25 08:30] BohuTANG commented on #1596
I have try and found lots of codes need change to async, so thinking a question: what the benefit of changing to async is?
At present, it is better to keep it as it is 😢
cc: @dantengsky

[2021-08-25 08:34] dantengsky commented on #1596
yes, lots of code  involved, let's postpone this issue

[2021-08-25 08:36] dantengsky commented on #1596
May I leave this issue open?

[2021-08-25 08:36] BohuTANG commented on #1596
Sure

[2021-08-25 10:35] zhongzc commented on #1445
/assignme

[2021-08-25 11:03] zhongzc commented on #1445
@BohuTANG The code snippet you pointed out it's not a network-bounded source that Arrow2 supports for async. I'm afraid that this is not an appropriate task for newcomers.

[2021-08-25 11:11] zhongzc commented on #1445
However, I noticed that `Ok(Box::pin(ParquetStream::try_create(response_rx)?))` is just a blocking stream. It doesn't collaborate with the runtime so it will keep running/blocking until done. Would it be better to introduce some really async channel like `tokio::sync::mpsc`?

[2021-08-25 11:44] leiysky commented on #1596
@BohuTANG @dantengsky

I have some concern on this.

According to my experience, the most usage of catalog is in optimizer, which is canonically synchronous component. Thus I have to rewrite the code into asynchronous or do `block_on` by myself.

So maybe it's better to provide only synchronous API in `Catalog` trait?

[2021-08-25 11:48] leiysky commented on #1601
@sundy-li It seems there has been many macros and utility of both `DataType::Utf8` and `DataType::Binary`, do you have any idea about how to deal with them?

[2021-08-25 11:52] jackwener commented on #1445
I also notice this problem.

[2021-08-25 12:09] sundy-li opened #1603 "[Refactors types] Remove DataType::Utf8"
**Summary**

Tasks to be done:

- [ ] Remove DataType::Utf8
- [ ] Rename `DataType::Binary` to be `DataType::String`, `DataType::String` is the logic datatype of `DataType::LargeBinary` in arrow.
- [ ] Refactor other functions to work with `DataType::String`

[2021-08-25 12:10] sundy-li commented on #1601
Let's do it in #1603

[2021-08-25 12:14] sundy-li commented on #1445
Yes, because the ParquestStream was implemented from arrow1. Now we have migrated into arrow2, so it makes sense to change it to be `tokio::sync::mpsc`.

[2021-08-25 12:22] leiysky commented on #1601
Duplicated with #1603

[2021-08-25 12:22] #1601 closed

[2021-08-25 13:10] zhyass commented on #1603
/assignme

[2021-08-25 14:00] BohuTANG commented on #1596
For catalog, sync is more make sense here.
@dantengsky what do you think?

[2021-08-25 15:42] PsiACE commented on #1549
also see: https://github.com/apache/arrow-datafusion/issues/913

[2021-08-25 16:28] dantengsky commented on #1596
I am not sure about it.

On the one hand, the Catalog is backed by flight service(for the time being) which is async, thus it is easier/more natural for Catalog API to go with async style.

On the other hand:
- if the optimizer depends on Catalog heavily while searching for better plans (correct me if I am mistaken), it would be better to make catalog API sync.
- Since nothing prevents us from enc

[2021-08-25 16:32] dantengsky commented on #1596
please allow me to transform this issue into a discussion

[2021-08-25 16:33] #1596 closed

[2021-08-26 04:18] zhang2014 opened #1610 "Verify that #[inline (always)] is correctly inline at compile time"
**Summary**

`#[inline(always)]` does not guarantee inline in some cases, which will greatly affect performance. We need to check that they are correctly inline at compile time (give some warnings)

[2021-08-26 08:02] bohutang opened #1613 "[doc] SHOW DATABASES WHERE/LIKE"
**Summary**

After PR https://github.com/datafuselabs/datafuse/pull/1510 Datafuse supports:
[code]

Document it in the website https://datafuse.rs

[2021-08-26 11:17] zhang2014 opened #1614 "Use custom HashMap for HashMethodKind::Serializer"
**Summary**

We use rust std HashMap to execute `SELECT ... GROUP BY string_ column, string_ column`.

It has the following problems:
- HashMap key is variable length
- Inconsistent with fixed keys (duplicate codes)
- HashMap key is Vec<u8>(when resizing, a large number copy operations are required in memory)

[2021-08-26 23:57] #1613 closed, assigned to ygf11

[2021-08-27 01:57] bohutang opened #1617 "[improvement] skip the remote if the store_api_address is empty"
**Summary**

If set the `store_api_address=""`, `show databases` should not load the databases from the remote.
Now, when we run:
[code]

[2021-08-27 02:05] #1614 closed, assigned to nobody

[2021-08-27 03:03] ZhiHanZ opened #1618 "[security] consider to use axum server for tls reloading"
**Summary**
https://github.com/programatik29/axum-server enhances TLS configurations for axum server and provide a way for TLS reloading which is desired(because we do not want user to restart query or stores when new TLS certificates updated).
Once the library provide full support TLS(CA, SNI etc), we could consider migration

[2021-08-27 03:38] BohuTANG opened #1620 "[test] test_run_shuffle_action_with_no_scatters has been running for over 60 seconds"
**Summary**

Description for this bug.

**How to reproduce**

make unit-test

**Additional context**
Test:
[code]

gdb:
[code]

[2021-08-27 03:42] bohutang opened #1621 "[improvement] move fusecli test from unit test"
**Summary**

For local unit test(make unit-test) running, fusecli test always not stable, consider move it to a single Makefile command:
make cli-test

[2021-08-27 04:51] bohutang opened #1623 "[config] consider rename store_api_* to store_* for query config"
**Summary**

For config, the name with prefix `store_api_yy` appears to be a config item that exposes for others, the name is suite for datafuse-store not query.

[2021-08-27 05:15] #1617 closed, assigned to bohutang

[2021-08-27 09:49] sundy-li opened #1627 "Introduce custom logic types on arrow2"
**Summary**

tasks:
- [ ] Custom logic types on arrow2 using `ARROW::extension::name` in field's metadata,  [extension types](https://arrow.apache.org/docs/python/extending_types.html#defining-extension-types-user-defined-types)
- [ ] `DataArray` will be related only with physical types, so `DateTime32` and `UInt32` will share same physical array inside.
- [ ] Refactor `DataArray<T>`

[2021-08-27 12:50] BohuTANG opened #1629 "[improvement] add `address:port` message to `Address already` panic log"
**Summary**

Actual:
[code]

Expect:
[code]

[2021-08-27 13:03] #1623 closed, assigned to bohutang

[2021-08-27 13:13] BohuTANG opened #1630 "[feature] system.configs table"
**Summary**

Add system.configs table to show the configs:
columns:
`name | value | group | description`

[code]

Reference:
system.settings table:
https://github.com/datafuselabs/datafuse/blob/master/query/src/datasources/system/settings_table.rs

[2021-08-27 14:48] #1621 closed, assigned to nobody

[2021-08-27 15:32] danielgatis opened #1632 "Concerns about the raft log index"
Hi,

I have a question about the index of the log. Is it correct to start from`0`?
https://github.com/datafuselabs/datafuse/blob/master/store/src/meta_service/raftmeta.rs#L457

following these instructions https://github.com/datafuse-extras/async-raft/blob/master/raft-essentials.md#can-the-log-index-reset-per-term, shouldn't it be the `last snapshot index` up to the `current snapshot index`?

[2021-08-28 01:19] BohuTANG commented on #1623
@Onyinye91-ctrl Hi!
Thank you, this task is done(I'm already in progress and the issue is a bit difficult when i saw this comments), we could look for other tasks which labeled with `good first issue`.
This guide line may be helpful:
https://datafuse.rs/development/contributing/

[2021-08-28 01:51] BohuTANG commented on #1568
BTW, `LocalDatabase` is not really for testing, it's mainly for system information, such as `system` database.
[code]

[2021-08-28 02:04] BohuTANG opened #1635 "[improvement] Consider rename `datasource` to `catalog`"
**Summary**

After add the catalog mod, many variable/function name is still with `datasource` in [sessions](https://github.com/datafuselabs/datafuse/tree/master/query/src/sessions) mod, for example:
[code]

and:
[code]

Consider rename them to `catalog`.

[2021-08-28 02:21] dantengsky commented on #1568
perhaps I miss emphasizing, by local database, I mean `datasources/local`.  `datasources/system/` not included

[2021-08-28 04:15] #1635 closed

[2021-08-28 09:21] BohuTANG opened #1639 "[improvement] remove unused `common/store-api/session_api.rs`"
**Summary**

`common/store-api/session_api.rs` and `flights/src/impls/session_api_impl.rs` not used anymore, we should remove it.

[2021-08-28 09:32] GrapeBaBa commented on #1629
Error: Code: 1002, displayText = Address already in use (os error 98).
I cannot see any code include such this log. Is it in fusequery?

[2021-08-28 09:45] GrapeBaBa commented on #1630
what neeed to do for this task?

[2021-08-28 10:42] BohuTANG commented on #1630
Add a system `configs` table can be queried.
There are many system tables there for reference:
https://github.com/datafuselabs/datafuse/blob/master/query/src/datasources/system/

[2021-08-28 10:47] BohuTANG commented on #1629
This error comes from the `tokio::net::TcpListener::bind(listening).await?;`
I think we can add `map_err` here.

[2021-08-28 16:12] PsiACE commented on #1549
/assignme

[2021-08-29 00:25] BohuTANG opened #1640 "[build] release broken"
## Summary

Release can't build for some target:
[code]

Log:
https://github.com/datafuselabs/datafuse/runs/3413089344?check_suite_focus=true

[2021-08-29 00:50] BohuTANG opened #1641 "[improvement] Consider moving `table/database/table_function` defintion to catalog"
**Summary**

Move `table/database/table_function` defintion to catalog mod.

[2021-08-29 02:51] #1641 closed

[2021-08-29 07:32] jyz0309 commented on #1639
/assignme

[2021-08-29 08:14] GrapeBaBa commented on #1630
/assignme

[2021-08-29 08:29] #1629 closed

[2021-08-29 08:49] sundy-li opened #1647 "integration_tests Unit tests cost too much time"
**Summary**

Description for this improvement.

[code]

[2021-08-29 08:50] sundy-li commented on #1647
cc @ZhiHanZ

[2021-08-29 09:06] BohuTANG commented on #1647
In the latest version, make unit-test is not run fusecli now.
What's the test run from?

[2021-08-29 09:12] sundy-li commented on #1647
I used `cargo test`.

[2021-08-29 09:12] #1647 closed

[2021-08-29 09:25] PsiACE commented on #1647
we can mark it with `#[ignore]`

[2021-08-29 09:31] jyz0309 commented on #1639
The `KillQueryReq` still in use. Should I move it to other place? If so, where you think is better.

[2021-08-29 10:39] taiyang-li commented on #1640
/assignme

[2021-08-29 12:18] BohuTANG commented on #1639
If the KillQueryReq and related is not used anymore, we can also remove it :)

[2021-08-29 12:18] BohuTANG commented on #1639
If the KillQueryReq and related is not used anymore, we can also remove it :)

[2021-08-29 13:25] jyz0309 commented on #805
I think this issue needs more discussion, for example: What is the format of Json? What content should be kept in the `system.tracing` table to be shown in the api.

[2021-08-29 13:36] jyz0309 commented on #990
/assignme

[2021-08-29 14:17] BohuTANG commented on #805
ok, thank you @jyz0309
The initial design we can make it work and next to choose the pretty format, how about your thoughts?

[2021-08-29 14:37] #1639 closed

[2021-08-29 16:49] PsiACE commented on #1564
https://github.com/datafuselabs/datafuse/runs/3455168241#step:5:1603

Tests (macos-latest, stable, x86_64-apple-darwin, false)

[code]

cc @drmingdrmer

[2021-08-29 17:11] PsiACE commented on #1148
fyi, custom allocator for tracing memory usage:

[code]

[2021-08-30 02:46] ZhiHanZ commented on #1640
I think it should be fixed by installing openssl, seems like openssl-dev did not installed in those distros
[code]

[2021-08-30 03:20] ZhiHanZ opened #1650 "[Refactor] improve dev_setup.sh"
**Summary**
dev_setup.sh scripts would install rust dependencies and tools to run datafuse tests.
here I think here should have 2 improvements:
1. each installation logic should be separated(current setup would confuse developers https://github.com/datafuselabs/datafuse/pull/1637#discussion_r697804376)
2. install all needed dependencies for unit tests and integration tests(such as python3, mysql-c

[2021-08-30 03:56] BohuTANG opened #1651 "[improvement] Add database engine to catalog"
**Summary**

Catalog has map for  database type register, such as:
[code]

When we create a database from catalog, we can check the engine type and choose the right Database type and create them, no longer concerned it's Local or Remote .

[2021-08-30 04:50] drmingdrmer commented on #1632
Hi,

Every time a snapshot is built, either by building it locally with `do_log_compaction()`, or installing a snapshot received from another leader with `finalize_snapshot_installation()`, the log entries that are included in the snapshot is removed.

That's why it just removes all entries from the beginning up to current snapshot index.

A snapshot only contains applied entries, and an applied e

[2021-08-30 04:56] drmingdrmer commented on #1632
Valid log index starts from `1`. Index 0 is only used in some uninitialized state, e.g. the initial `StateMachine.last_applied` is `LogId{term:0, index:0}`.

[2021-08-30 05:28] jyz0309 commented on #805
I think you are right. Maybe we can just show the logs in the initial design (v0.5). And in the 0.6 version, we can just format it in the Json.

[2021-08-30 05:28] jyz0309 commented on #805
I think you are right. Maybe we can just show the logs in the initial design (v0.5). And in the 0.6 version, we can just format it in the Json.

[2021-08-30 06:45] #1627 closed

[2021-08-30 06:49] sundy-li commented on #853
@gauss1314  @dust1

Now we have `Date16`, `Date32`, `DateTime32` types, and we have an example function `now`, `today` in  https://github.com/datafuselabs/datafuse/tree/master/common/functions/src/scalars/dates

You can continue this task now. Let's implement it in order by priority.

[2021-08-30 06:52] dust1 commented on #853
ok

[2021-08-30 07:04] tangwz commented on #1570
I think I should modify sqlparser-rs first?

[2021-08-30 07:08] sundy-li commented on #1570
Yes, https://github.com/datafuse-extras/sqlparser-rs/blob/main/src/parser.rs#L648-L665

[2021-08-30 07:12] ygf11 commented on #853
@sundy-li I am interested in these task.
To avoid conflict, which one should I task?

[2021-08-30 07:21] sundy-li commented on #853
Thanks, You can try these three first

[code]

[2021-08-30 07:28] ygf11 commented on #853
ok.

[2021-08-30 09:42] sundy-li opened #1655 "Add `Field` into the function `eval` in Function trait"
**Summary**

Since there are no logical datatypes in Column/Array/DataValue, so we must have the logical types in function's eval, otherwise `toTypeName(Date32)` will always return `UInt32`

[2021-08-30 12:40] danielgatis commented on #1632
makes sense. tks.

[2021-08-30 12:40] #1632 closed

[2021-08-30 23:24] CoderYellow commented on #531
maybe your team should refer to apache arrow-datafusion implmentation.

[2021-08-31 00:53] #805 closed

[2021-08-31 02:59] cppcoffee opened #1668 "Intermediate files generated by `make test`, which are not deleted by `make clean`"
**Summary**

Run `make test` generates the following intermediate files:

[code]

`make clean` does not currently delete them, I feel can delete them.

[2021-08-31 03:54] #1640 closed

[2021-08-31 09:19] tangwz commented on #1570
@sundy-li PTAL.

[2021-08-31 14:17] BohuTANG opened #1675 "[doc] Document the plugable catalog and datasource design"
**Summary**

After PR https://github.com/datafuselabs/datafuse/pull/1652, Datafuse Catalog and Datasource is plugable, we can add more datasource such as MySQL and etc.

Document them in https://datafuse.rs

[2021-08-31 14:19] dust1 opened #1676 "`datafuse/tests/./datafuse-test` TypeError: '<' not supported between instances of 'tuple' and 'int'"
Make sure that `git diff` result is empty and you've just pulled fresh master, and run first:
[code]

**Operating system**

Python Version : 3.9.5
OS : Mac OS Mojava 10.14.6
git version 2.14.1

**rust version**
[code]

**Datafuse git version**
git commit id : 7a3bfc5620e545333ca4e35c71ac849b421b74fc

**Other**
Error Info:
[code]
but when I execute the relevant statement in the py file, he is corre

[2021-08-31 14:29] BohuTANG commented on #432
@TennyZhuang
Hi!
We plan to restart this issue(next week this issue will be reset, or someone can take it) .
Thanks again for your work, if you have any questions we are always happy to talk.

[2021-08-31 14:40] jyz0309 commented on #990
I have tried to change it. But unfortunately I failed. I found that `measureme` need a file to show flamegraph. And I think it's more complex that `pprof`(maybe just I have not understood it well 😔)

[2021-08-31 14:40] jyz0309 commented on #990
I have tried to change it. But unfortunately I failed. I found that `measureme` need a file to show flamegraph. And I think it's more complex that `pprof`(maybe just I have not understood it well 😔)

[2021-08-31 14:58] TCeason commented on #853
/assign

Could I try to impl the func `timezone`?

[2021-08-31 15:58] jyz0309 commented on #1506
I can not reproduce it in the master branch. It seems that it has been fixed?

[2021-08-31 17:56] #1568 closed

[2021-08-31 17:56] #1651 closed

[2021-08-31 20:13] edokan opened #1678 "Support DataGrip"
**Support DataGrip**

DataGrip by IntelliJ is a wonderful Database IDE I use. However, it fails to connect to DataFuse using MySql throwing "CLIENT_SECURE_CONNECTION is required" error. As a workaround I used MariaDB connector using username and password root/root and it failed to connect since it tried to set sql_mode which Datafuse does not recognize. I set `jdbcCompliantTruncation` property to

[2021-09-01 01:14] BohuTANG opened #1679 "[feature] add config to disable local database engine"
**Summary**

In some cases, we don't want local database to create, add one config like 'disable_local_database_engine', when datafuse session creating, we won't load the local database engine.

[2021-09-01 01:20] sundy-li opened #1680 "Support timezone in DateTime32 datatypes."
**Summary**

Now we have `DataType::DateTime32` which is UInt32Array representation, but we default to use UTC timezone to [display the time](https://github.com/datafuselabs/datafuse/blob/a283287fbb4fbd5c2565bd34ab95f3a2004c38ee/common/datavalues/src/types/serializations/date_time.rs#L40-L56)

Tasks todo:

- [x]  Change `DataType::DateTime32` into `DataType::DateTime32(timzone: String)`
- [x] Refa

[2021-09-01 01:20] sundy-li commented on #853
Yes, but we better add timezone into DateTime Type in previous, you can try this task #1680

[2021-09-01 01:34] TCeason commented on #1678
I will test it.

[2021-09-01 02:06] zhang2014 commented on #1680
Integration with other clients (MySQL client, ClickHouse client) should also be considered

[2021-09-01 03:01] jyz0309 commented on #1679
/assignme

[2021-09-01 03:02] jyz0309 commented on #1679
I will try it.😳

[2021-09-01 03:07] drmingdrmer commented on #1676
[code]
These two return value must be all tuple: `(int, string)`. `99997` is only an int, which causes this issue.
`return (99997, "")` should fix this issue

[2021-09-01 04:28] zhang2014 commented on #1506
Yes, it cannot be reproduced in master. Let's close it

[2021-09-01 04:28] #1506 closed

[2021-09-01 04:40] #1429 closed

[2021-09-01 05:04] #1469 closed

[2021-09-01 06:31] BohuTANG opened #1681 "[test] stddev function test not stable"
**Summary**

[code]

[2021-09-01 06:31] BohuTANG commented on #1681
CC: @b41sh @sundy-li

[2021-09-01 06:45] BohuTANG opened #1683 "[feature] add example engine to datasource for demo"
**Summary**

Introduce a simple datasources `example` to show how datafuse datasource + catalog works.
[code]

[2021-09-01 07:18] sundy-li commented on #1681
Related to number floating computational error. But it's reasonable, it's unstable even in clickhouse.

[code]

[2021-09-01 07:18] #1676 closed

[2021-09-01 07:23] BohuTANG commented on #1681
Ok, may be we should refine the test for it?

[2021-09-01 07:46] #1681 closed

[2021-09-01 08:01] ZhiHanZ opened #1686 "[Flaky test] standalone test flaky"
**Summary**

[2021-09-01T07:56:36Z ERROR datafuse_query::servers::mysql::writers::init_result_writer] OnInit Error: Code: 3, displayText = Cannot USE 'not_exists_db', because the 'not_exists_db' doesn't exist.

https://github.com/datafuselabs/datafuse/pull/1654/checks?check_run_id=3481861218

[2021-09-01 08:04] ZhiHanZ commented on #1686
cc @drmingdrmer

[2021-09-01 08:05] BohuTANG opened #1687 "[CI] make the log level from `INFO` to `ERROR`"
**Summary**

In https://github.com/datafuselabs/datafuse/tree/master/scripts/ci, the store default log level is INFO.
It's a bit mesh for the stateless test CI, so we consider change them to `ERROR`

[2021-09-01 08:07] ZhiHanZ opened #1688 "[Build/CI] use customized build tool for cross compile"
**Summary**
Currently, release patches failed because it use official cross docker image which does not contain necessary binaries for cross compile on arm based architectures.
Hereby, we should maintain docker build tools for cross compile by ourselves

[2021-09-01 08:07] BohuTANG commented on #1686
Have checked.
This CI failed due to this issue: https://github.com/datafuselabs/datafuse/issues/1681
Now, we have fixed them and merge into the master branch.

[2021-09-01 08:07] #1686 closed

[2021-09-01 08:39] jyz0309 commented on #1687
Sry, but I find that the log level is ERROR? https://github.com/datafuselabs/datafuse/blob/f0fa13a31645f68a8a6c1e7592877f079d044812/scripts/deploy/config/datafuse-query-node-3.toml#L5

[2021-09-01 09:43] #1688 closed

[2021-09-01 10:35] BohuTANG opened #1692 "[feature] add username for the remote database(question)"
**Summary**

Since the MetaStore is a multi-tenat service, if we have a user(`jack`) login in from the MySQL client and run:
mysql> show databases;

This command will:
1. get the local databases
2. get the remote databases from the store backend

For S2, how the backend store returns `jack` databases information?

[2021-09-01 10:37] BohuTANG commented on #1692
CC: @dantengsky @drmingdrmer

Perhaps your guys could answer it

[2021-09-01 10:50] BohuTANG opened #1693 "[question] about `get_table_by_id`"
**Summary**
From the code, in the remote table:
1. we set the table_id for ReadDataSourcePlan from ScanPlan:
[code]
2. And the ScanPlan::table_id only be set by `ScanPlan::with_table_id`
3. The `ScanPlan::with_table_id(table_id, table_version)` was called at:
[code]

4. ReadDataSourcePlan::empty not called by any functions.

Is this function no longer used or is there a purpose to it?

CC: @danten

[2021-09-01 11:02] BohuTANG commented on #1693
Thank you @dantengsky for the answer:
https://github.com/datafuselabs/datafuse/blob/301360e0b292cf7f45cc20fc93db82db98f6c5e6/query/src/sql/plan_parser.rs#L777-L787

[2021-09-01 11:02] #1693 closed

[2021-09-01 11:17] dantengsky commented on #1692
is `jack` one of the users of a tenant? or `jack` is a tenant?

IMO:

if `jack` is a tenant, that would be easier, since database meta belongs to a specific tenant.

if `jack` is a user of a tenant....  well, that is another (long) story.   There should be other metadata for user credential/role/privilege...,  which may be stored inside the backend store or not (depends on serval things, e.g. secu

[2021-09-01 12:36] GrapeBaBa commented on #1630
/help

[2021-09-01 12:37] GrapeBaBa commented on #1630
We need iterate all the attribute names in several config structs, right?

[2021-09-01 14:03] drmingdrmer commented on #1692
It is possible to maintain the tenant-user-database relationship in metastore in a tree-like data structure, with some reversed index.

Or just dump these data into a static file that is saved in DFS.
And meta store just maintains the linearizability of the updates to it, by versioning every change to it.
Just like the way fuse-query does for table indexes.

[2021-09-01 15:27] BohuTANG commented on #1630
That is true

[2021-09-01 15:36] BohuTANG commented on #1692
In the datafuse(data panel), all the user is normal user, not tenant, we can get the databases by the user name(or id).
In the control panel, the tenant may have many users, it feels like a user management system, expressed in our metastore :)

[2021-09-02 01:42] BohuTANG commented on #1687
Sorry, it's the store not the query.
I have a patch to fix it:
https://github.com/datafuselabs/datafuse/pull/1697

[2021-09-02 01:45] BohuTANG opened #1698 "[FEATURE] Consider move the Parquet from table engine to database engine"
**Summary**

It's interesting and useful to move Parquet from the local table engine to datasource as a database engine.
If we ceate a database as:
[code]

It will have his own database&table schema, indexing, it's a datasource for parquet query, so we can do many queies locally.

[2021-09-02 02:14] #1687 closed

[2021-09-02 02:26] b41sh commented on #1681
I found that the result is related to the distribution of data blocks. When the data is not evenly distributed and some data blocks are empty, the result will be incorrect. Why are some data blocks empty? Is the data randomly distributed? @BohuTANG @sundy-li

[2021-09-02 02:35] BohuTANG commented on #1698
CC: @sundy-li @zhang2014 any thought on it?

[2021-09-02 02:49] BohuTANG commented on #1698
@drmingdrmer is doing some works on the remote engine.
Let's skeep the parquet as table engine.

[2021-09-02 02:49] #1698 closed

[2021-09-02 03:17] drmingdrmer opened #1700 "data panel user and database on metastore api"
In the datafuse(data panel), all the user is normal user, not tenant, we can get the databases by the user name(or id).
In the control panel, the tenant may have many users, it feels like a user management system, expressed in our metastore :)

_Originally posted by @BohuTANG in https://github.com/datafuselabs/datafuse/issues/1692#issuecomment-910403999_

[2021-09-02 04:12] #1578 closed

[2021-09-02 04:31] zhang2014 commented on #1700
Tenants are managed by Datafuse cli and users are managed by Datafuse query. Maybe they shouldn't be relevant?

[2021-09-02 04:37] BohuTANG commented on #1700
The api looks great for the data panel.
@zhang2014 tenant is the control panel, they are in different panel, so not actually related.

[2021-09-02 04:42] zhang2014 commented on #1692
tenants are managed by Datafuse cli and users are managed by Datafuse query(maybe the tenant is just a prefix in config), maybe they shouldn't be relevant(this is my understanding. maybe it's wrong)?

[2021-09-02 04:43] BohuTANG commented on #1692
That's true.

[2021-09-02 04:46] zhang2014 commented on #1700
😂 I tried to move comment to https://github.com/datafuselabs/datafuse/issues/1692#issuecomment-911165136 (ignoring this).

I understand.

[2021-09-02 05:17] sundy-li commented on #1681
There's a method named `generate_parts` to distribute the parts,  I do not think it'll be an empty block if it works correctly.

Yes, the parts are distributed into a global queue, the working threads will steal parts from this queue.

If the max_threads is `4` and you select `select stdvarPop(number) from numbers(10)`.

There will be parts:

[2, 2, 2, 2, 2, 2]

There will many possible conditions

[2021-09-02 10:44] BohuTANG opened #1704 "[feature] add user and password auth for MySQL/ClickHouse handler"
**Summary**

1. MySQL  auth
2. ClickHouse auth

First we should get the user and password hash in the MySQL/ClickHouse server handler.

[2021-09-02 13:16] #1603 closed

[2021-09-02 14:51] ZhiHanZ commented on #1704
I think after it is finished with end user TLS authentication, security part should be ready for alpha stage

[2021-09-03 00:38] sundy-li commented on #1570
@tangwz  Now we can update the version of `sqlparser-rs` in Datafuse and introduce this function styles.

[2021-09-03 00:43] BohuTANG opened #1706 "[doc] document datetime function"
**Summary**

Document datetime function at https://datafuse.rs

[2021-09-03 02:03] #1598 closed

[2021-09-03 06:26] BohuTANG commented on #1564
meta_service::raftmeta_test::test_meta_node_set_file failed:
[code]

CC: @drmingdrmer

[2021-09-03 06:35] #1692 closed

[2021-09-03 06:36] BohuTANG commented on #894
Add:
[ user and password auth for MySQL/ClickHouse handler #1704](https://github.com/datafuselabs/datafuse/issues/1704)

[2021-09-03 07:22] junli1026 commented on #654
How about DataForge, which has the same init with DataFuse (DF). Thus we can keep use the df prefix in the code :)

[2021-09-03 07:30] BohuTANG commented on #654
@junli1026 Thank you.
As it stands now, datafuse has some (minor) popularity, we're not considering changing the name and we don't want to waste any more time on this topic, this issue will be closed this weekend.
If you have any ideas, feel free to open a new one.
Thanks all.

[2021-09-03 07:57] #1570 closed

[2021-09-03 10:22] zhyass opened #1711 "Bump arrow2"
**Summary**

Bump from https://github.com/zhyass/arrow2/commit/23682f033d6e473a8292e441414795e843b47188 to https://github.com/datafuse-extras/arrow2/commit/d6879ba5023d5bbf0e5857b22d97690d6b59ed86

[2021-09-03 10:30] drmingdrmer commented on #1564
This test creates a dozen of task and is very easy being delayed by other tests.

Timeout is extended to 10 second and every test will be run in a runtime with 5 threads.

[2021-09-03 10:50] BohuTANG commented on #601
/help

[2021-09-03 10:51] BohuTANG commented on #601
FuseBot Works

[2021-09-03 10:52] #1711 closed

[2021-09-03 11:16] drmingdrmer commented on #601
r?

[2021-09-03 11:17] drmingdrmer commented on #601
r? @drmingdrmer

[2021-09-03 11:18] b41sh commented on #1681
The data is divided into n partition blocks and placed in a global queue, and n `AggregatorPartialTransform` threads are started to process each block separately, but in one thread, data blocks will be cyclically obtained from the global queue, so there may be a thread can obtain multiple blocks, while another thread doesn't obtain any block at all. In this case, some threads actually do nothing a

[2021-09-03 12:10] sundy-li commented on #1681
Yes, we can but it may not be efficient.

We have a setting named `max_block_size` to split the data into blocks.

- If the block size goes too big, the block number for each thread will be smaller, thus if one thread works very slow on a large block,  other threads may not help.
- If the block size goes too small, there will be much more small blocks that will not work well in batch computes.

[2021-09-03 12:27] BohuTANG commented on #601
/help

[2021-09-03 12:35] PsiACE commented on #601
Love it.

[2021-09-03 14:34] drmingdrmer commented on #601
She loves you too.

[2021-09-04 01:33] b41sh commented on #1681
Ok, I see, thanks for your explanation. @sundy-li

[2021-09-04 02:23] sundy-li commented on #1681
Another more, event we divide data into one block for each thread, like 4 threads each got [1,1,1,1] block with [4, 3, 3, 4] rows.
There will be varing  merge orders in the `AggregateFinalMerge` stage.

[2021-09-04 03:11] BohuTANG commented on #1704
It seems like we need an API for InteractiveWorker like:
[code]

CC: @zhang2014 @sundy-li

[2021-09-04 03:36] jyz0309 commented on #1668
/assignme

[2021-09-04 03:38] BohuTANG opened #1720 "[build] riscv64gc-unknown-linux-gnu target build error"
[code]

Cargo tree:
[code]

Broken in rustls-native-certs crate.

[2021-09-04 03:41] BohuTANG commented on #1720
Related issue https://github.com/briansmith/ring/issues/1182

[2021-09-04 04:10] #1256 closed

[2021-09-04 04:27] BohuTANG opened #1721 "[feature] system.engines table"
**Summary**

Add system.engiens table to show the engines:
columns:
`Engine | Comment`

The engiens datas from ctx.catalog.get_db_engines.
[code]

Reference:
system.settings table:
https://github.com/datafuselabs/datafuse/blob/master/query/src/datasources/system/settings_table.rs