[2020-12-20 09:05] BohuTANG opened #5 "Group By"
## Summary

Build the planner for the sql
[code]

[2020-12-20 09:10] BohuTANG opened #6 "[planner] support the distrubuted plan fragment"
[summary]

For now, all the pipeline build based on the single fragment, if we have a query:
[code]

Thie pipelines building like:
[code]
All 8-way parallel is executed on the local, so we need the plan can split to many fragments and some of them can be executed on the remote site:
[code]

Local and remote stream is connected by the ExchangeStream port.

[2020-12-22 07:15] yuhongye opened #10 "Create too many thread in mysql_handler.rs"
In the mysql_handler.rs start() function，it will create a thread pool:
`pub fn start(&self) -> FuseQueryResult<()> {
        let listener =
            net::TcpListener::bind(format!("0.0.0.0:{}", self.opts.mysql_handler_port)).unwrap();

        let pool = ThreadPool::new(4096);
`
When I use my mac book pro to run fuse-query, a failed occur:
`thread 'tokio-runtime-worker' panicked at 'called Resu

[2020-12-22 07:47] sundy-li commented on #10
Ok, maybe we should set the default value to `512`, and introduce a custom setting for that.

[2020-12-22 10:01] sundy-li opened #12 "MergeProcessor should respect the origin source order"
[code]

[2020-12-22 10:19] #10 closed

[2020-12-22 11:18] BohuTANG commented on #12
Yes.
But it's hard to do without order by clause, any ideas?

[2020-12-22 14:36] sundy-li commented on #12
Just use vector instead of channel by default?

[2020-12-23 00:26] BohuTANG commented on #12
Merge processor is dependened on the tokio scheduler(spawn), I think the sequence of merge processor is not the place to rush to solve, fuse-query will do `limit` push down later, then the result is make sense.

[2020-12-27 05:44] zhangysh1995 opened #15 "Cannot create table?"
Hi, I’m new to both this database and ClickHouse, could I know how to insert data to the database?

[2020-12-27 07:47] BohuTANG commented on #15
hi,
This project is still in early stage.
As a cloud data warehouse, we have to explore the QUERY mode first before starting writes DDL and DML.
QUERY mode now including query plan, plan to processor, processor running on distributed node.
As for writes, we also build execution plans and the data will be sent to the fuse-store and eventually stored in an object store like s3, it's simply than QUER

[2020-12-27 09:37] BohuTANG opened #16 "[build] add ARM building test"
## summary

Add a testing for ARM platform.
Since arrow-3 is not compile under `cross build --target aarch64-unknown-linux-gnu`, this issue needs to wait for them to fix.

[2020-12-27 12:35] BohuTANG commented on #16
https://github.com/datafusedev/fuse-query/commit/241aa904fa17f6b313ef8d0461d728afaedf9e40

[2020-12-27 12:35] #16 closed

[2021-01-13 18:51] l1t1 opened #18 "please release binary files for x86 and arm"
just like clickhouse without debug info

[2021-01-14 13:47] BohuTANG commented on #18
Good idea.

[2021-01-17 05:10] BohuTANG commented on #18
https://github.com/datafusedev/fuse-query/releases/tag/v0.1.1-alpha

[2021-01-17 05:10] #18 closed

[2021-01-17 12:03] l1t1 commented on #18
thanks

[2021-01-18 00:53] l1t1 opened #21 "how to run fusequery-v0.1.1-alpha-linux-armv7"
[code]

[2021-01-18 01:06] BohuTANG commented on #21
What's the platform and os?
fusequery-v0.1.1-alpha-linux-armv7 it works on my Raspberry Pi

[2021-01-18 02:03] l1t1 commented on #21
~/fuse$ uname -a
Linux kylin 4.4.131-20200710.kylin.desktop-generic #kylin SMP Fri Jul 10 13:46:24 CST 2020 aarch64 aarch64 aarch64 GNU/Linux

~/fuse$ lsb_release -a
No LSB modules are available.
Distributor ID:	Kylin
Description:	Kylin V10
Release:	V10
Codename:	juniper

~/fuse$ cat /proc/cpuinfo |more
processor	: 0
model name	: HUAWEI,Kunpeng 920
bogomips	: 7200.00
Features	: fp asimd evtstrm ae

[2021-01-18 08:15] BohuTANG commented on #21
the aarch64 target is ok, it seems [exagear](https://www.huaweicloud.com/kunpeng/software/exagear.html) throws the error:
argv[0] = /opt/exagear/ubt_a32a64
prctl(PR_SET_MM_MAP) failed: Invalid argument

Can you try sudo ./fusequery-v0.1.1-alpha-linux-armv7?

[2021-01-18 08:47] BohuTANG commented on #21
You can try the [x86_64 binary]( https://github.com/datafusedev/fuse-query/releases/download/v0.1.1-alpha/fusequery-v0.1.1-alpha-linux-x86_64), it will transalte to arm arch by exagear.

[2021-01-19 00:38] l1t1 commented on #21
~/fuse$ ./fusequery-v0.1.1-alpha-linux-x86_64
bash: ./fusequery-v0.1.1-alpha-linux-x86_64: cannot execute binary file: 可执行文件格式错误

[2021-01-19 01:30] BohuTANG commented on #21
I will try to add `aarch64` bianry release this weekend.

[2021-01-23 05:56] BohuTANG commented on #21
Please download the `fusequery-v0.1.1-alpha-linux-aarch64
` target release here:
https://github.com/datafusedev/fuse-query/releases/tag/v0.1.1-alpha

It works for me on huawei cloud:
[code]
![image](https://user-images.githubusercontent.com/172204/105570209-acbaff80-5d82-11eb-9548-40f5668538f3.png)
![image](https://user-images.githubusercontent.com/172204/105570215-b17fb380-5d82-11eb-8cdf-f351b572

[2021-01-23 06:13] #21 closed

[2021-01-23 07:17] l1t1 commented on #21
thanks. could you attach the pdf of pictures.I  cannot see them now

[2021-01-23 08:51] BohuTANG commented on #21
The image on the githubusercontext.com blocked, but it's not very important about this issue, just a work show.

[2021-01-25 00:09] l1t1 opened #24 "the result of "select * from system.numbers_mt limit 10000000000" is wrong"
only 10000 rows returned.

[code]

[2021-01-25 00:13] l1t1 commented on #24
the result of clickhouse is ok
[code]

[2021-01-25 00:46] l1t1 commented on #21
thanks, it works on my machine.

[2021-01-25 01:26] sundy-li commented on #24
Yes, it's a bug of fuse-query.

It's not a bug, because it overflows UInt64, which is 2^64 - 1 = 18446744073709551615

[2021-01-25 01:31] BohuTANG commented on #24
FuseQuery subquery is on the roadmap and not yet working properly.
BTW, the limit issue is due to system.numbers_mt(n), n default is 10000.

[2021-01-25 01:36] l1t1 commented on #24
https://github.com/ClickHouse/ClickHouse/issues/19542
the max() is also wrong in clickhosue

[2021-01-27 13:31] #24 closed

[2021-01-28 05:06] #12 closed

[2021-01-28 06:10] l1t1 opened #27 "CTE is not supported, but fuse reports internal("Unknown database: \'default\'")"
mysql> with t as ( select sum(number)n from system.numbers_mt(1000))select * from t;
ERROR 1105 (HY000): Internal("Unknown database: \'default\'")

[2021-01-28 07:48] sundy-li opened #28 "[tests] implement stateless tests"

[2021-01-29 08:33] #28 closed

[2021-01-30 03:53] BohuTANG opened #30 "work stealing scheduler for partitions aware parallelism"
The purpose of this scheduler is to maximize local parallelism(SMP) and distributed parallelism(MPP), allowing resources to be fully utilized between workers.
The init design:
1. a global worker pool, key is session context uuid, value is partitions
2. each datasource pipeline executor fecth N partitions from the global worker pool by UUID
3. pipeline executor exeucted and fetch again, until empty

[2021-01-31 10:51] BohuTANG commented on #30
Done https://github.com/datafusedev/fuse-query/commit/d6b4d84e2282040d8ec863c57b2c6a0761da87f5

[2021-01-31 10:52] #30 closed

[2021-02-10 06:52] sundy-li opened #50 "The partition_queue in session context is ruined by explain pipeline query."
Now, we shared `FuseQueryContext` in each session. So `partition_queue` is shared, there's a bug after we execute explain and then execute a select query.

[code]

The simplest way to fix is to keep partition_queue empty during explain query.  The future to fix is to make the context separated by `gloall_context` and session `context`.

[2021-02-10 09:31] BohuTANG opened #52 "Add build info and git version to the binary release"

[2021-02-10 09:36] #6 closed

[2021-02-10 09:46] BohuTANG opened #53 "Distributed query engine"
To archive distributed query engine, tasks:
- [x] Mod for the cluster meta maintain [#69 ]
- [x] RPC API for the planner executor [#112 #114 #116]
- [x] Remote transform for adapting local and remote pipeline stream [#119 ]
- [x] Distributed plan scheduler [#132  ]
- [x] Distributed pipeline build [#136 #143 ]
- [x] REST API for cluster node add/remove [#150 ]
- [x] Add system.clusters table [#155

[2021-02-10 11:18] #52 closed

[2021-02-10 12:14] #50 closed

[2021-02-17 03:54] sundy-li opened #74 "[planner] support sort"

[2021-02-17 06:15] BohuTANG opened #75 "[processor] processor display"
First pipeline need a walk, like planner walker:
https://github.com/datafusedev/fuse-query/blob/master/src/planners/plan_walker.rs

Make it easy to display the transforms(processors) to Ident or Graphviz or JSON format.

[2021-02-17 06:33] BohuTANG opened #76 "[admin] /v1/cluster/addnode REST API"
[code]

[2021-02-20 01:41] BohuTANG opened #77 "[planner] add plan walker for visit the internal node eaiser"
Now we change all plan nodes to a array, if we using the walker pattern, we can do it easy and clear:
[code]

This can be used at optimizer/pipeline_builder/rewritter:

- [x] Change Pipeline builder to  walk function #80
- [x] Change Optimizer  to  walk function #80
- [x] Change the plan display(Indent and graphvisual) to walk function #82

[2021-02-20 04:41] leiysky commented on #77
I think this is requisite for Join operator.

After refactoring optimizer with this, I'd like to implement Join framework.

[2021-02-20 07:28] BohuTANG commented on #77
Thanks for your contribution!
Currently there are two predecessors:
one is the distributed execution engine(working in the processor, maybe done soon), and the other is plan's visitor.
When these arch foundations done, the rest(groupby/sort/join) can get up, cool.

[2021-02-24 09:27] #77 closed

[2021-02-25 06:41] BohuTANG commented on #75
#84

[2021-02-25 06:41] #75 closed

[2021-02-25 14:57] geekboood opened #86 "question about Arrow plus MergeTree"
Hi, I am pretty interested in this project's idea. But I have some questions. Do you use some columnar format from Arrow to persist all the data? How does that cooperate with MergeTree? I know that columar format such as Parquet or ORC are not suitable with frequent rewrite, but MergeTree engine requires to write data partitioned by keys together, which will cause great write amplification and per

[2021-02-26 01:03] BohuTANG commented on #86
Hi,

No plans to use the arrow format for storage(FuseStore), we prefer ClickHouse's MergeTree format.

The [FuseStore](https://github.com/datafusedev/fuse-store) has not been started yet, we will do a full evaluation when the time comes.
So, for your second quesion:
MergeTree has projection likes Vertica, or MySQL indexs, based on it:
FuseStore will provide automatic clustering projection, not ma

[2021-02-26 01:29] BohuTANG opened #87 "planner/processor digraph"
ClickHouse:
[code]
Code in printPipeline:
https://github.com/ClickHouse/ClickHouse/blob/ac989f3a8fe8e2135e25ac7d6e340b048092e906/src/Processors/printPipeline.cpp#L104

In FuseQuery,  display_graphviz TODO:
https://github.com/datafusedev/fuse-query/blob/master/src/processors/pipeline_display.rs#L80

[2021-02-27 03:10] BohuTANG opened #89 "[dev] add dev setup scripts"
Add dev setup script(rust toolchain auto installtion) for the contributor easy to coding and testing.

[2021-02-27 06:02] BohuTANG commented on #89
#92

[2021-02-27 06:02] #89 closed

[2021-02-27 08:27] BohuTANG opened #93 "[ci] rename tests to testsuite"

[2021-02-27 08:29] #93 closed

[2021-02-28 10:12] BohuTANG opened #96 "Update code coverage html report or other files to COS"
**Use case**
https://github.com/marketplace/actions/tencent-cos-action?version=v0.1.0

[code]

[2021-03-03 07:34] BohuTANG commented on #96
https://github.com/datafuselabs/fuse-query/blob/a6de4afa8127ec173ccfb90ab09692367186e4a6/.github/workflows/fusequery-unit-tests.yml#L41-L48
But not working

[2021-03-04 02:07] BohuTANG opened #105 "better RPC/REST service"
**Description**

Move http admins and GRPC service to one mod, such as rpcs mod.

[2021-03-04 08:37] BohuTANG opened #107 "Fast CI time"
**Description**

Now the CI tests more than 13m, it's too slow.
https://github.com/datafuselabs/fuse-query/actions

Improve plans:
* Documetion or other non-codes level update no need CI
* ClickHouse github scripts here: https://github.com/ClickHouse/ClickHouse/tree/master/utils/github

[2021-03-04 08:39] BohuTANG opened #108 "Error return with stack trace"
**Description**

Change to snafu or others error crate make it return with error stack trace.

[2021-03-04 10:53] sundy-li commented on #107
Workspace may be the option to optimize rust build time.

[2021-03-04 13:59] BohuTANG opened #111 "Add tracing and subscriber"
**Description**

https://github.com/tokio-rs/tracing

[2021-03-05 00:20] BohuTANG commented on #107
Seems github CI will build all the mod every time.

[2021-03-06 04:27] BohuTANG opened #113 "Run with AWS lambda Rust runtime"
(you don't have to strictly follow this form)

**Use case**
Run FuseQuery on AWS Lambda:
https://github.com/awslabs/aws-lambda-rust-runtime

Ref:
https://aws.amazon.com/cn/blogs/opensource/rust-runtime-for-aws-lambda/

[2021-03-10 13:25] #108 closed

[2021-03-11 02:26] BohuTANG opened #125 "Add system.query_log table for optimizing"
**Summary**

Add one system.query_log memory table for the query log.
ClickHouse system.query_log table https://clickhouse.tech/docs/en/operations/system-tables/query_log/
This is the pre-work for FuseStore, make it tunning with AI for automatic clusting.

[2021-03-12 02:16] sundy-li opened #134 "Support create table statement"
**Use case**

Create table as MySQL did. Currently, we just keep it in memory.

[code]

[2021-03-14 11:02] BohuTANG commented on #96
Looks like the coverage including all the modules:
https://datafuselabs-1253727613.cos.ap-singapore.myqcloud.com/coverage/latest/index.html

[2021-03-14 11:34] BohuTANG opened #138 "Support Limit push down optimization"
**Summary**

Add an optimizer rule to push down LIMIT in the query plan
`SELECT * FROM t1 LIMIT 1`

[2021-03-15 08:10] sundy-li opened #140 "Support Local file reader"
Tasks:
- [x] support `system.tables`  [#141 ]
- [x] support table create statment [#148 ]
- [x] support show queries.[#156 ]
- [x] create table store as [parquet,csv], table will be added to datasource, currently stored in memory[#183 ]
- [x] parquet,csv reader[#183 ]

[2021-03-16 13:38] BohuTANG opened #142 "Replace DataBlock with Arrow RecordBatch"
**Summary**

Now, DataBlock must convert to Arrow RecordBatch in some case, such as(and other place):
https://github.com/datafuselabs/fuse-query/blob/master/src/rpcs/rpc/flight_service.rs#L161

In fact, DataBlock and RecordBatch overlap much on the functions, RecordBatch would be better.
Reference:
[1] DataBlock https://github.com/datafuselabs/fuse-query/tree/master/src/datablocks
[2] RecordBatch

[2021-03-17 03:25] #142 closed

[2021-03-17 05:19] BohuTANG opened #145 "Pretty display for the pipeline with remote transform"
**Summary**
If the cluster with 3 nodes, the query:
[code]

First the distributed query plan:
[code]

Then, the pipeline:
[code]
In the pipeline show, we need more RemoteTransform info to display, expected as:
[code]
https://github.com/datafuselabs/fuse-query/blob/f3b3b15382e388f87671e99c5ae2328f50724771/src/transforms/transform_remote_test.rs

[2021-03-17 10:17] BohuTANG opened #147 "Web UI for monitor distributed progress"
**Summary**
Web UI for monitor distributed progress, like Spark UI.

[2021-03-18 01:11] BohuTANG opened #149 "Support system.clusters table"
**Summary**
Show the nodes info in the cluster:
[code]

Table schemas like(Memory table):
[code]

Reference:
https://clickhouse.tech/docs/en/operations/system-tables/clusters/

[2021-03-18 10:15] BohuTANG opened #151 "Add cluster mode for fuse-test"
**Summary**

For fuse-test supports Cluster and Standalone(now support), the init plans:
[1] Start two servers in https://github.com/datafuselabs/fuse-query/blob/master/docker/stateless/run.sh#L4

[code]

[2] Add nodes to 127.0.0.1:9090(Coordinator)
[code]

[3] node-9090 is in cluster with 2 nodes, and node-9091 is single stand
[4] Add 1_cluster for cluster mode test?

[2021-03-18 10:26] sundy-li commented on #151
I prefer to keep stateless tests just for single node testing.

And we can have integration-tests for cluster mode testing.

[2021-03-18 10:28] BohuTANG commented on #151
LGTM

[2021-03-18 14:42] #53 closed

[2021-03-18 14:43] #149 closed

[2021-03-18 14:43] #145 closed

[2021-03-18 14:44] #105 closed

[2021-03-18 14:44] BohuTANG commented on #76
#53

[2021-03-18 14:44] #76 closed

[2021-03-18 14:45] BohuTANG commented on #15
#134

[2021-03-18 22:30] bohutang opened #157 "Document for show statement"
**Summary**

Add document for show:
[code]

[2021-03-18 22:51] BohuTANG opened #158 "Fix release build fail"
**Summary**

Failed task:
https://github.com/datafuselabs/fuse-query/actions/runs/664914256

Work task:
https://github.com/datafuselabs/fuse-query/actions/runs/664914260

[2021-03-19 02:39] BohuTANG opened #159 "Datafuse online book"
**Summary**
A online book for Datafuse like Rust book:
https://github.com/rust-lang/book

References:
https://ritchie46.github.io/polars-book/
https://github.com/ritchie46/polars-book

[2021-03-19 07:47] #158 closed

[2021-03-20 12:05] BohuTANG opened #163 "Add priority to cluster node"
**Summary**
If the CPU is ARM or other low CPU model,  priority can reduce tasks assigned.

[2021-03-20 12:08] BohuTANG opened #164 "Add work-stealing to accelerate distributed computing"
**Summary**
Add work-stealing for distributed query execution to achieve optimal performance.

Tasks:
- [x] Fetch partitions API from other nodes
- [x] Steal partition for data source

[2021-03-22 12:09] #164 closed

[2021-03-23 02:32] BohuTANG opened #169 "Try to use cargo workspace"
**Summary**

 Combine FuseQuery and FuseStore to one project(datafuse), directories and files looks like:
[code]

[2021-03-23 03:30] jyizheng commented on #163
Do you mean Arm CPU should have low priority than Intel CPU? Which file should be changed to implement this?

[2021-03-23 03:42] BohuTANG commented on #163
It's on the plan.
1. Add priority(interge) to the cluster node struct: https://github.com/datafuselabs/fuse-query/blob/ad032c5ebe9a2859b340b822ee0ba8c1a1f8910c/src/clusters/node.rs#L6

2. Redistribution of partitions based on the priority, (the current logic is that all nodes are equally)
https://github.com/datafuselabs/fuse-query/blob/ad032c5ebe9a2859b340b822ee0ba8c1a1f8910c/src/planners/plan_sch

[2021-03-23 06:59] drmingdrmer opened #171 "Design of single-node storage"
**Summary**

Draft the idea about the first version of the storage layer.

[2021-03-23 07:10] #169 closed

[2021-03-23 07:37] #171 closed

[2021-03-23 08:18] BohuTANG commented on #159
Move to https://github.com/datafuselabs/book repo

[2021-03-23 08:18] #159 closed

[2021-03-23 11:23] BohuTANG opened #175 "Submodule workspace"
**Summary**
Tasks:
- [x] common [#190 ]

[2021-03-23 16:39] ZhiHanZ opened #176 "Support to use environment variable for fuse query configure"
**Summary**
Description for this feature.
Currently, configuration for fusequery only support command line based inputs, For CI/CD release pipeline consideration, we should also support to configure on pipeline based on environment variable.
Only minor changes needed for codebase, as a reference
https://github.com/TeXitoi/structopt/blob/4486e5876c4f295a1e794e1e54d20c6db68d17a1/examples/env.rs

[2021-03-23 16:42] ZhiHanZ opened #177 "Build with seld defined docker hub and tag"
**Summary**
Description for this feature.
Currently fusequery only supports docker hub on dafafusedev, for local test environment, we could support user defined hub and tag during image building

[2021-03-24 01:22] jyizheng commented on #163
The third link is no longer valid. It should be below.

https://github.com/datafuselabs/datafuse/blob/6d2524a01f25ebbd8b59d9794e9894f70d502954/query/src/rpcs/http/v1/cluster.rs#L34

[2021-03-24 01:27] jyizheng opened #178 "Readme is no longer valid after merging fuse-query and fuse-store"
(you don't have to strictly follow this form)

**Describe the issue**

The commands of running fuse query is no longer valid. We need to update them

[2021-03-24 02:27] jyizheng commented on #163
I am happy to work on this task

[2021-03-24 07:42] #177 closed

[2021-03-24 08:20] #176 closed

[2021-03-24 09:47] sundy-li commented on #140
The basic implementation is done.  There are things to do in the future,  but it's not urgent，welcome other contributors to improve them.

1. Type inference
2. Parquet projection, row filter scan
3. Multiple files support (regex, glob matching pattern)
4. ....

[2021-03-24 09:47] #140 closed

[2021-03-25 01:46] sundy-li opened #185 "ClickHouse protocol"
**Summary**
There is a growing trend that ClickHouse is becoming the standard SQL for OLAP databases.
ClickHouse is very powerful, it supports flexible storage engines and plentiful features.

So that will be very great to support ClickHouse protocol.
Then we can work well with `clickhouse-client`, for testing and for loading rich and varied formats data into datafuse.

[2021-03-26 05:20] BohuTANG opened #189 "Fix grcov build error"
## Summary

It looks cargo toolchain update(need to deep check) to lastest, grcov build error in action:
https://github.com/datafuselabs/datafuse/runs/2199241285

[2021-03-26 11:56] #175 closed

[2021-03-27 00:27] jyizheng commented on #163
Closed by #194

[2021-03-27 01:40] BohuTANG opened #197 "Support executor mode"
**Summary**
Now, FuseQuery has only one executor mode: cluster, for more flexibility, modes should be supportted:
* standalone: all the executors run on local
* cluster: executors run on cluster
* cloud: executors run on cloud serverless

[2021-03-27 01:43] jyizheng commented on #138
If there is no objection, I am happy to take a look at this issue.

[2021-03-27 02:18] sundy-li commented on #163
You can use `closes #163` in that pr.

[2021-03-27 02:18] #163 closed

[2021-03-27 03:32] BohuTANG commented on #189
anyhow issue https://github.com/dtolnay/anyhow/issues/146

[2021-03-27 06:49] #189 closed

[2021-03-28 00:43] BohuTANG opened #204 "Support cancel for the stream executing"
**Summary**

Support cancel when the pipeline stream executing.

[2021-03-29 07:59] BohuTANG opened #209 "Improve ParquetStream"
**Summary**
We already have an asynchronous producer-consumer model, see here:
https://github.com/datafuselabs/datafuse/blob/a6f918f369492f2c94ab13bd3b0c99c1f6271d5e/fusequery/query/src/processors/processor_merge.rs#L53-L71

So there is no need stream_parquet(using tokio::wrapper::ReceiverStream instead):
https://github.com/datafuselabs/datafuse/blob/a6f918f369492f2c94ab13bd3b0c99c1f6271d5e/fusequ

[2021-03-29 08:00] sundy-li commented on #209
Yes， I noticed that yesterday, I'll create a patch to fix that.

[2021-04-01 03:28] jyizheng opened #220 "Add unit test for ScanPlan"
plan_scan.rs does not have any unit test. We need to add one.

[2021-04-01 07:51] #138 closed

[2021-04-01 07:51] BohuTANG commented on #138
https://github.com/datafuselabs/datafuse/pull/216

[2021-04-01 08:57] BohuTANG opened #222 "Add projection push down"
**Summary**

Add  projection push down to remove unused columns.
If the table  schema is:
[code]
Query `select a from t1 where c=1` plan only requeird the column `a and c`

[2021-04-01 09:16] BohuTANG opened #223 "[common/planners] ReadSource plan display the schema info"
**Summary**

Now:
[code]

After add scheme to ReadSource plan:
[code]

[2021-04-01 11:18] #223 closed

[2021-04-01 11:57] BohuTANG opened #227 "Stateless tests fail check"
**Summary**

https://github.com/datafuselabs/datafuse/runs/2245505151#step:5:337

If the stateless tests failed, the CI is always passed, need fix.

[2021-04-02 00:29] BohuTANG opened #228 "Datasource for remote"
**Summary**

Refactor the datasource mod for remote source

[2021-04-03 00:45] BohuTANG opened #230 "Add progress for ClickHouse&MySQL client"
**Summary**

Tasks:
- [x] impl progress stream (#333)
- [x]  impl progress callback for context and server handler

[2021-04-03 03:31] BohuTANG opened #232 "Add #[cfg(test)] to _test mod for compiling and build test code only"
**Summary**

Reference:

[code]
https://doc.rust-lang.org/book/ch11-03-test-organization.html#the-tests-module-and-cfgtest

[2021-04-03 03:53] BohuTANG opened #234 "Change all the grpc to arrow flight for fusequery&fusestore"
**Summary**

It looks like there is no need the raw gRPC anymore.
A Arrow flight server supports:
* **Handshake**: a simple request to determine whether the client is authorized
  and, in some cases, to establish an implementation-defined session token to
  use for future requests
* **ListFlights**: return a list of available data streams
* **GetSchema**: return the schema for a data stream
* **Ge

[2021-04-03 07:51] #232 closed

[2021-04-05 11:05] #234 closed

[2021-04-05 11:18] BohuTANG opened #239 "Support create database"
**Summary**

```CREATE DATABASE [IF NOT EXISTS] db_name  [ENGINE = engine(remote(default)|local)]```

Tasks:
- [x] impl planners/plan_create_database.rs
- [x] impl parser `create database ...`
- [x] impl interpreters/interpreter_create_database.rs
- [x] impl create_database trait for datasource
- [x] impl local/remote datasource create_database trait
     - [x] FuseQuery: impl store client for cre

[2021-04-06 09:21] ZhiHanZ opened #251 "Official docker hub build image failed"
Follow the official how to run instruction
https://github.com/datafuselabs/datafuse/blob/master/docs/overview/building-and-running.md
[code]
cannot run and debugging into the container through command
[code]
The fusequery binary got core dumped
[code]
**Operating system**

Linux x86_64 system.

**rust version**
rustc 1.51.0 (2fd73fabe 2021-03-23)
cargo 1.51.0 (43b129a20 2021-03-16)

[2021-04-06 10:50] tlightsky commented on #251
seems OK on my OSX,
but only print 3307 port info:
[code]

[2021-04-06 14:35] sundy-li commented on #251
Official docker build in `target-cpu=native` mode, so the `Illegal  instruction` error may happen in varying cpus.

You can find the error using gdb and `x/i`.

[2021-04-06 14:48] ZhiHanZ commented on #251
fyi my CPU is
[code]

[code]

[2021-04-06 15:59] ZhiHanZ commented on #251
maybe we could provide cross compiled binary with docker bootstrapping scripts to avoid this issue

[2021-04-07 05:15] leiysky opened #256 "How does datafuse manage metadata or catalog?"

[2021-04-07 05:18] BohuTANG commented on #256
FuseQuery is stateless, the metadata and catalog all is from FuseStore by flight rpc, but has a local cached in a gerneral sense.

[2021-04-07 08:09] #239 closed

[2021-04-07 08:10] #228 closed

[2021-04-07 08:13] BohuTANG opened #259 "Support create remote table"
**Summary**
Tasks:
- [x] impl planners/plan_create_table.rs (done by Sundy)
- [x] impl parser `create table ...` (done by Sundy)
- [x] impl interpreters/interpreter_create_table.rs (done by Sundy)
- [x] impl create table for remote database
- [x] FuseQuery: impl store client for create_table_action(CreateDatabasePlan)
- [x] FuseStore: impl the flight server action: create_table_action

[2021-04-07 09:08] #259 closed

[2021-04-07 09:18] BohuTANG opened #261 "Support bearer token for flight RPC authenticate"
**Summary**
For FuseQuery and FuseStore.

Method:
rpc Handshake(stream HandshakeRequest) returns (stream HandshakeResponse) {}

Request: user and password
Response: bearer token

Tasks:
- [x] impl flight handshake [#265 ]
- [x] impl flight server verify  [#266]

[2021-04-08 01:07] jyizheng commented on #222
I am happy to work on this

[2021-04-08 09:51] drmingdrmer commented on #256
There is a global consensus group(something like a raft cluster) storing all metadata such as databases, table schemas, etc. A store server subscribes meta changes by participating in the raft cluster as a **learner**. There are up to 5 servers that act as raft **candidate** participants in a store cluster.

The consistency level between candidates and learners is eventual consistency, e.g., a wri

[2021-04-08 14:26] drmingdrmer opened #271 "FuseStore v0.1"
### Roadmap of FuseStore

[project store](https://github.com/datafuselabs/datafuse/projects/21) tracks the detail progress.

- [x] Define metadata types with protobuf. Build an in-memory storage engine, for testing purposes.
- [ ] Setup consensus group to store meta data.
- [x] . . Basic replication logical impl Leader/Follower/NonVoter management.
- [x] . . Apply create database/table action to r

[2021-04-08 16:12] #220 closed

[2021-04-09 03:30] BohuTANG opened #274 "Support insert datas"
**Summary**

Insert datas from MySQL or ClickHouse client.
Tasks:
- [ ] insert interpreter
- [ ] insert planner
- [ ] insert transform
- [ ] insert query flight client
- [ ] insert store flight server action

[2021-04-10 01:38] BohuTANG opened #281 "Alias expression weird result"
## Summary
ClickHouse:
[code]

Datafuse:
[code]

[2021-04-10 02:46] sundy-li commented on #281
The results are ok, but the column name should be `number`  instead of `minus(number, 1)`

[2021-04-10 12:22] BohuTANG commented on #281
Is it clickhouse style?
MySQL(and pg, mssql) is not works like it:
http://sqlfiddle.com/#!9/c64624/1/0

For them, the `number`  not related bewteen projections.

[2021-04-10 23:58] BohuTANG opened #287 "ERROR 1105 (HY000): DataValue Error: DataValue to array cannot be NONE NULL"
## Summary

MySQL client:
[code]

server log:
[code]

[2021-04-11 01:51] jyizheng opened #288 "implement ExpressionPlan walker"
**Summary**
Description for this feature.

Implement walker for ExpressionPlan by following the code of PlanNode.

https://github.com/datafuselabs/datafuse/blob/master/common/planners/src/plan_walker.rs

Optimizer needs this feature.

[2021-04-11 08:19] #287 closed

[2021-04-12 02:23] BohuTANG opened #294 "Support 2-stage hash group-by"
**Summary**

To support hash group by, impl in 2 stages,:
- Partial hash group by
  - [x] create groups
  - [x] aggregate the values based on groups
  - [x] accumulate the aggregate result to partial state

- Final hash group by
  - [x] accumulate the partial state to final state

[2021-04-12 02:23] BohuTANG commented on #5
Move to https://github.com/datafuselabs/datafuse/issues/294

[2021-04-12 02:23] #5 closed

[2021-04-12 03:23] BohuTANG opened #295 "OpenTelemetry: use of rust's tracing ecosystem"
**Summary**

Use of Rust's tracing ecosystem to tracing events to Jaeger for distributed request correlation.
1. tracing crate https://docs.rs/tracing/0.1.25/tracing/index.html
2. opentelemetry crate https://docs.rs/opentelemetry/0.13.0/opentelemetry/index.html

[2021-04-12 08:15] hulunbier commented on #295
3. https://github.com/tikv/minitrace-rust  calims to be **high-performance, ergonomic**

[2021-04-12 08:38] BohuTANG commented on #295
@hulunbier

Thanks for the reminder.
We will not use it in the hot path(such as compute function), only for some gerenal case tracing.
minitrace-rust cool, one of the options.

[2021-04-12 09:08] sundy-li commented on #281
Yes

Seems MySQL can accept duplicated aliases, http://sqlfiddle.com/#!9/c64624/4
But we have `pub fn column_by_name(&self, name: &str) -> Result<&DataArrayRef>` in `data_block.rs`

[2021-04-12 09:10] BohuTANG commented on #281
Got, it makes sense.
Thanks.

[2021-04-15 05:11] #294 closed

[2021-04-15 11:07] BohuTANG opened #317 "Group by: Unable to get alias field named"
**Describe the bug**

https://github.com/datafuselabs/datafuse/pull/313#issuecomment-820255707

wrong group by behavior

1. number % 3 is not an aggregate function, expect to get an error. (move to #404 )
[code]

2. alias not working for group by(fixed in #384 )
[code]

[2021-04-16 00:29] BohuTANG opened #318 "Sub query plan and pipeline display"
**Summary**

Currently only the innermost sql(`select sum(number) as a from numbers(10) group by number%3`) statement plan/pipeline is displayed:
[code]

[2021-04-16 00:42] BohuTANG opened #319 "Join"
**Summary**
Initial tasks:
- [ ] join sql parser (almost done, but need to convert to plan)
- [ ] join plan
- [ ] join transform(hash)
- [ ] reshuffle mode
     - [ ]  FuseQuery reshuffle: Reshuffle transform
            1. a unified reshuffle transform that can be used for group-by or others who needs reshuffle
     - [ ]  FuseStorage reshuffle?
            1. push down a hash expression to stora

[2021-04-16 15:08] sundy-li opened #323 "Type inference is wrong for number Literal"
[code]

Expect to have UInt8.

[2021-04-16 23:54] BohuTANG commented on #323
Hi,

This due to the performance.

Suppose we coercion type to UInt8，for this query:
select max(number) from numbers_mt(100000000) group by number%3

For `number%3`:
left array type `number` is UInt64, and right scalar `8` is UInt8, so here:
https://github.com/datafuselabs/datafuse/blob/07eb15878e2c076200933d33ea9f07851752f598/common/datavalues/src/data_array_arithmetic.rs#L53

Coercion `8` type t

[2021-04-17 00:36] BohuTANG opened #325 "Date and Interval type support"
**Summary**

For TPC-H, some queris have:
[code]

[2021-04-17 01:18] #261 closed

[2021-04-17 01:19] #134 closed

[2021-04-17 01:19] #15 closed

[2021-04-17 01:19] BohuTANG commented on #197
TBD

[2021-04-17 01:19] #197 closed

[2021-04-17 01:37] BohuTANG opened #326 "Add fuzz for sql parser"
**Summary**

Use [honggfuzz](https://github.com/rust-fuzz/honggfuzz-rs#dependencies)

[code]

[2021-04-17 01:43] sundy-li commented on #323
ClickHouse is using casting.

But I don't know how to reduce the performance drain.

Related codes
[code]
DataTypePtr FieldToDataType::operator() (const UInt64 & x) const
{
    if (x <= std::numeric_limits<UInt8>::max()) return std::make_shared<DataTypeUInt8>();
    if (x <= std::numeric_limits<UInt16>::max()) return std::make_shared<DataTypeUInt16>();
    if (x <= std::numeric_limits<UInt32>::max

[2021-04-17 02:11] BohuTANG commented on #323
The possible way is to only cast the data type for arrow::compute::cast.
For UInt8 to UInt64 type, we only change the data type for UInt8Array

[2021-04-17 02:24] BohuTANG opened #327 "`#![feature]` may not be used on the stable release channel"
**Summary**

After enable SIMD default, the toolchain needs nightly.

https://github.com/datafuselabs/datafuse/runs/2361772933?check_suite_focus=true#step:4:619
[code]

[2021-04-17 03:22] BohuTANG commented on #327
Change the channel to nightly, but still not working, due to(Maybe the github CI pc does not suppot SIMD):
https://github.com/datafuselabs/datafuse/runs/2367573137?check_suite_focus=true#step:4:729

[code]

[2021-04-17 05:11] #327 closed

[2021-04-17 08:25] BohuTANG opened #331 "Add Benchmarks"
**Summary**

- [x] benches [#412  ]
- [x] nyctaxi [#352 #357 ]
- [ ] tpch
 Like what apache arrow  does:[Apache Arrow Rust Benchmarks](https://github.com/apache/arrow/tree/master/rust/benchmarks)

[2021-04-17 23:41] BohuTANG opened #332 "Add function argument types pre-check"
**Summary**

Add function signature, defines the function's supported argument types.
From VectorSQL:
https://github.com/vectorengine/vectorsql/blob/master/src/expressions/expression_validator.go

From datafusion:
[code]

[2021-04-18 01:42] #288 closed

[2021-04-18 02:18] jyizheng commented on #222
#286  is ready for review. @BohuTANG

[2021-04-18 02:23] BohuTANG commented on #222
Great, I will do a review today.

[2021-04-19 06:32] #325 closed

[2021-04-19 07:10] BohuTANG opened #335 "database statement"
**Summary**

- [x] use database (#337 )
- [ ] show databases

[2021-04-19 09:14] BohuTANG opened #336 "ClickHouse client: Cannot load data for command line suggestions"
(you don't have to strictly follow this form)

**Describe the bug**

Using ClickHouse client connect to Datafuse, got first error:
Client error:
[code]

Datafuse Error:
[code]

[2021-04-19 11:44] #227 closed

[2021-04-19 12:17] sundy-li commented on #336
We can add `--disable_suggestion`, or we maintain another version of `clickhouse-client` that disable suggestion by default.

[code]

[2021-04-19 12:27] BohuTANG commented on #336
Ok, disable suggestions by design.

[2021-04-19 12:27] #336 closed

[2021-04-21 01:07] l1t1 opened #354 "support insert sql"
**Summary**
after
create table t(a int)
we can insert data with

insert into t values(1)
or
insert into t select 1

[2021-04-21 10:23] itziklavon commented on #354
this?
https://github.com/datafuselabs/datafuse/issues/274

[2021-04-21 10:28] BohuTANG commented on #354
Duplicated with #274

[2021-04-21 10:28] #354 closed

[2021-04-21 13:15] #335 closed

[2021-04-22 08:06] BohuTANG opened #361 "Reactive stream extension"
**Summary**

- [x] filter: stream.filter_map(closure), instead the expression_stream.rs [#363 ]

[2021-04-22 10:03] zhang2014 opened #364 "Normalize error code for Datafuse"
For unexpected behavior, we should throw out some information that is friendly to help solve the problem(error_code, display_ text)

[2021-04-22 10:41] BohuTANG opened #365 "Add SIMD info to binary version"
**Summary**

To be sure the SIMD is disable or enable in the binary.
[code]

[2021-04-22 10:48] BohuTANG opened #366 "Add rust benchs for transforms"
**Summary**

Add rust benchs for transforms

[2021-04-23 02:18] sundy-li opened #381 "ShowTables not work"
**Describe the bug**
[code]

**Additional context**

`show tables` is rewritten to `SELECT name FROM system.tables order by database, name` , but `database` column is not in projection, so error occurs.

[2021-04-23 03:18] BohuTANG commented on #381
Here need a stateless test.
It's time to kick off our powerful integration and fuzz test framework.
cc @zhang2014 @ZhiHanZ

[2021-04-23 03:28] jyizheng commented on #317
I am interested in these two problems.

For 1,  do we want to add some checks for `aggr_expr`  here: https://github.com/datafuselabs/datafuse/blob/9b6cc3df103eb16273a9aca3b8ee73e06a1bee38/common/planners/src/plan_builder.rs#L100

[2021-04-23 03:33] BohuTANG commented on #317
Yes, it would be better to do as arrow-datafusion does.
Now, we get all expression type&names from the function, they can get from expression plan directly.

[2021-04-23 04:45] jyizheng commented on #317
@BohuTANG  Which code for datafusion is relevant to this problem?

[2021-04-23 05:37] XuPeng-SH opened #382 "Questions about datafuse"
I have some questions about datafuse:
1. How does datafuse process a large number of small inserts?
2. Does datafuse support real-time point deletes|updates like in OLTP databases?

[2021-04-23 11:04] BohuTANG commented on #317
https://github.com/apache/arrow-datafusion/blob/57eeb64659b9ca9c496a959f7716090fb32085b6/datafusion/src/logical_plan/builder.rs#L295

and to_field
https://github.com/apache/arrow-datafusion/blob/57eeb64659b9ca9c496a959f7716090fb32085b6/datafusion/src/logical_plan/expr.rs#L347

[2021-04-23 14:00] BohuTANG commented on #317
The easy way to do group by alias is to add one optimizer rule(like group_by_push_down):
`select number as a, number%3 as b from numbers_mt(10) group by a,b`
to
`select number as a, number as b from numbers_mt(10) group by number,number%3`

[2021-04-23 14:58] jyizheng commented on #222
@BohuTANG @zhang2014 , could you please review PR 286 to see if it is okay to be merged?

[2021-04-24 04:55] jyizheng commented on #317
Does PR 384 also fix 1?

[2021-04-24 05:13] BohuTANG commented on #317
It plan to fixed in another pr, aggr expression valid check.

[2021-04-24 05:15] BohuTANG commented on #381
Log:
[code]

[2021-04-24 05:17] BohuTANG opened #385 "00019_create_local_csv_table.sql not work"
## Summary

tests/queies/stateless/00019_create_local_csv_table.sql

Log:
[code]

[2021-04-24 05:35] BohuTANG commented on #382
Small inserts is not recommended, we can have a buffer [WAL](https://bohutang.me/2020/08/18/clickhouse-and-friends-merge-tree-wal/) as ClickHouse does.

y

[2021-04-24 06:05] jyizheng commented on #317
Are you going to work on the PR of aggr expression valid check?

[2021-04-24 06:07] BohuTANG commented on #317
Not yet

[2021-04-24 07:05] jyizheng commented on #317
datafusion has physical plan which defines AggregateFunction. Is this what we need to fix 1?

https://github.com/apache/arrow-datafusion/blob/9a1e7c741a3589e7ddeff87ca0a420dc55436a35/datafusion/src/physical_plan/aggregates.rs#L52

[2021-04-24 07:48] BohuTANG opened #389 "Light stateless tests"
## Summary

Use github action to start FuseQuery server and execute the fuse-query directly instead the docker image.

[2021-04-24 07:57] #381 closed

[2021-04-24 10:43] BohuTANG commented on #317
We have aggregatation functions.
To fix 1 need a check like:
https://github.com/apache/arrow-datafusion/blob/9a1e7c741a3589e7ddeff87ca0a420dc55436a35/datafusion/src/sql/planner.rs#L701

[2021-04-24 13:40] #385 closed

[2021-04-24 13:50] BohuTANG commented on #382
Q1: delete/update on MergeTree
We didn't exactly copy ClickHouse's MergeTree approach, we referred to iceberg's(and others) design, aim to support fast delete/update, it's in design.

Q2: isolation level
snapshot for time travel and transaction.

[2021-04-24 13:59] BohuTANG opened #391 "Support cluster tests for github action"
**Summary**
1. start 3 nodes in one cluster
2. run fuse-test stateless test (maybe suite with suffix with `cluster`)

Reference:
https://github.com/datafuselabs/datafuse/blob/53ad773ff4ffa3fb50b8c6eab9ed87cdf456c9bf/.github/workflows/stateless-tests.yml

[2021-04-24 14:00] BohuTANG commented on #151
Move to #391

[2021-04-24 14:00] #151 closed

[2021-04-25 01:08] BohuTANG opened #392 "system database query in local mode"
**Summary**

`show tables` or `show databases` will convert to `select * from system.xx ...` statement in plan_parser.rs:
https://github.com/datafuselabs/datafuse/blob/6c2084f3884da81e9e4612a5e6bcc2f3bb310047/fusequery/query/src/sql/plan_parser.rs#L62-L71

But it does not work in cluster mode, system database query must in local mode.

[2021-04-25 01:49] BohuTANG opened #393 "Add auto labeler bot for pr"
**Summary**
Add auto labler bot for pr

[2021-04-25 02:54] BohuTANG opened #395 "try_from_iter for DataBlock"
**Summary**
If we build a DataBlock:
1) create schema
[code]

2) build DataBlock with array
[code]

To simple all above:
[code]

[2021-04-25 03:30] BohuTANG commented on #395
It's not a good idea, still complex.

[2021-04-25 03:30] #395 closed

[2021-04-25 04:57] BohuTANG commented on #393
oops, not working:
https://github.com/datafuselabs/datafuse/pull/397/checks?check_run_id=2430049933

[2021-04-25 05:51] BohuTANG commented on #393
Works:
https://github.com/datafuselabs/datafuse/pull/362#event-4640708032

[2021-04-25 05:51] #393 closed

[2021-04-25 08:44] Sallery-X opened #398 "[edit] What is ClickHouse MergeTree disk structure"
Make sure to check documentation https://datafuse.dev first.

[2021-04-25 09:53] #392 closed

[2021-04-25 10:33] BohuTANG commented on #398
MergeTree is not a table format, it's general `an idea` of data organization.
So for a table storage engine, we have two parts:
1. table format: we use some Iceberge-like to arxiv snapshot
2. data organization: we use parquet-like to do the data store in the file

BTW, engine type(Parquet or ClickHouse-like) is optional.
Feel free to follow our fusestore documentation(RFC):
https://github.com/data

[2021-04-25 10:56] Sallery-X commented on #398
我理解你们数据内存，数据交换，数据存储，都用了arrow格式，是这样么？clickhouse内部是什么结构呢

[2021-04-25 11:10] BohuTANG commented on #398
It's a bit hard to explain the MergeTree underlying, but there is a blog to helpful:
https://bohutang.me/2020/06/26/clickhouse-and-friends-merge-tree-disk-layout/

[2021-04-25 16:17] XuPeng-SH opened #401 "Question about store design"
![image](https://user-images.githubusercontent.com/39627130/116000228-ef120800-a621-11eb-8cc0-4135e705d22e.png)

As described in fusestore design doc: "Once a data block is persisted on local fs and the corresponding meta data is committed, DFS ack the client an OK message", combined with the description of metadata commit in the above figure, when DFS generates a local fs and successfully submits

[2021-04-26 00:45] BohuTANG commented on #401
Hi @XuPeng-SH

The partition data&metadata likes ClickHouse did, for a write:
1. write metadata(partition name or others) and commiut it to Raft Leader
2. write partition file to local FS(in your question case)
3. ack client

Other Raft followers(as replica):
1. get the broadcast of the new metadata
2. download the partition file from the remote server
3. write it to local fs

Here we have more op

[2021-04-26 01:14] BohuTANG opened #402 "MySQL: ResultError Unsupported Function: DATABASE"
## Summary

MySQL:
[code]

Server log:
[code]

[2021-04-26 01:19] BohuTANG opened #403 "fuse-test: support error message to *.reference"
**Summary**

Support error message as normal to *.reference.

test.sql
[code]

test.reference:
[code]

[2021-04-26 01:21] BohuTANG commented on #403
This will depend on #364

[2021-04-26 01:30] BohuTANG commented on #389
#400

[2021-04-26 01:30] #389 closed

[2021-04-26 01:30] #361 closed

[2021-04-26 01:35] BohuTANG opened #404 "projection expression if not in group by expression return error"
**Describe the bug**

https://github.com/datafuselabs/datafuse/pull/313#issuecomment-820255707

wrong group by behavior, expect to get an error.
[code]

[2021-04-26 01:36] BohuTANG commented on #317
2 is fixed.
1 move to #404

[2021-04-26 01:36] #317 closed

[2021-04-26 01:36] #391 closed

[2021-04-26 01:37] jyizheng commented on #404
BTW, I am working on a PR for this.

[2021-04-26 01:38] BohuTANG commented on #111
Duplicated with #295

[2021-04-26 01:38] #111 closed

[2021-04-26 01:38] BohuTANG commented on #107
#391

[2021-04-26 01:38] #107 closed

[2021-04-26 01:39] BohuTANG commented on #74
#78

[2021-04-26 01:39] #74 closed

[2021-04-26 03:24] artorias1024 commented on #402
Is it possible to print out the SQL when the execution fails?

SELECT DATABASE()

[2021-04-26 03:26] BohuTANG commented on #402
Sure, but it depends on this issue:
#364

[2021-04-27 01:02] BohuTANG opened #413 "Add category label for stateless queries name"
**Summary**

If tests are all about database:
00013_create_database.sql
00018_use_database.sql

It's better to:
1_0000_database_create.sql
1_0001_database_use.sql

`1` is the category, readable for human.

[2021-04-27 02:10] #413 closed

[2021-04-27 03:14] #398 closed

[2021-04-27 08:02] artorias1024 commented on #402
What kind of function is database()?Built-in functions？

[2021-04-27 08:07] BohuTANG commented on #402
it's built in function, but not implement yet

[2021-04-27 13:09] ZhiHanZ opened #416 "Resource limitation introduces race condition in warp http server"
**Describe the unexpected behaviour**
A clear and concise description of what works not as it is supposed to.
FuseQuery version latest
Here when I try to deploy the fuse-query to kubernetes server, one unexpected issue occured,
when I introduce resource limitation to fuse-query the warp server does not started because fuse-query stateless compute engine will consume all cpu resources.
**How to rep

[2021-04-27 16:00] ZhiHanZ opened #417 "Support serialization for fuse query configs"
**Summary**
Description for this feature.
Currently Configs in fuse query does not supports serde serialization, and parsing configs from http api call needs a lot of additional works, which seems not make sense for debugging

[2021-04-27 22:40] jyizheng commented on #404
@BohuTANG  With aggregate expression check, there are 4 unit tests that cannot pass.

Should we change these unit tests? Also, what error code should be returned if the aggregate expressions fail to pass this check?

[2021-04-28 00:44] BohuTANG commented on #404
1) If the result is by design, change it.
2) return the error, https://github.com/datafuselabs/datafuse/pull/362 will normalize the error code for us

[2021-04-28 01:12] jyizheng commented on #404
All the tests that failed have been changed. PR 405 is ready for review.

[2021-04-28 03:42] BohuTANG opened #418 "Support function with context"
**Summary**

Some functions depends on context, such as `select database()`:
1. get the current database from context
2. set the current database to function::database(args)

[2021-04-28 04:30] #418 closed

[2021-04-28 08:07] BohuTANG opened #421 "Better docs"
**Summary**

Structure:
[code]

[2021-04-28 10:03] BohuTANG opened #423 "select projection name display"
**Summary**

Diplay name needs  to be case insensitive.

Datafuse:
[code]

ClickHouse:
[code]

[2021-04-28 12:17] BohuTANG opened #426 "Support exists query"
**Summary**

[code]

Need by TPCH q4:
[code]

[2021-04-28 12:19] BohuTANG opened #427 "TPCH q6"
**Summary**

[code]

TPCH q6:
[code]

[2021-04-28 12:21] BohuTANG opened #428 "[function] support EXTRACT"
**Summary**
Extract parts from a given date.
[code]
https://clickhouse.tech/docs/en/sql-reference/operators/#operator-extract

`EXTRACT` function used in TPC-H tests Q7:
[code]

[2021-04-28 12:23] BohuTANG opened #429 "Support TPCH q22"
**Summary**
TPCH q22:
[code]

[2021-04-28 12:26] BohuTANG opened #430 "Support distinct"
**Summary**

[code]

[2021-04-28 12:27] #421 closed

[2021-04-28 12:29] BohuTANG opened #431 "Support having"
**Summary**
[code]

[2021-04-28 12:32] BohuTANG opened #432 "Support LIMIT n BY expressions"
**Summary**

ClickHouse:
https://clickhouse.tech/docs/en/sql-reference/statements/select/limit-by/

[2021-04-28 14:35] #423 closed

[2021-04-28 15:35] jyizheng commented on #404
For the statement below: ` select  number % 3 as d  ,  avg(number) d  from numbers(1000) group by  number % 4 ;`

If we change it to ` select  number % 3 as d  ,  avg(number) d  from numbers(1000) group by  number % 3 ;`,  the new one is also valid, correct?

[2021-04-28 23:48] BohuTANG commented on #404
yes, it's by design.
Alias can not be duplicated.
By the way, we can install a ClickHouse server locally, and check it how did, it would be more helpful.

[2021-04-29 00:22] jyizheng commented on #404
Got it. Will do. It is in my plan to install clickhouse locally.

[2021-04-29 02:23] BohuTANG opened #433 "Optimizer: constant folding for comparison expression"
**Summary**

Like arrow-datafusion does in [constant_folding.rs](https://github.com/apache/arrow-datafusion/blob/f43dc444eb510f0ff170adecb5a23afb39c489a8/datafusion/src/optimizer/constant_folding.rs):

`expr = true` and `expr != false` to `expr` when `expr` is of boolean type
`expr = false` and `expr != true` to `!expr` when `expr` is of boolean type
`true = true` and `false = false` to `true`
`fa

[2021-04-29 02:55] tomjiang1987 opened #434 "optimizer use name to relation field have problem"
Hi,
I have read some optimizer code, the optimizer use name to relation between columns,
This implementation is problematic. In my experience, neither calcite nor tidb using this method.

and also find some issue related
https://github.com/apache/arrow-datafusion/issues/155

[2021-04-29 02:56] BohuTANG opened #435 "Add fusequery_config_spec.toml for FuseQuery"
**Summary**

Add  spec file(fusequery_config_spec.toml) for https://github.com/datafuselabs/datafuse/blob/master/fusequery/query/src/configs/config.rs

Then we can start the server:
./fuse-query -c  fusequery_config_spec.toml

[2021-04-29 03:09] BohuTANG commented on #434
Thanks for the professional reminder.
This problem will probably be fixed when we do join (start soon).

[2021-04-29 08:56] #435 closed

[2021-04-29 13:56] BohuTANG commented on #319
Cool, it's not started yet, welcome RFC

[2021-04-29 15:13] zhang2014 opened #440 "Improve output error messages"
**Description**
We should remove some useless information from the error backtrace information. for example(frame 0, frame 1, frame 2, frame 15 ~ frame end)

[code]

[2021-04-30 00:40] BohuTANG opened #442 "fuse-test: support pretty format"
**Summary**
Expect as:
1.sql:
[code]

1.reference:
[code]

[2021-04-30 01:12] BohuTANG opened #443 "query: remove cpus from the cluster node"
**Summary**

[cpus](https://github.com/datafuselabs/datafuse/blob/bf477a55c4911d2d4ebb4da3bcece9fca529be36/fusequery/query/src/clusters/node.rs#L8) is not used, should remove it from cluster node.

https://github.com/datafuselabs/datafuse/blob/bf477a55c4911d2d4ebb4da3bcece9fca529be36/fusequery/query/src/clusters/node.rs#L8

[2021-04-30 02:02] #443 closed

[2021-04-30 03:35] #442 closed

[2021-04-30 03:40] #434 closed

[2021-04-30 04:00] zhang2014 opened #447 "Use database is missing error message"
**Describe the bug**
When FuseQuery executes the `USE database` error, the server log does not have any error information

**How to reproduce**
* Version: FuseQuery master branch
* Settings: None
* `USE database` if database not exists

**Expected behavior**
Display the error information to the service log.

[2021-04-30 07:54] #447 closed

[2021-04-30 10:08] BohuTANG opened #450 "Add timeout for arrow flight"
**Summary**

Latest version tonic(0.4.3) supports `timeout`:
* **client:** Add `Request::set_timeout` ([#615](https://github.com/hyperium/tonic/issues/615)) ([dae31d0](https://github.com/hyperium/tonic/commit/dae31d0))
* **transport:** Support timeouts with the `grpc-timeout` header ([#606](https://github.com/hyperium/tonic/issues/606)) ([9ff4f7b](https://github.com/hyperium/tonic/commit/9ff4f7b))

[2021-04-30 10:10] BohuTANG opened #451 "schema: missing field `metadata` when deserialize"
arrow-rs: https://github.com/apache/arrow-rs/issues/241

[2021-05-01 11:44] #450 closed

[2021-05-01 11:52] BohuTANG opened #454 "Add integration tests"
**Summary**
Add integration tests

[2021-05-01 17:23] tlightsky commented on #431
I can try with this one

[2021-05-01 18:02] tlightsky commented on #431
finished a version,
will add unit tests later

[2021-05-02 10:16] BohuTANG opened #456 "scripts: add timeout to ci script for port checking"
**Summary**

For the github CI action, we should add a timeout for port checking, otherwise it will wait until the task timeout(6hours).

[2021-05-02 11:26] #456 closed

[2021-05-03 01:08] BohuTANG opened #458 "Support optimizer for having"
**Summary**

Support optimizer for having

[2021-05-03 01:16] BohuTANG opened #459 "Impl pretty print for datablock instead of arrow"
**Summary**
If we enable the prettyprint(only for test) feature `arrow = { git = "https://github.com/apache/arrow-rs", rev = "c3fe3bab9905739fdda75301dab07a18c91731bd", features = ["prettyprint"]}`, the SIMD feature in arrow behaves strangely and may be overwritten, this can be checked from `make profile`.
It's better to move the prettyprint to datafuse/common/datablocks, and make arrow auto-detec

[2021-05-03 01:50] BohuTANG opened #460 "Invalid argument error: Unable to get field named "c1". Valid fields: ["number"]"
**Summary**

[code]
Order by need alias push down.

It looks like we need to abstract out an optimizer rule, such as alias push down, for filter/groupby/orderby all.
Currently, all alias push down logic is mixed in each rules.

[2021-05-03 01:55] jyizheng commented on #460
The statement works on clickohuse.
`
ClickHouse client version 21.4.5.46 (official build).
Connecting to localhost:9000 as user default.
Connected to ClickHouse server version 21.4.5 revision 54447.

bunsen1.telenet.unc.edu :) select number as c1 from numbers_mt(19) where  number>10 order by c1

SELECT number AS c1
FROM numbers_mt(19)
WHERE number > 10
ORDER BY c1 ASC

Query id: 28d82ebe-db77-4bb9

[2021-05-03 01:59] BohuTANG commented on #460
This is by design, here is bug in datafuse.
For alias expression push down, we need an rule to do that, it looks more clearly and simple.

[2021-05-03 02:06] jyizheng commented on #460
This only happens for the branch of PR 405, right? Does the current master also have this problem?

[2021-05-03 02:18] BohuTANG commented on #460
Not only PR#405 but for all barnch.
We don't handle the alias in order by expression.

[2021-05-03 02:43] jyizheng commented on #460
I see. I am happy to work on this since PR 405 depends on this.

[2021-05-03 10:33] BohuTANG opened #463 "sort: panicked at 'index out of bounds: the len is 1 but the index is 1'"
**Describe the bug**

Client:
[code]

Server log:
[code]

[2021-05-03 11:32] BohuTANG opened #464 "Rust result to option Ok"
**Describe the bug**

[code]

if the eval is Err, it will be not return to the client:
[code]

[2021-05-03 11:40] leiysky commented on #319
I just wrote a draft proposal #465, welcome to comment.

By the way, I found it's hard to discuss about the detailed part in this RFC. Thus I'm going to write another RFC about implementation of hash join algorithm.

[2021-05-03 13:15] #431 closed

[2021-05-03 16:53] tlightsky commented on #458
does this mean make some changes around [here](https://github.com/datafuselabs/datafuse/blob/36c9396f6c67e9125614964380177d7f9a55597a/fusequery/query/src/optimizers/optimizer_filter_push_down.rs#L37-L37)

[2021-05-03 17:00] tlightsky opened #466 "Support argMax/argMin"
**Summary**
pretty useful aggregate function

**Example**

Input table:

[code]

Query:

[code]

Result:

[code]

Query:

[code]

Result:

[code]

[argMax](https://clickhouse.tech/docs/en/sql-reference/aggregate-functions/reference/argmax/)
[argMin](https://clickhouse.tech/docs/en/sql-reference/aggregate-functions/reference/argmin/)

[2021-05-04 05:57] tlightsky commented on #429
I can try with this one:
[code]

[code]

[2021-05-04 09:06] zhang2014 opened #468 "Support shuffle data for query stage"
**Summary**
We need to support query stage level shuffle data

[2021-05-04 10:18] #464 closed

[2021-05-04 11:05] BohuTANG commented on #429
@tlightsky

`substring` is not implemented in Datafuse yet:
[code]

[2021-05-04 11:07] BohuTANG commented on #402
Fixed https://github.com/datafuselabs/datafuse/pull/419

[2021-05-04 11:07] #402 closed

[2021-05-04 11:43] tlightsky commented on #429
yeah, I mean I'll try to implement it, LOL

[2021-05-04 13:51] #459 closed

[2021-05-04 23:41] BohuTANG commented on #458
It is mainly about alias rewrite like: https://github.com/datafuselabs/datafuse/blob/master/fusequery/query/src/optimizers/optimizer_alias_push_down.rs#L40

[2021-05-05 00:15] sundy-li opened #472 "message: "missing field `metadata`"
(you don't have to strictly follow this form)

**Describe the bug**

[code]

**How to reproduce**
[code]

[2021-05-05 00:52] sundy-li commented on #472
duplicated #451

[2021-05-05 00:52] #472 closed

[2021-05-05 12:36] #451 closed

[2021-05-06 02:09] sundy-li opened #474 "data_block index out of bounds for group by queries"
(you don't have to strictly follow this form)

**Describe the bug**

[code]

**How to reproduce**
keep running `./fuse-test 03_0006_select_having` in `fusequery-cluster-3-nodes.sh` mode, it may happen  occasionally.

[2021-05-06 07:39] #403 closed

[2021-05-06 10:02] sundy-li opened #477 "Performance tests"
**Summary**

To support performance tests in ci. Thus we can find performance drawbacks while introducing new features.

[2021-05-07 00:40] BohuTANG commented on #477
ClickHouse:
https://github.com/ClickHouse/ClickHouse/tree/master/docker/test/performance-comparison

Example page:
https://clickhouse-test-reports.s3.yandex.net/0/0c1e897e80a3924d209f6c5053cf388e2897f8c2/performance_comparison/report.html

[2021-05-07 00:46] sundy-li commented on #477
conbench:    https://github.com/ursacomputing/conbench

[2021-05-07 00:52] BohuTANG commented on #477
conbench better fit our needs.

[2021-05-07 03:33] sundy-li opened #480 "Split IFunction to IFunction and IAggregateFunction"
**Summary**
Split  **IFunction** to **IFunction** and **IAggregateFunction**.

The function `eval` in trait `IFunction` makes no sense to IAggregateFunction.

And `accumulate` and `merge`  etc only make sense to IAggregateFunction.

So it's better to split them into different kinds of traits.

- [x] Throw exception for aggregator eval
- [x] Actions Dag

[2021-05-07 04:03] BohuTANG commented on #480
If spilt, how to deal this case:
[code]
Since Binary function `number+2` does not have `accumulate` and `merge`.

[2021-05-07 06:13] BohuTANG opened #482 "Make clickhouse client progress refreshing"
**Summary**

Now, the clickhouse client can not refresh the progress, this is blocked:
https://github.com/datafuselabs/datafuse/blob/17be4829d68f53e0f798b15dc41283649ac5dda1/fusequery/query/src/servers/clickhouse/clickhouse_handler.rs#L67-L71

It would be better if the have a ticker to send progress interval here.

[2021-05-07 08:46] BohuTANG opened #484 "Add ExpressionTransform for order by"
**Summary**
[code]
Here need two Expression transform: 1. Before ORDER BY and Projection.
Datafuse now only use Expression in Projection, so it can't handle this query.

[2021-05-07 12:12] sundy-li opened #486 "Throw exceptions when using AggregatorFunction as argument inside AggregatorFunction"
**Describe the bug**

[code]

It returns 0, because `eval` function in AggregatorSum is wrong!

https://github.com/datafuselabs/datafuse/blob/e21145fb1e66efa33f37e1490f212709079875ae/common/functions/src/aggregators/aggregator_sum.rs#L62-L64

**Expected behavior**

Throw exceptions.  http://sqlfiddle.com/#!9/c64624/8

[2021-05-07 12:31] sundy-li commented on #480
Related #488

Should we disable `eval` function (throw logic error exceptions) in all aggregator functions?

[2021-05-07 12:40] BohuTANG commented on #480
1. ActionsDag is really cool if we replace recursive eval.
2. Throw exception for aggregator `eval` make sense.

[2021-05-07 18:05] drmingdrmer opened #490 "Setup a raft group as meta data service"
**Summary**
Setup a raft group as metadata service.

Using async-raft as a consensus engine to set up a strongly consistent key-value
store as metadata service.

A store node maintains two services: meta API and flight API.

[code]

[2021-05-07 23:33] #490 closed

[2021-05-08 01:40] lideen999 opened #492 "query result bug"
query :  SELECT number ,number-1 , number*100 , 1> 100 ,1 < 10  FROM numbers_mt (80) ;
result  :
+--------+------------------+-----------------------+---------+--------+
| number | minus(number, 1) | multiply(number, 100) | 1 > 100 | 1 < 10 |
+--------+------------------+-----------------------+---------+--------+
|     60 |               59 |                  6000 |   false |   true |
|     61 |

[2021-05-08 06:52] drmingdrmer opened #494 "[store] add meta operation: Add/Set etc"
**Summary**

Metadata needs atomic-add operation AKA put-if-absent to support log-structured DFS impl.

Define operations such as `Add` or `Set` with a new type `Cmd`.

[2021-05-08 07:46] #494 closed

[2021-05-08 08:02] drmingdrmer opened #496 "[store] install an optional txid to raft log, let client to decide whether to de-dup logs."
**Summary**

Makes the log de-dup an optional behavior, in case building a valid `(client, serial)` is difficult and duplication is not an issue.

[2021-05-08 10:04] sundy-li commented on #480
Another case,

[code]

[2021-05-08 10:48] BohuTANG opened #498 "Expression action"
**Summary**

ExpressionAction is an interesting component in planners, it's used to:
1. Describe the pipeline of the expression
2. Expression Reuse
3. Block Transformation

**Notes: This is basic version, there lot to be optimized.**

For Example:
[code]

s1. First the datasource block is:
[code]

s2. `Expression: number as c1:UInt64 (Before Projection)` transforms the input block b0 to b1:
b1:
[c

[2021-05-08 14:17] sundy-li opened #499 "Server hangs more than 5 seconds when handling the first unexpected query"
**Describe the unexpected behaviour**

Server hangs more than 5 seconds when handling the first unexpected query

**How to reproduce**

- Start fusequery in debug mode,  `cargo run --bin fuse-query`
- Make an error query, such as `select 33 from numbers_x(3);`

[2021-05-08 15:45] #496 closed

[2021-05-09 00:10] BohuTANG commented on #319
021-05-01-join-framework-design.md moved  to website/datafuse/docs/rfcs at #501
Cc @leiysky

[2021-05-09 08:42] #474 closed

[2021-05-09 10:41] BohuTANG opened #503 "Change the docs website to mkdocs-material"
**Summary**

https://squidfunk.github.io/mkdocs-material/

[2021-05-09 11:25] #460 closed

[2021-05-09 11:29] BohuTANG opened #504 "duplicate field: select number + 1 as number, number + 1 as b, b + 1 c from numbers(1)"
**Describe the bug**

[code]

**Expected behavior**
[code]

Reference:
https://github.com/datafuselabs/datafuse/blob/3865311575472887149498d7a2465f3da263a352/tests/suites/0_stateless/03_0000_select_aliases.result#L59-L72

[2021-05-09 11:33] BohuTANG opened #505 "ExpressionAction: Group By"
**Summary**

[code]

GroupBy partial transoform re-compute the expression `number%3` with the projection:
https://github.com/datafuselabs/datafuse/blob/3865311575472887149498d7a2465f3da263a352/fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs#L125-L129

Here can add one Expression Action before GroupBy like what OrderBy does.

ClickHouse:
[code]

[2021-05-09 11:34] #463 closed

[2021-05-09 11:34] #484 closed

[2021-05-09 11:35] #498 closed

[2021-05-09 18:38] jyizheng commented on #433
Could you assign this task to me? @BohuTANG

[2021-05-10 01:12] BohuTANG opened #507 "Aggregate Check: ERROR 1105 (HY000) at line 10: Code: 1002, displayText = Invalid argument error: Unable to get field named "c2". Valid fields: ["number"]"
(you don't have to strictly follow this form)

**Describe the bug**

In this case the check is failed:
Datafuse:
[code]

ClickHouse:
[code]

[2021-05-10 01:26] tlightsky commented on #429
this issue could be closed

[2021-05-10 01:30] BohuTANG commented on #429
Oh, this issue mainly for TPCH q22 not only `substring`.

[2021-05-10 01:42] BohuTANG opened #509 "CI: Cancel stale runs"
**Summary**

https://github.com/potiuk/cancel-workflow-runs

[2021-05-10 02:29] tlightsky commented on #429
ah, got it

[2021-05-10 02:33] #509 closed

[2021-05-10 03:06] tlightsky commented on #27
CTE is very useful for complex query,
should support it in future

[2021-05-10 03:08] tlightsky commented on #147
any preferred UI framework or libraries?

[2021-05-10 03:09] BohuTANG commented on #27
it's time to start it, let's go it in another new CTE issue

[2021-05-10 03:12] BohuTANG commented on #147
Not yet, fewl free to recommend, beautiful is better :)

[2021-05-10 08:20] #416 closed

[2021-05-11 02:26] BohuTANG opened #514 "[SQL] Support Common Table Expressions"
**Summary**

`WITH` provides a way to write subqueries for use in a larger SELECT query.
References:
https://www.postgresql.org/docs/8.4/queries-with.html
https://clickhouse.tech/docs/en/sql-reference/statements/select/with/

[2021-05-11 05:41] BohuTANG opened #515 "tokio: improve the merge processor threads usage for a session"
**Summary**
Now, fusequery MergeProcessor using the global tokio::spawn, others session maybe blocked if one session useup all the cpus.
It maybe better to use it as the context max_threads setting.

[2021-05-12 00:24] BohuTANG opened #520 "[query] Make the hash vectorized"
# Summary

Currently, the approach hash group by aggregates is to create a key  from the row values in:
https://github.com/datafuselabs/datafuse/blob/b89b42e6f08c3036c29cc9284f3e849c93677e91/fusequery/query/src/pipelines/transforms/transform_groupby_partial.rs#L148

It better to make the hash in vectorized way, this is a common crate that can be used by both query and store.

Reference:
https://ww

[2021-05-12 00:49] tlightsky commented on #147
here are some points just come to my mind:
* it should be embed to fusequery/fusestore binary so that user can visit it easily(like [spark ui](https://github.com/apache/spark/blob/0494dc90af48ce7da0625485a4dc6917a244d580/core/src/main/scala/org/apache/spark/ui/jobs/AllJobsPage.scala))
* [yew](https://github.com/yewstack/yew) is an option to use both rust in frontend and backend (could use same def

[2021-05-12 08:08] #515 closed

[2021-05-12 08:24] BohuTANG opened #522 "Add Contributors action to show all contributors"
**Summary**

https://github.com/marketplace/actions/contributors-list

[2021-05-13 00:40] BohuTANG commented on #520
We can calculate the column hash after GroupBy ExpressionAction, it's vectorized.
For example:
SELECT max(number) FROM numbers_mt(10000000) GROUP BY number%3, number%3;

For a block it will do:
1. ExpressionAction: number%3
2. ExpressionAction: number%2

block schema:
```| number | number%3 | number%3 |```

To be vectorized we add  two additional actions:
1. ExpressionAction:  hash(number%3)
2. Ex

[2021-05-13 04:03] zhang2014 opened #526 "[test] Unstable flight_fetch_parition_action unit test"
**Description**

[code]

[2021-05-13 08:29] #503 closed

[2021-05-13 09:39] l1t1 commented on #514
not yet.  but the error message is wrong
[code]

[2021-05-13 10:08] tlightsky opened #531 "Support wasm plugin to extend UDF and DataSource"
**Summary**
Support wasm plugin to extend UDF and DataSource

something like [this](https://banzaicloud.com/blog/envoy-wasm-filter/)

[2021-05-14 01:10] BohuTANG opened #536 "Unsupported expression: a.number, type: CompoundIdentifier"
**Describe the bug**

client:
[code]

server log:
[code]

[2021-05-14 01:14] BohuTANG opened #537 "ClickHouse client: handler in the server side can not catche the error"
**Describe the bug**

client:
[code]

ClickHouse handler in the server side can not catche the error and log.

[2021-05-14 01:27] BohuTANG opened #538 "Function Error: 'AggregatorMaxFunction' eval unimplemented"
**Describe the bug**
client:
[code]

server:
[code]

[2021-05-14 01:27] BohuTANG commented on #538
It seems that here need an expression action for having

[2021-05-14 02:34] BohuTANG opened #540 "[test-infra] Test framework"
**Summary**

CI(Continuous Integration)  framework
CD(Continuous Delivery) framework

[2021-05-14 02:36] zhang2014 commented on #540
BDD: https://github.com/cucumber/cucumber-jvm

[2021-05-14 02:47] ZhiHanZ commented on #540
some test frameworks I used before seems clear and concise,

for Unit tests to check code behavior, abseil could provide parameterized approach
https://github.com/abseil/abseil-py/blob/master/absl/testing/parameterized.py
and for Behavior Driven tests, ginkgo seems well.
https://github.com/onsi/ginkgo#tldr,

for rust native UT framework, fluid seems promising to me, but seems like it still in alph

[2021-05-14 03:32] jyizheng commented on #507
Has this been fixed? I cannot reproduce this error. @BohuTANG

[2021-05-14 03:35] BohuTANG commented on #507
y, this query still not work on master branch

[2021-05-14 03:36] BohuTANG commented on #507
Reproduce steps:
$ make run

client:
[code]

[2021-05-14 05:26] BohuTANG opened #543 "Release framework"
**Summary**
A framework for Datafuse release.
Like ClickHouse, it publishs testing version every two weeks(now is not), monthly release and stable release.
Every testing patches can be back port to previous release automatically by Bot.

Every testing patches can be automatically back port to the previous stable version by Bot.
**we need you, bot**

Reference:
https://github.com/ClickHouse/ClickHo

[2021-05-14 08:56] BohuTANG commented on #486
@jyizheng

This check could probably be done in this pr:
https://github.com/datafuselabs/datafuse/pull/542

[2021-05-14 09:01] BohuTANG commented on #458
This is not an issue now.

[2021-05-14 09:01] #458 closed

[2021-05-14 09:02] BohuTANG commented on #454
Move to #540

[2021-05-14 09:02] #454 closed

[2021-05-14 09:14] sundy-li commented on #522
Is it needed? Github already have https://github.com/datafuselabs/datafuse/graphs/contributors .

But it's a good idea to add `system.contributors` later.

[2021-05-14 09:15] #537 closed

[2021-05-14 09:16] BohuTANG opened #546 "Add system.contributors table"
**Summary**

Add system.contributors table:
https://clickhouse.tech/docs/en/operations/system-tables/contributors/

[2021-05-14 09:16] BohuTANG commented on #522
Move to #546

[2021-05-14 09:16] #522 closed

[2021-05-14 12:57] jyizheng commented on #486
Sure. Happy to do it.

[2021-05-14 13:24] BohuTANG opened #548 "[test] Flaky tests"
Tests issues

[2021-05-14 13:25] BohuTANG commented on #548
https://github.com/datafuselabs/datafuse/runs/2583034348
[code]
cc @drmingdrmer

[2021-05-14 13:33] jyizheng commented on #505
Looks like #542  fixed this

[2021-05-15 06:46] leiysky opened #552 "How to extract a `DataValue` from `DataArray` by offset without manual downcast?"

[2021-05-15 06:50] leiysky commented on #552
I found it can be done with `DataValue::try_from_array`.

[2021-05-15 06:50] #552 closed

[2021-05-15 09:15] #546 closed

[2021-05-15 09:41] BohuTANG commented on #540
Rust:
https://github.com/enokson/laboratory

[2021-05-15 10:41] BohuTANG commented on #204
Abortable streams
https://github.com/rust-lang/futures-rs/pull/2410

[2021-05-16 10:20] BohuTANG opened #558 "datasource api"
**Summary**

- [x] create database
- [x] drop database
- [x] create table
- [x] drop table

[2021-05-17 00:42] #507 closed

[2021-05-17 00:45] BohuTANG commented on #505
@jyizheng

This is not related to #542
`select number%3 as c1, max(number) from numbers_mt(10) group by c1;`
should be work, not error here.

[2021-05-17 00:48] BohuTANG commented on #505
ClickHouse:
[code]

[2021-05-17 00:50] jyizheng commented on #505
Our code also works for this SQL:

mysql> select number%3 as c1, max(number) from numbers_mt(10) group by c1;
+------+-------------+
| c1   | max(number) |
+------+-------------+
|    2 |           8 |
|    0 |           9 |
|    1 |           7 |
+------+-------------+
3 rows in set (0.01 sec)

[2021-05-17 00:50] BohuTANG commented on #505
Sorry for the confusion.
I am missing your are reply for Sundy case.

[2021-05-17 00:51] tlightsky commented on #87
I can take this one,
@BohuTANG please help assign this one to me

[2021-05-17 00:54] BohuTANG commented on #505
Yes, I know.
But the `number%3` will be re-compute:
[code]
After optimizer , group by expression convert to `groupBy=[[(number % 3) as c1]],` , so here Group By transform will be eval this function twice, we can add ExpressionTransform for GroupBy to re-use and eval only once for `(number % 3)`

[2021-05-17 00:55] #486 closed

[2021-05-17 01:03] jyizheng commented on #505
I see. I understand the issue better now.

[2021-05-17 03:28] tlightsky commented on #87
maybe we should remove the border around,
or user have to remove it manually to put it to graphviz tool:
[code]

[2021-05-17 03:34] BohuTANG commented on #87
Like ClickHouse did is ok.
The border format by the client.

[2021-05-18 07:09] BohuTANG opened #567 "mysql: use database not work"
**Describe the bug**

MySQL client:
[code]

ClickHouse is ok.

[2021-05-18 07:18] #558 closed

[2021-05-18 07:32] BohuTANG opened #568 "Better CI scripts"
**Summary**

Better structure for scripts directory.

[2021-05-18 07:47] BohuTANG opened #569 "[api] fetch remote database/table infos from store"
**Summary**

If one `database` is remote in FuseStore, we need to refresh the databases&tables from the FuseStore API periodically.
Here FuseQuery talk with FuseStore via a version protocol:

Structs:
[code]

APIs:
[code]

[2021-05-18 10:08] BohuTANG commented on #548
[code]

cc @drmingdrmer

[2021-05-18 10:19] #568 closed

[2021-05-18 14:20] BohuTANG opened #573 "SUBSTRING: Unsupported expression: - 3"
**Describe the bug**
[code]

expect:
[code]

[2021-05-18 14:36] leiysky opened #574 "Alias push down optimization seems to be logically wrong"
Reference to the comment:
https://github.com/datafuselabs/datafuse/blob/65590e8b52e68f63726c8e6579eec7657a725c7d/common/planners/src/plan_rewriter.rs#L160-L163

In this case, the variable `b` in `WHERE` clause indicates a column named `b` but not alias of `a`, since projection is at the top of a query block.

Here's output of Postgres 13 and MySQL 8.0.

Postgres:
![image](https://user-images.githu

[2021-05-18 14:38] leiysky commented on #574
@BohuTANG PTAL

[2021-05-18 14:39] sundy-li commented on #574
Yes, currently implementation is kind of like clickhouse style, maybe it's wrong.

[2021-05-18 14:41] leiysky commented on #574
I think we can disable the `AliasPushDown` optimization, so I can finish #563 without refactoring `optimizer_alias_push_down.rs` 🤣

[2021-05-18 14:43] sundy-li commented on #574
Ok, you can disable it.  I will refactor this in #550 ,  I do not think Alias is an optimization. I'll rewrite aliases during the planner building stage.

[2021-05-18 14:48] leiysky commented on #574
This makes sense. I'll deal with the test cases either.

[2021-05-19 00:47] BohuTANG opened #575 "rust-toolchain: pump to nightly-2021-05-06"
**Summary**
pump to latest version: nightly-2021-05-06

[2021-05-19 03:35] drmingdrmer opened #577 "[common/exception] simplify ErrorCodes with trait `From<xxx>`"
**Description**

impl `From` for `ErrorCodes`, e.g., `impl From<anyhow::Error> for ErrorCodes` so that in most cases we do not need to use a type-specific conversion explicitly, e.g., `ErrorCodes::from_anyhow()`. But instead, using a universal form `ErrorCode::from()` is quite enough.

Furthermore, when type inference is possible, we could just totally remove the conversion statement, e.g.:
`fetch

[2021-05-19 04:15] zhang2014 commented on #577
@drmingdrmer Great idea, but for now `from_arrow`, `from_anyhow` function is mainly used to find codes that need to be refactor. I think we should implement it better after #440 closed.

[2021-05-19 04:18] dantengsky opened #578 "[good first issue] Fix typo: rename ErrorCodes::SyntexException to ErrorCodes::SyntaxException"
As indicated by the title

[2021-05-19 04:41] hulunbier opened #579 "Basic functionalities of appending data to storage"
Query:

- Enhances `query::flights::StoreClient` by exposing method(s) to append data partition.

Store:

- Exports parquet file appender via flight RPC.
- Updates table's metadata accordingly

[2021-05-19 04:57] hulunbier opened #581 "[good first issue] remove unnecessary fake meta data"
https://github.com/datafuselabs/datafuse/blob/f9d23d7efc1c0077d764891bf2ea02070742f4b4/fusequery/query/src/sql/plan_parser.rs#L175-L182

Upstream(arrow-rs) has fixed the related issue, we no longer need to provide non-empty meta (to ensure schema's deserialization goes well).

Please constructs the `schema` by utilizing [`SchemaRefExt::create`](https://github.com/datafuselabs/datafuse/blob/master/

[2021-05-19 05:07] BohuTANG commented on #581
Now we have SchemaRefExt::create in: https://github.com/datafuselabs/datafuse/blob/master/common/datavalues/src/data_schema.rs#L16

But it wraps only Arc now.

[2021-05-19 05:16] dantengsky commented on #581
oops, u r right. We should not simply remove all those lines. Let me modify the issue description.
BTW, would you pls label this issue as "good-first-issue", so that newcomers may find some easy tasks quickly?

[2021-05-19 05:19] BohuTANG commented on #581
Yes, it's a welcome bot and some guideline links for the first contributor, fun

[2021-05-19 06:28] #575 closed

[2021-05-19 08:07] BohuTANG opened #582 "CI: add autolabel bot from pull request body"
**Summary**

Check the keyword in the pull reqeust body and auto label them.

[2021-05-19 08:36] drmingdrmer commented on #440
@zhang2014 what's the policy to filter frames?

(BTW frame 2 is our common lib)

E.g. filter out all `std::` frames?

[2021-05-19 08:53] #582 closed

[2021-05-19 10:25] drmingdrmer commented on #577
@zhang2014 If you'd refine all the conversion from `arrow::Error` to `ErrorCodes`, just rewrite the `From` trait implementation.
If you'd customize every single arrow::Error to `ErrorCodes` conversion(unlikely necessary IMHO), just temporarily remove the `From<array::Error>` then you have a list where it is used when building.

Thus I see no trouble applying this patch before #440 .

So, how about

[2021-05-19 12:35] zhang2014 commented on #577
If you'd customize every single arrow::Error to ErrorCodes conversion(unlikely necessary IMHO), just temporarily remove the From<array::Error> then you have a list where it is used when building.

Great! , we can continue #580

[2021-05-19 12:39] #577 closed

[2021-05-20 05:18] #578 closed

[2021-05-20 07:50] BohuTANG commented on #548
Got

[2021-05-20 12:37] sundy-li opened #591 "[feature]Function arguments validate"
**Summary**
Validation of arguments for IFunction.

1. Number of arguments validation.
2. Argument types validation.

We will introduce some virtual functions in **IFunction** and **IAggregateFunction**

[code]

Since the number of arguments checks are commonly used, so we can judge that during the expression transform.

I'll start to work on it after #550  is done

[2021-05-21 16:11] dantengsky opened #593 "StoreClient grpc invocation failure"
**Describe the bug**
In each MySQL (**new**)client session, the first invocation of `create database xxx` works well, but subsequent  invocations of `create database xxx` lead to runtime exceptions like these:

[code]

I can confirm this is a client-side error.

The same problem exists while creating (remote) tables or appending data to storage (by using store client).

**How to reproduce**

[code

[2021-05-21 16:40] dantengsky commented on #593
I confirm that using the same tokio runtime for each query can fix this issue.

see commit d16503f

BUT, I am **not** suggesting that we should resolve this problem this way.

[2021-05-22 01:18] BohuTANG commented on #593
Cool.
It looks make sense to use session runtime for the data pull.
But we need check ClickHouse client progress is working properly.

[2021-05-22 01:24] BohuTANG opened #594 "Improvement: Rename session.rs to sessions.rs"
**Summary**
Rename session.rs to sessions.rs, make more clarity.

[2021-05-22 02:10] BohuTANG commented on #540
Nightly release bot works.
https://github.com/datafuselabs/fusebots/commit/1a53e3d55a4ed9497a9e297dd6e89ff2ad6e5a96

[2021-05-22 02:25] #594 closed

[2021-05-22 02:29] BohuTANG opened #596 "[docs] Document datafuse API"
# Summary

Add documentation for datafuse API

[2021-05-22 13:31] dantengsky commented on #593
Failed to test by using a clickhouse client built from source:

### version of clickhouse-client
[code]

### Not working (simple case)
Maybe the version does not match the crate `clickhouse-srv` well, or I did not config the server correctly, I failed to execute basic  SQL by using clickhouse client:

[code]

### Not working (Create two databases in one session)
[code]

Logs of Quer Server

[code]

[2021-05-22 14:12] BohuTANG commented on #593
ok.
 IMO should test ClickHouse with your patch~

[2021-05-22 14:23] dantengsky commented on #593
Re-arrangement the runtimes of plan execution are risky or at least tricky, lots of things should be taken into account, I think.

I suggest that we temporarily fix this issue by creating a new StoreClient for each store operation, which I am quite sure can solve this problem (...Service was not ready: transport error..), and check this issue later, after we did integrate the basic functionalities

[2021-05-22 14:27] dantengsky commented on #593
Commit d16503f only changes the internal behavior of  **mysql_handler.rs**,  "clickhouse_handler.rs" remains the same.

[2021-05-22 16:26] BohuTANG commented on #593
Thanks @dantengsky
All is ok to fix this issue in your any patch if you feel appropriate.

[2021-05-22 20:51] jyizheng opened #597 "Support NOT expression"
**Summary**

Datafusion implements Not expression. It is used in constant folding.

https://github.com/apache/arrow-datafusion/blob/db4f098d38993b96ce1134c4bc7bf5c6579509cf/datafusion/src/logical_plan/expr.rs#L103

https://github.com/apache/arrow-datafusion/blob/db4f098d38993b96ce1134c4bc7bf5c6579509cf/datafusion/src/optimizer/constant_folding.rs#L149

[2021-05-23 03:45] jyizheng opened #598 "Support TRUE and FALSE"
**Summary**
"True" and "False" cannot be parsed in SQL.

mysql> select name from system.settings where value > 10 = TRUE;
ERROR 1105 (HY000): Code: 5, displayText = Unsupported value expression: true, type: Boolean(true).

[2021-05-23 04:29] jyizheng commented on #597
I am going to work on this

[2021-05-23 09:45] zhang2014 commented on #593
This problem also exists in FuseQuery. The reason is that the channel will call `tokio::spawn`(use the current runtime to schedule the query request. When the current runtime is destroyed, the channel will also be destroyed, so we need a long-time runtime. This may be global context, not session context)

reference:
https://github.com/tower-rs/tower/blob/master/tower/src/buffer/service.rs#L76
http

[2021-05-23 10:38] dantengsky commented on #593
Thanks for the reference!

[2021-05-23 10:38] dantengsky commented on #593
OK

[2021-05-23 11:48] BohuTANG commented on #593
@zhang2014 @dantengsky

After your information, seems that we'd have a global fight client pool.

[2021-05-23 11:51] BohuTANG opened #599 "[security] flight: TLS support"
**Summary**

Add TLS support for flight client/server talk.

[2021-05-23 15:08] zhang2014 commented on #593
maybe some tasks may often run first, others in low priority will be block until the firsts task finished.

The channel only accept requests and build a response future (in fact, the task is still running at query tokio runtime).

It is very flexible, which means that all requests will enter a runtime to queue (waiting for the runtime to approve the execution request). When we use session runtime

[2021-05-23 15:16] zhang2014 commented on #593
This may be very helpful for limited node load. But session runtime is OK for now(In fact, it may not different from use query runtime).

[2021-05-24 00:58] BohuTANG commented on #593
Thanks.
Is it a part of ISSUES-468 or another patch?

[2021-05-24 01:34] BohuTANG opened #601 "[test-infra] FuseBots"
**Summary**

If you have any needs for [FuseBots](https://github.com/datafuselabs/fusebots) in the development of Datafuse, please comments

FuseBots fetaures:
1. Auto Label, [example](https://github.com/datafuselabs/datafuse/pulls?q=is%3Apr+is%3Aopen+label%3Apr-feature)
2. Auto Nightly release, [example](https://github.com/datafuselabs/datafuse/releases)
3. Auto Merge, [example](https://github.co

[2021-05-24 01:36] BohuTANG commented on #543
Move to #601

[2021-05-24 01:36] #543 closed

[2021-05-24 04:05] drmingdrmer commented on #601
Separate issue and discussion:

- Issue: progress-related information: An issue drives development, otherwise it should be a discussion.
  E.g., unexpected behavior, feature request, etc.

- Discussion: non progress-related information:
  E.g. asking questions, sharing a use case, etc.

https://docs.github.com/en/discussions/quickstart

[2021-05-24 06:13] sundy-li commented on #601
Auto cherry-pick pr to the latest version.

[2021-05-24 08:10] BohuTANG commented on #601
Bots will support backport for `beta` branch from the nightly with `pr-bugfix` label.

[2021-05-24 08:19] BohuTANG opened #602 "Use 4.x arrow-rs from crates.io instead of git sha"
**Summary**
arrow has implemented biweekly releases for arrow-rs, parquet-rs https://github.com/apache/arrow-rs/issues/292
It's time to use crates instead of git sha

[2021-05-24 08:54] #602 closed

[2021-05-24 10:16] tlightsky commented on #573
to support this feature,
it seems we need to support `UnaryOp` in arithmetic first

[2021-05-24 10:37] tlightsky commented on #87
need to
* parse settings `graph=1`
* dispaly graph described in the DOT graph description language

[2021-05-24 11:50] tisonkun opened #608 "Shall we turn on GitHub Discussion for open-ended discussion?"
I found this project interesting and want to see what I can do for its RoadMap.

GitHub has a mechanism for this kind of discussion named [GitHub Discussion](https://docs.github.com/en/discussions) and I think it is a common question "What Can I Contribute".

Open-ended discussion, different from concrete issue, is often hard to target a clear scope at the first time. Do you think of turn on GitHu

[2021-05-24 13:08] BohuTANG commented on #608
Sure, github discussion enabled.
Thanks for your suggestion.

[2021-05-24 13:31] tisonkun commented on #608
Thanks! Let me try to create some topics...

[2021-05-24 13:31] #608 closed

[2021-05-24 13:47] Sepush opened #610 "website menu seems empty"
**Describe the bug**
The menu on your website seems empty. I'm not sure it's a bug or still developing

**How to reproduce**
* open your website https://datafuse.rs/
* click MenuIcon you will find the menu in the drawer is empty

[2021-05-24 14:24] BohuTANG commented on #610
It seems a bit, all the datafuse.rs source is in  https://github.com/datafuselabs/datafuse/tree/master/website/datafuse and the build action:
https://github.com/datafuselabs/datafuse/blob/master/.github/workflows/github-pages.yml

[2021-05-24 15:22] JmPotato commented on #573
@BohuTANG @tlightsky I'd like to take this task, could you please give me some instructions? I took a quick look at the existing code, it seems that there are several sub-tasks:

* Support `UnaryOp` in the parser.
* Support the expression in the planner.
* ...

Before some hints are given, I will keep exploring. Thanks!

[2021-05-24 16:14] JmPotato commented on #466
I'd like to take this task😄.

[2021-05-25 00:51] sundy-li opened #614 "Flight error broke tests"
(you don't have to strictly follow this form)

**Describe the bug**

In `flight_service.rs`, we can find
[code]

So if the pipeline builder got ErrorCodes as return value, the error may be wrapped, and this will break the stateless tests in cluster mode.

[code]

[2021-05-25 01:55] #573 closed

[2021-05-25 02:12] BohuTANG opened #615 "Support substring('1234567890', -3, 3) parse"
**Summary**

Client:
[code]

Server:
[code]

[2021-05-25 02:16] BohuTANG commented on #610
![image](https://user-images.githubusercontent.com/172204/119429715-fcfe9a00-bd41-11eb-8ef1-a4484f7ea32b.png)

Hello Sepush,
Can you tell it in detail what the problem is?

[2021-05-25 03:20] #574 closed

[2021-05-25 06:28] TennyZhuang commented on #432
I'd like to try it

[2021-05-25 07:46] Sepush commented on #610
![image](https://user-images.githubusercontent.com/39197136/119459247-174f6c80-bd70-11eb-828b-aaf249096df5.png)
Just like this

[2021-05-25 08:03] Sepush commented on #610
It's empty on the home page on my computer. but on the other pages, the menu is OK.
I use the latest version of Chrome.
I change to Firefox Developer Edition for testing met the same problem.
Maybe some edge case goes wrong.
Finally, I  turn to Edge browser there is another style, maybe a future, not a bug on Edge
![image](https://user-images.githubusercontent.com/39197136/119461821-abbace80-bd72-

[2021-05-25 08:56] sundy-li commented on #505
[code]
works after #550

[2021-05-25 08:56] #505 closed

[2021-05-25 08:59] sundy-li commented on #538
It has been resolved after #550
[code]

[2021-05-25 08:59] #538 closed

[2021-05-25 09:00] sundy-li commented on #480
It has been resolved after #550
[code]

[2021-05-25 09:00] #480 closed

[2021-05-25 09:13] JmPotato commented on #466
@tlightsky @BohuTANG It seems that the logic of `argMax/argMin` is very similar to the aggregation function `Max/Min`. One thing different is that we need to track the max value's corresponding `arg` coloum. It seems that recording the index of the max value while doing `data_array_aggregate_op` is a rather simple idea to implement. Could you please give me some advice or instructions on this? Thx

[2021-05-25 09:27] sundy-li commented on #466
It's ok to implement a simple version without SIMD.

We can keep a state in AggregateArgMaxFunction to store the max state of the tuple `(c, score)`

In the `accumulate` method, we iterate the columns to update the state.
[code]

[2021-05-25 09:29] BohuTANG commented on #610
Thanks for the information.
The menu is ok on my Chrome(Version 90.0.4430.93 (Official Build) (64-bit)).
Guess it's a CSS adaptation problem, but not sure where caused the probelm.

[2021-05-25 12:13] drmingdrmer commented on #593
Hi guys, for now, are you gonna merge this commit d16503f to get one less thing to worry about? 🤔

[2021-05-25 12:17] BohuTANG commented on #593
OK, if it blocks us let's resolve it.
@dantengsky open the PR please

[2021-05-25 12:56] sundy-li commented on #567
It's caused by auto-completion from `mysql client` when querying `use system`, but `use xxx` other than system is ok.

Need to investigate

[2021-05-25 13:27] lideen999 opened #619 "After merging Refactor expressions #550, the performance of aggregate is low."
#550
@sundyli

SELECT min(number), max(number),number%3   FROM numbers_mt (100000000)  GROUP BY number%3  ;

**Time consuming comparison**
 Elapsed: 0.873 sec.   VS    Elapsed: 2.043 sec.

**Before the merger:**

┌─min(number)─┬─max(number)─┬─modulo(number, 3)─┐
│           0 │    99999999 │                 0 │
│           1 │    99999997 │                 1 │
│           2 │    99999998 │

[2021-05-25 13:49] sundy-li commented on #567
https://github.com/jonhoo/msql-srv/pull/18

[2021-05-25 14:12] BohuTANG opened #621 "Add expression RFC to https://datafuse.rs website"
(you don't have to strictly follow this form)

**Describe the issue**
Add [expression rfc](https://github.com/datafuselabs/datafuse/blob/2bc26f1de1e511857cd0600e0162e0dc771ca665/website/datafuse/docs/rfcs/query/2021-05-22-plan-expression-refactor.md) to https://datafuse.rs website

[2021-05-25 14:24] sundy-li commented on #619
Thanks for the issue, may need time to improve that.

[2021-05-25 15:35] JmPotato commented on #466
Yeah, this method is quite straightforward, but after checking the code, I have a question.

If we want to iterate the columns in the `accumulate` method, the very first beginning of the process is to downcast the `ArrayRef` to a specified typed `Array`. And because the input of `argMax/argMin` will have two columns, does it means that I have to list all combinations of types just like `data_value

[2021-05-26 02:42] sundy-li commented on #466
@JmPotato  You are right.

`argMax( col_a, col_score)`

1. There are 2 two columns, but we don't need to cast column *col_a*, because we have a function `DataValue::try_from_array(array, row)` to get the DataValue by row index.

2. For column `col_score`, we can use match to cast it to `PrimitiveArray`, and then we can get the data as  natvie array, such as:` let data: &[T::Native] = array.values(

[2021-05-26 05:01] dantengsky commented on #593
This issue is fixed in PR #587, sorry for the late response

[2021-05-26 05:01] #593 closed

[2021-05-26 05:11] #621 closed

[2021-05-26 05:19] BohuTANG opened #628 "Store and Query integration tests"
**Summary**
Now, some test cases are ready to run with FuseStore and FuseQuery after https://github.com/datafuselabs/datafuse/pull/587
Such as:
1. create database/table
2. simple insert

[2021-05-26 05:20] #615 closed

[2021-05-26 05:58] dantengsky opened #630 "Updates table's metadata after appending data to Store"
**Summary**

- We should update table metadata properly after appending data parts to the table
- And exports partition information by fight_service of Store component

[2021-05-26 05:59] dantengsky commented on #630
@BohuTANG  would u pls assign this issue to me?

[2021-05-26 06:03] BohuTANG commented on #630
Sure, @dantengsky have the right to assign it to yourself.

[2021-05-26 06:09] dantengsky commented on #628
Are there any "styles" of the way to organize integration testing that we should follow?

[2021-05-26 06:22] #619 closed

[2021-05-26 06:48] BohuTANG commented on #601
Auto merge after the assignees approved and all the CI passed

[2021-05-26 06:49] #581 closed

[2021-05-26 06:51] lideen999 commented on #619
@sundy-li  perfect ！

[2021-05-26 08:36] #597 closed

[2021-05-26 12:33] BohuTANG commented on #628
Prefere the clickhouse style.
The first version integration test is simple, it's based on stateless test:
1. build fuse-store/fuse-query
2. start fuse-store
3. start fuse-query
4. run some tests whoes database engine is remote

[2021-05-26 14:50] dantengsky commented on #628
Got it, thanks

[2021-05-27 03:07] hulunbier commented on #579
As it is solved by PR #587

[2021-05-27 03:07] #579 closed

[2021-05-27 03:37] dantengsky commented on #599
pls assign this to me

[2021-05-27 05:54] BohuTANG commented on #601
Done

[2021-05-27 07:39] #628 closed

[2021-05-27 07:50] BohuTANG opened #639 "Add fuse-store to docker image"
**Summary**

Docker image only starts fuse-query, we need start one fuse-store server locally.

References:
https://github.com/datafuselabs/datafuse/blob/master/docker/Dockerfile
https://github.com/datafuselabs/datafuse/blob/master/scripts/deploy/fusequery-standalone.sh#L14

[2021-05-27 08:03] BohuTANG opened #640 "[api] Improve ITable trait"
**Summary**

ITable trait:
[code]

First,  `read_plan` trait
---------------------------------
We call the read_plan in:
https://github.com/datafuselabs/datafuse/blob/c278fc11581526728598bf62a1f637b12d700a8e/fusequery/query/src/sql/plan_parser.rs#L597-L616

At this early stage, we do not know:
[code]
The design here is not reasonable, it's better to put them in ReadSourcePlan, so that we can rewri

[2021-05-27 09:30] JmPotato commented on #466
PR #642 is proposed to implement these two functions first, and I think we could open another issue to track the refactoring work later.

[2021-05-27 10:53] #639 closed

[2021-05-27 12:12] #591 closed

[2021-05-27 12:21] sundy-li opened #644 "[refactor] Generic aggregate functions"
**Summary**
Currently, it needs a lot of work to add a custom aggregate function, like #642

TODO:

- [x] Implement generic aggregate function from argument datatypes. This could remove lots of macros and matches which make the codes look much more clear and cleaner.
- [x] Add a guide doc for the developer to add a custom aggregate function. Maybe `how-to-add-aggregate-function.md`.

[2021-05-27 14:43] #466 closed

[2021-05-27 14:47] JmPotato opened #645 "Use sqush and merge for the commit"
**Description**

I suggest using [squash and merge](https://docs.github.com/en/github/collaborating-with-pull-requests/incorporating-changes-from-a-pull-request/about-pull-request-merges#squash-and-merge-your-pull-request-commits) as the default way of merging PRs. It's more clear on tracking the commit history and showing the PR info.

[2021-05-27 15:51] JmPotato commented on #644
I'd like to help with this. But I don't have any ideas yet. It seems that if we want to reduce the use of macros, we need to determine the type of parameters in advance so that the redundant type checks could be removed. However, currently, the `common_datavalues::DataValue` we use to present data lacks association with `common_datavalues::DataType` or native type at the grammatical level, which n

[2021-05-27 15:53] drmingdrmer commented on #645
You are right. I hate merge too.

For a small project, the best strategy would be rebase-merge or squash-merge, to get a clean linear history.

For a community-driven project, with several long-term development branches, the best merge strategy would be do-not-modify-a-published-branch. Keeping the history helps others to track what is going on.
E.g., somebody hacks something based on your under-d

[2021-05-27 16:00] sundy-li commented on #645
I do agree with that. I  just turn that on!

[2021-05-27 16:26] JmPotato commented on #645
LGTM. Should we also update the config of bot?

[2021-05-27 20:57] jyizheng opened #646 "NOT expression bug"
(you don't have to strictly follow this form)

**Describe the bug**

`select NOT(1);` is not working properly.

**How to reproduce**

mysql> select NOT (1);
ERROR 1105 (HY000): Code: 5, displayText = Unsupported expression: NOT (1), type: UnaryOp { op: Not, expr: Nested(Value(Number("1", false))) }.

**Expected behavior**

clickhouse:

datafuse :) select NOT (1);

SELECT NOT 1

Query id: f7b4a389-

[2021-05-27 21:05] jyizheng opened #647 "Add stateless sql test for NOT"
**Summary**
We need sql test for NOT.

Just to name a few simple cases:

- select not (1=1);
- select not (1=1) from numbers(3);
- select NOT(1);

[2021-05-28 00:21] b41sh commented on #646
assign

[2021-05-28 00:27] BohuTANG opened #648 "Document argMin/argMax"
(you don't have to strictly follow this form)

**Describe the issue**
Add argMin/argMax to aggregate-functions documentation

[2021-05-28 01:01] jyizheng commented on #646
@b41sh  Sorry, I didn't realize it has been assigned to you. Thanks for your interest though. I will try to come up with more issues like this.

[2021-05-28 01:09] jyizheng commented on #598
I am happy to work on this.

[2021-05-28 01:12] b41sh commented on #646
ok, I can do others

[2021-05-28 01:32] #433 closed

[2021-05-28 01:38] sundy-li commented on #644
@JmPotato  That will be great if you can help with it.

Yes, I have 2 points about this

1. Most aggregate functions are specialized by primitive types
2. We can use macros to build the association between types and values

Refer: https://github.com/ClickHouse/ClickHouse/blob/master/src/AggregateFunctions/Helpers.h#L41-L50

Feel free to contact me to discuss anything about it via WeChat (could be

[2021-05-28 03:36] sundy-li opened #652 "fuse-benchmark tool"
**Summary**

[code]

[2021-05-28 06:01] #646 closed

[2021-05-28 06:07] jyizheng commented on #536
Please assign this task to me.

[2021-05-28 06:16] sundy-li commented on #601
When someone comment  `/assign` in some issues which is not assigned,  bot should assign the issue to that person.

[2021-05-28 07:39] #647 closed

[2021-05-28 09:28] BohuTANG commented on #648
/assignme

[2021-05-28 09:29] BohuTANG commented on #601
`/assignme` done

[2021-05-28 17:11] andygrove opened #654 "Consider renaming project. DataFuse is too similar to DataFusion."
This project appears to have similar goals to Apache Arrow DataFusion, contains code from DataFusion, and has a very similar name.

The names "DataFuse" and "DataFusion" only differ by a few characters and this could cause confusion about the relationship between these projects.

On behalf of the Apache Arrow DataFusion community, who have put a lot of work into building the DataFusion software an

[2021-05-28 23:14] l1t1 commented on #654
your username andygrove is too similar with former CEO of intel

[2021-05-29 01:32] BohuTANG commented on #654
Hi @andygrove

We have lot of respect and admiration for [arrow-rs](https://github.com/apache/arrow-rs) and [data-fusion, former in arrow/datafusion](https://github.com/apache/arrow-datafusion), it makes that Rust is for big data, thank you very much @andygrove and the community!

datafuse contains some codes from datafusion (mainly [datavalues](https://github.com/datafuselabs/datafuse/tree/master

[2021-05-29 02:05] BohuTANG opened #655 "[refactor] Refactor plan parse and datavalues"
**Summary**

Make plan parser and datavalue more simple

[2021-05-29 02:26] BohuTANG commented on #645
Hi,

`Allow merge commits` used for tracing all the history of the git chain, such as who merged, and tracing by some `robot`
This style is used by Rust and ClickHouse.

[2021-05-29 02:26] #645 closed

[2021-05-29 02:30] BohuTANG commented on #655
Related to #644

[2021-05-29 02:41] BohuTANG commented on #648
/help

[2021-05-29 03:19] andygrove commented on #654
Hi @BohuTANG and thanks for the response.

Yes, the use of the DataFusion code is absolutely fine as far as I have seen. The issue is just the confusion with a very similar project name. The projects are similar in that they both implement query engines in Rust based on Apache Arrow format.

DataFuse looks like a really interesting project but in my opinion, I think it would be better to use a nam

[2021-05-29 03:22] BohuTANG commented on #648
/assignme

[2021-05-29 08:43] BohuTANG opened #657 "[query] argMin/Max test not works in cluster mode"
(you don't have to strictly follow this form)

**Describe the bug**
[code]
https://github.com/datafuselabs/datafuse/pull/656/checks?check_run_id=2700000287#step:5:176

**How to reproduce**

Reproduce locally:
[code]

This is not stable, if I set `set max_threads=8`, it works again:
[code]

But now work under:
[code]

[2021-05-31 01:04] zhang2014 opened #658 "Optimize constant column for scatter_block"
**Summary**
https://github.com/datafuselabs/datafuse/pull/469#discussion_r642082089

[2021-05-31 01:07] BohuTANG commented on #433
@jyizheng

you can comments as:
/assignme

[2021-05-31 01:07] BohuTANG commented on #433
/help

[2021-05-31 01:40] zhang2014 commented on #614
fixes in https://github.com/datafuselabs/datafuse/pull/469/files#diff-e414e357b15378b481f6f47df4eadd9e6221a4d4cc19ba66dcf68881527240abR51

[2021-05-31 01:45] zhang2014 commented on #440
https://github.com/datafuselabs/datafuse/pull/469/files#diff-e414e357b15378b481f6f47df4eadd9e6221a4d4cc19ba66dcf68881527240abR51

We also need to process backtrace from other hosts. for example: receive error from [host]: display text, local backtrace :... \n\n remote backtrace

[2021-05-31 01:51] zhang2014 commented on #440
By parsing the symbol table, we can eliminate some useless frames, which can build backtrace faster and display error messages better. This may be a strategy. For example, I can configure which frames will be filtered, or I can ignore some frames for backtrace(for the bottom of the stack, we can only select a certain proportion of frames, which does not affect the positioning of the problem), this

[2021-05-31 01:52] zhang2014 commented on #440
Or for frames with the same file with different rows, we can merge.

[2021-05-31 04:44] jyizheng commented on #426
/assignme

[2021-05-31 07:16] #468 closed

[2021-05-31 07:16] #614 closed

[2021-05-31 07:20] BohuTANG opened #663 "Move datablock sort/scatter functions to kernel"
**Summary**

Add kernel directory for some compute functions.
common/datablocks/kernels
  - data_block_concat.rs
  - data_block_scatter.rs
  - data_block_sort.rs
  - data_block_take.rs

[2021-05-31 07:20] BohuTANG commented on #663
/assignme

[2021-05-31 08:19] #663 closed

[2021-05-31 08:24] #648 closed

[2021-05-31 12:44] #658 closed

[2021-06-01 01:12] #536 closed

[2021-06-01 01:19] zhang2014 opened #675 "Support to use the hostname to access FlightServer"
**Summary**
FlightClient does not support parse host name.

[2021-06-01 01:48] BohuTANG opened #677 "fuse-query exit when handlers error"
**Summary**

exit the process when any JoinHandler error

[2021-06-01 01:55] #652 closed

[2021-06-01 01:58] #675 closed

[2021-06-01 02:08] BohuTANG opened #679 "[test-infra] Add Contributor License Agreement assistant (CLA assistant)"
**Summary**

Like:
ClickHouse: https://yandex.ru/legal/cla/?lang=en
TiDB: https://cla-assistant.io/pingcap/tidb?pullRequest=16303
OceanBase: https://github.com/oceanbase/oceanbase/pull/5

[2021-06-01 02:24] #677 closed

[2021-06-01 02:42] sundy-li opened #680 "Fuse perf tests"
**Summary**

Now we have `fuse-benchmark tool` after #652. So it's time to introduce this tool in performance tests.
This could detect the performance drop when future features merging into the master.

[2021-06-01 02:43] BohuTANG commented on #680
Let's bench it!

[2021-06-01 04:16] ZhiHanZ opened #683 "[platform] Multi architecture Docker image support"
**Summary**
Description for this feature.
Currently we only support amd64 architecture fuse-query docker image,  and we should support multiple cpu architecture
https://hub.docker.com/r/datafusedev/fuse-query/tags?page=1&ordering=last_updated

Desired:
https://hub.docker.com/_/rust?tab=tags&page=1&ordering=last_updated

[2021-06-01 04:17] sundy-li commented on #683
Now we have `fuse-query` and `fuse-store` and `fuse-benchmark`, the dockerfile should take consider of them in entrypoint.

[2021-06-01 05:14] drmingdrmer opened #684 "[store] provide an API to let a Query node fetch all databases and tables from Store cluster."
It is a naive way to sync meta between Query and Store.

NTOE:
- Since a database/table is a **file** in Dfs, loading them could be expensive.

[2021-06-01 09:26] #680 closed

[2021-06-01 09:37] BohuTANG commented on #601
Robot:
Support github check runner for performance comparion between latest and the PRs.

[2021-06-01 13:17] TennyZhuang commented on #432
In [ClickHouse's implementation](https://github.com/ClickHouse/ClickHouse/blob/5dda97bef1f783964b8a57a69de16e8163cc1fc9/src/Processors/Transforms/LimitByTransform.cpp#L37), it seems that they use a hash based policy to group limit_by keys. It's difficult in current datafuse due to lack of value hash infrastructure. Is there some WIP works?

[2021-06-01 13:20] TennyZhuang commented on #432
Oh, I find something useful in GroupByFinalTransform, I will take a try.

[2021-06-01 16:14] PsiACE opened #688 "Can't build datafuse"
Make sure that `git diff` result is empty and you've just pulled fresh master, and run first:
[code]

**Operating system**

OS kind or distribution, specific version/release, non-standard kernel if any. If you are trying to build inside virtual machine, please mention it too.

[code]

**rust version**
[code]

**Datafuse git version**

Just `https://github.com/datafuselabs/datafuse.git, branch = ma

[2021-06-01 23:59] BohuTANG commented on #688
Thanks for the reporting.
Maybe we should fork async-raft to datafuselabs? Cc @drmingdrmer

[2021-06-02 00:22] BohuTANG commented on #601
Robot:
Add welcome greeting for the first contributor.

[2021-06-02 00:42] #688 closed

[2021-06-02 02:02] drmingdrmer commented on #688
Yes. I'd transfer ownership to this organization.

[2021-06-02 03:08] drmingdrmer commented on #440
I found a similar filtering impl here:

https://github.com/athre0z/color-backtrace/blob/master/src/lib.rs#L163-L194

May be helpful.

BTW. how to get the symbol table?

[2021-06-02 03:32] BohuTANG opened #692 "[test-infra] Run perf test when comments"
**Summary**
Performance test is not needed for some PR, such as document or others little changes.
It should be run if we comments under a PR:
`/runperf`

[2021-06-02 03:37] BohuTANG commented on #692
![image](https://user-images.githubusercontent.com/172204/120420309-b68aea00-c396-11eb-8c47-17de4768f5e8.png)
Prefered ClickHouse style, but not sure how do it.
https://github.com/ClickHouse/ClickHouse/pull/24734#partial-pull-merging

[2021-06-02 04:29] zhang2014 opened #693 "Support SIPHASH function"
**Summary**
[code]

[2021-06-02 04:59] #693 closed

[2021-06-02 05:58] BohuTANG opened #695 "Documentation hash functions"
(you don't have to strictly follow this form)

**Describe the issue**
Documentation hash functions

[2021-06-02 07:18] BohuTANG opened #696 "Add group by for datablock"
**Summary**
Add group by function to datablock.

[code]

[2021-06-02 07:18] zhang2014 commented on #601
Add new pr type:  `Not for changelog (changelog entry is not required)`

When used this type, the PullRequest not included in the ChangeLog.

for example: https://github.com/ClickHouse/ClickHouse/blob/master/.github/PULL_REQUEST_TEMPLATE.md

[2021-06-02 08:04] zhang2014 opened #698 "Move extras project from datafuselabs to datafuse-extras"
Move extras project from datafuselabs to datafuse-extras. such as: https://github.com/ClickHouse-Extras

[2021-06-02 11:25] PsiACE commented on #679
See: https://cla-assistant.io/ or https://github.com/cla-assistant/github-action

[2021-06-02 12:26] akuzm commented on #692
We post these checks through "Statuses" API https://docs.github.com/en/rest/reference/repos#statuses

[2021-06-02 12:53] BohuTANG commented on #692
Thanks @akuzm, it will be useful.
By the way, can't find these CI scripts in ClickHouse, is it used internally?

[2021-06-02 12:56] akuzm commented on #692
Yes, this part is in the internal repo. We use pygithub and its `create_status` method.

[2021-06-02 12:57] BohuTANG opened #703 "Explain does not work in ClickHouse client"
(you don't have to strictly follow this form)

**Describe the bug**
[code]

[2021-06-02 13:30] #696 closed

[2021-06-02 14:10] BohuTANG commented on #432
@TennyZhuang
block has add a groupby function, may be helpful: https://github.com/datafuselabs/datafuse/blob/e4e43319b9772a1cc29f7b0ccd1020e646da394d/common/datablocks/src/kernels/data_block_groupby.rs

[2021-06-02 14:27] BohuTANG commented on #432
siphash is here: https://github.com/datafuselabs/datafuse/pull/694

[2021-06-02 14:44] TennyZhuang commented on #432
@BohuTANG Currently, I've finished the planner and executor, and it works well. The only work remaining is to support it on parser. Unfortunantly, sqlparser doesn't support LIMIT BY cause, and sqlparser is lack of dialact support.

While more clickhouse dialact will be supported in the future, we will encounter the same problems many times.

We have two options now:

1. like datafusion, use custom

[2021-06-02 23:50] BohuTANG commented on #432
@TennyZhuang
Thanks a lot, nice work.
For the customize sql datafuse has https://github.com/datafuselabs/datafuse/blob/master/fusequery/query/src/sql/sql_parser.rs and there are many examples can be referenced.

It's make sense to split a big patch to many pieces if it needs.
FYI, the limit by parser is not very complicated and recommended to be done in one patch.
What do you think?

[2021-06-03 03:05] #695 closed

[2021-06-03 03:20] BohuTANG opened #707 "[docs] Add development reference documentation"
(you don't have to strictly follow this form)

**Describe the issue**
Add development reference documentation

[2021-06-03 03:30] BohuTANG opened #708 "Add Not for changelog (changelog entry is not required) for bot"
**Summary**

Add `Not for changelog (changelog entry is not required)` to PULL_REQUEST_TEMPLATE.md for bot labeling.
https://github.com/datafuselabs/datafuse/issues/601#issuecomment-852803313

[2021-06-03 03:46] #708 closed

[2021-06-03 04:48] BohuTANG commented on #601
Done.

[2021-06-03 05:12] #630 closed

[2021-06-03 05:14] BohuTANG commented on #432
@TennyZhuang

All is ok to me for `should I submit my PR now with LimitByPlan, LimitByTransform and LimitByStream compiled and test passed?`.
Let's Pull Request it.

[2021-06-03 05:25] #326 closed

[2021-06-03 05:51] BohuTANG opened #711 "[test-infra] Add fuzz test to CI"
**Summary**
we can fuzz the sqlparser after #700 , it's be better to add to the github CI.
Like ClickHouse did:
https://github.com/ClickHouse/ClickHouse/tree/master/docker/test/fuzzer

[2021-06-03 07:16] drmingdrmer opened #712 "`common_exception::ErrorCodes::message()` overrides `display_text` if `cause` is not `None`"
**Summary**

The problem is once the field `cause` is set, there is no way to display `display_text`, which may provide additional key information about the error genesis.

https://github.com/datafuselabs/datafuse/blob/668ef027b6f4bb713115edc2c7b1db7f30c9184e/common/exception/src/exception.rs#L45-L50

**Proposal**

`ErrorCodes::message()` returns both `cause` and `display_text`.

[2021-06-03 08:32] drmingdrmer commented on #712
@zhang2014 any advices? 🤔

[2021-06-03 08:48] PsiACE commented on #679
pls assign this to me

[2021-06-03 08:49] BohuTANG commented on #679
/help

[2021-06-03 08:49] PsiACE commented on #679
/assignme

[2021-06-03 08:51] PsiACE commented on #679
nice, I even want to create a rust version of the bot

[2021-06-03 09:27] zhang2014 commented on #712
@drmingdrmer maybe we can remove `cause`?

[2021-06-03 10:41] BohuTANG commented on #711
Lots of crashed in sqlparser:
https://github.com/ballista-compute/sqlparser-rs/issues/314

[2021-06-03 11:32] BohuTANG commented on #679
@PsiACE
FYI, There is a Rust bot:
https://github.com/rust-lang/triagebot

[2021-06-03 17:25] TennyZhuang commented on #531
We finished a UDF demo in TiDB hackathon 2020 ([A trivial Chinese blog about it](https://blog.zhuangty.com/tidb-hackathon-2020/),   Wasm is very suitable for the scene. But it’s difficult to design a graceful ABI for complicated types between host language and wasm runtime.

[2021-06-04 00:36] tisonkun commented on #703
With a glance I think it is `ClickHouseStream#poll_next` to be blamed.

https://github.com/datafuselabs/datafuse/blob/73dd6e7e63512e8c7d9d74aa1d7187725f546bdb/fusequery/query/src/servers/clickhouse/clickhouse_stream.rs#L127-L131

Although even we ignore this part of code the output of explain is MySQL style, and maybe a bit malformed.

[code]

[2021-06-04 01:45] BohuTANG commented on #601
Bot:
Add reviewer hints.

FuseQuery: @BohuTANG @sundy-li @zhang2014
FuseStore: @drmingdrmer @dantengsky

[2021-06-04 03:08] BohuTANG opened #716 "[log] Add function DBUG_ENTER and DBUG_RETURN debug log"
**Summary**

To easy/visual trace the function in the log when we execute a sql, like store did:
https://github.com/datafuselabs/datafuse/blob/73dd6e7e63512e8c7d9d74aa1d7187725f546bdb/fusestore/store/src/meta_service/raftmeta.rs#L255-L258

[2021-06-04 03:27] sundy-li opened #717 "[tests] Tests support error code match rather than error text."
**Summary**
Tests support error code match rather than error text.

[code]

ClickHouse: https://github.com/ClickHouse/ClickHouse/blob/master/tests/queries/0_stateless/00002_system_numbers.sql#L9-L14

[2021-06-04 03:29] sundy-li commented on #717
BTW, the testing result is displayed via table, maybe it's good to make it display as normal text.

MySQL/Oceanbase style: https://github.com/oceanbase/oceanbase/blob/master/test/mysql_test/test_suite/join/r/mysql/nested_loop_join_right_null.result

[2021-06-04 03:39] #703 closed

[2021-06-04 04:12] BohuTANG commented on #717
ok, make sense

[2021-06-04 04:46] #27 closed

[2021-06-04 06:19] drmingdrmer commented on #712
Aye Captain!

Done removing `cause` in #719

[2021-06-04 06:19] #712 closed

[2021-06-04 09:05] BohuTANG opened #723 "[testing] fuse-test: add tests for server handlers"
**Summary**

fuse-test default test is in MySQL protocol with:
https://github.com/datafuselabs/datafuse/blob/90cf20d79306afd4a88469c4464531edfc1b6011/tests/fuse-test#L438

We can improve it to test ClickHouse protocol handler.
This issue should be kick off after #717

[2021-06-04 09:21] sundy-li commented on #723
It's hard to use clickhouse-client if the main goal for datafuse to be compatible with MySQL.

Because clickhouse-client will parse the SQL on client side, but some functions may not work through that.

Eg:
1. `mysql` take  expression `add(1,3)` as column header `1 + 3`, while clickhouse take this as `plus(1, 3)`
2.  Create SQL like

[code]
may not be accepted by `clickhouse-client`

3. `SELECT TR

[2021-06-04 09:22] BohuTANG commented on #723
Got, closed

[2021-06-04 09:22] #723 closed

[2021-06-04 09:26] sundy-li opened #724 "[CI] License Style check"
**Summary**
1. New contributors always forget to add the license comments in creating new rust file.
2. Vscode and Clion have the feature to auto-import used imports. This will break the file style.

Better to make a check for this.
[code]

[2021-06-04 09:30] BohuTANG commented on #724
This action can do it:
https://github.com/marketplace/actions/license-checker

[2021-06-04 11:01] TennyZhuang opened #727 "[style] Rename trait type names from `I$Name` to `$Name`"
**Summary**

E.g: rename `ITable` to `Table`. There is no point to add `I` prefix before a trait.

In rust, A trait type has two usages:

1. Template argument constrait: like `Where T: Table`, we can know Table is a trait as soon as we see it.
2. Trait objects: like `Box<dyn Table>`, dyn trait requires exiplit dyn keyword, there is also no confusion at all.

For the reason above, trait named with

[2021-06-04 12:31] sundy-li commented on #727
This is from `golang` and `cpp` style, I vote for this change since it's meaningless to keep the prefix `I` for Trait in rust.

 cc @drmingdrmer

[2021-06-04 12:44] #724 closed

[2021-06-04 13:23] drmingdrmer commented on #727
For me, the greatest benefit is knowing at first sight what kind of symbol it is.

(Maybe) makes it easier to search for something through plain text, e.g., when you do not know the exact name of it.

(Maybe) the prefix "I" can reduce name conflicts.

Having one more letter does not bother me, although this is not very rust.

Vote for keeping it :DDD

[2021-06-04 14:20] dantengsky commented on #727
I prefer not to use the "I" prefix on traits.

[2021-06-04 14:40] BohuTANG commented on #727
Thank you very much for this suggestion, from  rustacean view should not have I.
But I prefer to keep I:
For the people who reading the codes and not familiar with rust, at least this is more intuitive.

Vote for keeping I.

[2021-06-04 14:50] zhang2014 opened #730 "[test] add unit test for transform_remote and arrow flight client"
**Description**
 Add unit test for transform_remote and arrow flight client

https://github.com/datafuselabs/datafuse/pull/725#discussion_r645540817

[2021-06-04 14:56] leiysky commented on #727
I vote for the idiomatic style `Table`. 🚀

[2021-06-04 15:00] tisonkun commented on #727
Vote for this change. It is from [Hungarian notation](https://en.wikipedia.org/wiki/Hungarian_notation), which is really redundant for modern development environment.

Type is explicit or can be easily identified by "find definition". We have advanced too much from text only ages.

[2021-06-04 15:30] jovany-wang opened #732 "How to run tests step by step?"
We doesn't clear how to run tests step by step on document.
For example, Following the 2 commands from document will get an error about unable to connect mysql.
![image](https://user-images.githubusercontent.com/19473861/120825898-6f664a00-c58c-11eb-8ae1-ed6f83f0d198.png)

[2021-06-04 15:36] BohuTANG commented on #727
Wow, votes status:
rename: 4
keep: 3

But datafuse have some conflicts after rename:
trait IDataSource
struct Datasource

If we rename IDataSource to DataSource, how to deal the struct name?

[2021-06-04 15:45] BohuTANG commented on #732
Stateless test required:
$cargo build
$./scripts/deploy/fusequery-standalone.sh
$cd tests
$./fuse-test

We will make the tests documents more clearly, thanks for the report.

[2021-06-04 15:48] BohuTANG commented on #732
Maybe we need a script that can be launched the stateless tests with one click locally

[2021-06-04 16:15] dantengsky commented on #727
Remove `IDataSource`, use `struct DataSource` directly? (replace `Arc<dyn IDatasource>` with `Arc<DataSource>`).

Till we have multiple impls for an "IDataSource", and at that time we will have different names for impls naturally.

[2021-06-04 23:19] zhang2014 commented on #732
Maybe we should support `make stateless test`? It will automatically run the following commands:
- cargo build
- ./scripts/deploy/fusequery-standalone.sh(with random port)
- cd tests
- ./fuse-test (with random port)

[2021-06-04 23:35] BohuTANG commented on #548
`---- meta_service::meta_service_impl_test::test_meta_server_incr_seq stdout ----
Error: transport error: error trying to connect: tcp connect error: Connection refused (os error 111)

Caused by:
    0: error trying to connect: tcp connect error: Connection refused (os error 111)
    1: tcp connect error: Connection refused (os error 111)
    2: Connection refused (os error 111)
thread 'meta_servi

[2021-06-04 23:45] BohuTANG opened #734 "[test] Add make stateless test"
**Summary**

To easy manual testing, we need add some commands to Makefile.
1. `make unit-test`
2. `make stateless-test`
3. `make test` to run all unit test and stateless test

related #732

[2021-06-04 23:52] BohuTANG opened #735 "[arrow] Bump modulus to arrow SIMD vectorized implementation"
**Summary**
After the upstream [Add (simd) modulus op](https://github.com/apache/arrow-rs/pull/317/files), we can change the self define modulus to the SIMD vectorized implementation:
https://github.com/datafuselabs/datafuse/blob/6f7e195f791642a4ed05ce4bf07f011dd91dc6a2/common/datavalues/src/data_array_arithmetic.rs#L66-L71

[2021-06-05 01:46] drmingdrmer commented on #548
@BohuTANG I saw it too last night. It needs to wait several milliseconds before connecting. Gonna fix it along with my next merge.
Thanks for reminding me!

[2021-06-05 02:02] drmingdrmer commented on #727
IMHO here the discussion should not be about which style is better, but be about whether it's a good time to apply this change.

Changing it brings in extra refactoring work and name/type conflict.
Leaving as it is makes nothing better or worse.

[2021-06-05 02:09] sundy-li commented on #735
cc @taiyang-li

[2021-06-05 05:12] BohuTANG commented on #548
@drmingdrmer

github collaboration is async, this comments just a notes when you see it, anytime is fine :)

[2021-06-05 08:57] dantengsky commented on #727
If we do wanna follow the naming convention or "[guideline](https://rust-lang.github.io/api-guidelines/naming.html)":

The sooner the better.

With the supports of IDE, and some namespace tweaking:  8c7888a757643a2df496d83075e2353b3ea0d52a

[2021-06-05 10:00] #732 closed

[2021-06-05 10:01] BohuTANG commented on #732
make test
it will run unit test and statesess test both

[2021-06-05 11:50] BohuTANG opened #738 "[docker] Build docker image failed"
(you don't have to strictly follow this form)

**Describe the bug**

https://github.com/datafuselabs/datafuse/runs/2752385624

[code]

[2021-06-05 11:52] BohuTANG commented on #727
It's ok to me.
Just do it.

[2021-06-05 12:20] BohuTANG commented on #738
Fixed https://github.com/datafuselabs/datafuse/commit/bd7cd2c096b2825aee1029587c3d4dba9351f347

[2021-06-05 12:20] #738 closed

[2021-06-05 13:34] dantengsky commented on #727
Roger that

[2021-06-06 02:55] leiysky opened #741 "Refactor `PartitionQueue` and introduce task scheduler"
There should be some mechanism like a instace level `TaskManager` to host the metadata of query and schedule the tasks.

So far, tasks(i.e. partitions) are represented as a `PartitionQueue` bind with `FuseQueryContext`, cons of which is:

- `PartitionQueue` is shared in context-level, thus if we want to process multiple tables(join) in a same query, we have to create a new `FuseQueryContext` for e

[2021-06-06 02:55] leiysky commented on #741
cc @BohuTANG

[2021-06-06 03:01] leiysky opened #742 "Need a common `Catalog` abstraction"
To improve the SQL planner, we need a `Catalog` abstraction to help resolve symbols to concrete database items(e.g. table, column, session variable).

[2021-06-06 03:22] BohuTANG commented on #741
Hi @leiysky
By design, each query(session) shares one context no matter it's a join or others subquery, we shouldn't create new context inside.
For join, maybe we need multiple partition queues?

Could you give an example to help us understand the requirements?
Thanks

[2021-06-06 03:22] dantengsky commented on #742
Appreciate it! and I'm with you on that.

We have some initial design of catalog, table format, rules of schema evolution, tx & cc, etc. Things are not totally settled down and need some more time to refine/check the relevant design.

[2021-06-06 03:51] #734 closed

[2021-06-06 03:54] BohuTANG commented on #711
It's time to move sqlparser-rs to datafuse-extras

[2021-06-06 03:57] leiysky commented on #741
https://github.com/datafuselabs/datafuse/blob/2e32a4d98149d220296119fa0d343ed4531bf355/fusequery/query/src/pipelines/processors/pipeline_builder.rs#L283-L292

For example, if I don't create a new `FuseQueryContext` for each sub-pipeline, then the `left_pipeline` and `right_pipeline` will share the same `PartitionQueue`, which will bring unexpected random result.

Introduce multiple partition queue

[2021-06-06 03:58] BohuTANG opened #743 "[deps] Move sqlparser-rs to datafuse-extras"
**Summary**
To fixed the fuzz crashed, it's time to move it to [datafuse-extras](https://github.com/datafuse-extras).

issues:

https://github.com/ballista-compute/sqlparser-rs/issues/314

[2021-06-06 04:00] leiysky commented on #742
Shall we support `DDL` in future? If so, this is going to be a much tougher work...

[2021-06-06 04:08] BohuTANG commented on #741
Hi @leiysky
Good example!
What's the better way? 💯

[2021-06-06 04:10] BohuTANG commented on #741
By the way, the partition queues should be fetch by a <id,stage_id> tuple

[2021-06-06 04:22] dantengsky commented on #742
`DDL` should be supported. it will be a tough but joyful journey. ;-)

[2021-06-06 04:42] leiysky commented on #741
IMHO, every fuse-query process can have a `TaskManager`(or `PipelineManager`, `StageManager`, whatever), which we call it `scheduler` here.

For each `Pipeline`, we will register it in `scheduler` with a unique id like `<id, stage_id>` . At the same time, `scheduler` will maintain a `PartitionQueue` for each `Pipeline`, which is similar to the current design. The difference is most work of resourc

[2021-06-06 04:57] leiysky commented on #742
By the way, how can I follow up the progress? Do you have any periodic report or tracking mechanism like JIRA?

[2021-06-06 05:03] TennyZhuang opened #744 "[style] Rename trait type names from $Name to I$Name"
**Summary**

Due to the discussion and PR from #740, the result is that I prefix is important for readability .

A codebase should be consistent. it’s important to keep the same style, please rename trait without I to I$Name

such as

* pub trait ResultExt
* pub trait ExprRewriter
* pub trait ExpressionVisitor
* pub trait ToErrorCodes
…

And write some lint rules in CI to disable trait without I p

[2021-06-06 05:04] BohuTANG commented on #741
The session manager similar did it, but need some improvements to archive the requirements.

[2021-06-06 05:08] TennyZhuang commented on #744
We should choose any style as soon as possible. The changes will be larger and larger while the codebase increasing.

[2021-06-06 05:25] BohuTANG commented on #744
Hello @TennyZhuang
Thanks for the suggestion.
To rename is easy for datafuse codebase, we will consider it next week.
Code style is also important!

[2021-06-06 05:28] BohuTANG commented on #742
I will try to create an issue later to  track it.

[2021-06-06 05:45] leiysky commented on #742
Nice. But this is one of the tasks, I'd also like to follow up other tasks.

It will be good if there is a central place(e.g. GitHub Project) for them.

[2021-06-06 06:08] sundy-li commented on #743
Other options [nom](https://github.com/Geal/nom), [pest](https://github.com/pest-parser/pest)?

[2021-06-06 07:19] zhang2014 commented on #741
As far as I know, for distributed queries, we will build a global partition queue on the first requested node, and then split the partition queue to all nodes.

[2021-06-06 07:38] zhang2014 commented on #741
It's a great idea to create scheduler with multiple queries to share. It can bring many benefits, but it may also bring us some problems. For example,
- it changes the current code a little bit.
- We need to get a lock for each partition.
- We don't know what kind of partition queue is more suitable for us

I voted to use HashMap<String, PartitionQueue > to solve this problem quickly.

[2021-06-06 10:49] BohuTANG commented on #742
we will try to use issue not project to track tasks first

[2021-06-06 10:51] BohuTANG commented on #743
If we have a need to modify but upstream not reponse, usually put it to the extras

[2021-06-06 14:02] BohuTANG opened #745 "[roadmap-track] Query API"
Query and Store API.

# Main tasks

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| Create/Drop database/table API  | DONE  |  v0.4 | @dantengsky    |
| [Catelog API ](https://github.com/datafuselabs/datafuse/issues/867)| DONE  |  v0.5 | @dantengsky

[2021-06-06 14:15] BohuTANG commented on #742
@leiysky

Have add an track issue: https://github.com/datafuselabs/datafuse/issues/745

But it still needs to be improved.

[2021-06-07 01:03] BohuTANG opened #746 "Roadmap 2021"
This is Databend roadmap 2021.

# Main tasks

###  1. Query task

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [ Cloud Re-architected track #1408](https://github.com/datafuselabs/databend/issues/1408)| DONE  | v0.5    |   |
| [ HTTP API #2241](http

[2021-06-07 01:13] BohuTANG opened #747 "[roadmap-track] Query cluster"
Query cluster.

# Main tasks

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [Shuffle framework #469](https://github.com/datafuselabs/datafuse/issues/469)| DONE  |  v0.4 | @zhang2014   |
| [Shuffle GroupBy #469](https://github.com/datafuselabs/datafu

[2021-06-07 02:01] BohuTANG opened #748 "[test-infra] Test Infra for CI"
**Description**
Make the CI works on self hosted k8s cluster.

Tasks:
- [ ] performance tests
- [ ] fuzz tests

Reference:
https://github.com/ClickHouse/ClickHouse/tree/master/docker/test

[2021-06-07 02:29] BohuTANG opened #749 "[bot] Add roadmap hints for the first contributor"
**Summary**

Comments for the first contributor as greeting:
[Roadmap 2021](https://github.com/datafuselabs/datafuse/issues/746)

[2021-06-07 02:30] BohuTANG commented on #601
Add roadmap as greeting https://github.com/datafuselabs/datafuse/issues/749

[2021-06-07 03:46] #735 closed

[2021-06-07 06:49] sundy-li opened #751 "[performance] Improve the state serialize for aggregate function."
**Summary**

Currently we have `fn accumulate_result(&self) -> Result<Vec<DataValue>>` in  trait IAggregateFunction.

It's aimed to get the state to make it represent as  `Vec<DataValue>` .
And then we serialize the  `Vec<DataValue>` to ColumnBinary in `groupByTransform`  for future merge.

![image](https://user-images.githubusercontent.com/3325189/120971337-18848e80-c79f-11eb-86b3-e7fa0d582594.pn

[2021-06-07 08:37] #743 closed

[2021-06-07 08:48] sundy-li commented on #432
cc @TennyZhuang , sqlparser is move into https://github.com/datafuse-extras/sqlparser-rs  in #753.

Feel free to refactor the parser.

[2021-06-07 09:01] BohuTANG opened #754 "[hash] Wrap/Rewrite ClickHouse hash method for Datafuse concat_row_to_one_key"
ClickHouse hash faster enough, it's interesting to try to wrap it for datafuse, or rewrite them in Rust.
In datafuse, for groupby, the main performance killer is `concat_row_to_one_key` in datablock:
https://github.com/datafuselabs/datafuse/blob/04f0b38f172e5aeb9580095c66124011c08ad7e0/common/datablocks/src/kernels/data_block_groupby.rs#L72-L74

concat_row_to_one_key concat all the group key by by

[2021-06-07 09:09] BohuTANG commented on #746
Rewrite hash method in ClickHouse way: https://github.com/datafuselabs/datafuse/issues/754

[2021-06-07 09:13] sundy-li commented on #754
Related #520

[2021-06-07 09:22] sundy-li commented on #427
tasks:

- [ ] support between
- [ ] support date function

[2021-06-07 09:40] sundy-li opened #756 "Better function name suggestions for IAggregateFunction"
**Summary**

I am looking for some feedbacks for better naming for functions of trait `IAggregateFunction`. Because we need to create development guide docs of how to add new AggregateFunctions.

`datafuse` current style:  https://github.com/datafuselabs/datafuse/blob/master/common/aggregate_functions/src/aggregate_function.rs#L19-L22

[code]
`accumulate ` seems to be a too-long word.

`flink` sty

[2021-06-07 09:46] #364 closed

[2021-06-07 10:00] PsiACE commented on #754
The hashs function seems to be at: https://github.com/ClickHouse/ClickHouse/blob/master/src/Common/HashTable/Hash.h

FYI, there are some related Rust implementations:

MurmurHash:
- https://github.com/tikv/mur3
- https://github.com/mhallin/murmurhash3-rs (very old)

CRC32:
- https://github.com/mrhooray/crc-rs (may slow)
- https://github.com/srijs/rust-crc32fast (fast, simd)

[2021-06-07 10:18] TennyZhuang commented on #432
Got it, I will finish it.

[2021-06-07 10:33] TennyZhuang opened #757 "Should we completely follow ClickHouse query syntax?"
ClickHouse use a `LIMIT n[, m]` syntax, rather than `LIMIT n OFFSET m` in mysql. and sqlparse-rs also follows `LIMIT OFFSET` syntax. Should we modify it in https://github.com/datafuse-extras/sqlparser-rs ?

[2021-06-07 11:44] TennyZhuang commented on #757
BTW

The ClickHouse query syntax is ugly 😅

[2021-06-07 11:50] BohuTANG commented on #757
Hello @TennyZhuang
Datafuse mainly follow the MySQL syntax ：）
But the plan_parser.rs is currently not clear enough and needs to be improved.

[2021-06-07 12:29] sundy-li commented on #757
Seems mysql supports both for limit offset syntax.

https://www.db-fiddle.com/f/6rRk95Uk4V2oQnXMwxQa3f/0

[2021-06-07 12:45] sundy-li commented on #404
Already fixed in master, closing.

[2021-06-07 12:45] #404 closed

[2021-06-07 13:00] #430 closed

[2021-06-07 13:54] BohuTANG commented on #756
By comparison, personally feel that the current design is clearer and more intuitive, but would like to hear other people's opinions :100:

[2021-06-07 14:01] BohuTANG commented on #754
@PsiACE
Thanks for the reference.
But this is not only a hash implementation, Rust hash faster too.
The matter is that when we group by many columns, how to concat our key to one, for example:
[code]

How to fast the group key hash: `number%3, number%4, number%5` is the main point.

[2021-06-07 14:04] PsiACE commented on #754
Thanks for your further explanation.

[2021-06-07 14:09] BohuTANG commented on #430
@sundy-li

Do we also need to support other `distinct`?
Such `sumDistinct`, if need I am happy to open an issue

[2021-06-07 14:12] BohuTANG opened #758 "[roadmap-track] functions"
Main issue tracking for functions.

# Functions

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [VERSION() #762 ](https://github.com/datafuselabs/datafuse/issues/762) | DONE  | v0.5  |  Thanks @PsiACE |
| [SLEEP() #802](https://github.com/datafuselab

[2021-06-07 14:32] PsiACE commented on #679
I think this issue can be closed

[2021-06-07 22:22] #679 closed

[2021-06-07 22:35] BohuTANG opened #760 "[arrow] Disable arrow-testing when building arrow"
**Summary**
When we building arrow, the submodule arrow-testing(test datas) will be download automatically, datafuse should disable it because we don't need.

[2021-06-07 23:03] BohuTANG opened #761 "[system.table] Add system.licenses table"
**Summary**

Сontains licenses of third-party libraries that are used  in the Cargo.toml.
Likes ClickHouse:
https://clickhouse.tech/docs/en/operations/system-tables/licenses/

[2021-06-07 23:12] BohuTANG opened #762 "[function] SELECT VERSION()"
**Summary**

Return the current version information(ctx.version) of FuseQuery.
This is a context function as:
https://github.com/datafuselabs/datafuse/blob/master/fusequery/query/src/functions/context_function.rs

[2021-06-07 23:19] BohuTANG opened #763 "[doc] Add comparison and operators documents"
**Summary**

Add new menu 'comparison and operators' to website.

[2021-06-08 00:57] sundy-li commented on #430
Ok, though it's not MySQL style,  but it's better than nothing.  I'll try to implement a generic combinator for AggregateFunction, such as `sumIf, sumDistinct`

[2021-06-08 01:19] zhang2014 commented on #754
I have an example [here](https://github.com/zhang2014/hash_table), which may be helpful:

[2021-06-08 01:23] zhang2014 opened #765 "[roadmap-track] queries"
Main issue tracking for queries.

# Queries

| Queries                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [SHOW PROCESSLIST #1061](https://github.com/datafuselabs/datafuse/issues/1061) | DONE  | v0.5  | |
| [SHOW CREATE TABLE #901](https://github.com/datafusela

[2021-06-08 01:24] zhang2014 commented on #746
Experimental and interns tasks:
Add queries track https://github.com/datafuselabs/datafuse/issues/765

[2021-06-08 01:30] BohuTANG commented on #765
Exists issue:
https://github.com/datafuselabs/datafuse/issues/426

[2021-06-08 01:47] lideen999 commented on #754
Suggested reference
https://github.com/influxdata/influxdb_ iox/blob/main/read_ buffer/src/row_ group.rs#L533
use：
fn pack_ u32_ in_ u128(packed_ value: u128, encoded_ id: u32, pos: usize) -> u128 {
  packed_ value | (encoded_ id as u128) << (32 * pos)
}

[2021-06-08 01:50] BohuTANG commented on #430
Sound interesting.
For functions, as long as they are helpful to the user, we should have them(MySQL's style function may not work well for analytics)!
BTW, I have add a functiuon track issue here https://github.com/datafuselabs/datafuse/issues/758

[2021-06-08 01:52] BohuTANG commented on #430
FYI, all the tracks also in Roadmap: https://github.com/datafuselabs/datafuse/issues/746

[2021-06-08 02:25] PsiACE commented on #760
Caused by git submodule? Wait for arrow to be published to crates.io, or maintain a fork without test data.

[2021-06-08 05:43] BohuTANG commented on #760
Yes, it's the submodule.

[2021-06-08 07:15] BohuTANG commented on #754
Thanks for the reference, but it looks no help here.

[2021-06-08 08:26] zhang2014 commented on #758
Add:
sleep(N seconds) for test:  sleep function allows to suspend the query for N seconds
materialize([column1, column2, ...]) for performance test: materialize function allows Scalar columns to convert  to Array columns. useful for performance testing.

[2021-06-08 09:20] sundy-li opened #767 "[Query] Add combinator `distinct`, `if` for aggregate functions"
**Summary**

Add combinator `distinct`, `if` for aggregate functions.

[2021-06-08 09:39] sundy-li commented on #767
clickhouse: https://github.com/ClickHouse/ClickHouse/blob/master/src/AggregateFunctions/AggregateFunctionCombinatorFactory.cpp

[2021-06-08 10:51] #767 closed

[2021-06-08 12:12] sundy-li opened #771 "Return default value when aggregating empty data"
(you don't have to strictly follow this form)

**Describe the bug**

[code]

Expect to return null, https://www.db-fiddle.com/f/qDnLWye3pM1thKfx4d8Z2M/0

[2021-06-08 13:50] drmingdrmer opened #774 "[Store] Complete ActionHandler test for: create_db() and get_db()"
**Summary**

- [x] test create_db
- [ ] test drop_db
- [ ] test create_table
- [ ] test drop_table
- [ ] test get_table
- [x] add get_db and test.

There should be a unit test for `ActionHandler::create_db()`:

https://github.com/datafuselabs/datafuse/blob/fbe6bd8d3f761736ca03a1c932753320cd54e1b8/fusestore/store/src/executor/action_handler.rs#L100-L122

A test should start up an `ActionHandler` wi

[2021-06-08 14:11] drmingdrmer opened #775 "[Store] Complete ActionHandler test for: create_table(), drop_table() and get_table()"
**Summary**

There should be a unit test for `ActionHandler::create_db()`:

https://github.com/datafuselabs/datafuse/blob/fbe6bd8d3f761736ca03a1c932753320cd54e1b8/fusestore/store/src/executor/action_handler.rs#L124-L159

A test should start up an `ActionHandler` with a `Dfs` as backend, and assert expected behavior.
Reference:

https://github.com/datafuselabs/datafuse/blob/fbe6bd8d3f761736ca03a1c9

[2021-06-08 14:24] drmingdrmer opened #776 "[Store] Add test: raftmeta: check to-non-voter replication when leader transfered."
**Summary**

Test replication to non-voters works as expected when raft leader changes. Reference:

https://github.com/datafuselabs/datafuse/blob/fbe6bd8d3f761736ca03a1c932753320cd54e1b8/fusestore/store/src/meta_service/raftmeta_test.rs#L208-L238

Note:
async-raft does not store non-voters. A leader adds non-voters after when it is established.

[2021-06-08 14:53] drmingdrmer commented on #747
@BohuTANG mind track progress with a project? https://github.com/datafuselabs/datafuse/projects/21

[2021-06-08 15:26] drmingdrmer opened #778 "Should we rename ErrorCodes to ErrorCode?"
**Summary**

`ErrorCdoes` is a struct that defines a single error code, not a collection of error codes

https://github.com/datafuselabs/datafuse/blob/fbe6bd8d3f761736ca03a1c932753320cd54e1b8/common/exception/src/exception.rs#L33-L40

[2021-06-08 15:33] BohuTANG commented on #747
@drmingdrmer
not mind, we can have a try.
Personally, issue track keep all the history and status in one table, it's more clearly for the contributors to know our roadmap at first time.
Like to use project for development not roadmap track.
We should try and choose one best way.

[2021-06-08 17:01] PsiACE commented on #761
FYI, https://github.com/onur/cargo-license

[2021-06-08 17:31] PsiACE opened #780 "[docs] deploy from source, but not found file or dir"
**Describe the issue**

In https://datafuse.rs/overview/building-and-running/ , we can deploy from source:

[code]

but, if we do not build datafuse before running, will get some errors:

[code]

[2021-06-08 18:51] PsiACE commented on #762
/assignme

[2021-06-08 23:38] BohuTANG commented on #778
+1
cc @zhang2014

[2021-06-09 00:34] BohuTANG opened #783 "[function] Add Description and Example for function"
**Summary**

1. Add description and example to function trait
[code]

2. system.functions
mysql> select * from system.functions;

| name   |      is_aggregate      |  return_type |  description | example |
|----------|:-------------:|------:|------:|------:|

[2021-06-09 00:45] sundy-li commented on #783
So we can generate the docs for functions from sql.

[2021-06-09 00:46] BohuTANG commented on #783
Good idea @sundy-li

[2021-06-09 01:12] BohuTANG commented on #783
This is useful for user, they can only find all the usage from the system.functions instead of going back to the documentation.

[2021-06-09 01:16] BohuTANG opened #784 "[function] add `like` `not like`"
**Summary**

* like
* not like

[2021-06-09 01:17] BohuTANG commented on #758
Add:
`like` `not like`

[2021-06-09 01:27] BohuTANG commented on #749
https://github.com/datafuselabs/fusebots/commit/90b9ca4d8728cdc901ae6cafaeb35a981c25172d

[2021-06-09 01:27] #749 closed

[2021-06-09 02:38] zhang2014 commented on #783
Cool!, anything is SQL

[2021-06-09 02:53] PsiACE commented on #783
Love it.

[2021-06-09 03:00] b41sh commented on #784
/assignme

[2021-06-09 03:01] #778 closed

[2021-06-09 04:54] zhang2014 opened #786 "Print test summary only once"
**Summary**
Print test summary only once.

[code]

***Expect***

[code]

[2021-06-09 05:14] #786 closed

[2021-06-09 06:06] BohuTANG opened #788 "[refactor] Refine plan_expression_chain.rs"
**Summary**
It looks more clear to sperate plan_expression_chain.rs files to:

plan_expression_chain.rs
plan_expression_action.rs

[2021-06-09 06:06] BohuTANG commented on #788
cc @sundy-li

[2021-06-09 06:09] #780 closed

[2021-06-09 06:28] #716 closed

[2021-06-09 06:36] BohuTANG opened #790 "[plan] Add set_description for plan and actions"
**Summary**

Like ClickHouse does, shows each step or action in more detail for the explain or log dump.

Example:
![image](https://user-images.githubusercontent.com/172204/121305128-cd4db580-c92f-11eb-92ae-63f7046ab68a.png)

https://github.com/ClickHouse/ClickHouse/blob/7e610b54771e15cb2e701165d2e2c8b315a7da42/src/Interpreters/InterpreterSelectQuery.cpp#L2446-L2448

[2021-06-09 07:34] BohuTANG opened #792 "[observability] add custom panic hook to common/tracing"
**Summary**

Query/Store can install a custom panic hook, error the custom log when panic.
It can:
1. catch the panic info
2. send the log to tracing

Reference:
https://github.com/tokio-rs/tracing/blob/master/examples/examples/panic_hook.rs

[2021-06-09 08:01] BohuTANG commented on #758
Add:
`EXTRACT` https://github.com/datafuselabs/datafuse/issues/428

[2021-06-09 08:39] BohuTANG opened #794 "[observability] http profiling"
**Summary**

IOx Profiling is very cool, it brings golang pprof to Rust:
https://github.com/influxdata/influxdb_iox/blob/main/docs/profiling.md

[2021-06-09 08:43] BohuTANG opened #795 "[roadmap-track] observability track"
Main issue tracking for observability.

# Tasks

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [http profiling #794 ](https://github.com/datafuselabs/datafuse/issues/794) | DONE  |  v0.5 |   |
| [http tracing #805 ](https://github.com/datafuselabs/d

[2021-06-09 08:43] PsiACE commented on #794
https://github.com/tikv/pprof-rs

[2021-06-09 08:54] BohuTANG commented on #794
IOX using it for http profiling, an interesting projection.

[2021-06-09 09:03] BohuTANG opened #796 "[roadmap-track] test infra track"
Main issue tracking for test infra.

# Tasks

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [Test Infra for CI #748](https://github.com/datafuselabs/datafuse/issues/748) | PROGRESS  |  v0.4 | Make the CI works on self hosted k8s cluster <br /> @ZhiH

[2021-06-09 09:21] BohuTANG opened #797 "[roadmap-track] store track"
Main issue tracking for  store.

# Tasks

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [github project #21](https://github.com/datafuselabs/datafuse/projects/21) | PROGRESS  |  v0.5 | @drmingdrmer   |

[2021-06-09 09:24] BohuTANG commented on #797
Redirect to https://github.com/datafuselabs/datafuse/issues/271

[2021-06-09 09:24] #797 closed

[2021-06-09 10:52] BohuTANG opened #799 "[test] change CI test log level from INFO to ERROR"
**Summary**

They are too many noise in CI test log, we should change the log level from INFO to ERROR.

[2021-06-09 11:57] #762 closed

[2021-06-09 12:10] sundy-li opened #800 "Context Function broke the column name"
**Describe the bug**

Context Function broke the column name.

It'll confuse the clients (all kinds of drivers...)

**How to reproduce**

[code]

We should refactor the column_name method in Expression for these special cases.

[2021-06-09 13:34] #788 closed

[2021-06-09 14:30] #799 closed

[2021-06-09 15:49] zhang2014 opened #802 "[function] add sleep function"
**Summary**
[code]

[2021-06-10 00:37] #802 closed

[2021-06-10 00:43] BohuTANG commented on #794
/assignme

[2021-06-10 01:09] BohuTANG opened #805 "[observability] http tracing"
**Summary**

Add REST API to rpc/http for showing logs from the web side.

Reference:
https://github.com/tokio-rs/tracing/issues/884
https://github.com/tokio-rs/console
https://github.com/tokio-rs/tracing/tree/master/tracing-opentelemetry

[2021-06-10 01:16] BohuTANG opened #806 "[observability] change the tracing instrument level from INFO to DEBUG"
**Summary**

* debug!() for verbose messaging, more reasonable.

[2021-06-10 01:38] lideen999 opened #807 "if for aggregate functions, has performance problems and is very slow 。"
(you don't have to strictly follow this form)

**Describe the situation**
   The new feature, if aggregator, has performance problems and is very slow

as see ：
sql = "SELECT sumif(number, number > 100000 ) FROM numbers_mt(100000000) ;"

result：128.89 MB/s.
┌─sumif(number, (number > 100000))─┐
│                 4999994949950000 │
└──────────────────────────────────┘
1 rows in set. Elapsed: 6.213 s

[2021-06-10 01:45] sundy-li commented on #807
Yes, it's not auto vectorized

[code]

[2021-06-10 04:35] l1t1 opened #808 "fusequery-v0.4.12-nightly-linux-aarch64 and above cannot run"
[code]

[2021-06-10 04:44] l1t1 commented on #808
0.4.11.can run
0.4.17 cannot run

[2021-06-10 04:53] l1t1 commented on #808
[code]

[2021-06-10 04:56] l1t1 commented on #808
[code]

[2021-06-10 07:39] BohuTANG commented on #808
`ClickHouse handler error: Address in use (os error 98)'` --  9000 port is already by others.

[2021-06-10 08:55] sundy-li opened #810 "Generic DataTypes with associate ColumnChunk<Type>"
**Summary**

Currently, it's hard to apply generic functions/classes  in `datafuse`, because we don't have our own types and arrays. Enum for types is not a good way in rust to implement generic structs.

I propose to introduce these ASAP.

Related codes in other systems:

https://github.com/pola-rs/polars/blob/master/polars/polars-core/src/datatypes.rs#L119-L155

Related issue:
 #644

[2021-06-10 08:59] sundy-li commented on #644
@JmPotato  Now, I am fully convince of that, I create an issue to track this #810

[2021-06-10 09:39] l1t1 commented on #808
how to fix it?  and why 0.4.11 version can run

[2021-06-10 09:59] #806 closed

[2021-06-10 10:16] BohuTANG commented on #808
It seems not related to the version, should check who is using the 9090 port.
By the way, Datafuse is iterating fast, please use the latest version, nightly only for test.

[2021-06-11 00:18] l1t1 commented on #808
clickhouse used 9090.
could datafuse use another port?

[2021-06-11 01:34] BohuTANG commented on #808
try:
[code]

[2021-06-11 02:01] wangzhen11aaa opened #814 "fusequery-standalone.sh on Mac env"
**Summary**
make run and encounter this Error.
Error
->timeout command not found.

Resolve this problem:

1.brew install coreutils
2.timeout->gtimeout.
gtimeout 60 sh -c 'until nc -z $0 $1; do sleep 1; done' 0.0.0.0 9191

[2021-06-11 02:23] wangzhen11aaa opened #815 "datafuse is running,but the 9000 port is not listening."
**Describe the bug**
make run and use clickhouse client to connect ,get the connection refused error.

**FuseQuery version**
FuseQuery v-0.1.0-1c7a97f(1.54.0-nightly-2021-06-11T01:00:55.104037+00:00)
*

**Expected behavior**
We can use ./clickhouse client --host 127.0.0.1 --port 9000 to connect datafuse and then query.

**Error message and/or stacktrace**

➜  programs git:(comment_code) ✗ ./clickh

[2021-06-11 02:24] #814 closed

[2021-06-11 02:32] wangzhen11aaa commented on #815
It work now. Local Clickhouse use d

[2021-06-11 02:32] #815 closed

[2021-06-11 03:05] l1t1 opened #816 "why running the same sql cost 2 times time"
Make sure to check documentation https://datafuse.rs first.
[code]

[2021-06-11 03:11] sundy-li commented on #808
[code]

[2021-06-11 03:38] wangzhen11aaa commented on #816
![image](https://user-images.githubusercontent.com/7311971/121627135-62c08500-caa9-11eb-8653-504b27d44587.png)
I test same sql via datafuse and ck on my local environment.

[2021-06-11 03:43] wangzhen11aaa commented on #816
I personally think the pipeline for this sql is simple, (maybe not), but it should not behave like that. Thanks advance.

[2021-06-11 03:43] sundy-li commented on #816
@wangzhen11aaa  Thanks for the report.

You can try `SELECT avg(number) a FROM numbers_mt ( 10000000000);` instead, and I will investigate your SQL, maybe it's the problem of pipeline.

[2021-06-11 03:54] sundy-li commented on #816
make profile can't reproduce in master code.
[code]

[2021-06-11 03:58] sundy-li commented on #816
This may be the cause of context runtime, cc @zhang2014

[2021-06-11 04:14] l1t1 commented on #816
I run it many times. the difference does exist.
[code]

[2021-06-11 04:18] l1t1 commented on #816
[nohup.out.zip](https://github.com/datafuselabs/datafuse/files/6635793/nohup.out.zip)

[2021-06-11 05:43] sundy-li commented on #816
@wangzhen11aaa  It's related to log level, which is fixed in #801, you could try

`./fuse-query --log-level warn`

[2021-06-11 06:00] wangzhen11aaa commented on #816
ok.

[2021-06-11 06:13] wangzhen11aaa commented on #816
datafuse :) SELECT avg(number) a FROM (select * from numbers_mt ( 1000000000)) ;

SELECT avg(number) AS a
FROM
(
    SELECT *
    FROM numbers_mt(1000000000)
)

Query id: b7bd7486-cb35-4b48-a6a1-be01fa59bf4a

↑ Progress: 2.69 million rows, 21.54 MB (609.42 million rows/s.↗ Progress: 122.47 million rows, 980.64 MB (3.46 billion rows/s→ Progress: 247.21 million rows, 1.98 GB (3.72 billion rows/s.,↘

[2021-06-11 06:16] BohuTANG commented on #816
I will finished https://github.com/datafuselabs/datafuse/issues/794 ASAP, it's helpful to determine this case.

[2021-06-11 07:19] BohuTANG opened #817 "[aggregate combinator] Unsupported column type:Null"
(you don't have to strictly follow this form)

**Describe the bug**

Client:
[code]
Error:
[code]

ClickHouse works:
[code]

[2021-06-11 08:55] sundy-li commented on #808
It's the issue of  be compatible with `clickhouse-client` v21.1.1.7113, I'll look at it.

[2021-06-11 09:19] sundy-li commented on #808
Related to https://togithub.com/ClickHouse/ClickHouse/pull/22237 , I'll find a way to handle it.

[2021-06-11 09:59] sundy-li commented on #808
Fixed in https://github.com/sundy-li/clickhouse-svr/commit/ddd2fcae4f87117ade34468cd28638747a415394

[code]

[2021-06-11 10:20] #808 closed

[2021-06-11 10:20] BohuTANG opened #822 "[memory] Measuring the performance of different memory allocators"
**Summary**

[jemallocator](https://github.com/tikv/jemallocator)
[snmalloc-rs](https://github.com/SchrodingerZhu/snmalloc-rs)

[2021-06-11 11:06] BohuTANG commented on #548
New one:

[code]

[2021-06-11 16:12] sirinath commented on #746
Can you add the ability to notify insertions and updates like in https://rethinkdb.com/

[2021-06-11 23:45] #817 closed

[2021-06-12 00:03] BohuTANG commented on #746
Could you give a specific doc link about it?

[2021-06-12 06:15] sirinath commented on #746
See this: https://rethinkdb.com/blog/realtime-web/

[2021-06-13 03:34] jyizheng opened #826 "Support IN Operator"
**Summary**

Support

- IN (value1, value2, ...)
- IN (SELECT STATEMENT);

[2021-06-13 03:34] jyizheng commented on #826
/assignme

[2021-06-13 05:06] zhang2014 commented on #758
Add:
IN Operator #826

[2021-06-13 14:26] zhang2014 opened #827 "Extract getter and setter of settings from context to settings"
**Summary**
Refactor: Extract getter and setter of settings from context to settings

[2021-06-13 15:26] #827 closed

[2021-06-14 04:52] b41sh commented on #800
/assignme

[2021-06-14 09:33] #784 closed

[2021-06-14 10:55] #794 closed

[2021-06-14 23:59] BohuTANG opened #830 "[profiling] ubuntu-latest for x86_64-unknown-linux-musl: cannot find function `pthread_getname_np` in crate `libc`"
(you don't have to strictly follow this form)

**Describe the bug**
[code]

Reference:
https://github.com/tikv/pprof-rs/issues/41

[2021-06-15 01:49] TennyZhuang commented on #727
Hi, any update here?

[2021-06-15 01:54] BohuTANG commented on #727
I guess @dantengsky PR can be opened again at any time

[2021-06-15 01:58] dantengsky commented on #727
@TennyZhuang @BohuTANG  I'd like to re-open the PR (rebased with master branch) later today.

[2021-06-15 01:59] BohuTANG commented on #727
Cool, Thanks.
Let's more rustacean!

[2021-06-15 02:33] jyizheng commented on #727
Sound great to me to follow the guideline.

[2021-06-15 02:35] jyizheng commented on #504
Just tried the SQL on current mater branch. Got the error below:

ERROR 1105 (HY000): Code: 1002, displayText = Invalid argument error: Unable to get field named "b". Valid fields: ["number"].

[2021-06-15 02:35] jyizheng commented on #504
/assignme

[2021-06-15 04:28] #727 closed

[2021-06-15 04:28] #744 closed

[2021-06-15 12:50] zhang2014 opened #832 "Graceful shutdown for FuseQuery"
**Summary**
- [x] MySQL Handler [#704]
- [x] ClickHouse Handler [#931]
- [x] Metric API Service [#863]
- [x] HTTP API Service [#854]
- [x] RPC API Service [#931]

[2021-06-15 12:57] zhang2014 opened #833 "Destroy the worker thread pool after query"
**Summary**
The worker pool of the query is bound to the FuseQueryContext and it is destroyed after session. We expect these worker thread pools to be destroyed immediately after the query.

- [x] MySQLHandler [#704]
- [x] ClickHouseHandler [#931]
- [x] RPCService [#931]

https://github.com/datafuselabs/datafuse/blob/064820f75faa3e4ba658377ef1910a9f1d2a0d8c/fusequery/query/src/sessions/context.rs#

[2021-06-15 13:13] zhang2014 opened #834 "Reject connection when they are greater than max_connections_size"
**Summary**

- [x] MySQLHandler [#704]
- [x] ClickHouseHandler [#931]

https://github.com/datafuselabs/datafuse/blob/064820f75faa3e4ba658377ef1910a9f1d2a0d8c/fusequery/query/src/servers/mysql/mysql_handler.rs#L133-L140

***Reference from MySQL***
https://dev.mysql.com/doc/mysql-errors/8.0/en/server-error-reference.html#error_er_con_count_error
https://dev.mysql.com/doc/mysql-errors/8.0/en/server-e

[2021-06-15 13:19] zhang2014 opened #835 "Database catalog should shared to multiple sessions"
**Summary**
Database catalog should shared to multiple sessions

- [x] MySQL Handler [#704]
- [x] ClickHouse Handler [#931 ]

https://github.com/datafuselabs/datafuse/blob/064820f75faa3e4ba658377ef1910a9f1d2a0d8c/fusequery/query/src/sessions/context.rs#L46-L64

[2021-06-15 14:23] #816 closed

[2021-06-15 15:11] drmingdrmer opened #836 "`test_meta_cluster_write_on_non_leader` has chance to fail"
Not yet reproduced this failure locally with a variety of configurations and delay emulation. I'm gonna keep an eye on it.

[code]

_Originally posted by @BohuTANG in https://github.com/datafuselabs/datafuse/issues/548#issuecomment-859503829_

[2021-06-16 03:34] #185 closed

[2021-06-16 15:01] zhaox1n commented on #771
it seems partly different behavior between mysql and clickhouse when aggregation function works on empty data, should  only be consistent with mysql?

[2021-06-16 15:44] BohuTANG commented on #610
Some browser has this issue, like edge

[2021-06-16 15:45] zhaox1n commented on #771
/assignme

[2021-06-16 16:59] PsiACE commented on #783
/assignme

[2021-06-17 05:55] #717 closed

[2021-06-17 06:41] #800 closed

[2021-06-17 12:56] sundy-li commented on #835
`DataSource::try_create()` is expensive for each session, maybe better hold a ref to a global instance.

[2021-06-17 13:01] BohuTANG commented on #835
Hi @sundy-li , catalog will be designed as an LRU cache, and it only load the meta which we need by the session, I think @dantengsky  is more professional on this, he is designing on it

[2021-06-17 13:02] dantengsky commented on #835
/assignme

[2021-06-17 14:54] zhang2014 commented on #835
In this task, we will only share Arc<DataSource> to fuse query all sessions. maybe this should not affect the catalog design ?

[2021-06-17 15:17] dantengsky commented on #835
That's fine, pls go ahead.

[2021-06-18 05:15] BohuTANG commented on #830
Temporary solution: change musl to gnu https://github.com/datafuselabs/datafuse/commit/21ec77c6207ff88b0ad25a9e8f1e16244543d4cc

[2021-06-18 06:30] PsiACE commented on #761
/assignme

[2021-06-18 15:08] zhang2014 commented on #758
Add:
toStartOfInterval: https://clickhouse.tech/docs/en/sql-reference/functions/date-time-functions/#tostartofintervaltime-or-data-interval-x-unit-time-zone

[2021-06-19 00:20] BohuTANG opened #850 "[function] toStartOfInterval"
**Summary**

[code]

Reference:
https://clickhouse.tech/docs/en/sql-reference/functions/date-time-functions/#tostartofintervaltime-or-data-interval-x-unit-time-zone

[2021-06-19 01:59] BohuTANG opened #851 "[common] move tokio to common"
**Summary**

Move the tokio crate to common, as arrow-rs

[2021-06-19 02:01] BohuTANG opened #852 "[security] Pull Request Security Audit"
**Summary**

Add Pull Request Security Audit CI, like tokio did:
https://github.com/tokio-rs/tokio/blob/master/.github/workflows/pr-audit.yml

[2021-06-19 02:27] sundy-li opened #853 "[functions] Functions Working with Date/DateTime"
From  https://clickhouse.tech/docs/en/sql-reference/functions/date-time-functions/

prio order from high to low
- [x] now (#1648)
- [x] today (#1648)
- [x] yesterday (#1673)
- [x] tomorrow (#1673)
- [x] toDate, toDateTime    (cast number/string into Date/DateTime)
- [x] timeSlot (#1715)
- [x] toYYYYMM (#1726)
- [x] toYYYYMMDD (#1767)
- [x] toYYYYMMDDhhmmss (#1767)
- [x] toStartOfYear (#1826)
- [x]

[2021-06-19 02:28] #771 closed

[2021-06-19 03:51] sundy-li commented on #520
http://myeyesareblind.com/2017/02/06/Combine-hash-values/

[2021-06-19 13:03] sundy-li opened #856 "[query] fuse-client"
**Summary**

A lightweight client works for DataFuse in rust, we can build it base on ClickHouse protocol.

[2021-06-19 14:37] BohuTANG commented on #856
Hi @sundy-li the client mainly used for?

[2021-06-19 14:54] sundy-li commented on #856
It's a low priority.

1. Display progress values like `clickhouse-client` but full support with datafuse.
2. Auto-complete or other useful features which `mysql` may lack.

[2021-06-19 16:29] BohuTANG commented on #520
Hash each key seems a good idea, not sure how ClickHouse did, need to dig it.

[2021-06-19 16:32] BohuTANG commented on #850
Move to #853

[2021-06-19 16:32] #850 closed

[2021-06-19 16:33] BohuTANG commented on #758
Add:
Date/DateTime : https://clickhouse.tech/docs/en/sql-reference/functions/date-time-functions/

[2021-06-19 22:39] #851 closed

[2021-06-20 01:44] zhang2014 commented on #856
👍 It's cool to have DataFuse own client (very low priority).

[2021-06-20 12:11] BohuTANG commented on #852
arrow-rs deps flatbuffers = "=0.8.4" vulnerability:
[code]

[2021-06-20 12:26] dantengsky commented on #852
never heard this before, rust's "ecosystem" is amazing!

[2021-06-20 19:13] PsiACE commented on #852
also see https://deps.rs/repo/github/datafuselabs/datafuse

Maybe we could also add `[![dependency status](https://deps.rs/repo/github/datafuselabs/datafuse/status.svg)](https://deps.rs/repo/github/datafuselabs/datafuse)` to README file.

[2021-06-21 01:02] BohuTANG commented on #852
Interesting and useful.

[2021-06-21 01:16] BohuTANG commented on #852
It would be better if arrow-rs upstream to fix it:
https://github.com/apache/arrow-rs/issues/476

[2021-06-21 01:46] BohuTANG opened #860 "[build] support RISC-V build"
(you don't have to strictly follow this form)

**Describe the bug**
[code]

Error:
[code]

https://github.com/apache/arrow-rs/blob/6e2f68420e03fe6926e8c2ffbd4441fc8cc1aeab/arrow/src/alloc/alignment.rs
missing the `cfg(target_arch = "riscv")` for ALIGNMENT

[2021-06-21 02:02] drmingdrmer opened #861 "[store] testing: move integration tests into standalone crates"
**Summary**

Currently all tests are compiled within crate `fuse-store`. Every single change results in a complete re-compile.

Goal:
Move integration tests, such as that bring up a small cluster, to some **tests** crate, i.e., put them in the `tests/` so that every file is compiled into a standalone testing crate.

[2021-06-22 00:56] BohuTANG opened #866 "[sqlparser] better sql parser?"
**Summary**

[sqlparser-rs](https://github.com/ballista-compute/sqlparser-rs)  is not easy to extend and we are looking for a good alternative(if have), comments are welcome

Reference:
https://github.com/datafuselabs/datafuse/blob/36dce2064742a1d64bfcf9a7cd308d0f5a3e4eb5/fusequery/query/src/sql/sql_parser.rs

[2021-06-22 01:05] BohuTANG commented on #866
[nom-sql[(https://github.com/ms705/nom-sql) but no update for a long time

[2021-06-22 02:24] dantengsky opened #867 "Catalog API"
**Summary**

Currently `DataSource` API provides us the essential functionalities of manipulating metadata,  but as we moving the v0.5,  some extra requirements should be fulfilled, including but not limited to:

  - <del>periodically sync metadata with(from) meta-store</del>
  - metadata of database, table should be versioned, as we are going to provide time travel features
  - exposes a session-

[2021-06-22 02:25] PsiACE commented on #866
It seems that sqlparser lacks good alternatives. If necessary, we may need to maintain one by ourselves.

[quaint](https://github.com/prisma/quaint) is not a parser, but
- An AST for building dynamic SQL queries.
- Visitors for different databases to generate SQL strings.

[toydb-parser](https://github.com/erikgrinaker/toydb/tree/master/src/sql/parser) is the parser for toydb

[2021-06-22 02:33] dantengsky opened #868 "Persistent Metastore & Metadata Syncing API"
**Summary**

- Merges `mem_engine` into mod `meta_service` to make meta info persistent
- Provides API for syncing metadata
   issue #684 also cares about this
- Enhance store flight service accordingly

[2021-06-22 03:17] sundy-li commented on #866
How about parsers from yacc rules?

[2021-06-22 03:40] dantengsky commented on #866
FYI :

lalrpop: an lr(1) parser generator   (lexer could be customized)

repo: https://github.com/lalrpop/lalrpop
doc: http://lalrpop.github.io/lalrpop/

-  never exercise it before
-  seems it lacks precedence/association rules declaration (again I am not sure.)

After googling around, I found a SQL parser using it:

https://github.com/hmwill/vervolg/blob/main/src/sql.lalrpop

[2021-06-22 03:42] BohuTANG commented on #548
[code]
https://github.com/datafuselabs/datafuse/runs/2880840620#step:4:1160

cc @zhang2014

[2021-06-22 03:44] leiysky commented on #866
`nom` is a nice parser combinator, with which we can extend SQL syntax easily.

I think we can fork [nom-sql](https://github.com/ms705/nom-sql) or make one from scratch(not a big deal).

Here's a `nom` [Cypher parser](https://github.com/leiysky/tigraph/blob/master/src/parser/parser.rs) I wrote at a Hackathon, which only cost me about few hours :rofl: . FYI.

[2021-06-22 04:09] zhang2014 opened #869 "[FR] Provide a simple user API for FuseQuery"
**Summary**
Provide a simple user API for FuseQuery(We can ignore permissions)
- Add user (username, password, salt?)
- Drop user (username, password, salt?)
- Update user password(username, password, salt?)
- Get users info

MySQL authentication method: https://dev.mysql.com/doc/internals/en/authentication-method.html

CC: @dantengsky

[2021-06-22 04:10] BohuTANG commented on #866
https://github.com/lalrpop/lalrpop is rust yacc

[2021-06-22 04:36] leiysky commented on #866
Based on my experience, working with bison(yacc) is suffering.

Here's the MySQL's yacc file, which has about 17,000 LOC.

https://github.com/mysql/mysql-server/blob/8.0/sql/sql_yacc.yy

Imagine that coding in a extremely huge plain text file without lint tool(no jump, no high light, no auto format), what a pain.

[2021-06-22 04:42] PsiACE commented on #866
You are right, I also prefer a handwritten parser

[2021-06-22 05:11] drmingdrmer opened #871 "[store] MetaNode support `AddDatabase`"
**Summary**

- Create a new BTreeMap in `Meta` to store database.
- Add a new enum item to `ClientRequest` to support `AddDatabase` request.
- Add API to `MetaNode` to deal with `AddDatabase` request.

If the database with the same name presents, `MetaNode` should return the present one and apply nothing to raft state machine.

[2021-06-22 05:13] drmingdrmer opened #872 "[store] MetaNode support `AddTable`"
**Summary**

- Create a new BTreeMap in `Meta` to store tables.
- Add a new enum item to `ClientRequest` to support `AddTable` request.
- Add API to `MetaNode` to deal with `AddTable` request.

If the table with the same name presents, `MetaNode` should return the present one and apply nothing to raft state machine.

[2021-06-22 05:21] BohuTANG opened #873 "[observability] system.tracing table"
**Summary**

Collect tokio tracing trace data to fuse-query `system.tracing` table(as a memory subscriber) and can be analyzed.
* add tracing to rotation file with json format
* fill datas for system.tracing from log dir

[2021-06-22 05:22] BohuTANG commented on #795
Add:
system.tracing #873

[2021-06-22 05:23] drmingdrmer opened #874 "[store] ActionHandler should store database into raft cluster instead of into local in-memory data"

[2021-06-22 05:30] #640 closed

[2021-06-22 06:06] #871 closed

[2021-06-22 06:17] tlightsky commented on #866
yes, hard to make changes to it

[2021-06-22 13:07] drmingdrmer commented on #867
Versions of table is a single listed list, or could it be a DAG?

[code]

[2021-06-22 13:18] #683 closed

[2021-06-22 14:29] BohuTANG commented on #867
I think it's a single chain like git

[2021-06-22 15:52] leiysky commented on #867
How does DDL work?

[2021-06-22 15:52] drmingdrmer commented on #867
You're right. In every case it does not need a DAG history. I was overthinking.

[2021-06-22 16:23] dantengsky commented on #867
"v0 <- v1 <- v2 " is enought for time travel.

The above figure may describe:
  -  both `v2` and `v1` concurrently commit on the base of `v0`, and `v1` wins. `v2` successfully resolves conflicts and commits later.
  - both `v3` and `v2` concurrently commit on the base of `v1`, and `v2` wins. `v4` successfully resolves conflicts and commits later.

 Transaction operation log will contain an item/en

[2021-06-22 16:30] dantengsky commented on #867
Roughly speaking,
- DDL interpreters call catalog API
- catalog API call metastore (via fight service rpc)
- catalog sync with metastore

Any specific concerns or suggestions(sincerely welcome)?

[2021-06-22 17:04] dantengsky commented on #869
sorry bro, just noticed this FR. I will look into it.

[2021-06-23 00:41] BohuTANG opened #878 "Bump sqlparser-rs"
**Summary**

https://github.com/datafuse-extras/sqlparser-rs

35ef0eee3857c59827b2587bc813218a00dce264 -> 56e50dccd48acdd2ac4ae079010c62f9b8d03f3f

[2021-06-23 04:41] dantengsky commented on #869
CC: @zhang2014
I pushed a draft PR #881, please review the API; any suggestions or requirements, please feel free to comment.

[2021-06-23 05:09] sundy-li opened #882 "[deployment] painless deployment"
**Summary**

For a  quick installation of datafuse, it might be useful  to  integrate the deployment with `cargo-deb` and `cargo-rpm`

https://github.com/iqlusioninc/cargo-rpm
https://github.com/mmstick/cargo-deb

[2021-06-23 05:35] BohuTANG commented on #882
Maybe we need a deploy tool(DatafuseUP) like [tiup](https://docs.pingcap.com/zh/tidb/stable/production-deployment-using-tiup) for both on-premise and on-cloud.
cc @ZhiHanZ

[2021-06-23 05:39] BohuTANG commented on #882
This maybe useful:
https://github.com/sagiegurari/cargo-make

[2021-06-23 06:06] zhang2014 opened #883 "[FR] cluster management for FuseQuery"
**Summary**

FuseQuery is a stateless service. It should be very easy to scale in and scale out. for example:
[code]

In this case, we need FuseStore as registry center. we may need the following APIs:
- Register node(namespace, node_name, ip, flight_port, CPUs, Memory, heartbeat_interval)
- Heartbeat(namespace, node_name)
- GetRegisteredNodes

CC: @dantengsky @BohuTANG

[2021-06-23 06:24] BohuTANG commented on #883
Very cool.

Now store:
1. storage
2. metadata
3. KV API for states

For cluster node register, 2 questions:
Q1: Only KV API is ok?
Q2: Need subscriber and notify?

[2021-06-23 06:37] zhang2014 commented on #883
It's ok, but we need expire_key api.

It's not necessary. we can fetch it once every query. but it's better to provide `subscriber` and `notify`

[2021-06-23 06:48] BohuTANG opened #885 "[refactor] rename plan_partition.rs Partition to Part"
**Summary**

It's confusing for store, `Part` looks more clearly.

[2021-06-23 07:18] dantengsky commented on #883
sorry to cut in, I have a strong feeling that in the long run, we need another layer like snowflake's [cloudservice](https://docs.snowflake.com/en/user-guide/intro-key-concepts.html#snowflake-architecture), and separates `meta` `authentication/authorization` `infra mgt` from `store` layer.

[2021-06-23 07:22] BohuTANG commented on #883
`cloud service` make sense.
`cloudservice` is a builtin or builton of the store :)

[2021-06-23 07:33] dantengsky commented on #883
oops, I just deleted the comment, I "recover" it here. :D

[2021-06-23 08:35] drmingdrmer opened #887 "`common/runtime/src/runtime_test.rs` should block until all task quits"
**Summary**

[code]

[2021-06-23 10:21] drmingdrmer opened #888 "[store] add ActionHandler::get_database()"
**Summary**

`get_database()` for synchronizing meta from store to query.

as part of #774

@dantengsky It's my fault with the previous PR. To avoid duplicated work on this feature, I should have left an issue about what I am doing.

[2021-06-23 10:36] drmingdrmer commented on #883
Making meta service a standalone sub system? That smells good.

[2021-06-23 10:38] drmingdrmer commented on #885
You are saving my ass. I've been struggled with these terms.

[2021-06-23 11:42] jovany-wang commented on #883
I have some thoughts which may be naive but I think they're worth sharing for your reference.

My proposal here is to abstract a component `ClusterManagement`(`CloudService`is also fine to me) to manage our cluster, including nodes, plans and others. It has some features:
- (1) It's stateless and it ports external meta storage as plugin.
- (2) It provides SQL-like API.
- (3) It supports listen/not

[2021-06-23 13:11] drmingdrmer commented on #883
@jovany-wang Thanks for sharing.

If the `ClusterService` is stateless, it can be simply a lib right?
Does it have to be some kind of service?

[2021-06-23 14:25] jovany-wang commented on #883
Yes.

I'm afraid there's no such service in open source.

Anyway there are visible benefits to make meta storage plugable.

[2021-06-23 19:37] dantengsky opened #891 "ErrorCode could not be seder-ed across RPC"
(you don't have to strictly follow this form)

**Describe the bug**

Seems that if server-side raises common_exception, client-side always receives `Status { code: Internal, message: "h2 protocol error: protocol error: unexpected internal error encountered" }`, thus can not de-serialize ErrorCode from `Status::message` properly. ( I've tried using `details` instead of `message`, no lucky).

some c

[2021-06-23 20:00] dantengsky commented on #891
found the reason:

`backtrace` is too large, header size exceeds the max value : (

[2021-06-23 23:39] #878 closed

[2021-06-24 00:21] BohuTANG opened #893 "[docker] Rename fuse-query to datafuse"
**Summary**

Docker image including two parts now:
fuse-query
fuse-store

It's time to rename `docker pull datafusedev/fuse-query` to `docker pull datafuselabs/datafuse`

[2021-06-24 00:56] BohuTANG opened #894 "[roadmap-track] RBAC track"
**Summary**

Main issue tracking for Access Control and Account Management.

# Tasks

| Task                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [user API for query #869](https://github.com/datafuselabs/datafuse/issues/869) | DONE  |  v0.5 |   |
| [ user and pas

[2021-06-24 00:58] BohuTANG commented on #746
Add:
RBAC track

[2021-06-24 01:01] BohuTANG commented on #746
Thanks.
File a new isuee to discuss it? Welcome anytime

[2021-06-24 02:15] drmingdrmer commented on #883
@jovany-wang Looking forward to a more detailed design of it. 😃

E.g., the abstraction layer API, what the sql layer schema would be like and how to implement **listen** with sql.

BTW an example/illustration of a complete workflow of fusequery node accessing the meta data would make your idea concrete, intuitive and easy to understand for everybody.

[2021-06-24 02:31] drmingdrmer commented on #891
🤔 Then how do we avoid this problem after all?

[2021-06-24 02:59] PsiACE commented on #852
Now we can close this issue

[2021-06-24 03:22] PsiACE commented on #147
FYI, https://github.com/stateright/stateright

[2021-06-24 03:44] sirinath opened #895 "Push based continuous queries"
Generally database queries and pull based where the database would poll to see any updates. For ultra low latency high throughput real time applications this is in efficient. Ideally we should have push based continuous queries. Here when data changes the changes are notified to application.

[2021-06-24 03:44] sirinath commented on #746
OK. Done: https://github.com/datafuselabs/datafuse/issues/895

[2021-06-24 04:09] dantengsky commented on #891
by truncating the backtrace message to a safe size like this:

[code]
we are losing some call stacks ... any better idea?

[2021-06-24 06:03] drmingdrmer commented on #891
@dantengsky
Hmm... the header size is about 16K, I do not know why the backtrace is so big.

[code]

All of the fields of `Status` are put into header. I did not see a way we could be able to send large data through `Status`.
[code]

Another thought I had is to encode error into grpc response instead of into `Status`.
e.g.:
[code]

[2021-06-24 06:19] sundy-li opened #896 "[mysql] add progress values response to mysql client"
**Summary**
add progress values response to mysql client

[code]

Refer in clickhouse,  https://github.com/ClickHouse/ClickHouse/blob/master/src/Processors/Formats/Impl/MySQLOutputFormat.cpp#L63-L87

[2021-06-24 07:35] #888 closed

[2021-06-24 07:43] BohuTANG commented on #896
Cool feature.
But it not a task to do it, mysql-svr needs a patch like:
https://github.com/BohuTANG/msql-srv/commit/4c3331f6cb07c0d48d968b4394c7f0e932503aba

[2021-06-24 07:48] dantengsky commented on #883
@jovany-wang

Really appreciate it!!

Does this mean that `Query` should have some approaches to access different catalogs, like Spark's [CatalogPlugin](https://issues.apache.org/jira/browse/SPARK-31121https://issues.apache.org/jira/browse/SPARK-31121) does?

   metadata of extra catalogs are not stored in datafuse's Store layer.
   Configurations of catalog plugins may be kept in the Store, and p

[2021-06-24 08:04] dantengsky commented on #883
Wow, those are exciting features! Looking forward to your further comments/docs.
Again,  your opinions are very helpful, truly thanks!

[2021-06-24 08:26] BohuTANG opened #898 "[cluster] add executor interface"
**Summary**

For distributed query, fuse-query first to check the cluster nodes is empty or not.
If nodes is not empty, the plan will add some remote stages and create a new one:
https://github.com/datafuselabs/datafuse/blob/d51f8dad4997049a68c07e969f9c4949ccfaa025/fusequery/query/src/interpreters/plan_scheduler.rs#L36-L45

It would be better&clear to wrap an abstract layer, executor:
[code]

In c

[2021-06-24 08:32] BohuTANG commented on #898
This is in discussion, comments are welcome :dancers:

[2021-06-24 08:43] dantengsky commented on #891
That sounds reasonable to me, does it mean:

- `Status` for "System exception/errors"
- `ErrorCode` for "API Surface exception/errors"

Do this fit well with flight service signatures?

[2021-06-24 08:56] BohuTANG commented on #883
For datafuse, I think we need a common/cloud_service mod, it includes many components, cluster manager is one of them.

For this part, it should support:
[code]
All datas are serialized and stored in the Store.

Will meet all the needs?

[2021-06-24 09:42] jovany-wang commented on #898
Sorry for being not so familiar with the details. Is `ExecutorNode` you mentioned above is a physical pod or a logical node of plan?

[2021-06-24 09:45] BohuTANG commented on #898
physical pod, it tells where the remote plan to executed.

[2021-06-24 09:50] jovany-wang commented on #883
My proposal here is for meta storage only.
But what you mentioned here is a good idea to me. Spark has the abilities to access data in different formats by using plugin.

[2021-06-24 09:53] jovany-wang commented on #895
Looks interesting! It'd be great if you can share more docs or more details to help us understand it. :)

[2021-06-24 10:12] drmingdrmer commented on #891
Right. But this modification will affect a lot in our code base.
Another option is to get rid of backtrace from serialized error(but keep `cause`, which is much smaller).

@BohuTANG @zhang2014 @sundy-li

[2021-06-24 11:28] sirinath commented on #895
This concept is taken from https://rethinkdb.com/. It is descried in https://rethinkdb.com/blog/realtime-web/.

[2021-06-24 11:57] #852 closed

[2021-06-24 12:27] sundy-li commented on #891
Maybe we can have a smaller backtrace instead, by using some util method to filter the backtrace.

[2021-06-24 13:41] sundy-li commented on #895
Sounds like noria, https://www.youtube.com/watch?v=s19G6n0UjsM&t=1934s

[2021-06-24 14:12] drmingdrmer commented on #891
I don't know. Last time I happened to have to dig into a backtrace of 150 frames, which means, the avg bytes for every frame is about 100 bytes.

[2021-06-24 15:17] sirinath commented on #895
Yes

[2021-06-25 00:47] BohuTANG opened #899 "[shutdown] can not force shutdown"
(you don't have to strictly follow this form)

**How to reproduce**
Make a panic for a system table, such as `system.functions` table:
[code]

clickhouse client:
[code]

server side is hang and can not force shutdown.

**Error message and/or stacktrace**

fuse-query log:
[code]

gdb stacktrace:
[code]

[2021-06-25 00:47] BohuTANG commented on #899
cc @zhang2014

[2021-06-25 03:11] BohuTANG commented on #883
This task will start when https://github.com/datafuselabs/datafuse/pull/881 is done.

Initial design:
1. fuse-store supports common kv api (after #881 )
2. cluster informations serialized to kv and stored in fuse-store
3. fuse-query can add/update/get cluster informations with namespace via the api

[2021-06-25 03:39] dantengsky opened #900 "[Store] Provides a generic KV API"
**Summary**

Store needs to provide a generic KV API, as a primitive service, which clusters management, user management can be built on.

functionalities:

- get by key (and by keys)
- put
- list (by prefix)

[2021-06-25 03:49] BohuTANG opened #901 "[query] SHOW CREATE TABLE Statement"
**Summary**

`SHOW CREATE TABLE tbl_name`

Reference:
https://dev.mysql.com/doc/refman/8.0/en/show-create-table.html

[2021-06-25 03:51] BohuTANG commented on #765
Add:
SHOW CREATE TABLE #901

[2021-06-25 04:35] BohuTANG opened #903 "[test] SELECT crashme(sleep(1))"
**Summary**

`SELECT crashme(sleep(1))` will give a panic and see what's the fuse-query going, this is useful for testing.

[2021-06-25 04:41] jyizheng opened #904 "Using the same mpcs::channle for the query and store"
We can use the mpcs::channel in the query and store code.

https://github.com/datafuselabs/datafuse/blob/2fcec9447d54e0a1aa9e196f4487218394bf6f51/common/flights/src/store_client.rs#L320

https://github.com/datafuselabs/datafuse/blob/8a3008010501dca0a1613b60eee95df5b3b53ea1/fusequery/query/src/api/rpc/flight_dispatcher.rs#L18

[2021-06-25 04:51] BohuTANG commented on #899
BTW:
This issue https://github.com/datafuselabs/datafuse/issues/903 maybe helpful for testing

[2021-06-25 05:36] BohuTANG opened #905 "[plan] add pushdowns for ReadDataSourcePlan"
**Summary**

For fuse-query, there are two phases to read datas from fuse-store:
* Read the datasource plan
* Read the datas by the datasourcde plan

Codes are:
https://github.com/datafuselabs/datafuse/blob/2fcec9447d54e0a1aa9e196f4487218394bf6f51/fusequery/query/src/datasources/table.rs#L25-L34

Currently the `read` interface can not push down `Filter` `Projection` to tell the fuse-store filte mo

[2021-06-25 05:45] #873 closed

[2021-06-25 07:05] ZhiHanZ opened #907 "[Config] Load Environment Configuration after load toml config file"
(you don't have to strictly follow this form)

**Summary**

Currently we are adopting arguments and toml files for fuse-query part configuration, however in k8s or container environment, we should prefer to adopt environment variable as the final configuration

configure kubernetes env variable is not working because fuse query only use fuse-query.toml for its configuration

**Expected behavior**

[2021-06-25 07:38] BohuTANG commented on #907
It seems that structopt `from_args` and `from_args_with_toml` can not be used together for a same arg.
So, it would be better only used ENV args mode on k8s, not using toml file.

I don't think https://github.com/softprops/envy for it, it has args mode only.

[2021-06-25 09:48] BohuTANG opened #910 "[optimizer] support limit push down"
(you don't have to strictly follow this form)

**Describe the bug**

Start fuse-query:
[code]

clickhouse client:
[code]

Can not get the push down limit in the ReadSourcePlan `push_downs`, patch(Not merge to master yet):
https://github.com/datafuselabs/datafuse/pull/908/files#diff-5e1c887fc51d586402e26b76fb7b5a03765d6808f6eef3fb4ddb119f381b1745R108

[2021-06-25 09:58] BohuTANG commented on #910
We can take the limit push down back:
https://github.com/datafuselabs/datafuse/pull/216/files#diff-70bcd68dc7c167f86978e44910638689745d00f1bf646d0d39fcf14abeb5b48d

I forgot why took it off from the optimizer.

cc @jyizheng

[2021-06-25 10:04] BohuTANG commented on #548
New one:
[code]

cc @drmingdrmer

[2021-06-25 10:28] drmingdrmer commented on #548
@BohuTANG
Where did you see this error?

[2021-06-25 10:49] BohuTANG commented on #548
This happens in running unit-tests job, I have restart the job and the logs are gone.

[2021-06-25 12:02] #905 closed

[2021-06-25 12:39] drmingdrmer commented on #548
Shall we turn on `RUST_BACKTRACE=1` for CI?  Error message like this one provided very little information.

[2021-06-25 12:43] BohuTANG commented on #548
Sure

[2021-06-25 13:38] b41sh commented on #901
/assignme

[2021-06-25 14:22] jyizheng commented on #910
sound good

[2021-06-25 14:23] jyizheng commented on #910
/assignme

[2021-06-25 18:58] PsiACE opened #913 "[ci] add cache for build"
**Summary**

looks like:

[code]

[2021-06-25 19:00] PsiACE commented on #904
I recommend using `futures::channel`

[2021-06-25 23:35] #885 closed

[2021-06-26 01:06] BohuTANG opened #914 "[optimizer][CBO] count(*) with table statistics"
**Summary**

For query `select count(*) from system.numbers(100000)`, ReadDataSourcePlan has `Statistics`:
https://github.com/datafuselabs/datafuse/blob/28c8e3eda9fb8de881635343d3225b3e7be07b4b/common/planners/src/plan_read_datasource.rs#L17-L26

In this case, we can use the `read_rows` as the final `count`:
https://github.com/datafuselabs/datafuse/blob/28c8e3eda9fb8de881635343d3225b3e7be07b4b/com

[2021-06-26 01:12] BohuTANG opened #915 "[roadmap-track] Cost based optimizer(CBO)"
Main issue tracking for Cost based optimizer.

# Queries

| Queries                                         | Status    | Release Target | Comments        |
| ----------------------------------------------- | --------- | -------------- | --------------- |
| [count(*) with table statistics #914](https://github.com/datafuselabs/datafuse/issues/914)  | DONE  | v0.5  | |
| [exact min/max with table st

[2021-06-26 01:15] BohuTANG commented on #746
Add:
Cost based optimizer(CBO) track #915

[2021-06-26 01:25] BohuTANG commented on #805
This task is easy after https://github.com/datafuselabs/datafuse/pull/879, the REST API can read tracing from system.tracing:
`SELECT * FROM system.tracing`

[2021-06-26 01:32] #899 closed

[2021-06-26 03:34] BohuTANG opened #918 "[functions] Conditional Functions"
**Summary**

If
Controls conditional branching. Unlike most systems, ClickHouse always evaluate both expressions then and else.
Syntax:
[code]

Example:

Query:
[code]
Result:
[code]

Query:
[code]

Result:
[code]

Reference:
https://clickhouse.tech/docs/en/sql-reference/functions/conditional-functions/#if

[2021-06-26 03:36] BohuTANG commented on #758
Add:
[Conditional Functions #918](https://github.com/datafuselabs/datafuse/issues/918)

[2021-06-26 03:50] BohuTANG opened #919 "[MySQL] server panic client get many times `ERROR 2013`"
(you don't have to strictly follow this form)

**Describe the bug**
For the query:
`SELECT * FROM (SELECT crashme(sleep(1)))`

The MySQL client get 3 times `ERROR 2013`:
[code]

Server log:
[code]

[2021-06-26 06:09] jovany-wang commented on #883
Looks good to me for current stage.

[2021-06-26 07:29] #903 closed

[2021-06-26 07:39] BohuTANG opened #923 "[doc] document test functions"
**Summary**

Add sleep and crashme to test functions

[2021-06-26 08:16] #923 closed

[2021-06-27 06:05] zhang2014 commented on #915
reference about cockroachdb CBO:
https://github.com/petermattis/opttoy
https://github.com/cockroachdb/cockroach/tree/master/pkg/sql/opt/norm/rules
https://www.cockroachlabs.com/blog/building-cost-based-sql-optimizer

[2021-06-27 12:25] BohuTANG opened #930 "[ui] web console"
**Summary**

Admin and monitor web console for datafuse, the simple version including:
Query:
1. cluster query running
2. cluster information
3. CPU/Mem usage

Store:
1. cluster information
2. CPU/Mem usage
3. Storage usage

[2021-06-28 02:29] BohuTANG opened #933 "[datavalues] remove array scalar arithmetic"
**Summary**

Change `DataValueArithmeticOperator::Div` and `DataValueArithmeticOperator::Modulo` from scalar to array vector:
https://github.com/datafuselabs/datafuse/blob/8dbb10f0b5801e59deea7b2c5bcbd233aeca4fcd/common/datavalues/src/data_array_arithmetic.rs#L100-L130

[2021-06-28 03:22] BohuTANG opened #935 "[security] mask/remove the user and password for config debug"
**Summary**

[code]

Remove user/password config from debug.

[2021-06-28 03:23] BohuTANG commented on #933
Closed: https://github.com/datafuselabs/datafuse/pull/934#pullrequestreview-693520613

[2021-06-28 03:23] #933 closed

[2021-06-28 04:28] wangzhen11aaa commented on #935
assign me. I will try.

[2021-06-28 04:46] wangzhen11aaa commented on #935
assign me.

[2021-06-28 05:03] BohuTANG commented on #935
/help

[2021-06-28 05:14] wangzhen11aaa commented on #935
/assignme

[2021-06-28 05:15] wangzhen11aaa commented on #935
/help

[2021-06-28 08:00] #907 closed

[2021-06-28 08:06] wangzhen11aaa commented on #935
My Original idea is that make some string replacement before the log. (Affects the least codes).
But in mac environment,  I run the `make run` command  did not find
Config { log_level: "INFO", log_dir: "./_logs", num_cpus: 16, mysql_handler_host: "127.0.0.1", mysql_handler_port: 3307, mysql_handler_thread_num: 256, clickhouse_handler_host: "127.0.0.1", clickhouse_handler_port: 9000, clickhouse_han

[2021-06-28 08:15] BohuTANG commented on #935
Hi @wangzhen11aaa
 the easy way is to implement a debug trait and ignore/mask the password fields to display.

[2021-06-28 08:20] wangzhen11aaa commented on #935
That's a good idea, but where can I find the log?

[2021-06-28 08:24] BohuTANG opened #936 "[rfc] rename RFC name"
**Summary**

Rename to `0000-template` style.

[2021-06-28 08:34] #936 closed

[2021-06-28 08:36] BohuTANG commented on #936
I can not find some PR/Issues referenced to the old join&store RFC file, if have please let me know and I'll fix it.
Thanks.

cc @leiysky @drmingdrmer

[2021-06-28 09:12] zhang2014 commented on #747
Add: implement broadcast distributed query
CC: @jyizheng

[2021-06-28 09:46] BohuTANG opened #938 "[CLI] bendctl: databend cli"
**Summary**

Tasks:
- [ ] #1434

[2021-06-28 14:04] ZhiHanZ commented on #938
/assignme

[2021-06-28 14:05] ZhiHanZ commented on #913
https://www.lpalmieri.com/posts/fast-rust-docker-builds/ another interesting project using docker layer caching

[2021-06-28 14:32] BohuTANG commented on #938
@ZhiHanZ I will have a try in Rust first, what do you think?

[2021-06-28 14:45] ZhiHanZ commented on #938
I think worth trying, although go provide official client go support in https://github.com/kubernetes/client-go, we desire simplified approach to deploy applications in multi-cloud and local environment and needs rust native approach for cargo related part, for k8s related development, we could use https://github.com/clux/kube-rs, as far I know krustlet works fine with it https://github.com/deisla

[2021-06-28 17:44] jyizheng commented on #222
This issue can be closed.

[2021-06-28 18:38] jyizheng commented on #900
I guess "list" means scan or iterator here.

[2021-06-28 18:43] dantengsky commented on #900
yeah right, a range iterative

I guess "list" means scan or iterator here.

[2021-06-28 18:45] dantengsky commented on #900
Right, just a range iterator

[2021-06-28 23:44] #222 closed

[2021-06-29 00:26] #426 closed

[2021-06-29 00:30] BohuTANG opened #941 "[doc] add `exists` document"
**Summary**

add `exists` to document

Note: after `in` #826  subquery done

[2021-06-29 00:40] BohuTANG opened #942 "[ci] cargo clippy should failed when have warnings"
**Summary**

There are many wanings after patch #764 :
https://github.com/datafuselabs/datafuse/runs/2937392884

The ci should failed when clippy has warnings

[2021-06-29 00:43] BohuTANG commented on #942
It's better to run `make lint` local before push the patch
FYI @jyizheng

[2021-06-29 00:44] jyizheng commented on #942
Sure. Let me fix these warnings.

[2021-06-29 01:01] BohuTANG commented on #942
I am fixing it :dancers:

[2021-06-29 01:34] BohuTANG opened #944 "[explain] better plan/pipeline explain display"
**Summary**

For some subquery, the explain format is not pretty.

For example:

Plan:
[code]

Pipeline:
[code]

[2021-06-29 01:37] BohuTANG commented on #826
After `exists` #764 done, it's time for this task to start :dancing_women

[2021-06-29 01:41] jyizheng commented on #826
Yes, that is my plan. I have discussed the design with @zhang2014  and @sundy-li,
I am trying to make those thoughts more concrete.

[2021-06-29 01:59] #942 closed

[2021-06-29 07:46] BohuTANG opened #945 "[tracing] tracing to file for store"
**Summary**

Add tracing event to file for store

[2021-06-29 14:54] #945 closed

[2021-06-29 18:15] drmingdrmer opened #949 "2021 datafuse labs T-shirt is coming!"
This is a small gift for contributors who have been working on datafuse.

Like it or not like it?
We are listening! https://github.com/datafuselabs/datafuse-shop/pull/1

![2021-tshirt](https://user-images.githubusercontent.com/44069/123845046-514ef800-d946-11eb-8ad5-bd5181a4b5ce.png)

- `data`: with cloud as background;
  Using a classic font to represent enterprise data on cloud.

- `fuse` and th

[2021-06-30 03:19] BohuTANG commented on #746
Add:
datafuse cli #938 to Deployment task

[2021-06-30 11:52] BohuTANG opened #953 "[improvement] downcast_ref::<*>().unwrap() to error"
**Summary**

There are many `downcast_ref::<*>().unwrap()`, we should return them to error

[2021-06-30 14:09] drmingdrmer opened #954 "[store] general-kv: list by prefix"
**Summary**

Retrieve a list of keys(or key-value pairs) from raft state machine.

reference:

https://github.com/datafuselabs/datafuse/blob/d4447709e730025edc3a23d97a30659da49c91a5/fusestore/store/src/meta_service/state_machine.rs#L318-L322

Unit test examples:

https://github.com/datafuselabs/datafuse/blob/d4447709e730025edc3a23d97a30659da49c91a5/fusestore/store/src/meta_service/state_machine_te

[2021-06-30 16:18] #935 closed

[2021-07-01 00:29] #807 closed

[2021-07-01 04:18] dantengsky commented on #954
hi, There is a  `StateMachine::prefix_list_kv` in PR#881, for (user API get_all_users)

https://github.com/dantengsky/fuse-query/blob/c7501a6de140f38e2c18bffe2fcb936d756e6064/fusestore/store/src/meta_service/state_machine.rs#L363-L375

[2021-07-01 06:31] sundy-li commented on #953
Already addresses in #819

[2021-07-01 08:37] BohuTANG commented on #953
OK, Thanks

[2021-07-01 09:34] drmingdrmer commented on #954
@ariesdevil
It seems you do not need to do this anymore...

@dantengsky
This is supposed to be a first shot practice for @ariesdevil

By the way, it'd better return key-value pairs for a list request.

https://github.com/dantengsky/fuse-query/blob/c7501a6de140f38e2c18bffe2fcb936d756e6064/fusestore/store/src/meta_service/state_machine.rs#L369-L376

[2021-07-01 09:39] dantengsky commented on #954
@drmingdrmer Yeah right, I am fixing that.

[2021-07-01 11:01] TennyZhuang commented on #914
/assignme

[2021-07-01 12:14] #869 closed

[2021-07-01 12:14] #900 closed

[2021-07-01 14:04] #810 closed

[2021-07-01 14:40] BohuTANG commented on #949
Hello Datafuse Contributors,

Our 2021 T-shirt will be released soon, please email us with your t-shirt **sizing** and mailing **address&phone** to **hi@datafuselabs.com**

Contributors:
@leiysky
@tlightsky
@TennyZhuang
@b41sh
@smallfish
@JmPotato
@taiyang-li
@zhaox1n
@tisonkun
@TCeason

If anyone is missing, please leave a comment let me know, thanks!

Shirt Sizing Charts:
![datafuse-t-shirt-size

[2021-07-01 16:02] zhang2014 commented on #949
@BohuTANG
And @wangzhen11aaa #947

[2021-07-02 01:00] sundy-li commented on #953
We have these now.
[code]

[2021-07-02 01:00] #953 closed

[2021-07-02 01:08] BohuTANG opened #962 "[improvement] move aggregate_functions to functions"
**Summary**

Move aggregate_functions to functions.

-functions
   - scalars
   - aggregates

cc @sundy-li

[2021-07-02 02:51] jyizheng opened #964 "handle correlated subquery properly"
**Summary**

Need to report error for correlated subquery like below for Exists or redesign the solution:

SELECT column1, column2, ....
FROM table1 outer
WHERE column1 Exists
                    (SELECT column1, column2
                     FROM table2
                     WHERE expr1 =
                               outer.expr2);