[2021-11-01 16:21] Junnplus commented on #2563
take this

[2021-11-01 16:35] PsiACE commented on #2563
/assignme rand() function

[2021-11-02 00:28] BohuTANG commented on #2583
@PsiACE may interesting it

[2021-11-02 01:15] PsiACE commented on #2583
https://github.com/mozilla/grcov/pull/701

We can try using the pre-compiled version

[2021-11-02 01:18] BohuTANG commented on #2583
Let's do it

[2021-11-02 01:37] #2583 closed

[2021-11-02 02:22] BohuTANG opened #2589 "[meta] panicked at 'called `Result::unwrap()` on an `Err` value: Code: 2407, displayText = targeting version 1, current version 2."
**Summary**

Failed at https://github.com/datafuselabs/databend/runs/4070390168?check_suite_focus=true

Supplementary info:

- A first guess is that `MetaCached` cached table info thus no updated table can be re-fetched in a CAS-loop. This is fixed in #2603 . Keep watching other CI to see if this exception disspears.
- Another issue is the `TableVersionMissMatch` error is not dealt with. The follo

[2021-11-02 02:22] BohuTANG commented on #2589
cc @dantengsky @drmingdrmer

[2021-11-02 02:27] Junnplus commented on #2563
/assignme sin() cos() cot() tan() function

[2021-11-02 02:53] drmingdrmer opened #2591 "Make Catalog an async trait."
Catalog depends on `MetaApi`, which is an async trait.
Blocking an async task is the easiest way to deadlock, as mentioned in:

- #2460
- #2492

TODO:

- [x] #2593

[2021-11-02 02:57] dantengsky commented on #2589
in this case, there is another version of table "default::T1"  inside our embedded meta, two ways come into mind to resolve this issue:
  - use a unique `meta_embedded_dir` for this test case
  - use a unique table name for this test case

@drmingdrmer I am not sure which one is more proper, any suggestions?

@sundy-li, I have noticed that there is an error message

is it supposed to appear in thi

[2021-11-02 03:01] drmingdrmer opened #2593 "`MetaStoreCatalog`: use an inner `MetaApi` instead of a `MetaApiSync`."
https://github.com/datafuselabs/databend/blob/e6176eea042506a9a6f49721ce11ddd3980a01fe/query/src/catalogs/impls/catalog/metastore_catalog.rs#L55-L60

[2021-11-02 03:02] drmingdrmer commented on #2593
@zhang2014 @dantengsky

[2021-11-02 03:15] #2567 closed

[2021-11-02 03:25] BohuTANG opened #2594 "topK function"
**Summary**

After https://github.com/datafuselabs/databend/pull/2569 merged, it's time to support `topK` function.

## Syntax

[code]

## Arguments

| Arguments   | Description |
| ----------- | ----------- |
| N  | The number of elements to return, default 10 |

## Return Type

The array of the approximately most frequent values.

## Examples
[code]

[2021-11-02 03:38] BohuTANG opened #2595 "[DOC] Add `limit+offset` example"
**Summary**

PR: https://github.com/datafuselabs/databend/pull/2569
Add to: https://databend.rs/sqlstatement/data-manipulation-language-dml/dml-select/#limit-clause

[2021-11-02 04:18] BohuTANG commented on #2191
![image](https://user-images.githubusercontent.com/172204/139786227-1a8509e3-bfeb-4bee-a39b-1c02b96af3f9.png)
Still not working....

[2021-11-02 04:34] sundy-li commented on #2589
No, let's resolve the `TableVersionMissMatch` firstly.

[2021-11-02 04:36] dantengsky commented on #2589
roger

[2021-11-02 04:39] #2462 closed

[2021-11-02 04:54] BohuTANG opened #2597 "[DOC] Add function `PI()` to `Numeric Functions` Category"
**Summary**

https://github.com/datafuselabs/databend/pull/2584

[2021-11-02 05:41] flaneur2020 commented on #2563
/assignme LOG(), LOG10(), LOG2()

[2021-11-02 05:59] drmingdrmer commented on #2589
I'm not quite sure whether it is the root cause:
In the latest branch `main`, embedded meta-store always is created in a temp dir and uses a unique sled-tree name.
Thus unit tests should not affect each other.

https://github.com/datafuselabs/databend/blob/969abfece84a3b4050d8a96262700606760a31f0/query/src/catalogs/impls/catalog/metastore_catalog.rs#L81
https://github.com/datafuselabs/databend/blo

[2021-11-02 06:56] dantengsky commented on #2589
roger & thanks

it used to be,  if recall correctly, a cache for versioned table meta info. since we no longer allow accessing table by id and version (I am ok with it), I think we can remove this cache

[2021-11-02 07:05] #1895 closed

[2021-11-02 07:31] drmingdrmer opened #2601 "> What about adding these config to a script like stateless-test-s3 and let user run it by just one click?"
good idea!  like `ci-run-stateless-tests-cluster-tls.sh`.

_Originally posted by @dantengsky in https://github.com/datafuselabs/databend/issues/2555#issuecomment-957164068_

[2021-11-02 07:42] Cerdore commented on #2373
I would like to take on this issue. But I'm wondering if adding the healthcheck command to the dockerfile is all it takes.

[2021-11-02 07:44] Cerdore commented on #2373
/assignme

[2021-11-02 08:23] #2597 closed

[2021-11-02 08:24] #2591 closed

[2021-11-02 08:24] #2593 closed

[2021-11-02 08:28] drmingdrmer commented on #2030
Closing.

- Other unfinished issues are moved to #2306

[2021-11-02 08:28] #2030 closed

[2021-11-02 08:46] BohuTANG commented on #2030
Great job
Give a big :rocket:

[2021-11-02 09:12] BohuTANG commented on #2589
This issue stille exists(triggered by the main branch CI):
https://github.com/datafuselabs/databend/runs/4077452057?check_suite_focus=true

[2021-11-02 09:29] youngsofun opened #2604 "post json instead of sql in /v1/statement/"
**Summary**

the first version of http handler,  post raw sql statement to   /v1/statement/.
I think it is better to post json instead to carry more context info.

[code]

## reasons

1.  one place to organize all context infos.
2. header and params are key-value, need other effort to embed complex info
3. params and header have encode requirements  and length limitation.

## how

since  /v1/state

[2021-11-02 09:39] youngsofun commented on #2604
trino v2 plan to use json too

https://github.com/trinodb/trino/wiki/Trino-v2-client-protocol

[2021-11-02 09:41] flaneur2020 commented on #2604
the trino v2 protocol is much better IMO 🤔

[2021-11-02 09:44] ZhiHanZ commented on #2604
I prefer json schema. post json  data provided advanced security guarantees and would be good to integrate needed fields without missing, on contrary, add a lot of queries in get would be quite messy

[2021-11-02 09:53] youngsofun commented on #2604
snow flake:

https://docs.snowflake.com/en/developer-guide/sql-api/index.html

[2021-11-02 10:16] drmingdrmer opened #2605 "Fix Table version mismatched error."
[code]

https://github.com/datafuselabs/databend/runs/4077452057?check_suite_focus=true

- A first guess is that `MetaCached` cached table info thus no updated table can be re-fetched in a CAS-loop. This is fixed in #2603 . Keep watching other CI to see if this exception disspears.
- Another issue is the `TableVersionMissMatch` error is not dealt with. The following TODO is meant to get this done:

[2021-11-02 10:16] youngsofun commented on #2604
@ZhiHanZ  which do you prefer

[2021-11-02 10:20] drmingdrmer commented on #2605
@dantengsky

[2021-11-02 10:22] ZhiHanZ commented on #2604
case 3 looks make sense, `v1/statement` is for debugging and simple demo, `v1/query` works for cloud platform

[2021-11-02 10:30] dantengsky commented on #2605
roger, digging into it. can not re-produce in local dev yet.

I guess `ClientHandle::insert` is executed asyncly, even if
`insert(&mut handler, &test_tbl_name, block).await?;` is used in test case

[2021-11-02 10:48] drmingdrmer opened #2606 "Load timeout for RPC from config."
I think `5000` should be a constant or feed it in the config file.

_Originally posted by @ariesdevil in https://github.com/datafuselabs/databend/pull/2600#discussion_r740842891_

[2021-11-02 10:51] dantengsky commented on #2605
No, it is not the case, just confirmed with @sundy-li

[2021-11-02 10:55] drmingdrmer commented on #2605
Roger that, and:
- close this and track this issue in #2589

[2021-11-02 10:55] #2605 closed

[2021-11-02 11:08] drmingdrmer commented on #2589
Another consistency issue with `MetaCache`(now cache has been removed from `main` branch):

Two concurrent `get_table_by_id()` has chance overrides each others' data:

[code]

[code]

I do not in the test case `test_clickhouse_insert_to_fuse_table` if possible there are 2 concurrent `get_table_by_id()` is running. 🤔

[2021-11-02 11:11] flaneur2020 opened #2608 "Allow get the fields of a table in a easy parsed format"
**Summary**

currently we can get the table schema by `show create table xxx`, but it's in a sql format:

[code]

it's human friendly, but hard for machine to interpret the table schema.

currently I want build a sql IDE for databend, it has a explorer panel allowing user to view a table's fields, and searchable, but there's no way to easily discover the table fields yet.

there's a `system.column

[2021-11-02 11:32] BohuTANG commented on #2608
This is a general requirement not only `system.tables` case, we should support define the output format with `FORMAT JSON`.
See
https://clickhouse.com/docs/en/interfaces/formats/#json

@zhang2014 any suggestions?

[2021-11-02 12:08] drmingdrmer opened #2612 "Avoid async calls in sync function: move get_database() to upper"
Is it all right to move the `cata.get_database(&db_name).await` from `set_current_database()` to its caller `execute()`?
This will get rid of one of the async-in-sync call

https://github.com/datafuselabs/databend/blob/088f8bbb95d2a7c04cd0fe67df795765cd23ce3f/query/src/interpreters/interpreter_use_database.rs#L47-L52

https://github.com/datafuselabs/databend/blob/088f8bbb95d2a7c04cd0fe67df795765cd

[2021-11-02 12:08] drmingdrmer commented on #2612
@zhang2014

[2021-11-02 13:02] sundy-li commented on #2608
That's a big work: formats for input/output data, we can address it if necessary.

But this is not related to this issue.

`show create table`  outputs data with fields: `Table` and `Create Table`, I guess it's to be compatible with MySQL's behavior.

[2021-11-02 13:05] dantengsky commented on #2589
for commit 44c21ebe4  (which triggered error `TableVersionMissMatch` in CI) ,  `MetaCache::get_table_by_id` is not invoked  by `test_clickhouse_insert_to_fuse_table`

[2021-11-02 13:09] flaneur2020 commented on #2608
the behaviour of `show create table` should not be touched, what we might try is adding infomation about the fields outside.

I think @zhang2014 's comment in https://github.com/datafuselabs/databend/pull/2609#issuecomment-957366951 is a good idea, a JSON formatted field is pretty tricky 🤔

[2021-11-02 13:16] zhang2014 commented on #2608
`SHOW COLUMNS db.table` statement also should be allowed

[2021-11-02 13:17] flaneur2020 commented on #2608
/assignme

[2021-11-02 13:18] flaneur2020 commented on #2608
/help

[2021-11-02 13:19] flaneur2020 commented on #2525
adding a `system.columns` table with a `SHOW COLUMNS table` syntax: https://github.com/datafuselabs/databend/issues/2608

[2021-11-02 13:50] flaneur2020 commented on #2525
HTTP API with polling based incremental body response & progress metadata

[2021-11-02 13:52] flaneur2020 commented on #2525
a new databend-playground with a modern SQL IDE

[2021-11-02 13:53] sundy-li commented on #2594
Take this as priority-low because this is not an easy task and there are more urgent tasks. If someone is interested in it, feel free to open a pr.

Refer docs:
- ClickHouse: https://clickhouse.com/docs/en/sql-reference/aggregate-functions/reference/topk/
- [Filtered Space-Saving](http://www.l2f.inesc-id.pt/~fmmb/wiki/uploads/Work/misnis.ref0a.pdf)
- reduce-and-combine algorithm from [Parallel Spa

[2021-11-02 14:46] #2575 closed

[2021-11-02 15:02] ZhiHanZ opened #2615 "[QUERY] INSERT Behavior"
**Summary**

Strange issue occured during `INSERT INTO` query

**How to reproduce**
[code]

works
[code]

not work
[code]
**Error message and/or stacktrace**

If applicable, add screenshots to help explain your problem.

**Additional context**

Add any other context about the problem here.

[2021-11-02 15:38] Junnplus commented on #2563
/assignme crc32()

[2021-11-02 15:50] youngsofun commented on #2604
/assignme

[2021-11-02 21:36] junli1026 opened #2617 "number table apply optimizer's limit and order by"
**Summary**

For query like 'select number from numbers(10000000000) order by number limit 10', the read_table should just return first 10 number ordered asc, no need to return all numbers in the range.

[2021-11-02 21:37] junli1026 commented on #2617
/assignme

[2021-11-02 21:37] junli1026 commented on #2595
/assignme

[2021-11-03 01:34] Junnplus commented on #2563
/assignme DEGREES() RADIANS()

[2021-11-03 01:39] dantengsky commented on #2615
seems the insert sql do not match the table schema , there are extra col inside the values;

we may need to change it to something like this

[2021-11-03 01:48] dantengsky commented on #2615
![2021-11-03-093746_1832x262_scrot](https://user-images.githubusercontent.com/22081156/139999626-d9ee68dd-d9ca-44cc-be74-91fe47d6cd3e.png)

[2021-11-03 02:24] #2615 closed

[2021-11-03 02:54] Junnplus opened #2618 "[DOC] Add doc for trigonometric function"
**Summary**

https://github.com/datafuselabs/databend/pull/2610

[2021-11-03 02:54] Junnplus commented on #2618
/assignme

[2021-11-03 03:42] #2618 closed

[2021-11-03 04:06] #2601 closed

[2021-11-03 04:07] #2571 closed

[2021-11-03 04:14] Junnplus opened #2620 "[DOC] Add doc for crc32 function"
**Summary**

https://github.com/datafuselabs/databend/pull/2616

[2021-11-03 04:14] Junnplus commented on #2620
/assignme

[2021-11-03 05:29] drmingdrmer commented on #2589
### Maybe it is because DatabendQueryContextShared cached table info?
@zhang2014 is it possible to happen? I'm not very familiar with session and context, need your help XDDD.

I added several println to `DatabendQueryContextShared::get_table()`:

https://github.com/drmingdrmer/databend/blob/ecc7cc9b80ac2b12f195b59fd2d6f7451dddc1a6/query/src/sessions/context_shared.rs#L117-L148

[code]

And when p

[2021-11-03 05:32] flaneur2020 commented on #2608
there's a `DESCRIBE {db}.{table}` syntax which already met my needs 😂, sorry for interrupt.

https://databend.rs/sqlstatement/describe-commands/describe-table/

[2021-11-03 05:32] #2608 closed

[2021-11-03 05:42] dantengsky commented on #2589
@drmingdrmer FYI, I have done a similar debug:

[code]

[code]

- the two insertions belongs to the same session
- cache **seems** to be different

[2021-11-03 05:55] drmingdrmer commented on #2589
@dantengsky
It is weird 🤔
- The `cache ptr`(tables_refs) are the same.
- `get_table()` seems to be the only place where `tables_refs` is used.

Thus `get_table()` should always return the same result(ver)

[2021-11-03 06:00] #2620 closed

[2021-11-03 06:02] dantengsky commented on #2589
same feeling…

[2021-11-03 07:28] zhyass opened #2626 "Need process escape character in quoted string"
**Summary**

Databend need process escape character in sqlparser.

**How to reproduce**

**Error message and/or stacktrace**
[code]

**Additional context**

[2021-11-03 07:53] sundy-li opened #2627 "Support `copy` command to load csv/parquet or s3 file into table"
**Summary**

Description for this feature.

 support copy command to load csv file into table.

[code]

task list:

- [x] support copy stage csv/parquet file into table #2878
- [x] support async read stream to parse formats #2786
- [x] #3082

Reference:
https://www.postgresql.org/docs/13/sql-copy.html
https://docs.snowflake.com/en/sql-reference/sql/copy-into-table.html
https://duckdb.org/docs/sql/

[2021-11-03 07:56] ZhiHanZ commented on #2627
I think it should be a query semantic in http handler?

[2021-11-03 07:58] sundy-li commented on #2627
But we need to upload localfile, how could http handler handle this?

[2021-11-03 08:11] #2595 closed

[2021-11-03 09:38] zhang2014 commented on #2589
/assignme

We can remove context_shared from session after #2573

[2021-11-03 09:54] drmingdrmer commented on #2589
Speculation from @zhang2014  on this issue:
- Shared-context(the container of table cache) is removed from `session` once the last `context` is dropped.
- If a `context` is somehow kept by an unfinished `future`, the `shared-context` will stay there in `session`.
- The next query may have chance reusing the previous one.

[2021-11-03 10:00] BohuTANG commented on #2627
1. http handler provides a put file(like `xx_yy.csv`) command to a path as `tmp_dir` which configed in the query -- this upload a file to the internal stage
2. query supports the `COPY` command: `COPY table_name FROM 'xx_yy.csv'` -- query read the file from the internal stage

https://docs.snowflake.com/en/sql-reference/sql/put.html
https://docs.snowflake.com/en/sql-reference/sql/copy-into-table.h

[2021-11-03 10:00] sundy-li opened #2628 "[query] runtime profile of dag processors"
**Summary**

Description of this feature.

- [ ] Add settings `enable_runtime_profile`, `runtime_profile_output` to control profile settings.
- [ ] Add profile into DataBendContext to record profile events during each stage.
- [ ] Display profile as graph format into `runtime_profile_output` file.

[2021-11-03 10:25] BohuTANG opened #2630 "Make `create user` works"
**Summary**

After https://github.com/datafuselabs/databend/pull/2550, we should add the interpreter_create_user to make it works.

[2021-11-03 11:08] #2538 closed

[2021-11-03 11:21] sundy-li opened #2632 "Fuse engine seems ignore the projection column prune."
**Summary**

Description for this bug.

From @ZhiHanZ  wechat image.

![image](https://user-images.githubusercontent.com/3325189/140051618-7f56ef5e-ebd2-4d30-8935-541948cd22ab.png)

[code]

[2021-11-03 11:26] ZhiHanZ opened #2633 "[Meta Service] demo on how to deploy HA meta service"
**Summary**
some vagrant VM demo or local demo scripts could be helpful for further deployment on cloud services

[2021-11-03 11:34] dantengsky commented on #2632
is `ReadDataSourcePlan::push_downs.projection` supposed to be used in this case?

[2021-11-03 11:35] sundy-li commented on #2632
Yes

[2021-11-03 11:36] dantengsky commented on #2632
roger

[2021-11-03 11:40] ZhiHanZ opened #2634 "[CLI] use bendctl as integration test env to run stateless test"

[2021-11-03 14:12] zhyass commented on #2478
TODO:
- [x]  [Transform like pattern to regex jorgecarleitao/arrow2/#567](https://github.com/jorgecarleitao/arrow2/pull/567)
- [ ]  Bump Arrow2

[2021-11-04 01:22] BohuTANG commented on #746
Add:
[ COPY INTO `table` #2627](https://github.com/datafuselabs/databend/issues/2627)

[2021-11-04 03:17] flaneur2020 commented on #2627
the csv file have to located on the bend-query instance's local filesystem? 🤔

[2021-11-04 03:55] flaneur2020 commented on #2627
how about copy file from a s3 or hdfs path? like:

[code]

[2021-11-04 03:59] GrapeBaBa commented on #2630
I am working on it. Need another issue here?

[2021-11-04 03:59] zhyass commented on #2626
/assignme

[2021-11-04 04:09] #2574 closed

[2021-11-04 04:23] sundy-li commented on #2627
Yes, we can judge the protocol like "s3", "http", "hdfs", "file". I'll implement a base version to support local filesystem.

[2021-11-04 05:49] Junnplus commented on #2563
/assignme ACOS() ASIN() ATAN() ATAN2()

[2021-11-04 06:19] BohuTANG commented on #2630
Oh my, I have just implemented `create user`, but still need to implement `drop user/alter user` etc.

[2021-11-04 06:31] GrapeBaBa commented on #2630
Yes, i am working on update user function. Well, I can pull your updates.

[2021-11-04 06:38] BohuTANG commented on #2630
Right, thank you!

[2021-11-04 06:46] ZhiHanZ opened #2647 "[Test/Integration/Tracking] implement generic test framework for integration test"
**Summary**
Similar to integration test in kubernetes and kubebuilder https://book.kubebuilder.io/cronjob-tutorial/writing-tests.html
For local test:
1, we use cargobin to ensure binaries on desired local and bootstrap cluster through code similar to bendctl basic test.
2. For stateless and stateful test we could choose desired number of query instance to run and deploy test them uniformly on test

[2021-11-04 07:54] yuuch commented on #2594
I am interested in it. I will try it. :)

[2021-11-04 07:56] BohuTANG commented on #2594
/help

[2021-11-04 08:02] yuuch commented on #2594
/assignme

[2021-11-04 08:14] #2630 closed

[2021-11-04 08:23] PsiACE commented on #2647
[code]

[2021-11-04 08:59] BohuTANG opened #2650 "`system.user` table"
**Summary**

After https://github.com/datafuselabs/databend/pull/2646, it's time to add `system.user` table to show the users.

The users datasources from the `self.ctx.get_sessions_manager().get_user_manager().get_users()`

[2021-11-04 09:54] GrapeBaBa commented on #2650
/assignme

[2021-11-04 09:55] GrapeBaBa commented on #2160
@BohuTANG For Drop/Alter User, can you create separate issues?

[2021-11-04 10:36] #2160 closed

[2021-11-04 11:32] yuuch commented on #2458
/assignme

[2021-11-04 12:03] yuuch commented on #2458
/help

[2021-11-04 12:17] drmingdrmer opened #2653 "table.read_plan should be called exactly once"
_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/pull/2648#discussion_r742690256_

A proposed solution from @sundy-li to this issue is to extract part of `read_plan` functions out. E.g.:

- Introduce a method to `trait Table`: `Table::pre_read_plan()`(not a good name yet 🤔), to return a `ReadDataSourcePlan` without info about `parts`. Thus this method would be cheap beca

[2021-11-04 12:26] #2458 closed

[2021-11-04 12:57] BohuTANG opened #2655 "`show processlist` memory_usage not correct"
**Summary**

Description for this bug.

**How to reproduce**

[code]

[2021-11-04 13:19] BohuTANG opened #2656 "`drop user` statement"
**Summary**

`DROP USER user [, user] ...`

For example:
`DROP USER 'jeffrey'@'localhost';`
The host name part of the account name, if omitted, defaults to '%'.

[2021-11-04 13:25] PsiACE commented on #2655
And we also need a human-readable format

[2021-11-04 13:25] BohuTANG opened #2657 "`alter user` statement"
**Summary**

`ALTER USER USER() IDENTIFIED BY 'auth_string'`

For example:
`ALTER USER 'jeffrey'@'localhost' IDENTIFIED BY 'new_password'`

[2021-11-04 13:26] BohuTANG commented on #2655
That's right

[2021-11-04 14:02] Junnplus opened #2658 "[DOC] add doc for angle function"
**Summary**

https://github.com/datafuselabs/databend/pull/2643

[2021-11-04 14:02] Junnplus commented on #2658
/assignme

[2021-11-05 00:27] #2658 closed

[2021-11-05 03:31] SGZW commented on #2656
/assignme

[2021-11-05 04:19] sunli829 opened #2666 "Migrate Axum to Poem"
**Summary**

I think [`Poem`](https://github.com/poem-web/poem) is more concise and easy to use, and its performance is also very good.
If you want, I will open a PR, and this will be done soon. 😁

[2021-11-05 04:32] ZhiHanZ commented on #2666
Hi @sunli829 , thank you for your interest on our project. Here is something I considered for migration:
1. For tls management, axum_server could handle with tls rotation(https://github.com/programatik29/axum-server/blob/master/examples/tls_reload.rs) and support rustls related feature such as client-auth which is essential for production security, does poem want to support those feature?
2. Does

[2021-11-05 05:15] sunli829 commented on #2666
/assignme

[2021-11-05 06:02] #2478 closed

[2021-11-05 06:10] drmingdrmer opened #2667 "Multi nodes meta server and integration test"
- [x] #2668
- [x] #2899
- [x] impl MetaAPI for MetaNode.
- [x] #3336
- [ ] Complete doc about how to setup a metasrv cluster
- [x] sled::range() is not isolated. Needs lock to protect it.

range [is not supported](#3309 ) by this version of sled transaction API, we use a global lock for now.

[2021-11-05 06:10] drmingdrmer opened #2668 "metasrv add cli args: `--join addr,addr,...` to bring up a metasrv node and join an existent cluster."

[2021-11-05 06:11] GrapeBaBa commented on #2666
There are so many friends in Wuhan

[2021-11-05 06:37] drmingdrmer commented on #2525
Update metasrv tasks

[2021-11-05 09:21] sunli829 commented on #2666
Welcome to Wuhan.😁

[2021-11-05 10:05] #2666 closed

[2021-11-05 13:43] #2632 closed

[2021-11-05 14:16] sundy-li opened #2672 "Fuse engine should have Statistics of each column."
**Summary**

Description for this feature.

https://github.com/datafuselabs/databend/blob/0224fd2aacd755aa67952d4276d0f826622f6471/query/src/datasources/table/fuse/table.rs#L123-L146

cc @dantengsky

[2021-11-06 05:09] #2558 closed

[2021-11-06 12:10] sundy-li opened #2677 "Consider using `objcopy` to reduce the binary size in release build"
#1959 used `link-arg=-Wl,--compress-debug-sections=zlib-gabi` as build flags to reduce the binary size.

1. It has a bad impact on debug build which will make debug building slow.
2. It adds  `.cargo/config` into git control which makes developers hard to have their own local config.

`objcopy` seems to be a good util tool to reduce debug info in linux env, refer to tikv's build script: https://gi

[2021-11-06 12:29] PsiACE commented on #2677
/assignme

[2021-11-06 12:36] PsiACE commented on #2677
Okay, it may not be greatly affected in my local, but it does exist

Makes sense. But many other repos also contain this file, and I think there should be a better way to deal with it.

I will investigate it. And do a try and compare.

[2021-11-06 14:38] #2617 closed

[2021-11-07 02:50] BohuTANG opened #2678 "User Privileges"
**Summary**

User privileges defined the queries what a user can execute, here is an initial list:
- [x] #2679
      Enables executing `set` statement, such as `set max_threads=4`

[2021-11-07 02:56] BohuTANG opened #2679 "User grant privileges"
**Summary**

Related PR: #2703

For `SET` example:
`SET` privileges enable a user executing `SET` statement.
How to grant set privieges for user:
[code]

[2021-11-07 03:00] BohuTANG commented on #746
Add:
[User Privilege #2678](https://github.com/datafuselabs/databend/issues/2678)

[2021-11-07 03:23] BohuTANG commented on #2525
Add Experimental checklist:
- [ ] #2679

[2021-11-07 09:58] #1970 closed

[2021-11-07 11:41] GrapeBaBa commented on #2657
/assignme

[2021-11-07 13:33] #2626 closed

[2021-11-07 13:37] #2650 closed

[2021-11-07 13:41] BohuTANG opened #2685 "[Doc] User Management"
**Summary**

Document User Management.

[2021-11-07 14:08] #2685 closed

[2021-11-07 14:10] BohuTANG opened #2687 "`show users` statement"
**Summary**

After #2684, it's time to add a `show users` statement as the alias `select * from system.users`

[2021-11-08 00:06] github-actions[bot] opened #2690 "RUSTSEC-2021-0122: Generated code can read and write out of bounds in safe code"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `flatbuffers`                      |
| Version             | `2.0.0`                   |
| URL                 | [https://github.com/google/flatbuffers/issues/6627](https://github.com/google/flatbuffers/issues/6627) |
| Date

[2021-11-08 02:46] Junnplus commented on #2687
/assignme

[2021-11-08 03:17] feilengcui008 opened #2693 "Is there docs/plans introduction for serverless related work?"
I've noticed the `serverless` doc change from this PR：https://github.com/datafuselabs/databend/commit/60e719df8a3b6e5681627ea41f6760c89f5e6cb5, wondering is there any introduction on the serverless part of databend?

[2021-11-08 03:39] ZhiHanZ commented on #2693
Hi @feilengcui008 , serverless deployment is under our roadmap and under active development, we would introduce it to public once it become stable

[2021-11-08 03:51] Junnplus opened #2695 "Failed to create users with different hostnames"
**Summary**
Failed to create users with different hostnames.

**How to reproduce**

[code]

**Error message and/or stacktrace**

If applicable, add screenshots to help explain your problem.

**Additional context**

Add any other context about the problem here.

[2021-11-08 03:57] dantengsky commented on #2672
roger

[2021-11-08 05:10] junli1026 opened #2696 "Order-by optimizer for monotonic function expression"
**Summary**

Thanks to @sundy-li for pointing me to Issue #2343 , [Add monotonic check in FunctionFactory].  I am thinking maybe we can add an optimizer to leverage the monotonic function ?

For example, the query like  `SELECT number FROM number(10) ORDER by number*2;` can be optimizer to `SELECT number from number(10) ORDER by number`. -- thus it doesn't need calculation.

What do you guys think

[2021-11-08 07:58] sunisdown commented on #2543
Hi @drmingdrmer , I am trying to add graceful shutdown to `metasrv` and would like to know why it is not implemented for metasrv when the `stoppable` library is created? Is there any concerns?

[2021-11-08 08:06] #2687 closed

[2021-11-08 08:15] drmingdrmer commented on #2543
Nothing is concerned but it is just a matter of time...

Haven't yet got time to do it. 🤔

[2021-11-08 08:20] drmingdrmer commented on #2543
@sunisdown
And as I recalled there is some adjustment that has to be applied to metasrv before using the stoppable framework.

[2021-11-08 08:27] #2696 closed

[2021-11-08 09:33] Junnplus commented on #2695
Should we use like `__fd_users/test/localhost` as the key in [add_user](https://github.com/datafuselabs/databend/blob/main/common/management/src/user/user_mgr.rs#L52) to support create users with different hostnames.

[2021-11-08 10:33] drmingdrmer opened #2702 "metasrv: add http api for monitoring etc"
Something like v1/cluster to return a list of members

[2021-11-08 11:39] BohuTANG commented on #2695
Account name syntax is `'user_name'@'host_name'`, the `@'host_name'` part is optional.
So, `test@localhost` and `test@127.0.0.1` is the different account, we should use both `'user_name'@'host_name'` as the key not `user_name` only.

[2021-11-08 11:52] BohuTANG opened #2704 "User `quota` for the runtime"
**Summary**

In order to run many queries in one databend server from different users, we should add a quota for the user's runtime:
1. Add `quota` field to UserInfo
2. Add `max_cpu` and `max_memory` to `quota`, if the quota exceeded it will throw an error to the client and abort the query.

This is the improtant step for serverless with many users under a tenant.

[2021-11-08 12:31] BohuTANG opened #2707 "Binding user privilege and quota to the session"
**Summary**

In mysql/clickhouse/http handlers, we should bind the user's privilege and quota to the session and check them during the executing life time.

[2021-11-08 12:32] BohuTANG commented on #2707
cc @zhang2014 may interested in this and any thoughts?

[2021-11-08 12:39] Junnplus commented on #2695
/assignme

[2021-11-08 12:49] #2704 closed

[2021-11-08 12:49] zhang2014 opened #2708 "Support user level resource tracker"
**Summary**

We need to support user level statistics for `MemoryTracker` and other related trackers

[2021-11-08 12:50] zhang2014 commented on #2707
We need to implement it after #2708

[2021-11-08 12:54] zhang2014 commented on #2708
Tracker has the following levels:
- Global tracker(created by databend main macro)
- User tracker(share for a user multiple queries)
- Session tracker

[2021-11-08 13:02] zhang2014 commented on #2708
We only need to create multiple `MemoryTracker` and use parent to combine them
[code]

https://github.com/datafuselabs/databend/blob/d04fbead64d5393566e6145e35250b6903be78ad/common/base/src/runtime_tracker.rs#L65-L90

[2021-11-08 13:51] #2672 closed

[2021-11-08 14:16] ZhiHanZ opened #2711 "[CI] Introduce yaml lint to ci and make lint"
**Summary**
Currently we have no linter on yaml related workflow configuration, which introduced a lot of unneeded debugging time when new coming workflow went wrong, here by we could introduce yaml lint tool on run lint on CI and on local
Ref
https://github.com/adrienverge/yamllint
https://github.com/ibiqlik/action-yamllint

[2021-11-09 03:13] BohuTANG opened #2718 "User-level resource isolation"
**Summary**

To make a databend query server to run multi queries, we must add the isolation for the user:

Tasks:
- [x] #2708
- [x] #2678
- [x] #2679
- [x] #2756
- [x] #2779

[2021-11-09 08:29] junli1026 commented on #2343
/assignme

[2021-11-09 10:22] ZhiHanZ opened #2722 "[CI] introduce arm64 cross compile to CI"
**Summary**
we support arm64 build by default in each release patch, thus it is necessary to incorporate arm64 build in regular CI

[2021-11-09 15:14] Junnplus commented on #2679
/assignme

[2021-11-10 01:25] #2543 closed

[2021-11-10 01:25] dantengsky opened #2728 "FR: table compact"
Merge small partitions into big partitions

[2021-11-10 02:02] sundy-li opened #2730 "[security] make csv/parquet engine work with dal"
**Summary**

Now csv/parquet engine can only work with a local file. However, it allows users to read any file with permission in the query node.

This is dangerous, such as: `/etc/passwd`, `/etc/sudoers`.

We should make these engines work with dal.

[2021-11-10 02:34] BohuTANG commented on #2730
1. For local file
we should introduce a `tmp_dir`, all the files in this directory can be accessed.
During reading:
read('file_label_name') -- read from '/tmp_dir/file_label_name'

2. For the cloud
   user puts their local file to a s3 storage bucket(we will give a address then), and using the `COPY ... FROM S3(...)` command to read.

[2021-11-10 02:40] sundy-li commented on #2730
How about reuse the `Config.Storage` in query node, there is a config named `data_path` that can be used.

If we delopy as cloud-native serverless , the local file did not make sense.

[2021-11-10 02:43] BohuTANG commented on #2730
Looks great :100:

[2021-11-10 07:49] sunisdown commented on #2702
/assignme

[2021-11-10 09:09] sunli829 opened #2736 "Bump poem from `1.0.21` to `1.0.23`."
**Summary**

Poem `1.0.23` supports both `native-tls` and `rustls`, which is a breaking change.

[2021-11-10 09:10] sunli829 commented on #2736
/assignme

[2021-11-10 10:05] #2736 closed

[2021-11-11 00:13] BohuTANG opened #2738 "Release assets (ubuntu-latest, stable, x86_64-unknown-linux-gnu, false) failed"
[code]

https://github.com/datafuselabs/databend/runs/4168254244?check_suite_focus=true

[2021-11-11 01:32] youngsofun commented on #2407
1. graceful shutdown is already fixed   https://github.com/datafuselabs/databend/pull/2425

2.  not shown in system.process is my fault: the interpreter not run on the toiko runtime of the session in /v1/statement, in  /v1/query, this is fixed.  I`ll come back to fix /v1/statement after /v1/query is merged https://github.com/datafuselabs/databend/pull/2688

[code]

[2021-11-11 01:32] youngsofun commented on #2407
cc @zhang2014

[2021-11-11 02:46] kyon0304 commented on #2563
/assignme CEIL() CEILING() FLOOR()

[2021-11-11 04:38] ZhiHanZ opened #2740 "[Serverless] Support elastic scaling interface based on group"
**Summary**
**Goals**:
1. Scaling up or down to 0 based on metric value we configured
2. Integrate with keda for elastic serverless on cloud native environment
3. high performance, push active info to keda instead of polling, which may incur scaling issues

**Non Goals**:
1. Investigate on other scaling triggers.
2. Prometheus + Keda integration(seems not make sense).

**Concepts**:
Query Namespac

[2021-11-11 07:06] ZhiHanZ opened #2741 "[Metasvc] bring tls certs during join rpc call"
**Summary**
during join rpc call, we could encrypt them into tls

[2021-11-11 07:40] zhang2014 opened #2742 "Consider renaming the namespace to cluster_name"
**Summary**
Consider renaming the `namespace` to `cluster_name`(contains the config item name, variables name, struct name in code)

[2021-11-11 08:19] BohuTANG commented on #2742
Also `tenant` to `tenant_id`?

[2021-11-11 08:35] ZhiHanZ opened #2744 "[Monitoring] add label in monitor metrics"
**Summary**
label on tenant and cluster_name would be nice to filter stat metrics through promql
https://docs.rs/metrics/0.17.0/metrics/struct.Label.html

[2021-11-11 08:41] zhang2014 opened #2746 "Consider renaming the tenant to tenant_id"
**Summary**
https://github.com/datafuselabs/databend/issues/2742#issuecomment-966082920
Consider renaming the `tenant` to `tenant_id`(contains the config item name, variables name, struct name in code)

[2021-11-11 08:41] #2738 closed

[2021-11-11 08:52] #2695 closed

[2021-11-11 11:07] #2742 closed

[2021-11-11 11:07] #2746 closed

[2021-11-11 13:47] drmingdrmer commented on #2702
Thank you man for taking this issue!

FYI:
There are two kinds of nodes: voters and non-voters. `MetaRaftStore::list_non_voters()` is a good reference about these concepts.
- Voters AKA `members` can be retrieved with `get_membership_config()`.
- Non-voters are stored in a sled sub tree `StateMachine::nodes()`.

[2021-11-11 16:11] sunisdown commented on #2702
@drmingdrmer  thanks for the reminder.

I originally thought it was just to show the information, but when I glanced at the code I found that the http server currently can't get the sled instance, and probably needs more code changes than I had expected. the basic idea is:

1 Add a context to the http/rpc/metrics server
2 The context needs to hold the sled (metastore) instance.
3 Read the context

[2021-11-12 04:38] flaneur2020 opened #2753 "Proposal: move websites/databend/docs to the root directory"
**Summary**

currently the docs/ directory and docs/RFCs directory are under the `websites/databend` directory, maybe we could move the docs/ directory into the project root directory?

1. more discoverable for the newcomers: docs is not only for website, also describes the project design in the git repo, it might help the people who git cloned the repo but not visited the website discover the doc

[2021-11-12 05:51] drmingdrmer commented on #2702
The chain of these components in metasrv is:
[code]

`membership` is only understood by `MetaRaftStore` and `MetaNode`.
Thus to retrieve a list of voters or non-voters, it's better to get it done in `MetaNode`, instead of accessing SledTree directly.

To your questions:
- The http server needs a reference to `MetaNode`. But for now the creation process for `MetaNode` is inside `FlightServer::serve

[2021-11-12 06:55] ZhiHanZ opened #2755 "[Cluster API] provide dns resolution on flight rpc"
**Summary**
Currently, flight rpc could only get connected through ip, it would be nice to have dns resolution to cover more information in cluster status( for example, k8s namespace)

[2021-11-12 07:24] #2604 closed

[2021-11-12 10:39] BohuTANG opened #2756 "Session metrics for cost"
**Summary**

To measure a cost of a query, there are many metrics need addressed:
1. Binding tenant_id and cluster_id to session for identifiy who own the session.
2. Binding a tokio runtime to session for memory usage and cpu limited.
3. Binding read_bytes/write_bytes/execution_time to the session for the last query

The struct of the Session need refactored for the fine-grained resource managing

[2021-11-12 11:40] PsiACE commented on #2753
/assignme

[2021-11-12 12:18] flaneur2020 commented on #2755
/assignme

[2021-11-12 13:11] zhang2014 commented on #2755
We have implemented DNSResolver for flight RPC(https://github.com/datafuselabs/databend/blob/main/common/flight-rpc/src/dns_resolver.rs)

[2021-11-12 13:46] ZhiHanZ commented on #2756
we should also stat on request per sec, io( disk + s3) and label them all with tenant and cluster_name

[2021-11-12 13:48] ZhiHanZ commented on #2755
agreed. for audit log on group lifecycle, we may provide another api on meta service

[2021-11-12 13:48] #2755 closed

[2021-11-13 00:08] BohuTANG commented on #2756
Sure, the k8s layer should provide a cost model? like: https://github.com/kubecost/cost-model/blob/develop/kubecost-exporter.md

[2021-11-13 06:08] ZhiHanZ commented on #2756
need to investigate on possible integration with the cost model

[2021-11-13 07:32] #2511 closed

[2021-11-13 08:29] BohuTANG opened #2763 "Validator for query/metasrv config"
**Summary**

There are many struct fields(such numric) need validated in [query-configs](https://github.com/datafuselabs/databend/tree/main/query/src/configs) and [metasrv-configs](https://github.com/datafuselabs/databend/tree/main/metasrv/src/configs)

Reference:
https://docs.rs/validator/0.14.0/validator/

[2021-11-13 08:32] drmingdrmer opened #2764 "Issue with fsync on mac in stateless-cluster test"
There is a known issue with fsync on mac:
- https://github.com/datafuselabs/databend/issues/1230

We already have disabled fsync to work around this issue, at two places:
- For unit test:
https://github.com/datafuselabs/databend/blob/a598d928d50644ee0bbddd8c9b36d837b1c7044a/metasrv/src/tests/service.rs#L71-L80

- and for embedded metasrv:
https://github.com/datafuselabs/databend/blob/a598d928d5064

[2021-11-13 08:33] drmingdrmer commented on #2764
By always disabling fsync on mac, there will be risk of data loss.

[2021-11-13 08:33] drmingdrmer commented on #2764
@BohuTANG @ZhiHanZ

[2021-11-13 08:36] BohuTANG commented on #2764
Hmm, I understand that on mac systems we are only in a development and experience environment, not a production environment, and this is acceptable.
Which config should we set to make it happy for the mac?

[2021-11-13 08:47] drmingdrmer commented on #2764
Just simply add this snippet to `MetaNodeBuilder::build()`.

[code]

[2021-11-13 08:48] BohuTANG commented on #2764
Just do it!

[2021-11-13 08:50] BohuTANG commented on #2763
O, `validator` crate only has very little available validations :cry:

[2021-11-13 08:58] drmingdrmer commented on #2764
It sounds nike to me~

[2021-11-13 09:16] BohuTANG opened #2766 "How binding session with dal request?"
In order to do a pricing model, we should know how much cost(object requests/read_bytes/write_bytes etc.) for a tenant_id and cluster_id, now we can do it in query by the metric label: https://github.com/datafuselabs/databend/issues/2744 and PR:https://github.com/datafuselabs/databend/pull/2760

Since `dal` crate there is no tenant related with it, so what's the best way to do it?
Move `dal` to `q

[2021-11-13 10:22] PsiACE opened #2767 "[flaky test] servers::http::v1::http_query_handlers_test::test_simple_sql"
**Summary**

[code]

see: https://github.com/datafuselabs/databend/runs/4197693711?check_suite_focus=true#step:5:890

[2021-11-13 12:55] BohuTANG opened #2769 "Binding sql user and host to metrics label"
**Summary**

After PR https://github.com/datafuselabs/databend/pull/2760, we add tenant_id and cluster_id to the metrics, it also need add the sql user and host to the metrics, we can exactly know how much each sql user from what's host spends.

[2021-11-13 13:25] drmingdrmer opened #2770 "test_simple_sql: internal error: entered unreachable code"
[code]

https://github.com/datafuselabs/databend/runs/4198559977?check_suite_focus=true

[2021-11-13 13:27] GrapeBaBa commented on #2657
@BohuTANG Where could we get current user?

[2021-11-13 13:33] flaneur2020 commented on #2657
maybe we need add an user field into the Session struct? 🤔
https://github.com/datafuselabs/databend/blob/a598d928d50644ee0bbddd8c9b36d837b1c7044a/query/src/sessions/session.rs#L49

[2021-11-13 13:35] BohuTANG commented on #2657
Indeed, we should bind user to the session.

[2021-11-13 13:50] BohuTANG commented on #2770
Duplicated with https://github.com/datafuselabs/databend/issues/2767

[2021-11-13 13:56] #2764 closed

[2021-11-13 14:05] #2770 closed

[2021-11-13 14:05] BohuTANG commented on #2767
There is also many `unwrap` in http handler need to be addressed and return the err, like:
https://github.com/datafuselabs/databend/blob/f4517719e7b222c3b7c6ea07375fd992e7513856/query/src/servers/http/v1/query/execute_state.rs#L120
https://github.com/datafuselabs/databend/blob/f4517719e7b222c3b7c6ea07375fd992e7513856/query/src/servers/http/v1/query/execute_state.rs#L161
https://github.com/datafuse

[2021-11-13 14:24] zhang2014 opened #2775 "Deduplicate calculations in the ExpressionExecutor"
**Summary**

Expression in the same plan will lead to some repeated calculations. for example(column_a + 1 is duplicated):
[code]

[2021-11-13 14:31] BohuTANG opened #2776 "Return Err instand unwrap in http handler"
**Summary**

There are many `unwrap` in http handler, we should address and return the Err instead.
Seach `unwrap` in `query/src/servers/http/`

[2021-11-13 14:41] youngsofun commented on #2767
@BohuTANG terribly sorry

[2021-11-13 14:44] BohuTANG commented on #2767
That's OK, man~

[2021-11-13 14:52] #2657 closed

[2021-11-13 15:07] BohuTANG opened #2779 "Bind user to session"
**Summary**

There are a few tasks need to do:
- [x] Add user name to InteractiveWorker when the auth is passed
- [ ] Add user name to https://github.com/datafuselabs/databend/blob/e595993705ce9b719b0df78a4e1013a02fd77510/query/src/sessions/sessions.rs#L100
- [x] Get user info by user name and bind the user info to the session

Any thoughts are welcome ~

[2021-11-13 15:07] BohuTANG commented on #2779
cc @zhang2014

[2021-11-13 15:10] #2763 closed

[2021-11-13 15:10] youngsofun commented on #2776
@BohuTANG I saw some  `unwap` in unit test other mods.
do we need to fix them too?

[2021-11-13 15:11] BohuTANG commented on #2707
Duplicated with #2779

[2021-11-13 15:11] #2707 closed

[2021-11-13 15:15] youngsofun commented on #2776
/assignme

[2021-11-13 15:18] BohuTANG commented on #2776
unit tests unwrap is ok, most of them by design, no need to fix.

[2021-11-13 15:20] flaneur2020 commented on #2776
i think unwrap() in test cases is ok, we can take it as some sort of `assert` in test cases

in the production code, maybe there're two conditions are ok to unwrap():

- on starting up, fail fast if there're something wrong about the configs
- we strongly believe it's nearly impossible to occur, such as this tweet describes: https://twitter.com/ospopen/status/1458082697327235072

[2021-11-13 15:47] #2767 closed

[2021-11-14 04:41] Thearas commented on #2775
Hi @zhang2014, I'm interested in databend and I'd like to take this issue. Could you give me some hints on how to test the effect?

[2021-11-14 05:04] zhang2014 commented on #2775
We only need to build `ExpressionDAG`(it needs to be implemented, same expression does not create a new node in the `DAG`) for `Vec<Expression>`, and use `DAG` topological sorting result as `ExpressionChain`. and we can use unit tests to test it.

[2021-11-14 06:05] GrapeBaBa commented on #2744
What need to do next?

[2021-11-14 06:57] Thearas commented on #2775
Thanks for your reply. Maybe this issue is a little hard for me, I would choose an easier issue 😂.

But I'm still curious about `Deduplicate calculations`. According to the document <https://databend.rs/rfcs/query/0002-plan-expression/#materialized-expression>, `column_a + 1` will only be calculated once.

[2021-11-14 09:32] ZhiHanZ commented on #2744
Hi @GrapeBaBa , please check out the issue https://github.com/datafuselabs/databend/issues/2756 for next stage monitoring plan.

[2021-11-14 10:37] BohuTANG commented on #2744
And after this issue finished the user level metrics will be ready:
https://github.com/datafuselabs/databend/issues/2779

[2021-11-14 10:49] dantengsky opened #2782 "[Improvement]: Avoid unnecessary clone in fuse table while merging column statistics"
**Summary**

while merging column statistics, we should avoid operations of clone `ColStats` if possible

[2021-11-14 11:43] zhyass opened #2784 "[Improvement] support tuple expression"
**Summary**

https://github.com/datafuse-extras/sqlparser-rs/pull/8

Tuple expression
e.g. `(foo, bar)`

TODO:
https://github.com/datafuselabs/databend/issues/2788

[2021-11-14 12:19] sundy-li opened #2787 "Make csv/parquet engine io read works in async mode"
**Summary**

Description for this feature.

[2021-11-14 12:34] zhyass opened #2788 "[Improvement] Add tuple sqltype in clickhouse-srv"
**Summary**

To support `DataType::Struct(Vec<DataField>)` result writer in clickhouse-client, need add tuple sqltype.

https://clickhouse.com/docs/en/sql-reference/data-types/tuple/

[2021-11-15 06:14] GrapeBaBa commented on #2744
Seems tasks are all in progress. Right?

[2021-11-15 06:18] zhang2014 commented on #2775
It's Ok. You can implement this before it is assigned to others if you are interested when you're familiar enough :)

The RFC is about how to deduplicate calculations of expression in multiple plans

[2021-11-15 06:56] #2787 closed

[2021-11-15 06:59] BohuTANG commented on #2744
That's right.

[2021-11-15 10:31] flaneur2020 opened #2793 "RBAC privileges"
**Summary**

## Tasks

- https://github.com/datafuselabs/databend/issues/3877
- https://github.com/datafuselabs/databend/issues/2815
- https://github.com/datafuselabs/databend/issues/3799
- https://github.com/datafuselabs/databend/issues/4187
- https://github.com/datafuselabs/databend/issues/4193
- https://github.com/datafuselabs/databend/issues/4201
- https://github.com/datafuselabs/databend/issu

[2021-11-15 10:31] flaneur2020 commented on #2793
/assignme

[2021-11-15 10:35] flaneur2020 commented on #2678
I added an issue about RBAC: https://github.com/datafuselabs/databend/issues/2793  maybe can be tracked in this bigger issue?

i'd prepare an RFC document in the first step

[2021-11-15 11:20] BohuTANG opened #2794 "Add `multi-tenancy` mode for internal usage"
**Summary**

Such as `database/table create`, `user create`, these operation only related to the metasrv, but we want use SQL to do them for difference tenant.
Here introduce a new query config `multi-tenancy`(boolean):
true  - enalble `set tanent_id=xx`
false - disable `set tanent_id=xx`

This is a internal usage, such as a account init in the cloud platform, we can set `multi-tenancy` on a speci

[2021-11-15 11:23] ZhiHanZ opened #2795 "[Cluster] cluster connect and close session not match"
**Summary**
During distributed query, cluster has more cluster connect session than close session after query completion

**How to reproduce**
Bootstrap a distributed cluster
[code]

execute large query load
[code]
Check system metrics table for session
[code]
**Error message and/or stacktrace**

As we see in the metric table:
![image](https://user-images.githubusercontent.com/25170437/141773758-f

[2021-11-15 11:37] BohuTANG commented on #2794
Another way is that let's metasrv provides RPC api.

[2021-11-15 11:42] BohuTANG commented on #2678
Sure, thank you @flaneur2020

[2021-11-15 12:16] pinylin commented on #2711
/assignme

[2021-11-15 13:00] #2784 closed

[2021-11-15 15:35] #2795 closed

[2021-11-15 23:09] #2711 closed

[2021-11-16 01:45] youngsofun commented on #2525
@BohuTANG

It seems no extra work is required to support "all the queries".

So I only need to add tests for each interpreter?

By the way, why insert result is  "0 rows affected" now?

[2021-11-16 02:01] BohuTANG commented on #2525
Ok.

I guess there is something wrong with the status(http handler), we could check it from the MySQL client.

[2021-11-16 02:07] dantengsky opened #2804 "Move `dal` to `query`"
tasks:

- [x] #2835

     `source_csv` will be placed at `query/src/datasources/table/csv`

     `source_parquet` will be placed at `query/src/datasources/common`
      since `ParquetSource` is supposed to be reused by fuse table (see issue #2807)

     `common-streams` should no longer depend on `common-dal`

- [ ] <del>move  `common/context ` and `common/dal` into query</del>

     `common/conte

[2021-11-16 02:11] #2782 closed

[2021-11-16 03:47] dantengsky commented on #2804
It's not gonna work, since crate `common-stream` depends on `common-dal` (and `query` depends on `common-stream`).

thanks @sundy-li for reminding me.

but I think
- issue #2766

can still be implemented without this refactoring

[2021-11-16 03:48] dantengsky opened #2806 "Add metrics to dal operations (label with tenant_id and cluster_id)"

[2021-11-16 04:01] dantengsky opened #2807 "consider re-use `common::streams::ParquetSource` in fuse table"
**Summary**

`ParquetSource` read parquet file in as DataBlock

https://github.com/datafuselabs/databend/blob/8b480244305cffe8e64e1d15c25091dc8214cb19/common/streams/src/sources/source_parquet.rs#L70-L74

It will be better to replace `block_reader::do_read`  with the `ParquetSource` in `FuseTable::do_read`
https://github.com/datafuselabs/databend/blob/f86c34b49d9e1620c1214eb3f6a3caffcd13f585/query

[2021-11-16 08:09] Veeupup commented on #2606
/assignme

[2021-11-16 08:18] #2343 closed

[2021-11-16 08:31] #2679 closed

[2021-11-16 08:55] BohuTANG opened #2815 "Role Management"
**Summary**

Databend uses roles to control access to objects as:
* Roles are granted access privileges for objects in the system (databases, tables, etc.).
* Roles are granted to users to enable them to create, modify, and use the objects for which the roles have privileges.
* Roles can be granted to other roles to support defining hierarchical access privileges. (we can support it later)

Tasks:

[2021-11-16 08:57] flaneur2020 commented on #2815
could i take this issue? i'd make some investigation on the RBAC system

[2021-11-16 08:59] BohuTANG commented on #2815
Absolutely!

[2021-11-16 09:01] BohuTANG commented on #2793
Add:
- [ ] #2815

[2021-11-16 09:05] BohuTANG commented on #746
Update:
 [RBAC Privileges #2793](https://github.com/datafuselabs/databend/issues/2793)

[2021-11-16 09:06] BohuTANG commented on #2678
Move to #2793

[2021-11-16 09:06] #2678 closed

[2021-11-16 09:07] Veeupup commented on #1784
"cache" mentioned here is in memory or on disk(on query node SSD)?

[2021-11-16 09:08] flaneur2020 commented on #1784
good question 🤔

[2021-11-16 09:10] BohuTANG opened #2816 "CREATE ROLE <name> -- Creates a role under the tenant- `create role myrole`"

[2021-11-16 09:52] BohuTANG opened #2818 "GRANT ROLE <name> TO USER <user_name>"
## Summary

Assigns a role to a user, granting a role to a user enables the user to perform all operations allowed by the role (through the access privileges granted to the role).

```GRANT ROLE <name> TO  USER <user_name>```

This will discard our previous design of user with privileges grant, change to grants with role.

Notes:
A user can only have one role at a time.

[2021-11-16 09:58] BohuTANG opened #2819 "GRANT <privileges> on <object> TO ROLE <role-name> -- Grants one or more access privileges on a object to a role- `grant select,insert on database db1 to role myrole`"

[2021-11-16 10:13] dantengsky commented on #1784
ideally, there should be tiers of cache, (1) for hot data, like frequently accessed table metadata and blocks, they should be cached in memory, (2) for cold(relatively) data, which evicted from the hot tier, put them on disk (SSD of computing node).

but, we can go with the in-memory cache first and improve the cache layer step by step.

[2021-11-16 13:20] ariesdevil commented on #2422
Implementation path:
1. Identify all the codes that need transaction support.
2. Define the necessary transaction API and data structures.
3. Test.

Current problems
1. sled transaction API does not currently support range operation. (we can bypass it)
2. sled's transaction API is not beautifully designed. (seems the sled author has not worked on it for a long time, we can consider maintaining thi

[2021-11-16 13:24] ariesdevil commented on #2422
The transaction API that discussion is look like this:
[code]

[2021-11-16 13:36] #2606 closed

[2021-11-16 15:55] drmingdrmer commented on #2766
IMHO, it may be feasible to let `dal` defines the api for reporting, and `query` impl the api and bind the `session` to the impl:

- `dal` defines a trait(something like `trait ReportMetric{ fn report(bytes_read: usize); }`  for reporting metric data.
- `query` impl the trait, e.g. `struct query::TenantMetric { tenant_id: u64 ... }`.
- When creating a `dal.DataAccessor`, `query` creates a `dyn Ten

[2021-11-16 15:57] pymongo opened #2823 "[function] Add support for inet_ntoa"
**Summary**

Add support for inet_ntoa(convert IPv4 bytes to string)

- [clickhouse IPv4NumToString/INET_NTOA](https://clickhouse.com/docs/en/sql-reference/functions/ip-address-functions/#ipv4numtostringnum)
- [MySQL INET_NTOA](https://dev.mysql.com/doc/refman/8.0/en/miscellaneous-functions.html#function_inet-ntoa)
- [glibc inet_ntoa() - man7.org](https://man7.org/linux/man-pages/man3/inet_aton.3.

[2021-11-16 16:01] flaneur2020 commented on #2766
can we get how much io bandwidth a query consumed in the flight?

during the query executing, the HTTP api can return the bytes/rows it scanned, I think the DAL statistics might be similiar, it's a statistic which collected during the query execution, not necessarily a prometheus metric?

[2021-11-16 16:03] pymongo commented on #2823
@databend-bot assign pymongo

[2021-11-16 16:04] pymongo commented on #2823
@databend-bot label +A-databend-query

[2021-11-16 16:23] drmingdrmer commented on #2766
Sounds good to me.

Since the cost of most storage services is charged by traffic not bandwidth.
Is the total bytes transferred is enough to your need?

[2021-11-16 18:45] drmingdrmer opened #2828 "Flaky test: servers::http::v1::http_query_handlers_test::test_async"
[code]

https://github.com/datafuselabs/databend/runs/4228310126?check_suite_focus=true
https://github.com/datafuselabs/databend/actions/runs/1468058672

[2021-11-16 23:24] BohuTANG commented on #2766
We are working on it, based on the metric label feature, it likes a probe than a object binding, see #2821

[2021-11-17 00:25] PsiACE commented on #2823
/help

[2021-11-17 00:52] BohuTANG commented on #2804
I guess it's `common-context` depends on `common-dal`:
https://github.com/datafuselabs/databend/blob/412834ce5caaef3ae46fd9ddd8d0414755b98699/common/context/Cargo.toml#L16

Keep `dal` in `common` is ok, there is another question here:
If we move `dal` to `query`, `common/context` is no need anymore? It looks a adapter context between query and dal crate.
@dantengsky @drmingdrmer

[2021-11-17 01:31] dantengsky commented on #2804
is `TableIOContext` the **adapter context** you mentioned above? frankly speaking, I'd prefer to use `DatabendQueryContext` directly.

`common-streams` depends on `common-dal` too

https://github.com/datafuselabs/databend/blob/412834ce5caaef3ae46fd9ddd8d0414755b98699/common/streams/Cargo.toml#L21

[2021-11-17 01:42] BohuTANG commented on #2804
I think it's time to move `dal` to `query` crate, actually the `stream` should not depends the `dal` layer.
`dal`  crate in the common just adds complexity and no other advantages for now.

[2021-11-17 02:18] zhyass opened #2831 "[Improvement] mysql query writer support struct"
**Summary**

MySQL client support write struct. write struct as string.

[2021-11-17 02:33] dantengsky commented on #2804
agree, a rough idea:

1. move `common/streams/sources/source_[parquet|csv].rs` into `query`
    although `source_csv.rs` does not depend on `DataAccessor` currently, @sundy-li is planning a refactoring so that `CsvSource` will use `DataAccessor` to read data as well (like `ParquetSource`)
2. move `common/context` into `query`, so that there will be no cross crate circular dependency
    but keep `

[2021-11-17 02:46] #2806 closed

[2021-11-17 02:46] sundy-li commented on #2804
CsvSource/Parquet sources must depend on dal, because we must implement  `COPY INTO TABLE from dal_streams`.

[2021-11-17 02:46] BohuTANG commented on #2828
@youngsofun may interested in this :)

[2021-11-17 02:50] dantengsky commented on #2804
shall we move [Csv|ParquetSource] to `query/datasource/table/[csv|parquet] accordingly?

[2021-11-17 02:50] BohuTANG commented on #2804
This refactor will conflict with @sundy-li `copy into` patch, please make sure the roads are clear :smile:

[2021-11-17 02:57] sundy-li commented on #2804
Agree

[2021-11-17 02:57] flaneur2020 commented on #2766
sorry it's traffic not bandwidth, i misused the word >.<

besides the cost billing, tracking how many bytes transfered by a query and record the traffic infomation into the query log might be useful for us to diagnose the traffic outliers and make optimizations in the future

[2021-11-17 02:58] dantengsky commented on #2804
got it

[2021-11-17 03:04] Veeupup commented on #2807
/assignme

[2021-11-17 03:38] youngsofun commented on #2828
@BohuTANG roger thanks！

[2021-11-17 03:38] dantengsky opened #2835 "move common/streams/sources/source_[parquet|csv].rs into query"
`source_csv` will be placed at `query/src/datasources/table/csv`

`source_parquet` will be placed at `query/src/datasources/common`
since `ParquetSource` is supposed to be reused by fuse table (see issue #2807)

`common-streams` should no longer depend on `common-dal`

[2021-11-17 03:44] dantengsky commented on #2807
@Veeupup
hi, there will likely be some merge conflicts here, since fixing issue #2835 needs to move `source_parquet.rs` around.
hope that will not bring too much inconvenience to you

[2021-11-17 03:45] BohuTANG commented on #2766
We can do it in the monitor side, it's a sql as : sum(read_bytes) ... group by time ....

[2021-11-17 03:48] wubx opened #2837 "sum on fuse engine make databend crash"
**Summary**
select sum(no_first_col)  on table ,  server will be crash .

mysql> select sum(b) from t2;
ERROR 2013 (HY000): Lost connection to MySQL server during query
No connection. Trying to reconnect...
Connection id:    8
Current database: wubx

ERROR 2013 (HY000): Lost connection to MySQL server during query
No connection. Trying to reconnect...
Connection id:    8
Current database: wubx

ER

[2021-11-17 03:51] sundy-li commented on #2837
The latest version seems did not panic, but got:
[code]

[2021-11-17 03:56] drmingdrmer commented on #2804
Not quite sure about this.
IOContext was meant to define a minimized API set for methods in Table. DatabendQueryContext is too powerful.

This is up to you guys. It won't bother me.

[2021-11-17 04:00] Veeupup commented on #2807
@dantengsky got it. It seems not that urgent to fix this issue now, I will try to fix it after #2835  is finished.

[2021-11-17 04:09] drmingdrmer commented on #2804
If in future GC or block-merge tasks will be standalone processes, `dal` would be better a standalone crate.

[2021-11-17 04:17] BohuTANG commented on #2804
This is a big point to consider, 服you :+1:

[2021-11-17 04:23] BohuTANG opened #2838 "Add `How to get the server logs` to development"
**Summary**

Add `How to get the server logs` to guide the user how to get the server logs from the MySQL/ClickHouse client.

[2021-11-17 04:29] youngsofun commented on #2828
@drmingdrmer how many times have you seen this test_fail,  no club for now, is it blocking you pr?

[2021-11-17 04:51] BohuTANG commented on #2804
As drmingdrmer said above, I think we should skip `move common/context and common/dal into query` this task for now, what do you think @dantengsky

[2021-11-17 04:51] dantengsky commented on #2804
:D

GC/Compaction tasks may be standalone processes, but will they be  ... the "databend-query" processes (in a distributed manner)?

or, it would be nice, if those tasks can be "manually assigned",   by using SQLs like ` vacuum t1 ...` or `optimize t1...`, and driven by the same MPP engine.

[2021-11-17 04:54] dantengsky commented on #2804
I am ok with it, this is not an urgent task.

[2021-11-17 04:57] BohuTANG commented on #2804
Yes, this is in databend-query side operated by manual.
If move `dal` to `query`, it will hard come back to common :cry:

[2021-11-17 04:57] BohuTANG commented on #2804
Thank you all @drmingdrmer @dantengsky

[2021-11-17 05:04] dantengsky commented on #2807
@Veeupup issue #2835 has been closed/canceled, please do not take it into account anymore

[2021-11-17 05:07] dantengsky commented on #2835
issue cancelled

[2021-11-17 05:07] #2835 closed

[2021-11-17 05:09] dantengsky commented on #2804
shall we close this issue  @BohuTANG

[2021-11-17 05:16] drmingdrmer commented on #2828
The odds are not high. I saw it only once. It does not block. Running the CI it passed.

[2021-11-17 05:20] dantengsky commented on #2804
mission abort :)

[2021-11-17 05:20] #2804 closed

[2021-11-17 05:25] #2837 closed

[2021-11-17 06:11] BohuTANG opened #2841 "Improve the error for the drop table in system database"
**Summary**

MySQL client:
[code]

server logs:
[code]

[2021-11-17 06:11] wubx opened #2842 "Subtract sum(*) from the manual"
**Summary**

Subtract sum(*) from the manual

sum(*) -> ERROR 1105 (HY000): Code: 7, displayText = Wildcard expressions are not valid to get return type.

[2021-11-17 06:12] #2838 closed

[2021-11-17 06:19] pymongo opened #2844 "angles function not support NULL input like MySQL"
**Summary**

databend:

[code]

MySQL:

[code]

**How to reproduce**

**Additional context**

https://github.com/datafuselabs/databend/blob/a4781bf3cff6286caf30200eddbe9f3648ad9e06/common/functions/src/scalars/maths/angle.rs#L66

angle function source code not support NULL input

[2021-11-17 06:20] pymongo commented on #2844
/assignme

[2021-11-17 06:26] flaneur2020 commented on #2844
besides the type check in the `return_value()` function, here'd raise an error on casting a NULL array to a float64 array:

https://github.com/datafuselabs/databend/blob/a4781bf3cff6286caf30200eddbe9f3648ad9e06/common/functions/src/scalars/maths/angle.rs#L84

because the arrow2 version we're using hasn't include the NULL casting logic yet, after cherry-picking this PR from arrow2 https://github.co

[2021-11-17 06:51] BohuTANG opened #2845 "Initial the directory for the config"
**Summary**

Initial the paths in the `config` when the databend-query server start.

[2021-11-17 07:13] BohuTANG commented on #2844
https://github.com/datafuse-extras/arrow2 has updated with the upstream

[2021-11-17 07:15] #2842 closed

[2021-11-17 07:24] Junnplus opened #2851 "Add doc for ceil, ceiling, floor func"
**Summary**

https://github.com/datafuselabs/databend/pull/2759

[2021-11-17 08:21] #2807 closed

[2021-11-17 08:37] BohuTANG opened #2853 "Add table engine enable config"
**Summary**

For some table engines, like `CSV/PARQUET/MEMORY` will be disabled in the cloud, users can only use the fuse engine (default).
It will introduce some configs like:
[code]
These configs are read only(only configured in the yaml file), we can't set them in the session.

[2021-11-17 08:46] PsiACE opened #2854 "[docs] update the url of databend weekly"
**Summary**

The new URL of the weekly is https://weekly.databend.rs/

[2021-11-17 09:44] #2845 closed

[2021-11-17 11:36] #2823 closed

[2021-11-17 12:05] GrapeBaBa commented on #2853
/assignme

[2021-11-17 12:38] #2854 closed

[2021-11-17 13:17] miamia0 commented on #2841
/assignme

[2021-11-17 13:56] zhang2014 opened #2857 "Wrong query result when use alias"
**Summary**
[code]

[2021-11-17 13:56] zhang2014 commented on #2857
`ExpressionExecutor` broken the execution alias order.

https://github.com/datafuselabs/databend/blob/996060a437af59baec796c4f9cfb518711ef4a6d/query/src/pipelines/transforms/transform_expression_executor.rs#L151-L161

[2021-11-17 14:05] #2831 closed

[2021-11-17 15:05] pinylin commented on #2191
/assignme

[2021-11-17 17:06] miamia0 opened #2860 "Execution of “create database system” succeeded"
**Summary**

I tried to create a database with the same name as the system database, but it was successfully created.

**How to reproduce**

**Error message and/or stacktrace**

![image](https://user-images.githubusercontent.com/25542995/142237058-386b1765-3020-46fe-a504-aba53ba395ff.png)
![image](https://user-images.githubusercontent.com/25542995/142241305-7fd32464-2e11-4fbb-a46a-25243b970ef8.png

[2021-11-17 23:14] #2456 closed

[2021-11-17 23:17] #2191 closed

[2021-11-18 01:01] BohuTANG commented on #2860
This is a bug here:
https://github.com/datafuselabs/databend/blob/9c2e1d606688bbac5134eaaee33dfb3b798dfb8d/query/src/catalogs/impls/catalog/overlaid_catalog.rs#L189-L195

For the catalog, it has two layers: 1) upper layer is read-only, such as system database and 2) bottom layer for the user's database, they are defined here:
https://github.com/datafuselabs/databend/blob/9c2e1d606688bbac5134eaaee3

[2021-11-18 01:03] #2766 closed

[2021-11-18 01:09] BohuTANG opened #2863 "Document insert select query"
**Summary**

Document #2765
Reference:
tests/suites/0_stateless/12_0000_insert_into_select.sql

[2021-11-18 01:10] ygf11 commented on #2863
/assignme

[2021-11-18 02:09] Veeupup commented on #2860
/assignme

[2021-11-18 02:23] Junnplus commented on #2851
/assignme

[2021-11-18 02:27] BohuTANG opened #2864 "Export metrics to json"
**Summary**

Databend using [metrics](https://github.com/metrics-rs/metrics) to collect metrics in the server side, we sitll need a json exporter, not sure the https://github.com/metrics-rs/metrics/tree/main/metrics-exporter-tcp is suite for that or not.

[2021-11-18 02:55] BohuTANG commented on #2864
It seems that the metrics can do it since we have a query id(UUID) label, we can print the log to file and filter by the [vector](https://github.com/vectordotdev/vector)

[2021-11-18 02:59] flaneur2020 commented on #2844
I think so 🤔

[2021-11-18 03:02] BohuTANG commented on #2864
tracing subscriber is another way

[2021-11-18 04:16] BohuTANG opened #2868 "Add `system.query_log` table"
**Summary**

`system.query_log` is a memory table and rotated older ones if the rows number is larger than N.

Tasks:
- [x] #2909
- [x] #2978
- [x] #3261
- [x] #3297
- [x] #3313

[code]

[2021-11-18 04:17] #2851 closed

[2021-11-18 04:21] BohuTANG commented on #2868
The hard part is how can we get the metrics from different crate(such as `common/dal` crate)

[2021-11-18 04:42] #2841 closed

[2021-11-18 04:52] BohuTANG commented on #2864
Another way is to add a self-host metrics table: https://github.com/datafuselabs/databend/issues/2868

[2021-11-18 04:54] flaneur2020 commented on #2864
is it possible to record the query history inside a system table? 🤔

like: https://clickhouse.com/docs/en/operations/system-tables/query_log/

[2021-11-18 05:42] BohuTANG opened #2869 "Proposal: Add DalContext to `dal` crate"
This issue should be considered a continuation of this issue [How binding session with dal request? ](https://github.com/datafuselabs/databend/issues/2766)

## Background

Just re-think this issue again, it's very helpful for us to impl  #2868
Now the biggest problem is:
how can we get the object(such as metrics) from the dal or others `who` is outside the `query` crate?

Just throw some ideas her

[2021-11-18 05:51] BohuTANG commented on #2869
@dantengsky @drmingdrmer @zhang2014 @sundy-li Comments and suggestions are most welcome

[2021-11-18 06:16] BohuTANG commented on #2864
Please see #2868

[2021-11-18 06:19] dantengsky commented on #2869
can we solve this by labeling metrics with something like `source' or `component_tag`?

[code]

is `Metrics` something like

[code]

[2021-11-18 06:23] flaneur2020 commented on #2868
how about calling this table `query_history`? if it includes a `query_id` in the column, it'd more like a query log other than metrics

[2021-11-18 06:28] BohuTANG commented on #2869
`metrics` only one of our requirements, such as we want introduce a `throttle`(such as how often for a s3 get/put) for the `dal` later, we can configure or setting for a tenant from the `query` crate.

`metrics` crate can not solve our problem is that:
if we add a uuid query_id, it will keep as a key in his internal, it will cause OOM as the queries grow.
`metrics` design for the aggregated metric

[2021-11-18 06:36] drmingdrmer opened #2870 "In `query`, `force shutdown` won't work"
Looks like there is a different issue with `query`, `force shutdown` won't work:
- `shutdown` takes a `&mut self`, it can be called only once before it returns.
- And graceful shutdown blocks for ever, if a graceful shutdown did not finish, there is no way to call it again with `graceful=false`, to trigger a force shutdown.

https://github.com/datafuselabs/databend/blob/76eb8624b005a29a0abc3ebbb43

[2021-11-18 06:49] dantengsky commented on #2869
oh, I should have taken a look at `system.tenant_metrics`

seems the responsibilities could be separated without introducing `DalContext`, rough idea:

assuming `metrics` and `throttle` things are inside the `query` crate, and take the responsibilities of recording metrics r logging (passively).
- move `common/dal/metrics` back to  crate `query`, so that the above components can be accessed by Dal

[2021-11-18 07:23] BohuTANG commented on #2869
I still perfer to introduce a context for tracking, like we are doing in query `QueryContext`, it looks more cleaner.

[code]

When to create a context and bind to the session:
In query crate when a session created:
[code]

When setting a throttle from sql:
[code]

in the setting interepter:
[code]

This looks like we have the whole link open and can do processing at object level.

[2021-11-18 08:09] dantengsky commented on #2869
Thanks for clarifying, it does help, especially the `SettingInterpreter` part.

`DalContext` does make sense

Few questions and suggestions:

- are `Throttle` and `Metrics` supposed to be `query` specific concepts?
   if it does, we have to move at least `common/dal/metric` to `query` (and rename it)
-  if functionalities of throttling and metrics can be implemented as an interceptor of a given in

[2021-11-18 08:10] BohuTANG commented on #2868
That's ok

[2021-11-18 08:22] BohuTANG commented on #2869
Thank you for suggesstion!

If we add DalContext with our metrics spec, the `metrics` crate should be removed from `dal` crate here, we no need them anymore.
We initially wanted to use this for query log history and for billing, but it is currently not meeting our demand, the reason I have talked above, please correct me if i miss something :)

:+1:
My mistake here, some place no need the context

[2021-11-18 08:27] BohuTANG commented on #2869
Going a little deeper into this discussion, we might merge the `TableIOContext` into the `DalContext`

[2021-11-18 08:36] BohuTANG commented on #2868
Need to first complete #2869

[2021-11-18 08:37] dantengsky commented on #2869
I am not how to merge them.
 @drmingdrmer may have suggestions about this.

[2021-11-18 08:47] BohuTANG commented on #2869
Sorry, ignore them, they are different Context and with no overlap fields.

[2021-11-18 09:50] jackwener commented on #1511
Hi, I notice that it doesn't progress.

If you aren't free to this issue, I can take it up.

[2021-11-18 10:04] drmingdrmer commented on #2869
What about leaving DAL-interceptor outside `query`?
The interceptor should only define how to report metrics.
How to store and use the metrics is not part of its job.

crate `dal`:
[code]

crate `query`:
[code]

[2021-11-18 10:06] drmingdrmer commented on #2869
BTW, `common/stream` depends on `dal`, thus `common/stream` has to depend on `DALContext`.

[2021-11-18 10:47] Veeupup commented on #1788
/assignme
this idea is very interesting and I will try to make `GitHub` a storage engine from a basic prototype.

[2021-11-18 11:23] #2860 closed

[2021-11-18 11:25] BohuTANG commented on #1511
@jackwener feel free to take it :D

[2021-11-18 11:31] flaneur2020 commented on #2779
@zhang2014 can i take this issue? I'm working on a draft on RBAC, want get some practises on the code base of the priviledge stuffs 🙏

[2021-11-18 12:20] jackwener commented on #1511
/assignme

[2021-11-18 13:03] BohuTANG opened #2872 "Add DalContext to dal crate"
**Summary**

Task
- [x] #2873
- [x] #2884
- [x] #2874
- [x] #2875

Reference:
#2869

[2021-11-18 13:03] BohuTANG opened #2873 "Change `TableIOContext` to `DatabendQueryContextRef`"

[2021-11-18 13:03] BohuTANG opened #2874 "Add `DalContext` to dal crate"

[2021-11-18 13:04] BohuTANG opened #2875 "Remove the metrics from dal crate"

[2021-11-18 13:57] miamia0 commented on #2857
/assignme

[2021-11-18 14:20] sundy-li opened #2877 "Make databend-test work in docker-compose node"
**Summary**

Description for this feature.

Currently `databend-test` depends on

1.   python env
2.  1-N `databend-query` processors
3.  1-N `databend-meta` processors
4.  Mocked s3/azure env like [minio](https://github.com/minio/minio) to simulate cloud services
5.  aws/azure cmd cli ...
5.   .... in the future

So it's better to migrate the testing tools into `docker-compose`  files to prepare

[2021-11-18 15:08] #2863 closed

[2021-11-18 15:52] zhang2014 commented on #2779
@flaneur2020 Good job. I'm unassigned.

[2021-11-18 23:20] BohuTANG commented on #2744
Plan to use system.query_log table instead the metrics https://github.com/datafuselabs/databend/issues/2868

[2021-11-18 23:20] #2744 closed

[2021-11-19 00:39] suzaku opened #2882 "Failing to run `make test` after setup"
[code]

**Operating system**

macOS.

**rust version**
[code]

**Databend git version**
`821d68fed`

When I run `make setup`, I get the following error:

[code]

[2021-11-19 01:55] ZhiHanZ commented on #2877
I think we do not need to maintain another Infrastructure, kubernetes could do the same job with no dependencies, except some small cluster such as k3d or minikube + kubectl.

[2021-11-19 01:57] #2873 closed

[2021-11-19 03:36] #2162 closed

[2021-11-19 04:38] BohuTANG opened #2884 "Add datasource context"

[2021-11-19 04:52] ZhiHanZ commented on #2882
I think it may because build-essential toolchain did not installed on your macOS
[code]
maybe helpful(I do not use macOS, thus cannot reproduce the issue :(

[2021-11-19 05:18] BohuTANG opened #2886 "Add aggregate example for `insert into select`"
**Summary**

[code]

[2021-11-19 05:34] #2884 closed

[2021-11-19 05:40] BohuTANG commented on #2882
I am not use macos too, databend supports macos build, a CI example maybe help you:
https://github.com/datafuselabs/databend/runs/4260358610?check_suite_focus=true

[2021-11-19 05:48] suzaku commented on #2882
@ZhiHanZ I'm afraid that's not the cause, as you can see from the output of `make setup`, `llvm 13.0.0_1` is already installed.

[2021-11-19 07:22] Junnplus commented on #2882
@suzaku try `CXX="g++ -stdlib=libc++" make test`, it working for me.

[2021-11-19 07:40] #2886 closed

[2021-11-19 08:45] sunisdown commented on #2702
@drmingdrmer

Hi bro, May I know where can we get the IP for the voters?

[2021-11-19 08:45] jackwener commented on #1759
/assign

[2021-11-19 08:46] jackwener commented on #1759
/assignme

[2021-11-19 08:52] jackwener opened #2890 "Developers can assign themselves by using `/assignme` and `/assign`"
**Summary**

Now, Developers only can assign themselves by using `/assignme`. It would be better to use `/assignme` and `/assign` simultaneously.

I can't find key word `assignme` in dir of `.github`.

[2021-11-19 08:53] jackwener commented on #2890
It's a little problem, but it's can reduce the useless comment due to mistaking command `/assign`.

[2021-11-19 09:27] drmingdrmer commented on #2702
`MetaNode.sto.get_node_addr(id)` is what you want XDDD

[2021-11-19 09:33] drmingdrmer commented on #2872
Does this issue need an update?

DalContext was moved into crate `query` by your last PR and for now it seems there is no way to move metrics reporting out of crate `dal`.

[2021-11-19 09:55] jackwener commented on #1537
Hi, @leiysky , I see that the issue didn't progress.
Could I take it up?

[2021-11-19 10:06] sunisdown commented on #2702
If I understand correctly, then `MetaNode.sto` contains all the nodes, which are divided into two kinds, the `voters` in the `membership_config`, and the `non-vonters` if they are not in the `membership_config`.

[2021-11-19 10:23] ZhiHanZ commented on #2890
I think it is related to https://github.com/datafuselabs/fusebots, and feel free to open a PR ：）

[2021-11-19 10:24] BohuTANG commented on #2872
In query/session/context.rs, add a new method will do it:
[code]

[2021-11-19 10:50] flaneur2020 opened #2894 "Fine-grained user privilege on database & table"
**Summary**

Currently we have got an UserPrivilege in the metastore, however it do not have the infomation on database & table yet.

We can allowing user grant privileges(like Select / Create) on a database or table.

Related: https://github.com/datafuselabs/databend/pull/2703 https://github.com/datafuselabs/databend/pull/2797

## thoughts on the user grants management

we may add a struct called

[2021-11-19 10:50] flaneur2020 commented on #2894
/assignme

[2021-11-19 10:51] flaneur2020 commented on #2815
before working on RBAC, the fine grained privileges on database or tables might be a prelude: https://github.com/datafuselabs/databend/issues/2894

[2021-11-19 11:11] #2857 closed

[2021-11-19 11:14] #2668 closed

[2021-11-19 11:15] drmingdrmer commented on #2668
- Fixed in #2701

[2021-11-19 11:16] BohuTANG commented on #2894
If we follow the MySQL way, Role has privileges, the object is database/object, user only has role

[2021-11-19 11:34] BohuTANG opened #2896 "Consider move log to use tracing for query crate"
**Summary**

metasrv: https://github.com/datafuselabs/databend/pull/2883

[2021-11-19 11:35] suzaku commented on #2882
It works for me, thanks.

[2021-11-19 11:35] #2882 closed

[2021-11-19 11:56] #2874 closed

[2021-11-19 11:56] #2875 closed

[2021-11-19 12:10] drmingdrmer commented on #2702
Absolutely definitely and surely correct.

[2021-11-19 12:22] drmingdrmer commented on #2872
Hm...
Comprehensive and reasonable. 🤔

[2021-11-19 12:40] #2872 closed

[2021-11-19 12:40] #2869 closed

[2021-11-19 12:41] BohuTANG commented on #2869
Proposal commit to entry log, closed

[2021-11-19 12:45] drmingdrmer opened #2899 "impl MetaAPI for StateMachine."

[2021-11-19 13:20] GrapeBaBa commented on #2853
@BohuTANG Should these configs be added in config.toml? If it is correct, meta config or storage config is more suitable?

[2021-11-19 13:48] BohuTANG commented on #2853
These config should in query config:
https://github.com/datafuselabs/databend/blob/c64086ea72ab15e3561a56a66b07962e52cec59b/query/src/configs/config_query.rs#L49

And we check them in  https://github.com/datafuselabs/databend/blob/c64086ea72ab15e3561a56a66b07962e52cec59b/query/src/datasources/table/prelude.rs#L25-L32

like:
[code]

[2021-11-19 14:19] sundy-li opened #2900 "Support create/describe stage"
**Summary**

Description for this feature.

Support create/describe stage.

`Stage` is a special table with some specific storage config.

We can upload files into the stage or unload the data from tables into files in the stage.

Refer to snowflake's stage doc: https://docs.snowflake.com/en/sql-reference/sql/create-stage.html

Firstly we implement the first stage command like:
[code]

[2021-11-19 19:22] mshauneu commented on #2563
/assignme sign() function

[2021-11-19 19:53] mshauneu commented on #2563
/assignme ROUND() function

[2021-11-19 19:55] mshauneu commented on #2563
/assignme ROUND() Round the argument

[2021-11-20 00:27] #2844 closed

[2021-11-20 01:07] Junnplus commented on #2563
/assignme POW() POWER()

[2021-11-20 01:20] BohuTANG opened #2908 "Remove some `#[allow(dead_code)]`"
**Summary**

For example: https://github.com/BohuTANG/datafuse/commit/22968b78c9614cbb871163f97f7c9722457b6df4
Welcome to pick up this task :)

[2021-11-20 01:31] lroolle commented on #2908
/assignme

[2021-11-20 01:46] BohuTANG opened #2909 "Add a interceptor for the interpreters wrapping query log operation"
# Summary

interpreter_interceptor.rs:
1. Returns Interpreter trait

[2021-11-20 01:53] BohuTANG commented on #2909
But the execute method returns a async stream, we don't know when the stream finished actually

[2021-11-20 01:59] BohuTANG commented on #2909
Should add a `finish` metod to `Interpreter` trait, when the stream is read out the handler(MySQL/ClickHouse/Http) should call the `finish` method to write the query log.

[2021-11-20 02:48] GrapeBaBa commented on #2900
/assignme

[2021-11-20 05:48] #2908 closed

[2021-11-20 09:36] dantengsky opened #2914 "Proposal: supports parallel insertion"
**Summary**

As
- PR #2765

merged, tables that support the `append` operation can take data in from a datasource (`SourceTransform`).
It would be better if data blocks could be ingested into the table in a distributed manner, sth like this (simplified):

[code]

Also, a brute-force plan for the compaction of fuse table can be rewritten as

  `replace  t1 as select * from t1 [order by clustering_k

[2021-11-20 09:51] sundy-li commented on #2914
Some thoughts:

1. Better naming `AppendTransform` --> `SinkTransform`
2. Insert interpreter did not execute the select interpreter directly,  it'll create a sinkTransform with input of pipeline built by SelectPlan.

[code]

[2021-11-20 10:01] #2656 closed

[2021-11-20 10:25] Xuanwo commented on #1620
I can't reproduce this timeout error, do you have more information?

[2021-11-20 10:46] BohuTANG commented on #1620
Flasky test, closed first

[2021-11-20 10:46] #1620 closed

[2021-11-20 10:59] #2909 closed

[2021-11-20 13:39] BohuTANG opened #2919 "Add unit tests for catalog"
**Summary**

https://github.com/datafuselabs/databend/tree/ac2164eac76b6c3c12d694127fc5d47f25b96000/query/src/catalogs

[2021-11-20 13:40] BohuTANG opened #2920 "Add unit tests for sessions"
**Summary**

https://github.com/datafuselabs/databend/tree/ac2164eac76b6c3c12d694127fc5d47f25b96000/query/src/sessions

[2021-11-20 14:33] ygf11 opened #2921 "Support stream level parallel insert"
**Summary**
For insert into select, it may generate multiple stream by SelectPlan, and these  will merge to one  now.
It's better to  avoid merging and enable stream-level parallel insert.

https://github.com/datafuselabs/databend/blob/73ed5a38ff04caee65bc91de2551d59cd9b9b4c9/query/src/pipelines/processors/pipeline.rs#L156-L161

relative https://github.com/datafuselabs/databend/pull/2765#pullreque

[2021-11-20 14:35] ygf11 commented on #2921
Seems this is not conflict with #2914

@sundy-li  @dantengsky  Should this do now or after #2914 ?

[2021-11-20 15:30] dantengsky commented on #2921
hi @ygf11,  great to see u again :D

I am not sure if there will be conflicts, would you please share with us the ideas for implementing this feature?

btw, I think(@sundy-li correct me if I am mistaken) the comments that @sundy-li given in  https://github.com/datafuselabs/databend/pull/2765#pullrequestreview-808691793 is the key hint that indicates the last_pipe is "converged", but I am afraid th

[2021-11-20 21:51] mshauneu commented on #2563
/assignme TRUNCATE() Truncate to specified number of decimal places

[2021-11-20 23:08] sundy-li commented on #2921
Yes, @dantengsky said is absolutely right.

Can `Table::append_data` make the part in pre-commit stage? Then at last merge pipe, it'll commit all pre-commit parts.

[code]

[2021-11-21 00:01] #1788 closed

[2021-11-21 02:34] BohuTANG opened #2925 "Proposal: Change the catalog to two parts: ImmutableCatalog and MutableCatalog"
**Summary**

## Background

Now, the catelog has two catagory:
* upper layer: this is readonly layer, now only one `system` database, we can not register another one, such as `information_schema` database
* bottom layer: this is metastore hosted layer, user can create/drop database/table, for now it's only one type:MetaCatalog, all the Catalog trait is following the MetaCatalog logic, we can not r

[2021-11-21 02:38] dantengsky commented on #2921
yes, we can do that

[2021-11-21 02:41] BohuTANG commented on #2925
The whole work seems to bring back the `database` trait...

[2021-11-21 02:46] dantengsky commented on #2925
spiral evolution？

[2021-11-21 03:36] miamia0 commented on #2920
hi, I'd like to take this issue, but it may take a week or two. Is that ok? (*^▽^*)

[2021-11-21 03:42] BohuTANG commented on #2920
Welcome, thank you @miamia0

[2021-11-21 03:59] ygf11 commented on #2921
hi @dantengsky, Thanks for comment:). Sorry for I didn't make it clear before.

I mean the two feature is not same, so they can both make insert faster.
1. in #2914, we want to do parallel insertion in node(process) level(I'm not sure I fully understand this proposal, please correct me If I'm mistake).
[code]
2. here, we want to do parallel in stream(thread) level just in a query node.

You're rig

[2021-11-21 04:00] miamia0 commented on #2920
/assignme

[2021-11-21 04:31] #2612 closed

[2021-11-21 04:38] #2864 closed

[2021-11-21 04:39] drmingdrmer opened #2929 "The bot has a bug here, need check the approve is the same person :)"
The bot has a bug here, need check the approve is the same person :)

_Originally posted by @BohuTANG in https://github.com/datafuselabs/databend/issues/2922#issuecomment-974727976_

The same person `/lgtm` twice counts as 2 approvals.

[2021-11-21 05:52] BohuTANG commented on #2919
Plant to do in #2925

[2021-11-21 06:02] sundy-li opened #2931 "Tracking: Support DataType::Decimal"
**Summary**

Description for this feature.

Now we have introduced Decimal128 and Decimal256 types, let's add more features on decimal types.

- [x] #9894
- [x] #9856
- [x] #9926   supports number -> Decimal,  Decimal -> Decimal and arithmetic functions   @sundy-li
- [x] #10214
- [ ] Group KeysU128 & KeysU256 will be stored as Decimal  @sundy-li
- [x] #10059
- [x] #10005
- [x] Add Decimal column s

[2021-11-21 06:55] JayL-zxl commented on #2896
/assign

[2021-11-21 07:06] JayL-zxl commented on #2896
/assignme

[2021-11-21 09:03] drmingdrmer opened #2936 "add Database.engine to metasrv"
Got it. And we need to save db.engine into metasrv.

_Originally posted by @drmingdrmer in https://github.com/datafuselabs/databend/issues/2932#issuecomment-974779329_

[2021-11-21 10:47] sundy-li opened #2937 "Improve databend-test"
**Summary**

Description for this improvement.

`databend-test` is a very useful testing tool based on the idea and codes of `clickhouse-test`.
Now it's time for us to improve it.

- [x] refactor `databend-test` codes to be more OOD (TestSuit, TestCase, TestResult).
- [x] support python jinja template to generate SQL and results.
- [x] support test tags

[2021-11-21 11:36] SGZW commented on #432
/assignme

[2021-11-21 11:46] zhang2014 commented on #2380
Now we can get the push down through the statement analyzer analysis layer. I will begin to work for this task.

[2021-11-21 14:18] sundy-li opened #2941 "pprof handler not work"
**Summary**

Description for this bug.

**How to reproduce**

version: master
env: macbook m1 pro Arm

[code]

[2021-11-21 14:22] sundy-li opened #2942 "Performance fallback"
(you don't have to strictly follow this form)

**Describe the situation**

The [performance doc](https://github.com/datafuselabs/databend/blob/main/website/databend/docs/overview/performance.md) can not be reproduced with latest code, about 0.3-0.5 X fallback.

[2021-11-21 18:00] mshauneu commented on #2563
/assignme DIV Integer division

[2021-11-22 03:48] dantengsky opened #2946 "Proposal: introducing table functions that export fuse table meta"
**Summary**

introducing system table functions, which export fuse table's segment/block metadata

The "semantics" of this function:
- grab a snapshot of the given table `db_name.tbl_name` (by using catalog)
- list all the segment infors of the given table

<del>about the schema of resultset, use `DataType::Struct` for nested data structure and  `Struct::List` for map.</del>
EDIT: let's start what

[2021-11-22 03:54] dantengsky commented on #2921
Sure :-)

[2021-11-22 04:53] #2925 closed

[2021-11-22 04:59] BohuTANG opened #2948 "Add database trait register to MutableCatalog"
**Summary**

Description for this improvement.

[2021-11-22 05:43] drmingdrmer commented on #2894
How do you like to store these `grant` information in metasrv?
E.g., what is it like if you are gonna store these info in a kv store?

[2021-11-22 05:57] flaneur2020 commented on #2894
it'd prefered to stored as a ordered flat kv format, like

[code]

so we can list an user's grants in a prefix scan.

but in the eariler days, a big `GrantSet` json is easier to implement, and it would not get very big in the near future (i cant imagine how to manage a 20+ grants configs🤔)

[2021-11-22 06:07] drmingdrmer commented on #2894
The firs one would be better to me 🤔

[2021-11-22 06:14] Junnplus opened #2951 "bug for log math function."
**Summary**

**How to reproduce**

[code]

**Error message and/or stacktrace**

If applicable, add screenshots to help explain your problem.

[How to get the server logs](https://databend.rs/development/how-to-get-server-logs/)

**Additional context**

Add any other context about the problem here.

[2021-11-22 06:41] junnplus opened #2954 "Add doc for log math function."
**Summary**

https://github.com/datafuselabs/databend/pull/2669
https://github.com/datafuselabs/databend/pull/2733

[2021-11-22 06:55] #2828 closed

[2021-11-22 07:05] flaneur2020 commented on #2894
@drmingdrmer could we make `dropping a database` + `dropping the users' grant on this database` in atomic in the current code base? q.q

it'd be nice to have some transactional guarantee on it

[2021-11-22 07:07] flaneur2020 opened #2955 "manage user grants in the UserManager"
**Summary**

parent issue:

- https://github.com/datafuselabs/databend/issues/2894

[2021-11-22 07:08] flaneur2020 commented on #2955
/assignme

[2021-11-22 07:21] flaneur2020 commented on #2779
/assignme

@zhang2014 thank you

[2021-11-22 07:25] drmingdrmer commented on #2894
Hmmm... not a big deal.

[2021-11-22 07:26] drmingdrmer opened #2956 "@drmingdrmer could we make `dropping a database` + `dropping the users' grant on this database` as an atomic operation in the current code base? q.q"
@drmingdrmer could we make `dropping a database` + `dropping the users' grant on this database` as an atomic operation in the current code base? q.q

it'd be nice to have some transactional guarantee on it

_Originally posted by @flaneur2020 in https://github.com/datafuselabs/databend/issues/2894#issuecomment-975188036_

[2021-11-22 07:26] drmingdrmer opened #2957 "it'd prefered to stored as a ordered flat kv format, like"
it'd prefered to stored as a ordered flat kv format, like

[code]

so we can list an user's grants in a prefix scan, and can drop a grant individually.

but in the eariler days, a big `GrantSet` json is easier to implement,

[code]

and it would not get very big in the near future (i cant imagine how to manage a 20+ grants configs🤔)

the cons of the big JSON is that we have to deserialize the obje

[2021-11-22 08:23] BohuTANG commented on #2941
Yes, but the web handler works well...

[2021-11-22 09:49] #2948 closed

[2021-11-22 13:57] #2951 closed

[2021-11-22 14:46] youngsofun opened #2963 "'select * from system.processes' deadlock"
**Summary**

**How to reproduce**

```select * from system.processes```

**Error message and/or stacktrace**

block forever

**Additional context**

the reason seems to be lock mutable_state twice:

the query does using DatabendQueryContextShared.runtime to run.
when getting ProcessInfo of current session with mutable_state locked,  a runtime is created.  mutable_state is lock again in get_setting

[2021-11-22 15:46] sunisdown commented on #2963
I prefer to show the process for current session. When we execute this query, current process executing the query is also part of the processlist being queried.

[2021-11-22 16:00] #2788 closed

[2021-11-23 00:21] youngsofun commented on #2963
another choice is to not try to init runtime in "to_process_info()".

[2021-11-23 00:36] BohuTANG commented on #2963
The problem here is that the same lock is nested in different places and this usage is not recommended.

[2021-11-23 00:42] BohuTANG commented on #2963
I think there is a deadlock detection somewhere, like:
https://github.com/p-avital/no-deadlocks

[2021-11-23 00:58] BohuTANG commented on #2963
cc @zhang2014

[2021-11-23 01:03] BohuTANG commented on #2963
It seems `mutable_state` should change to a `RwLock`, the mutex is risk here

[2021-11-23 01:18] sundy-li commented on #2941
Another bug in profiling `SELECT min(number) FROM numbers_mt(10000000000);`

[code]

[2021-11-23 03:41] youngsofun opened #2969 "`bendctl cluster create` fail to start"
**Summary**

`bendctl cluster create`  fail to start

**How to reproduce**

[code]

[2021-11-23 03:48] BohuTANG commented on #2963
This issue has fixed in this PR:https://github.com/datafuselabs/databend/pull/2966

In #2966, We make the MutableStatus as a unit, and the unit has his own get/set operation within the constraints of the RwLock, not constraintsby a global Mutex in the Session, this is a coarse-grained lock.
This is fine-grained vs. coarse-grained on lock, we should always follow the fine-grained way :D

[2021-11-23 04:03] TianLangStudio commented on #2969
Unified parameter name log_level or log-level  should be solved, from the error information

[2021-11-23 04:07] BohuTANG opened #2970 "Proposal: Add a `#[serde(default)] ` attribute for `common/meta/types`"
**Summary**

`common/meta/types` crate is a protocol for meta and query talking, if we have already serialized a type on meta and the structure adds a new field, the deserialization may report an error at this point, so suggestion to add a default value for the types.

https://github.com/datafuselabs/databend/blob/8737082bd71e028f2368a453005f576dbdc61ca2/query/src/configs/config_query.rs#L44-L52

[2021-11-23 04:08] BohuTANG commented on #2970
cc @drmingdrmer , @ZhiHanZ bendctl cli config also need it

[2021-11-23 06:47] Veeupup opened #2975 "[feature] github as datasource"
Summary
this is the follow-up on #1788 and #2925 , as discussion here https://github.com/datafuselabs/databend/issues/2897#issuecomment-974608050 makes more possibility on github as datasource.
we can create a database which presents the organizations name, and then this database will have all repos and extended repos as its table.
[code]

After creating a database with github engine, we will auto

[2021-11-23 06:53] BohuTANG commented on #2975
Like the idea and looking forward to it

[2021-11-23 06:56] BohuTANG commented on #2975
Feel free to take it away https://github.com/datafuselabs/databend/issues/2936 if needed

[2021-11-23 07:05] Veeupup commented on #2936
/assignme

[2021-11-23 07:09] drmingdrmer commented on #2970
LGTM

[2021-11-23 07:14] #2963 closed

[2021-11-23 07:33] BohuTANG opened #2976 "`CREATE STAGE`"
**Summary**

Same as [snowflake stage](https://docs.snowflake.com/en/sql-reference/sql/create-stage.html):

Statement:
[code]

Tasks:
- [x] #2900

[2021-11-23 07:38] sunisdown commented on #2702
@drmingdrmer When I was writing the code, I considered returning a map, similar to `{"non-voters": [nodeList...], "voters": [nodeList...]} , but felt that this would put too much functionality into one API. So the final implementation just returns a list of all the nodes.

[2021-11-23 07:44] #2769 closed

[2021-11-23 07:44] #2756 closed

[2021-11-23 07:45] BohuTANG opened #2978 "Add system.query_log"
## Summary

`system.query_log` is a read-only in memory table, it stores all the query logs under the schema:

[code]

This issue mainly for the system.query_log implemention,  the data source of the query_log table will be addressed in another issue.

[2021-11-23 08:09] BohuTANG opened #2979 "Add comment for column when create table"
**Summary**

[code]

Now databend returns an error:
[code]

There are two comments:
column comment
table comment

[2021-11-23 08:10] BohuTANG commented on #2978
cc @ZhiHanZ @flaneur2020
If some columns needed, feel free to add it ...

[2021-11-23 08:13] BohuTANG opened #2980 "`common/management` supports write <tenant_id/stage_name, stage_path> key-value pair to metasrv"

[2021-11-23 08:15] BohuTANG opened #2981 "bash pretty formatter"
**Summary**

Like the python formatter https://github.com/datafuselabs/databend/pull/2972, we still need a bash pretty formatter in `make lint`

[2021-11-23 08:19] SGZW commented on #2978
/assignme

[2021-11-23 08:19] BohuTANG commented on #2978
@SGZW Thank you for taking it

[2021-11-23 09:22] drmingdrmer commented on #2702
@sunisdown
Returning all nodes may not be enough.

I believe the original requirement is to monitor or to manage the metasrv cluster.
The health of voter nodes defines the health of the cluster. Thus there should at least be a list of voters in the returned valued.

BTW, which node is the leader is also an important info.

[2021-11-23 09:28] youngsofun commented on #2969
should be fix by https://github.com/datafuselabs/databend/pull/2977

[2021-11-23 09:28] #2969 closed

[2021-11-23 09:35] Junnplus commented on #2979
/assignme

[2021-11-23 09:51] jackwener commented on #1759
Hi, @sundy-li .
I implement the `explain ast` according to `explain pipeline`.
But, I found that `test_local_pipeline_build` use the `PlanParser::create(ctx.clone()).build_from_sql` parse sql.
But there's a problem.
`build_from_sql()` parse sql and output node, because it call `sql_statement_to_plan` inside.

[2021-11-23 09:53] jackwener commented on #1759
Now, I need the `statement` after `explain ast` is held, because it's need to call `visit` function of `Statment`.

[2021-11-23 10:16] sundy-li commented on #1759
`build_from_sql ` seems not used anymore in the latest code.

You can call ` DfParser::parse_sql(query)` to parse into `df_statement`.

@leiysky  I think  `TransformerSqlparser` should address `df_statement` instead of  `sqlparser::ast::Statement` then we can transform into our own `Statement`.

[2021-11-23 10:24] Junnplus commented on #2563
hi @sundy-li , Can you update the issue?  CONV DIV RAND is wip, others have been completed.

[2021-11-23 11:17] Veeupup commented on #2975
/assignme

[2021-11-23 13:23] flaneur2020 opened #2987 "`show process` displays settings but not the system.processes table"
**Summary**

[code]

but in the docs on `show processlist`, it should returns system.processes table shows.

[2021-11-23 13:23] flaneur2020 commented on #2987
/assignme

[2021-11-23 13:25] #2936 closed

[2021-11-23 13:36] BohuTANG commented on #2979
@Junnplus thank you for taking it, I have update the description of this issue, add: table comment

[2021-11-23 14:31] #2987 closed

[2021-11-23 16:49] PsiACE commented on #2563
I need to unassign this task for now. Sorry I should manage my task list more sensibly.

also, @Junnplus would you be interested in taking it?

[2021-11-23 21:35] mshauneu commented on #2563
/assignme rand() function

[2021-11-23 23:30] #2980 closed

[2021-11-24 01:37] BohuTANG opened #2992 "Proposal: Returning name with`*Ref` to its original form `Arc<T>`"
**Summary**

In databend, there are some structs named `*Ref`, this is a type alias as `Arc<T>`.
The wrapper feels a little redundant for the following main reasons:type are not clear enough, `Arc<T>` is more clear.

Let's see an example:
[code]

`SessionManagerRef` here is more readable for human with his original form: `Arc<SessionManager>`.

[2021-11-24 03:16] flaneur2020 opened #2994 "add function current_user()"
**Summary**

This issue is a sub issue of https://github.com/datafuselabs/databend/issues/2779

it can be used to test the session's current user.

[2021-11-24 03:16] flaneur2020 commented on #2994
/assignme

[2021-11-24 03:38] dantengsky opened #2997 "local dal hangs (high cup usage) while being called insides `futures::executor::block_on`"
**Summary**

`DataAccessor::read` hangs (busy loop, around 100% usage for one core), if

- read lots of files (around 1000 or more in local dev env) **sequentially**
- as part of a future,  "executed" by `futures::executor::block_on`

**How to reproduce**

[code]

**Additional context**

not sure why this happens, only have some clues after digging around, hope it may help:

- tokio file as an `As

[2021-11-24 04:42] #2992 closed

[2021-11-24 06:21] mshauneu commented on #2563
@PsiACE @sundy-li
I am working on DIV operator. To finish it I need a help:
- `DIV` operator reqs change of `sqlparser-rs`. So I did it and submit PR (https://github.com/datafuse-extras/sqlparser-rs/pull/9/files) pls take a look...
- impl of `DIV` operator would be simple if databend `/` operator comply with `mysql`, especially for case when delimiter is `0`:
[code]
That complicate 'SELECT 1 DIV 0

[2021-11-24 06:56] Junnplus opened #3004 "[functions] more functions working with string"
**Summary**

https://dev.mysql.com/doc/refman/8.0/en/string-functions.html

Tasks list:

If you are interested in one or more tasks in this issue, you can comment like: /assignme in the subtask issue  to make this subtask assigned to you.

- [x] #3014
- [x] #3015
- [x] #3016
- [x] #3017
- [x] #3018
- [x] #3019
- [x] #3020
- [x] #3021
- [x] #3022
- [x] #3023
- [x] #3024
- [x] #3025
- [x] #3028
- [x

[2021-11-24 07:01] Junnplus commented on #3004
@sundy-li Help add a `good first issue` label.

[2021-11-24 07:02] liukun4515 commented on #2931
Hi @sundy-li, I have a question about decimal data type which will be implemented in the feature.
From the [datatype](https://github.com/datafuselabs/databend/blob/f1d0a942dd90ccb91f0949e5c26db94b58e215a1/common/datavalues/src/types/data_type.rs#L26), we know the native data type(i32,i64) is simple. when add the decimal, we need to consider the `precision` and `scale`, refine the data type coercio

[2021-11-24 08:45] flaneur2020 opened #3006 "[doc] add `current_user()` document"
**Summary**

add `current_user()` in document.

parent issue:

- https://github.com/datafuselabs/databend/issues/2779

related:

- https://github.com/datafuselabs/databend/issues/2994

[2021-11-24 09:27] #2994 closed

[2021-11-24 10:37] #2407 closed

[2021-11-24 10:37] #2557 closed

[2021-11-24 11:04] sundy-li commented on #2931
How about making decimal's  physical_type to Int128 ?
 As arrow did https://github.com/jorgecarleitao/arrow2/blob/main/src/datatypes/mod.rs#L247

[2021-11-24 11:10] zhyass opened #3008 "Add maybe_monotonic feature for functions"
**Summary**

Add maybe_monotonic feature for functions, maybe_monotonic indicate the function maybe monotonicity in a range of values, it can be used in range filter.

[2021-11-24 11:12] Xuanwo commented on #3004
/assignme LOWER LCASE UPPER UCASE

They are similar functions, so I think it's OK to take them at the same time.

[2021-11-24 11:18] sundy-li commented on #2563
@mshauneu  we can have a new function named `intDiv` and map the `div` operator into this function.

For MySQL return NULL if divided by zero, it's related to config `ERROR_FOR_DIVISION_BY_ZERO` in MySQL.  This config will not be introduced in databend, it's too complicated.

I think it is ok to output `inf`, because  3/0 = 3.0f64/0.0f64 = f64::INFINITY.  Some design of MySQL is poor, no need to b

[2021-11-24 12:11] zhang2014 opened #3010 "LOWER() | Return the argument in lowercase"

[2021-11-24 12:12] zhang2014 opened #3011 "LCASE() | Synonym for LOWER()"

[2021-11-24 12:12] zhang2014 opened #3012 "UCASE() | Synonym for UPPER()"

[2021-11-24 12:12] zhang2014 opened #3013 "UPPER() | Convert to uppercase"

[2021-11-24 12:20] zhang2014 commented on #3004
I converted them as issues. CC: @Xuanwo

[2021-11-24 12:23] sundy-li opened #3014 "ASCII() | Return numeric value of left-most character"

[2021-11-24 12:23] sundy-li opened #3015 "BIN() | Return a string containing binary representation of a number"

[2021-11-24 12:24] sundy-li opened #3016 "BIT_LENGTH() | Return length of argument in bits"

[2021-11-24 12:24] sundy-li opened #3017 "CHAR() | Return the character for each integer passed"

[2021-11-24 12:24] sundy-li opened #3018 "CHAR_LENGTH() | Return number of characters in argument"

[2021-11-24 12:24] sundy-li opened #3019 "CHARACTER_LENGTH() | Synonym for CHAR_LENGTH()"

[2021-11-24 12:24] sundy-li opened #3020 "CONCAT() | Return concatenated string"

[2021-11-24 12:24] sundy-li opened #3021 "CONCAT_WS() | Return concatenate with separator"

[2021-11-24 12:24] sundy-li opened #3022 "ELT() | Return string at index number"

[2021-11-24 12:24] sundy-li opened #3023 "EXPORT_SET() | Return a string such that for every bit set in the value bits, you get an on string and for every unset bit, you get an off string"

[2021-11-24 12:24] sundy-li opened #3024 "FIELD() | Index (position) of first argument in subsequent arguments"

[2021-11-24 12:25] sundy-li opened #3025 "FIND_IN_SET() | Index (position) of first argument within second argument"

[2021-11-24 12:26] zhang2014 opened #3026 "WEIGHT_STRING() | Return the weight string for a string"

[2021-11-24 12:26] zhang2014 opened #3027 "UNHEX() | Return a string containing hex representation of a number"

[2021-11-24 12:26] sundy-li opened #3028 "FORMAT() | Return a number formatted to specified number of decimal places"

[2021-11-24 12:26] sundy-li opened #3029 "FROM_BASE64() | Decode base64 encoded string and return result"

[2021-11-24 12:26] zhang2014 opened #3030 "TRIM() | Remove leading and trailing spaces"

[2021-11-24 12:26] zhang2014 opened #3031 "UNHEX() | Return a string containing hex representation of a number"

[2021-11-24 12:27] zhang2014 opened #3032 "TO_BASE64() | Return the argument converted to a base-64 string"

[2021-11-24 12:27] zhang2014 opened #3033 "SUBSTRING_INDEX() | Return a substring from a string before the specified number of occurrences of the delimiter"

[2021-11-24 12:27] sundy-li opened #3034 "FROM_BASE64() | Decode base64 encoded string and return result"

[2021-11-24 12:27] zhang2014 opened #3035 "SUBSTRING() | Return the substring as specified"

[2021-11-24 12:27] sundy-li opened #3036 "HEX() | Hexadecimal representation of decimal or string value"

[2021-11-24 12:27] zhang2014 opened #3037 "SUBSTR() | Return the substring as specified"

[2021-11-24 12:27] sundy-li opened #3038 "INSERT() | Insert substring at specified position up to specified number of characters"

[2021-11-24 12:27] zhang2014 opened #3039 "STRCMP() | Compare two strings"

[2021-11-24 12:27] zhang2014 opened #3040 "SPACE() | Return a string of the specified number of spaces"

[2021-11-24 12:27] sundy-li opened #3041 "HEX() | Hexadecimal representation of decimal or string value"

[2021-11-24 12:27] zhang2014 opened #3042 "SOUNDS LIKE | Compare sounds"

[2021-11-24 12:27] sundy-li opened #3043 "INSERT() | Insert substring at specified position up to specified number of characters"

[2021-11-24 12:27] sundy-li opened #3044 "INSTR() | Return the index of the first occurrence of substring"

[2021-11-24 12:27] zhang2014 opened #3045 "SOUNDEX() | Return a soundex string"

[2021-11-24 12:27] sundy-li opened #3046 "LEFT() | Return the leftmost number of characters as specified"

[2021-11-24 12:27] zhang2014 opened #3047 "RTRIM() | Remove trailing spaces"

[2021-11-24 12:27] zhang2014 opened #3048 "RPAD() | Append string the specified number of times"

[2021-11-24 12:27] sundy-li opened #3049 "LENGTH() | Return the length of a string in bytes"

[2021-11-24 12:27] zhang2014 opened #3050 "RLIKE | Whether string matches regular expression"

[2021-11-24 12:28] sundy-li opened #3051 "LIKE | Simple pattern matching"

[2021-11-24 12:28] zhang2014 opened #3052 "RIGHT() | Return the specified rightmost number of characters"

[2021-11-24 12:28] zhang2014 opened #3053 "REVERSE() | Reverse the characters in a string"

[2021-11-24 12:28] zhang2014 opened #3054 "REPLACE() | Replace occurrences of a specified string"

[2021-11-24 12:28] zhang2014 opened #3055 "REPEAT() | Repeat a string the specified number of times"

[2021-11-24 12:28] zhang2014 opened #3056 "REGEXP_SUBSTR() | Return substring matching regular expression"

[2021-11-24 12:28] zhang2014 opened #3057 "REGEXP_REPLACE() | Replace substrings matching regular expression"

[2021-11-24 12:28] sundy-li opened #3058 "LPAD() | Return the string argument, left-padded with the specified string"

[2021-11-24 12:29] sundy-li opened #3059 "LOAD_FILE() | Load the named file"

[2021-11-24 12:29] sundy-li opened #3060 "LOCATE() | Return the position of the first occurrence of substring"

[2021-11-24 12:30] sundy-li opened #3061 "LTRIM() | Remove leading spaces"

[2021-11-24 12:30] sundy-li opened #3062 "MAKE_SET() | Return a set of comma-separated strings that have the corresponding bit in bits set"

[2021-11-24 12:30] sundy-li opened #3063 "MATCH() | Perform full-text search"

[2021-11-24 12:31] sundy-li opened #3064 "MID() | Return a substring starting from the specified position"

[2021-11-24 12:31] zhang2014 opened #3065 "REGEXP_LIKE() | Whether string matches regular expression"

[2021-11-24 12:31] sundy-li opened #3066 "NOT LIKE | Negation of simple pattern matching"

[2021-11-24 12:31] sundy-li opened #3067 "NOT REGEXP | Negation of REGEXP"

[2021-11-24 12:31] sundy-li opened #3068 "OCT() | Return a string containing octal representation of a number"

[2021-11-24 12:31] zhang2014 opened #3069 "REGEXP_INSTR() | Starting index of substring matching regular expression"

[2021-11-24 12:31] sundy-li opened #3070 "OCTET_LENGTH() | Synonym for LENGTH()"

[2021-11-24 12:31] zhang2014 opened #3071 "REGEXP | Whether string matches regular expression"

[2021-11-24 12:31] sundy-li opened #3072 "ORD() | Return character code for leftmost character of the argument"

[2021-11-24 12:31] zhang2014 opened #3073 "QUOTE() | Escape the argument for use in an SQL statement"

[2021-11-24 12:31] sundy-li opened #3074 "OCT() | Return a string containing octal representation of a number"

[2021-11-24 12:31] sundy-li opened #3075 "POSITION() | Synonym for LOCATE()"

[2021-11-24 12:33] Xuanwo commented on #3012
/assignme

[2021-11-24 12:33] Xuanwo commented on #3010
/assignme

[2021-11-24 12:34] ZhiHanZ opened #3076 "[CI] merge CI files for better resource utilization"
**Summary**
We could merge CI files to use fewer resources on repeated building process for faster CI speed and less CI machine utilization
1. Merge docker build to one process (currently perf-tool and regular docker are separated)
2. Merge audit processes to one file
3. Merge lint to one file

[2021-11-24 12:34] Xuanwo commented on #3011
/assignme

[2021-11-24 12:37] #3008 closed

[2021-11-24 13:27] ariesdevil commented on #3076
I think we should only run MacOS tests when merging to the main branch, not every time a pull request is made

[2021-11-24 19:44] mshauneu commented on #2563
@sundy-li *we can have a new function named intDiv and map the div operator into this function* - that is exactly what I am doing right now... The question is what I should return for case `N DIV 0` - returning INF  will lead to return **float** type for any response, that is a bit confusing because DIV assume discard fractional part therefore results could be **int**.

[2021-11-25 00:58] sundy-li opened #3082 "[query] http streaming load"
**Summary**

Description for this feature.

[2021-11-25 01:11] sunli829 commented on #3074
/assignme

[2021-11-25 01:14] sunli829 commented on #3068
duplicate #3074  ?

[2021-11-25 01:14] sunli829 commented on #3068
/assignme

[2021-11-25 01:40] BohuTANG opened #3084 "Continuous Benchmarking"
**Summary**

DuckDB's benchmarking are very professional here https://duckdb.org/benchmarks/index.html, thanks to DuckDB for providing such a good testing style :D

Follow the style, databend can also integrate tests:
- [x] #3263
- [ ] Provide the hardware(container) for the runner, this can be based on our perf test
- [ ] Run the runner for each nightly version and collect the results to a databa

[2021-11-25 01:51] ZhiHanZ commented on #3084
Possible settings:
* 2 workers (4vCPU + 4Gi RAM) run on cloud to benchmark on a medium size dataset (ontime small is fine for now)
Need to test the following spec
1. test the performance on S3 storage type (COPY， INSERT， aggregation)
2. test the performance on local disk (INSERT, aggregation)

[2021-11-25 01:58] sunli829 commented on #3055
/assignme

[2021-11-25 02:03] nange commented on #3071
/assignme

[2021-11-25 02:11] nange commented on #3065
/assignme

[2021-11-25 02:13] nange commented on #3067
/assignme

[2021-11-25 02:55] sunisdown commented on #2919
/assignme

[2021-11-25 03:47] ygf11 commented on #2997
Hi @dantengsky,
I think it's caused by [tokio coop](https://tokio.rs/blog/2020-04-preemption).

To avoid task  starving, tokio will stop long running task(by io count) and reschedule them later.
With `futures::executor::block_on()`, task will poll in a loop. when task exhaust its coop budget, polling task will always return Pending, this make high cup usage. `block_on` source code:
https://github.

[2021-11-25 03:58] drmingdrmer opened #3088 "add metasrv startup config file: `--config-file <fn>` or `-c <fn>`"
Load config from a toml file instead of from command line args if `--config-file` or `-c` is provided.

Related file:
https://github.com/datafuselabs/databend/blob/4cdb600ec4ee6d6ee9da0fb3c1de23cafebf62dd/metasrv/src/configs/config.rs#L53

`main()` needs to load config from specified file:
https://github.com/datafuselabs/databend/blob/4cdb600ec4ee6d6ee9da0fb3c1de23cafebf62dd/metasrv/src/bin/metasr

[2021-11-25 04:47] #2981 closed

[2021-11-25 05:46] dantengsky commented on #2997
@ygf11

 really appreciate!

yes, here is the "hangs" triggered, and being refactored to eliminate the `futures::executors::block_on`.

`tokio::task::unconstrained` is a cool idea,  if the refactoring works could not be "converged" in a short period of time, I think we should use `tokio::task::unconstrained` first to mitigate this issue

[2021-11-25 06:56] Veeupup commented on #2975
github api has rate limiting https://docs.github.com/en/rest/overview/resources-in-the-rest-api#rate-limiting

if we want this feature works good, so we will need user to specify their `GITHUB_TOKEN` or basic OAuth.

[2021-11-25 08:15] xxchan commented on #3051
/assignme

[2021-11-25 08:32] BohuTANG opened #3095 "`INSERT INTO a VALUES (-1)` then select returns `0`"
**Summary**

Description for this bug.

**How to reproduce**

[code]

Server version:
[code]

[2021-11-25 08:57] BohuTANG commented on #3095
It looks like it's the mysql handler bug, ClickHouse client works well

[2021-11-25 09:45] BohuTANG opened #3098 "Consider refactory catalog trait"
**Summary**

catalog trait is not clear, for example in `catalog` trait it has a `build_table` to return a `dyn Table` by table info and used by many places:
[code]

In database trait, it has `get_table` to return `dyn Table` by db_name and table_name and used by many places other:
[code]

Goal:
1. Provide a unitfied trait api
2. User can easily implement their own datasource under the api

[2021-11-25 11:05] sundy-li commented on #3095
After the `sqlparser` `-1` will be formatted as  `- 1`  (a space in the middle), so it failed to parse into an integer.

I'd like to change this into:

`Insert into a values  Vec< Vec<Expr> >  `   ==> `insert into a select    Vec< Vec<Expr> > `

Then we can reuse `insert into select `.

Also we can handle Expr inside the values, eg:  `insert  into a values(now()), (rand())`

[2021-11-25 11:13] Junnplus opened #3100 "substring returns unexpected value"
**Summary**

Description for this bug.

**How to reproduce**

[code]

If applicable, add screenshots to help explain your problem.

[How to get the server logs](https://databend.rs/development/how-to-get-server-logs/)

**Additional context**

Add any other context about the problem here.

[2021-11-25 12:04] sundy-li commented on #3100
The second and third columns should always be constant.

[2021-11-25 12:35] #2890 closed

[2021-11-25 13:02] Junnplus commented on #3100
I don't think so. We should not require them to always be constant, unless warning to the user.
But, clickhouse and mysql no such requirement.

[code]

[2021-11-25 13:55] Veeupup commented on #3098
agree with you ... they have a similar meaning and I get confused when first encountering these two trait methods

[2021-11-25 14:46] zhang2014 commented on #2942
This may be related to the `RuntimeTracker`. I will try fix this.

[2021-11-25 14:55] #3095 closed

[2021-11-25 15:02] #2380 closed

[2021-11-26 01:11] #2914 closed

[2021-11-26 01:51] BohuTANG opened #3103 "flight::metasrv_flight_kv_api::test_kv_api_timeout stdout always failed on MacOS"
**Summary**

[code]

[2021-11-26 01:54] BohuTANG commented on #3103
Same issue happens here:
https://github.com/datafuselabs/databend/runs/4323005954?check_suite_focus=true#step:5:1901

[2021-11-26 02:01] dust1 commented on #3014
/help

[2021-11-26 02:01] dust1 commented on #3014
/assignme

[2021-11-26 02:15] dantengsky commented on #2416
seems pr #2581 resolved this, pls feel free to reopen this if necessary

[2021-11-26 02:15] #2416 closed

[2021-11-26 02:15] dantengsky commented on #2468
seems pr #2581 resolved this, pls feel free to reopen this if necessary

[2021-11-26 02:15] #2468 closed

[2021-11-26 02:54] #3074 closed

[2021-11-26 02:54] #3055 closed

[2021-11-26 02:54] #3068 closed

[2021-11-26 03:42] sunli829 commented on #3061
/assignme

[2021-11-26 03:42] sunli829 commented on #3047
/assignme

[2021-11-26 03:43] sunli829 commented on #3041
/assignme

[2021-11-26 03:43] sunli829 commented on #3036
/assignme

[2021-11-26 04:46] BohuTANG commented on #3103
main branch test is ok now, not sure it related to the github macos runner issue

[2021-11-26 05:03] sunli829 commented on #3031
/assignme

[2021-11-26 05:03] sunli829 commented on #3027
/assignme

[2021-11-26 05:28] #2378 closed

[2021-11-26 05:29] sunli829 commented on #3073
/assignme

[2021-11-26 05:47] wubx opened #3111 "bendctl can't load data into databend"
**Summary**
bendctl load data error

$bendctl --databend_dir .databend --group local load $HOME/dataset/ontime.csv --table ontime
thread 'main' panicked at 'cannot post to http handler: reqwest::Error { kind: Request, url: Url { scheme: "http", cannot_be_a_base: false, username: "", password: None, host: Some(Ipv4(127.0.0.1)), port: Some(8000), path: "/v1/query", query: Some("wait_time=-1"), fragm

[2021-11-26 05:49] zhyass opened #3112 "Add monotonicity in range filter"
**Summary**

Need add monotonicity in range filter, after https://github.com/datafuselabs/databend/pull/2743 and https://github.com/datafuselabs/databend/pull/2933 are merged.

A preliminary plan, CC @junli1026 :
E.g.` f(x) > 0`
1. Traverse f(x), get `maybe_monotonic` feature, if true, continue.
2. The verifiable expression changes from `f(max(x)) > 0` to `max(f(x)) > 0`.
3. Call MonotonicityCheck

[2021-11-26 05:56] wubx opened #3113 "Howto use bendctl change databend version?"
**Summary**

Today  I want change databend to yestoday version,   so to do like :

[local] [admin]> package switch v0.5.26-nightly
[ok] ✅ Package switch to v0.5.26-nightly

[local] [admin]> package list
+-----------------+-------------------------------------------------+---------+
| Version         | Path                                            | Current |
+-----------------+------------------

[2021-11-26 06:00] wubx opened #3114 "Please add command : bendctl cluster start"
**Summary**

bendctl cluster start synonymy bendctl cluster create

[2021-11-26 06:02] wubx opened #3115 "bendctl support multi space in the command"
**Summary**

[local] [admin]> cluster view
+----------------+---------+----------+----------+---------------------------------------------------------------+
| Name           | Profile | Health   | Tls      | Config                                                        |
+----------------+---------+----------+----------+---------------------------------------------------------------+
| meta_confi

[2021-11-26 07:07] BohuTANG commented on #3113
[code]

[2021-11-26 07:08] youngsofun commented on #3111
[code]

[2021-11-26 07:11] BohuTANG opened #3117 "bendctl `version` command request http://127.0.0.1:8080/v1/health"
**Summary**

[code]

The command `version` should not check the health here

[2021-11-26 07:19] youngsofun commented on #3111
may bad row constructed in "values"

save error for:

[code]

[2021-11-26 09:01] wubx commented on #3113
package switch not take  effect

[2021-11-26 09:08] wubx commented on #3111
make stateful-test  get the same error log

[2021-11-26 09:27] BohuTANG commented on #3117
`sql` profile should check the `admin` profile command, and returns the error hint

[2021-11-26 09:34] dantengsky opened #3121 "simple chunked insertion (by number of blocks)"
**Summary**

enable a simple chunk strategy during insertion:
 - try to compact a given **number** DataBlocks of upstream into one DataBlock (and form a segment for it)

the **number**  could be configured in table options, if not config, a default value 1000 will be used.

[2021-11-26 09:38] Run-Lin commented on #3082
I want it！！！

[2021-11-26 09:50] youngsofun commented on #3111
1. ontime.csv is ill formatted: each line (including the header line) is ended with ",",   csv-reader return one more columns per row.
   2. but it does not cause err yesterday..
2. insert become very slow compared with  yesterday
3. during insert,   select count(*)  report error.

[code]

[2021-11-26 10:31] ZhiHanZ opened #3123 "[Security] Support to use STS token credential to visit storage backend"
**Summary**
In k8s cluster like EKS, service account could trigger some sort of controller to generate token with specified IAM permissions to manipulate S3 resources, it would be nice to support it on storage configuration
helpful reference:
https://levelup.gitconnected.com/using-iam-roles-to-allow-the-pods-in-aws-eks-to-read-the-aws-s3-bucket-be493fbdda84

https://rusoto.github.io/rusoto/rusoto_

[2021-11-26 12:22] #2975 closed

[2021-11-26 13:51] zhang2014 commented on #3111
fixes by #3127

[2021-11-26 13:52] sundy-li opened #3128 "Engine Memory support projection"
**Summary**

ontime_memory used `engine = Memory` cost extra read on used column, it can support column projection like FuseEngine.
[code]

[2021-11-26 18:22] mshauneu commented on #3004
/assignme FROM_BASE64() TO_BASE64()

[2021-11-26 23:20] #3027 closed

[2021-11-26 23:20] #3036 closed

[2021-11-26 23:20] #3041 closed

[2021-11-26 23:20] #3031 closed

[2021-11-26 23:20] #3073 closed

[2021-11-26 23:20] #3061 closed

[2021-11-26 23:20] #3047 closed

[2021-11-26 23:51] BohuTANG commented on #3128
Does this PR affected fuse projection push down? https://github.com/datafuselabs/databend/pull/3127

[2021-11-27 03:45] zhang2014 commented on #3128
No. pushdown is processed in analyzer and table engine(fuse engine is supported). We only need to support projection in memory engine.

[2021-11-27 04:08] BohuTANG opened #3132 "Consider moving stateful test from stateless test to a single github stateful test"
**Summary**

Origin comments:
https://github.com/datafuselabs/databend/pull/3126#issuecomment-980475196
https://github.com/datafuselabs/databend/pull/3126#issuecomment-980477041

[2021-11-27 04:54] #3082 closed

[2021-11-27 05:45] #3014 closed

[2021-11-27 08:56] #2853 closed

[2021-11-27 10:03] BohuTANG commented on #3098
Some initial thoughts:

1. Lift the database trait to catalog trait, it something as: https://github.com/datafuselabs/databend/blob/2fd5b9c175ae6212d12c5115ab189333616d3271/query/src/catalogs/catalog.rs
How should we define the functions of catalog?

2. Rename `datasources` to `storages`, the directory layout looks like:
[code]
In `storages` dir, the table engine defines:
How and where data is sto

[2021-11-27 10:22] BlackSmith96 commented on #3049
/assignme

[2021-11-27 10:23] BlackSmith96 commented on #3017
/assignme

[2021-11-27 12:10] Xuanwo commented on #3011
I'm working on https://github.com/jorgecarleitao/arrow2/issues/635 to add required support in arrow.

Here is the checklist for work on arrow2 side:

- https://github.com/jorgecarleitao/arrow2/pull/641
- Add upper support

[2021-11-27 14:21] #3132 closed

[2021-11-27 15:35] Xuanwo commented on #3034
/assign @mshauneu

[2021-11-28 00:06] BohuTANG commented on #3034
/help

[2021-11-28 00:20] BohuTANG commented on #3034
/help

[2021-11-28 00:20] BohuTANG commented on #3034
/assign @mshauneu

[2021-11-28 01:20] #3111 closed

[2021-11-28 02:19] BohuTANG opened #3137 "` meta_service::raftmeta::test_meta_node_` test failed on macos ci"
**Summary**

https://github.com/datafuselabs/databend/runs/4343181721?check_suite_focus=true#step:5:1930

[code]

[2021-11-28 06:50] suzaku opened #3138 "Server never responds when the queries are sent from client libraries"
**Summary**

Description for this bug.

**How to reproduce**

Use client libraries of Go/Python to connect Databend as `clickhouse` or `mysql`.

We can use `pymysql` as an example here, but I have observed similar situation when using the Go standard library.

[code]

**Error message and/or stacktrace**

[code]

The logs show that Databend has received the query, but it just stops there and seems

[2021-11-28 10:12] sunisdown commented on #3137
0_0, the failed test has blocked me for days , but I can't reproduce it on my local env.

[2021-11-28 11:52] BohuTANG commented on #3137
Mac guys may help @drmingdrmer

[2021-11-28 12:31] ZhiHanZ commented on #3138
Hi @suzaku , not sure about your  databend version for testing third party clients.
I have tested it manually on my local machine， and pymysql snippet works
Init a single node cluster
[code]

Run python3 client query
![image](https://user-images.githubusercontent.com/25170437/143767767-9bd076fb-c9f8-481c-a315-e2b8049fbb3c.png)

Client library integration test is very important, which has not been

[2021-11-28 12:33] suzaku commented on #3138
The Databend server I connected was started with `docker run --init --rm -p 9001:9001 -p 9191:9191 -p 3307:3307 datafuselabs/databend`.

[2021-11-28 12:35] suzaku commented on #3138
I would love to help, but it takes too long to compile a Rust project on my laptop and it starts to feel like a waste of time 🤣

[2021-11-28 13:10] sundy-li commented on #3138
It's true that the first time to build a large rust projection takes a long time.  But it'll be faster for increment building.
On my MacBook pro-2021, it needs 1-2 minutes to `make debug` from zero caches.

Thanks for the report, I'll try to reproduce it from your steps.

[2021-11-28 13:15] sundy-li commented on #3138
[code]

logs:
[code]

Seems the docker image is out of date, is this because we forgot to change the branch from master to main in `databend-docker.yml`? @ZhiHanZ

[2021-11-28 13:19] ZhiHanZ commented on #3138
please update the docker repo, which should be updated

please update latest docker repo, which should get updated

[2021-11-28 13:20] suzaku commented on #3138
Thanks. I'll try later. I guess in most cases, I don't really have to do extra setup to integrate Databend, right? I can just use it like a clickhouse server.

[2021-11-28 13:22] ZhiHanZ commented on #3138
we maintain mysql and clickhouse protocol by default, feel free to open any issues on compatibility part.

[2021-11-28 13:22] suzaku commented on #3138
Good to know that, thanks.

[2021-11-28 15:18] ZhiHanZ opened #3141 "[Performance] microbenchmark framework"
**Summary**
In order to summarize on query engine performance and get avoid from performance rollback, we should have some generic microbenchmark framework to run during each nightly release.
Microbenchmark is designed as regular approach to get avoid of performance rollback, which perform as supplementary role in performance engineering. Comparing to e2e benchmark, microbenchmark rely on static d

[2021-11-28 15:52] ygf11 commented on #3128
It seems turning on  `column prune` for MemoryTable can fix this issue.
[code]

[2021-11-28 15:53] ygf11 commented on #3128
/assignme

[2021-11-28 18:24] drmingdrmer commented on #3137
Let me have a fantastic look.

[2021-11-28 23:17] #2942 closed

[2021-11-28 23:20] #2561 closed

[2021-11-28 23:21] #2170 closed

[2021-11-29 00:55] BohuTANG opened #3143 "Document http handler api"
**Summary**

Document databend HTTP REST API: Methods, Parameters and samples

[2021-11-29 01:13] dust1 commented on #3015
/assignme

[2021-11-29 01:23] #896 closed

[2021-11-29 02:07] Veeupup opened #3144 "[fuse table] impl insert overwrite stmt"
**Summary**

impl `insert overwrite ...`  stmt

goal:
* replace a fuse table's data from another table, drop previous snapshots and segments info.

this is a task in #1780

[2021-11-29 02:13] Veeupup commented on #3144
/assignme

[2021-11-29 04:25] mshauneu commented on #3060
/assignme

[2021-11-29 04:26] mshauneu commented on #3075
/assignme

[2021-11-29 06:07] #3032 closed

[2021-11-29 06:07] #3034 closed

[2021-11-29 06:37] dantengsky opened #3147 "chunked insertion (by size of blocks)"
**Summary**

Original:

**Updated (2022-03-30):**

Although this issue has been fixed by PR #3122,  later a strategy of merging small blocks into bigger ones by the number of rows is used.

It would be better if both bock_size(in bytes, before compression, imo) and number_rows are taken into account while merging small blocks into larger ones. such that the size of memory used to construct the blo

[2021-11-29 07:52] drmingdrmer commented on #3137
It still seems to be a busy CI caused timeout.

It was running in debug mode thus there are a lot debug logging.
Another unit test case occupied CPU for too long thus another one failed after `1s` timeout.

[2021-11-29 08:00] drmingdrmer commented on #3098
To my understanding, there two major pieces of information for data:
- Where the data is,
- and what the format of the data is.

Take csv as an example, it actually defines both of these two.

Maybe we need to clarify these two roles from bottom up, e.g.:
CsvTable should only care about the data format. where the data is should be provided by something like a `DAL`.

[2021-11-29 08:04] BohuTANG commented on #3098
I am trying on it:https://github.com/datafuselabs/databend/pull/3136
In `storages`, each table(CSV/Parquet/Memory etc.) is an storage engine, there is no concept of a database engine.
It looks a bit clearer now, but still needs some work, I guess it will be finished soon.

[2021-11-29 12:03] Veeupup opened #3148 "Add database init operation to database trait for github engine"
**Summary**

after #3136 finished, need to add database init operation to database trait for github engine.

[2021-11-29 12:17] #3098 closed

[2021-11-29 12:38] dantengsky commented on #2168
being closed since addressed in PR #2879

[2021-11-29 12:38] #2168 closed

[2021-11-29 14:23] BohuTANG opened #3152 "storages/index and storages/fuse circle depends"
**Summary**

If we move out some meta structs from storages/fuse to index, index can be a separate crate.
Now they are circle depends, it would be nice if the storage engines depends on index crate one-way directly.

[2021-11-30 00:07] github-actions[bot] opened #3159 "RUSTSEC-2021-0119: Out-of-bounds write in nix::unistd::getgrouplist"
| Details             |                                                |
| ------------------- | ---------------------------------------------- |
| Package             | `nix`                      |
| Version             | `0.22.0`                   |
| URL                 | [https://github.com/nix-rust/nix/issues/1541](https://github.com/nix-rust/nix/issues/1541) |
| Date                | 2021-09

[2021-11-30 01:18] PsiACE commented on #3159
Waiting for the new version of rustyline to be released

[2021-11-30 01:45] dantengsky opened #3161 "remove unnecessary progress stream in InsertIntoIterprepter"
**Summary**

the `ProgressStream` that was created in `InsertIntoIterprepter` seems unnecessary, let's remove it.

https://github.com/datafuselabs/databend/blob/42494457ef9619412b2937f21e5a20839fcfd77c/query/src/interpreters/interpreter_insert_into.rs#L96-L99

[2021-11-30 02:13] sundy-li commented on #3161
Why it is unnecessary, seems we need it in  https://github.com/datafuselabs/databend/blob/main/cli/src/cmds/queries/query.rs#L313-L338

[2021-11-30 03:00] PsiACE commented on #3076
/assignme

[2021-11-30 03:19] Veeupup commented on #3144
after discussion with @dantengsky , maybe now we can support `insert overwrite` to reach this goal first, and replace maybe consistent with `insert overwrite`

[2021-11-30 03:36] dantengsky commented on #3161
oops, my fault, did not notice that.

I thought it was mistakenly merged by me during resolving conflicts

[2021-11-30 03:36] #3161 closed

[2021-11-30 04:39] #3076 closed

[2021-11-30 04:58] #3148 closed

[2021-11-30 07:41] flaneur2020 opened #3169 "verify privilege on creating table/database"
**Summary**

parent issue: https://github.com/datafuselabs/databend/issues/2894

[2021-11-30 07:42] flaneur2020 opened #3170 "verify privilege on write statements"
**Summary**

parent issue: https://github.com/datafuselabs/databend/issues/2894

including:

- [x] insert/truncate table
- [x] create/drop database
- [x] create/drop tables
- [ ] create/drop users

[2021-11-30 10:43] #3121 closed

[2021-11-30 11:10] #3123 closed

[2021-11-30 11:17] #2955 closed

[2021-11-30 12:44] xxchan commented on #3051
Is it already implemented in https://github.com/datafuselabs/databend/pull/829?

[2021-11-30 12:56] flaneur2020 opened #3173 "add more privilege types"
**Parent Issue**

- https://github.com/datafuselabs/databend/issues/2894

**Summary**

currently we have 5 privilege types:

- Usage
- Create
- Select
- Insert
- Set

we'd add more production-ready privilege types in the future. but right now, the up front high priority task is to setup the framework on privileges checking. we'd make a plan about which privileges to add first, and how to cover the

[2021-11-30 13:15] flaneur2020 commented on #3173
/assignme

[2021-11-30 13:31] sundy-li commented on #3051
Yes, it's already supported, sorry.

But you can pick up #3065  #3071  instead.

[2021-11-30 13:31] #3051 closed

[2021-11-30 13:35] #3152 closed

[2021-11-30 13:37] #3144 closed

[2021-11-30 13:40] dantengsky commented on #3147
addressed in PR #3122

[2021-11-30 13:41] dust1 opened #3175 "Numbers in the `u64` range are converted to `Float64`, resulting in loss of precision"
**Summary**

When I test the `bin` function, and exec it:
[code]
`13835058055282163712` in the range of u64, `-9223372036854775808` in the range of i64;
but in the `DataColumnsWithField`, when i check the DataType, it tell me the data type is `Float64`, and when I checked the values, I found that they did not correspond:
[code]
I am using the `BIGINT` data type in Mysql

[2021-11-30 13:41] dantengsky opened #3176 "syntax sugar : compact table"
**Summary**

Data inserted continuously as of some chunks, will 1) harm the scan performance 2) not storage efficient.

As PR

- #3150
- #3122

merged,  a simple compact could be done by rewriting `compact table T` into `insert overwrite T select * from T`.

**`query/src/sql/statements/statement_show_tables.rs` might be a good reference**

let's take 1) partition/clustering 2) already compacted/op

[2021-11-30 14:50] sundy-li commented on #3175
I think it may be the sqlparser parse it as Float number.

[code]

[2021-11-30 15:12] dust1 commented on #3175
Is this a problem that should be fixed？

[2021-11-30 23:15] #3060 closed

[2021-12-01 00:50] BohuTANG opened #3180 "`insert overwrite` statement documention"
**Summary**

After insert overwrite https://github.com/datafuselabs/databend/pull/3150 checked in, we should document it in https://databend.rs

[2021-12-01 00:56] BohuTANG commented on #2921
https://github.com/datafuselabs/databend/pull/2945 checked in, closed

[2021-12-01 00:56] #2921 closed

[2021-12-01 01:01] BohuTANG opened #3181 "Document `Loading Data into Databend`"
**Summary**

Should document how external data loading into Databend in https://databend.rs

Loading Data into Databend
- Using COPY
   reference https://github.com/datafuselabs/databend/pull/2878
- Using HTTP Streaming
  reference Streaming https://github.com/datafuselabs/databend/issues/3082

[2021-12-01 01:06] BohuTANG commented on #2627
Are there any more tasks for this issue?

[2021-12-01 01:07] #2627 closed

[2021-12-01 01:09] sundy-li commented on #3175
Yes， need to investigate, maybe you can help it.

[2021-12-01 01:16] dust1 commented on #3175
No problem, this looks like I can do it. I will try

[2021-12-01 01:17] youngsofun commented on #3143
@BohuTANG add a file in  https://github.com/datafuselabs/databend/tree/main/website/databend/docs/api?

[2021-12-01 01:17] dust1 commented on #3175
/help

[2021-12-01 01:17] dust1 commented on #3175
/assignme

[2021-12-01 01:19] BohuTANG commented on #3143
Ok

[2021-12-01 01:19] BohuTANG commented on #2525
Progress report:
- [ ] #3181
- [ ] #3143

Once these two issues are finshed, we are ready to release v0.6 :rocket:

**Note**
Other unfinished tasks will be rolled to the next version(Nightly v0.7)

[2021-12-01 01:19] mshauneu commented on #3043
/assignme

[2021-12-01 01:23] mshauneu commented on #3044
/assignme

[2021-12-01 03:06] #3181 closed

[2021-12-01 05:41] Veeupup opened #3187 "[memory table] insert overwrite"
**Summary**

impl `insert overwrite` for `memory` table engine

[2021-12-01 05:42] Veeupup commented on #3187
/assignme

[2021-12-01 07:10] dragonly commented on #1830
This should be in the doc/code but not issue😅
Thanks anyway!

[2021-12-01 07:34] Veeupup opened #3190 "table functions should be case insensitive"
**Summary**

table functions now are case sensitive, should be insensitive.

![image](https://user-images.githubusercontent.com/26339429/144191056-3c055720-5a7b-44b3-8d8b-d1586fd4709e.png)

[2021-12-01 07:52] #3187 closed

[2021-12-01 07:54] mshauneu commented on #3025
/assignme

[2021-12-01 07:54] mshauneu commented on #3024
/assignme

[2021-12-01 08:00] BohuTANG opened #3192 "Disable some test functions by default"
**Summary**

Add a rust complier flag for the release version to disable some test functions:
`sleep`
`crashme`

[2021-12-01 08:15] #3190 closed

[2021-12-01 08:55] Veeupup commented on #2946
maybe with HTTP api to return `json` result with segments statistics will be more clear ? Because fuse meta data will have some complicated nested structure which can be described by nested `json`. @dantengsky

[2021-12-01 10:16] #3043 closed

[2021-12-01 10:53] flaneur2020 opened #3193 "add revoke statement"
**Parent Issue**

- https://github.com/datafuselabs/databend/issues/2894

**Summary**

add the statement, plannode, parser for the revoke statement

[2021-12-01 10:54] flaneur2020 commented on #3193
/assignme

[2021-12-01 11:37] #3075 closed

[2021-12-01 12:02] #3128 closed

[2021-12-01 13:52] leiysky commented on #866
@hustnn Sorry for replying so late.

You actually get the point. We do have a set of AST structure defined by ourselves, with which I'm doing some refactor. These AST structures can be directly transformed from `sqlparser-rs`'s AST, so one day we can replace sqlparser-rs with our own parser.

`nom` is a good choice. We're glad to have you as collaborator on this work. Please let me know if you nee

[2021-12-01 15:25] mshauneu commented on #3022
/assignme

[2021-12-01 15:26] mshauneu commented on #3024
/assignme

[2021-12-02 01:04] BohuTANG opened #3200 "Mapping stage to storage path"
## Summary

For stage, it's a key-value pair, key is stage name, value is the UserStageInfo:
[code]

Note:
Only `S3` storage can use stage.

[2021-12-02 01:50] #3176 closed

[2021-12-02 02:20] sundy-li commented on #2900
@GrapeBaBa
Hi, did you still work on this? I would like to continue it myself before releasing v0.6.

[2021-12-02 02:39] BohuTANG commented on #3200
This issue no need anymore, plan to do it in #2976 others task

[2021-12-02 02:39] #3200 closed

[2021-12-02 03:05] #3143 closed

[2021-12-02 03:22] BohuTANG commented on #2978
Hello,
Any progress on this task? If no progress I'd love to take it and released it in our 0.6 version:D

[2021-12-02 03:33] dantengsky commented on #2921
hi @ygf11 ,  sorry for the delay in responding

Hope I get it right that the suggestion here is, to parallelize the insertions, even in a single query node.

As PR#2945 merged, I think the above issue is addressed.

but If I misunderstood your suggestions, correct me pls,  or other suggestions are sincerely welcome.

BTW: you might be interested in the following code snippet

https://github.com/da

[2021-12-02 03:39] #3112 closed

[2021-12-02 03:47] SGZW commented on #2978
I will finish it this week，Is it too late?

[2021-12-02 03:54] BohuTANG commented on #2978
That's ok, thank you

[2021-12-02 05:12] BohuTANG opened #3203 "Fix up github table engine init"
**Summary**

[code]

[2021-12-02 05:26] BohuTANG opened #3205 "`table_engine_github_enabled` for disable github table engines"
**Summary**

Introduce a new config for disable github table engines:

`table_engine_github_enabled`, default is true

[2021-12-02 05:29] BohuTANG opened #3206 "`SHOW ENGINES` Statement"
**Summary**

Same as MySQL:
https://dev.mysql.com/doc/refman/8.0/en/show-engines.html

SHOW ENGINES displays status information about the server's storage engines. This is particularly useful for checking whether a storage engine is supported, or to see what the default engine is.

For example:
[code]

[2021-12-02 05:47] GrapeBaBa commented on #2900
@sundy-li I think I can finish it by the end of this week. If it is not ok, you can take it.

[2021-12-02 06:15] #3203 closed

[2021-12-02 07:58] #3180 closed

[2021-12-02 08:12] flaneur2020 opened #3208 "CI failed on protoc"
**Summary**

like: https://github.com/datafuselabs/databend/runs/4392215697?check_suite_focus=true

[code]

[2021-12-02 09:13] #3208 closed

[2021-12-02 09:14] Xuanwo opened #3209 "Tracking issue of use docusaurus to build our website"
This is a tracking issue of discussion in https://github.com/datafuselabs/databend/discussions/3099

<div type='discussions-op-text'>

<sup>Originally posted by **Xuanwo** November 25, 2021</sup>
Our current website framework is [mkdocs](https://github.com/mkdocs/mkdocs) which is lacking blog support. So I propose to use [docusaurus](https://docusaurus.io/) to build our website.

Docusaurus is mai

[2021-12-02 09:17] PsiACE commented on #1467
#3099

[2021-12-02 09:17] #1467 closed

[2021-12-02 09:35] #3193 closed

[2021-12-02 09:53] BohuTANG commented on #3209
This looks really cool, we plan it for a long time, thank you @Xuanwo

[2021-12-02 10:37] sundy-li commented on #2900
Ok, I'll wait for it, feel free to submit a draft pr then I'll try to collaborate with you.

[2021-12-02 11:09] Xuanwo commented on #3209
Most docs have been migrated, I need some help to build the home page here (

[2021-12-03 01:42] BohuTANG opened #3216 "`CREATE TABLE table AS SELECT ...` statement"
**Summary**

Create a table by selecting from an existing table (schema and data):
[code]

Reference:
https://dev.mysql.com/doc/refman/8.0/en/create-table-select.html

[2021-12-03 01:44] #3024 closed

[2021-12-03 03:11] BohuTANG opened #3219 "use \`rust-lang\` ERROR 1105 (HY000): Code: 5, displayText = sql parser error: Expected end of statement, found: -."
**Summary**

[code]

[2021-12-03 03:23] zhang2014 opened #3220 "Implement profile event for performance tuning"
**Summary**

This is helpful for find performance degradation.

reference ClickHouse:
https://github.com/ClickHouse/ClickHouse/blob/96ec92c7cd127b08453a83d2aca23f2ec26c67df/src/Common/ProfileEvents.cpp#L187-L225

[2021-12-03 03:44] dantengsky opened #3222 "[Improvement]: tidy up "InsertIntoInterpreter""
**Summary**

`InsertIntoInterpreter` is a little bit messy

[2021-12-03 03:46] AngleNet commented on #3216
@BohuTANG I am new to databend. I would like to help on this. Could you assign it to me ?

[2021-12-03 04:18] BohuTANG commented on #3216
/help

[2021-12-03 04:34] AngleNet commented on #3216
/assignme

[2021-12-03 05:05] dantengsky opened #3224 "[bug]: panic while reading null-valued column"
**Summary**

panic while reading null-valued column

**How to reproduce**

[code]

server log:

[code]

**Additional context**

for `Memory` engine, server gives us error code 6:

`ERROR 1105 (HY000): Code: 6, displayText = Unable to get field named "b". Valid fields: ["a"].`

[2021-12-03 05:34] sundy-li opened #3225 "Make parquet reader works with only one stream reader."
**Summary**

Description for this feature.

Currently, we are unable to stream load parquet files into databend since the parquet source need `Dal` to generate streams multiple times(parallel column reading from parquet column need it).

https://github.com/datafuselabs/databend/blob/f3ecaf16b5290fbc26870660efb2b8d059299442/common/streams/src/sources/source_parquet.rs#L101-L118

Sometimes the input

[2021-12-03 05:34] mshauneu commented on #3064
/assignme

[2021-12-03 05:35] mshauneu commented on #3037
/assignme

[2021-12-03 05:36] mshauneu commented on #3035
/assignme

[2021-12-03 05:38] #3044 closed

[2021-12-03 05:50] mshauneu commented on #3053
/assignme

[2021-12-03 07:13] jorgecarleitao commented on #3225
There is an example that I have been using [here](https://github.com/jorgecarleitao/arrow2/tree/main/examples/s3). It has 3 components:

1. something that implements "AsyncRead + AsyncSeek" from an s3 API (using byte-range) with some buffering
2. something that consumes "AsyncRead + AsyncSeek"

"1." is implemented in the example for s3 with the help of an utility struct that I recently published i

[2021-12-03 07:25] BohuTANG commented on #3219
Only happens from MySQL client, ClickHouse client works well

[2021-12-03 07:34] BohuTANG commented on #3219
databend_query::servers::mysql::mysql_interactive_worker::{impl#0}::on_init<std::net::tcp::TcpStream> mysql_interactive_worker.rs:197 -- **here database_name is "rust-lang", ClickHouse client is "\`rust-lang\`"**
[code]

[2021-12-03 07:58] BohuTANG commented on #3219
This is a bug in:
https://github.com/datafuse-extras/msql-srv/blob/master/src/lib.rs#L513-L520
It seems no need the .trim_matches('`'); at the end.

And another issue is the `tests` not run in the CI:
https://github.com/datafuse-extras/msql-srv/blob/master/tests/main.rs#L162-L177

This test is fail on:
[code]

[2021-12-03 08:41] PsiACE commented on #3219
/assignme

[2021-12-03 09:12] Veeupup commented on #3224
there are two problems maybe.
1. it seems that create table statement make all fields not nullable.
https://github.com/datafuselabs/databend/blob/main/query/src/sql/statements/statement_create_table.rs#L114
2. insert into interpreter does not check schema that with null field.

[2021-12-03 09:22] Veeupup commented on #3224
the data has already insert into table without checking schema, so the data read from datablock is not consistent with the table schema.

there maybe two problems here:
1. creating table statement does not checking field nullable
https://github.com/datafuselabs/databend/blob/main/query/src/sql/statements/statement_create_table.rs#L114
2. when insert into table, there is no check with nullable sche

[2021-12-03 09:59] #3070 closed

[2021-12-03 12:46] sundy-li commented on #3224
While inserting datablocks into the table, we should always use AddOnStream to fill the default values for other columns to match the table schema.

[2021-12-03 13:05] #3222 closed

[2021-12-03 13:22] sundy-li opened #3229 "Default expression support in `DataField`"
**Summary**

Description for this feature.

[2021-12-03 13:27] sundy-li opened #3230 "Support filling default values into missing Column"
**Summary**

Description for this feature.

After #3229

Related #3224

[2021-12-03 14:32] SGZW commented on #2978
Is the querylog table bound to the session or a single query process?

[2021-12-03 15:47] BohuTANG commented on #2978
It's a global table as others system table.

[2021-12-03 15:49] SGZW commented on #2978
thanks

[2021-12-03 16:40] PsiACE commented on #3219
The real problem occurs in sqlparser, where the `on_init` procedure needs to determine what the name of the database is. And in `GenericDialect`, `-` is not treated as part of the identifier.

[2021-12-03 20:59] radmirnovii commented on #3004
/assignme BIT_LENGTH() LENGTH()

[2021-12-04 02:26] #3035 closed

[2021-12-04 02:26] #3037 closed

[2021-12-04 02:26] #3064 closed

[2021-12-04 03:47] dantengsky commented on #3225
there seem to be two things that blocking the way:

1. as you mentioned, `source_parquet.rs` currently read columns parallelly.

    if we are going to decouple `source_parquet` from `DataAccessor` like `source_csv` did, we need some refactoring about it.
    which is feasible imo.

2.  as @jorgecarleitao mentioned

   `read_metadata_async` and `get_page_stream` need reader  that implements `Async

[2021-12-04 04:53] mshauneu commented on #3033
/assignme

[2021-12-04 05:40] BohuTANG commented on #3219
ClickHouse client send the same query to the sqlparser and parse it to plan, it works well

[2021-12-04 06:02] #3016 closed

[2021-12-04 06:13] Xuanwo commented on #3209
Stage 1 has been finished as #3210 merged, we will focus on stage 2 now.

[2021-12-04 06:56] zhang2014 commented on #3219
We only need modify `format!("USE {};", database_name);` to ``format!("USE `{}`;", database_name);``

https://github.com/datafuselabs/databend/blob/8583a43f9a93cdcc0c1c31b9479f24b24044273c/query/src/servers/mysql/mysql_interactive_worker.rs#L348-L350

[2021-12-04 06:59] BohuTANG commented on #3219
Good idea cc @PsiACE

[2021-12-04 07:03] PsiACE commented on #3219
awesome, but I'm not in front of the computer right now. :cry:

[2021-12-04 07:16] Xuanwo commented on #3209
I also create PR #3233 to show the ability of vercel, please take a look. I think it's far more better than plain gh-pages.

[2021-12-04 09:19] pinylin opened #3235 "[bug]: panic while get service log by mysql client"
**Summary**

panic while get service log by mysql client,  after remove std_err.log and std_out.log, It works properly.
so, it maybe need filter log file at TracingTableStream
**How to reproduce**
[code]
Server log
[code]

files in log_dir
[code]

[2021-12-04 09:19] pinylin commented on #3235
/assignme

[2021-12-04 11:08] l1t1 opened #3237 "hugeint support"
**Summary**
such as int128 and int256

[2021-12-04 11:09] l1t1 commented on #3237
the doc page https://databend.rs/sqlstatement/data-types/data-type-integer-number/

[2021-12-04 13:22] #3219 closed

[2021-12-04 14:09] SGZW commented on #3030
/assignme

[2021-12-04 14:10] SGZW commented on #3206
/assignme

[2021-12-04 14:52] sundy-li commented on #3030
Oh, it's already done by #3196

[2021-12-04 14:52] #3030 closed

[2021-12-04 15:47] fufesou opened #3239 "http handler usage, change port along with the config"
**Summary**

Default http handler usage log

curl --request POST '127.0.0.1:8001/v1/statement/' --header 'Content-Type: text/plain' --data-raw 'SELECT avg(number) FROM numbers(100000000)'
curl --request POST '127.0.0.1:8001/v1/query/' --header 'Content-Type: application/json' --data-raw '{"sql": "SELECT avg(number) FROM numbers(100000000)"}'"

The port is always 8001.

Change the port along with t

[2021-12-04 16:00] #3239 closed

[2021-12-04 18:16] mshauneu commented on #3054
/assignme

[2021-12-05 01:42] SGZW commented on #3062
/assignme

[2021-12-05 05:12] mshauneu commented on #3039
/assignme

[2021-12-05 08:04] #3039 closed

[2021-12-05 08:28] #3054 closed

[2021-12-05 09:09] BohuTANG opened #3251 "Show table options in `show create table`"
**Summary**

After https://github.com/datafuselabs/databend/pull/3247 checked in, we can store the table option(like comment) to the table meta, but it can not show in the `show create table ...`

[code]

[2021-12-05 09:22] #3020 closed

[2021-12-05 10:01] #3053 closed

[2021-12-05 13:08] #3033 closed

[2021-12-05 15:11] Junnplus commented on #3205
/assignme

[2021-12-05 15:34] GrapeBaBa commented on #2900
@sundy-li need one more day to add tests

[2021-12-05 19:04] mshauneu commented on #3046
/assignme

[2021-12-05 19:05] mshauneu commented on #3052
/assignme

[2021-12-05 20:22] mshauneu commented on #3040
/assignme

[2021-12-05 23:10] #3115 closed

[2021-12-06 00:53] BohuTANG opened #3257 "Add `created_on` to TableMeta"
**Summary**

Add `created_on` to TableMeta:
https://github.com/datafuselabs/databend/blob/8c3ef25e153855ebbf9adbb2380ef6ef034ef902/common/meta/types/src/table.rs#L97-L101

```show tables;```

|created_on	| name
| --------- | -------------- |
2021-12-05 16:41:07.651 -0800|	T1

[2021-12-06 01:19] BohuTANG opened #3258 "Improve `system.functions`"
**Summary**

[code]

This feature requires functions to provide a metadata field trait, such as `function_type`, `description`, `return_type`, `monotonicity`, maybe need some refactors

[2021-12-06 01:26] Veeupup commented on #3021
/assignme

[2021-12-06 01:38] sundy-li opened #3259 "Improve performance in functions working with String"
**Summary**

Description of this feature.
Most functions working with String are not optimized well.

1. Unnecessary Extra copy inside the iteration loop.
2. Validity checks which break CPU branch prediction.

cc @mshauneu  may be interested in this.

Refer :

https://github.com/jorgecarleitao/arrow2/pull/651
https://github.com/jorgecarleitao/arrow2/pull/646

[2021-12-06 01:55] GanZiheng commented on #3257
Hi @BohuTANG, I'm new to this project and I'd like to help with this issue. Could you please assign it to me?

[2021-12-06 01:58] BohuTANG commented on #3257
/help

[2021-12-06 02:00] GanZiheng commented on #3257
/assignme

[2021-12-06 02:01] GanZiheng commented on #3257
/assignme

[2021-12-06 02:13] PsiACE commented on #783
#3258

[2021-12-06 02:13] #783 closed

[2021-12-06 02:25] PsiACE commented on #3258
/assignme

I would love to do this. It will be broken down into smaller tasks:
- first we need to add all the functions to the table, and get `function_type` , which means a small refactor.
- Then try to add the `descriptions`, for scalar and table functions it might be easy, I'm not sure how to do this without creating aggregate functions.

cc @zhang2014 , I would like to know your opinion, I not

[2021-12-06 02:30] BohuTANG commented on #2525
This  release is ready and will be released as scheduled :rocket:

[2021-12-06 02:31] BohuTANG commented on #3258
@sundy-li have some thoughts on it :)

[2021-12-06 02:35] #2978 closed

[2021-12-06 02:36] BohuTANG opened #3261 "Write query metrics to query_log in the `InterpreterInterceptor.finish()`"

[2021-12-06 02:37] flaneur2020 opened #3262 "Add SHOW GRANTS statement"
**Tracking Issue**

- https://github.com/datafuselabs/databend/issues/2894

**Summary**

`show grants` statement displays the granted privileges for an user.

[2021-12-06 02:49] #3021 closed

[2021-12-06 03:02] Veeupup commented on #3259
maybe we should add benches for `common/functions` ? so we can bench functions that concerns.

[2021-12-06 03:13] BohuTANG commented on #3259
+1
We plan to introduce a `new` benchmark in https://github.com/datafuselabs/databend/issues/3084

If you are interested in it, let's do it.

[2021-12-06 03:16] Veeupup opened #3263 "Benchmark runner"

[2021-12-06 03:17] ZhiHanZ opened #3264 "[CI] concurrency control on workflow for push commits"
**Summary**
github action support to kill pending jobs if new job come in to queue, I think it could help us mitigate CI execution pressure if many tasks get merged at the same time.
https://docs.github.com/en/actions/learn-github-actions/workflow-syntax-for-github-actions#concurrency

[2021-12-06 03:21] ZhiHanZ commented on #3263
I think you could take a look at the runner on test-infra

[2021-12-06 03:22] sundy-li commented on #3258
Yes, `AggregateFunctionDescription ` is enough to do it, it's not required to create aggregate functions.

[2021-12-06 03:23] ZhiHanZ commented on #3263
FYI, the runner controller version is outdated, bump runner version would be nice as well

[2021-12-06 03:38] Veeupup commented on #3263
It seems test-infra runner can be used for SQL bench?

here I mean that we could bench for some functions in `common/functions` , such as `aggregate` and `scalars` functions. And now we have benches in `query/benches`, maybe we could combine them( SQL bench, function bench and maybe more performence sensitive components in future) all together in `databend`?

do we need to combine them together ?

[2021-12-06 03:45] ZhiHanZ commented on #3263
test-infra could do the following things:
1. Remote build and containerization support
2. provision temporary k8s cluster to compare target commit with reference commit(main, master, other commits etc)
3. upload compare results to S3 repo

perf-tool is another containered wrapper for databend-benchmark binary, it supports:
1. run performance test again given input queries(https://github.com/datafu

[2021-12-06 03:50] ZhiHanZ commented on #3263
I think we need to finish the following parts for continuous benchmark
1. support to provision eks as the temporary k8s cluster to host query workload
2. run workload on given cluster after each nightly release
3. upload result html to website

[2021-12-06 03:50] sundy-li commented on #3263
`SQL bench` is enough for database benchmarks.
`query/benches` are aimed to bench unit function benchmark, but it needs to code manually, yet it is hard to cover the performance in SQL's lifetime.

[2021-12-06 03:54] PsiACE commented on #3263
https://github.com/boa-dev/criterion-compare-action

We can try to support this action with test-infra

[2021-12-06 04:33] #3046 closed

[2021-12-06 04:33] #3052 closed

[2021-12-06 05:04] #2677 closed

[2021-12-06 05:32] BohuTANG opened #3266 "Consider remove `pub mod series` from common/datavalues/src/lib.rs"
**Summary**

Since we have exported them in `common/datavalues/src/prelude.rs`.

[2021-12-06 06:07] BohuTANG commented on #3263
For the benchmark and output with a uniform output format, I think https://github.com/datafuselabs/databend/blob/main/query/src/bin/databend-benchmark.rs can do it well.

So, the runner here is that how we run the difference benchmarks with the test-infra, @ZhiHanZ has give some suggestions above.

[2021-12-06 06:09] BohuTANG commented on #3263
Does the `query/benches` no used anymore? It seems a long time we not run them

[2021-12-06 06:39] dantengsky commented on #3216
@BohuTANG

the `atomic DDL` semantics that `https://dev.mysql.com/doc/refman/8.0/en/create-table-select.html` describe might be hard to be implemented in one go, shall we relax them somehow?

IMO, we may implement the non-atomic version first. since there is no "tmp" catalog yet, and the execution of `insert ... as select` assumes that the `catalog` is aware of the table that is being inserted, it

[2021-12-06 06:54] BohuTANG commented on #3216
@dantengsky
I agree with you.
'IMO, we may implement the non-atomic version first.'
We could make it work first, then make it right.

[2021-12-06 06:58] zhang2014 commented on #3258
Some functions have different return types when the arguments type are different. such as: `CAST`?

[2021-12-06 07:03] BohuTANG commented on #3258
If the return type is dynamic, return N/A is OK.

[2021-12-06 07:10] dantengsky commented on #3216
Hi @AngleNet, hope the above discussion be helpful :)

[2021-12-06 08:22] PsiACE opened #3268 "reduce aarch64 binary size"
**Summary**

Now, we can't use `objcopy` properly to reduce the binary size of the aarch64 build. There are currently two options:

- setup aarch64-unknown-linux-gnu-objcopy, or
- use the `RUSTFLAGS` environment variable when building

[2021-12-06 08:38] dantengsky opened #3269 "[refactoring]: rename `fuse/index` to `fuse/pruning`"
**Summary**

- rename `fuse/index` to `fuse/pruning`
  since there is also a `storage/index` module, it is a little bit confusing.
  but @BohuTANG, if merging `storage/index` into `fuse/index` is preferred, pls let me know, I'd like to do the refactorings.
- refactoring of `fuse/statistics`
  cleaning up accumulators and routine functions
- refactoring of `fuse/io`
  cleaning up & some preparation

[2021-12-06 09:38] #3040 closed

[2021-12-06 10:46] Xuanwo commented on #3209
To address "Figure out how to organize content" in stage 2, I started a new proposal around it: https://github.com/datafuselabs/databend/discussions/3274. Welcome for any comments!

[2021-12-06 10:49] Xuanwo commented on #3268
CI failed for `objcopy: Unable to recognise the format of the input file `./target/aarch64-unknown-linux-gnu/release/databend-benchmark'`

ref: https://github.com/datafuselabs/databend/runs/4428502575?check_suite_focus=true

[2021-12-06 10:55] PsiACE commented on #3268
fixed by #3272

[2021-12-06 11:00] Xuanwo opened #3275 "website: Content reorganize"
Read proposal in https://github.com/datafuselabs/databend/discussions/3274

<div type='discussions-op-text'>

<sup>Originally posted by **Xuanwo** December  6, 2021</sup>
This RFC is part of https://github.com/datafuselabs/databend/issues/3209.

## Backgoud

As described in https://github.com/datafuselabs/databend/issues/3209, we have finished stage 1 and are towards stage 2.

In stage 2, we plan

[2021-12-06 11:07] #3268 closed

[2021-12-06 12:21] #3022 closed

[2021-12-06 20:06] mshauneu commented on #3048
/assignme

[2021-12-06 21:16] mshauneu commented on #3058
/assignme

[2021-12-06 23:02] #2900 closed

[2021-12-07 00:24] #3251 closed

[2021-12-07 02:14] BohuTANG commented on #3269
I have deep the draft PR, all looks good to me, thank you @dantengsky

[2021-12-07 02:14] #3048 closed

[2021-12-07 04:50] #3275 closed

[2021-12-07 05:41] #3175 closed

[2021-12-07 05:44] #3269 closed

[2021-12-07 06:59] zhang2014 opened #3283 "Build website failure"
**Summary**

CC: @Xuanwo

[code]

[2021-12-07 07:18] Xuanwo commented on #3283
I can't reproduce this error and it's not reproducible by vercel's runtime either.

Can you provide more detail about your environment? What's NodeJS version are you using?

[2021-12-07 08:21] ariesdevil opened #3284 "[metasrv] define a method to expose `AsTxnKeySpace::inner`."
**Summary**

Some methods that take `&TransactionSledTree` as parameter need to be called in subtree(aka:AsTxnKeySpace) method, since subtree already ref to `TransactionSledTree` we impl deref here to fetch inner `&TransactionSledTree`.
eg:
[code]
But the current implementation is prone to misuse and misunderstanding, the `Deref` trait should only be impl for that outer and inner have similar beha

[2021-12-07 08:56] ariesdevil opened #3285 "[metasrv] make transaction sync to disk as default behavior"
**Summary**

Make transaction sync as default, so that caller no need to pass `sync=true` every time.

Related code: https://github.com/datafuselabs/databend/blob/7096d74f44dcada6ed945fa370f81920d435c83d/common/meta/sled-store/src/sled_tree.rs#L93

[2021-12-07 12:39] AngleNet commented on #3216
Thank you for clarify this. I'm still working on supporting syntax of 'create table as select'.  I split it as some small tasks to be finished:

- [ ] Support 'create table as select' syntax
- [ ] Infer schema of new table from select statement
- [ ] Insert rows of select statement to the new table

The PR will be released later.

[2021-12-07 13:20] #3229 closed

[2021-12-07 13:20] #3230 closed

[2021-12-07 13:51] BohuTANG opened #3287 "Consider move `query/src/interpreters/stream_addon.rs` to `pipelines/transforms/` as a transform?"
**Summary**

Description for this improvement.

[2021-12-07 15:16] drmingdrmer commented on #2422
Maybe it is time to have a discussion about what the plan for next move is about this issue?

[2021-12-07 15:43] mshauneu commented on #3072
/assignme

[2021-12-07 15:51] ariesdevil commented on #2422
Yup, I'll list the ideal transaction APIs that I want the KV store to have tomorrow, and then we can discuss if we can achieve the goal.

[2021-12-07 17:51] Xuanwo commented on #3264
The feature is not easy to be used correctly.

Please take https://github.com/beyondstorage/go-storage/blob/b7ddd274821893274ca546c8ea6492bc8d6f145c/.github/workflows/services-test-s3.yml#L3 as an example.

[2021-12-07 17:53] Xuanwo commented on #3117
Agreed.  I think we should follow https: //clig.dev/ for our cli design.

[2021-12-07 18:43] jyizheng commented on #2422
I guess transaction is needed here because the range scan is not atomic in Bw-tree by design. In other words,  sled (an implementation of bwtree) does not support snapshot isolation, which is very important for analytic queries. The paper below provides a way to implement snapshot isolation for another KV store called Kvell.

https://www.usenix.org/system/files/osdi20-lepers.pdf

The workload migh

[2021-12-07 23:13] BohuTANG commented on #3117
Nice guidelines 👍

[2021-12-08 00:36] mshauneu commented on #3018
/assignme

[2021-12-08 00:37] mshauneu commented on #3019
\assignme

[2021-12-08 01:28] mshauneu commented on #3023
/assignme

[2021-12-08 02:01] #3072 closed

[2021-12-08 02:39] dantengsky commented on #3224
closing this issue since it has been fixed in
- pr #3282

[2021-12-08 02:48] #3018 closed

[2021-12-08 02:48] #3019 closed

[2021-12-08 03:09] junli1026 commented on #2457
/assignme

[2021-12-08 03:20] sundy-li opened #3291 "Implicit cast from Boolean to UInt8"
Summary: make some functions work with boolean datatypes.

So we can transform `avg(boolean)` ---> `avg(uint8)`

------

Now databend boolean return true/false , like this:

[code]
if we can make boolean return  0/ 1 like this:

[code]

if support boolean return 0 or  1 , can optimize sql :
The percentage of delays by carrier for 2007

[code]
Better version of the same query:

[code]

_Originally

[2021-12-08 05:18] drmingdrmer commented on #2422
@jyizheng
Thank you man!

[2021-12-08 05:25] ariesdevil commented on #2422
Some investigation:
1. Bw-tree used by Microsoft also not support the interactive transaction, they use a [transaction component](https://www.snia.org/sites/default/files/SDC15_presentations/database/SudiptaSengupta_Bw-Tree-Key_Value.pdf) for this.
2. CMU Database Group and Intel Labs do much hard work to implement a [bw-tree based store](https://www.cs.cmu.edu/~huanche1/publications/open_bwtree.p

[2021-12-08 05:27] ariesdevil commented on #2422
As a result, Sled meeting our current needs, although the impl is not so elegant.

[2021-12-08 05:41] ariesdevil commented on #2422
Some concerns for switching to rocksdb:
1. Rocksdb has too many configs that need more time to learn and tune.
2. Rocksdb is a C++ project, for personal reasons, I don't want a C++ project integrated into our Rust project:)
3. Rocksdb's main goal is to support to Facebook(Meta)'s MyRocks, so many features we don't want to use but if we use rocksdb, we may have to maintain it, at least we need to b

[2021-12-08 05:45] ariesdevil commented on #2422
I think we should list our metasrv roadmap to see if we have more performance and functional requirements, then we can make decisions to switch or not.

[2021-12-08 07:46] #3205 closed

[2021-12-08 07:47] BohuTANG opened #3293 "Why don't we use conditional compilation? such as: `cargo features`"
Why don't we use conditional compilation? such as: `cargo features`

_Originally posted by @zhang2014 in https://github.com/datafuselabs/databend/issues/3276#issuecomment-987553234_

[2021-12-08 08:01] GanZiheng commented on #3257
Hi @BohuTANG, shall we display `created_on` time with `show tables;`, since there are some tests include `show tables;` and  the `created_on` is inconsistent.

[2021-12-08 10:00] #3261 closed

[2021-12-08 10:40] sundy-li commented on #2457
@junli1026  seems `create table as ` is not finished, would u want to continue?

[2021-12-08 12:18] drmingdrmer commented on #2422
https://github.com/spacejam/sled/issues/1390

[2021-12-08 12:39] BohuTANG opened #3297 "Add more query log events"

[2021-12-08 14:07] dantengsky opened #3301 "table function that shows fuse table history and basic statistics"
introduce table function `fuse$history`, which shows
- fuse table history
- basic statistics for each snapshot

sth like this:

[code]

[2021-12-08 14:49] #3259 closed

[2021-12-08 14:51] BohuTANG opened #3304 "And I think it's time to add `transfrom_from_primitive` function."
I think it's time to add `transfrom_from_primitive` function.

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/pull/3288#pullrequestreview-826481925_

[2021-12-08 23:20] #1866 closed

[2021-12-09 01:53] #3015 closed

[2021-12-09 02:23] junli1026 commented on #2457
Sure. If I understand correctly, differently from "CREATE LIKE" , the query 'CREATE TABLE t1  as SELECT * FROM t2' also copy data from t2 to t1. It does more than creating table.

Surely, will keep working on that.

[2021-12-09 02:45] Veeupup commented on #3304
@sundy-li
Does `transfrom_from_primitive` is tranform from `PrimitiveArray` to `BinaryArray`?
If so, it seems that we can update the `arrow2` from upstream because your work https://github.com/jorgecarleitao/arrow2/pull/651 , and it will call `primitive_to_binary` then.

[2021-12-09 02:57] sundy-li commented on #3304
Yes，the first task is to bump up arrow2 dep.

But `primitive_to_binary ` is not enough, we should introduce custom transform lambda Fn.

[2021-12-09 05:16] #3159 closed

[2021-12-09 05:30] ariesdevil opened #3309 "[metasrv] make sled support range read"
**Summary**

Current Sled transaction implementation lack of `range_read` operation, we need to implement it.

[2021-12-09 05:31] ariesdevil commented on #2422
impl #3309

[2021-12-09 05:59] eastfisher commented on #3028
/assignme

[2021-12-09 06:26] zhang2014 commented on #3283
[code]

[2021-12-09 06:38] Xuanwo commented on #3283
It's more like an upstream issue, I have created an issue https://github.com/facebook/docusaurus/issues/6073 to track it, please keep an eye on it.

[2021-12-09 08:33] #3297 closed

[2021-12-09 08:40] BohuTANG opened #3313 "Handlers call `Interpreter.start()` and `Interpreter.finish()`"
## Summary

Tasks:
- [x] MySQL handler
- [x] ClickHouse handler
- [x] HTTP handler

[2021-12-09 09:02] #3283 closed

[2021-12-09 09:04] Veeupup opened #3317 "github issue table and pulls table add `create_time`, `closed_time`, `updated_time` field"
**Summary**

github issue table and pulls table add `create_time`, `closed_time`, `updated_time` field.

[2021-12-09 09:39] Xuanwo opened #3320 "CI speed improvement"
## Summary

The `Push to Dockerhub` workflow is always the slowest.

- Maybe we can use the built binary in other workflows? (with the support of [Upload-Artifact](https://github.com/actions/upload-artifact))
- Maybe we don't need to build and push to dockerhub for every commit in main? How about only building the tagged version?
- Maybe we can push our image to ghci.io instead of dockerhub? (NOTI

[2021-12-09 10:30] Xuanwo opened #3322 "Build failed after upgrade clap from 3.0.0-beta.5 to 3.0.0-rc.0"
**Summary**

Databend CLI will build failed after upgrade clap from 3.0.0-beta.5 to 3.0.0-rc.0

[code]

[2021-12-09 10:37] PsiACE commented on #3322
/assignme

[2021-12-09 11:42] PsiACE commented on #125
#2868

[2021-12-09 11:42] #125 closed

[2021-12-09 12:44] #3304 closed

[2021-12-09 12:58] #3301 closed

[2021-12-09 13:00] #3322 closed

[2021-12-09 13:19] BohuTANG opened #3326 "Consider changing clickhouse handler authenticate to async"
**Summary**

https://github.com/datafuselabs/databend/blob/0b44dca6e3063472cadcbaa3a09fce06ffed8e1a/query/src/servers/clickhouse/interactive_worker.rs#L100-L109

[2021-12-09 13:33] BohuTANG commented on #3320
Great, just do it :)

[2021-12-09 13:54] sundy-li opened #3328 "Enum datatype support"
So we should support enum type~

_Originally posted by @sundy-li in https://github.com/datafuselabs/databend/pull/3321#r765809206_

logical datatype to physical datatype mapping
[code]

[2021-12-09 14:05] Xuanwo commented on #3320
/assignme

[2021-12-09 14:55] flaneur2020 commented on #3320
maybe we could make a workflow for both docker and binary release:

[code]

the built artifact may get reused among the releasing binary or docker steps 🤔

[2021-12-09 23:10] #3317 closed

[2021-12-10 02:03] ariesdevil opened #3333 "Normalization copyright"
**Summary**

The Copyright info should be changed to `Copyright (c) 2020-present, Datafuse Labs.  All rights reserved.`
With this change, we no longer need to change it every year. 2022 coming soon:)

[2021-12-10 02:43] BohuTANG commented on #3333
`The year in the copyright notice refers to the year of first publication`
https://opensource.stackexchange.com/questions/6389/how-do-the-years-specified-in-a-copyright-statement-work

If a new file be created in the year 2022 in the future, it should be 2022.

[2021-12-10 02:50] ariesdevil commented on #3333
I was reading Facebook’s rocksdb code recently and found that its copyright is in this format.
So it seems they have the wrong format, just close this issue.

[2021-12-10 02:50] #3333 closed

[2021-12-10 02:52] Veeupup opened #3335 "github statistical data visualization"
**Summary**

With `github-based` database https://github.com/datafuselabs/databend/pull/3093 finished, we can do something interesting.

We can integrated with grafana and show some statistical data with fancy charts, maybe like what cncf-tiki did.

[cncf-tikv-grafana](https://tikv.devstats.cncf.io/d/19/open-pr-age-by-repository-group?orgId=1)

[2021-12-10 03:17] #2702 closed

[2021-12-10 03:17] drmingdrmer opened #3336 "Forward read requests to leader, to provide read-after-write consistency."
To forward each of the read-operation such as `ListTableReq`, there are 3 piece of work to do:

- Add more enum item to `AdminRequest` to support read operations, such as `ListTableReq` etc.
https://github.com/datafuselabs/databend/blob/e533e4c655c2864d2c41fb99570aba353a16e802/metasrv/src/meta_service/message.rs#L36-L39
- MetaLeader has to deal with read operations: https://github.com/datafuselabs

[2021-12-10 03:34] sundy-li opened #3338 "DateTime64 DataType support"
So we should support enum type~

logical datatype to physical datatype mapping

DateTime64 -> UInt64

[2021-12-10 03:41] drmingdrmer commented on #3336
@ariesdevil

[2021-12-10 03:50] drmingdrmer opened #3339 "A follower should forward `GetDatabaseReq` to the leader."

[2021-12-10 03:50] drmingdrmer opened #3340 "A follower should forward `ListDatabaseReq` to the leader."

[2021-12-10 03:50] drmingdrmer opened #3341 "A follower should forward `GetTableReq` to the leader."

[2021-12-10 03:50] drmingdrmer opened #3342 "A follower should forward `ListTableReq` to the leader."

[2021-12-10 06:14] BohuTANG opened #3345 "Can not return the error to the MySQL client"
**Summary**

https://github.com/datafuselabs/databend/blob/85599e683e22f747dcb02fb12404a9cee0c33afd/query/src/servers/mysql/writers/query_result_writer.rs#L173-L177

This error returns to `msql-srv` will cause panic(unwrap()):
https://github.com/datafuse-extras/msql-srv/blob/master/src/resultset.rs#L183-L187

[2021-12-10 06:31] #2579 closed

[2021-12-10 06:31] #3103 closed

[2021-12-10 07:02] ansarizafar opened #3346 "Databend for OLTP web applications."
Is there a plan to make databend suitable for OLTP web applications?

[2021-12-10 07:33] BohuTANG commented on #3346
Hi,

What's the `OLTP web applications` requirements?
If it's data-intensive applications(OLAP-based) i think it's no problem.

[2021-12-10 07:48] BohuTANG opened #3348 "'root'@'localhost' superuser account for localhost"
**Summary**

https://github.com/datafuselabs/databend/blob/85599e683e22f747dcb02fb12404a9cee0c33afd/query/src/users/user_mgr.rs#L32-L40

For the user name `default` and `root`, we should check the host is `localhost` or `127.0.0.1`, 'root'@'localhost' superuser account that has all privileges and can do anything.

[2021-12-10 07:49] BohuTANG commented on #3348
cc @flaneur2020 FYI

[2021-12-10 08:12] #3339 closed

[2021-12-10 08:16] BohuTANG opened #3349 "Consider changing all the `log::*` to `tracing::*`"

[2021-12-10 08:57] wubx opened #3351 "bendctl support use database to switch database"
**Summary**

add bendctl session support use database to switch database

[2021-12-10 09:00] wubx opened #3352 "bendctl support purge old package"
**Summary**

[local] [admin]> package list
+-----------------+-------------------------------------------------+---------+
| Version         | Path                                            | Current |
+-----------------+-------------------------------------------------+---------+
| v0.5.35-nightly | /Users/wubx/.databend/local/bin/v0.5.35-nightly |         |
| v0.5.37-nightly | /Users/wubx/.data

[2021-12-10 09:28] Xuanwo commented on #3346
@BohuTANG Let's move question alike issues to the [discussion](https://github.com/datafuselabs/databend/discussions) Q&A instead.

[2021-12-10 09:30] Xuanwo commented on #3346
I think all issues under `C-quesion` should be moved either.

Here is the query: https://github.com/datafuselabs/databend/issues?q=is%3Aopen+is%3Aissue+label%3AC-question

[2021-12-10 09:35] BohuTANG opened #3354 "bendctl can not load ontime dataset"
**Summary**

Description for this bug.

**How to reproduce**

branch:
https://github.com/datafuselabs/databend/pull/3321

1. start the databend-query
[code]

2. create ontime table using bendctl
[code]

3. load ontime datas
[code]

Server log:
[code]

[2021-12-10 09:43] Xuanwo commented on #3264
This issue should be fixed by https://github.com/datafuselabs/databend/pull/3344

[2021-12-10 10:31] #3313 closed

[2021-12-10 10:31] #3354 closed

[2021-12-10 10:33] ansarizafar commented on #3346
Currently, databend can't be used to update or delete rows. Documentation shows only select and insert statement under data manipulation language section.

Let me rephrase my question, Is it possible to replace mysql or postgres with databend for using as a back end data store for an eCommerce or ERP web application?

[2021-12-10 11:09] #2537 closed

[2021-12-10 11:32] sundy-li opened #3362 "Drop Stage support"
**Summary**

Description for this feature.

[code]

[2021-12-10 12:13] #3341 closed

[2021-12-10 12:40] GrapeBaBa commented on #3362
/assignme

[2021-12-10 13:14] BohuTANG opened #3365 "remove `log` and `env_logger`"
To be honest, I've been looking forward to removing `log` for a long time.
So, is it possible to remove env_logger?

_Originally posted by @PsiACE in https://github.com/datafuselabs/databend/pull/3363#discussion_r766663412_

[2021-12-10 13:26] #3349 closed

[2021-12-10 14:24] sundy-li opened #3367 "Using serde to se/deserialize aggregate function states."
**Summary**

Description for this improvement.

https://serde.rs/

Serde the Aggregate function state in binary format should be very efficient and have low memory overhead.

Sample trait from @sunli829

[code]

[2021-12-10 16:51] #3340 closed

[2021-12-10 20:57] lianghanzhen opened #3372 "Add UUID relevant functions"
**Summary**

- Generate UUID v4
- Check if UUID is empty
- Check if UUID is not empty

[2021-12-10 20:59] lianghanzhen commented on #3372
/assignme

[2021-12-11 02:03] #3023 closed

[2021-12-11 02:18] ygf11 commented on #3367
/assignme

[2021-12-11 04:28] zhang2014 commented on #2589
It hasn't been fixed yet.

[2021-12-11 04:30] #3365 closed

[2021-12-11 04:38] b41sh commented on #3338
/assignme

[2021-12-11 04:47] b41sh commented on #3029
/assignme

[2021-12-11 05:50] ansarizafar opened #3377 "Malloy an SQL alternative."
SQL is complete but ugly: everything is expressible, but nothing is reusable; simple ideas are complex to express; the language is verbose and lacks smart defaults. Malloy is immediately understandable by SQL users, and far easier to use and learn. It is usable in place of SQL to manipulate and explore data.

Please consider adding support for Malloy https://github.com/looker-open-source/malloy

[2021-12-11 07:38] BohuTANG opened #3378 "Re-struct suites/0_stateful directory layout"
**Summary**

Now:
[code]

expect:
[code]

[2021-12-11 08:18] zhang2014 opened #3379 "Push-base and Pull-base executor framework"
- [x] #3926
- [x] #3931
- [x] performance tuning for new processor framework
- [x] remove old processor code
- [ ] #4260

[2021-12-11 08:35] PsiACE opened #3382 "Continue to reduce the binary size"
**Summary**

Now we use `objcopy` or `rustflags` to reduce the binary size, with the `--compress-debug-sections` option.

We need to

1. provide a separate `make` command for size reduction. rather than mixed in the compile phase.
2. further reduce the size of the release: e.g. by using `strip` and `upx`.

Ideally, the size of bendctl will be further reduced by 90%; databend-query and databend-met

[2021-12-11 08:36] BohuTANG opened #3383 "ERROR 1105 (HY000): Code: 10, displayText = AggregateSumFunction does not support type 'Boolean' (while in select group by)."
**Summary**

[code]

[2021-12-11 08:48] ariesdevil opened #3384 "[metasrv] Remove unnecessary FlightReq wrapper"
**Summary**

grpc already has rpc client, FlightReq wrapper is not necessary.

[2021-12-11 10:34] lianghanzhen commented on #3372
/assignme

[2021-12-11 10:40] sundy-li commented on #3029
It's already done in #3142

[2021-12-11 10:40] #3029 closed

[2021-12-11 11:18] zhang2014 commented on #3383
related: https://github.com/datafuselabs/databend/discussions/3267

[2021-12-11 14:57] silathdiir commented on #3348
Hi, could I try to fix this issue?

[2021-12-11 22:56] lianghanzhen opened #3386 "Show all functions"
**Summary**

Add a show command for all functions.

**Syntax**

[code]

[2021-12-11 23:38] BohuTANG commented on #3348
/help

[2021-12-11 23:39] BohuTANG commented on #3348
@silathdiir Sure, thank you!

[2021-12-11 23:42] lianghanzhen commented on #3386
/assignme

[2021-12-12 00:04] silathdiir commented on #3348
/assignme

[2021-12-12 00:29] BohuTANG opened #3388 "aarch64:Could not find directory of OpenSSL installation"
[code]

[2021-12-12 00:30] BohuTANG commented on #3388
https://github.com/datafuselabs/databend/runs/4493963691?check_suite_focus=true

cc @Xuanwo you may interested in this

[2021-12-12 01:22] #3386 closed

[2021-12-12 02:45] ZhiHanZ commented on #3388
current CI pipeline did not updated the Cross compile tool
https://github.com/datafuselabs/databend/blob/main/.github/workflows/databend-release.yml#L33-L35
which should be updated to latest version

[2021-12-12 03:30] #3388 closed

[2021-12-12 03:52] #3216 closed

[2021-12-12 05:33] Xuanwo commented on #3320
This issue has been blocked for GitHub doesn't support sharing artifacts between workflows.

We need to find an another way to meet our needs.

[2021-12-12 07:00] Xuanwo commented on #3320
Let's refactor into actions instead.

[2021-12-12 11:05] lianghanzhen opened #3398 "Add documentation for `SHOW FUNCTIONS`"
**Summary**

Add documentation to show the usages for `SHOW FUNCTIONS` statement.

[2021-12-12 11:05] lianghanzhen commented on #3398
/assignme

[2021-12-12 12:39] #3398 closed

[2021-12-12 15:14] bestgopher commented on #3045
/help

[2021-12-12 15:14] bestgopher commented on #3045
/assignme

[2021-12-12 15:14] #3384 closed

[2021-12-12 15:15] bestgopher commented on #3045
I will try it.

[2021-12-12 16:31] Xuanwo commented on #3377
Sounds great.

Let's convert this issue to Discussions ideas so that we can come over this idea further.

ping @BohuTANG, can you help convert it?

[2021-12-12 18:16] #3336 closed

[2021-12-12 18:23] #3342 closed

[2021-12-12 18:24] #2368 closed

[2021-12-12 23:10] #3348 closed

[2021-12-13 02:17] Xuanwo opened #3409 "Test Stateless failed on ubuntu-latest, x86_64-unknown-linux-gnu"
**Summary**

Error report:

- Standalone: https://github.com/datafuselabs/databend/runs/4498870054?check_suite_focus=true
- Cluster: https://github.com/datafuselabs/databend/runs/4498870012?check_suite_focus=true

Reported via:

[code]

**How to reproduce**

Create branch based on https://github.com/datafuselabs/databend/pull/3344 and trigger tests.

[2021-12-13 02:47] Xuanwo commented on #3409
Our workflows are missing required `boto` package.

[2021-12-13 03:17] Chasen-Zhang opened #3410 "Optimize the Databend document home page"
**Summary**

Because the docusaurus default homepage does not meet our requirements, we need to customize the homepage for datadend

[2021-12-13 03:26] BohuTANG opened #3411 "test: flight::metasrv_flight_meta_api_restart_cluster::test_meta_api_restart_cluster_write_read"
**Summary**

Test faild on github CI and my local:

https://github.com/datafuselabs/databend/runs/4500949403?check_suite_focus=true
github CI:
[code]

Local:
[code]

[2021-12-13 05:03] drmingdrmer commented on #3411
Timeout is too short.
Let me extend it!

[2021-12-13 05:11] #3411 closed

[2021-12-13 05:50] Xuanwo commented on #3409
It's a CI related problemed, fixed.

[2021-12-13 05:50] #3409 closed

[2021-12-13 05:52] Xuanwo opened #3416 "Unit test `flight::metasrv_flight_meta_api_restart_cluster::test_meta_api_restart_cluster_write_read` failed on macos-11"
**Summary**

https://github.com/datafuselabs/databend/runs/4502135708?check_suite_focus=true

[2021-12-13 05:55] drmingdrmer commented on #3416
Got it. Let me have a look at the logs!

[2021-12-13 06:12] #3025 closed

[2021-12-13 07:03] Xuanwo opened #3423 "Newly released bendctl started failed for libssl.so.1.0.0 not found"
**Summary**

[code]

**Cause**

Our release build uses `libssl 1.0.0` but the most recent ubuntu uses `libssl 1.1.0` instead. They are not compatible, so they are using the different soname.

In order to address this problem, we need to:

- Option 1: Use vendored openssl: https://docs.rs/openssl/latest/openssl/
- Option 2: Upgrade our build-tools to ubuntu 20.04 or upper.

[2021-12-13 07:11] juzhiyuan commented on #3209
Really cool to use Docusaurus! 😄

Here is Apache APISIX's Website, and it's also built with Docusaurus since V1 :)

- https://github.com/apache/apisix-website
- https://apisix.apache.org/

[2021-12-13 07:25] Xuanwo commented on #3209
I have learned a lot from APISIX's website,  it's so nice!

[2021-12-13 07:33] #2868 closed

[2021-12-13 07:38] wubx opened #3425 "2021 datafuse labs Sweatshirt is coming"
Our gift has been updated. Before today, I was sending you a T-shirt. Starting from Databend 0.7 today, we plan to mail you: Sweatshirt

![](https://raw.githubusercontent.com/datafuselabs/datafuse-shop/main/2021-sweatshirt/2021-sweatshirt.png)

![](https://raw.githubusercontent.com/datafuselabs/datafuse-shop/main/2021-sweatshirt/2021-sweatshirt-size.png)

If you like our T-shirt more, you can also

[2021-12-13 07:58] BohuTANG opened #3428 "Checklist proposal: Nightly v0.7"
**Summary**

Release name: v0.7-nightly, get in the train now :hand:

# Checklist

**Stable checklist**
- [x] datafuselabs/databend#2457
- [x] datafuselabs/databend#3338
- [x] datafuselabs/databend#3605
- [x] datafuselabs/databend#3759
- [x] datafuselabs/databend#3906
- [x] datafuselabs/databend#3206
- [x]  datafuselabs/databend#4079

**Experimental checklist**
- [x] datafuselabs/databend#3437
- [

[2021-12-13 07:59] #2525 closed

[2021-12-13 08:00] BohuTANG opened #3429 "Stage statement"
## Summary

Tasks:
- [x] #2976
- [x] #3362
- [x] list stage files
- [x] #4489
- [x] #4488
- [x] #4472
- [x] #4491

[2021-12-13 08:06] BohuTANG opened #3430 "Database sharing"
## Summary

Tasks:
- [ ] CREATE SHARE \<name\>
- [ ] GRANT USAGE ON DATABASE \<name\> TO SHARE \<share_name\>
- [ ] ALTER SHARE \<share_name\> ADD|REMOVE ACCOUNTS=\<orgname.accountname1\>,\<orgname.accountname2\>
- [ ] SHOW SHARES
- [ ] DROP SHARE

[2021-12-13 08:34] BohuTANG opened #3431 "Github engine support options"
**Summary**

[code]

discussions: [proposal: github engine support options](https://github.com/datafuselabs/databend/discussions/3421)

[2021-12-13 08:34] ZhiHanZ commented on #3430
I think share could be so

[2021-12-13 08:38] Junnplus commented on #3431
/assignme

[2021-12-13 08:43] drmingdrmer opened #3432 "[metasrv] add pool of persistent connections."
**Summary**

A `connect()` takes several dozens of milliseconds, which reduces raft performance a lot.

The raft `Network` impl should keeps the connected channel to each node.
So that an RPC such as vote or append entry reuse the connection:

https://github.com/datafuselabs/databend/blob/c5b0a4cb83c23d14cb71b67586db97ee5f12903a/metasrv/src/meta_service/network.rs#L37-L54

According to the tonic d

[2021-12-13 09:09] ZhiHanZ commented on #3428
I think for test checklist, refactor build system could be done in nightly 0.7 including
1. test framework(https://github.com/datafuselabs/databend/issues/2647)
2. remove unneeded scripts, python, mysql client etc (https://github.com/datafuselabs/databend/discussions/3419)

[2021-12-13 09:17] Xuanwo opened #3434 "dal: Support gcs"
**Summary**

Add gcs support for DAL.

[2021-12-13 09:20] Xuanwo opened #3435 "dal: Add integration tests target on production services"
**Summary**

Add integration tests that target production services.

- s3
- fs
- azblob

[2021-12-13 09:21] Xuanwo opened #3436 "dal: Refactor to make it easier for contributors to add new storage type"
**Summary**

Refactor `dal` to make it easier for contributors to add new storage type.

Proposal: https://github.com/datafuselabs/databend/discussions/3662

[2021-12-13 09:21] Xuanwo commented on #3428
I'm interested to do some refactoring on dal, so that we can:

- https://github.com/datafuselabs/databend/issues/3436
- https://github.com/datafuselabs/databend/issues/3434
- https://github.com/datafuselabs/databend/issues/3435

[2021-12-13 09:23] ZhiHanZ commented on #3435
we could add them into test framework as well~

[2021-12-13 09:25] Xuanwo commented on #3435
I think there are two parts:

- Integration tests to make sure dal works correctly.
- Integration tests for the whole services.

[2021-12-13 09:28] PsiACE opened #3437 "query server: async-await mysql-srv"
**Summary**

- [x] make mysql-srv async https://github.com/datafuse-extras/msql-srv/pull/18
- [ ] apply to query servers https://github.com/datafuselabs/databend/issues/3939

[2021-12-13 09:29] PsiACE commented on #3437
/assignme

[2021-12-13 09:31] #2740 closed

[2021-12-13 09:31] Veeupup commented on #3436
@Xuanwo I'm now working with `dal`, maybe you can check this draft pr #3433

[2021-12-13 09:32] ZhiHanZ commented on #3435
For the second one, we should add operator into integration test blueprint which was discussed in
https://github.com/datafuselabs/databend/issues/1773
and there has something left for platform specific tasks which should also get tested in platform managed kubernetes such as iam role and access token refresh part for DAL access

[2021-12-13 09:33] PsiACE opened #3438 "refactor: common/clickhouse-srv"
**Summary**

- [ ] move clickhouse-rs into common
- [ ] integrate, extract the common part as clickhouse-common

[2021-12-13 09:34] Xuanwo commented on #3436
/assignme

[2021-12-13 09:34] PsiACE commented on #3438
/assignme

[2021-12-13 09:38] BohuTANG opened #3439 "`append columns` constraint check"
**Summary**

After #3400 checked in, we should document(or add the constraint check) the append columns.

Reference:

https://dev.mysql.com/doc/refman/8.0/en/create-table-select.html
[code]

[2021-12-13 09:39] lianghanzhen opened #3440 "Support user defined functions"
**Summary**

Currently we need to write different implementation for invertible functions, for example, `isnull` & `isnotnull`. Can we create kind of function alias to avoid that? For `isnotnull`, we can have `isnotnull = not(isnull($1))`, when we parse the expression `isnotnull`, it can be rewrited as `not(isnull($1))`.

[2021-12-13 10:45] #2457 closed

[2021-12-13 11:00] BohuTANG opened #3444 "Show Metric API server router in log"
**Summary**

Now:
2021-12-13T10:58:33.961118Z  INFO databend_query: Metric API server listening on 127.0.0.1:7070

Expect:
2021-12-13T10:58:33.961118Z  INFO databend_query: Metric API server listening on 127.0.0.1:7070/metrics

Related cocde snippets:
https://github.com/datafuselabs/databend/blob/1f29cfc22a0f192c93cb61da7aff613b2543e86a/query/src/bin/databend-query.rs#L129

[2021-12-13 13:23] sticnarf commented on #3423
I think it's the most trouble-free solution to statically link OpenSSL in case different users can have different versions of OpenSSL installed in their system.

[2021-12-13 14:52] jyz0309 commented on #3444
/assignme

[2021-12-14 00:48] BohuTANG commented on #3416
https://github.com/datafuselabs/databend/runs/4513899687?check_suite_focus=true

[code]

[2021-12-14 00:57] sundy-li commented on #3440
Yes, it is an easy task.

We can register `isnotnull`function in function factory with wrapper `not ( isnull (args) )`

[2021-12-14 01:00] sundy-li commented on #3440
Let's make it more common way.

[code]

[2021-12-14 02:12] Xuanwo commented on #3382
/assignme

[2021-12-14 02:27] Xuanwo opened #3453 "Tracking issue of CI Refactor"
This is the tracking issue of CI Refactor

Proposal: https://github.com/datafuselabs/databend/discussions/3415

## Checklist

- [x] https://github.com/datafuselabs/databend/pull/3344
- [x] Add docs on how our CI works and how to maintain it
- [x] Build on x86_64 looks much slower than other platform?
- [ ] https://github.com/datafuselabs/databend/issues/3611

[2021-12-14 02:37] Xuanwo opened #3454 "docs: Add category index instead of an empty introduction"
![image](https://user-images.githubusercontent.com/5351546/145922868-4142382f-94cc-4de2-aa04-9ed98a769e72.png)

Maybe we can use a style like Docusaurus:

![image](https://user-images.githubusercontent.com/5351546/145922953-e651f246-7ffc-4c95-a68e-d879388eff60.png)

Reference: https://github.com/facebook/docusaurus/blob/main/website/sidebars.js#L29-L36

[2021-12-14 02:40] BohuTANG opened #3455 "Improve menus for new databend.rs website"
**Summary**

1. menu improvement

[2021-12-14 02:40] dantengsky commented on #3436
hi @Xuanwo

There are some other feature requirements, maybe they could be taken into account together:

- **A factory, which can build instances of concrete DataAccessors, given `uri` and `credentials`**

   _uri_ is sth like `s3://load/files/` or `azure://myaccount.blob.core.windows.net/mycontainer/files/`

   _credentials_ is sth like

     `(aws_key_id='1a2b3c' aws_secret_key='4x5y6z')`

[2021-12-14 02:42] dantengsky commented on #3436
@sundy-li  please correct me, if I misunderstood the requirements of "create stage"

[2021-12-14 02:46] Xuanwo commented on #3436
Makes sense, It's indeed in my plan.

I'm afraid `region` is a required value for s3 to init the service, although there are some tricks for it.

[2021-12-14 02:51] Xuanwo commented on #3436
For `uri` and `credentials`, I plan to support something called `connection string` like:

`s3://s3.amazonaws.com/bucket_name/path/to/file?access_key_id=xxxx&secret_access_key=yyyy&storage_class=STANDARD_IA`

What do you think?

[2021-12-14 03:00] BohuTANG commented on #3049
Closed by #3448

[2021-12-14 03:00] #3049 closed

[2021-12-14 03:03] dantengsky commented on #3436
yes, it is.

After discussing with @sundy-li, and browsing the relevant docs of snowflake, I think

- it is reasonable/convenient for the end-user to omit the region, while specifying the location of s3 resources
- I _guess_, snowflake uses the `GetBucketLocation` API to resolve the region.
 according to this: https://docs.snowflake.com/en/user-guide/data-load-s3-config-storage-integration.html, `

[2021-12-14 03:11] Xuanwo commented on #3436
Yes, I agree with this conclusion.

There is something I need to clarify here.

It's different to connect to s3 **service** and **bucket**.

- To init a service, we don't need `region`, and we can get bucket's region from `ListBuckets` API.
- To init a bucket, `region` is required.

It looks like we can connect to a service and allow users to choose a bucket so that we can automate all other works

[2021-12-14 03:18] sundy-li commented on #3436
We can call `GetBucketLocation` to initial the region in `Stage create/update` command.

[2021-12-14 03:24] dantengsky commented on #3436
agree

[2021-12-14 03:26] eastfisher commented on #3028
In MySQL, FORMAT() is defined as `FORMAT(X,D[,locale])`.

https://dev.mysql.com/doc/refman/8.0/en/string-functions.html#function_format

If no locale is specified, the default is 'en_US' (in fact, it is related to variable @@lc_time_names).

https://dev.mysql.com/doc/refman/8.0/en/locale-support.html

So the questions are:

1. Should we add variable @@lc_time_names first?
2. Should we support all

[2021-12-14 03:42] #3320 closed

[2021-12-14 03:51] sundy-li commented on #3028
Let's use `en_US` by default.

And support:
1. `FORMAT(X,D)`
2. `FORMAT(X,D, locale)`

[2021-12-14 03:51] drmingdrmer commented on #3416
Got it...
But this is another issue

[2021-12-14 03:55] sundy-li commented on #3028
Just support `en_US` & `zh_CN`, both are commonly used.